/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.Root
{
	width: 100%;
	height: 100%;
}

#dialog
{
	width: 520px;
	height: 220px;
	margin-top: 220px;
	horizontal-align: center;
	flow-children: down;
	padding: 20px;
	background-color: #000000ee;
	border: 1px solid gold;
	font-size: 30px;
	color: white;
	transition-property: opacity;
	transition-duration: .1s;
	opacity: 1;
}

#dialog.Dismissed
{
	opacity: 0;
}

.Body
{
	text-align: center;
}

#dismiss_button
{
	horizontal-align: center;
	border-radius: 4px;
	padding: 8px 15px;
	margin-top: 20px;
	transition-property: background-color;
	transition-duration: .1s;
	background-color: #000000bb;
}

#dismiss_button:hover
{
	background-color: #777777bb;
}

