/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.inv-notification
{
	max-width: 512px;
	background-color: contextMenuBackground;
	vertical-align: Bottom;
	margin: 0px 0px 64px 64px;
	box-shadow: shadowOffset;
	opacity: 0;
	visibility: collapse;
	ignore-parent-flow: true;
}

.inv-notification-text
{
	padding: 32px;
}

.inv-notification.show
{
	visibility: visible;
	animation-name: NotificationShowHide;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'NotificationShowHide'
{
	0%
	{
		transform: translateY( 100% );
		opacity: 0;
	}
	
	15%
	{
		transform: translateY( 0% );
		opacity: 1;
	}
	
	90%
	{
		transform: translateY( 0% );
		opacity: 1;
	}
	
	100%
	{
		transform: translateY( 100% );
		opacity: 0;
	}
	
}

