/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.estt-root
{
	background-color: #ffffff05;
}

.estt-root.estt-simple
{
	width: 200px;
	background-color: #00000000;
}

.estt-header
{
	border-bottom: 1px solid #ffffff30;
	width:100%;
	height: 150px;
	horizontal-align: center;
	text-align: center;
}

.estt-simple .estt-header
{
	height: 50px;
}

.estt-header__team-logo
{
	vertical-align: center;
	horizontal-align: left;
	width: 100px;
	position: 60px 0px 0px;
}

.img-shadow
{
	img-shadow: 2px 2px 2px #000000;
}

.estt-header__team-name
{
	font-size: 26px;
	font-weight: medium;
	vertical-align: center;
	text-shadow: 2px 2px 2px #000000;
	horizontal-align: center;
}

.estt-simple .estt-header__team-name
{
	font-size: 18px;
}

.estt-player
{
	padding-top: 5px;
	margin: 5px;
}

.estt-simple .estt-player
{
	padding-left: 20px;
}

.estt-player__name
{
	margin: 6px 0px 0px 0px;
	horizontal-align:center;
	font-size: 16px;
	font-weight: bold;
	text-overflow: shrink;
	max-width: 100px;
}

.estt-player__photo
{
	width: 100px;
	height: width-percentage( 100% );
	box-shadow: -1px 1px 3px 0px #000;
}

.estt-blurbackground
{
	background-color:backgroundGradient;
	blur:gaussian( 2, 2, 6 );
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

