/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.tooltip-limited-variation
{
	min-width: 80px;
	max-width: 512px;
	flow-children: down;
	padding: 0px;
	background-image: url("s2r://panorama/images/backgrounds/xpshop/set_xpshop_wpn_01_thumbnail_png.vtex");
	background-size: auto auto;
	background-img-opacity: .3;
}

.tooltip-limited-variation .tooltip-limited__image
{
	width: 100%;
}

.tooltip-limited-variation .tooltip-limited__text
{
	padding: 12px 18px;
}

#Contents.tooltip-limited-variation
{
	padding: 0px;
}

