/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.tooltip-inventory-item
{
	min-width: 90px;
	max-width: 400px;
	flow-children: down;
}

.collection-logo
{
	padding-right: 5px;
	width:56px;
	height:56px;
	visibility:collapse;
}

.tooltip-inventory-item__has-set .collection-logo
{
	visibility:visible;
}

.collection-label
{
	font-weight: normal;
	font-size: 14px;
	visibility:collapse;
}

.tooltip-inventory-item__has-set .collection-label
{
	visibility:visible;
}

.NameCollection
{
	flow-children: down;
	vertical-align: middle;
}

.name-label
{
	max-width:368px;
	font-weight: bold;
	font-size: 14px;
}

.tooltip-inventory-item__has-set .name-label
{
	max-width:307px;
}

.InfoBlock
{
	flow-children: right;
	padding: 10px;
}

.separator-top
{
	width:100%;
	border-top: 1px solid #25282b;
	margin-top: 10px;
}

.separator-bottom
{
	width:100%;
	border-top: 1px solid #25282b;
	margin-bottom: 10px;
}

.ingame-cost
{
	font-size: 14px;
	height: 22px;
	font-weight: medium;
	padding-right: 10px;
	color: lightgreen;
}

.rarity-header,.grade-header,.team-header
{
	font-size: 14px;
	height: 22px;
	padding-right: 10px;
	color: #7c7c7c;
}

.rarity-label,.grade-label,.team-label
{
	font-size: 14px;
	height: 22px;
	text-overflow:shrink;
}

.rarity-header,.grade-header,.team-header,.rarity-label,.grade-label,.team-container,.team-logo__ct,.team-logo__t
{
	visibility:collapse;
}

.tooltip-inventory-item__has-rarity .rarity-header,.tooltip-inventory-item__has-rarity .rarity-label
{
	visibility:visible;
}

.tooltip-inventory-item__has-grade .grade-header,.tooltip-inventory-item__has-grade .grade-label
{
	visibility:visible;
}

.tooltip-inventory-item__has-team .team-header,.tooltip-inventory-item__has-team .team-container
{
	visibility:visible;
}

.tooltip-inventory-item__team-ct .team-logo__ct
{
	visibility:visible;
}

.tooltip-inventory-item__team-t .team-logo__t
{
	visibility:visible;
}

.team-logo
{
	padding-right: 5px;
}

.desc-text
{
	font-size: 14px;
	padding-top: 6px;
}

.tooltip-inventory-item__rarity-0 .rarity-label
{
	color: color-rarity-0;
}

.tooltip-inventory-item__rarity-1 .rarity-label
{
	color: color-rarity-1;
}

.tooltip-inventory-item__rarity-2 .rarity-label
{
	color: color-rarity-2;
}

.tooltip-inventory-item__rarity-3 .rarity-label
{
	color: color-rarity-3;
}

.tooltip-inventory-item__rarity-4 .rarity-label
{
	color: color-rarity-4;
}

.tooltip-inventory-item__rarity-5 .rarity-label
{
	color: color-rarity-5;
}

.tooltip-inventory-item__rarity-6 .rarity-label
{
	color: color-rarity-6;
}

.tooltip-inventory-item__rarity-7 .rarity-label
{
	color: color-rarity-7;
}

.tooltip-inventory-item__rarity-99 .rarity-label
{
	color: color-rarity-99;
}

