/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.TestContents
{
	min-width: 80px;
	max-width: 350px;
	flow-children: down;
}

#Contents
{
	padding:0px;
}

CSGOTooltipManager #Contents
{
	padding:6px;
	background-color: none;
	box-shadow: none;
	border-radius: 0px;
	margin: 0px;
}

#id-tooltip-premier-rating
{
	box-shadow: #03101d75 1px 1px 12px 0px;
	visibility: collapse;
	height: 0px;
}

#id-tooltip-premier-rating.show
{
	visibility: visible;
	height: 30px;
}

