/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.tooltip-mission
{
	min-width: 400px;
	max-width: 400px;
	opacity: 0;
	flow-children: down;
}

.show.tooltip-mission
{
	opacity: 1;
}

.tooltip-mission-list
{
	flow-children: down;
	width: 100%;
}

.tooltip-mission-checkbox-container
{
	flow-children: right;
	margin: 2px 0px;
}

.tooltip-mission-connector,.tooltip-mission-text,.tooltip-mission-checkbox
{
	wash-color: rgb(148, 148, 148);
}

.complete .tooltip-mission-connector,.complete .tooltip-mission-text,.complete .tooltip-mission-checkbox
{
	wash-color: opCompleteColor;
}

.uncommitted .tooltip-mission-connector,.uncommitted .tooltip-mission-text,.uncommitted .tooltip-mission-checkbox
{
	wash-color: opIncompleteColor;
}

.tooltip-mission-checkbox
{
	width: 18px;
	height: 18px;
	border-radius: 2px;
	border: 1px solid white;
	margin-right: 12px;
	vertical-align: center;
}

.tooltip-mission-connector
{
	height: 20px;
	width: 6px;
	margin-left: 6px;
	background-color: white;
}

.hide-connector .tooltip-mission-connector
{
	visibility: collapse;
}

.complete .tooltip-mission-checkbox,.uncommitted .tooltip-mission-checkbox
{
	background-image: url("s2r://panorama/images/icons/ui/checkbox.vsvg");
	background-size: 100% 100%;
}

.tooltip-mission-text,.tooltip-mission-desc,.tooltip-mission-title
{
	color: white;
	font-family: notosans, 'Arial Unicode MS';
	font-size: 16px;
	width: 380px;
}

.tooltip-mission-desc,.tooltip-mission-title
{
	font-size: 14px;
}

.tooltip-mission-title
{
	font-weight: bold;
}

