/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.TitleTextContents
{
	width: 350px;
	flow-children: down;
}

#TitleLabel
{
	font-size: 18px;
	color: white;
	font-weight: bold;
}

#TextLabel
{
	font-size: 14px;
	color: #bbbbbb;
}

#TextPercentage
{
	font-size: 12px;
	color: #bbbbbb;
	margin-right: 4px;
	vertical-align: center;
}

.tooltip-progress-bar
{
	vertical-align: center;
	width: 100%;
	height: fit-children;
	box-shadow: shadowOffset;
}

.tooltip-progress-bar__bar
{
	background-color: #062f46;
	height: 8px;
	width: 100%;
}

.tooltip-progress-bar__bar--inner
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from ( #0A5A84 ), to( #5DC6FF ));
	width: 50%;
	height: 100%;
}

