/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.tooltip-sb-casualties
{
	flow-children: none;
	background-color: #00000000;
}

.tooltip-txt-default
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 12px;
	color: #fff;
	vertical-align: middle;
	opacity: 0.5;
}

.TooltipContainer.RightArrowVisible #Contents
{
	min-height: 200px;
}

#Contents
{
	background-color: #00000000;
	padding: 0px;
	box-shadow: none;
}

#TextLabel--CT
{
	vertical-align: middle;
	margin-bottom: 65px;
	wash-color: color-CT;
}

#TextLabel--T
{
	vertical-align: middle;
	margin-top: 65px;
	wash-color: color-T;
}

#id-tooltip-sb-casualties #RightArrow
{
	visibility: collapse;
}

