/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.tooltip-player-xp
{
	flow-children: down;
	max-width: 400px;
	padding: 16px;
}

.Language_thai .tooltip-player-xp
{
	max-width: 560px;
}

.tooltip-player-xp--matchmaking
{
	width: 300px;
}

.tooltip-player-xp__title
{
	font-size: 18px;
	max-width: 300px;
	color: white;
	margin-bottom: 4px;
}

.tooltip-player-xp__title--magrin-bottom
{
	margin-bottom: 16px;
}

.tooltip-player-xp__title--small
{
	color: white;
	opacity: 1;
	font-size: 14px;
	margin-bottom: 4px;
}

.tooltip-player-xp__title--warning
{
	color: warningColor;
}

.tooltip-player-xp__subtitle
{
	font-size: 14px;
	color: rgb(148, 148, 148);
	opacity: 1;
	vertical-align: center;
}

.tooltip-player__comp-warning
{
	font-size: 14px;
	opacity: 1;
	vertical-align: center;
	padding: 4px;
	margin-top: 16px;
	padding-top: 16px;
	border-radius: 2px;
	border-top: 1px solid rgb(71, 71, 71);
	background-repeat: no-repeat;
	background-size: 35% auto;
	background-position: 50% 50%;
	background-img-opacity: 0.05;
	background-image: url("s2r://panorama/images/icons/ui/warning.vsvg");
}

.tooltip-player-setting
{
	margin:4px 0px 4px 0px;
	flow-children: right;
}

.tooltip-player-setting__image
{
	margin-right: 8px;
	height: 16px;
	width: 16px;
}

.tooltip-player-setting__image.tint
{
	wash-color: baseText;
}

.tooltip-player-setting__image.warning
{
	wash-color: warningColor;
	height: 24px;
	width: 24px;
}

.tooltip-player-xp__section
{
	visibility: visible;
	flow-children: down;
	margin-bottom: 16px;
}

.tooltip-player-xp__section-matchmaking
{
	visibility: visible;
	flow-children: down;
	margin-bottom: 16px;
	height: 180px;
	transition-property: height, width;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.tooltip-player-xp__section-bottom
{
	margin-bottom: 0px;
}

.tooltip-player-xp-bonuses
{
	flow-children: down;
}

.tooltip-player-xp__seperator
{
	height: 1px;
	width:100%;
	opacity: .5;
	background-color: rgb(71, 71, 71);
	horizontal-align: center;
	margin-bottom: 16px;
}

.tooltip-player-xp__seperator--margintop
{
	margin-top: 16px;
	margin-bottom: 0px;
}

.tooltip-player-xp__section.hidden,.tooltip-player-setting.hidden,.tooltip-player-xp__title.hidden,.tooltip-player__comp-warning.hidden
{
	visibility: collapse;
	height: 0px;
	transition-property: height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.tooltip-player-xp__section-matchmaking.hidden
{
	visibility: visible;
	height: 0px;
	margin-bottom: 0px;
	transition-property: height, width;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

