/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.debug-tester-controls Button
{
	background-color:#4040c0ff;
	padding:1px;
	border:1px solid white;
	margin-right:5px;
}

.debug-tester-control-arguments
{
	flow-children:right;
}

.debug-tester-control-arguments TextEntry
{
	width: 150px;
}

.debug-tester--square
{
	width:100%;
	height:100%;
	flow-children:right;
}

.debug-tester--square .debug-tester-panelholder
{
	width:1020px;
	height:100%;
	border:1px solid black;
}

.debug-tester--square .debug-tester-controls
{
	width:680px;
}

.debug-tester--square .debug-tester-controls-list
{
	flow-children:down;
}

.debug-tester--wide
{
	width:100%;
	height:100%;
	flow-children:down;
}

.debug-tester--wide .debug-tester-controls
{
	height:30%;
}

.debug-tester--wide .debug-tester-panelholder
{
	width:100%;
	height:70%;
	border:1px solid black;
}

.debug-tester--wide .debug-tester-controls-list
{
	flow-children:right-wrap;
}

.debug-tester--wide .debug-tester-control-arguments
{
	margin-right:10px;
}

.debug-tester--max
{
	width:100%;
	height:100%;
	flow-children:down;
}

.debug-tester--max .debug-tester-controls
{
	height:3%;
}

.debug-tester--max .debug-tester-panelholder
{
	width:100%;
	height:97%;
	border:1px solid black;
}

.debug-tester--max .debug-tester-controls-list
{
	flow-children:right-wrap;
}

.debug-tester--max .debug-tester-control-arguments
{
	margin-right:10px;
}

#SteamInputAPITests
{
	width: fit-children;
	height:fit-children;
	flow-children: right;
}

TextButton
{
	margin: 0px 32px 0px 0px;
	width: fit-children;
	height: 30px;
	horizontal-align: center;
	vertical-align: middle;
	tooltip-position: bottom;
	color: black;
	background-color: #00ffffff;
	flow-children: right;
	border: 2px solid black;
}

TextButton Label
{
	horizontal-align: center;
	color: black;
}

.flowdown
{
	background-color: #000000AA;
	margin: 10px;
	border: 10px;
	width: fit-children;
	height:fit-children;
	flow-children: down;
}

