/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

CSGOHud,#PopupManager,#ItemPreviewDebugManager,#TooltipManager,#ContextMenuManager,#HudInstructor
{
	width: 100%;
	height: 100%;
}

#HudElemBlur
{
	visibility: collapse;
	width: 100%;
	height: 100%;
	blur: gaussian( 3, 3, 3 );
	visibility: visible;
}

.HudBlur
{
	width: 100%;
	height: 100%;
	blur: mipmapgaussian( 2, 2, 4 );
}

.HudBlurLess
{
	width: 100%;
	height: 100%;
	blur: mipmapgaussian( 1, 1, 3 );
}

#HudTopLeft
{
	width: 100%;
	height: 100%;
	horizontal-align: left;
	vertical-align: top;
	flow-children: down;
}

#HudTopCenter
{
	horizontal-align: center;
	vertical-align: top;
	opacity: 1.0;
	margin-top: 2px;
	flow-children: down;
	width: 100%;
	height: 100%;
}

#HudBottomCenter
{
	horizontal-align: center;
	vertical-align: bottom;
	width: 100%;
	height: 100%;
	opacity: 1.0;
	margin-bottom: 2px;
	flow-children: up;
}

.HudBottomCenter--float
{
	ignore-parent-flow: true;
	vertical-align: bottom;
	horizontal-align:center;
	y: -150px;
	height: 300px;
}

#HudBottomGradient
{
	background-color: gradient( linear, 0% 100%, 0% 50%, from( rgba(0,0,0,0.8) ), to( rgba(0,0,0,0) ) );
	width: 100%;
	height: 600px;
	vertical-align:bottom;
	opacity: 1;
}

#HudLowerLeft
{
	horizontal-align: left;
	vertical-align: bottom;
}

#HudTimerPanel Label
{
	color: white;
	horizontal-align: center;
	font-size: 26px;
	font-weight: bold;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#HudTimerPanel Label.TimerAlert
{
	color: red;
}

#HudTopRight
{
	horizontal-align: right;
	vertical-align: top;
	flow-children: down;
}

#HudCenter
{
	width: 100%;
	height: 100%;
	margin-top: 100px;
	horizontal-align: center;
	vertical-align: top;
	flow-children: down;
}

#HudRadio
{
	position: 0px 460px 0px;
}

#HudBottomRight
{
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: down;
	height:100%;
	width:100%;
}

#HudWeaponPanel
{
	horizontal-align: right;
	vertical-align: bottom;
}

#HudWeaponSelection
{
	horizontal-align: right;
	vertical-align: bottom;
}

#HudInWorld,#HudDamageIndicator,#HudReticle
{
	width: 100%;
	height: 100%;
}

#HudTeamCounter
{
	width: 100%;
	horizontal-align: center;
	opacity: 1.0;
	margin-top: 2px;
	flow-children: down;
}

#HudVote
{
	horizontal-align: left;
	vertical-align: center;
}

CSGOScoreboard
{
	world-blur: hudWorldBlur;
}

.HUD--localplayer--spectator .WinPanelRoot--Win-T .WinPanelRow__BG__Glitch,.HUD--localplayer--spectator .WinPanelRoot--Win-T .WinPanelRow__BG__Dots
{
	wash-color: t-color;
}

