/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.hidden
{
	visibility: collapse;
}

.auto-disconnect
{
	width: fit-children;
	height: fit-children;
	horizontal-align: right;
	vertical-align: top;
	margin-right: 10px;
}

.auto-disconnect-container
{
	flow-children: down;
	background-color: contentPanelBackground;
	padding: 16px;
}

.auto-disconnect-container Label
{
	wash-color: red;
}

.auto-disconnect-container Image
{
	wash-color: red;
}

.auto-disconnect_top-label
{
	text-align: center;
	padding: 4px;
	font-size: 32px;
}

.bottom-container
{
	horizontal-align: center;
	flow-children: right;
}

.bottom-container Image
{
	vertical-align: center;
}

.auto-disconnect_bottom-label
{
	text-align: center;
	padding: 4px;
	font-size: 28px;
}

