/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

CSGOHudAlerts
{
	width: alert-width;
	transform: scale3d(0, 1, 1);
	horizontal-align: center;
	background-color: white;
	world-blur: hudWorldBlur;
	opacity: 1.0;
	border-radius: 3px;
	margin: 0px 0px;
	transition-delay: .0s, 0s, 0s, .25s;
	transition-property: opacity, transform, height, background-color;
	transition-duration: .1s, .25s, .25s, .25s;
	transition-timing-function: ease-in;
	y: 120px;
}

CSGOHudAlerts .alert-bar-side
{
	width: 2px;
	height: 100%;
	background-color: white;
}

CSGOHudAlerts .alert-bar-glitch
{
	width: 100%;
	height: 100%;
	opacity: .25;
	background-size: auto auto;
	background-image: url("file://{resources}/videos/digital_glitch.webm");
	transition-property: opacity, blur;
	transition-delay: .50s;
	transition-duration: .2s;
	transition-timing-function: ease-in;
}

CSGOHudAlerts .alert-bar-bg
{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.0);
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: .04;
	opacity: 0;
	transition-delay: .25s;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in;
}

CSGOHudAlerts #AlertText
{
	width: 400px;
	text-align: center;
	padding: 8px 24px;
	vertical-align: center;
	horizontal-align: center;
	color: white;
	text-shadow: 1px 1px 1px 2 #000000d2;
	transform: translateY(0px);
	font-size: 18px;
	opacity: 1;
	transition-property: opacity, width;
	transition-duration: .25s;
	transition-timing-function: ease-in;
}

CSGOHudAlerts.AlertHidden
{
	opacity: 1.0;
	transform: scale3d(0, 1, 1);
}

CSGOHudAlerts.AlertHidden .alert-bar-glitch
{
	visibility: collapse;
}

CSGOHudAlerts.AlertHidden #AlertText
{
	opacity: 0;
	transition-property: opacity, width;
	transition-duration: .25s;
	transition-timing-function: ease-in;
}

CSGOHudAlerts.AlertVisible,CSGOHudAlerts.FlashAnim
{
	transform: scale3d(1, 1, 1);
	opacity: 1.0;
	background-color: rgba(255, 255, 255, 0);
	transition-delay: .25s, .25s, .25s, 0s;
	transition-property: opacity, transform, height, background-color;
	transition-duration: .25s, .25s, .25s, .15s;
	transition-timing-function: ease-in;
}

CSGOHudAlerts.AlertVisible .alert-bar-bg,CSGOHudAlerts.FlashAnim .alert-bar-bg
{
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 1;
	transition-property: background-color;
	transition-duration: .0s;
	transition-timing-function: ease-in;
}

CSGOHudAlerts.AlertVisible .alert-bar-glitch,CSGOHudAlerts.FlashAnim .alert-bar-glitch
{
	opacity: 0;
}

CSGOHudAlerts.AlertVisible #AlertText,CSGOHudAlerts.FlashAnim #AlertText
{
	opacity: 1;
	transition-property: opacity, width;
	transition-duration: .25s;
	transition-timing-function: ease-in;
}

.Language_vietnamese #AlertText
{
	font-family: 'Noto Mono', 'Arial Unicode MS';
}

.MatchStartAlert
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: medium;
}

.MatchAlertTimer
{
	font-family: Stratum2 Bold Monodigit, "Arial Unicode MS";
}

.ReplayAlert
{
	color: #c9c9c9;
}

CSGOHudAlerts.HideFlash
{
	opacity: 0.0;
	animation-name: HideFlash;
	animation-duration: 1.0s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes 'HideFlash'
{
	0%
	{
		opacity: 0.65;
		wash-color: none;
	}
	
	21%
	{
		opacity: 1.0;
		wash-color: #FFFFFFE6;
	}
	
	42%
	{
		opacity: 0.65;
		wash-color: none;
	}
	
	100%
	{
		opacity:0.0;
		wash-color: none;
	}
	
}

CSGOHudAlerts.FlashAnim
{
	transform: scale3d(1, 1, 1);
	background-color: rgba(255, 255, 255, 0);
	animation-name: FlashAnim;
	animation-duration: 3.7s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes 'FlashAnim'
{
	0%
	{
		opacity: 0.0;
		wash-color: none;
	}
	
	3%
	{
		opacity: 0.85;
		wash-color: #FFFFFF;
	}
	
	6%
	{
		opacity: 0.85;
		wash-color: none;
	}
	
	14%
	{
		opacity: 0.8;
		wash-color: none;
	}
	
	57%
	{
		opacity: 0.65;
		wash-color: none;
	}
	
	86%
	{
		opacity: 0.65;
		wash-color: none;
	}
	
	89%
	{
		opacity: 1.0;
		wash-color: #FFFFFFE6;
	}
	
	92%
	{
		opacity: 0.65;
		wash-color: none;
	}
	
	100%
	{
		opacity:0.0;
		wash-color: none;
	}
	
}

