/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define selectedTextBackgroundColor: #3281ac40;
CSGOHudChat
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

#ChatContainer
{
	padding-right: 10px;
	padding-left: 10px;
	vertical-align: bottom;
	padding-bottom: 72px;
	flow-children: down;
}

.EndOfMatchChat > #ChatContainer
{
	padding-bottom: 350px;
}

.WindowRoot_TripleMonitor .EndOfMatchChat > #ChatContainer
{
	horizontal-align: center;
	width: 33%;
}

.ChatLabelClass
{
	background-color: black;
	opacity: 0.75;
}

.ChatBG
{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.75;
}

#ChatFG
{
	flow-children: down;
	width: 553px;
	margin: 8px;
}

#ChatHistory
{
	width: 100%;
	height: 327px;
}

#ChatHistoryText
{
	width: 100%;
	height: 100%;
	padding: 10px;
	vertical-align: bottom;
	font-size: 18px;
	letter-spacing: 0px;
	background-color: #00000099;
}

#ChatTextEntry
{
	width: 100%;
	height: 48px;
	margin-top: 8px;
}

#ChatTextEntry Label,#ChatTextEntry TextEntry
{
	font-family: Stratum2 Light, 'Arial Unicode MS';
}

.ChatTextBG
{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.75;
}

#ChatTextEntryFG
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

#ChatTextEntryBox
{
	width: 450px;
	height: 36px;
	margin-left: 15px;
	border: 0px;
	padding-left: 0px;
	vertical-align: middle;
	font-size: 20px;
	letter-spacing: 0px;
	color: white;
}

#ChatTextEntryBox:focus
{
	box-shadow: none;
}

#ChatTextEntryBox #PlaceholderText
{
	font-size: 20px;
	opacity: 1.0;
	color: darkgrey;
	letter-spacing: 0px;
}

#ChatTextEntryBox.HasInput #PlaceholderText
{
	opacity: 0.0;
}

#ChatSendButton
{
	width: 75px;
	vertical-align: middle;
}

#ChatSendButton Label
{
	font-family: Stratum2;
	font-size: 22px;
	font-weight: medium;
	letter-spacing: 0px;
	text-transform: uppercase;
	color: grey;
	horizontal-align: middle;
	text-align: left;
	transition-property: color;
	transition-duration: 0.2s;
}

#ChatSendButton:enabled Label
{
	font-weight: bold;
	color: #A0A0A0;
}

#ChatSendButton:enabled:hover Label
{
	color: white;
}

#GotvPanel
{
	horizontal-align: right;
	visibility: collapse;
}

#GotvPanel.Gotv
{
	visibility: visible;
}

#GotvToggle
{
	width: 240px;
	height: 33px;
	margin: 0px;
}

#GotvToggle Label
{
	font-size: 17px;
	text-transform: none;
	letter-spacing: 0px;
	margin: 7px;
	margin-top: 4px;
}

#GotvToggle .TickBox
{
	width: 20px;
	height: 20px;
	background-size: 100% 100%;
}

