/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CSGOHudDemoController
{
	width: 100%;
	height: 100%;
	flow-children: none;
}

#Root
{
	width: 100%;
	height: fit-children;
	flow-children: down;
	vertical-align: bottom;
}

#Contents
{
	width: 100%;
	height: 0px;
	flow-children: down;
	box-shadow: black 0px 0px 2px 0px;
	background-color: hud-blur-bg-color;
	world-blur: hudWorldBlur;
	transition-property: height;
	transition-duration: .1s;
	transition-timing-function: ease-out;
	overflow: noclip;
}

.DemoControllerFull #Contents
{
	height: 90px;
}

.DemoControllerMinimal #Contents
{
	height: 45px;
}

#SliderRow
{
	margin-bottom: -6px;
	width: 100%;
	height: 50px;
	flow-children: none;
}

#Slider
{
	margin: 0px 10px;
	width: 100%;
	height: 100%;
	position: 0px 10px 0px;
}

#Slider #SliderThumb
{
	height: 16px;
	background-color: white;
}

#Slider #SliderTrackProgress
{
	visibility: collapse;
}

.highlightsActive #SliderTrack Panel
{
	opacity: 0;
}

#RoundMarkers
{
	margin: 0px 10px;
	width: 100%;
	height: 100%;
	vertical-align: center;
}

#RoundMarkers .roundMarker
{
	height: 8px;
	margin-top: 30px;
}

#RoundMarkers .roundMarker.odd
{
	background-color: #ffffff20;
}

#RoundMarkers .roundMarker.even
{
	background-color: #ffffff50;
}

.highlightsActive #RoundMarkers Panel
{
	opacity: 0.2;
}

#HighlightMarkers
{
	margin: 0px 10px;
	width: 100%;
	height: 100%;
	vertical-align: center;
}

#HighlightMarkers Panel
{
	height: 8px;
	margin-top: 30px;
	background-color: #ffffffff;
	visibility: collapse;
}

.highlightsActive #HighlightMarkers Panel
{
	visibility: visible;
}

#HighlightIcons
{
	margin: 0px 10px;
	position: 0px -10px 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#HighlightIcons .highlight-icon
{
	width: 22px;
	height: 22px;
	vertical-align: center;
	transform-origin: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	img-shadow: 1px 1px 1px 1.0 #0000003b;
	brightness: 0.8;
	transition-property: pre-transform-scale2d, transform, brightness;
	transition-duration: 0.05s;
	transition-timing-function: ease-out;
}

#HighlightIcons .highlight-icon:hover
{
	transform: translateY( -2px ) scale3d( 1.2, 1.2, 1.2 );
	z-index: 1;
	brightness: 2.0;
}

#HighlightIcons .highlight-icon.kill
{
	wash-color: #707070ff;
	background-image: url("s2r://panorama/images/icons/ui/crosshair_circle.vsvg");
}

#HighlightIcons .highlight-icon.death
{
	wash-color: #707070ff;
	background-image: url("s2r://panorama/images/icons/ui/kill.vsvg");
}

#HighlightIcons .highlight-icon.tick
{
	wash-color: #707070ff;
	background-image: url("s2r://panorama/images/icons/ui/bullet.vsvg");
}

#HighlightIcons .highlight-icon.tagged
{
	wash-color: rgb(253, 57, 57);
	background-image: url("s2r://panorama/images/icons/ui/alert.vsvg");
	brightness: 1.0;
}

#HighlightIcons .highlight-icon.tagged:hover
{
	brightness: 2.0;
}

#HighlightIcons .highlight-icon.untagged
{
	background-image: url("s2r://panorama/images/icons/ui/alert.vsvg");
	brightness: 0.4;
}

#HighlightIcons .highlight-icon.untagged:hover
{
	brightness: 1.0;
}

.highlightsActive #HighlightIcons Panel
{
	pre-transform-scale2d: 1.1;
	transform: translateY( -4px );
	transition-property: pre-transform-scale2d, transform, wash-color;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
	brightness: 4.0;
}

.highlightsActive #HighlightIcons Panel:hover
{
	transform: translateY( -6px ) scale3d( 1.2, 1.2, 1.2 );
	brightness: 6.0;
}

#ControlRow
{
	width: 100%;
	height: 41px;
	margin: 0 5px 5px 5px;
	flow-children: right;
}

.DemoControllerMinimal #ControlRow
{
	visibility: collapse;
}

#PlayButton
{
	height: 100%;
	width: 41px;
	padding: 5px 0;
	border-radius: 3px;
}

#PlayButton:hover
{
	background-color: #ffffff40;
}

#PlayButton Image
{
	width: 100%;
	height: 100%;
	transition-property: opacity;
	transition-duration: .1s;
}

#PlayIcon
{
	opacity: 0;
}

.paused #PlayIcon
{
	opacity: 1;
}

#PauseIcon
{
	opacity: 1;
}

.paused #PauseIcon
{
	opacity: 0;
}

#TimeLabel
{
	text-align: right;
	min-width: 130px;
}

#TimeControls,#RoundControls,#SpeedControls
{
	margin-left: 30px;
	height: fit-children;
	flow-children: right;
	vertical-align: center;
	border-radius: 2px;
}

#TimeControls:hover,#RoundControls:hover,#SpeedControls:hover
{
	background-color: #ffffff20;
}

#TimeControls Image,#RoundControls Image,#SpeedControls Image
{
	height: 36px;
	vertical-align: center;
	padding: 5px;
}

#TimeControls Label,#RoundControls Label,#SpeedControls Label
{
	padding: 5px;
}

#TimeControls .interactive,#RoundControls .interactive,#SpeedControls .interactive
{
	height: 36px;
}

#TimeControls .interactive:hover,#RoundControls .interactive:hover,#SpeedControls .interactive:hover
{
	background-color: #ffffff20;
}

#TimeControls #TimeIcon,#RoundControls #TimeIcon,#SpeedControls #TimeIcon
{
	padding: 2px;
}

#TimeControls #RoundPrev,#RoundControls #RoundPrev,#SpeedControls #RoundPrev
{
	transform: rotateZ( 180deg );
}

#TimeControls #RoundRestart,#RoundControls #RoundRestart,#SpeedControls #RoundRestart
{
	height: 100%;
	flow-children: right;
}

#TimeControls #RoundNumber,#RoundControls #RoundNumber,#SpeedControls #RoundNumber
{
	width: 22px;
	padding-right: 0px;
	padding-left: 0px;
}

#TimeControls #SpeedControls Label,#RoundControls #SpeedControls Label,#SpeedControls #SpeedControls Label
{
	min-width: 35px;
	text-align: center;
}

#TimeControls #SpeedIcon,#RoundControls #SpeedIcon,#SpeedControls #SpeedIcon
{
	padding: 5px 0;
}

#TimeControls Label.selected,#RoundControls Label.selected,#SpeedControls Label.selected
{
	color: white;
	font-weight: bold;
}

#HighlightsButton
{
	margin-left: 25px;
	padding: 4px;
	border-radius: 2px;
	wash-color: #a0a0a0ff;
}

#HighlightsButton:hover
{
	background-color: #ffffff40;
}

.highlightsActive #HighlightsButton
{
	wash-color: white;
}

#HotKeyLabels
{
	width: fill-parent-flow( 1.0 );
	vertical-align: bottom;
	flow-children: left;
	padding-right: 20px;
	margin-bottom: 10px;
}

#HotKeyLabels .hotkeylabel
{
	font-size: 14px;
	padding-right: 10px;
}

#HotKey_Toggle_Mouse_Cursor
{
	opacity: 0.2;
}

.mouseCamAllowed #HotKey_Toggle_Mouse_Cursor
{
	opacity: 1.0;
}

.highlightsActive #HotKey_Player_Next,.flyCamActive #HotKey_Player_Next
{
	opacity: 0.2;
}

.highlightsActive #HotKey_Next_Camera
{
	opacity: 0.2;
}

#EndPlayback
{
	horizontal-align: right;
	vertical-align: center;
	padding: 5px;
	margin-right: 10px;
	background-color: #ffffff08;
	border-radius: 2px;
	height: 36px;
}

#EndPlayback:hover
{
	background-color: #ffffff40;
}

