/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define cppDeathFrameBorderCount: 4;
.DeathPanelRoot
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.DeathPanelRoot--Hidden
{
	visibility: collapse;
}

.DeathPanelRoot--BorderNone
{
	background-image: none;
}

.DeathPanelRoot--Border0
{
	background-image: url("s2r://panorama/images/hud/deathpanel/holiday_border_1_png.vtex");
}

.DeathPanelRoot--Border1
{
	background-image: url("s2r://panorama/images/hud/deathpanel/holiday_border_2_png.vtex");
}

.DeathPanelRoot--Border2
{
	background-image: url("s2r://panorama/images/hud/deathpanel/holiday_border_3_png.vtex");
}

.DeathPanelRoot--Border3
{
	background-image: url("s2r://panorama/images/hud/deathpanel/holiday_border_4_png.vtex");
}

.DeathPanel
{
	horizontal-align: center;
	vertical-align: top;
	flow-children: down;
}

.death-panel-bg
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: 0.01;
	ignore-parent-flow: true;
}

.DeathPanel--Hidden
{
	visibility: collapse;
}

.DeathPanel--FadeIn
{
	opacity: 1.0;
	animation-name: DeathPanelFadeInAnim;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes 'DeathPanelFadeInAnim'
{
	0%
	{
		opacity: 0.0;
	}
	
	100%
	{
		opacity: 1.0;
	}
	
}

.DeathPanel__Content
{
	width: 410px;
}

.DeathPanel__BG
{
	width: 100%;
	height: 100%;
}

.DeathPanel__MedalText
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.05, #000000aa ), color-stop( 0.60, #000000aa ), to( #00000000 ) );
	width: 100%;
	padding-left: 30px;
	color: white;
	font-weight: normal;
}

.DeathPanel__MedalText--Hidden
{
	visibility: collapse;
}

.DeathPanel__FillBG
{
	width: 100%;
	height: 100%;
	opacity: .4;
	border-radius: 3px 3px 0px 0px;
}

.DeathPanel__BG-Blur
{
	background-color: rgba(0, 0, 0, 0.50);
	world-blur: hudWorldBlur;
}

.DeathPanel_AvatarBG
{
	width: 80px;
	height: 80px;
}

.DeathPanel__Avatar
{
	width: 66px;
	height: 66px;
	border-radius: 3px;
	vertical-align: center;
	horizontal-align: center;
}

.DeathPanel__AvatarHealthBar
{
	width: 86px;
	height: 5px;
	border-radius: 0px;
	box-shadow: none;
	vertical-align: bottom;
	margin: 0px;
	visibility: collapse;
}

.DeathPanel__AvatarHealthBar .ProgressBarLeft
{
	background-color: #dee5c8;
}

.DeathPanel__AvatarHealthBar--Hidden
{
	visibility: collapse;
}

.DeathPanel__AvatarFlair
{
	transform: translate3d( -32px, -24px, 0.0px );
	overflow: noclip;
	img-shadow: 2px 2px 13px 2.0 black;
}

.DeathPanel__AvatarFlair--Hidden
{
	visibility: collapse;
}

.DeathPanel__AvatarSkillGroup
{
	width: 64px;
	height: fit-children;
	img-shadow: 2px 2px 2px #000000;
	transform: translate3d( -32px, 58px, 0.0px );
	overflow: noclip;
}

.DeathPanel__AvatarSkillGroup--Hidden
{
	visibility: collapse;
}

.DeathPanel__Name
{
	width: 100%;
	padding-left: 10px;
	color: #cccccc;
	font-size: 24px;
	font-weight: bold;
	text-overflow: shrink min(20px);
	letter-spacing: 0px;
}

.DeathPanel__Desc
{
	max-height: 30px;
	padding-left: 10px;
	color: #c93121;
	font-size: 18px;
	font-weight: bold;
	text-overflow: shrink min(14px);
}

.DeathPanel__Damage
{
	width: 100%;
}

.DeathPanel__Damage.Taken
{
	border-top: 2px solid #25252540;
}

.DeathPanel__Damage Label
{
	font-weight: normal;
	text-overflow: ellipsis;
	padding: 4px 10px;
	font-size: 18px;
	font-family: Stratum2, 'Arial Unicode MS';
}

.DeathPanel__Damage--Hidden
{
	visibility: collapse;
}

.DeathPanel__DominationIcon
{
	height: 46px;
	horizontal-align: right;
	margin-right: 5px;
	visibility: collapse;
}

.DominationIconTypeNemesis .DeathPanel__DominationIcon--Nemesis,.DominationIconTypeRevenge .DeathPanel__DominationIcon--Revenge
{
	visibility: visible;
}

.DeathPanel__ItemContainer
{
	height: 100%;
	width: 150px;
	border-left: 2px solid #25252540;
}

.DeathPanel__ItemContainer--Hidden
{
	visibility: collapse;
}

.DeathPanel__Item
{
	width: 100%;
	background-size: 100% 100%;
	horizontal-align: center;
	vertical-align: center;
}

.DeathPanel_Nav_Container
{
	flow-children: right;
	horizontal-align: right;
	margin-top: 2px;
}

.DeathPanel__Navigation
{
	color: rgb(197, 197, 197);
	font-size: 13px;
	font-weight: bold;
	text-align: right;
	text-shadow: hud-outline-shadow;
}

.DeathPanel__Navigation--Hidden
{
	visibility: collapse;
}

.DeathPanelSS
{
	flow-children: down;
}

.DeathPanelSS--DefaultPosition
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 200px;
	transform: rotateZ( 6deg );
}

.DeathPanelSS--Hidden
{
	visibility: collapse;
}

.DeathPanelSS__Logo
{
	width: 650px;
	padding: 10px;
	margin-left: 30px;
	margin-bottom: 30px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.30, #00000080 ), to( #00000080 ) );
}

.DeathPanelSS__LogoImage
{
	horizontal-align: right;
	wash-color: #cccccc;
}

.DeathPanelSS__Content
{
	width: 650px;
}

.DeathPanelSS__BG
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.30, #000000cc ), to( #000000cc ) );
}

.DeathPanelSS__ContentPadding
{
	padding: 10px;
	flow-children: down;
	horizontal-align: right;
}

.DeathPanelSS__MedalText
{
	margin-right: 20px;
	color: white;
	font-weight: normal;
	horizontal-align: right;
}

.DeathPanel_AvatarBG--SS
{
	width: 46px;
	height: 46px;
}

.DeathPanel__Avatar--SS
{
	width: 40px;
	height: 40px;
}

.DeathPanel__AvatarHealthBar--SS
{
	width: 40px;
}

.DeathPanel__AvatarFlair--SS
{
	transform: translate3d( 20px, -15px, 0.0px );
	horizontal-align: right;
	width: 40px;
	height: 30px;
}

.DeathPanelSS__Name
{
	margin-right: 10px;
	color: white;
	font-size: 40px;
	font-weight: bold;
}

.DeathPanelSS__Desc
{
	color: #c93121;
	font-size: 25px;
	font-weight: bold;
}

.DeathPanel__ItemContainer--SS
{
	width: 120px;
}

.DeathPanelSSCameraFlash
{
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	opacity: 0.0;
}

.DeathPanelSSCameraFlash--Hidden
{
	visibility: collapse;
}

.DeathPanelSSCameraFlash--Flash
{
	animation-name: DeathPanelCameraFlashAnim;
	animation-duration: 0.75s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-delay: 0.25s;
}

@keyframes 'DeathPanelCameraFlashAnim'
{
	0%
	{
		opacity: 1.0;
	}
	
	100%
	{
		opacity: 0.0;
	}
	
}

.DeathCancel
{
	y: 810px;
	horizontal-align: center;
	vertical-align: top;
	color: #cccccc;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 2px 2px black;
}

.DeathPanel__SurvivalEndOfMatch
{
	padding-left: 90px;
	color: #cccccc;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 2px 2px black;
}

.DeathCancel--Hidden
{
	visibility: collapse;
}

#ProgressDamageTaken.ProgressBarVisible,#ProgressDamageGiven.ProgressBarVisible
{
	visibility: visible;
}

#ProgressDamageTaken,#ProgressDamageGiven
{
	height: 3px;
	width: 100%;
	opacity: 1;
	vertical-align: bottom;
	visibility: collapse;
}

#ProgressDamageTaken .ProgressBarLeft
{
	background-color: red;
}

#ProgressDamageTaken .ProgressBarRight
{
	background-color: #00000000;
}

#ProgressDamageGiven .ProgressBarLeft
{
	background-color: green;
}

#ProgressDamageGiven .ProgressBarRight
{
	background-color: #00000000;
}

ProgressBar
{
	background-color: #25252550;
}

