/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

CSGOHudDemoController
{
	width: 100%;
	height: 100%;
	flow-children: none;
}

#Root
{
	width: 100%;
	height: fit-children;
	flow-children: down;
	vertical-align: bottom;
}

#Contents
{
	width: 100%;
	height: 0px;
	flow-children: down;
	border-width: 1px 0 0 0;
	border-color: #000000a0;
	border-style: solidcolor;
	background-color: hud-blur-bg-color;
	world-blur: hudWorldBlur;
	transition-property: height;
	transition-duration: .1s;
	transition-timing-function: ease-out;
	overflow: clip;
}

.active #Contents
{
	height: 82px;
}

#SliderRow
{
	width: 100%;
	height: 36px;
	flow-children: none;
}

#Slider
{
	margin: 0px 10px;
	width: 100%;
	height: 100%;
}

#Slider #SliderThumb
{
	height: 16px;
	background-color: white;
}

#Slider #SliderTrackProgress
{
	visibility: collapse;
}

#RoundMarkers
{
	margin: 0px 10px;
	width: 100%;
	height: 100%;
	vertical-align: center;
}

#RoundMarkers .odd
{
	height: 8px;
	margin-top: 14px;
	background-color: #ffffff20;
}

#RoundMarkers .even
{
	height: 8px;
	margin-top: 14px;
	background-color: #ffffff50;
}

#RoundMarkers .death
{
	width: 2px;
	background-color: #ffffffa0;
	margin-top: 22px;
}

#ControlRow
{
	width: 100%;
	height: 41px;
	margin: 0 5px 5px 5px;
	flow-children: right;
}

#PlayButton
{
	height: 100%;
	width: 41px;
	padding: 5px 0;
	border-radius: 3px;
}

#PlayButton:hover
{
	background-color: #ffffff40;
}

#PlayButton Image
{
	width: 100%;
	height: 100%;
	transition-property: opacity;
	transition-duration: .1s;
}

#PlayIcon
{
	opacity: 0;
}

.paused #PlayIcon
{
	opacity: 1;
}

#PauseIcon
{
	opacity: 1;
}

.paused #PauseIcon
{
	opacity: 0;
}

#TimeLabel
{
	text-align: right;
	min-width: 130px;
}

#TimeControls,#RoundControls,#SpeedControls
{
	margin-left: 30px;
	height: fit-children;
	flow-children: right;
	vertical-align: center;
	border-radius: 2px;
}

#TimeControls:hover,#RoundControls:hover,#SpeedControls:hover
{
	background-color: #ffffff20;
}

#TimeControls Image,#RoundControls Image,#SpeedControls Image
{
	height: 36px;
	vertical-align: center;
	padding: 5px;
}

#TimeControls Label,#RoundControls Label,#SpeedControls Label
{
	padding: 5px;
}

#TimeControls .interactive,#RoundControls .interactive,#SpeedControls .interactive
{
	height: 36px;
}

#TimeControls .interactive:hover,#RoundControls .interactive:hover,#SpeedControls .interactive:hover
{
	background-color: #ffffff20;
}

#TimeControls #TimeIcon,#RoundControls #TimeIcon,#SpeedControls #TimeIcon
{
	padding: 2px;
}

#TimeControls #RoundPrev,#RoundControls #RoundPrev,#SpeedControls #RoundPrev
{
	transform: rotateZ( 180deg );
}

#TimeControls #RoundRestart,#RoundControls #RoundRestart,#SpeedControls #RoundRestart
{
	height: 100%;
	flow-children: right;
}

#TimeControls #RoundNumber,#RoundControls #RoundNumber,#SpeedControls #RoundNumber
{
	width: 22px;
	padding-right: 0px;
	padding-left: 0px;
}

#TimeControls #SpeedControls Label,#RoundControls #SpeedControls Label,#SpeedControls #SpeedControls Label
{
	min-width: 35px;
	text-align: center;
}

#TimeControls #SpeedIcon,#RoundControls #SpeedIcon,#SpeedControls #SpeedIcon
{
	padding: 5px 0;
}

#TimeControls Label.selected,#RoundControls Label.selected,#SpeedControls Label.selected
{
	color: white;
	font-weight: bold;
}

