/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.demoplayback
{
	height: fit-children;
	width: fit-children;
	flow-children: down;
	background-color: rgba( 100, 100, 100, 0.5 );
	world-blur: hudWorldBlur;
	border: 1px solid black;
	transition-property: opacity;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
	opacity: 0;
	visibility: collapse;
}

.demoplayback.demoplayback--active
{
	opacity: 1;
	visibility: visible;
}

.demoplayback Label
{
	font-size: 22px;
	color: #fff;
	text-shadow: 1px 1px #00000088;
}

.demoplayback-row
{
	margin-top: 5px;
	margin-bottom: 5px;
	flow-children: right;
	horizontal-align: center;
	width: fit-children;
}

.demoplayback-row Label
{
	align: center center;
	text-align: center;
	font-size: 16px;
	font-weight: medium;
}

#DemoPlaybackTitle
{
	padding: 10px 0;
	width: 100%;
	background-color: #00000080;
}

#DemoPlaybackTitle:hover
{
	background-color: #000000c0;
}

#DemoPlaybackTitle Label
{
	align: center center;
	text-align: center;
}

.demoplayback-spacer
{
	width: 50px;
}

#DemoPlaybackControls .demoplayback-control
{
	margin: 5px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: #00204080;
}

#DemoPlaybackControls .demoplayback-control:hover
{
	background-color: #002040B0;
}

#DemoPlaybackControls .demoplayback-control:active
{
	background-color: #00208080;
}

#DemoPlaybackControls #DemoPlaybackPlay
{
	width: 60px;
	visibility: collapse;
}

.demoplayback-paused #DemoPlaybackControls #DemoPlaybackPlay
{
	visibility: visible;
}

#DemoPlaybackControls #DemoPlaybackPause
{
	width: 60px;
	visibility: visible;
}

.demoplayback-paused #DemoPlaybackControls #DemoPlaybackPause
{
	visibility: collapse;
}

#DemoPlaybackTimescale .demoplayback-control
{
	margin: 0;
	width: 40px;
	height: 30px;
	background-color: #40002080;
}

#DemoPlaybackTimescale .demoplayback-control.demoplayback-control-first
{
	border-left-width: 1px;
}

#DemoPlaybackTimescale .demoplayback-control:hover
{
	background-color: #400020B0;
}

#DemoPlaybackTimescale .demoplayback-control:active
{
	background-color: #700020B0;
}

#DemoPlaybackJump .demoplayback-text
{
	height: 100%;
	padding: 3px;
	background-color: #40402080;
}

#DemoPlaybackJump .demoplayback-control
{
	margin: 0;
	width: 30px;
	height: 30px;
	background-color: #40402080;
}

#DemoPlaybackJump .demoplayback-control:hover
{
	background-color: #808020B0;
}

#DemoPlaybackJump .demoplayback-control:active
{
	background-color: #A0A02080;
}

#DemoPlaybackTime Label
{
	margin: 0 15px;
}

#DemoPlaybackSlider
{
	width: 300px;
	margin: 0 15px;
}

#DemoPlaybackSlider #SliderThumb
{
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
	box-shadow: fill #7299DB01 0px 0px 16px 0px;
}

