/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define color-icon-bomb-highlight: hsv-transform(color-icon-bomb, 0, 0.8, 2);
@define color-icon-hostage-transit-highlight: hsv-transform(color-icon-hostage-transit, 0, 0, 1.5);
@define hostage-rescue-zone-color-default: #ffffff;
@keyframes 'hud-game-icons-defuse-bomb--on-pickup'
{
	0%
	{
		wash-color: color-icon-bomb;
	}
	
	10%
	{
		wash-color: color-icon-bomb;
	}
	
	70%
	{
		wash-color: color-icon-bomb-highlight;
	}
	
	100%
	{
		wash-color: color-icon-bomb;
	}
	
}

@keyframes 'hud-game-icons-defuse-icon-arrow--on-pickup'
{
	0%
	{
		opacity: 0;
		transform: translateX(30px);
	}
	
	10%
	{
		opacity: 1;
		transform: translateX(30px);
	}
	
	70%
	{
		opacity: 1;
		transform: translateX(0px);
	}
	
	100%
	{
		opacity: 0;
		transform: translateX(0px);
	}
	
}

@keyframes 'hud-game-icons-icon-hostage-transit--while-carried'
{
	0%
	{
		wash-color: color-icon-hostage-transit;
	}
	
	50%
	{
		wash-color: color-icon-hostage-transit-highlight;
	}
	
	100%
	{
		wash-color: color-icon-hostage-transit;
	}
	
}

.hud-game-icons-defuse
{
	visibility:collapse;
}

.hud-game-icons--mode-bomb .hud-game-icons-defuse
{
	visibility:visible;
}

.hud-game-icons-defuse-icon-bomb-background
{
	opacity: 0;
	padding: 2px 15px 5px 0px;
}

.hud-game-icons--bomb-carried .hud-game-icons-defuse-icon-bomb-background
{
	opacity:1;
}

.hud-game-icons-defuse-icon-bomb
{
	wash-color: color-icon-bomb;
	transform:scaleX(-1);
}

.hud-game-icons--bomb-picked-up .hud-game-icons-defuse-icon-bomb
{
	animation-name:hud-game-icons-defuse-bomb--on-pickup;
	animation-duration: 0.6s;
	animation-timing-function:ease-out;
	animation-iteration-count: 4;
}

.hud-game-icons-defuse-icon-arrow
{
	wash-color: color-icon-bomb;
	opacity:0;
	width:80px;
}

.hud-game-icons--bomb-picked-up .hud-game-icons-defuse-icon-arrow
{
	animation-name:hud-game-icons-defuse-icon-arrow--on-pickup;
	animation-duration: 0.6s;
	animation-timing-function:ease-out;
	animation-iteration-count: 4;
}

.hud-game-icons-defuse-icon-bomb-zone
{
	opacity: 0;
	padding-left: 5px;
	padding-top: 10px;
}

.hud-game-icons--bomb-zone .hud-game-icons-defuse-icon-bomb-zone
{
	opacity: 1;
	wash-color: color-icon-bomb;
	animation-name: bomb-zone-highlight-enter, bomb-zone-bounce, bomb-zone-highlight;
	animation-duration: 0.5s, 1.5s, 0.5s;
	animation-iteration-count: 1, infinite, infinite;
	animation-delay: 0s, 0.4s, 0.15s;
	animation-timing-function: ease-in-out, ease-in-out, ease-in-out;
}

@keyframes 'bomb-zone-highlight-enter'
{
	0%
	{
		transform: scaleX(1.0) scaleY(1.0);
	}
	
	40%
	{
		transform: scaleX(1.3) scaleY(1.3);
	}
	
	75%
	{
		transform: scaleX(0.8) scaleY(0.8);
	}
	
	100%
	{
		transform: scaleX(1.0) scaleY(1.0);
	}
	
}

@keyframes 'bomb-zone-bounce'
{
	0%
	{
		position: 0px 0px 0px;
	}
	
	25%
	{
		position: 0px 10px 0px;
	}
	
	30%
	{
		position: 0px 2px 0px;
	}
	
	60%
	{
		position: 0px 10px 0px;
	}
	
	95%
	{
		position: 0px 10px 0px;
	}
	
	100%
	{
		position: 0px 0px 0px;
	}
	
}

@keyframes 'bomb-zone-highlight'
{
	0%
	{
		wash-color: color-icon-bomb;
	}
	
	10%
	{
		wash-color: color-icon-bomb;
	}
	
	70%
	{
		wash-color: color-icon-bomb-highlight;
	}
	
	100%
	{
		wash-color: color-icon-bomb;
	}
	
}

.hud-game-icons-hostage
{
	visibility:collapse;
	padding:0px 0px 0px 25px;
}

.hud-game-icons--mode-hostage .hud-game-icons-hostage
{
	visibility:visible;
}

.hud-game-icons-icon-hostage
{
	visibility:collapse;
	width: 34px;
	height: 36px;
}

.hud-game-icons-icon-hostage--active.hud-game-icons-icon-hostage
{
	visibility:visible;
}

.hud-game-icons-icon-hostage-alive
{
	opacity:1;
	wash-color: color-icon-hostage-alive;
}

.hud-game-icons-icon-hostage-dead
{
	opacity:0;
	wash-color: color-icon-hostage-dead;
}

.hud-game-icons-icon-hostage-transit
{
	opacity:0;
	wash-color: color-icon-hostage-transit;
}

.hud-game-icons-icon-hostage-rescued
{
	opacity:0;
	wash-color: color-icon-hostage-rescued;
}

.hud-game-icons-icon-hostage--carried .hud-game-icons-icon-hostage-alive
{
	opacity:0;
}

.hud-game-icons-icon-hostage--carried .hud-game-icons-icon-hostage-transit
{
	animation-name:hud-game-icons-icon-hostage-transit--while-carried;
	animation-duration:0.8s;
	animation-iteration-count:infinite;
	opacity:1;
}

.hud-game-icons-icon-hostage--rescued .hud-game-icons-icon-hostage-alive
{
	opacity:0;
}

.hud-game-icons-icon-hostage--rescued .hud-game-icons-icon-hostage-rescued
{
	opacity:1;
}

.hud-game-icons-icon-hostage--dead .hud-game-icons-icon-hostage-alive
{
	opacity:0;
}

.hud-game-icons-icon-hostage--dead .hud-game-icons-icon-hostage-dead
{
	opacity:1;
}

.hud-game-icons-hostage-zone
{
	opacity:0;
	wash-color: hostage-rescue-zone-color-default;
	vertical-align: middle;
}

.hud-game-icons--hostage-rescue-zone .hud-game-icons-hostage-zone
{
	opacity:1;
}

CSGOHudGameIcons CCSGOSteamInputAction.ControllerConnected
{
	visibility: collapse;
}

.ConsoleControlsInUse CSGOHudGameIcons.hud-game-icons--bomb-zone CCSGOSteamInputAction.ControllerConnected
{
	visibility: visible;
}

CSGOHudGameIcons .steam-button-glyph
{
	width: 24px;
	height: 24px;
}

