/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define maxHealthBarWidth: 202px;
@define maxHealthBarHeight: 12px;
CSGOHudHealthBars
{
	width: 100%;
	height: 100%;
}

.healthbar
{
	width: 100%;
	height: 100%;
	transform-origin: 0% 0%;
}

.healthbar_bg
{
	width: maxHealthBarWidth;
	height: maxHealthBarHeight;
	background-color: #000000E6;
	transform-origin: 0% 0%;
}

.healthbar_current,.healthbar_old
{
	width: maxHealthBarWidth;
	height: maxHealthBarHeight;
	transform-origin: 0% 0%;
	overflow: noclip;
}

.healthbar_old--hidden
{
	visibility: collapse;
}

.healthbar_style0 .healthbar_current
{
	background-color: #AAFF3C;
}

.healthbar_style1 .healthbar_current
{
	background-color: #F5AA0A;
}

.healthbar_style2 .healthbar_current
{
	background-color: #46D746;
}

.healthbar_style0 .healthbar_old
{
	background-color: #FF0000;
}

.healthbar_style1 .healthbar_old
{
	background-color: #646464;
}

.healthbar_style2 .healthbar_old
{
	background-color: #324B32;
}

#VisibleHealthBars
{
	width: 100%;
	height: 100%;
}

#UnusedHealthBars
{
	visibility: collapse;
}

