/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define staticLessonOffset: 600px;
@define fadeinDuration: 1.0s;
@define fadeoutDuration: 1.0s;
@define indicatorArrowOffsetFromIcon: -100px;
@define distanceScale: 0.5;
.HUD--team-preview-camera #HudInstructor
{
	visibility: collapse;
}

#LessonContainer
{
	width: 100%;
	height: 100%;
}

#StaticLessonContainer
{
	width: 100%;
	height: 100%;
	flow-children: down;
	overflow: noclip;
}

#LessonContainer .InstructorLesson
{
	width: 100%;
	height: 100%;
}

#LessonContainer #InstructorLessonDetails
{
	horizontal-align: center;
	vertical-align: center;
	transition-property: position, transform, pre-transform-scale2d;
	transition-duration: 0.05s;
}

#LocatorBackground
{
	background-color: #22222299;
	padding: 2px 12px 2px 2px;
	border-radius: 10px;
}

.InstructorLesson.stopped
{
	visibility: collapse;
}

#StaticLessonContainer .InstructorLesson
{
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	transform: translateY( staticLessonOffset );
	margin: 20px;
	transition-property: position, transform;
	transition-duration: 0.5s;
}

.InstructorLesson--NotHidden
{
	opacity: 1.0;
}

.InstructorLesson--HideImmediate
{
	opacity: 0.0;
}

.InstructorLesson--FadeOut
{
	animation-name: fadeout;
	animation-duration: fadeoutDuration;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	opacity: 0.0;
}

@keyframes 'fadeout'
{
	0%
	{
		opacity: 1.0;
	}
	
	100%
	{
		opacity: 0.0;
	}
	
}

#StaticLessonContainer .InstructorLesson--FadeIn.InstructorLesson
{
	animation-name: staticfadein;
	animation-duration: fadeinDuration;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

@keyframes 'staticfadein'
{
	0%
	{
		opacity: 0;
		pre-transform-scale2d: .5, .5;
	}
	
	75%
	{
		opacity: 0.75;
		pre-transform-scale2d: 1.2, 1.20;
	}
	
	100%
	{
		opacity: 1.0;
		pre-transform-scale2d: 1.0, 1.0;
	}
	
}

#LessonContainer .ShowCaption #InstructorLessonDetails
{
	position: 60px -64px 0px;
}

#LessonContainer .ShowCaption.InstructorLesson--FarAway #InstructorLessonDetails
{
	position: 30px -32px 0px;
}

#LessonContainer .InstructorLesson--FarAway #InstructorLessonDetails
{
	pre-transform-scale2d: distanceScale, distanceScale;
}

#LessonContainer .InstructorLesson--FarAway #InstructorIndicatorArrow
{
	pre-transform-scale2d: distanceScale, distanceScale;
}

#LocatorPointer
{
	horizontal-align: center;
	vertical-align: center;
	margin-right: 120px;
	visibility: collapse;
}

#LessonContainer .ShowCaption #LocatorPointer
{
	visibility: visible;
}

#LessonContainer .InstructorLesson.InstructorLesson--FadeIn
{
	animation-name: fadein;
	animation-duration: fadeinDuration;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

@keyframes 'fadein'
{
	0%
	{
		opacity: 0;
		pre-transform-scale2d: .5, .5;
	}
	
	75%
	{
		opacity: 0.75;
		pre-transform-scale2d: 1.2, 1.2;
	}
	
	100%
	{
		opacity: 1.0;
		pre-transform-scale2d: 1.0, 1.0;
	}
	
}

#LessonContainer .InstructorLesson--OnScreenPulse
{
	animation-name: onscreen-pulse;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

@keyframes 'onscreen-pulse'
{
	0%
	{
		pre-transform-scale2d: 1.0, 1.0;
	}
	
	75%
	{
		pre-transform-scale2d: 1.2, 1.2;
	}
	
	100%
	{
		pre-transform-scale2d: 1.0, 1.0;
	}
	
}

#LessonContainer .InstructorLesson--OffScreenPulse
{
	animation-name: offscreen-pulse;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

@keyframes 'offscreen-pulse'
{
	0%
	{
		pre-transform-scale2d: .0, .0;
	}
	
	75%
	{
		pre-transform-scale2d: 1.2, 1.2;
	}
	
	100%
	{
		pre-transform-scale2d: 1.0, 1.0;
	}
	
}

#LocatorCaption
{
	font-size: 26px;
	text-shadow: 2px 2px 2px black;
	color: white;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	visibility: collapse;
}

.ShowCaption #LocatorCaption
{
	visibility: visible;
}

#LocatorBindingText
{
	font-size: 28px;
	color: black;
	vertical-align: middle;
	min-width: 150px;
	text-align: center;
	text-overflow: shrink;
	padding: 0px 20px 0px 20px;
	visibility: collapse;
	font-weight: black;
}

.ShowBindingText #LocatorBindingText
{
	visibility: visible;
}

.IndicatorArrow
{
	horizontal-align: center;
	vertical-align: center;
	background-size: 100% 100%;
	width: 60px;
	height: 60px;
	background-image: url("s2r://panorama/images/hud/gameinstructor/icon_arrow_up_tga.vtex");
	transform: translateY( indicatorArrowOffsetFromIcon );
	visibility: collapse;
}

.ShowArrow .IndicatorArrow
{
	visibility: visible;
}

.LocatorIcon
{
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
}

.icon_alert .LocatorIcon
{
	background-image: url("s2r://panorama/images/hud/gameinstructor/icon_alert_png.vtex");
}

.icon_alert_red .LocatorIcon
{
	background-image: url("s2r://panorama/images/hud/gameinstructor/icon_alert_red_png.vtex");
}

.use_binding.icon_key_down .LocatorIcon
{
	background-image: url("s2r://panorama/images/hud/gameinstructor/icon_key_down_png.vtex");
}

.use_binding.icon_key_generic .LocatorIcon
{
	background-image: url("s2r://panorama/images/hud/gameinstructor/icon_key_generic_png.vtex");
}

.use_binding.icon_key_left .LocatorIcon
{
	background-image: url("s2r://panorama/images/hud/gameinstructor/icon_key_left_png.vtex");
}

.use_binding.icon_key_right .LocatorIcon
{
	background-image: url("s2r://panorama/images/hud/gameinstructor/icon_key_right_png.vtex");
}

.use_binding.icon_key_up .LocatorIcon
{
	background-image: url("s2r://panorama/images/hud/gameinstructor/icon_key_up_png.vtex");
}

.use_binding.icon_key_wide .LocatorIcon
{
	background-image: url("s2r://panorama/images/hud/gameinstructor/icon_key_wide_png.vtex");
	width: 150px;
}

.use_binding.icon_mouseLeft .LocatorIcon
{
	background-image: url("s2r://panorama/images/hud/gameinstructor/icon_mouseleft_png.vtex");
}

.use_binding.icon_mouseRight .LocatorIcon
{
	background-image: url("s2r://panorama/images/hud/gameinstructor/icon_mouseright_png.vtex");
}

.use_binding.icon_mouseThree .LocatorIcon
{
	background-image: url("s2r://panorama/images/hud/gameinstructor/icon_mousethree_png.vtex");
}

.use_binding.icon_mouseWheel_down .LocatorIcon
{
	background-image: url("s2r://panorama/images/hud/gameinstructor/icon_mousewheel_down_png.vtex");
}

.use_binding.icon_mouseWheel_up .LocatorIcon
{
	background-image: url("s2r://panorama/images/hud/gameinstructor/icon_mousewheel_up_png.vtex");
}

.icon_tip .LocatorIcon
{
	background-image: url("s2r://panorama/images/hud/gameinstructor/icon_tip_png.vtex");
}

