/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define HudSpecplayer_PanelWidth: 580px;
.HudLegendRoot
{
	horizontal-align: center;
	visibility:collapse;
	vertical-align:bottom;
}

.HudSpecplayerParentContainer
{
	width: 642px;
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: up;
}

.HudSpecplayerRoot--visible
{
	visibility: visible;
	transition-property: transform, opacity;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transform: translate3d( 0px, 0px, 0px );
}

.HudSpecplayer__key-hints
{
	width: fit-children;
	height: 16px;
	horizontal-align: center;
	overflow: noclip;
	flow-children: right;
	visibility: visible;
}

.HudSpecplayer__key-hints-text
{
	width: fit-children;
	font-size: 11px;
	color: rgb(212, 212, 212);
	vertical-align: center;
	margin: 0px 4px;
}

.HudSpecplayer__key-hints-text--hidden
{
	visibility: collapse;
}

#ServerSponserLogosContainer
{
	width: HudSpecplayer_PanelWidth;
	height: 90px;
	horizontal-align: center;
	background-color: #00000000;
	visibility: collapse;
}

.HudSpecplayer__SponserLogos
{
	height: 110px;
	horizontal-align: center;
	vertical-align: top;
}

