/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define AddMoneyTime: 2.9s;
@define RemoveMoneyTime: 2.9s;
@define AddRemoveMoneyFlashTime: 0.5s;
@define defaultColor: #ffffff;
@define AddMoneyColor: #8fff6f;
@define FlashMoneyColor: #d3e798;
@define RemoveMoneyColor: #fd3535;
@define AddMoneyTime--Survival: 0.7s;
@define AddRemoveMoneyFlashTime--Survival: 0.5s;
@define MoneyYPosAtMoney: 40px;
@define MoneyYPosModified: 80px;
@define MoneyYPosVanished: 66px;
@define MoneyYPosAddStart: 0px;
.money-text-label,.money-anim
{
	font-size: 24px;
	horizontal-align:right;
	vertical-align:top;
	padding-right: 20px;
	text-shadow: 0px 0px 1px 2.0 black;
}

.Language_vietnamese .money-text-label,.Language_vietnamese .money-anim
{
	font-family: ForceStratum2, 'Arial Unicode MS';
}

@define chromebg-height: 48px;
@define chromebg-y: -25px;
.buymenu CSGOMoneyPanel .hud-bottom-row-background--left
{
	world-blur: none;
}

.buymenu CSGOMoneyPanel.money__in-buy-zone .steam-button-glyph,.buymenu CSGOMoneyPanel.money__in-buy-zone .money-text-buy-icon
{
	opacity: 0;
}

.buymenu #buymenu-info-money
{
	height: 30px;
	vertical-align: center;
	horizontal-align: left;
	margin-top: 4px;
}

.buymenu #buymenu-info-money .digitpanel-container
{
	height: 30px;
}

.buymenu #buymenu-info-money .digitpanel-container Label
{
	width: 11px;
	font-size: 24px;
	font-weight: medium;
}

.buymenu #buymenu-info-money .money-text-bg
{
	height: fit-children;
}

.buymenu #buymenu-info-money .money-text
{
	y: 0px;
}

.money
{
	height: 80px;
	opacity: 1.0;
	z-index: 1;
	transition-property: opacity;
	transition-timing-function: linear;
	transition-duration: 0.1s;
	horizontal-align:right;
}

CSGOMoneyPanel .steam-button-glyph
{
	width: 24px;
	height: 24px;
}

.money-text-buy-icon
{
	margin-left: 6px;
	margin-right: 6px;
	vertical-align: bottom;
	width: 30px;
	height: 30px;
	opacity: 0;
	img-shadow: 1px 1px 2px 1.0 #00000033;
	wash-color: lightgreen;
}

CSGOMoneyPanel.money__in-buy-zone .steam-button-glyph,.money__in-buy-zone .money-text-buy-icon
{
	opacity: 1;
}

.money-text-explorebonus-icon
{
	margin-left: 20px;
	margin-right: -16px;
	width: 48px;
	height: 48px;
	visibility: collapse;
	img-shadow: 1px 1px 2px 1.0 #00000033;
	wash-color: lightgreen;
}

.money__has-explorebonus .money-text-explorebonus-icon
{
	visibility: visible;
}

.money-text-bombwavebonus-icon
{
	margin-left: 20px;
	margin-right: -16px;
	width: 48px;
	height: 48px;
	visibility: collapse;
	img-shadow: 1px 1px 2px 1.0 #00000033;
	wash-color: lightgreen;
}

.money__has-bombwavebonus .money-text-bombwavebonus-icon
{
	visibility: visible;
}

.money-text-bg
{
	width: 100%;
	height: 48px;
	vertical-align: middle;
	margin-left: 12px;
}

.survival .money-text-bg
{
	height: 64px;
}

.money-text
{
	vertical-align: bottom;
	horizontal-align:right;
	padding-right: 20px;
	y: -22px;
}

.money-text-label
{
	color: defaultColor;
	text-shadow: 1px 1px #00000088;
	text-shadow: 0px 0px 3px 0.0 #000000DD;
}

.money-anim.money-anim__add-survival
{
	visibility: visible;
	color: AddMoneyColor;
	x: 0px;
	y: 8px;
	opacity: 0.0;
	animation-name: money-anim__add-survival;
	animation-duration: AddMoneyTime--Survival;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes 'money-anim__add-survival'
{
	0%
	{
		opacity: 0.0;
		x: 0px;
		y: MoneyYPosVanished;
		z: 0px;
	}
	
	13%
	{
		opacity: 1.0;
		x: 0px;
		y: MoneyYPosModified;
		z: 0px;
	}
	
	87%
	{
		opacity: 1.0;
		x: 0px;
		y: MoneyYPosModified;
		z: 0px;
	}
	
	100%
	{
		opacity: 0.0;
		x: 0px;
		y: MoneyYPosAtMoney;
		z: 0px;
	}
	
}

.money-anim.money-anim__add-flash-survival
{
	color: FlashMoneyColor;
	x: 20px;
	y: 140px;
	opacity: 0.0;
	animation-name: money-anim__add-flash-survival;
	animation-duration: AddRemoveMoneyFlashTime--Survival;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes 'money-anim__add-flash-survival'
{
	0%
	{
		opacity: 1.0;
		transform: scale3d( 1, 1, 1 );
		x: 36px;
		y: 40px;
		z: 0px;
	}
	
	100%
	{
		opacity: 0.0;
		transform: scale3d( 2, 2, 1 );
		x: 36px;
		y: 40px;
		z: 0px;
	}
	
}

CSGOMoneyPanel CCSGOSteamInputAction.ControllerConnected
{
	visibility: collapse;
}

.ConsoleControlsInUse CSGOMoneyPanel.money__in-buy-zone CCSGOSteamInputAction.ControllerConnected
{
	visibility: visible;
}

CSGOMoneyPanel .steam-button-glyph
{
	width: 24px;
	height: 24px;
}

.digitpanel-container
{
	height: 36px;
	width: 120px;
	transform: translateY(0px);
	horizontal-align: left;
}

.digitpanel-container .digitpanel__digit
{
	transition-property: transform;
	transition-duration: 10s;
	transition-timing-function: ease-in-out;
}

.digitpanel-container Label
{
	width: 18px;
	font-size: 38px;
	font-weight: bold;
	color: defaultColor;
}

#HudLowerLeft .money
{
	vertical-align: bottom;
	horizontal-align: left;
}

#HudBottomRight .money
{
	margin-right: 30px;
}

