/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.hud-mission-panel
{
	width: 400px;
	height: fit-children;
	vertical-align:top;
	horizontal-align:left;
	padding: 10px 0px 10px 0px;
	opacity: 0;
	transform: translateX( -200px);
	transition-property: transform, opacity;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.show.hud-mission-panel
{
	visibility: visible;
	opacity: 1;
	transform: translateX( 0px);
	transition-property: transform, opacity;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.hud-mission-panel-bg
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), color-stop( 0.5, #000000CC ) , color-stop(0.6, #000000CC), color-stop( 0.9, #000000BB ), to( #00000000 ) );
	width: 100%;
	height: 100%;
}

.hud-mission-content
{
	width: 100%;
	height: fit-children;
}

