/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define defaultColor: #ffffff;
.hudpassiveitems
{
	height: 53px;
	vertical-align: bottom;
	margin-left: 0px;
	flow-children: right;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.33, #00000033 ), color-stop( 0.66, #00000033 ), to( #00000000 ) );
}

.hudpassiveitem
{
	vertical-align: center;
	wash-color: defaultColor;
	margin: 0px 8px;
	margin-left: 10px;
	margin-right: 10px;
	visibility: collapse;
	opacity: 0;
	img-shadow: 0px 0px 1px 0.0 #000000DD;
	transition-property: opacity;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}

.hudpassiveitems-visible
{
	visibility: visible;
	opacity: 1;
}

