/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.RadioHeading
{
	x: 0px;
	y: 0px;
}

.RadioGroup
{
	flow-children: down;
}

.RadioTextHeading
{
	horizontal-align: center;
	margin: 10px 18px 10px 10px;
	font-size: 24px;
	color: #999999;
	text-transform: uppercase;
	letter-spacing: .5px;
}

.RadioTextOptions
{
	horizontal-align: left;
	flow-children: right;
	font-size: 18px;
	margin: 0px 0px 0px 12px;
	color: #CCCCCC;
}

.RadioTextOptionsExit
{
	padding-top: 12px;
}

CSGOHudRadio
{
	width: fit-children;
	opacity: 0.0;
	transition-property: opacity;
	transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	padding: 60px 0px 0px 0px ;
}

.ShowHudRadio
{
	opacity: 1.0;
	transition-duration: 0.2s;
}

#RadioPanelBG
{
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.45;
}

#RadioPanel
{
	width: fit-children;
	flow-children: down;
	opacity: 1.0;
	padding-bottom: 12px;
	background-color: #000000b3;
	margin: 8px;
}

