/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define BombSiteFlashTime: 0.5s;
@define defaultColor: #ffffff;
@define FlashBombSiteColor: #d3e798;
.bombsite-text-label,.bombsite-anim
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 24px;
	font-weight: bold;
}

.Language_vietnamese .bombsite-text-label,.Language_vietnamese .bombsite-anim
{
	font-family: ForceStratum2, 'Arial Unicode MS';
}

.retake
{
	width: 100%;
	height: 100%;
	opacity: 1.0;
	z-index: 1;
	transition-property: opacity;
	transition-timing-function: linear;
	transition-duration: 0.1s;
}

.bombsite-text-bg
{
	width: 53%;
	height: 36px;
	margin-top: 55%;
	margin-left: 4%;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), color-stop( 0.5, #000000CC ) , color-stop(0.6, #000000CC), color-stop( 0.9, #000000BB ), to( #00000000 ) );
	opacity: 0.5;
}

.bombsite-text
{
	height: 36px;
	margin-top: 55%;
	margin-left: 15%;
}

.bombsite-text-label
{
	color: defaultColor;
	text-shadow: 1px 1px #00000088;
	text-shadow: 0px 0px 3px 0.0 #000000DD;
}

.bombsite-anim
{
	visibility: collapse;
}

.bombsite-anim.bombsite-anim__flash
{
	visibility: visible;
	color: FlashBombSiteColor;
	opacity: 0.0;
	animation-name: bombsite-anim__flash;
	animation-duration: BombSiteFlashTime;
	animation-timing-function: ease-out;
	animation-iteration-count: 2;
}

.bombsite-pip-arrow-a
{
	visibility: visible;
	width: 78px;
	height: 78px;
	horizontal-align: center;
	vertical-align: center;
}

.bombsite-pip-arrow-b
{
	visibility: visible;
	width: 78px;
	height: 78px;
	horizontal-align: center;
	vertical-align: center;
}

.bombsite-pip-arrow-img-a
{
	margin-top: -4px;
	width: 28px;
	height: 21px;
	horizontal-align: center;
	vertical-align: top;
	transform: scaleY( -1 );
	img-shadow: 2px 2px 1px 0.0 #000000;
}

.bombsite-pip-arrow-img-b
{
	margin-top: -4px;
	width: 18px;
	height: 11px;
	horizontal-align: center;
	vertical-align: top;
	transform: scaleY( -1 );
	img-shadow: 2px 2px 1px 0.0 #000000;
}

.bombsite-pip-a
{
	width: 52px;
	height: 52px;
	background-image: url("s2r://panorama/images/icons/ui/retake_site_pip_a_png.vtex");
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	img-shadow: 2px 2px 1px 0.0 #000000;
}

.bombsite-pip-b
{
	width: 52px;
	height: 52px;
	background-image: url("s2r://panorama/images/icons/ui/retake_site_pip_b_png.vtex");
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	img-shadow: 2px 2px 1px 0.0 #000000;
}

@keyframes 'bombsite-anim__flash'
{
	0%
	{
		opacity: 1.0;
		x: 15%;
		y: 55.5%;
		z: 0px;
		transform: scale3d( 1, 1, 1 );
	}
	
	100%
	{
		opacity: 0.0;
		transform: scale3d( 3, 3, 1 );
		x: 15%;
		y: 55.5%;
		z: 0px;
	}
	
}

