/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

CSGOHudRosettaSelector
{
	width: 100%;
	height: 65%;
	opacity: 1.0;
	visibility: collapse;
	transition-property: opacity;
	transition-timing-function: linear;
	transition-duration: 0.1s;
	x: 0px;
	y: 35%;
}

.ShowHudRosettaSelector
{
	opacity: 1.0;
	transition-duration: 0.2s;
}

.HideHudRosettaSelector
{
	opacity: 0.0;
	transition-duration: 0.2s;
}

CSGOHudRosettaSelector Label
{
	font-family: Stratum2, 'Arial Unicode MS';
}

.RosettaSprayBG
{
	width: 100%;
	height: 100%;
	flow-children: down;
	opacity: 1.0;
	x: 0px;
	y: 0px;
}

#RosettaBGGradient
{
	width: 100%;
	height: 100%;
	opacity: 1.0;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #0000009f ), color-stop( 0.5, #0000009f ), to( #00000000 ) );
	x: 0px;
	y: 144px;
}

.RosettaIcon
{
	width: 256px;
	height: 256px;
	horizontal-align: center;
	flow-children: none;
}

.RosettaSelection__Countdown
{
	width: 256px;
	height: 256px;
	y: 0px;
	horizontal-align: center;
	border: 2px solid #ffffff7f;
	border-style: solid;
	border-radius: 150px;
	background-color: #7f7f7f3f;
}

.RosettaSelection__Pie
{
	width: 246px;
	height: 246px;
	horizontal-align: center;
	vertical-align: center;
	border-radius: 145px;
	background-color: #ffffff2f;
}

.RosettaCountdown__Timer
{
	width: 300px;
	height: 120px;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-size: 84px;
	font-weight: bold;
	font-style: italics;
	font-family: notosans, 'Arial Unicode MS';
	text-shadow:4px 4px 4px #000000;
	color: white;
}

.RosettaSelection__Image
{
	width: 256px;
	height: 256px;
	horizontal-align: center;
	vertical-align: center;
	opacity: 1.0;
}

.RosettaSelection__ImageBG
{
	width: 256px;
	height: 256px;
	horizontal-align: center;
	vertical-align: center;
	opacity: 0.3;
	background-color: #00000060;
	border-radius: 50%;
	border: 2px solid white;
}

.RosettaSelection__HintText
{
	width: 100%;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 1px;
	color: red;
	-s2-mix-blend-mode: screen;
}

.RosettaSelector__CoolDown .RosettaSelection__HintText
{
	opacity: 0;
}

.RosettaSelection__Text
{
	width: 100%;
	text-align: center;
	font-size: 16px;
	letter-spacing: 1px;
	padding-bottom: 32px;
	color: white;
	-s2-mix-blend-mode: screen;
}

.RosettaNavHint__Arrow
{
	opacity: 1.0;
	background-color: blue;
}

#RosettaInventory
{
	horizontal-align: middle;
	flow-children: right;
}

#RosettaInventoryItems
{
	horizontal-align: middle;
	flow-children: right;
}

.RosettaInventorySlot
{
	width: 200px;
	flow-children: down;
	horizontal-align: middle;
}

.RosettaInventory__LeftArrow
{
	width: 20px;
	height: 40px;
	vertical-align: middle;
}

.RosettaInventory__RightArrow
{
	width: 20px;
	height: 40px;
	vertical-align: middle;
	transform: rotateZ( 180deg );
}

.RosettaInventory__Selection
{
	horizontal-align: middle;
}

.RosettaInventory__Image:hover
{
	transform: scale3d( 1.15, 1.15, 1 );
	animation-name: RosettaInventory__Image--Hover;
	animation-duration: 0.25s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes 'RosettaInventory__Image--Hover'
{
	0%
	{
		transform: scale3d( 1, 1, 1 );
	}
	
	100%
	{
		transform: scale3d( 1.15, 1.15, 1 );
	}
	
}

.RosettaInventory__Image
{
	width: 150px;
	height: 116px;
	horizontal-align: middle;
	opacity: 1.0;
}

.RosettaInventory__Count
{
	width: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: light;
	letter-spacing: 0px;
	color: white;
}

.RosettaInventory__Name
{
	width: 100%;
	text-align: center;
	text-overflow: shrink;
	font-weight: bold;
	font-size: 16px;
	color: white;
	letter-spacing: 0px;
}

#RosettaQuickSprayToggle
{
	flow-children: right;
	horizontal-align: middle;
}

.RosettaQuickSpray__Text
{
	padding: 4px;
	text-align: center;
	font-size: 19px;
	letter-spacing: 0px;
	color: white;
}

#RosettaInfo
{
	flow-children: right;
	horizontal-align: middle;
}

.RosettaInfo__Icon
{
	width: 26px;
	height: 26px;
	padding: 2px;
	-s2-mix-blend-mode: screen;
}

.RosettaInfo__Text
{
	text-align: center;
	font-size: 20px;
	letter-spacing: 0px;
	color: white;
}

