/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define Radar_PanelSize: 300px;
@define Radar_PanelHeight: fit-children;
@define Radar_VisSize_Round: 250px;
@define Radar_Overlay_Round: 248px;
@define Radar_VisSize_Square: 290px;
@define Radar_Overlay_Square: 274px;
@define defaultColor: #ffffff;
.hud-radar
{
	opacity: 0.0;
	flow-children: down;
	transition-property: opacity;
	transition-timing-function: linear;
	transition-duration: 0.1s;
	width: fit-children;
	height: Radar_PanelHeight;
	margin-top: 0px;
}

.hud-radar.hud-radar__active
{
	opacity:1;
}

.coopmission .hud-radar
{
	opacity: 0;
}

CSGOHudRadar Label
{
	font-size: 22px;
	opacity: 1;
	color: #ffffff;
}

#DashboardLabel
{
	opacity: 1;
	text-align: center;
	width: Radar_PanelSize;
}

.PI_Text
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: medium;
	font-size: 10px;
	margin-top: 1px;
	margin-right: 1px;
	text-align: center_nopixelsnap;
	horizontal-align: center_nopixelsnap;
	color: #000000FF;
	-s2-mix-blend-mode: normal;
}

.hrBotrad
{
	visibility: collapse;
	width: 125px;
	height: 1px;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff4D ), to( #ffffff00 ) );
	vertical-align: bottom;
	margin-left: 25px;
}

.Invisible
{
	visibility: collapse;
}

#RI_PlayerSoundContainer
{
	width: 100%;
	height: 100%;
}

#Radar
{
	flow-children: none;
	x: 0px;
	y: 40px;
	width: Radar_PanelSize;
	height: Radar_PanelSize;
}

#Radar__Round
{
	width: Radar_VisSize_Round;
	height: Radar_VisSize_Round;
	horizontal-align: center;
	vertical-align: center;
}

.Radar__Round--BorderClass
{
	width: Radar_VisSize_Round;
	height: Radar_VisSize_Round;
	horizontal-align: center;
	vertical-align: center;
	border-radius: 50% / 50%;
	border-width: 1px;
	border-style: solid;
	border-color: white;
	opacity: 1.0;
}

#Radar__Round--Inner
{
	width: Radar_VisSize_Round;
	height: Radar_VisSize_Round;
	border-radius: 50% / 50%;
	horizontal-align: center;
	vertical-align: center;
	background-color: hud-blur-bg-color;
	world-blur: hudWorldBlur;
	visibility: visible;
}

#Radar__Round--Inner.HUD--weapon--scoped
{
	world-blur: none;
}

#Radar__Square
{
	width: Radar_VisSize_Square;
	height: Radar_VisSize_Square;
	horizontal-align: center;
	vertical-align: center;
	opacity: 1.0;
}

#Radar__Square--Border
{
	width: Radar_VisSize_Square;
	height: Radar_VisSize_Square;
	horizontal-align: center;
	vertical-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: ct-color;
	opacity: 1.0;
	visibility: collapse;
}

#Radar__Square--Inner
{
	width: Radar_VisSize_Square;
	height: Radar_VisSize_Square;
	horizontal-align: center;
	vertical-align: center;
	background-color: hud-blur-bg-color;
	world-blur: hudWorldBlur;
	visibility: visible;
}

#Radar__Square--Inner.HUD--weapon--scoped
{
	world-blur: none;
}

#Radar__Square--InnerTransform
{
	-s2-mix-blend-mode: additive;
}

.Map
{
	width: 100%;
	height: 100%;
	transform-origin: 50% 50%;
}

.Map__Level--Animate-FadeIn
{
	opacity: 1.0;
	animation-name: Map__Animate-FadeIn;
	animation-duration: 0.25s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes 'Map__Animate-FadeIn'
{
	0%
	{
		opacity: 0.0;
	}
	
	100%
	{
		opacity: 1.0;
	}
	
}

.Map__Level--Animate-FadeOut
{
	opacity: 0.0;
	animation-name: Map__Animate-FadeOut;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes 'Map__Animate-FadeOut'
{
	0%
	{
		opacity: 1.0;
	}
	
	100%
	{
		opacity: 0.0;
	}
	
}

#Radar__Round--Overlay
{
	width: Radar_Overlay_Round;
	height: Radar_Overlay_Round;
	horizontal-align: center;
	vertical-align: center;
	background-color: gradient(radial, 50% 50%, 0px 0px, 150px 150px, from( #22222211 ), color-stop( 0.9, #000000CC)) )to( #000000DD ) );
	border-radius: 50% / 50%;
	opacity: 0.5;
	visibility: collapse;
}

.RadarBombPlantPulse
{
	visibility: visible;
	opacity: 1.0;
	border-color: red;
	animation-name: RadarBombPlantPulse--Animate;
	animation-duration: 0.65s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'RadarBombPlantPulse--Animate'
{
	0%
	{
		opacity: 0.1;
	}
	
	25%
	{
		opacity: 0.6;
	}
	
	50%
	{
		opacity: 0.8;
	}
	
	75%
	{
		opacity: 0.6;
	}
	
	100%
	{
		opacity: 0.1;
	}
	
}

#Radar__Square--Overlay
{
	width: Radar_Overlay_Square;
	height: Radar_Overlay_Square;
	horizontal-align: center;
	vertical-align: center;
	background-color: gradient(radial, 50% 50%, 0px 0px, 125px 125px, from( #00000000 ), to( #00000044 ) );
	opacity: 1.0;
	visibility: collapse;
}

.PlayerIcons
{
	width: 100%;
	height: 100%;
}

#PI_NonRotated
{
	width: 100px;
	height: 100px;
	transform-origin: 50% 50%;
	x: -50px;
	y: -50px;
	flow-children: none;
}

#RI_PlayerSoundContainer #PI_NonRotated
{
	overflow: noclip;
}

#PI_FirstRotated
{
	width: 100px;
	height: 100px;
	transform-origin: 50% 50%;
	x: -50px;
	y: -50px;
	flow-children: none;
}

.PI_Above
{
	width: 13px;
	height: 7px;
	y: 8px;
	x: -1px;
	horizontal-align: center;
	vertical-align: center;
	wash-color:#CCCCCCCC;
	opacity: 0.65;
}

.PI_Below
{
	width: 13px;
	height: 7px;
	y: -8px;
	x: -1px;
	horizontal-align: center;
	vertical-align: center;
	wash-color:#CCCCCCCC;
	opacity: 0.65;
}

.PI_EnemyOnMap
{
	width: 13px;
	height: 13px;
	horizontal-align: center;
	vertical-align: center;
	opacity: 0.95;
	img-shadow: 0px 0px 1px 0.75 #810000;
}

.PI_HostageOnMap
{
	width: 13px;
	height: 13px;
	horizontal-align: center;
	vertical-align: center;
}

.PI_OnMap
{
	width: 11px;
	height: 11px;
	horizontal-align: center;
	vertical-align: center;
	img-shadow: 0px 0px 1px 1.0 #000000AA;
}

.PI_Color_CT
{
	wash-color:#1ed2ffFF;
}

.PI_Color_T
{
	wash-color:#ffdd23FF;
}

.PI_Color_Enemy
{
	wash-color:#ff1919FF;
}

.PI_OffMap
{
	width: 22px;
	height: 22px;
	horizontal-align: center;
	vertical-align: center;
	y: -1px;
	opacity: 0.8;
}

.PI_Death
{
	width: 19px;
	height: 19px;
	horizontal-align: center;
	vertical-align: center;
}

.PI_Ghost
{
	width: 9px;
	height: 15px;
	horizontal-align: center;
	vertical-align: center;
	opacity: 0.8;
}

.PI_Indicator
{
	width: 12px;
	height: 12px;
	horizontal-align: center;
	vertical-align: center;
}

#HostageTransitOnMap
{
	width: 48px;
	height: 48px;
	horizontal-align: center;
	vertical-align: center;
}

#HostageTransitOffMap
{
	width: 16px;
	height: 14px;
	horizontal-align: center;
	vertical-align: center;
}

#Selected
{
	width: 42px;
	height: 36px;
	x: 0px;
	y: -10px;
	horizontal-align: center_nopixelsnap;
	vertical-align: center_nopixelsnap;
}

#Defuser
{
	width: 24px;
	height: 24px;
	horizontal-align: center;
	vertical-align: center;
}

#SpeakingOnMap
{
	width: 18px;
	height: 18px;
	horizontal-align: center;
	vertical-align: center;
	wash-color:#78ff00FF;
}

#SpeakingOffMap
{
	width: 26px;
	height: 24px;
	horizontal-align: center;
	vertical-align: center;
	y: -3px;
	wash-color:#78ff00FF;
}

#PlayerPing
{
	width: 80px;
	height: 80px;
	opacity: 0.2;
	transform: scale3d( 1, 1, 1 );
	horizontal-align: center;
	vertical-align: center;
	border-radius: 50% / 50%;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	animation-name: DroppedBomb--Animate;
	animation-duration: 0.75s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-s2-mix-blend-mode: screen;
}

#PlayerPingOffMap
{
	width: 50px;
	height: 50px;
	opacity: 0.2;
	transform: scale3d( 1, 1, 1 );
	horizontal-align: center;
	vertical-align: center;
	border-radius: 50% / 50%;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	animation-name: DroppedBomb--Animate;
	animation-duration: 0.75s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-s2-mix-blend-mode: screen;
}

#PlayerPingOffMapArrow
{
	horizontal-align: center;
	vertical-align: center;
	width: 20px;
	height: 20px;
}

.PlayerSound
{
	border: 1px solid #ffffff40;
	border-radius: 50%;
	horizontal-align: center_nopixelsnap;
	vertical-align: center_nopixelsnap;
	-s2-mix-blend-mode: additive;
	width: 100%;
	height: 100%;
}

.player-sound-max
{
	animation-name: PlayerSoundMaxxedOut;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes 'PlayerSoundMaxxedOut'
{
	0%
	{
		border: 3px solid white;
		brightness: 5;
	}
	
}

#DirectionalIndicator
{
	height: 20px;
	width: 11px;
	horizontal-align: center;
	y: 32px;
	x: 0px;
}

#ViewFrustrum
{
	height: 64px;
	width: 128px;
	horizontal-align: center;
	y: -12px;
	opacity: 0.08;
	-s2-mix-blend-mode: normal;
}

#RI_BombDefuserPackage
{
	width: 200px;
	height: 200px;
	transform-origin: 50% 50%;
	x: -100px;
	y: -100px;
	flow-children: none;
}

#BombPlantedIcon
{
	width: 24px;
	height: 24px;
	horizontal-align: center;
	vertical-align: center;
}

#BombPlantedIconMedium
{
	width: 24px;
	height: 24px;
	horizontal-align: center;
	vertical-align: center;
}

#BombPlantedIconFast
{
	width: 24px;
	height: 24px;
	horizontal-align: center;
	vertical-align: center;
}

#PlantedBomb
{
	width: 70px;
	height: 70px;
	opacity: 0.2;
	transform: scale3d( 1, 1, 1 );
	horizontal-align: center;
	vertical-align: center;
	border-radius: 50% / 50%;
	border-width: 2px;
	border-style: solid;
	border-color: #D10000;
	animation-name: DroppedBomb--Animate;
	animation-duration: 0.75s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-s2-mix-blend-mode: screen;
}

#DroppedBomb
{
	width: 110px;
	height: 110px;
	opacity: 0.2;
	transform: scale3d( 1, 1, 1 );
	horizontal-align: center;
	vertical-align: center;
	border-radius: 50% / 50%;
	border-width: 2px;
	border-style: solid;
	border-color: #880000;
	animation-name: DroppedBomb--Animate;
	animation-duration: 0.75s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-s2-mix-blend-mode: screen;
}

@keyframes 'DroppedBomb--Animate'
{
	0%
	{
		opacity: 1.0;
		transform: scale3d( 0.01, 0.01, 1 );
	}
	
	20%
	{
		opacity: 1.0;
		transform: scale3d( 0.1, 0.1, 1 );
	}
	
	50%
	{
		opacity: 1.0;
		transform: scale3d( 0.25, 0.25, 1 );
	}
	
	75%
	{
		opacity: 0.5;
		transform: scale3d( 0.4, 0.4, 1 );
	}
	
	100%
	{
		opacity: 0.0;
		transform: scale3d( 0.6, 0.6, 1 );
	}
	
}

#RI_DefuserPackage
{
	width: 200px;
	height: 200px;
	transform-origin: 50% 50%;
	x: -100px;
	y: -100px;
	flow-children: none;
}

#DefuserIconDropped
{
	width: 110px;
	height: 110px;
	transform: scale3d( 1, 1, 1 );
	horizontal-align: center;
	vertical-align: center;
	border-radius: 50% / 50%;
	border-width: 2px;
	border-style: solid;
	border-color: blue;
	animation-name: DroppedDefuser--Animate;
	animation-duration: 0.75s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-s2-mix-blend-mode: screen;
}

@keyframes 'DroppedDefuser--Animate'
{
	0%
	{
		opacity: 1.0;
		transform: scale3d( 0.1, 0.1, 1 );
	}
	
	25%
	{
		opacity: 1.0;
		transform: scale3d( 0.25, 0.25, 1 );
	}
	
	50%
	{
		opacity: 1.0;
		transform: scale3d( 0.5, 0.5, 1 );
	}
	
	75%
	{
		opacity: 1.0;
		transform: scale3d( 0.75, 0.75, 1 );
	}
	
	100%
	{
		opacity: 0.0;
		transform: scale3d( 1, 1, 1 );
	}
	
}

#DefuserIconPackage
{
	width: 64px;
	height: 64px;
	horizontal-align: center;
	vertical-align: center;
}

#CreateBombPack
{
	width: 16px;
	height: 12px;
	horizontal-align: center;
	vertical-align: center;
	img-shadow: 0px 0px 1px 2 #11111111;
}

.PlantedBombAnimateRed
{
	animation-name: PlantedBombAnimateRed--Animate;
	animation-duration: 0.65s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'PlantedBombAnimateRed--Animate'
{
	0%
	{
		img-shadow: 0px 0px 1px 1 #71060666;
	}
	
	25%
	{
		img-shadow: 0px 0px 1px 2 #af0707AA;
	}
	
	50%
	{
		img-shadow: 0px 0px 1px 3 #d50808EE;
	}
	
	75%
	{
		img-shadow: 0px 0px 1px 2 #af0707AA;
	}
	
	100%
	{
		img-shadow: 0px 0px 1px 1 #71060666;
	}
	
}

.BombZone
{
	height: 6%;
	transform-origin: 50% 50%;
	x: -4px;
	y: -8px;
	opacity: .7;
	wash-color:#ffcc00;
	img-shadow: 0px 0px 1px 2 #111111FF;
}

.BombZone_OnMap
{
	height: 4%;
	opacity: .4;
}

.HZone
{
	height: 7%;
	transform-origin: 50% 50%;
	x: -8px;
	y: -12px;
	-s2-mix-blend-mode: screen;
}

#DirectionArrow
{
	y: 2px;
	width: 10px;
	height: 14px;
	horizontal-align: center;
	vertical-align: top;
	transform-origin: 50% 50% parent-relative;
	overflow: noclip;
}

