/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define cppTargetIDDuration: 0.0;
CSGOHudReticle Label
{
	font-family: Stratum2, 'Arial Unicode MS';
}

.Language_vietnamese CSGOHudReticle Label
{
	font-family: ForceStratum2, 'Arial Unicode MS';
}

.reticle--hidden
{
	visibility: collapse;
}

.crosshair__friend
{
	wash-color: orange;
	opacity: 0.2;
	transform:Scale3d(1, 1, 1);
	horizontal-align: center_nopixelsnap;
	vertical-align: center_nopixelsnap;
	overflow: noclip;
	-s2-mix-blend-mode: additive;
}

.crosshair__friend--hidden
{
	visibility: collapse;
}

.crosshair__observer
{
	horizontal-align: center;
	vertical-align: center;
	-s2-mix-blend-mode: screen;
}

.crosshair__observer--hidden
{
	visibility: collapse;
}

.targetid
{
	horizontal-align: center;
	vertical-align: top;
	y: 580px;
	width: 1040px;
	height: 74px;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color: #ffffff;
	-s2-mix-blend-mode: additive;
	opacity: 1.0;
	transition-property: opacity, transform;
	transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
}

.targetid--hidden
{
	opacity: 0.0;
	transform: translateY( 7px );
}

#VisiblePlayerIDs
{
	width: 100%;
	height: 100%;
}

#UnusedPlayerIDs
{
	visibility: collapse;
}

.playerid
{
	width: 1024px;
	height: 256px;
	transform-origin: 50% 100%;
	x: -512px;
	y: -256px;
}

.playerid__content_parent
{
	horizontal-align: center;
	vertical-align: bottom;
}

.playerid__content_trans
{
	horizontal-align: center;
	vertical-align: bottom;
	width: 400px;
	transform-origin: 50% 100%;
	flow-children: up;
	-s2-mix-blend-mode: normal;
}

.playerping__locationlabel
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: bold;
	letter-spacing: 0px;
	font-size: 68px;
	text-align: center;
	width: 60%;
	height: 64px;
	y: 340px;
	vertical-align: top;
	horizontal-align: center;
	color: #ffffffff;
	text-shadow: 2px 2px #000000;
}

.playerid__content
{
	horizontal-align: center;
	vertical-align: bottom;
	width: 400px;
	transform-origin: 50% 100%;
	flow-children: up;
}

.playerid__weapons
{
	horizontal-align: center;
	flow-children: right;
}

.playerid__weapons--hidden
{
	visibility: collapse;
}

.playerid__weaponicon
{
	color: white;
	margin: 0px 2px;
	text-shadow: 1px 1px #000000;
}

.playerid__weaponicon--hidden
{
	visibility: collapse;
}

#JsNameContainer
{
	flow-children:down;
	-s2-mix-blend-mode: normal;
}

.playerid__name,.playerid__extrainfo
{
	horizontal-align: center;
	vertical-align: bottom;
	padding: 2px 2px 3px 2px;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 0px;
	color: white;
	opacity: 1;
	max-width: 200px;
	white-space: nowrap;
	text-shadow: 2px 2px 0px 0 #000000f0;
	text-overflow: shrink min( 20px ) ellipsis;
}

.playerid__name
{
	brightness: 1.5;
}

.playerid__extrainfo
{
	font-weight: bold;
	opacity: 1;
	font-size: 20px;
	vertical-align:center;
	horizontal-align:center;
	text-align: center;
	margin-top: -7px;
	margin-bottom: -3px;
	brightness: 1;
}

.playerid__name--hidden
{
	visibility: collapse;
}

.playerid__icons
{
	horizontal-align: center_nopixelsnap;
	width: 100%;
}

.playerid__icon
{
	horizontal-align: center_nopixelsnap;
	vertical-align: center_nopixelsnap;
	width: 22px;
	height: 22px;
}

.playerid__icon--hidden
{
	visibility: collapse;
}

.playerid__icon--chat
{
	height: 22px;
}

.playerid__icon--arrow
{
	horizontal-align: center_nopixelsnap;
	vertical-align: center_nopixelsnap;
	width: 18px;
	height: 18px;
}

.low-health .playerid__extrainfo
{
	wash-color: rgb(255, 0, 0);
}

.money .playerid__extrainfo
{
	wash-color: rgb(177, 224, 136);
}

.playerid--team-ct .playerid__icon--arrow,.playerid--team-ct .playerid__name,.playerid--team-ct.normal-health .playerid__extrainfo
{
	wash-color: ct-color;
}

.playerid--team-t .playerid__icon--arrow,.playerid--team-t .playerid__name,.playerid--team-t.normal-health .playerid__extrainfo
{
	wash-color: t-color;
}

.playerid--team-survival .playerid__icon--arrow
{
	wash-color: rgb(0, 195, 225);
}

.playerid--team-survival .playerid__icon--arrowborder
{
	-s2-mix-blend-mode: normal;
	wash-color: rgb(0, 100, 255);
}

#VisiblePlayerPings
{
	width: 100%;
	height: 100%;
}

#UnusedPlayerPings
{
	visibility: collapse;
}

.playerping
{
	width: 1024px;
	height: 1024px;
	transform-origin: 0% 0%;
	x: -512px;
	y: -512px;
}

.playerping__content_parent
{
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;
}

.playerping__content_trans
{
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;
}

.playerping__icons
{
	horizontal-align: center_nopixelsnap;
	vertical-align: center_nopixelsnap;
}

.playerping__icons_add
{
	horizontal-align: center_nopixelsnap;
	vertical-align: center_nopixelsnap;
}

.playerping__icon
{
	horizontal-align: center_nopixelsnap;
	vertical-align: center_nopixelsnap;
}

.playerping__icon--top
{
	wash-color: white;
	-s2-mix-blend-mode: normal;
	img-shadow: 0px 0px 2px 8.0 #555555;
}

.playerping__icon--top-bg
{
	wash-color: white;
	opacity:1.0;
	-s2-mix-blend-mode: normal;
	img-shadow: #FFFFFF 0px 0px 6px 4.75;
	visibility: collapse;
}

.playerping__icon--bg
{
	width: 100%;
	height: 100%;
	horizontal-align: center_nopixelsnap;
	vertical-align: center_nopixelsnap;
	background-color: #FFFFFF;
	opacity-mask: url("s2r://panorama/images/masks/circle_png.vtex");
	visibility: collapse;
}

.playerping--Animate-FadeIn
{
	opacity: 1.0;
	animation-name: playerping--Animate-FadeIn;
	animation-duration: 0.2s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: both;
}

@keyframes 'playerping--Animate-FadeIn'
{
	0%
	{
		opacity: 0.0;
		transform: translateY( 36px );
		transform: scale3d( 0.1, 0.1, 0.5 );
	}
	
	100%
	{
		opacity: 1.0;
		transform: translateY( 0px );
		transform: scale3d( 1, 1, 1 );
	}
	
}

