/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define HudSpecplayer_PanelWidth: 500px;
.hud-spectator-bkg-BOT
{
	width: 100%;
	height: 3px;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 20%, 0% 100%, from( #00000000 ), to( #000000BB ) );
}

.HudSpecplayerRoot
{
	flow-children: none;
	height: 100%;
	width: 100%;
	visibility:collapse;
}

.HudSpecplayer__Bg
{
	visibility: collapse;
	horizontal-align: center;
	vertical-align: bottom;
	width: spec-width;
	height: 72px;
	border-radius: 5px;
	world-blur: hudWorldBlur;
	background-color: hud-blur-bg-color;
}

.HudSpecplayer__Bg.HUD--weapon--scoped
{
	world-blur: none;
}

.HudSpecplayer__Bg_panel
{
	width: spec-width;
	height: 72px;
	vertical-align: bottom;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: .03;
}

.hud-spec-side-bar
{
	width: 2px;
	height: 100%;
	background-color: white;
}

.HudSpecAnimBG
{
	width: 100%;
	height: 100%;
	margin: 0px 5px;
	background-size: 100% auto;
	background-position: 100% 55%;
	border-radius: 3px;
	opacity: .4;
}

.HudSpecAnimBG.hidden
{
	visibility: collapse;
}

.HudSpecplayer__Avatar
{
	visibility:collapse;
	vertical-align: center;
	horizontal-align: center;
	width: 100%;
	height: 100%;
}

.HudSpecplayer__Stats
{
	visibility:collapse;
}

.HudSpecplayerRoot__avatardisplay
{
	visibility: collapse;
}

.HudSpecplayerParentContainer
{
	height: fit-children;
	width: 642px;
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: up;
	visibility: collapse;
	margin-bottom: 10px;
}

.HudSpecplayerRoot--visible
{
	visibility: visible;
	transition-property: transform, opacity;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
}

.HudSpecplayerRoot__player-info
{
	width: HudSpecplayer_PanelWidth;
}

.HudSpecplayerRoot__avatar
{
	width: 57px;
	height: 57px;
	border-radius: 50%;
	horizontal-align: center;
	vertical-align: center;
}

.HUD--team--ct .HudSpecplayerRoot__avatardefault
{
	background-image: url("s2r://panorama/images/hud/teamcounter/teamcounter_alivebgct_png.vtex");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.HUD--team--terrorist .HudSpecplayerRoot__avatardefault
{
	background-image: url("s2r://panorama/images/hud/teamcounter/teamcounter_alivebgt_png.vtex");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.HudSpecplayerRoot__playercolor
{
	visibility:collapse;
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: top;
	img-shadow: 0px 0px 1px 1.0 #000000CC;
}

.HudSpecplayerRoot__playercolor--show
{
	visibility:visible;
}

.HudSpecplayerRoot__avatardisplay
{
	height: 54px;
	width: 54px;
	horizontal-align: left;
	margin-left: 5px;
	margin-bottom: -29px;
	opacity: 1.0;
	img-shadow: 0px 2px 2px 2.0 #313131;
}

.HudSpecplayer__player-name-contianer
{
	horizontal-align: left;
	vertical-align: center;
	padding-left: 14px;
	max-width: 190px;
	text-overflow: ellipsis;
	flow-children: down;
}

.HudSpecplayer__player-name
{
	font-size: 20px;
	height: 21px;
	vertical-align: center;
	text-align: left;
	width: 190px;
	color: rgba(255, 255, 255, 0.753);
	white-space: nowrap;
	text-overflow: shrink min( 14px ) ellipsis;
}

.HudSpecplayer__player-clan
{
	font-size: 16px;
	height: 17px;
	vertical-align: center;
	text-align: left;
	width: 190px;
	color: rgba(255, 255, 255, 0.753);
	text-overflow: ellipsis;
	white-space: nowrap;
}

.HudSpecplayer__Stats_DamageTaken
{
	width: HudSpecplayer_PanelWidth;
	height: 22px;
	horizontal-align: center;
	background-color: gradient( linear, 50% 0%, 100% 0%, from( #000000EE ), to( #00000000 ) );
	font-size: 16px;
	padding-top: 1px;
	padding-left: 6px;
	text-align: left;
	font-family: Stratum2, 'Arial Unicode MS';
	text-shadow: 1px 1px 1px 1.0 black;
	color: #DDDDDDFF;
	text-overflow: shrink;
	visibility: collapse;
}

.Language_vietnamese .HudSpecplayer__player-name,.Language_vietnamese .HudSpecplayer__Stats_DamageTaken
{
	font-family: ForceStratum2, 'Arial Unicode MS';
}

.HudSpecplayer__Stats_DamageTaken--Hidden
{
	visibility: collapse;
}

#HudSpecplayer__Stats
{
	width: HudSpecplayer_PanelWidth;
	height: 28px;
	horizontal-align: center;
	background-color: gradient( linear, 50% 0%, 100% 0%, from( #000000EE ), to( #00000000 ) );
	visibility: collapse;
}

.HudSpecplayer__Stats_Header
{
	flow-children: right;
	vertical-align: top;
	width: 100%;
	height: 10px;
	margin-top: 1px;
	margin-left: 8px;
}

.HudSpecplayer__Stats_Numbers
{
	flow-children: right;
	vertical-align: bottom;
	width: 100%;
	height: 20px;
	margin-left: 8px;
}

.HudSpecplayer__Stats_HeaderText
{
	width: 54px;
	vertical-align: top;
	font-size: 10px;
	text-align: center;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: medium;
	text-shadow: 1px 1px 1px 2.0 black;
	color: #888888FF;
}

.HudSpecplayer__Stats_NumberText
{
	width: 54px;
	vertical-align: bottom;
	font-size: 16px;
	text-align: center;
	font-family: Stratum2, 'Arial Unicode MS';
	text-shadow: 1px 1px 1px 2.0 black;
	color: #FFFFFFFF;
}

.HudSpecplayer__Stats-Text
{
	font-size: 16px;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: medium;
	margin-left: 6px;
	text-shadow: 1px 1px 1px 2.0 black;
	color: #AAAAAAFF;
}

.HudSpecplayer__key-hints
{
	width: fit-children;
	height: 30px;
	horizontal-align: center;
	overflow: noclip;
	flow-children: right;
	visibility: visible;
}

.HudSpecplayer__key-hints-text
{
	width: fit-children;
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 14px;
	text-shadow: 1px 1px 1px 2.0 black;
	color: #BBBBBBFF;
	margin-top: 7px;
	vertical-align: top;
	padding-left: 10px;
}

.HudSpecplayer__key-hints-text--hidden
{
	visibility: collapse;
}

#ServerSponserLogosContainer
{
	width: HudSpecplayer_PanelWidth;
	height: 90px;
	horizontal-align: center;
	background-color: #00000000;
	visibility: collapse;
}

.HudSpecplayer__ReplayPlayerTag
{
	vertical-align: bottom;
	width: 512px;
	x: -256px;
	visibility: collapse;
}

.HudSpecplayer__ReplayPlayerArrow
{
	horizontal-align: center_nopixelsnap;
	vertical-align: bottom;
	width: 42px;
	height: 42px;
	wash-color: #555555FF;
}

.HudSpecplayer__ReplayPlayerText
{
	height: 48px;
	border: 2px solid #555555FF;
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 38px;
	font-weight: bold;
	text-shadow: 1px 1px 1px 2.0 black;
	text-align: center;
	color: #FFFFFFFF;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 32px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: #222222FF;
	visibility: visible;
}

.HudSpecplayer__SponserLogos
{
	height: 110px;
	horizontal-align: center;
	vertical-align: top;
}

.HudSpecplayerContainer
{
	height: 76px;
	width: HudSpecplayer_PanelWidth;
	horizontal-align: center;
	opacity: 1.0;
}

.HudSpecplayerBG
{
	height: 100%;
	width: HudSpecplayer_PanelWidth;
	horizontal-align: center;
	vertical-align: bottom;
	opacity: 1.0;
}

.HudSpecplayerBG__Border
{
	width: 100%;
	height: 100%;
	opacity: 1;
}

.HudSpecplayerBG__MainBG
{
	width: 100%;
	height: 100%;
	opacity: 1;
}

.HudSpecplayerBG__TopStrip
{
	width: 100%;
	height: 2px;
	visibility: collapse;
}

.HudSpecplayerBG__BottomStrip
{
	width: 100%;
	height: 4px;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 0%, 0% 0%, from( #080808FF ), to( #00000000 ) );
	visibility: collapse;
}

.HudSpecplayerBG__DefaultLogo
{
	pre-transform-rotate2d: -20deg;
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	margin-right: 0px;
	margin-bottom: 0px;
	opacity: 0.15;
	background-repeat: no-repeat;
	background-position: 20% 33%;
	background-size: 40% 480%;
	visibility: visible;
}

.HudSpecplayerBG__TeamLogo
{
	pre-transform-rotate2d: -20deg;
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	margin-right: 0px;
	margin-bottom: 0px;
	opacity: 0.15;
	background-repeat: no-repeat;
	background-position: 15% 41%;
	background-size: 17% 215%;
	background-image: url("s2r://panorama/images/hud/winpanel/ct_patch_png.vtex");
	visibility: collapse;
}

.HudSpecplayerRoot--ShowTeamLogo .HudSpecplayerBG__DefaultLogo
{
	visibility: collapse;
}

.HudSpecplayerRoot--TeamCT .HudSpecplayerBG__BottomStrip
{
	background-color: gradient( linear, 50% 0%, 100% 0%, from( #227fbaFF ), to( #227fba00 ) );
}

.HudSpecplayerRoot--TeamCT .HudSpecplayerBG__MainBG
{
	background-color: black;
}

.HudSpecplayerRoot--TeamCT .HudSpecplayerBG__DefaultLogo
{
	background-image: url("s2r://panorama/images/hud/winpanel/ct_patch_png.vtex");
}

.HudSpecplayerRoot--TeamT .HudSpecplayerBG__Border
{
	background-color: gradient( linear, 50% 0%, 90% 0%, from( #1d1910FF ), to( #150d0500 ) );
}

.HudSpecplayerRoot--TeamT .HudSpecplayerBG__BottomStrip
{
	background-color: gradient( linear, 50% 0%, 100% 0%, from( #ddb417FF ), to( #ddb41700 ) );
}

.HudSpecplayerRoot--TeamT .HudSpecplayerBG__DefaultLogo
{
	background-image: url("s2r://panorama/images/hud/winpanel/t_patch_png.vtex");
}

.HudSpecplayerRoot--TeamNone .HudSpecplayerBG__Border
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000FF ), to( #11111100 ) );
}

.HudSpecplayerRoot--TeamNone .HudSpecplayerBG__BottomStrip
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #e2e2e2FF ), to( #78787800 ) );
}

.HudSpecplayerRoot--TeamNone .HudSpecplayerBG__MainBG
{
	background-color: gradient( linear, 0% 0%, 90% 0%, from( #000000FF ), to( #00000000 ) );
}

.HudSpecplayerRoot--TeamNone .HudSpecplayerBG__BottomStrip
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #bebebeFF ), to( #11111100 ) );
}

.HudSpecplayer__ItemContainer
{
	flow-children: left;
	width: 500px;
	height: 96px;
	margin-bottom: 4px;
	horizontal-align: right;
	vertical-align: center;
}

.HudSpecplayer__ItemContainerBG
{
	width: 104px;
	height: 100%;
	vertical-align: bottom;
	border-left: 3px solid #00000044;
	background-color: #00000088;
}

.HudSpecplayer__ItemContainer--Hidden
{
	visibility: collapse;
}

.HudSpecplayer__Item
{
	width: 100%;
	horizontal-align: center;
	vertical-align: center;
	img-shadow: 1px 3px 2px 5.0 #313131;
}

.HudSpecplayer__ItemName__label
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: medium;
	horizontal-align: right;
	vertical-align: center;
	text-align: right;
	width: 190px;
}

#WeaponNameBase
{
	font-size: 16px;
	height: 17px;
}

#WeaponNameKit
{
	font-size: 20px;
	height: 21px;
	text-overflow: shrink min( 14px ) ellipsis;
}

#WeaponNameCustom
{
	font-size: 13px;
	text-overflow: ellipsis;
}

.HudSpecplayer__ItemName
{
	horizontal-align: right;
	vertical-align: center;
	padding-right: 14px;
	max-width: 190px;
	text-overflow: ellipsis;
	flow-children: down;
}

.HudSpecAdr-container
{
	flow-children: right;
	vertical-align: bottom;
}

.HudSpecAdr__text,.HudSpecAdr__text--title
{
	font-size: 13px;
	vertical-align: center;
}

.HudSpecAdr__text--title
{
	text-overflow: shrink;
	font-weight: lighter;
	vertical-align: center;
	padding-right: 2px;
}

.possessive-player-name
{
	color: #adadad;
	text-align:right;
	text-overflow: ellipsis;
	max-width: 10px;
}

