/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.scope
{
	width: 100%;
	height: 100%;
	overflow: noclip;
}

.scope--hidden
{
	visibility: collapse;
}

.scope__dust
{
	width: 100%;
	height: 100%;
	opacity: 0.78;
}

.ScopeCrosshairTypeBlurredLine .scope__line
{
	visibility: collapse;
}

.ScopeCrosshairTypeLine .scope__blurred
{
	visibility: collapse;
}

.scope__line
{
	background-color: black;
	horizontal-align: center;
	vertical-align: center;
}

.scope__crosshair
{
	width: 100%;
	height: 100%;
}

.scope__line--horizontal
{
	width: 100%;
	height: 1px;
}

.scope__line--vertical
{
	width: 1px;
	height: 100%;
}

.scope__blurred
{
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
}

#ScopeVerticalBlurred
{
	height: 1080px;
}

#ScopeHorizontalBlurred
{
	height: 1920px;
}

.scope__circle
{
	horizontal-align: center;
	vertical-align: center;
	border: 3000px solid black;
}

