/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define teamcounter-bg:#000000c0;
@define teamcounter-bg-clock:#000000f0;
@define teamcounter-bg-t: #855f05;
@define teamcounter-bg-ct: #046686;
.debug
{
	font-size: 12px;
	width: 40px;
	text-align: center;
	horizontal-align: center;
}

.show-equip-info
{
	ui-scale: 100%;
	transition-property: ui-scale;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.equipinfo-root
{
	opacity: 0;
	transform: translateY( -100px );
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	width: AvatarLImageWidth;
	horizontal-align: center;
	ignore-parent-flow: true;
	z-index: -10;
}

.equipinfo-root Image
{
	img-shadow: 1px 1px 1px 1 #00000090;
}

.equipinfo-root Label
{
	text-shadow: 1px 1px 1px 1 black;
}

.dead .equipinfo-root Image,.dead .equipinfo-root Label
{
	wash-color: deadwhite;
}

.SHOW-EQUIPINFO .equipinfo-root
{
	opacity: 1;
	transform: translateY( 0px );
}

.equipinfo-root .equipinfo__container
{
	flow-children: down;
	width: 100%;
	padding: 0px 2px;
	padding-top: 78px;
}

.equipinfo-root .equipinfo__row
{
	height: 16px;
	horizontal-align:center;
	margin: 2px 0px;
	visibility: collapse;
}

.equipinfo-root .equipinfo__armor--nohelmet,.equipinfo-root .equipinfo__armor--helmet,.equipinfo-root .equipinfo__c4,.equipinfo-root .equipinfo__defuser
{
	visibility: collapse;
}

.equipinfo-root .equipinfo__row--money,.equipinfo-root.SHOW-WEAPON .equipinfo__row--weapon,.equipinfo-root .equipinfo__row--nades,.equipinfo-root.SHOW-ARMOR .equipinfo__row--armor,.equipinfo-root.SHOW-ARMOR-HELMET .equipinfo__row--armor,.equipinfo-root.SHOW-DEFUSER .equipinfo__row--armor,.equipinfo-root.SHOW-ARMOR .equipinfo__armor--nohelmet,.equipinfo-root.SHOW-ARMOR-HELMET .equipinfo__armor--helmet,.equipinfo-root.SHOW-C4 .equipinfo__c4,.equipinfo-root.SHOW-DEFUSER .equipinfo__defuser
{
	visibility: visible;
}

.equipinfo-root .equipinfo__money
{
	font-size: 17px;
	horizontal-align: center;
	text-align: center;
	color: white;
}

.equipinfo-root .equipinfo__row--nades
{
	flow-children: right;
	overflow: noclip;
}

.equipinfo-root .equipinfo__row--nades .equipinfo__nade
{
	height: 16px;
	vertical-align: center;
	width: 13.5px;
	overflow: noclip;
}

.equipinfo-root .equipinfo__row--armor
{
	flow-children: right;
}

.equipinfo__bg-container
{
	width: 94%;
	height: 176px;
	horizontal-align: center;
	visibility: collapse;
}

.SHOW-EQUIPINFO .equipinfo__bg-container,#ScoreAndTimeAndBomb .equipinfo__bg-container
{
	visibility: visible;
}

.dead .equipinfo__bg-container
{
	height: 101px;
}

#ScoreAndTimeAndBomb .equipinfo__bg-container
{
	height: 106px;
	width: 98%;
}

.deathmatch #ScoreAndTimeAndBomb .equipinfo__bg-container
{
	height: 34px;
}

.equipinfo__bg-container .equipinfo__blurbg
{
	width: 100%;
	height: 100%;
	world-blur: hudWorldBlur;
	opacity-mask: url("s2r://panorama/images/masks/top-bottom-fade-4_png.vtex");
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: 0.15;
	background-position: 100% 100%;
}

.equipinfo__bg-container .equipinfo--score-time__bg
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/score-time-mask.vsvg");
	background-color: teamcounter-bg-clock;
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: 0.025;
	background-position: 100% 100%;
}

.PlayerCountInsteadOfAvatars .equipinfo__bg-container .equipinfo--score-time__bg
{
	opacity-mask: url("s2r://panorama/images/masks/score-time-mask--playercount.vsvg");
}

.deathmatch .equipinfo__bg-container .equipinfo--score-time__bg
{
	opacity-mask: url("s2r://panorama/images/masks/score-time-dm-mask.vsvg");
}

.equipinfo__bg-container .equipinfo__bg
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( teamcounter-bg ), color-stop( 0.5, teamcounter-bg), to( #00000060 ) );
	transition-property: height, brightness;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	opacity-mask: url("s2r://panorama/images/masks/top-bottom-fade-4_png.vtex");
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000ff ), color-stop( 0.5, #000000ff), to( #000000ff ) );
}

#Hud:not(.HUD--localplayer--spectator) #ScoreAndTimeAndBomb .equipinfo__bg-container .equipinfo__bg
{
	background-color: teamcounter-bg;
}

.Avatar__SpectateTarget .equipinfo__bg-container .equipinfo__bg
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #555555ff ), color-stop( 0.3, #555555ff), to( #000000ff ) );
}

.dead .equipinfo__bg-container .equipinfo__bg,#ScoreAndTimeAndBomb .equipinfo__bg-container .equipinfo__bg
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( teamcounter-bg ), to( teamcounter-bg) );
}

.equipinfo__row--divider
{
	width: 80%;
	height: 1px;
	background-color: #ffffff10;
	margin-bottom: 3px;
	horizontal-align: center;
	visibility: collapse;
}

