/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.debug
{
	font-size: 12px;
	width: 40px;
	text-align: center;
	horizontal-align: center;
}

.prdr__root
{
	height: 160px;
	opacity: 0;
	horizontal-align: center;
	width: 58px;
	transform: translateY(-100px);
	ignore-parent-flow: true;
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.show-prdr:not(.SHOW-EQUIPINFO) .prdr__root
{
	opacity: 1;
	transform: translateY(0px);
}

.prdr__damage__bg
{
	width: 40px;
	height: 80px;
	margin-top: 54px;
	horizontal-align: center;
	transform: translateY(-14px);
	ignore-parent-flow: true;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #000000aa ), color-stop(0.8, #00000000), to( #55555500 ) );
}

.TeamCounter__Align--Bottom .prdr__root
{
	visibility: collapse;
}

.TeamCounter__Align--Top .prdr__root
{
	flow-children: down;
	vertical-align: top;
}

.TeamCounter__Align--Bottom .prdr__root
{
	flow-children: up;
	vertical-align: bottom;
}

.TeamCounter__Align--Bottom .avatarl__imagebg,.TeamCounter__Align--Bottom #ScoreAndTimeAndBomb,.TeamCounter__Align--Bottom .AvatarL__Nemesis,.TeamCounter__Align--Bottom .AvatarL__Dominated,.TeamCounter__Align--Bottom .AvatarL__Bot,.TeamCounter__Align--Bottom .AvatarL__Skull
{
	vertical-align: bottom;
}

.TeamCounter__Align--Bottom .AvatarL__PlayerColor
{
	vertical-align: bottom;
	margin-bottom: 48px;
}

.friendlyfire .prdr__damage Label
{
	color: red;
}

.prdr__damage
{
	flow-children: down;
	width: AvatarLBGWidth;
	horizontal-align: center;
	margin-top: 80px;
	transform: translateY(20px);
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

.show-prdr .prdr__damage
{
	transform: translateY(0px);
	opacity: 1;
}

.prdr-dmg
{
	horizontal-align: center;
	opacity: 0;
	height: 40px;
	width: 100%;
}

.prdr-dmg__bg
{
	width: 48px;
	horizontal-align: center;
}

.prdr-dmg--given .prdr-dmg__bg,.prdr-dmg--given .prdr-dmg__icons__bg
{
	wash-color: rgb(64, 255, 64);
	vertical-align:bottom;
}

.prdr-dmg--taken .prdr-dmg__bg,.prdr-dmg--taken .prdr-dmg__icons__bg
{
	wash-color: rgb(77, 77, 77);
	vertical-align:top;
}

.prdr-dmg--taken .prdr-dmg__bg
{
	transform: rotateX(180deg);
}

.given .prdr-dmg--given,.taken .prdr-dmg--taken
{
	opacity: 1;
}

.prdr-dmg__icons
{
	horizontal-align: center;
	vertical-align:center;
	width: 18px;
	height: 18px;
}

.prdr-dmg--given .prdr-dmg__icons
{
	y:-10px;
}

.prdr-dmg--taken .prdr-dmg__icons
{
	y:6px;
}

.prdr-dmg__icons__bg
{
	width: 100%;
	height: 100%;
	background-color: #aaaaaa;
	border-radius: 50%;
	border: 1px solid white;
}

.prdr-dmg--taken .prdr-dmg__arrow
{
	transform: rotateX(180deg);
}

.prdr-dmg__icon
{
	horizontal-align: center;
	vertical-align: center;
	width: 80%;
	visibility: collapse;
}

.given--HUD--killtype-default .prdr-dmg--given .prdr-dmg__default,.given--HUD--killtype-headshot .prdr-dmg--given .prdr-dmg__headshot,.given--HUD--killtype-blast .prdr-dmg--given .prdr-dmg__blast,.given--HUD--killtype-burn .prdr-dmg--given .prdr-dmg__burn,.given--HUD--killtype-slash .prdr-dmg--given .prdr-dmg__slash,.taken--HUD--killtype-default .prdr-dmg--taken .prdr-dmg__default,.taken--HUD--killtype-headshot .prdr-dmg--taken .prdr-dmg__headshot,.taken--HUD--killtype-blast .prdr-dmg--taken .prdr-dmg__blast,.taken--HUD--killtype-burn .prdr-dmg--taken .prdr-dmg__burn,.taken--HUD--killtype-slash .prdr-dmg--taken .prdr-dmg__slash
{
	visibility: visible;
}

.prdr-dmg__icons__bg
{
	visibility: collapse;
}

.given--HUD--killtype-default .prdr-dmg--given .prdr-dmg__icons__bg,.given--HUD--killtype-headshot .prdr-dmg--given .prdr-dmg__icons__bg,.given--HUD--killtype-blast .prdr-dmg--given .prdr-dmg__icons__bg,.given--HUD--killtype-burn .prdr-dmg--given .prdr-dmg__icons__bg,.given--HUD--killtype-slash .prdr-dmg--given .prdr-dmg__icons__bg,.taken--HUD--killtype-default .prdr-dmg--taken .prdr-dmg__icons__bg,.taken--HUD--killtype-headshot .prdr-dmg--taken .prdr-dmg__icons__bg,.taken--HUD--killtype-blast .prdr-dmg--taken .prdr-dmg__icons__bg,.taken--HUD--killtype-burn .prdr-dmg--taken .prdr-dmg__icons__bg,.taken--HUD--killtype-slash .prdr-dmg--taken .prdr-dmg__icons__bg
{
	visibility: visible;
}

.prdr-dmg__arrow
{
	horizontal-align: left;
	vertical-align: center;
	wash-color: white;
	opacity: 1;
	visibility: visible;
	width: 8px;
	height: 8px;
	margin-left: 6px;
}

.prdr-dmg Label
{
	font-size: 12px;
	horizontal-align: center;
	text-align: center;
	color: white;
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
}

.prdr-dmg--given Label
{
	vertical-align:bottom;
}

.prdr-dmg--taken Label
{
	vertical-align:top;
}

.prdr__damage__text
{
	horizontal-align: center;
	vertical-align: center;
	text-align:center;
}

.show-prdr .prdr-dmg
{
	animation-name: icon-show-prdr;
	animation-duration: 1s;
}

@keyframes 'icon-show-prdr'
{
	1%
	{
		wash-color: white;
		opacity: 0;
		brightness: 10;
	}
	
}

