/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.hud-takeover-bot
{
	vertical-align: bottom;
	horizontal-align: center;
	height: 18px;
	visibility: collapse;
	border-radius: 2px;
	transform: translateY( 16px );
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.hud-takeover-bot__text
{
	font-size: 13px;
	color: white;
	font-weight: normal;
	text-align:center;
	vertical-align: center;
	text-shadow: hud-outline-shadow;
	margin-bottom: 4px;
}

.JoinPanel--Animate-FadeIn
{
	opacity: 1;
	visibility: visible;
	transform: translateY( 0px );
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

@keyframes 'JoinPanel--Animate-FadeIn'
{
	0%
	{
		opacity: 0.0;
		transform: translateY( 16px );
	}
	
	100%
	{
		opacity: 1.0;
		transform: translateY( 0px );
	}
	
}

.JoinPanel--Animate-FadeOut
{
	opacity: 0.0;
	transform: translateY( 16px );
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

