/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.tablethints
{
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 0px;
	visibility: collapse;
	transform: translateY( 100% );
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), color-stop(0.2, #000000BB), color-stop( 0.3, #000000CB ) , color-stop(0.7, #000000CB), color-stop(0.8, #000000BB), to( #00000000 ) );
	padding: 12px 16px;
	margin-bottom: 0px;
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.tablethints__text
{
	font-size: 18px;
	font-weight: medium;
	white-space:nowrap;
	letter-spacing: 0.4px;
	margin: 0px 8px;
	text-shadow: 1px 1px #00000088;
	color: white;
}

.tabletenabled.survival .tablethints
{
	visibility: visible;
	transform: translateY( 0% );
}

