/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.hud-vote
{
	flow-children: down;
	visibility: collapse;
	width: 300px;
	opacity: 1.0;
	world-blur: hudWorldBlur;
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: .02;
	background-color: #00000090;
}

.hud-vote.hud-vote-type--auto-instant-surrender
{
	width: 480px;
}

.hud-vote.hud-vote-type--auto-instant-surrender.hud-vote--cast
{
	width: 150px;
}

.hud-vote Label
{
	font-family: Stratum2, 'Arial Unicode MS';
}

.hud-vote-header
{
	flow-children: right;
	opacity: 1;
	width: 100%;
	background-color: #00000040;
	padding: 8px;
}

.hud-vote-header__icon
{
	width: 32px;
	height: 32px;
}

.hud-vote-type-req--regular,.hud-vote-type-req--auto-instant-surrender
{
	visibility: collapse;
}

.hud-vote-type--regular .hud-vote-type-req--regular,.hud-vote-type--auto-instant-surrender .hud-vote-type-req--auto-instant-surrender
{
	visibility: visible;
}

.vote-header-failed .hud-vote-header__icon
{
	wash-color: red;
}

.vote-header-passed .hud-vote-header__icon
{
	wash-color: green;
}

.hud-vote-header__label
{
	padding-left: 5px;
	width: fill-parent-flow(1);
	max-height: 24px;
}

.vote-header-callvote .hud-vote-header__label
{
	padding-left: 0px;
}

.vote-header-passed,.vote-header-failed
{
	visibility: collapse;
}

.hud-vote--failed .vote-header-failed,.hud-vote--passed .vote-header-passed
{
	visibility: visible;
}

.hud-vote--failed .vote-header-callvote,.hud-vote--passed .vote-header-callvote
{
	visibility: collapse;
}

.hud-vote-body
{
	flow-children: right;
	width: 100%;
	opacity: 1;
	margin-bottom: 2px;
	padding-top: 2px;
	-s2-mix-blend-mode: additive;
}

.hud-vote-body__label
{
	color: beige;
	vertical-align: top;
	padding: 16px;
	width: 79%;
}

.hud-vote-type--auto-instant-surrender .hud-vote-body__label
{
	width: 85%;
}

.hud-vote-type--auto-instant-surrender.hud-vote--cast .hud-vote-body__label
{
	visibility: collapse;
}

.hud-vote--callvotefailed .hud-vote-body__label
{
	width: 100%;
}

.hud-vote-boxes
{
	flow-children: down;
	horizontal-align: right;
	height: 100px;
	padding-top: 5px;
	padding-right: 5px;
}

.hud-vote--callvotefailed .hud-vote-boxes
{
	visibility: collapse;
}

.hud-vote-boxes-label
{
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	vertical-align: center;
	width: 60px;
	height: 36px;
}

.hud-vote-boxes Image
{
	width: 36px;
	height: 36px;
}

.hud-vote-yesbox
{
	flow-children: right;
	height: 36px;
	margin-bottom: 8px;
}

.hud-vote-yesbox Image
{
	wash-color: green;
}

.hud-vote-yesbox .hud-vote-boxes-label
{
	color: green;
}

.hud-vote-nobox
{
	flow-children: right;
	height: 36px;
}

.hud-vote-nobox Image
{
	wash-color: red;
}

.hud-vote-nobox .hud-vote-boxes-label
{
	color: red;
}

.hud-vote-footer
{
	width: 100%;
	-s2-mix-blend-mode: additive;
}

.hud-vote--active
{
	visibility: visible;
	animation-name: hudVoteStarted;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
}

.hud-vote--failed
{
	animation-name: hudVoteFinished;
	animation-duration: 4s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.hud-vote--passed
{
	animation-name: hudVoteFinished;
	animation-duration: 4s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.footer__cast-vote-label
{
	visibility: collapse;
	horizontal-align: right;
	padding: 16px;
}

.hud-vote--cast .footer__cast-vote-label
{
	visibility: visible;
}

.footer__vote-binding
{
	visibility: visible;
	padding: 16px;
	width: 100%;
}

.hud-vote--cast .footer__vote-binding,.hud-vote--passed .footer__vote-binding,.hud-vote--failed .footer__vote-binding,.hud-vote--callvotefailed .footer__vote-binding
{
	visibility: collapse;
}

@keyframes 'hudVoteStarted'
{
	0%
	{
		transform: translatex( -380px );
	}
	
	100%
	{
		transform: translatex( 0px );
	}
	
}

@keyframes 'hudVoteFinished'
{
	0%
	{
		transform: translatex( 0px );
	}
	
	90%
	{
		transform: translatex( 0px );
	}
	
	100%
	{
		transform: translatex( -380px );
	}
	
}

