/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM: 0, 0.96, 0.9;
CSGOHudWeaponSelection Label,CSGOWeaponSelectionView Label
{
	color: #fff;
	text-shadow: 1px 1px #00000088;
}

.HUD--team--ct .HWS--use-team-color
{
	wash-color: ct-color;
}

.HUD--team--terrorist .HWS--use-team-color
{
	wash-color: t-color;
}

.weapon-selection
{
	height:fill-parent-flow(1.0);
	width:100%;
	horizontal-align:right;
	vertical-align:bottom;
}

.weapon-selection--hidden
{
	visibility:collapse;
}

.weapon-selection-list
{
	flow-children:up;
	horizontal-align:right;
	vertical-align:bottom;
}

.weapon-selection--animation-enable .weapon-selection-item,.weapon-selection--animation-enable .weapon-row-number
{
	transition-property:opacity;
	transition-duration:0.5s;
	transition-timing-function:linear;
}

.weapon-selection--fade .weapon-selection-item--fade-ok.weapon-row,.weapon-selection--fade .weapon-row-number
{
	opacity: 0;
}

.weapon-selection--animation-enable.weapon-selection--fade.weapon-row,.weapon-selection--animation-enable.weapon-selection--fade .weapon-row-number
{
	transition-property: opacity;
	transition-duration: 0.1s;
}

.weapon-selection-item
{
	flow-children:down;
	opacity:1;
	transform:translateX(125%);
	margin-bottom:0px;
}

.weapon-selection-item--selected.weapon-selection-item
{
	padding-left: 400px;
	margin-left: -400px;
}

.weapon-row--anim .weapon-selection-item
{
	transition-property: position,transform,opacity;
	transition-duration: 0.2s,0.2s,0.2s;
	transition-timing-function: linear;
}

@keyframes 'weapon-selection-item--weapon-selection-item--on-active'
{
	0%
	{
		opacity: 1;
		brightness: 1;
	}
	
	49%
	{
		opacity: 1;
		brightness: 1;
	}
	
	50%
	{
		opacity: 0.5;
		brightness: 4;
	}
	
	99%
	{
		opacity: 0.5;
		brightness: 2;
	}
	
	100%
	{
		opacity: 1;
		brightness: 1;
	}
	
}

@keyframes 'weapon-selection-item--weapon-selection-item--on-active-scale'
{
	0%
	{
		transform: scale3d( 1.0, 1.0, 1.0 );
	}
	
	49%
	{
		transform: scale3d( 1.0, 1.0, 1.0 );
	}
	
	50%
	{
		transform: scale3d( 1.1, 1.1, 1.1 );
	}
	
	99%
	{
		transform: scale3d( 1.0, 1.0, 1.0 );
	}
	
	100%
	{
		transform: scale3d( 1.0, 1.0, 1.0 );
	}
	
}

@keyframes 'weapon-selection-item--weapon-selection-item--on-active-icon'
{
	0%
	{
		brightness: 1;
	}
	
	49%
	{
		brightness: 0.2;
	}
	
	50%
	{
		brightness: 4;
	}
	
	99%
	{
		brightness: 0.2;
	}
	
	100%
	{
		brightness: 1;
	}
	
}

.weapon-selection-item.weapon-selection-item--active
{
	transform:translateX(0px);
}

.weapon-selection-item.weapon-selection-item--active-pop
{
	transform:translateX(0px);
}

.weapon-selection-item.weapon-selection-item--deleted
{
	transform:translateX(0px);
	opacity:0;
}

.weapon-selection-item-name
{
	horizontal-align:right;
	width:1px;
	margin-right:12px;
	margin-top:-8px;
	margin-bottom:4px;
	overflow: noclip;
	opacity:0;
}

.weapon-selection-list__always-on-container .weapon-selection-item-name
{
	margin-top:-16px;
}

.weapon-selection-item--selected .weapon-selection-item-name
{
	opacity:1;
}

.embedded-weapons-overview .weapon-selection-item--selected .weapon-selection-item-name
{
	opacity:0;
}

.weapon-selection-item-name-text,.weapon-selection-item-name-text-owned
{
	font-size: 16px;
	horizontal-align:right;
	text-align:right;
	white-space:nowrap;
}

.weapon-selection--animation-enable .weapon-selection-item--active .weapon-selection-item-name-text,.weapon-selection--animation-enable .weapon-selection-item--active .weapon-selection-item-name-text-owned
{
	animation-name: weapon-selection-item--weapon-selection-item--on-active;
	animation-duration: 0.4s;
	animation-timing-function: linear;
	animation-iteration-count: 8;
}

.weapon-selection-item-name-text-owned
{
	visibility:collapse;
}

.weapon-selection-item--show-owner .weapon-selection-item-name-text-owned
{
	visibility:visible;
}

.weapon-selection-item--show-owner .weapon-selection-item-name-text
{
	visibility:collapse;
}

.weapon-selection-item-count
{
	font-weight: medium;
	visibility:collapse;
	vertical-align:bottom;
	horizontal-align:right;
	margin-bottom:20px;
	margin-right:0px;
	font-size: 16px;
	color:#a0a0a0;
}

.weapon-selection-item--has-multiple .weapon-selection-item-count
{
	visibility:visible;
}

.weapon-selection-item--selected .weapon-selection-item-count
{
	color:#ffffff;
}

.weapon-selection-item-icon
{
	horizontal-align:right;
}

.weapon-selection--animation-enable .weapon-selection-item--active .weapon-selection-item-icon
{
	animation-name: weapon-selection-item--weapon-selection-item--on-active, weapon-selection-item--weapon-selection-item--on-active-scale;
	animation-duration: 0.4s, 0.4s;
	animation-timing-function: linear, linear;
	animation-iteration-count: 8, 8;
}

.weapon-selection--animation-enable .weapon-selection-item--active .weapon-selection-item-icon .weapon-selection-item-icon-main
{
	animation-name: weapon-selection-item--weapon-selection-item--on-active-icon;
	animation-duration: 0.4s;
	animation-timing-function: linear;
	animation-iteration-count: 8;
}

.weapon-selection-item-icon-main
{
	margin-right:10px;
	padding:7px;
	transform: scale3d(0.7,0.7,1);
	wash-color: hsv-transform(color-hud-0, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
	opacity:0.8;
	horizontal-align:center;
	transform-origin: 100% 50%;
}

.gear-slot--3 .weapon-selection-item-icon-main,.gear-slot--4 .weapon-selection-item-icon-main
{
	transform: scale3d(0.7,0.7,1) translateY(6px);
}

.csgo-hud__color-0.HUD--team--ct .hud-colorize-wash--hsv
{
	wash-color: hsv-transform(ct-color, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
}

.csgo-hud__color-0.HUD--team--terrorist .hud-colorize-wash--hsv
{
	wash-color: hsv-transform(t-color, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
}

.csgo-hud__color-12.HUD--team--ct .hud-colorize-wash--hsv
{
	wash-color: hsv-transform(ct-color, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
}

.csgo-hud__color-12.HUD--team--terrorist .hud-colorize-wash--hsv
{
	wash-color: hsv-transform(t-color, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
}

.hud-teammatecolor--yellow.csgo-hud__color-12 .hud-colorize-wash--hsv
{
	wash-color: hsv-transform(color-player-yellow, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
}

.hud-teammatecolor--purple.csgo-hud__color-12 .hud-colorize-wash--hsv
{
	wash-color: hsv-transform(color-player-purple, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
}

.hud-teammatecolor--green.csgo-hud__color-12 .hud-colorize-wash--hsv
{
	wash-color: hsv-transform(color-player-green, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
}

.hud-teammatecolor--blue.csgo-hud__color-12 .hud-colorize-wash--hsv
{
	wash-color: hsv-transform(color-player-blue, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
}

.hud-teammatecolor--orange.csgo-hud__color-12 .hud-colorize-wash--hsv
{
	wash-color: hsv-transform(color-player-orange, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
}

.csgo-hud__color-1 .hud-colorize-wash--hsv
{
	wash-color: hsv-transform(color-hud-1, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
}

.csgo-hud__color-2 .hud-colorize-wash--hsv
{
	wash-color: hsv-transform(color-hud-2, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
}

.csgo-hud__color-3 .hud-colorize-wash--hsv
{
	wash-color: hsv-transform(color-hud-3, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
}

.csgo-hud__color-4 .hud-colorize-wash--hsv
{
	wash-color: hsv-transform(color-hud-4, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
}

.csgo-hud__color-5 .hud-colorize-wash--hsv
{
	wash-color: hsv-transform(color-hud-5, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
}

.csgo-hud__color-6 .hud-colorize-wash--hsv
{
	wash-color: hsv-transform(color-hud-6, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
}

.csgo-hud__color-7 .hud-colorize-wash--hsv
{
	wash-color: hsv-transform(color-hud-7, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
}

.csgo-hud__color-8 .hud-colorize-wash--hsv
{
	wash-color: hsv-transform(color-hud-8, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
}

.csgo-hud__color-9 .hud-colorize-wash--hsv
{
	wash-color: hsv-transform(color-hud-9, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
}

.csgo-hud__color-10 .hud-colorize-wash--hsv
{
	wash-color: hsv-transform(color-hud-10, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
}

.csgo-hud__color-11 .hud-colorize-wash--hsv
{
	wash-color: hsv-transform(color-hud-11, WEAPONSELECTION_UNSELECTED_HSV_TRANSFORM);
}

.weapon-selection-item--selected .weapon-selection-item-icon-main,.weapon-selection-item--selected.weapon-selection-item--bomb:not(.weapon-selection-item--fade-ok) .weapon-selection-item-icon-main
{
	brightness:1.5;
	opacity:1.0;
	-s2-mix-blend-mode: normal;
	transition-property: brightness, transform;
	transition-duration: .2s;
	transform: scale3d(0.9,0.9,1);
}

.gear-slot--3 .weapon-selection-item--selected .weapon-selection-item-icon-main,.gear-slot--4 .weapon-selection-item--selected .weapon-selection-item-icon-main
{
	transform: scale3d(0.9,0.9,1) translateY(6px);
}

.weapon-selection-item--selected.weapon-selection-item--rarity-0 .weapon-selection-item-icon-main
{
	img-shadow: color-rarity-0 0px 0px 3px 1.75;
}

.weapon-selection-item--selected.weapon-selection-item--rarity-1 .weapon-selection-item-icon-main
{
	img-shadow: color-rarity-1 0px 0px 3px 1.75;
}

.weapon-selection-item--selected.weapon-selection-item--rarity-2 .weapon-selection-item-icon-main
{
	img-shadow: color-rarity-2 0px 0px 3px 1.75;
}

.weapon-selection-item--selected.weapon-selection-item--rarity-3 .weapon-selection-item-icon-main
{
	img-shadow: color-rarity-3 0px 0px 3px 1.75;
}

.weapon-selection-item--selected.weapon-selection-item--rarity-4 .weapon-selection-item-icon-main
{
	img-shadow: color-rarity-4 0px 0px 3px 1.75;
}

.weapon-selection-item--selected.weapon-selection-item--rarity-5 .weapon-selection-item-icon-main
{
	img-shadow: color-rarity-5 0px 0px 3px 1.75;
}

.weapon-selection-item--selected.weapon-selection-item--rarity-6 .weapon-selection-item-icon-main
{
	img-shadow: color-rarity-6 0px 0px 3px 1.75;
}

.weapon-selection-item--selected.weapon-selection-item--rarity-7 .weapon-selection-item-icon-main
{
	img-shadow: color-rarity-7 0px 0px 3px 1.75;
}

.weapon-selection-item--selected.weapon-selection-item--rarity-99 .weapon-selection-item-icon-main
{
	img-shadow: color-rarity-99 0px 0px 3px 1.75;
}

@keyframes 'weapon-row-background--weapon-row--on-active'
{
	0%
	{
		opacity: 1;
	}
	
	49%
	{
		opacity: 1;
	}
	
	50%
	{
		opacity: 0.5;
	}
	
	99%
	{
		opacity: 0.5;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

.weapon-selection-item-icon-bombzone
{
	margin-top:18px;
	opacity:0;
}

.weapon-selection--bomb-zone .weapon-selection-item-icon-bombzone
{
	opacity:1;
}

.weapon-selection--animation-enable.weapon-selection--bomb-zone .weapon-selection-item-icon-bombzone
{
	animation-name: bomb-zone-highlight-enter, bomb-zone-bounce, bomb-zone-highlight;
	animation-duration: 0.5s, 1.5s, 0.5s;
	animation-iteration-count: 1, infinite, infinite;
	animation-delay: 0s, 0.4s, 0.15s;
	animation-timing-function: ease-in-out, ease-in-out, ease-in-out;
}

.weapon-selection--fade .weapon-selection-item--fade-ok .weapon-selection-item-icon-bombzone
{
	opacity:0;
}

@keyframes 'bomb-zone-highlight-enter'
{
	0%
	{
		transform: scaleX(1.0) scaleY(1.0);
	}
	
	40%
	{
		transform: scaleX(1.3) scaleY(1.3);
	}
	
	75%
	{
		transform: scaleX(0.8) scaleY(0.8);
	}
	
	100%
	{
		transform: scaleX(1.0) scaleY(1.0);
	}
	
}

@keyframes 'bomb-zone-bounce'
{
	0%
	{
		position: 0px 0px 0px;
	}
	
	25%
	{
		position: 0px 10px 0px;
	}
	
	30%
	{
		position: 0px 2px 0px;
	}
	
	60%
	{
		position: 0px 10px 0px;
	}
	
	95%
	{
		position: 0px 10px 0px;
	}
	
	100%
	{
		position: 0px 0px 0px;
	}
	
}

@keyframes 'bomb-zone-highlight'
{
	0%
	{
		wash-color:color-icon-bomb;
	}
	
	50%
	{
		wash-color:hsv-transform(color-icon-bomb, 0, 0.8, 2);
	}
	
	100%
	{
		wash-color:color-icon-bomb;
	}
	
}

.weapon-row
{
	horizontal-align: right;
	width: 300px;
	opacity: 1;
	margin-right: 6px;
}

.weapon-row.weapon-row--active
{
	opacity:1;
}

.weapon-row.weapon-row--deleted
{
	opacity:0;
}

.weapon-row-background
{
	width:100%;
	height:100%;
	visibility: collapse;
}

.weapon-row--selected .weapon-row-background
{
	visibility: visible;
}

.weapon-selection--animation-enable .weapon-row--active .weapon-row-background
{
	animation-name: weapon-row-background--weapon-row--on-active;
	animation-duration: 0.4s;
	animation-timing-function: linear;
	animation-iteration-count: 8;
}

@define objective-container-position-4: -225px;
@define grenade-bg-pip-width-4: 48px;
@define objective-container-position-3: -170px;
@define grenade-bg-pip-width-3: 52px;
@define objective-container-position-5: -255px;
@define grenade-bg-pip-width-5: 44px;
.weapon-selection-list__always-on-container
{
	horizontal-align:right;
	vertical-align:bottom;
	width: 500px;
	height: 84px;
}

.deathmatch .weapon-selection-list__always-on-container
{
	visibility: collapse;
}

.weapon-row.gear-slot--3
{
	width: 100%;
}

.HUD--max-nades-3 .weapon-row.gear-slot--3
{
	width: 100%;
}

.weapon-row.gear-slot--3 .weapon-selection-item
{
	width: fit-children;
}

.weapon-row.gear-slot--3 .weapon-selection-item-icon
{
	width: grenade-bg-pip-width-3;
}

.HUD--max-nades-4 .weapon-row.gear-slot--3 .weapon-selection-item-icon
{
	width: grenade-bg-pip-width-4;
}

.HUD--max-nades-5 .weapon-row.gear-slot--3 .weapon-selection-item-icon
{
	width: grenade-bg-pip-width-5;
}

.weapon-row.gear-slot--3 .weapon-row-horiz-container-inner
{
	width: fit-children;
}

.weapon-selection-list__always-on-container % .weapon-selection-item-icon
{
	height: 70px;
}

.weapon-selection-list__always-on-container % .weapon-selection-item-icon-main
{
	transform-origin: 50% 50%;
	padding: 0px;
	margin: 0px;
}

.hud-bottom-row-background--right
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-right:16px;
	width: 100%;
	height: 100%;
}

.buymenu .hud-bottom-row-background--right--objective,.buymenu .hud-bottom-row-background--right--nades
{
	world-blur: none;
}

@define chromebg-height: 200px;
@define chromebg-y: 10px;
.hud-bottom-row-background--right--objective,.hud-bottom-row-background--right--nades
{
	margin-bottom: chromebg-y;
	height: chromebg-height;
	horizontal-align: right;
	vertical-align: bottom;
}

.hud-bottom-row-background--right--nades
{
	width: fit-children;
}

.HUD--max-nades-3 .hud-bottom-row-background--right--nades
{
	width: fit-children;
}

.grenade-pip-master-container
{
	height: 100%;
	width:fit-children;
	flow-children:left;
}

.grenade-pip_container
{
	overflow: noclip;
	vertical-align:top;
	horizontal-align:center;
	margin-top:7px;
	width: grenade-bg-pip-width-3;
}

.HUD--max-nades-4 .grenade-pip_container
{
	width: grenade-bg-pip-width-4;
}

.HUD--max-nades-5 .grenade-pip_container
{
	width: grenade-bg-pip-width-5;
}

.HUD--max-nades-3 .nade4
{
	visibility: collapse;
}

.HUD--nades-1 .nade1,.HUD--nades-2 .nade1,.HUD--nades-3 .nade1,.HUD--nades-4 .nade1,.HUD--nades-2 .nade2,.HUD--nades-3 .nade2,.HUD--nades-4 .nade2,.HUD--nades-3 .nade3,.HUD--nades-4 .nade3,.HUD--nades-4 .nade4
{
	opacity: 0;
}

.grenade-pip
{
	height: 50px;
	width: 50px;
	vertical-align: center;
	horizontal-align: center;
	opacity: 0.7;
	wash-color: black;
	-s2-mix-blend-mode: normal;
}

.hud-bottom-row-background--right--objective
{
	width: height-percentage(100%);
	x: objective-container-position-4;
}

.HUD--max-nades-3 .hud-bottom-row-background--right--objective
{
	x: objective-container-position-3;
}

.weapon-selection-item--bomb .WEAPON-ICON
{
	animation-name: bomb-pulse;
	animation-delay: 0s;
	animation-duration:2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'bomb-pulse'
{
	0%
	{
		opacity:1;
		brightness: 0.5;
	}
	
	10%
	{
		opacity:1;
		brightness: 5;
	}
	
	100%
	{
		opacity:1;
		brightness: 0.5;
	}
	
}

.HUD--in-bomb-zone.HUD--has-c4 .weapon-selection-item--bomb
{
	animation-delay: 0s;
	animation-duration:0.4s;
}

.hud-bottom-row-background--right--objective .grenade-pip-master-container
{
	margin-right: 20px;
}

.weapon-row.gear-slot--4,.weapon-row.kit
{
	transform: translateX(objective-container-position-4);
}

.weapon-row.kit
{
	height: 70px;
}

.HUD--max-nades-3 .weapon-row.gear-slot--4,.HUD--max-nades-3 .weapon-row.kit
{
	transform: translateX(objective-container-position-3);
}

.HUD--max-nades-5 .weapon-row.gear-slot--4,.HUD--max-nades-5 .weapon-row.kit
{
	transform: translateX(objective-container-position-5);
}

.weapon-selection-list__kit
{
	vertical-align: center;
	horizontal-align: right;
	height: 40px;
	position: -10px -4px 0px;
	opacity: 0;
}

.HUD--has-kit .weapon-selection-list__kit
{
	opacity: 1;
}

.weapon-row-number
{
	font-size: 16px;
	text-align:center;
	padding-left:2px;
	padding-right:2px;
	margin-right:2px;
	opacity:1;
	vertical-align: top;
	horizontal-align: right;
	margin-bottom:5px;
}

.ConsoleControlsInUse .weapon-row-number
{
	visibility: collapse;
}

.embedded-weapons-overview .weapon-row-number
{
	opacity: 0;
}

.weapon-row-horiz-container
{
	horizontal-align:right;
	width:100%;
}

.weapon-row-horiz-container-inner
{
	flow-children:left;
	horizontal-align:right;
	width:100%;
	margin-right: 10px;
}

.weapon-selection-classic
{
	vertical-align:bottom;
	horizontal-align:right;
	flow-children: up;
}

CSGOHudWeaponSelection CCSGOSteamInputAction
{
	vertical-align: bottom;
	horizontal-align: right;
	visibility: collapse;
}

CSGOHudWeaponSelection .weapon-selection-item-icon CCSGOSteamInputAction
{
	visibility: collapse;
}

.ConsoleControlsInUse CCSGOSteamInputAction.ControllerConnected.NextWeaponSelection
{
	visibility: visible;
}

CSGOHudWeaponSelection .steam-button-glyph
{
	width: 24px;
	height: 24px;
}

CSGOHudWeaponSelection Label.steam-button-name
{
	visibility: collapse;
}

