/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

#MatchListerRoot
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

@keyframes 'highlight'
{
	0%
	{
		Brightness: 2;
		background-color: rgba( 255,255,255,0.05);
	}
	
	20%
	{
		Brightness: 2;
	}
	
	100%
	{
		Brightness: 1;
	}
	
}

.highlight.matchlister__day-container,.highlight .match__root
{
	animation-name: highlight;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

.matchlister__header
{
	height: 30px;
	width: 100%;
}

.matchlister__match-container
{
	flow-children: down;
	width: 100%;
	height: 100%;
	overflow: scroll;
	tooltip-position: left;
}

.matchlister__day-container
{
	flow-children: down;
	width: 100%;
	border-radius: 5px;
}

.matchlister__title
{
	padding: 5px;
	font-size: 14px;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: medium;
	horizontal-align: center;
	letter-spacing: 0px;
	color: white;
	text-align: center;
}

.match__root
{
	padding: 2px;
	margin-top: 4px;
	padding-left: 4px;
	height: 30px;
	width: 100%;
	flow-children: right;
	padding-right: 14px;
	background-color: rgba( 0,0,0,0.2);
	border-radius: 5px;
	transition-property: background-color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.match__root:hover
{
	background-color: rgba( 255,255,255,0.05);
}

.match__root:hover Label
{
	color: white;
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.match__root Label
{
	font-size: 13px;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: medium;
	horizontal-align: center;
	letter-spacing: 0px;
	color: rgba( 200,200,200,1);
}

.no-data RadioButton Label,.no-data Label,.no-data .matchesplayed__dot
{
	color: rgba(0,0,0,0);
	background-color: rgba(0,0,0,0);
}

.mi-meta__map-icon
{
	width:height-percentage(100%);
	height:22px;
	vertical-align:center;
}

.match__results
{
	margin-left: 10px;
}

.match__results__map
{
	width: 80px;
	text-align: left;
	text-transform: uppercase;
	text-overflow:ellipsis;
}

.match__results__myscore
{
	width: 16px;
	text-align: right;
}

.match__results__enemyscore
{
	width: 16px;
	text-align: left;
}

.match--dnf
{
	wash-color: rgba( 128,128,128, 0.75);
}

.match__stat
{
	margin-right: 5px;
}

.match__stat__icon
{
	height: 80%;
	width: height-percentage( 100% );
}

.header
{
	margin-bottom: 5px;
	border-bottom: 1px solid gray;
	color: black;
}

.match__team
{
	flow-children: left;
	vertical-align: center;
	margin-left: 4px;
	min-width: 70px;
}

.avatar-image__icon
{
	height: 20px;
	width: height-percentage( 100% );
	background-image: url("s2r://panorama/images/icons/ui/pro_player.vsvg");
	background-size: 100% 100%;
	background-img-opacity: 1;
	vertical-align: center;
	border: 1px solid rgba( 0,0,0,0);
	opacity:0.5;
	transition-property: opacity, brightness;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.avatar-image__icon:hover
{
	opacity:1;
}

.separator__root
{
	width:100%;
	height: 20px;
	margin-top: 10px;
	margin-left: 10px;
}

.separator__title
{
	font-size: 13px;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: medium;
	horizontal-align: center;
	letter-spacing: 0px;
	color: white;
	width: 100%;
	text-align: left;
}

.match__stat
{
	height: 100%;
	width: 20px;
	wash-color: gray;
	vertical-align: center;
	horizontal-align: right;
}

.match__stat:hover
{
	wash-color: white;
}

.match__details__icon
{
	width: 18px;
	height: 18px;
	horizontal-align: center;
	vertical-align: center;
	background-image: url("s2r://panorama/images/icons/ui/stats.vsvg");
}

