/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define web-line-color: #25D96D90;
@define web-dot-color: #25D96DFF;
@define web-line-thickness: 3;
@define web-line-softness: 0.75;
@define web-fill-color-outer: #00AA0A30;
@define web-fill-color-inner: #00AA0A60;
@define web-bkg-color: #2d2d2dAA;
@define web-guideline-color: #000000DD;
@define web-spoke-color: #000000FF;
@define web-spoke-line-thickness: 3.0;
@define web-spoke-line-softness: 1.0;
@define web-deadzone-pct: 0.1;
@define web-scale: 0.85;
@define max-maps: 9;
@define max-weapon-kd: 2.0;
.playerstats__web-maps__root
{
	height: 100%;
	flow-children: none;
	horizontal-align: left;
	background-color: dark-panel-bg;
	margin-right: 8px;
	padding: 8px;
	border-radius: 5px;
}

.playerstats__web-maps__graph
{
	width: height-percentage( 100% );
	height: 80%;
	horizontal-align: center;
	vertical-align: center;
}

.score-type-dropdown Label,.map-score-label
{
	font-size: 12px;
	font-weight: medium;
}

.score-type-dropdown
{
	margin: 24px 0px 0px 0px;
	padding: 0px 0px 0px 2px;
	horizontal-align: left;
	vertical-align: top;
	width: 90px;
}

.graph-score
{
	width: 5px;
	height: width-percentage( 100% );
	background-color: web-dot-color;
	border-radius: 5px;
	transform: translateX(-2.5px) translateY(-2.5px);
}

.graph-icon
{
	width: 48px;
	height: 48px;
	transform: translateX(-24px) translateY(-24px);
	pre-transform-scale2d: 0.8;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.0s;
	transition-timing-function: ease-in-out;
}

.graph-icon:hover
{
	brightness: 2;
	pre-transform-scale2d: 1;
	transition-duration: 0.3s;
}

.loading-spinner
{
	height: 25%;
	width: height-percentage(100%);
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
}

