/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define web-line-color: #25D96D90;
@define web-dot-color: #25D96DFF;
@define web-line-thickness: 3.0;
@define web-line-softness: 0.75;
@define web-fill-color-outer: #00AA0A30;
@define web-fill-color-inner: #00AA0A60;
@define web-deadzone-pct: 0.1;
@define web-guideline-color: #000000DD;
@define web-bkg-color: #2d2d2dAA;
@define web-spoke-color: #000000FF;
@define web-spoke-line-thickness: 3.0;
@define web-spoke-line-softness: 1.0;
@define web-scale: 0.8;
.playerstats__web-weapons__root
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	background-color: dark-panel-bg;
	padding: 8px;
	border-radius: 5px;
}

.playerstats__web-weapons
{
	height: 80%;
	width: height-percentage( 100% );
	horizontal-align: middle;
	vertical-align: middle;
}

.AspectRatio4x3 .playerstats__web-weapons
{
	height: 70%;
}

.AspectRatio16x9 .playerstats__web-weapons,.AspectRatio16x10 .playerstats__web-weapons,.AspectRatio21x9 .playerstats__web-weapons
{
	height: 90%;
}

.graph-score
{
	width:5px;
	height:width-percentage( 100%);
	border-radius: 50%;
	background-color: web-dot-color;
	transform: translateX(-2.5px) translateY(-2.5px);
}

.graph-icon
{
	animation-name: fadein;
	animation-duration: 0.4s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	wash-color: #c4c4c4ff;
	pre-transform-scale2d: 0.8;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.0s;
	transition-timing-function: ease-in-out;
}

.graph-icon:hover
{
	brightness: 2;
	pre-transform-scale2d: 1;
	transition-duration: 0.3s;
}

@keyframes 'fadein'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1.0;
	}
	
}

.category-button-container
{
	flow-children: down;
	horizontal-align: left;
	vertical-align: middle;
	margin-top: 18px;
}

RadioButton.graph-button
{
	flow-children: down;
	height: 54px;
	margin-top: 10px;
	width: 120px;
	border-radius: 5px;
	padding: 5px 8px 4px 8px;
	margin-bottom: 0px;
}

.no-data RadioButton Label
{
	opacity: 0;
	color: transparent;
}

