/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define heatmap-opacity-min: 0;
@define heatmap-opacity-max: 250;
@define heatmap-point-size: 0.025;
@define heatmap-point-min: 0.0075;
@define heatmap-line-thickness: 0.008;
@define heatmap-hotspot-threshold: 0.5;
.playerstats__heatmap__root
{
	height: 100%;
	background-color: dark-panel-bg;
	margin-left: 8px;
	padding: 8px;
	border-radius: 5px;
}

.playerstats_section_heading_container
{
	flow-children: right;
}

.playerstats_section_heading_button
{
	border-radius: 3px;
	margin-left:4px;
	margin-right:4px;
	padding: 4px;
}

.playerstats__heatmap__mapimage
{
	width: height-percentage( 100% );
	height: 100%;
}

.playerstats__heatmap__canvas
{
	width: height-percentage( 100% );
	height: 96%;
	opacity-mask: url("s2r://panorama/images/heatmaps/heatmap_mask_png.vtex");
}

.hitboxes-container
{
	width: height-percentage( 100% );
	height: 100%;
	z-index: 3;
}

#HitboxesContainerTooltips.hitboxes-container
{
	z-index: 4;
}

.heatmap__container
{
	height: 100%;
	width: height-percentage( 100% );
}

.controls-container
{
	horizontal-align: center;
	z: 1px;
	opacity: 0.2;
	transition-property: opacity;
	transition-duration: 0.01s;
	transition-timing-function: ease-in-out;
}

.no-data .controls-container
{
	opacity: 1;
	background-color: no-data-ghost-bg;
}

.controls-container:hover
{
	opacity:1;
	transition-duration: 0.2s;
}

.team-radio
{
	width: 32px;
	height: width-percentage( 100% );
	border-color: grey;
	border-width: 2px;
	border-radius: 28px;
	border-style: none;
	vertical-align: top;
}

.team-radio:selected
{
	brightness: 2;
	border-style: solid;
}

.RadioBox
{
	visibility: collapse;
}

#RadioButtonTgt.team-radio Image
{
	padding-left: 9px;
	padding-right: 9px;
}

#RadioButtonTgt.team-radio Image,#RadioButtonBlt.team-radio Image
{
	padding-top: 2px;
	padding-bottom: 2px;
}

.no-data RadioButton
{
	opacity: 0;
}

.heatmap-dropdown
{
	width: 130px;
	vertical-align: top;
	margin: 2px;
}

.heatmap-dropdown.team
{
	width: 80px;
}

.heatmap-dropdown.map
{
	width: 100px;
}

.playerstats-dropdown-entry.team
{
	width: 120px;
}

.heatmap-dropdown.heatmap-dropdown-weapons
{
	width: 140px;
}

.heatmap-dropdown Label
{
	font-size: 12px;
	font-weight: medium;
}

.heatmap-container
{
	height: 100%;
	width: height-percentage( 100% );
	horizontal-align: center;
	padding-top: 20px;
}

.hitboxes-container-box
{
	vertical-align: center;
	horizontal-align: center;
	width: 20px;
	height: 20px;
}

.hitboxes-container-label
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 14px;
	font-weight: lighter;
	color: #ffffff88;
	text-shadow: 1px 1px 1px #000000DD;
	border-color: #00000000;
	border-style: solid;
	border-bottom-width: 1px;
}

.hitboxes-container-label.hitboxes-container-label-duplicate1
{
	color: #000000DD;
	text-shadow: -1px -1px 1px #000000DD;
}

.hitboxes-container-label.hitboxes-container-label-duplicate2
{
	color: #000000DD;
	text-shadow: 1px -1px 1px #000000DD;
}

.hitboxes-container-label.hitboxes-container-label-duplicate3
{
	color: #000000DD;
	text-shadow: -1px 1px 1px #000000DD;
}

.hitboxes-container-priority-high .hitboxes-container-label,.hitboxes-container-priority-high.hitboxes-container-label
{
	color: #00ff00AA;
	border-color: #00ff0066;
}

.hitboxes-container-priority-medium .hitboxes-container-label,.hitboxes-container-priority-medium.hitboxes-container-label
{
	color: #bbffbb99;
	border-color: #bbffbb55;
}

.hitboxes-container-priority-low .hitboxes-container-label,.hitboxes-container-priority-low.hitboxes-container-label
{
	color: #ffffff88;
	border-color: #ffffff44;
}

.hitboxes-container-priority-none
{
	visibility: collapse;
}

.hitboxes-container-head
{
	margin-bottom: 262px;
	height: 50px;
	width: 50px;
}

.hitboxes-container-label-head
{
	margin-bottom: 82%;
	margin-left: 5px;
}

.hitboxes-container-bodyupper
{
	width: 68px;
	height: 50px;
	margin-bottom: 160px;
}

.hitboxes-container-label-bodyupper
{
	margin-left: 10px;
	margin-bottom: 50%;
	color: #ffffffDD;
}

.hitboxes-container-bodymid
{
	width: 68px;
	height: 40px;
	margin-bottom: 65px;
}

.hitboxes-container-label-bodymid1
{
	margin-bottom: 52px;
	margin-right: 80px;
	padding-right: 20px;
}

.hitboxes-container-label-bodymid2
{
	height: 35px;
	margin-top: 1px;
	margin-right: 124px;
	padding-right: 20px;
	border-bottom-width: 0px;
	border-right-width: 1px;
}

.hitboxes-container-label-bodymid3
{
	margin-left: 10px;
	margin-bottom: 60px;
	color: #ffffffDD;
}

.hitboxes-container-bodylower
{
	width: 68px;
	height: 40px;
	margin-top: 25px;
}

.hitboxes-container-label-bodylower1
{
	margin-top: 31px;
	margin-right: 70px;
	padding-right: 20px;
}

.hitboxes-container-label-bodylower2
{
	height: 25px;
	margin-top: 74px;
	margin-right: 114px;
	padding-right: 20px;
	border-bottom-width: 0px;
	border-right-width: 1px;
}

.hitboxes-container-label-bodylower3
{
	margin-left: 10px;
	margin-top: 20px;
	color: #ffffffDD;
}

.hitboxes-container-rightarm
{
	width: 60px;
	height: 110px;
	margin-right: 135px;
	margin-bottom: 90px;
}

.hitboxes-container-label-rightarm
{
	margin-right: 190px;
	margin-bottom: 88px;
	padding-right: 35px;
}

.hitboxes-container-leftarm
{
	width: 60px;
	height: 110px;
	margin-left: 135px;
	margin-bottom: 90px;
}

.hitboxes-container-label-leftarm
{
	margin-left: 195px;
	margin-bottom: 88px;
	padding-left: 25px;
}

.hitboxes-container-rightleg
{
	width: 35px;
	height: 120px;
	margin-right: 43px;
	margin-top: 190px;
}

.hitboxes-container-label-rightleg
{
	margin-right: 70px;
	margin-top: 240px;
	padding-right: 35px;
}

.hitboxes-container-leftleg
{
	width: 35px;
	height: 120px;
	margin-left: 35px;
	margin-top: 190px;
}

.hitboxes-container-label-leftleg
{
	margin-left: 75px;
	margin-top: 240px;
	padding-left: 35px;
}

.hidden,.hidden-always
{
	visibility: collapse;
}

.heatmap__legend
{
	width: 130px;
	background-color: rgba( 0,0,0,0.3);
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 4px;
	y: 3px;
	x: 5px;
}

.heatmap__legend Label
{
	opacity: 0.5;
}

.gradient__max,.gradient__min
{
	color: white;
	font-weight: bold;
	font-size: 10px;
}

.gradient__max
{
	text-align: right;
}

.gradient__min
{
	text-align:left;
}

.legend__gradient
{
	height: 5px;
	border-radius: 5px;
}

.heatmap-legend--monotone.heatmap-legend--ct .legend__gradient
{
	background-color:gradient( linear, 0% 0%, 100% 0%, from( #1c56a6 ), color-stop( 0.5, #3e9cf2), to( #C7E4FE ) );
}

.heatmap-legend--monotone.heatmap-legend--t .legend__gradient
{
	background-color:gradient( linear, 0% 0%, 100% 0%, from( #5a3104 ), color-stop( 0.5, #D8B726 ), to( #F8F2B5 ) );
}

.heatmap-legend--monotone.heatmap-legend--anyteam .legend__gradient
{
	background-color:gradient( linear, 0% 0%, 100% 0%, from( #082e13 ), color-stop( 0.5, #2ab340), to( #a4d2ac ) );
}

.heatmap-legend--duotone .legend__gradient
{
	background-color:gradient( linear, 0% 0%, 100% 0%, from( #e80016 ), color-stop( 0.33, #cd5200 ), color-stop( 0.5, #c4b703 ), color-stop(.66, #48af14), color-stop(.8, #27949a ), to( #0010e9 ) );
}

