/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define backgroundGradient: gradient( linear, 75% 100%, 0% 0%, from( #14202b ), to( #1e2d3d ) );
@define baseText: #ccccccff;
@define panel-border: 1px solid rgba(255, 255, 255, 0.1);
@define bg-opacity: 0.2;
@define record-value-color: gold;
@define no-data-ghost-bg: rgba( 0, 0, 0, 0.15);
@define dark-panel-bg: rgba(20, 20, 20, 0.5);
@define radiobutton-hover: rgba(50,50,50,0.8);
@define radiobutton-selected: rgba(100,100,100,0.8);
.stats_width
{
	width: 1250px;
	padding-left: 8px;
	padding-right: 8px;
}

.AspectRatio16x9 .stats_width,.AspectRatio16x10 .stats_width,.AspectRatio21x9 .stats_width
{
	width: 1850px;
}

.RadioBox
{
	visibility:collapse;
}

RadioButton Label
{
	margin: 0px;
}

.subscription-status
{
	height: 100%;
	width: fit-children;
	horizontal-align: right;
	flow-children: right;
}

.subscription-status.stats-subscription-lastday .id-subscription-status-desc
{
	visibility: collapse;
}

.subscription-status.stats-subscription-active .subscription-status__icon
{
	visibility: collapse;
}

.subscription-status__block
{
	padding-left: 12px;
	vertical-align: center;
	flow-children: down;
	margin-right: 16px;
}

.subscription-status__icon
{
	vertical-align: center;
}

.subscription-status__label--small
{
	font-weight: normal;
	color:white;
	font-size: 20px;
	font-family: stratum2Font;
}

.subscription-status__label--yellow
{
	wash-color: rgb(229, 233, 17);
	text-shadow: 1px 1px 1px 1.5 #00000062;
}

.subscription-status__label--green
{
	wash-color: #60ec77;
	text-shadow: 1px 1px 1px 1.5 #00000062;
}

.content-navbar--dropdown DropDown
{
	min-width: 290px;
}

.content-navbar--dropdown
{
	padding-left: 8px;
	border-bottom: 1px solid transparent;
}

.content-navbar__logo
{
	margin-right: 20px;
	height: 72px;
	width: height-percentage( 100% );
}

.content-navbar__manage-btn
{
	flow-children: right;
	border: 1px solid rgba(112, 112, 112, 0.37);
	border-radius: 3px;
	padding: 6px;
	transition-property: background-color;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
}

.content-navbar__manage-btn__icon
{
	vertical-align: center;
	wash-color: rgb( 99, 99, 99 );
	margin-right:8px;
	transform: translateY( -1px );
}

.content-navbar__manage-btn:hover
{
	background-color: rgba(107, 107, 107, 0.089);
	transition-property: background-color;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
}

Button.content-navbar__manage-btn Label
{
	font-size: 14px;
	vertical-align: center;
	color: rgb(94, 94, 94);
	text-transform: uppercase;
	margin-left: 0px;
}

.content-navbar__subscribe-btn
{
	border: 1px solid #60ec7e;
	border-radius: 3px;
	padding: 6px;
	background-color: #0b50177a;
	transition-property: background-color;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
}

.content-navbar__subscribe-btn:hover
{
	background-color: #042c0bb9;
	transition-property: background-color;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
}

TextButton.content-navbar__subscribe-btn Label
{
	font-size: 16px;
	color: #60ec77;
	text-transform: uppercase;
	margin-left: 0px;
}

.playerstats-std-bg
{
	background-color: rgba( 0,0,0,0.2);
	border-radius: 10px;
}

.Spinner
{
	width: 32px;
	height: 32px;
	background-image: url("s2r://panorama/images/icons/ui/loading.vsvg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	animation-name: SpinnerRotate;
	animation-duration: 1.25s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	horizontal-align:center;
	vertical-align:center;
}

@keyframes 'SpinnerRotate'
{
	0%
	{
		transform: scaleX( 1 );
		clip:radial(50% 50%, 0deg, 360deg);
	}
	
	49%
	{
		transform: scaleX( 1 );
		clip:radial(50% 50%, 0deg, 0deg);
	}
	
	50%
	{
		transform: scaleX( -1 );
		clip:radial(50% 50%, 0deg, 0deg);
	}
	
	100%
	{
		transform: scaleX( -1 );
		clip:radial(50% 50%, 0deg, 360deg);
	}
	
}

.playerstats_mode_label_primary
{
	font-weight: normal;
	padding-left: 25px;
}

.playerstats_mode_label_secondary
{
	font-weight: lighter;
	padding-left: 33px;
}

.playerstats_mode_label_primary_section
{
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #ffffff00 ), color-stop( 0.05, #ffffff00 ) , color-stop(0.1, #ffffff55), color-stop( 0.9, #ffffff55 ), color-stop( 0.95, #ffffff00 ), to( #ffffff00 ) );
}

.playerstats_section_heading
{
	margin: 5px 5px 5px 5px;
	font-size: 12px;
	font-family: Stratum2, 'Arial Unicode MS';
}

.playerstats__linegraph-container
{
	background-color: dark-panel-bg;
	border-radius: 5px;
}

.playerstats__matchlister-container
{
	width: 100%;
	background-color: dark-panel-bg;
	border-radius: 5px;
	margin-left: 8px;
}

.playerstats__row--top
{
	width:100%;
	flow-children:right;
	margin-bottom: 4px;
}

.playerstats__row--middle
{
	width:100%;
	horizontal-align: center;
	flow-children:right;
	margin-bottom: 4px;
}

.playerstats__row--bottom
{
	width:100%;
	height: 400px;
	horizontal-align: center;
	flow-children:right;
	margin-top: 4px;
	margin-bottom: 8px;
}

@define normal-text: 14px;
.normal-heading
{
	color: baseText;
	vertical-align: top;
	horizontal-align: left;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: bold;
	font-size: normal-text;
}

.large-heading
{
	horizontal-align: left;
	vertical-align:top;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: bold;
	font-size: 20px;
}

.normal-label
{
	horizontal-align: left;
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: normal-text;
	text-overflow: shrink;
	white-space: nowrap;
}

.label--small
{
	horizontal-align: left;
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 12px;
}

.label--small
{
	horizontal-align: left;
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 12px;
}

.normal-label-no-align
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: normal-text;
}

.normal-value
{
	horizontal-align: right;
	font-family: Stratum2 Mono, "Arial Unicode MS";
	font-weight: bold;
	font-size: normal-text;
	text-align:right;
}

.value--small
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 12px;
	font-weight: bold;
}

.normal-value--no-align
{
	font-family: Stratum2 Mono, "Arial Unicode MS";
	font-weight: bold;
	font-size: normal-text;
	text-align:right;
}

.value--xlarge
{
	horizontal-align: left;
	vertical-align:top;
	font-family: Stratum2 Mono, "Arial Unicode MS";
	font-weight: bold;
	font-size: 50px;
}

.value--medium
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: bold;
	font-size: 18px;
}

.value--large
{
	horizontal-align: left;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: bold;
	font-size: 30px;
}

.value.prereveal
{
	opacity: 0;
}

.value
{
	transition-property: opacity;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}

.value--rank,RadioButton:selected Label.value--rank,RadioButton:hover Label.value--rank
{
	color: #99ff99;
}

.digitpanel-container--large
{
	height: 30px;
	width: 100%;
}

.digitpanel-container--large .digitpanel__digit
{
	width: 14px;
}

.digitpanel-container--large Label
{
	font-size: 30px;
}

.digitpanel-container--xlarge
{
	height: 50px;
	width: 100%;
}

.digitpanel-container--xlarge .digitpanel__digit
{
	width: 24px;
}

.digitpanel-container--xlarge Label
{
	font-size: 45px;
}

.digitpanel-container Label
{
	font-family: Stratum2 Mono, "Arial Unicode MS";
	font-weight: bold;
	color:gradient( linear, 0% 100%, 0% 0%, from( rgba(100,100,100,1) ), color-stop( 0.8, white ), to( white ) );
}

.playerstats__topleft
{
	width: fill-parent-flow(1);
}

.playerstats__topright
{
	width: 325px;
}

.playerstats__records__root
{
	margin-bottom: 4px;
}

.rotatein,.slidein
{
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

.rotatein
{
	transform: scale3D(0.5, 0.5, 0.5) translateX(40px) rotateX(-90deg);
}

.slidein
{
	transform: scale3D(0.9, 0.9, 0.9) translateX(0px) translateY(50px);
}

.stats-panel
{
	background-color: dark-panel-bg;
	border-radius: 5px;
	margin-bottom: 8px;
	padding: 2px;
}

.stats-panel--mainrow
{
	horizontal-align: left;
	flow-children:right;
	height: 180px;
	width: fill-parent-flow(1);
}

.stats-panel--2ndrow
{
	height: 80px;
}

.vertical-divider
{
	vertical-align: center;
	width: 1px;
	height: 90%;
	border:1px solid rgba(255,255,255,0.1);
}

.horizontal-divider
{
	horizontal-align: center;
	width: 1px;
	width: 90%;
	border:1px solid rgba(255,255,255,0.1);
}

.stats-panel__cell
{
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.stats-panel__cell__sub
{
	padding-top: 8px;
	padding-bottom: 8px;
}

.debug
{
	border: 1px solid red;
}

.mainrow__matchesplayed
{
	width: 14.5%;
	min-width: 130px;
}

.mainrow__adr
{
	width: 14.5%;
	min-width: 130px;
}

.mainrow__kdr
{
	width: 14.5%;
	min-width:130px;
}

.mainrow__kills
{
	width: 13.3%;
	min-width: 120px;
}

.mainrow__1vx
{
	width: 16.7%;
	min-width: 150px;
}

.onevx__1v1
{
	height: 50%;
}

.onevx__1v2
{
	height: 50%;
}

.matchesplayed__dot
{
	height: 5px;
	width: height-percentage( 100% );
	border-radius: 50%;
	vertical-align: center;
	margin-right:5px;
}

.match--win
{
	background-color: rgb(0, 252, 0);
}

.match--tie
{
	background-color: olive;
}

.match--loss
{
	background-color: rgb(208, 0, 0);
}

.mainrow__weapons
{
	width: 26.5%;
}

.weapons__row
{
	height: 20%;
	padding: 4px;
	tooltip-position:left;
}

.weapons__row__kd
{
	x: 30px;
}

.weapons__row Image
{
	height: 100%;
}

.stats-panel--mapmates
{
	width: 40%;
	margin-right: 8px;
}

.stat__mate__icon,.stat__map__icon
{
	width: 48px;
	height: 48px;
	vertical-align: center;
	horizontal-align: right;
	border-radius: 5px;
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.stats-panel--misc
{
	width: 60%;
}

.stats-panel--graphbtn
{
	margin: 4px;
	height: 60px;
}

.width-fill-parent-flow
{
	width: fill-parent-flow(1);
}

#Contents
{
	padding: 0px;
	background-color: rgba(0,0,0,0);
	border-radius: 0px;
	box-shadow: 0px 0px 5px 5.0 rgba(255, 0, 0, 0.8);
}

.TooltipContainer.LeftArrowVisible #Contents
{
	min-height: 0px;
}

.playerstats-tt__root
{
	border: 1px solid black;
	padding: 15px;
	margin: 0px;
	border-radius: 5px;
	flow-children: down;
	background-color:black;
}

.limit-width .playerstats-tt__root
{
	max-width: 200px;
}

.playerstats-tt_statbtn__curve
{
	width: 100%;
	height: width-percentage( 50% );
	padding: 10px;
}

.playerstats-tt__root Label
{
	font-size: 14px;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: medium;
	letter-spacing: 0px;
	line-height: 20px;
	color: baseText;
}

.playerstats-tt__root--statbutton Label
{
	text-align: center;
}

.tt__graph-stat-value__match
{
	margin-bottom: 5px;
	flow-children:right;
	horizontal-align:center;
}

.playerstats-tt__stat-name
{
	margin-right: 10px;
}

.playerstats-tt__match__map
{
	text-align: right;
	text-transform: uppercase;
}

.playerstats-tt__match__myscore
{
	width: 16px;
	text-align: right;
}

.playerstats-tt__match__enemyscore
{
	width: 16px;
	text-align: left;
}

.playerstats-tt__match--win Label
{
	color: green;
}

.playerstats-tt__match--loss Label
{
	color: red;
}

.playerstats-tt__match--tie Label
{
	color: rgb(175, 175, 0);
}

.playerstats-tt__match--dnf
{
	background-color: rgba(112, 0, 0, 0.4);
}

.playerstats-tt__header
{
	margin-bottom: 5px;
	border-bottom: 1px solid gray;
	color: black;
	horizontal-align: center;
}

.playerstats-tt__matches
{
	flow-children: down;
	horizontal-align: center;
	max-height: 122px;
}

.playerstats-tt__blurbackground
{
	background-color:backgroundGradient;
	blur:gaussian( 2, 2, 6 );
	width: 100%;
	height: 100%;
	opacity: 0.7;
}

.playerstats-tt__root--matchstats
{
	flow-children: down;
}

.playerstats-tt__row
{
	flow-children:right;
}

.tt__column__name
{
	flow-children:down;
}

.tt__column__name__primary-value
{
	flow-children:down;
}

.tt__column__name__secondary-value
{
	flow-children:down;
}

.playerstats-tt__root--matchstats .divider
{
	border:1px solid baseText;
	margin: 10px;
	width: 100%;
	height: 1px;
}

.playerstats-tt__title
{
	text-align: right;
	font-size: 16px;
	width: 50px;
	margin-right: 10px;
}

Label.playerstats-tt__value
{
	text-align: center;
	vertical-align:bottom;
	font-size: 16px;
	width: 50px;
}

.tt__column__name__secondary-value Label.playerstats-tt__value
{
	font-size: 14px;
	vertical-align:center;
}

.tt__value-container
{
	height: 20px;
	vertical-align: bottom;
	overflow: noclip;
	horizontal-align: right;
}

.mode4096 .hide-wingman,.mode8192 .hide-wingman,.mode12288 .hide-wingman
{
	visibility: collapse;
}

.singlematch__root
{
	horizontal-align:center;
	vertical-align:bottom;
	transform: translateY( 100%);
	padding-left: 96px;
	padding-right:96px;
	width:100%;
	height:984px;
	background-color: rgba( 0,0,0,0.9);
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
}

.singlematch__root.reveal
{
	transform: translateY( 0%);
}

.singlematch__root .mi-main
{
	transition-property: none;
	transition-duration: 0s;
	transition-timing-function: ease-in-out;
}

.singlematch__dismiss.PopupButton
{
	vertical-align: top;
	horizontal-align: right;
}

#PageSpinner
{
	margin-left: 30px;
}

.incomplete-notice
{
	opacity: 0;
}

.stats-loading.incomplete-notice
{
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.playerstats__nodata_notice
{
	horizontal-align: center;
	vertical-align: center;
	opacity: 0;
}

.playerstats__nodata_notice Label
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 14px;
	margin-left: 10px;
	width: 400px;
}

Panel,Label,CSGOAvatarImage
{
	transition-property: background-color, color;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.no-data.playerstats__records__root
{
	background-color: dark-panel-bg;
	border-radius: 5px;
}

.no-data RadioButton Label,.no-data Label,.no-data .matchesplayed__dot
{
	color: transparent;
	background-color: transparent;
}

.no-data .hide-nodata
{
	opacity: 0;
}

.no-data .stat__mate__icon
{
	opacity: 0;
	visibility: collapse;
}

.no-data .normal-heading
{
	background-color: no-data-ghost-bg;
}

.no-data .horizontal-divider,.no-data .vertical-divider
{
	border: 1px solid rgba(255,255,255,0.00);
}

.no-data .stats-panel
{
	background-color: rgba(0,0,0,0);
}

.no-data Image
{
	opacity: 0.0;
}

.no-data SpiderGraph,.no-data UICanvas
{
	opacity: 0.5;
	wash-color:black;
	blur: gaussian( 2,1,1 );
}

.no-data #GraphContainerBG
{
	border-color:transparent;
	opacity: 0;
}

.no-data DropDown
{
	opacity: 0;
	background-color: no-data-ghost-bg;
}

.no-data .value--rank,.no-data .RadioButton
{
	opacity: 0;
	color: transparent;
}

.data-message
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 14px;
	font-family: 'Arial Unicode MS';
	color: white;
}

.playerstats-dropdown
{
	background-size: 12px 12px;
	background-position: right 20px 70%;
	height: 24px;
	background-color: #00000060;
	padding: 0px 0px;
	margin-right: 6px;
	border-radius: 2px;
}

.playerstats-dropdown-entry
{
	font-size: 12px;
	text-transform: none;
	color: baseText;
	font-family: Stratum2 Mono, "Arial Unicode MS";
	font-weight: bold;
	width: 128px;
}

.playerstats-dropdown-entry Label
{
	text-overflow: shrink;
}

DropDown.playerstats-dropdown:focus Label
{
	color: baseText;
}

RadioButton
{
	transition-property: background-color, color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

RadioButton:not(selected):hover
{
	background-color: radiobutton-hover;
}

RadioButton:not(hover):selected
{
	background-color: radiobutton-selected;
}

.map-graph-tooltip-labels
{
	flow-children: right;
	min-width: 140px;
	text-overflow: shrink;
}

