/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.btn_advertising
{
	horizontal-align: center;
	width: 96px;
	height: 96px;
}

.btn_advertising__img-ring,.btn_advertising__img-pole,.btn_advertising__img-ring-outer
{
	vertical-align:center;
	horizontal-align: center;
	padding: 4px;
	transition-property: wash-color;
	transition-duration: 0.40s;
	transition-timing-function: ease-in-out;
}

.advertising-active .btn_advertising__img-pole
{
	wash-color: #2ddd33;
}

.advertising-active .btn_advertising__img-ring
{
	wash-color: #2ddd33;
	animation-name: advertising-ring-active;
	animation-duration: 2.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.advertising-active .btn_advertising__img-ring-outer
{
	wash-color: #2ddd33;
	animation-name: advertising-ring-outer-active;
	animation-duration: 2.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes 'advertising-ring-active'
{
	from
	{
		transform: scale3d( .0, .0, 1 );
		opacity: 1;
	}
	
	50%
	{
		transform: scale3d( 2.5, 2.5, 1 );
		opacity: 0;
	}
	
	100%
	{
		transform: scale3d( 2.5, 2.5, 1 );
		opacity: 0;
	}
	
}

@keyframes 'advertising-ring-outer-active'
{
	from
	{
		transform: scale3d( 0, 0, 0 );
		opacity: 1;
	}
	
	100%
	{
		transform: scale3d( 2, 2, 1 );
		opacity: 0;
	}
	
}

