/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.avatar
{
	width: fit-children;
	height: fit-children;
	vertical-align: center;
	brightness: 1;
	transform:Scale3d(1, 1, 1);
	transition-property: brightness, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.avatar-flair
{
	width: fit-children;
	height: 72px;
	y: -5px;
	x: 0px;
}

.avatar--party .avatar-flair
{
	height: 20px;
}

.avatar-flair__icon
{
	vertical-align: top;
	horizontal-align: left;
	height: 38px;
	z-index: 2;
	opacity: 1;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.avatar-lobby-leader
{
	horizontal-align: left;
	vertical-align: center;
	wash-color: #FFD700;
	margin-left: 8px;
}

.avatar-lobby-speaking
{
	horizontal-align: left;
	vertical-align: bottom;
	wash-color: #FFD700;
	margin-bottom: 5px;
}

.avatar--party .avatar-flair__icon
{
	height: 32px;
	img-shadow: 1px 1px 1px 1.0 #0000003b;
}

.avatar-image
{
	width: fit-children;
	height: fit-children;
	vertical-align: top;
	horizontal-align: left;
	margin: 12px 0px 12px 16px;
	flow-children: right;
}

.eom .avatar-image
{
	margin: 0px;
	border-radius: 50%;
}

.team-select-teammate .avatar--party .avatar-image
{
	margin: 0px 0px 0px 0px;
}

.avatar--party .avatar-image
{
	margin: 0px 0px 0px 12px;
}

.avatar-image__status
{
	width: 4px;
	height: 64px;
	box-shadow: black 0px 0px 8px 0px;
	z-index: 2;
}

.avatar--party .avatar-image__icon,.avatar--vanity .avatar-image__icon
{
	box-shadow: black 0px 0px 0px 0px;
}

.avatar-image__status--ingame
{
	background-color: #4CAF50;
}

.avatar-image__status--online
{
	background-color: #4ABAF6;
}

.avatar-image__status--offline
{
	background-color: grey;
}

.avatar-image__status--profile
{
	margin-left: 18px;
}

.avatar-image__icon
{
	width: 64px;
	height: 64px;
	brightness: 1;
	box-shadow: black 0px 0px 8px 0px ;
	transition-property: brightness, border, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.avatar-image__default
{
	background-color: rgba(209, 209, 209, 0.25);
	background-image: url("s2r://panorama/images/icons/ui/player.vsvg");
	background-size: 70% 70%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
	border: 0px solid white;
	transition-property: border;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.avatar--party .avatar-image__icon,.avatar--party .avatar-image__default
{
	width: 40px;
	height: 40px;
}

.friendslist .avatar:hover:not(.avatar--party) .avatar-image__icon,.eom-survival .avatar:hover:not(.avatar--party) .avatar-image__icon
{
	border: 3px solid white;
	brightness: 1;
	transition-property: border, brightness;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.avatar-teamcolor
{
	horizontal-align: center;
	visibility: visible;
	opacity: 1;
	img-shadow: 2px 2px 3px #000000;
}

.avatar-flair.hidden,.avatar-flair__icon.hidden,.avatar-image__icon.hidden,.avatar-image__status.hidden,.avatar-teamcolor.hidden,.avatar-lobby-leader.hidden,.avatar-lobby-speaking.hidden
{
	visibility: collapse;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.avatar-survival__avatar-dead
{
	margin-top: 76px;
	width: 64px;
	height: 54px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #cc000022 ), to( #97000000 ) );
}

.avatar-survival__avatar-dead--nocolor
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #acacac22 ), to( #83838300 ) );
}

