/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.btn_advertising
{
	vertical-align: center;
	horizontal-align: right;
}

.btn_advertising--playmenu
{
	border-right: 1px solid rgba(255, 255, 255, 0.05);
	padding-right:16px;
}

.btn_advertising__toggle
{
	wash-color: rgb(206, 206, 206);
	transition-property: wash-color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.btn_advertising__toggle:selected
{
	wash-color: none;
}

.btn_advertising__toggle:disabled
{
	wash-color: disabledColor;
}

.btn_advertising__toggle .TickBox
{
	visibility: collapse;
}

.btn_advertising__img-ring,.btn_advertising__img-pole,.btn_advertising__img-ring-outer
{
	vertical-align:center;
	horizontal-align: center;
	padding: 4px;
}

.btn_advertising__toggle:selected .btn_advertising__img-pole
{
	animation-name: advertising-pole-active;
	animation-duration: 2.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	wash-color: #19791c;
}

.btn_advertising__toggle:selected .btn_advertising__img-ring
{
	animation-name: advertising-ring-active;
	animation-duration: 2.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	wash-color: #19791c;
}

.btn_advertising__toggle:selected .btn_advertising__img-ring-outer
{
	animation-name: advertising-ring-outer-active;
	animation-duration: 2.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	wash-color: #19791c;
}

@keyframes 'advertising-pole-active'
{
	from
	{
		img-shadow: 0px 0px 0px 0.0 #19791c;
		wash-color: #19791c;
	}
	
	10%
	{
		img-shadow: 0px 0px 2px 1.0 #37da3d;
		wash-color: #37da3d;
	}
	
	90%
	{
		img-shadow: 0px 0px 2px 1.0 #37da3d;
		wash-color: #37da3d;
	}
	
	to
	{
		img-shadow: 0px 0px 0px 0.0 #19791c;
		wash-color: #19791c;
	}
	
}

@keyframes 'advertising-ring-active'
{
	from
	{
		img-shadow: 0px 0px 0px 0.0 #19791c;
		wash-color: #19791c;
	}
	
	22%
	{
		img-shadow: 0px 0px 0px 0.0 #19791c;
		wash-color: #19791c;
	}
	
	33%
	{
		img-shadow: 0px 0px 2px 1.0 #37da3d;
		wash-color: #37da3d;
	}
	
	90%
	{
		img-shadow: 0px 0px 2px 1.0 #37da3d;
		wash-color: #37da3d;
	}
	
	to
	{
		img-shadow: 0px 0px 0px 0.0 #19791c;
		wash-color: #19791c;
	}
	
}

@keyframes 'advertising-ring-outer-active'
{
	from
	{
		img-shadow: 0px 0px 0px 0.0 #19791c;
		wash-color: #19791c;
	}
	
	55%
	{
		img-shadow: 0px 0px 0px 0.0 #19791c;
		wash-color: #19791c;
	}
	
	66%
	{
		img-shadow: 0px 0px 2px 1.0 #37da3d;
		wash-color: #37da3d;
	}
	
	90%
	{
		img-shadow: 0px 0px 2px 1.0 #37da3d;
		wash-color: #37da3d;
	}
	
	to
	{
		img-shadow: 0px 0px 0px 0.0 #19791c;
		wash-color: #19791c;
	}
	
}

