/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.navbar-btn__notification
{
	height: fit-children;
	width: fit-children;
	background-color: #D8760E;
	border-radius: 2px;
	box-shadow: shadowOffset;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 4px;
	opacity: 1;
	transform:Scale3d(1, 1, 1) translateX(0px);
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.navbar-btn__notification--horizontal-left
{
	margin-bottom: 0px;
	vertical-align: center;
}

.navbar-btn__notification-dot
{
	background-color: #D8760E;
	border-radius: 50%;
	transform:Scale3d(1, 1, 1);
	opacity: 1;
	vertical-align: center;
	margin: 8px;
	width: 12px;
	height: 12px;
	box-shadow: fill #0000005e 0px 0px 2px 2px;
	visibility: visible;
}

.navbar-btn__notification.text-only
{
	background-color: none;
	box-shadow: none;
}

.navbar-btn__notification.overwatch
{
	background-color: blueColor;
}

.navbar-btn__notification.hidden,.navbar-btn__notification--horizontal-left.hidden,.hide-notification .navbar-btn__notification
{
	opacity: 0;
	transform:Scale3d(0, 0, 0);
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.navbar-btn__notification-dot.hidden
{
	visibility: collapse;
}

.navbar-btn__notification-text
{
	font-size: 12px;
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
	margin: 0px 0px;
	padding: 0px 4px;
	color: white;
	max-width: 64px;
	height: 16px;
	text-overflow: ellipsis;
}

.navbar-btn__notification-text.shadow
{
	text-shadow: 2px 2px 4px 3.0 #00000040;
}

