/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define buy-icon-disabled: #4c4c4c;
@define buywheel-height:800px;
@define player-container-width:634px;
@define buywheel-plus-padding:650px;
@define buymenu-background-color: #00000096;
.hrTop
{
	width: 100%;
	height: 2px;
	vertical-align: top;
}

.hrBot
{
	width: 100%;
	height: 2px;
	vertical-align: bottom;
}

.buymenu
{
	visibility: collapse;
	flow-children: down;
	vertical-align: center;
	horizontal-align: center;
	background-color: rgba(0, 0, 0, 0.95);
	width: 100%;
	height: 100%;
}

.WindowRoot_TripleMonitor .buymenu
{
	horizontal-align: center;
	width: 33%;
}

.buymenu__fullscreen
{
	flow-children:none;
	width:100%;
	height:100%;
}

.buymenu__contents
{
	flow-children: right;
	transform: translateX(-50px);
	horizontal-align:center;
	height:fill-parent-flow(1);
}

.buymenu-navbar
{
	vertical-align: bottom;
	horizontal-align: center;
	border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.buymenu-navbar Label
{
	font-family: Stratum2 Condensed, 'Arial Unicode MS';
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.buymenu-navbar .buymenu__for-teammate
{
	color: rgb(161, 161, 161);
	margin:16px 12px 12px;
}

.deathmatch .buymenu-navbar .buymenu__for-teammate
{
	opacity: 0;
}

.buymenu-navbar .buymenu__for-teammate.active
{
	color: rgb(161, 161, 161);
}

.buymenu-left
{
	vertical-align: center;
	horizontal-align: right;
	flow-children: down;
	margin-left: 16px;
}

.buymenu__purchase-failure-container
{
	horizontal-align: center;
	margin-top: 6px;
	vertical-align: bottom;
	flow-children: down;
	height: 30px;
	width: 100%;
}

.buymenu__purchase-failure-container .buymenu__purchase-failure
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 16px;
	width: 100%;
	padding: 6px 0px;
	color: white;
	text-align: center;
	background-color: rgba(104, 94, 7, 0.596);
	animation-name: failure-pulse;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 2;
	horizontal-align: center;
	brightness: 1;
	transition-property: height, opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.buymenu__purchase-failure-container .buymenu__purchase-failure--teammate
{
	color: white;
}

.buymenu__purchase-failure-container .buymenu__purchase-failure.Hidden
{
	height: 0px;
	opacity: 0;
}

.buymenu__purchase-failure-container #PurchaseFailureLabel
{
	animation-name: fadein;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

@keyframes 'fadein'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1.0;
	}
	
}

@keyframes 'failure-pulse'
{
	0%
	{
		saturation: 1.0;
	}
	
	50%
	{
		saturation: 0.0;
	}
	
	100%
	{
		saturation: 1.0;
	}
	
}

.buymenu-money
{
	horizontal-align: left;
	vertical-align: bottom;
}

.buymenu-info
{
	horizontal-align: right;
	width: 950px;
	background-color: rgba(26, 26, 26, 0.75);
	margin-bottom: 4px;
}

.buymenu-info .buymenu-timeleft
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
}

.buymenu-info .buymenu-timeleft .buymenu-timeleft-title
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: normal;
	color: rgba(255, 255, 255, 0.356);
}

.buymenu-info Label
{
	font-family: Stratum2 Bold Monodigit, 'Arial Unicode MS';
	font-size: 22px;
	padding: 6px 0px;
	color: white;
	overflow: noclip;
	margin-left: 10px;
	vertical-align:center;
}

.buymenu-info .buymenu-timeleft-timer
{
	width: 102px;
}

.buy-wheel-background
{
	height: 100%;
	width:100%;
	background-color:rgba(26, 26, 26, 0.75);
	opacity: 1;
	margin: 0px;
	position: 0px 0px 0px;
	vertical-align: center;
	horizontal-align: center;
}

.buymenu-body .buy-wheel-background
{
	height: 100%;
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: 0.01;
}

.buy-wheel-edges
{
	height: 100%;
	width: height-percentage(100%);
	vertical-align: center;
	horizontal-align: center;
	opacity: 0.5;
}

.comment-out-this-line-to-debug .buy-wheel-background
{
	background-color: none;
	background-image: url("s2r://panorama/images/masks/itemlocationhelper.vsvg");
	background-size: 100% auto;
	background-img-opacity: 1;
}

.comment-out-this-line-to-debug .buywheel-wedge .buywheel-wedge__inner
{
	vertical-align: center;
	horizontal-align: center;
	border: 1px solid yellow;
	width: 5px;
	height: 5px;
	min-width: 0px;
	padding: 0px;
}

.buy-wheel
{
	height: 100%;
	width: 100%;
	horizontal-align: center;
	vertical-align: center;
	position: 0px 0px 0px;
}

.loadout .buywheel-wedge .buywheel-category__contents
{
	flow-children: none;
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;
}

.loadout .buywheel-wedge .buywheel-category__contents .buywheel-category__title
{
	opacity: 1;
	horizontal-align: center;
	vertical-align: center;
	color: white;
	font-size: 24px;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: bold;
	text-overflow: shrink;
	margin: 0px;
}

.loadout .buywheel-wedge .buywheel-button__key
{
	horizontal-align: left;
	vertical-align: center;
	opacity: 0.4;
	height: 30px;
	margin-left:5px;
}

.loadout .buywheel-wedge .buywheel-wedge__inner
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	overflow: noclip;
}

.AspectRatio4x3 .loadout .buywheel-wedge .buywheel-wedge__inner ItemImage
{
	max-width: 200px;
}

.loadout .buywheel-wedge .buywheel-wedge__inner Label
{
	font-family: Stratum2, 'Arial Unicode MS';
}

.buymenu-agent
{
	width: 100%;
	height: 100%;
	horizontal-align:left;
}

@keyframes 'ping'
{
	0%
	{
		brightness: 0.65;
	}
	
	100%
	{
		brightness: 1;
	}
	
}

.highlit-agent
{
	animation-name: ping;
	animation-duration: .1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	brightness: 1.0;
}

.weapon-icons__image
{
	wash-color:baseText;
	height: 20px;
	opacity: 0.8;
	vertical-align:center;
	horizontal-align: center;
}

.buymenu-right
{
	flow-children: none;
	padding-top: 38px;
	z-index: -1;
}

.rarity-bar
{
	vertical-align: top;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( color-rarity-default ), to (rgba(128, 128, 128, 0) ) );
	height: 32px;
	width: 100%;
	margin-bottom: 8px;
}

.common.rarity-bar
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(153, 153, 153) ), to (rgba(128, 128, 128, 0) ) );
}

.uncommon.rarity-bar
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( color-rarity-uncommon ), to (rgba(128, 128, 128, 0) ) );
}

.rare.rarity-bar
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( color-rarity-rare ), to (rgba(128, 128, 128, 0) ) );
}

.mythical.rarity-bar
{
	background-color:gradient( linear, 0% 0%, 100% 0%, from( color-rarity-mythical ), to (rgba(128, 128, 128, 0) ) );
}

.ancient.rarity-bar
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( color-rarity-ancient ), to (rgba(128, 128, 128, 0) ) );
}

.legendary.rarity-bar
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( color-rarity-legendary ), to (rgba(128, 128, 128, 0) ) );
}

.immortal.rarity-bar
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( color-rarity-immortal ), to (rgba(128, 128, 128, 0) ) );
}

.buywheel-item__image
{
	horizontal-align: center;
	vertical-align: center;
}

.team-equip__special
{
	border-right: 1px solid white;
	margin-right: 4px;
	padding-right: 8px;
	height: 24px;
}

.RadioBox
{
	opacity: 0;
}

.RadioButton Label
{
	margin-left: 0px;
}

.team-logo
{
	horizontal-align: center;
	vertical-align: center;
	height: 90px;
	width: height-percentage(100%);
	brightness: 1;
	margin-top: 0px;
	position: 0px 0px 0px;
}

.buymenu-body
{
	width: 950px;
	flow-children: none;
	vertical-align: top;
	horizontal-align: right;
}

.buymenu__categories__container
{
	width: 100%;
	horizontal-align: left;
	flow-children: right;
}

.buymenu__categories__container .buymenu-category
{
	width: 10px;
}

.buymenu__categories__container .buymenu-category.ccequip
{
	width: 18%;
}

.buymenu__categories__container .buymenu-category.ccpistols
{
	width: 18%;
}

.buymenu__categories__container .buymenu-category.ccmidtier
{
	width: 22%;
}

.buymenu__categories__container .buymenu-category.ccrifles
{
	width: 24%;
}

.buymenu__categories__container .buymenu-category.ccgrenades
{
	width: 18%;
}

.buymenu__categories__container .buymenu-category .buymenu__category__column
{
	flow-children: down;
	width: 100%;
	padding: 0px 15px;
	transition-property: position, brightness, opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
	border-left: 1px solid rgba(50,50,50,1);
}

.buymenu__categories__container .buymenu-category .buymenu__category__column .keybind
{
	font-size: 18px;
	font-family: Stratum2 Mono, 'Arial Unicode MS';
	transition-property: position, brightness, opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.buymenu__categories__container .buymenu-category .buymenu__category__column .buymenu__category__column__header
{
	width: 100%;
	margin-bottom: 15px;
}

.buymenu__categories__container .buymenu-category .buymenu__category__column .buymenu__category__column__header Label
{
	font-family: Stratum2, 'Arial Unicode MS';
	text-align: center;
}

.buymenu__categories__container .buymenu-category .buymenu__category__column .buymenu__category__column__header .buymenu__category__column__keylabel
{
	horizontal-align: left;
	vertical-align: center;
}

.buymenu__categories__container .buymenu-category .buymenu__category__column .buymenu__category__column__header .buymenu__category__column__label
{
	horizontal-align: center;
	font-size: 28px;
	font-weight: medium;
	font-stretch:condensed;
}

.buymenu__categories__container .buymenu-category .buymenu__category__column.Selected
{
	brightness: 1.5;
}

.CategoryIsSelected .buymenu__categories__container .buymenu-category .buymenu__category__column:not(.Selected)
{
	brightness: 0.3;
}

.CategoryIsSelected .buymenu__categories__container .buymenu-category .buymenu__category__column .buymenu__category__column__keylabel
{
	opacity: 0;
}

.buymenu__categories__container .buymenu-category .Selected .buywheel-button__key
{
	brightness: 2;
	opacity: 1;
}

.buymenu__categories__container .buymenu-category .buymenu__category__itembuttons
{
	flow-children: down;
	width: 100%;
}

#CategoryContainer1 .buymenu__category__column
{
	border-left: 0px solid rgba(50,50,50,1);
}

.button-container
{
	width: 100%;
	height: 90px;
	margin-bottom: 10px;
	saturation: 1;
}

.button-container.nux-recommended:not(.buywheel-cant-buy) .nux
{
	opacity: .6;
	font-family: Stratum2, 'Arial Unicode MS';
}

.button-container .nux
{
	vertical-align: center;
	horizontal-align: left;
	background-color: #000000;
	font-size: 10px;
	color: white;
	letter-spacing: 1.2px;
	padding: 2px;
	margin: 4px 0px;
	width: 100%;
	overflow: noclip;
	text-align: left;
	transform: rotateZ(-35deg);
	transform-origin: 0% 0%;
	y: 7px;
	x: -7px;
	z: 1px;
	padding-left: 10px;
}

.buywheel-wedge
{
	width: 100%;
	height: 100%;
	transition-property: opacity;
	transition-duration: 1s;
	border: 1px solid black;
	horizontal-align: center;
	vertical-align: center;
	padding: 4px 10px;
	background-color: gradient(radial, 50% 50%, 0px 0px, 50% 50%, from( rgba(141, 141, 141, 0.2) ), to( rgba(85, 85, 85, 0.2) ) );
	border-radius: 5px;
	transition-property: brightness;
	transition-duration: 0.0s;
	border: 1px solid #00000000;
}

.buywheel-wedge:hover
{
	transition-duration: 0.2s;
	brightness: 2.2;
}

.buywheel-cant-buy .buywheel-wedge
{
	wash-color: none;
	background-color: rgba(43, 43, 43, 0.897);
}

.buywheel-cant-buy .buywheel-wedge .buywheel-item__icon
{
	wash-color: rgb(64, 64, 64);
}

.buywheel-cant-buy .buywheel-wedge #ItemPrice,.buywheel-cant-buy .buywheel-wedge .buywheel-item__name
{
	wash-color: rgb(128, 128, 128);
}

.buywheel-cant-afford .buywheel-wedge #ItemPrice
{
	wash-color: rgb(128, 128, 128);
}

.buywheel-already-own .buywheel-wedge
{
	border: 1px solid white;
}

.wont-afford .buywheel-wedge:not(:hover) .buywheel-item__price
{
	transition-duration: 0.0s;
}

.buywheel-wedge Label
{
	width: 100%;
	font-size: 14px;
}

.buywheel-wedge .buywheel-button__key
{
	horizontal-align: left;
	vertical-align: top;
	opacity: 0.4;
}

.buywheel-wedge .buywheel-item__name
{
	horizontal-align: left;
	vertical-align: top;
	text-align: right;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: medium;
	width: 70%;
	horizontal-align: right;
}

.buywheel-wedge .buywheel-item__price
{
	horizontal-align: right;
	vertical-align: bottom;
	text-align: right;
	font-family: Stratum2 Mono, 'Arial Unicode MS';
	font-weight: bold;
	text-shadow: 1px 1px #00000088;
	transition-property: wash-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

.buywheel-wedge .buywheel-item__cur-value
{
	font-family: Stratum2 Medium Condensed;
	font-size: 18px;
	color: black;
	vertical-align: center;
	text-align: center;
	width: fit-children;
}

.slot-32 .buywheel-wedge .buywheel-item__cur-value
{
	width: 20px;
	position: 47px 8px 0px;
}

.slot-33 .buywheel-wedge .buywheel-item__cur-value
{
	width: 20px;
	position: 58px 8px 0px;
}

.buywheel-wedge .buywheel-item__icon
{
	horizontal-align: center;
	vertical-align: center;
	height: 45%;
}

.buywheel-wedge.purchased
{
	animation-name: purchased;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
}

.Hidden
{
	opacity: 0;
}

.teammate-inventory-container
{
	flow-children: left;
	horizontal-align: center;
	vertical-align: bottom;
}

.teammate-inventory-container .player-pip
{
	width: 5px;
	height: width-percentage(100%);
	margin: 3px;
	background-color: white;
	border-radius: 50%;
}

.sellback-button
{
	width: fit-children;
	vertical-align:bottom;
	wash-color: rgb(228, 228, 228);
	visibility: collapse;
}

.sellback-button Label
{
	width: fit-children;
	padding: 0px 4px;
	text-align: right;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: medium;
	font-size: 16px;
	color: white;
}

.sellback-button Image
{
	width: 20px;
	height: width-percentage(100%);
	margin-bottom: 5px;
	margin-left: 8px;
}

.sellback-button:hover
{
	wash-color: white;
}

.sellback-button.Visible
{
	visibility: visible;
}

@keyframes 'purchased'
{
	0%
	{
		brightness: 2;
	}
	
	100%
	{
		brightness: 1;
	}
	
}

@keyframes 'cantafford'
{
	0%
	{
		opacity: 1;
		border-color: white;
	}
	
	100%
	{
		opacity: 0.2;
		border-color: red;
	}
	
}

.buymenu-item-info
{
	y: 670px;
	horizontal-align: center;
	width: 350px;
	height: 110px;
	transition-property: opacity;
	transition-duration: 0.1s;
	background-color: #000000d0;
	margin-left: 32px;
	flow-children: down;
	padding: 10px;
}

.buymenu-item-info Label
{
	text-align: left;
	width: 100%;
	vertical-align:top;
}

.buymenu-item-info .buymenu-item-info__name
{
	font-family: stratum2, 'Arial Unicode MS';
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

.buymenu-item-info .buymenu-item-info__desc
{
	font-size: 14px;
	font-family: Stratum2, 'Arial Unicode MS';
}

.common
{
	color:rgb(153, 153, 153);
}

.uncommon
{
	color:color-rarity-uncommon;
}

.rare
{
	color:color-rarity-rare;
}

.mythical
{
	color:color-rarity-mythical;
}

.ancient
{
	color:color-rarity-ancient;
}

.legendary
{
	color:color-rarity-legendary;
}

.immortal
{
	color:color-rarity-immortal;
}

.cl_buywheel_nonumberpurchasing .keybind
{
	opacity: 0;
}

