/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

CarouselNav
{
	flow-children: right;
}

CarouselNav:disabled
{
	visibility: collapse;
}

#ItemPips
{
	flow-children: right;
	vertical-align: middle;
	margin-right: 5px;
}

.OverMaxPips #ItemButtons
{
	visibility: collapse;
}

#ItemCount
{
	visibility: collapse;
	margin-right: 4px;
	margin-top: 1px;
	text-align: right;
	color: #aaa;
}

.OverMaxPips #ItemCount
{
	visibility: collapse;
}

.OverlayPips #PreviousItemButton,.OverlayPips #NextItemButton
{
	visibility: collapse;
}

.OverlayPips .PaginationButton
{
	background-color: black;
	border: 2px solid #63adc8;
	box-shadow: -1px 1px 3px 0px fill #000;
	margin: 4px 2px 8px 8px;
	transition-property: background-color;
	transition-duration: 0.2s;
}

.OverlayPips .PaginationButton:selected
{
	background-color: #63adc8;
}

.OverlayPips.SmallPips
{
	margin: 3px;
}

.OverlayPips.SmallPips .PaginationButton
{
	width: 10px;
	height: 10px;
	border-width: 1px;
}

.InventoryCarousel-Container #ItemPips,.popup-acknowledge #ItemPips,.player-card-row__name CarouselNav #ItemPips
{
	visibility: collapse;
}

.op-tier__reward-container CarouselNav
{
	vertical-align: bottom;
	transform: rotateZ(90deg);
	horizontal-align: right;
	margin-bottom: 20px;
	ui-scale: 75%;
}

.VRMode .PaginationArrow
{
	width: 100px;
	height: 100px;
	background-size: 64px 64px;
	margin-right: 20px;
	opacity: 1;
}

.VRMode .PaginationArrow:hover:enabled
{
	brightness: 1.6;
}

.VRMode .PaginationArrow:active
{
	brightness: 1.3;
}

.VRMode .PaginationArrow:disabled
{
	brightness: 0.2;
}

.VRMode .PaginationButton
{
	width: 100px;
	height: 100px;
	opacity: 1;
}

.VRMode .PaginationButton:not(:selected)
{
	brightness: 0.5;
}

.VRMode .PaginationButton:hover
{
	brightness: 1.5;
}

