/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.border-right-white
{
	border-right: 1px solid #ffffff22;
}

.margin-right-20
{
	padding-right: 20px;
}

#LoadoutSingleItemModelWeaponChoice
{
	width: 370px;
	height: 50px;
}

#LoadoutSingleItemModelWeaponChoice Label
{
	text-overflow: shrink;
}

.popup-button-row
{
	width: 90%;
	border-top: 1px solid rgba(145, 145, 145, 0.5);
	vertical-align: bottom;
	horizontal-align: center;
	padding: 8px 0px 8px 0px;
}

.loadout-character-controls .IconButton Image
{
	height: 36px;
}

.loadout-character-controls
{
	width: 90%;
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: right;
}

#LoadoutCharacterControls
{
	vertical-align: center;
}

.hidden
{
	visibility: collapse;
}

.loadout--no-item ItemImage
{
	visibility: collapse;
}

