/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.crafting-root
{
	margin-right: 64px;
}

.crafting-container
{
	width: 100%;
	height: fill-parent-flow(1);
	flow-children: right;
}

.content-navbar.crafting-description
{
	height: fit-children;
	padding-top: 16px;
	padding-bottom: 16px;
	horizontal-align: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.crafting-description Label
{
	padding-left: 16px;
	font-size: 16px;
}

.crafting-item-count-container
{
	width: 100%;
	height: 64px;
	margin-right: 16px;
	margin-left: 32px;
}

.crafting-item-count
{
	horizontal-align: left;
	vertical-align: center;
	width: 100%;
}

.crafting-items
{
	width: 50%;
	height: 100%;
	flow-children: down;
}

.crafting-toggle-margin
{
	margin-right: 24px;
	margin-bottom: 8px;
}

.crafting-border
{
	border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.crafting-ingredients
{
	width: 50%;
	height: 100%;
	flow-children: down;
}

.crafting-confirm-button
{
	flow-children: right;
}

.crafting-action-buttons-container
{
	vertical-align: center;
	horizontal-align: right;
	width: fit-children;
	flow-children: right;
}

#TradeUpConfirmBtn
{
	vertical-align: bottom;
	horizontal-align: right;
}

