/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define cq_netgraph_maxdepth: 8;
@define cq_netgraph_color_buffer_dot: rgba( 24, 199, 20, 1.0 );
@define cq_netgraph_color_starve_dot: rgba( 240, 0, 0, 1.0 );
@define cq_netgraph_color_neutral: rgba( 220, 220, 180, 1.0 );
@define cq_netgraph_color_target: rgba( 237, 118, 214, 1.0 );
@define cq_netgraph_color_dilation_slower: rgba( 237, 56, 183, 0.2 );
@define cq_netgraph_color_dilation_faster: rgba( 37, 196, 248, 0.2 );
@define cq_netgraph_server_hitch_warning_duration: 1.0;
CSGOCommandQueueNetGraph
{
	flow-children: right;
	visibility: collapse;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #25282a00 ), color-stop( .6, #25282acc), color-stop( .8, #25282a88), to( #00000022 ) );
	padding-top: 2px;
	horizontal-align: right;
	vertical-align: top;
	margin-right: 2px;
	width: 200px;
	height: 65px;
}

CSGOCommandQueueNetGraph.Visible
{
	visibility: visible;
}

CSGOCommandQueueNetGraph Label
{
	text-shadow: 1px 1px 2px 2 #000000;
	font-size: 20px;
	text-align: right;
	horizontal-align: right;
	font-family: monospaceNumbersFont;
	color: #ff0000;
	padding-top: 8px;
	margin-right: 10px;
}

