/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.eom-skillgroup
{
	width: 100%;
	horizontal-align: center;
	vertical-align: top;
	blur: gaussian( 8, 3, 3 );
	transform: scale3d(1.1, 1.1, 1);
	brightness: 5;
	transition-property: transform, blur, brightness;
	transition-duration: 0.45s;
	transition-timing-function: ease-in;
}

.eom-skillgroup .eom-skillgroup-data-bg-containter
{
	width: 100%;
	height: 100px;
	horizontal-align: center;
	vertical-align: center;
}

.eom-skillgroup .eom-skillgroup-data-bg-containter .eom-skillgroup-data-bg
{
	width: 100%;
	height: 100%;
	wash-color: #4aa8ff;
	background-color: black;
	background-image: url("file://{resources}/videos/linemap.webm");
	background-size: 60% auto;
	opacity-mask: url("s2r://panorama/images/masks/fade-both-right-left2_png.vtex");
}

.eom-skillgroup .eom-skillgroup-data-bg-containter .eom-skillgroup-data-bg .eom-win__main__line
{
	height: 1.25px;
	width: 100%;
	background-color: white;
	z-index: 3;
}

.eom-skillgroup .eom-skillgroup-data
{
	width: 1340px;
	horizontal-align: center;
	vertical-align: top;
}

.eom-skillgroup .eom-skillgroup-data .eom-skillgroup-data__container
{
	height: 400px;
	width: 100%;
	horizontal-align: center;
	vertical-align: center;
}

.eom-skillgroup .eom-skillgroup-data .eom-skillgroup-data__container Image
{
	img-shadow: 0px 0px 4px 2 black;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg
{
	horizontal-align: center;
	vertical-align: center;
	transform-origin: 50% 50%;
	transform: scale3d(.3,1,1) translateY(-32px);
	brightness: 4;
	transition-property: transform, brightness, blur;
	transition-delay: 0s, .5s, 0s;
	transition-duration: .3s, .5s, 1s;
	transition-timing-function: ease-out;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg .eom-premier-skillgroup-rect,.eom-skillgroup .eom-premier-skillgroup-data-bg .eom-premier-skillgroup-linemap,.eom-skillgroup .eom-premier-skillgroup-data-bg .eom-premier-skillgroup-dash,.eom-skillgroup .eom-premier-skillgroup-data-bg .eom-premier-skillgroup-dash-right,.eom-skillgroup .eom-premier-skillgroup-data-bg .eom-premier-skillgroup__label-wins-container
{
	wash-color: color-csrating-tier-0;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg .eom-premier-skillgroup-linemap
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from ( rgb(66, 66, 66) ), to(rgb(41, 41, 41)));
	background-size: cover;
	height: 82px;
	width: 100%;
	opacity: 0;
	opacity-mask: url("s2r://panorama/images/masks/fade-both-right-left_png.vtex");
	transition-property: wash-color, opacity;
	transition-delay: .5s;
	transition-duration: .5s;
	transition-timing-function: ease-out;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg .eom-premier-skillgroup-speed-lines
{
	background-image: url("file://{resources}/videos/speed_lines.webm");
	background-size: cover;
	height: 82px;
	width: 98%;
	opacity-mask: url("s2r://panorama/images/masks/fade-both-right-left_png.vtex");
	-s2-mix-blend-mode: screen;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg .eom-premier-skillgroup__label-container
{
	vertical-align: center;
	flow-children: down;
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: .5s;
	transition-timing-function: ease-out;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg .eom-premier-skillgroup__label-container .eom-premier-skillgroup__label-points
{
	color: white;
	font-size: 28px;
	text-align: right;
	letter-spacing: 4px;
	transition-property: opacity, transform;
	transition-duration: .5s;
	transition-timing-function: ease-out;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg .eom-premier-skillgroup__label-container .eom-premier-skillgroup__label-wins
{
	color: white;
	font-size: 18px;
	margin-right: 6px;
	-s2-mix-blend-mode: additive;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg .eom-premier-skillgroup__label-container .eom-premier-skillgroup__label-wins-desc
{
	color: rgb(208, 208, 208);
	font-size: 18px;
	-s2-mix-blend-mode: additive;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg .eom-premier-skillgroup__label-container .eom-premier-skillgroup__label-rank-desc
{
	color: rgb(208, 208, 208);
	transform:translatex( 0px) translateY(-2px);
	font-size: 16px;
	letter-spacing: 2px;
	-s2-mix-blend-mode: additive;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg .eom-premier-skillgroup__label-container .eom-premier-skillgroup__label-rank-desc.hide
{
	visibility: collapse;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg .eom-premier-skillgroup-dash
{
	transform: translateX(480px);
	transition-property: transform, wash-color;
	transition-delay: 0s, 1s;
	transition-duration: .25s, .5s;
	transition-timing-function: ease-out;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg .eom-premier-skillgroup-dash-right
{
	transform: translateX(-480px);
	transition-property: transform, wash-color;
	transition-delay: 0s, .5s;
	transition-duration: .25s, .5s;
	transition-timing-function: ease-out;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-0 .eom-premier-skillgroup-rect,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-0 .eom-premier-skillgroup-linemap,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-0 .eom-premier-skillgroup-dash,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-0 .eom-premier-skillgroup-dash-right,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-0 .eom-premier-skillgroup__label-wins-container
{
	wash-color: color-csrating-tier-0;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-1 .eom-premier-skillgroup-rect,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-1 .eom-premier-skillgroup-linemap,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-1 .eom-premier-skillgroup-dash,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-1 .eom-premier-skillgroup-dash-right,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-1 .eom-premier-skillgroup__label-wins-container
{
	wash-color: color-csrating-tier-1;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-2 .eom-premier-skillgroup-rect,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-2 .eom-premier-skillgroup-linemap,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-2 .eom-premier-skillgroup-dash,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-2 .eom-premier-skillgroup-dash-right,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-2 .eom-premier-skillgroup__label-wins-container
{
	wash-color: color-csrating-tier-2;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-3 .eom-premier-skillgroup-rect,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-3 .eom-premier-skillgroup-linemap,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-3 .eom-premier-skillgroup-dash,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-3 .eom-premier-skillgroup-dash-right,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-3 .eom-premier-skillgroup__label-wins-container
{
	wash-color: color-csrating-tier-3;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-4 .eom-premier-skillgroup-rect,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-4 .eom-premier-skillgroup-linemap,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-4 .eom-premier-skillgroup-dash,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-4 .eom-premier-skillgroup-dash-right,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-4 .eom-premier-skillgroup__label-wins-container
{
	wash-color: color-csrating-tier-4;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-5 .eom-premier-skillgroup-rect,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-5 .eom-premier-skillgroup-linemap,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-5 .eom-premier-skillgroup-dash,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-5 .eom-premier-skillgroup-dash-right,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-5 .eom-premier-skillgroup__label-wins-container
{
	wash-color: color-csrating-tier-5;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-6 .eom-premier-skillgroup-rect,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-6 .eom-premier-skillgroup-linemap,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-6 .eom-premier-skillgroup-dash,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-6 .eom-premier-skillgroup-dash-right,.eom-skillgroup .eom-premier-skillgroup-data-bg.tier-6 .eom-premier-skillgroup__label-wins-container
{
	wash-color: color-csrating-tier-6;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.lost-points .eom-premier-skillgroup-linemap,.eom-skillgroup .eom-premier-skillgroup-data-bg.no-points .eom-premier-skillgroup-linemap
{
	opacity: 1;
	background-image: url("file://{resources}/videos/premier_lost.webm");
	background-color: gradient( linear, 0% 0%, 100% 0%, from ( rgb(128, 128, 128) ), to(rgb(41, 41, 41)));
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.lost-points .eom-premier-skillgroup-speed-lines,.eom-skillgroup .eom-premier-skillgroup-data-bg.no-points .eom-premier-skillgroup-speed-lines
{
	transform: scaleX( -1 );
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.lost-points .eom-premier-skillgroup__label-points,.eom-skillgroup .eom-premier-skillgroup-data-bg.no-points .eom-premier-skillgroup__label-points
{
	transform: translatex( -8px);
	padding-right: 8px;
	color:rgba(0, 0, 0, 0.954);
	text-shadow: 0px 0px 3px 1 rgba(255, 255, 255, 0.384);
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.lost-points .eom-premier-skillgroup__label-container,.eom-skillgroup .eom-premier-skillgroup-data-bg.no-points .eom-premier-skillgroup__label-container
{
	overflow: noclip;
	animation-name: anim-premier-text-lost-points;
	animation-delay: .5s;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.lost-points .eom-premier-skillgroup__label-container Label,.eom-skillgroup .eom-premier-skillgroup-data-bg.no-points .eom-premier-skillgroup__label-container Label
{
	text-align: left;
	horizontal-align: left;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.lost-points .eom-premier-skillgroup__label-container .eom-premier-skillgroup__label-wins-container,.eom-skillgroup .eom-premier-skillgroup-data-bg.no-points .eom-premier-skillgroup__label-container .eom-premier-skillgroup__label-wins-container
{
	transform: translatex( 8px);
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.no-points .eom-premier-skillgroup-linemap
{
	opacity: 1;
	background-image: url("file://{resources}/videos/linemap.webm");
	background-color: gradient( linear, 0% 0%, 100% 0%, from ( rgb(130, 130, 130) ), to(rgb(25, 25, 25)));
	background-img-opacity: .2;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.no-points .eom-premier-skillgroup__label-points
{
	visibility: collapse;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.no-points .eom-premier-skillgroup__label-rank-desc
{
	font-size: 24px;
	width: 545px;
	height: 24px;
	letter-spacing: 1px;
	text-overflow: shrink;
	transform: translatex( 4px) translateY(0px);
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.gain-points .eom-premier-skillgroup-linemap
{
	opacity: 1;
	background-image: url("file://{resources}/videos/premier_gain.webm");
	background-color: gradient( linear, 100% 0%, 0% 0%, from ( rgb(128, 128, 128) ), to(rgb(41, 41, 41)));
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.gain-points .eom-premier-skillgroup__label-container
{
	horizontal-align: right;
	overflow: noclip;
	animation-name: anim-premier-text-gain-points;
	animation-delay: .5s;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.gain-points .eom-premier-skillgroup__label-container Label
{
	text-align: right;
	horizontal-align: right;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.gain-points .eom-premier-skillgroup__label-container .eom-premier-skillgroup__label-points
{
	color:white;
	text-shadow: 0px 0px 6px 2 rgba(255, 255, 255, 0.10);
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.gain-points .eom-premier-skillgroup__label-container .eom-premier-skillgroup__label-wins-container
{
	transform: translatex( 4px);
	horizontal-align: right;
}

.eom-skillgroup .eom-premier-skillgroup-data-bg.gain-points .eom-premier-skillgroup__label-container .eom-premier-skillgroup__label-rank-desc
{
	transform: translatex( -4px) translateY(-2px);
	font-size: 18px;
}

.eom-skillgroup.eom-skillgroup-show
{
	transform: scale3d(1, 1, 1);
	blur: gaussian( 3, 3, 0 );
	brightness: 1;
}

.eom-skillgroup.eom-skillgroup-show .eom-premier-skillgroup-data-bg
{
	transform: scale3d(1,1,1) translateY(-32px);
	blur: gaussian( 3, 3, 0 );
	brightness: 1;
}

.eom-skillgroup.eom-skillgroup-show .eom-premier-skillgroup-dash
{
	transform: translateX(0px);
	vertical-align: center;
}

.eom-skillgroup.eom-skillgroup-show .eom-premier-skillgroup-dash-right
{
	horizontal-align: right;
	vertical-align: center;
	transform: translateX( 0px);
}

.eom-skillgroup-data__rating-mismatch
{
	background-color: red;
	horizontal-align: center;
	y: 50px;
	font-family: Stratum2;
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
	padding: 4px;
	color: black;
	visibility: collapse;
}

.rating-mismatch .eom-skillgroup-data__rating-mismatch
{
	visibility: visible;
}

#id-eom-skillgroup-emblem
{
	width: 400px;
	height: 400px;
	vertical-align:center;
	x:300px;
}

#id-eom-skillgroup-emblem Image
{
	vertical-align: center;
	horizontal-align: center;
	img-shadow: 0px 0px 4px 2 black;
}

#jsRatingEmblem
{
	width: 200px;
	height: 94px;
	vertical-align: center;
	x: 562px;
	opacity: 0;
	transition-property: opacity;
	transition-delay: .25s;
	transition-timing-function: ease-out;
}

#jsRatingEmblem.lost-points-anim,#jsRatingEmblem.no-points-anim
{
	transform: translateY( -17px ) translatex( 200px );
	opacity: 1;
	animation-name: anim-premier-lost-points;
	animation-delay: 0s;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#jsRatingEmblem.gain-points-anim
{
	transform: translateY( -17px ) translatex( -200px );
	opacity: 1;
	animation-name: anim-premier-gain-points;
	animation-delay: 0s;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#id-eom-skillgroup-emblem--current
{
	perspective: 200px;
	perspective-origin: 50% 0%;
	transform-origin: 50% 50%;
	width: 100%;
	height: 100%;
}

#id-eom-skillgroup-emblem--current #id-eom-skillgroup--current__pfx--below,#id-eom-skillgroup-emblem--current #id-eom-skillgroup--current__pfx--above
{
	width: 100%;
	height: 100%;
	opacity: 1;
}

.uprank-anim #id-eom-skillgroup-emblem--current
{
	animation-name: eom-remove-skillgroup-icon;
	animation-delay: .5s;
	animation-duration: 0.1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#id-eom-skillgroup-emblem--new
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.uprank-anim #id-eom-skillgroup-emblem--new
{
	visibility: visible;
}

#id-eom-skillgroup-emblem--new #id-eom-skillgroup-emblem--new__image
{
	horizontal-align: center;
	vertical-align: center;
	opacity: 1;
	transform: scale3d(2,2,1);
	transform-origin: 50% 50%;
	perspective: 200px;
	perspective-origin: 50% 0%;
	transform: scale3d(1,1,1) rotateX(5deg) translateY(0px) translateZ(-5px);
}

.uprank-anim #id-eom-skillgroup-emblem--new #id-eom-skillgroup-emblem--new__image
{
	animation-name: anim-new-reveal-emblem;
	animation-duration: .6s;
	animation-iteration-count: 1;
	animation-timing-function:linear;
	animation-fill-mode: forwards;
}

#id-eom-skillgroup-emblem--new #id-eom-skillgroup-emblem--new__pfx--below
{
	width: 100%;
	height: 100%;
	opacity: 0;
}

.uprank-anim #id-eom-skillgroup-emblem--new #id-eom-skillgroup-emblem--new__pfx--below
{
	animation-name: anim-new-reveal__pfx--below;
	animation-delay: .0s;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#id-eom-skillgroup-emblem--new #id-eom-skillgroup-emblem--new__pfx--above
{
	width: 100%;
	height: 100%;
	opacity: 1;
	transform: scale3d(2,2,1);
	transform-origin: 50% 50%;
	perspective: 200px;
	perspective-origin: 50% 0%;
}

.uprank-anim #id-eom-skillgroup-emblem--new #id-eom-skillgroup-emblem--new__pfx--above
{
	transform: scale3d(1.01,1.01,1) rotateX(5deg) translateY(1px) translateZ(6px);
	animation-delay: .00s;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.eom-skillgroup__label-container
{
	vertical-align: center;
	horizontal-align:left;
	flow-children: down;
	x: 650px;
}

.eom-skillgroup__label-container .eom-skillgroup__info-label
{
	vertical-align: center;
	text-align: center;
	brightness: 1.7;
	width: 500px;
	text-align: left;
	wash-color: #4aa8ff;
	color: white;
	font-size: 24px;
	letter-spacing: 4px;
	text-shadow: 0px 0px 8px #dddddda1;
}

#id-eom-skillgroup__new__label.eom-skillgroup__label-container .eom-skillgroup__info-label
{
	visibility: collapse;
}

.eom-skillgroup__label-container .eom-skillgroup__info-label.small
{
	brightness: 1;
	font-weight: medium;
	width: 300px;
	height: 16px;
	margin: 3px 0px;
	font-size: 14px;
	text-overflow: ellipsis;
}

.eom-skillgroup__label-container .eom-skillgroup__info-label.wincount
{
	width: fit-children;
	max-width: 100px;
	height: 16px;
	wash-color: none;
	margin: 3px 0px;
	font-size: 14px;
	font-weight: medium;
	text-overflow: ellipsis;
}

@keyframes 'eom-remove-skillgroup-icon'
{
	0%
	{
		brightness: 10;
		opacity: 1;
	}
	
	100%
	{
		brightness: 0;
		opacity: 0;
	}
	
}

@keyframes 'anim-new-reveal-emblem'
{
	0%
	{
		brightness: 21;
		opacity-brush: gradient( linear, -20% 0%, -15% 0%, from( #ffffffff ), to( #ffffff00 ) );
	}
	
	5%
	{
		opacity-brush: gradient( linear, -20% 0%, -15% 0%, from( #ffffffff ), to( #ffffff00 ) );
	}
	
	50%
	{
		brightness: 10;
	}
	
	95%
	{
		brightness: 10;
	}
	
	100%
	{
		brightness: 1;
		opacity-brush: gradient( linear, 100% 0%, 110% 0%, from( #ffffffff ), to( #ffffff00 ) );
	}
	
}

@keyframes 'anim-new-reveal__pfx--below'
{
	0%
	{
		opacity: 0;
		transform: scale3d(1, 1, 1);
	}
	
	50%
	{
		opacity: 0;
		transform: scale3d(1, 1, 1);
	}
	
	100%
	{
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
	
}

@keyframes 'anim-new-reveal__pfx--above'
{
	0%
	{
		opacity: 1;
		transform: scale3d(2.5, 2.5, 4) rotateX(60deg) translateY(-50px);
	}
	
	80%
	{
		opacity: 1;
		transform: scale3d(1, 1, 1) rotateX(30deg) translateY(0px);
	}
	
	95%
	{
		opacity: 1;
		transform: scale3d(1.05, 1.05, 1.05) rotateX(0deg) translateY(0px);
	}
	
	100%
	{
		opacity: 1;
	}
	
}

@keyframes 'anim-premier-lost-points'
{
	0%
	{
		transform: translateY( -17px ) translatex( 100px );
		opacity: 1;
		brightness: 10;
		blur: gaussian( 5,1,2);
	}
	
	50%
	{
		brightness: 1;
		opacity: 1;
	}
	
	60%
	{
		transform: translateY( -17px ) translatex( -294px );
		brightness: 10;
		blur: gaussian( 4,1,0);
	}
	
	65%
	{
		transform: translateY( -17px ) translatex( -272px );
		brightness: 8;
		blur: gaussian( 1,1,1);
	}
	
	100%
	{
		transform: translateY( -17px ) translatex( -292px );
		brightness: 1;
		blur: gaussian( 3,3,0);
	}
	
}

@keyframes 'anim-premier-gain-points'
{
	0%
	{
		transform: translateY( -17px ) translatex( -200px );
		opacity: 0;
		brightness: 4;
	}
	
	50%
	{
		brightness: 1;
		opacity: 1;
	}
	
	60%
	{
		transform: translateY( -17px ) translatex( 310px );
		brightness: 10;
		blur: gaussian( 4,1,0);
	}
	
	65%
	{
		transform: translateY( -17px ) translatex( 290px );
		brightness: 8;
		blur: gaussian( 1,1,1);
	}
	
	100%
	{
		transform: translateY( -17px ) translatex( 308px );
		brightness: 1;
		blur: gaussian( 3,3,0);
	}
	
}

@keyframes 'anim-premier-text-lost-points'
{
	0%
	{
		transform: translatex( 460px );
		opacity: 0;
		blur: gaussian( 5,1,2);
	}
	
	100%
	{
		transform: translatex( 230px );
		opacity: 1;
		blur: gaussian( 3,3,0);
	}
	
}

@keyframes 'anim-premier-text-gain-points'
{
	0%
	{
		transform: translatex( -460px );
		opacity: 0;
		blur: gaussian( 5,1,2);
	}
	
	100%
	{
		transform: translatex( -230px );
		opacity: 1;
		blur: gaussian( 3,3,0);
	}
	
}

.eom-skillgroup-icon
{
	width: 215px;
	height: 215px;
	border-radius: 50%;
	border: 3px solid rgba(187, 199, 231, 0.05);
	horizontal-align: center;
	vertical-align: center;
	y:-20px;
	background-color: gradient(radial, 50% 50%, 0px 0px, 50% 50%, from( #00000000 ),color-stop( 0.6, #00000000), to( #000000DD ) );
}

.eom-skillgroup-icon-bg
{
	wash-color: rgb(62, 148, 197);
	-s2-mix-blend-mode: screen;
	background-image: url("file://{resources}/videos/acknowledge540p.webm");
	background-repeat: no-repeat;
	background-size: 350% 350%;
	background-position: 30% 35%;
}

.eom-skillgroup-new-label
{
	horizontal-align: center;
	vertical-align: bottom;
	color: black;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	border-radius: 3px;
	padding: 8px 16px;
	margin-bottom: 8px;
	background-color:blueColor;
	box-shadow: rgb(6, 102, 139) 0px 0px 8px 0px;
	y: -20px;
}

.eom-skillgroup-bg-anim
{
	animation-name: eom-skillgroup-bg;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

@keyframes 'eom-skillgroup-bg'
{
	0%
	{
		opacity: 0;
		brightness: 1;
	}
	
	50%
	{
		opacity: 0;
		brightness: 1;
	}
	
	90%
	{
		opacity: 1;
		brightness: 20;
	}
	
	100%
	{
		opacity: 1;
		brightness: 1;
	}
	
}

.eom-skillgroup__flare
{
	width: 300px;
	height: 300px;
	horizontal-align: center;
	vertical-align: center;
	wash-color: rgb(238, 234, 196);
	opacity: 0;
}

.eom-skillgroup-new-anim,.eom-skillgroup__flare.appear
{
	animation-name: eom-skillgroup-new;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

.eom-skillgroup__flare.appear
{
	animation-duration: .75s;
}

@keyframes 'eom-skillgroup-new'
{
	0%
	{
		transform:scale3d( 0, 0, 0 );
		opacity: 0;
	}
	
	50%
	{
		transform:scale3d( 0, 0, 0 );
		opacity: 0;
	}
	
	90%
	{
		transform:scale3d( 1.5, 1.5, 1.5 );
		opacity: 1;
	}
	
	100%
	{
		transform:scale3d( 0, 0, 0 );
		opacity: 0;
	}
	
}

.eom-skillgroup__image
{
	width: 180px;
	vertical-align: center;
	horizontal-align: center;
}

.eom-skillgroup__model
{
	width: 180px;
	height: 180px;
	vertical-align: center;
	horizontal-align: center;
	transform: scale3d(0, 0, 0);
	transition-property: transform, opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.eom-skillgroup__model-reveal
{
	transform:scale3d(1, 1, 1);
}

.eom-skillgroup__particles
{
	width: 256px;
	height: 256px;
	vertical-align: center;
	horizontal-align: center;
}

.eom-skillgroup__info
{
	horizontal-align: center;
	vertical-align: center;
	width: 512px;
}

.eom-skillgroup__info.right
{
	transform: translateX( 380px );
}

.eom-skillgroup__info.right .eom-skillgroup__info-label
{
	text-align: left;
}

.eom-skillgroup__info.left
{
	transform: translateX( -380px );
}

.eom-skillgroup__info.left .eom-skillgroup__info-label
{
	text-align: right;
	horizontal-align: right;
}

.eom-skillgroup__trophy-icon
{
	wash-color: rgb(200, 200, 200);
	text-shadow: 0px 0px 1px 1.0 rgba(122, 171, 180, 0.075);
}

.eom-skillgroup__info-label.small
{
	font-size: 22px;
}

.eom-skillgroup__info-label-noglow
{
	text-shadow: none;
	color: grey;
	font-weight: medium;
}

.hidden
{
	visibility: collapse;
}

