/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

#id-eom-characters-root
{
	width:100%;
	height:100%;
	z-index: -1;
	transition-property: opacity, brightness;
	transition-duration: 0.1s;
	vertical-align:bottom;
}

.charlineup__model-preview-panel
{
	background-color: red;
}

#id-eom-characters__teamname
{
	width: 100%;
}

#id-eom-characters__teamname Label
{
	horizontal-align: center;
	font-size: 30px;
	font-weight: bold;
	color: white;
}

#id-eom-characters__players
{
	width: 100%;
	height: 100%;
	padding-left: 25px;
	padding-right: 25px;
	flow-children: right;
}

#id-eom-characters__models
{
	width: 100%;
	height: 100%;
	padding-left: 25px;
	padding-right: 25px;
	flow-children: right;
}

#id-eom-characters__player__data
{
	vertical-align: top;
	horizontal-align: center;
	width: 100%;
	height: 100%;
}

.player-stats-card-container
{
	width: 230px;
	vertical-align: bottom;
	margin-bottom: 20px;
}

.eom-characters__player__commend
{
	vertical-align: bottom;
	horizontal-align: center;
	width: 30px;
	height: 30px;
	brightness: 0.5;
}

.eom-characters__player__commend:hover
{
	brightness: 1;
	transition-property: brightness;
	transition-duration: 0.3s;
}

.hidden
{
	visibility: collapse;
}

.eom-chars__layout--ffa
{
	width: 900px;
}

.eom-chars__layout--scrimcomp2v2
{
	width: 900px;
}

.eom-chars__layout__team-logo
{
	height: 50%;
	width: height-percentage( 100% );
	horizontal-align: center;
	position: 0px 100px 0px;
	vertical-align:top;
	margin-top:100px;
	opacity:0.05;
	-s2-mix-blend-mode: additive;
}

#id-eom-chars__layout__logo--t
{
	position: 300px 0px 0px;
}

#id-eom-chars__layout__logo--ct
{
	position: -300px 0px 0px;
}

.character-lineup
{
	width: 1050px;
	height: 100%;
	margin-bottom: 50px;
	horizontal-align:center;
	-s2-mix-blend-mode: additive;
}

.layout-position-container
{
	flow-children: right;
	vertical-align: top;
	horizontal-align: center;
	position: 0px 600px 0px;
}

.eom-chars__layout__position
{
	width: 33%;
	vertical-align: top;
	horizontal-align: center;
}

.eom-chars__layout__position Label
{
	font-weight: bold;
	text-shadow: none;
	text-align: center;
	vertical-align: top;
	horizontal-align: center;
	font-family: Stratum2 Bold Condensed, 'Arial Unicode MS';
	font-size: 100px;
}

.eom-chars__layout__position--1st
{
	color: rgb(236, 217, 100);
	opacity: 1;
}

Label.eom-chars__layout__position--1st
{
	font-size: 140px;
}

.eom-chars__layout__position--2nd
{
	opacity: 1;
}

.eom-chars__layout__position--3rd
{
	opacity: 1;
}

Label.eom-chars__layout__position--3rd
{
	color: rgb(206, 144, 86);
}

.eom-chars__laurel__layout__position--1st
{
	opacity: 1;
	horizontal-align: center;
}

.eom-chars__laurel__layout__position--2nd
{
	opacity: 1;
	horizontal-align: center;
}

.eom-chars__laurel__layout__position--3rd
{
	opacity: 1;
	horizontal-align: center;
}

.glowgoldbg
{
	-s2-mix-blend-mode: additive;
	z-index: -1;
	vertical-align:top;
	wash-color: #ECD964;
	opacity: 0.3;
	margin-top:-10px;
	visibility: collapse;
}

.eom-chars__layout--ffa__glowsilver
{
	background-color: gradient( radial, 40% 40%, 0% 0%, 35% 35%, from( #C3C3C322 ), to( #C3C3C300 ) );
	-s2-mix-blend-mode: additive;
	z-index: -1;
	height: 250px;
	width: height-percentage( 100% );
	horizontal-align: center;
	vertical-align:center;
	margin: -10px 0px 0px 40px;
}

.eom-chars__layout--ffa__glowbronze
{
	background-color: gradient( radial, 40% 40%, 0% 0%, 35% 35%, from( #A98F7622 ), to( #A98F7600 ) );
	-s2-mix-blend-mode: additive;
	z-index: -1;
	height: 250px;
	width: height-percentage( 100% );
	horizontal-align: center;
	vertical-align:center;
	margin: -10px 0px 0px 40px;
}

.SlowSpin
{
	transform: translateX(0px) translateY(0px) rotateY(0deg);
	animation-name: ratio-loop;
	animation-duration: 8s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	blur: gaussian( 0 );
}

.SlowerSpin
{
	transform: translateX(0px) translateY(0px) rotateY(0deg);
	animation-name: ratio-loop;
	animation-duration: 16s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes 'ratio-loop'
{
	0%
	{
		transform: translateX(0px) translateY(0px) rotateY(-5deg);
	}
	
	50%
	{
		transform: translateX(0px) translateY(0px) rotateY(5deg);
	}
	
	100%
	{
		transform: translateX(0px) translateY(0px) rotateY(-5deg);
	}
	
}

.vanity-info-container
{
	x: 0px;
	y: -200px;
}

.charlineup__player__commend
{
	width: 30px;
	height: 30px;
	vertical-align: bottom;
	brightness: 0.2;
}

.charlineup__player__commend:hover
{
	brightness: 1;
	transition-property: brightness;
	transition-duration: 0.3s;
}

.debug
{
	width: 2px;
	height: 2px;
	background-color: red;
}

.player-stats-card-container
{
	visibility: collapse;
	opacity: 0;
	transform-origin: 100% 100%;
}

.player-stats-card-container.reveal
{
	animation-name: slam;
	animation-duration: 0.3s;
	animation-delay: 0s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	visibility: visible;
	transform: translateX(-105px) scale3d( 1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ (0deg) translate3d( 0px, 0px, 0px );
	opacity: 1;
	sound: "UIPanorama.EOM.CardReveal";
}

@keyframes 'slam'
{
	0%
	{
		transform: translateX(-105px) scale3d( 1, 1, 1) rotateX(-40deg) rotateY(10deg) rotateZ (-7deg) translate3d( 0px, 40px, 400px );
	}
	
	98%
	{
		transform: translateX(-105px) scale3d( 1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ (0deg) translate3d( 0px, 0px, 0px );
		brightness: 2;
	}
	
	100%
	{
		transform: translateX(-105px) scale3d( 1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ (0deg) translate3d( 0px, 0px, 0px );
	}
	
}

