/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define rank-bar-height: 16px;
@define rank-bar-length: 700px;
@define rank-bar-length-extra: 300px;
@define rank-bar-length-total: 700px;
@define rank-bar-length-offset: 150px;
@define xp-blue: rgba(42, 176, 237, 1);
@define xp-green: rgba(124, 188, 10, 1);
@define xp-red: #8C2121;
@define xp-yellow: rgba(204, 204, 46, 1);
@define xp-purple: #9966CC;
.eom-rank-carepackage-bg-fx
{
	width: 100%;
	height: 200px;
	transform: translatey(-50px);
	flow-children: none;
	horizontal-align: center;
	vertical-align: top;
	-s2-mix-blend-mode: screen;
}

.eom-rank
{
	width: 100%;
	horizontal-align: center;
	vertical-align: top;
	brightness: 10;
	transform: scale3d(1.1, 1.1, 1);
	transition-property: transform, blur, brightness;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

.eom-rank.eom-rank-show
{
	transform: scale3d(1, 1, 1);
	brightness: 1;
}

.eom-rank .eom-rank__care-package
{
	vertical-align: center;
	horizontal-align: center;
	x: 450px;
	y: -50px;
	wash-color: black;
	visibility: collapse;
}

.care-package-eligible .eom-rank .eom-rank__care-package
{
	visibility: visible;
}

.eom-rank .eom-rank__care-package.earned-rewards
{
	animation-name: eom-earned-rewards;
	animation-duration: 0.4s;
	animation-timing-function: ease-in;
	animation-iteration-count: 5;
	wash-color: white;
}

.eom-rank .eom-rank__care-package-earned-fx
{
	vertical-align: center;
	horizontal-align: center;
	x: 450px;
	y: -50px;
	width: 150px;
	height: 150px;
	horizontal-align: center;
	-s2-mix-blend-mode: screen;
}

.eom-rank .eom-rank-data-bg
{
	width: 100%;
	height: 100px;
	horizontal-align: center;
	wash-color: #4aa8ff;
	background-color: black;
	background-image: url("file://{resources}/videos/linemap.webm");
	background-size: 60% auto;
	opacity-mask: url("s2r://panorama/images/masks/fade-both-right-left2_png.vtex");
}

.eom-rank .eom-rank-data-bg .eom-win__main__line
{
	height: 1.25px;
	width: 100%;
	background-color: white;
	z-index: 3;
}

.eom-rank .eom-rank-data
{
	width: 1340px;
	horizontal-align: center;
	vertical-align: top;
	padding-top: 92px;
}

.eom-rank .eom-rank-data .eom-rank-current-icon
{
	margin-top: 4px;
}

.eom-rank .eom-rank-data .eom-rank-current-icon #id-eom-rank__current__emblem
{
	width: 92px;
	height: 92px;
	horizontal-align: left;
}

.eom-rank .eom-rank-data .eom-skillgroup__info-bar-label-container .eom-skillgroup__info-label
{
	vertical-align: top;
	margin-top: 20px;
	horizontal-align: center;
	padding-right: 10px;
	text-align: center;
	wash-color: #94c3f0;
	color: white;
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 4px;
	text-shadow: 0px 0px 8px #dddddda1;
}

#id-eom-rank__bar-container
{
	flow-children: none;
	vertical-align: top;
	margin-top: 60px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 5px;
	min-height: 32px;
	overflow: noclip;
	transition-property: opacity;
	transition-duration: 1.0s;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	flow-children: none;
}

#id-eom-rank__bar-container #id-eom-rank__bar--bg
{
	height: rank-bar-height;
	background-color: rgb(3, 21, 48);
	width: rank-bar-length;
}

#id-eom-rank__bar-container .eom-rank__bar--white
{
	height: rank-bar-height;
	background-color: white;
	width: rank-bar-length;
	background-color: gradient(linear, 0% 0%, 100% 0%, from(rgba(255, 255, 255, 0)), to(rgb(255, 255, 255)));
	transform-origin: 0% 0%;
	transform: scaleX(0);
	z-index: 10;
	transition-property: transform;
	transition-duration: 1.0s;
	transition-timing-function: ease-in;
}

#id-eom-rank__bar-container .eom-rank__bar--white.eom-rank__bar--white--show
{
	transform: scaleX(1);
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: ease-in;
}

#id-eom-rank__bar-container .eom-rank__bar
{
	flow-children: right;
	vertical-align: top;
	width: rank-bar-length-total;
	overflow: noclip;
}

#id-eom-rank__bar-container .eom-rank__bar .eom-rank__bar__segment
{
	height: rank-bar-height;
	border: 1px solid rgba(0, 0, 0, 0.712);
	transform-origin: 0% 0%;
	transition-property: width;
	transition-duration: 0.0s;
	transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

#id-eom-rank__bar-container .eom-rank__bar .eom-rank__lister
{
	flow-children: right;
	width: fit-children;
	transition-property: position;
	transition-duration: 0.0s;
	transition-timing-function: linear;
	horizontal-align: left;
}

#id-eom-rank__bar-container .eom-rank__bar .eom-rank__lister .eom-rank__lister__line
{
	width: 1px;
	height: 100%;
	opacity: 0.1;
	background-color: yellow;
	visibility: visible;
}

#id-eom-rank__bar-container .eom-rank__bar .eom-rank__lister .eom-rank__lister__items
{
	flow-children: up;
	width: fit-children;
	horizontal-align: left;
	padding-top: 0px;
	overflow: clip;
	height: fit-children;
}

.eom-rank__lister__item
{
	flow-children: down;
	brightness: 1.0;
	transition-property: position, transform, brightness;
	transition-duration: 0.75s, 0.5s, 3.0s;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transform-origin: 0% 50%;
	margin-top: 12px;
	margin-left: 5px;
	height: fit-children;
	min-height: rank-bar-height;
	width: 200px;
	horizontal-align: left;
	vertical-align: center;
}

.eom-rank__lister__item--appear
{
	transform: translateX(-40px);
	transform: Scale3d(0.5, 0.5, 1);
	brightness: 5.0;
	transition-property: position, transform, brightness;
	transition-duration: 0.75s, 0.5s, 3.0s;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.eom-rank__lister__item--old
{
	transform: Scale3d(0.7, 0.7, 1.0);
	brightness: 1.0;
	margin-top: -5px;
	height: fit-children;
	transition-property: position, transform, brightness;
	transition-duration: 0.75s, 0.5s, 3.0s;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.eom-rank__lister__item--old .eom-rank__lister__item__desc
{
	margin-top: 0px;
}

.eom-rank__lister__item__desc
{
	font-size: 18px;
	color: lightgray;
	font-weight: medium;
	text-shadow: 0px 0px 4px 2 #00000098;
}

.eom-rank__lister__item__amt
{
	font-size: 20px;
	color: white;
	letter-spacing: 1px;
	font-weight: medium;
	text-shadow: 0px 0px 4px 2 #00000098;
}

.eom-rank__blue.eom-rank__lister__item__amt
{
	color: xp-blue;
}

.eom-rank__green.eom-rank__lister__item__amt
{
	color: xp-green;
}

.eom-rank__red.eom-rank__lister__item__amt
{
	background-color: xp-red;
}

.eom-rank__yellow.eom-rank__lister__item__amt
{
	color: xp-yellow;
}

.eom-rank__purple.eom-rank__lister__item__amt
{
	background-color: xp-purple;
}

.eom-rank__model
{
	width: 128px;
	height: 128px;
}

.hidden
{
	visibility: collapse;
}

.subdue
{
	opacity: 0.2;
	transition-property: opacity;
	transition-duration: 1.0s;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.eom-rank__blue.eom-rank__bar__segment
{
	background-color: xp-blue;
}

.eom-rank__green.eom-rank__bar__segment
{
	background-color: xp-green;
}

.eom-rank__red.eom-rank__bar__segment
{
	background-color: xp-red;
}

.eom-rank__yellow.eom-rank__bar__segment
{
	background-color: xp-yellow;
}

.eom-rank__purple.eom-rank__bar__segment
{
	background-color: xp-purple;
}

.eom-rank-new-reveal
{
	horizontal-align: center;
	margin-right: 710px;
	perspective: 1000;
	width: 100%;
	height: 100%;
}

.eom-rank-new-reveal .eom-rank-new-reveal__flag
{
	height: 150px;
	width: 100px;
	opacity: 0;
	perspective-origin: 0% 0%;
	transform-origin: 0% 0%;
	horizontal-align: center;
}

.eom-rank-new-reveal .eom-rank-new-reveal__image
{
	opacity: 0;
	width: 100px;
	height: 100px;
	margin-top: 94px;
	horizontal-align: center;
}

.eom-rank-new-reveal .eom-rank-new-reveal__particle-flare
{
	width: 300px;
	height: 300px;
	horizontal-align: center;
	opacity: 0;
	transform: scale3d(0, 0, 1);
}

.eom-rank-new-reveal.eom-rank-new-reveal--anim .eom-rank-new-reveal__flag
{
	animation-name: eom-show-rank-flag;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.eom-rank-new-reveal.eom-rank-new-reveal--anim .eom-rank-new-reveal__image
{
	animation-name: eom-show-rank-image;
	animation-delay: .5s;
	animation-duration: .5s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.eom-rank-new-reveal.eom-rank-new-reveal--anim .eom-rank-new-reveal__particle-flare
{
	animation-name: eom-show-rank-flare;
	animation-delay: .75s;
	animation-duration: .25s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.eom-rank-new-reveal .eom-rank-new-reveal__flare-halo
{
	width: 200px;
	height: 200px;
	opacity: 0;
	y: 50px;
	horizontal-align: center;
	-s2-mix-blend-mode: additive;
	animation-name: eom-show-rank-flare-halo;
	animation-duration: 4.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes 'eom-earned-rewards'
{
	0%
	{
		wash-color: white;
	}
	
	50%
	{
		wash-color: black;
	}
	
	100%
	{
		wash-color: white;
	}
	
}

@keyframes 'eom-show-rank-flag'
{
	0%
	{
		brightness: 20;
		opacity: 0;
		transform: translatey(-180px)scaley(.5);
	}
	
	10%
	{
		brightness: 1;
		opacity: 1;
	}
	
	70%
	{
		opacity: 1;
		transform: translatey(90px) scaley(1);
	}
	
	80%
	{
		opacity: 1;
		transform: translatey(80px) scaley(1);
	}
	
	100%
	{
		opacity: 1;
		transform: translatey(90px) scaley(1);
	}
	
}

@keyframes 'eom-show-rank-image'
{
	0%
	{
		brightness: 1;
		opacity: 0;
		transform: scale3d(3, 3, 1);
	}
	
	70%
	{
		brightness: 1;
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
	
	80%
	{
		brightness: 5;
		opacity: 1;
		transform: scale3d(1.2, 1.2, 1);
	}
	
	100%
	{
		brightness: 1;
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
	
}

@keyframes 'eom-show-rank-flare'
{
	0%
	{
		opacity: 0;
		transform: scale3d(.0, .0, 1);
	}
	
	100%
	{
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
	
}

@keyframes 'eom-show-rank-flare-halo'
{
	0%
	{
		opacity: 0;
		transform: scale3d(.0, .0, 1);
	}
	
	10%
	{
		opacity: 0;
		transform: scale3d(.5, .5, 1);
	}
	
	95%
	{
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
	
	100%
	{
		opacity: 0;
		transform: scale3d(1.5, 1.5, 1);
	}
	
}

