/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.eom-drops
{
	horizontal-align: center;
	width: 0px;
	vertical-align: bottom;
	flow-children: right;
	overflow: scroll clip;
	margin: 0px 16px;
	transition-property: width, opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.eom-drops HorizontalScrollBar
{
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.eom-drops.showscroll HorizontalScrollBar
{
	opacity: .4;
}

.eom-drops__item
{
	flow-children: down;
	transform-origin: 50% 50%;
	padding: 8px 8px 0px 8px;
	-s2-mix-blend-mode: additive;
	animation-name: new-drop-enter;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	transition-property: position;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

@keyframes 'new-drop-enter'
{
	from
	{
		transform: Scale3d( 3.0, 3.0, 1.0 );
		opacity: 0;
	}
	
	60%
	{
		brightness: 1;
	}
	
	70%
	{
		brightness: 3;
	}
	
	80%
	{
		transform: Scale3d( 0.9, 0.9, 1.0 );
		opacity:1;
		brightness: 1;
	}
	
	to
	{
		transform: Scale3d( 1.0, 1.0, 1.0 );
		opacity:1;
	}
	
}

.eom-drops__item.blendmode
{
	-s2-mix-blend-mode: normal;
}

.eom-drops__item-image-name-owner
{
	flow-children: down;
	transform-origin: 50% 0%;
	background-color: rgba(22, 16, 16, 0.281);
}

.non-prime-ad-drop .eom-drops__item-image-name-owner
{
	background-color: textBlueGradient;
}

.eom-drops__item__image
{
	width: 200px;
	horizontal-align: center;
	vertical-align: center;
}

.item-tile__bg
{
	width: 202px;
	height: 100%;
}

.eom-drops__item__rarity
{
	background-color: #FFFFFF;
	box-shadow: rgba(65, 65, 65, .25) -2px -2px 4px 4px;
	width: 100%;
	height: 100%;
	z-index: 3;
	brightness: 8;
	box-shadow: fill #ffffffaa 4px 0px 8px 4px;
	transition-delay: 0.25s;
	transition-property: height, brightness, box-shadow;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.eom-drops__item__rarity.reveal
{
	height: 6px;
	brightness: 1;
	box-shadow: fill #ffffffaa 0px 0px 0px 0px;
}

.item-tile__name
{
	margin-left: 8px;
	margin-top: 4px;
	max-height: 42px;
}

.non-prime-ad-drop .item-tile__name
{
	text-align: left;
	width: 100%;
	vertical-align: center;
	horizontal-align: left;
	margin: 0px;
	padding: 4px;
	font-weight: medium;
	font-family: Stratum2, 'Arial Unicode MS';
	text-overflow: shrink;
}

.eom-drops__item__owner-container
{
	flow-children: right;
	margin-left: 8px;
	margin-bottom: 8px;
}

.eom-drops__item__owner
{
	horizontal-align: center;
	vertical-align: center;
	width: 170px;
	height: 24px;
	text-overflow: ellipsis;
	color: rgb(158, 158, 158);
	padding-left: 6px;
	font-weight: medium;
	vertical-align: center;
}

.eom-drops__item__owner.localplayer
{
	font-weight: bold;
	color:rgb(200, 200, 200);
	text-shadow: 0px 0px 4px 4.0 rgba(122, 171, 180, 0.075);
	color: gradient( linear, 0% 0%, 0% 100%, from( rgb(200, 200, 200) ), to( rgb(75, 75, 75)) );
}

.eom-drops-avatar
{
	height: 24px;
	width: 24px;
}

