/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.eom-voting
{
	flow-children: down;
}

#id-map-selection-container
{
	flow-children: down;
	horizontal-align: center;
	margin-top: 12px;
}

#id-map-selection-container__directive
{
	margin-left: 15px;
}

.eom-voting__timer
{
	horizontal-align: center;
}

.eom-voting__item
{
	flow-children: down;
	margin: 9px;
}

.vote-item--separator
{
	width: 1px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	margin: 0px 24px 0px 24px;
}

.map-selection-btn--vote
{
	width: 110px;
	height: width-percentage( 175% );
	horizontal-align: center;
	margin: 10px 16px 10px 16px;
	box-shadow: none;
}

.map-selection-btn--vote:selected
{
	border: 2px solid white;
	box-shadow: white 0px 0px 6px 0px;
}

RadioButton.map-selection-btn--vote Label
{
	margin: 0px 4px 0px 4px;
	font-size: 16px;
	color: white;
	vertical-align: bottom;
	horizontal-align: center;
}

RadioButton.map-selection-btn--vote .map-selection-item-countLabel
{
	margin: 0px 4px 0px 4px;
	font-size: 32px;
	color: white;
	vertical-align: bottom;
	horizontal-align: center;
}

.map-selection-btn:enabled:Hover .map-selection-btn__screenshot
{
	pre-transform-scale2d: 1.2, 1.2;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 2s, .25s;
	transition-timing-function: ease-in-out;
	sound: "UIPanorama.submenu_contents_rollover";
}

.map-selection-btn--vote--rndm
{
	wash-color: black;
	transition-property: wash-color;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.map-selection-btn__gradient
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000020 ), to( #000000ff ) );
}

@keyframes 'pulse-random'
{
	0%
	{
		border: 1px solid #ffffff00;
	}
	
	50%
	{
		border: 5px solid yellow;
	}
	
	100%
	{
		border: 1px solid #ffffff00;
	}
	
}

.map-selection-btn__gradient--whiteout
{
	animation-name: pulse-random;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

.map-selection-list--vote
{
	flow-children: right;
	overflow: clip;
	width: fit-children;
	horizontal-align: center;
	height: fit-children;
}

RadioButton Label.map-selection-item-count
{
	vertical-align: bottom;
	horizontal-align: center;
	margin: 0px;
	margin-bottom: 40px;
	font-family: Stratum2;
	font-weight: bold;
	font-size: 26px;
}

.map-selection-btn__skirmishicon
{
	vertical-align: top;
	margin-top: 48px;
	horizontal-align: center;
	width: 50%;
	height: width-percentage(100%);
	color: white;
	img-shadow: 0px 0px 3px 1.0 black;
}

#id-map-selection-btn__winner
{
	wash-color: #2bff00;
	pre-transform-scale2d: 2, 2;
	width: 50px;
	height: width-percentage( 100% );
	vertical-align: center;
	horizontal-align: center;
	img-shadow: 0px 0px 1px 1.0 #2bff00;
	transition-property: pre-transform-scale2d, opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
	opacity: 0;
}

#id-map-selection-btn__winner.appear
{
	pre-transform-scale2d: 1,1;
	opacity: 1;
}

