/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.eom-win .eom-win__main
{
	width: 100%;
	padding: 48px 0px;
	horizontal-align: center;
	vertical-align: top;
	opacity: 0;
}

.eom-win .eom-win__main .eom-win__main__team-icon
{
	horizontal-align: center;
	vertical-align: center;
	img-shadow: 2px 2px 16px 3 #000000;
	padding: 32px;
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: .5s;
	transition-timing-function: ease-out;
}

.eom-win .eom-win__main .eom-win__main__data
{
	width: 1340px;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	opacity-mask: url("s2r://panorama/images/masks/fade-both-right-left2_png.vtex");
}

.eom-win .eom-win__main .eom-win__main__data .eom-win__main__score
{
	width: 100%;
	height: 40px;
	background-color: rgba(0, 0, 0, 1);
}

.eom-win .eom-win__main .eom-win__main__data .eom-win__main__score .eom-win__main__score__container
{
	flow-children:right;
	vertical-align: center;
	horizontal-align: center;
}

.eom-win .eom-win__main .eom-win__main__data .eom-win__main__score .eom-win__main__score__container .eom-win__main__score__text
{
	height: 30px;
	color: white;
	transform: translateY( -3px );
}

.eom-win .eom-win__main .eom-win__main__data .eom-win__main__result
{
	margin-top: 10px;
	width: 100%;
	height: 90px;
	background-color: rgba(0, 0, 0, 1);
}

.eom-win .eom-win__main .eom-win__main__data .eom-win__main__result .eom-win__main__result__text
{
	color: white;
	horizontal-align: center;
	font-size: 64px;
	padding: 0px 100px;
	letter-spacing: 8px;
	text-align: center;
	text-shadow: 0px 0px 8px #dddddd;
}

.eom-win .eom-win__main .eom-win__main__data .eom-win__main__line
{
	height: 1.25px;
	width: 100%;
	background-color: white;
	z-index: 3;
}

.eom-win .eom-win__main .eom-win__main__data .eom-win__main__dots
{
	width: 100%;
	height: 100%;
	visibility: collapse;
	background-image: url("file://{resources}/videos/linemap.webm");
	background-size: 60% auto;
}

.eom-win .eom-win__main .eom-win__main__data .eom-win__main__dots.eom-win__main__dots--slim
{
	background-size: auto;
	background-position: bottom;
}

.eom-win .eom-win__main .eom-win__main__data .eom-win__main__glitch
{
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: collapse;
	background-size: auto auto;
	background-image: url("file://{resources}/videos/digital_glitch.webm");
	-s2-mix-blend-mode: additive;
}

.eom-win .eom-win__main .eom-win__main__data .eom-win__main_result__white
{
	width: 100%;
	height: 100%;
	opacity: 1;
	background-color: white;
}

.eom-win .eom-win__main .eom-win__main__data .eom-win__main__double-arrows
{
	opacity: 0;
	vertical-align: center;
}

.eom-win .eom-win__main .eom-win__main__data .eom-win__main__double-arrows--right
{
	vertical-align: center;
	horizontal-align: right;
	opacity: 0;
	transform: translateX(0);
}

.eom-win .eom-win__main.show
{
	opacity: 1;
	visibility: visible;
}

.eom-win .eom-win__main.show .eom-win__main__team-icon
{
	animation-name: eom-show-team-icon;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.eom-win .eom-win__main.show .eom-win__main__glitch
{
	visibility: visible;
	animation-name: eom-show-glitch;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.eom-win .eom-win__main.show .eom-win__main_result__white
{
	animation-name: eom-show-glitch;
	animation-duration: .5s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.eom-win .eom-win__main.show .eom-win__main__data
{
	animation-name: eom-show-main;
	animation-duration: .25s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.eom-win .eom-win__main.show .eom-win__main__bracket--top-left
{
	animation-name: eom-show-bracket-top-left;
	animation-duration: .5s;
	animation-delay: .5s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.eom-win .eom-win__main.show .eom-win__main__bracket--top-right
{
	animation-name: eom-show-bracket-top-right;
	animation-duration: .5s;
	animation-delay: .5s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.eom-win .eom-win__main.show .eom-win__main__bracket--bottom-right
{
	animation-name: eom-show-bracket-bottom-right;
	animation-duration: .5s;
	animation-delay: .5s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.eom-win .eom-win__main.show .eom-win__main__bracket--bottom-left
{
	animation-name: eom-show-bracket-bottom-left;
	animation-duration: .5s;
	animation-delay: .5s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.eom-win .eom-win__main.show .eom-win__main__double-arrows
{
	animation-name: eom-show-double-arrows;
	animation-duration: .5s;
	animation-delay: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.eom-win .eom-win__main.show .eom-win__main__double-arrows--right
{
	animation-name: eom-show-double-arrows-right;
	animation-duration: .5s;
	animation-delay: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.eom-win .eom-win__main.show .eom-win__main__result__text
{
	animation-name: eom-show-text;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.eom-win .eom-win__main.show .eom-win__main__dots
{
	visibility: visible;
	animation-name: eom-show-bg;
	animation-duration: .75s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.eom-win.eom-win_won .eom-win__main .eom-win__main__score,.eom-win.eom-win_won .eom-win__main .eom-win__main__result
{
	background-color: positiveColor;
}

.eom-win.eom-win_won .eom-win__main .eom-win__main__dots,.eom-win.eom-win_won .eom-win__main .eom-win__main__glitch,.eom-win.eom-win_won .eom-win__main .eom-win__main__double-arrows,.eom-win.eom-win_won .eom-win__main .eom-win__main__double-arrows--right,.eom-win.eom-win_won .eom-win__main .eom-win__main__line
{
	wash-color: positiveColor;
}

.eom-win.eom-win_won .eom-win__main .eom-win__main__score__text.local-player-score
{
	font-weight: bold;
}

.eom-win.eom-win_won .eom-win__main .eom-win__main__result .eom-win__main__result__text
{
	wash-color: positiveColor;
}

.eom-win.eom-win_won .eom-win__main .eom-win__main__result .eom-win__main__result__text .eom-win__main__bracket
{
	wash-color: positiveColor;
}

.eom-win.eom-win_lost .eom-win__main .eom-win__main__score,.eom-win.eom-win_lost .eom-win__main .eom-win__main__result
{
	background-color: grey;
}

.eom-win.eom-win_lost .eom-win__main .eom-win__main__score__text.local-player-score
{
	font-weight: bold;
}

.eom-win.eom-win_lost .eom-win__main .eom-win__main__dots,.eom-win.eom-win_lost .eom-win__main .eom-win__main__glitch,.eom-win.eom-win_lost .eom-win__main .eom-win__main__double-arrows,.eom-win.eom-win_lost .eom-win__main .eom-win__main__double-arrows--right,.eom-win.eom-win_lost .eom-win__main .eom-win__main__line
{
	wash-color: negativeColor;
}

.eom-win.eom-win_lost .eom-win__main .eom-win__main__result .eom-win__main__result__text
{
	wash-color: negativeColor;
}

.eom-win.eom-win_lost .eom-win__main .eom-win__main__result .eom-win__main__result__text .eom-win__main__bracket
{
	wash-color: negativeColor;
}

.eom-win__main__bracket.eom-win__main__bracket--top-right
{
	horizontal-align: right;
	opacity: 0;
}

.eom-win__main__bracket.eom-win__main__bracket--bottom-right
{
	horizontal-align: right;
	vertical-align: bottom;
	transform: scaleY(-1);
	opacity: 0;
}

.eom-win__main__bracket.eom-win__main__bracket--top-left
{
	horizontal-align: left;
	transform: scaleX(-1);
	opacity: 0;
}

.eom-win__main__bracket.eom-win__main__bracket--bottom-left
{
	horizontal-align: left;
	vertical-align: bottom;
	transform: scaleY(-1) scaleX(-1);
	opacity: 0;
}

.show
{
	opacity: 1;
	visibility: visible;
}

.show .eom-win__main__team-icon
{
	animation-name: eom-show-team-icon;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.show .eom-win__main__glitch
{
	visibility: visible;
	animation-name: eom-show-glitch;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.show .eom-win__main_result__white
{
	animation-name: eom-show-glitch;
	animation-duration: .5s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.show .eom-win__main__data
{
	animation-name: eom-show-main;
	animation-duration: .25s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.show .eom-win__main__bracket--top-left
{
	animation-name: eom-show-bracket-top-left;
	animation-duration: .5s;
	animation-delay: .5s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.show .eom-win__main__bracket--top-right
{
	animation-name: eom-show-bracket-top-right;
	animation-duration: .5s;
	animation-delay: .5s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.show .eom-win__main__bracket--bottom-right
{
	animation-name: eom-show-bracket-bottom-right;
	animation-duration: .5s;
	animation-delay: .5s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.show .eom-win__main__bracket--bottom-left
{
	animation-name: eom-show-bracket-bottom-left;
	animation-duration: .5s;
	animation-delay: .5s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.show .eom-win__main__double-arrows
{
	animation-name: eom-show-double-arrows;
	animation-duration: .5s;
	animation-delay: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.show .eom-win__main__double-arrows--right
{
	animation-name: eom-show-double-arrows-right;
	animation-duration: .5s;
	animation-delay: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.show .eom-win__main__result__text
{
	animation-name: eom-show-text;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.show .eom-win__main__dots
{
	visibility: visible;
	animation-name: eom-show-bg;
	animation-duration: .75s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes 'eom-show-main'
{
	0%
	{
		transform: scaleX(1.8);
	}
	
	100%
	{
		transform: scaleY(1);
	}
	
}

@keyframes 'eom-show-team-icon'
{
	0%
	{
		opacity: 0.0;
	}
	
	100%
	{
		opacity: 0.0;
	}
	
}

@keyframes 'eom-show-glitch'
{
	0%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0.0;
	}
	
}

@keyframes 'eom-show-bracket-top-left'
{
	0%
	{
		brightness: 10;
		opacity: 0;
		transform: translateX(100px) scaleX(-1);
	}
	
	100%
	{
		brightness: 1;
		opacity: 1;
		transform: translateX(0px) scaleX(-1);
	}
	
}

@keyframes 'eom-show-bracket-top-right'
{
	0%
	{
		brightness: 10;
		opacity: 0;
		transform: translateX(100px);
	}
	
	100%
	{
		brightness: 1;
		opacity: 1;
		transform: translateX(0px);
	}
	
}

@keyframes 'eom-show-bracket-bottom-left'
{
	0%
	{
		brightness: 10;
		opacity: 0;
		transform: translateX(100px) scaleY(-1) scaleX(-1);
	}
	
	100%
	{
		brightness: 1;
		opacity: 1;
		transform: translateX(0px) scaleY(-1) scaleX(-1);
	}
	
}

@keyframes 'eom-show-bracket-bottom-right'
{
	0%
	{
		brightness: 10;
		opacity: 0;
		transform: translateX(100px) scaleY(-1);
	}
	
	100%
	{
		brightness: 1;
		opacity: 1;
		transform: translateX(0px) scaleY(-1);
	}
	
}

@keyframes 'eom-show-double-arrows'
{
	0%
	{
		brightness: 10;
		opacity: 0;
		transform: translateX(0px) scaleX(-1);
	}
	
	100%
	{
		brightness: 1;
		opacity: 1;
		transform: translateX(-80px) scaleX(-1);
	}
	
}

@keyframes 'eom-show-double-arrows-right'
{
	0%
	{
		brightness: 10;
		opacity: 0;
		transform: translateX(0px);
	}
	
	100%
	{
		brightness: 1;
		opacity: 1;
		transform: translateX(-80px);
	}
	
}

@keyframes 'eom-show-text'
{
	0%
	{
		brightness: 10;
		opacity: 0;
		transform: scale3D( 1.2, 1.2, 1);
	}
	
	100%
	{
		brightness: 2;
		opacity: 1;
		transform: scale3D( 1, 1, 1);
	}
	
}

@keyframes 'eom-show-bg'
{
	0%
	{
		brightness: 15;
		blur:gaussian( 4, 4, 2);
		opacity: 0;
		transform: scale3D( 2, 2, 1);
	}
	
	75%
	{
		blur:gaussian( 4, 4, 2);
	}
	
	100%
	{
		brightness: 1.5;
		blur:gaussian( 0, 0, 0);
		opacity: 1;
		transform: scale3D( 1, 1, 1);
	}
	
}

.eom-win__model
{
	background-color:rgba(4, 70, 28, 0.9);
	width: 210px;
	height: 210px;
	horizontal-align: center;
	vertical-align: top;
	background-color: none;
	z-index: 2;
}

.eom-win__text
{
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
	position: 0px 40px 0px;
	font-size: 38px;
	text-transform: uppercase;
	z-index: 3;
	opacity: 0;
	transition-property: pre-transform-scale2d, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
	transition-delay: .5s;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: bold;
	-s2-mix-blend-mode: additive;
	text-shadow: 0px 0px 4px 4.0 rgba(122, 171, 180, 0.2);
	color: rgb(255, 255, 255);
}

.eom-win__text.move
{
	opacity: 1;
}

.eom-win__text-background
{
	horizontal-align: center;
	vertical-align: center;
	background-color: none;
	font-size: 116px;
	font-weight: bold;
	margin-bottom: 0px;
	color: gradient( linear, 0% 0%, 0% 80%, from( rgb(220, 220, 220) ), to( rgba(235, 232, 232, 0)) );
	text-transform: uppercase;
	-s2-mix-blend-mode: additive;
	visibility: collapse;
	opacity: 0;
	transition-property: transform, pre-transform-scale2d, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	pre-transform-scale2d: 1.3, 1.3;
}

.eom-win__text-background.move
{
	opacity: 1;
	pre-transform-scale2d: 1, 1;
}

.eom-win__player_name
{
	font-size: 14px;
	font-weight: bold;
}

.eom-win__player_title
{
	font-size: 32px;
	font-weight: light;
	color: gradient( linear, 0% 0%, 0% 85%, from( rgb(255, 255, 255) ), to( rgb(119, 119, 119)) );
	text-shadow: 4px 4px 8px 1.0 #000000ff;
	-s2-mix-blend-mode: additive;
}

.eom-win__player--small
{
	ui-scale: 80%;
}

.eom-win__vaclive
{
	width: 100%;
	padding: 48px 0px;
	horizontal-align: center;
	vertical-align: top;
	background-color: #000000dd;
	background-image: url("file://{resources}/videos/linemap.webm");
	background-size: 60% auto;
	background-img-opacity: 0.1;
	flow-children:down;
	opacity: 0;
}

.eom-win__vaclive.show
{
	opacity: 1;
}

.eom-win__vaclive Label
{
	color: red;
	text-align: center;
}

.eom-win__vaclive #matchCancelledTitle
{
	font-size: 60px;
	horizontal-align: center;
}

.eom-win__vaclive #matchCancelledDesc
{
	font-size: 20px;
	horizontal-align: center;
}

.eom-win__vaclive #matchCancelledDesc2
{
	font-size: 20px;
	horizontal-align: center;
}

