/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.eom
{
	width: 100%;
	height: 100%;
	padding: 0px;
	opacity: 0;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #000000a0 ), color-stop (0.5, #00000000), to (#00000000 ) );
}

.eom-scoreboard-toggle-instructions
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 10px;
	font-size: 16px;
	color: gray;
}

.eom.eom--reveal
{
	opacity: 1.0;
}

.eom.eom--reveal #id-gametime__desc.CountDownTick
{
	sound: "UI.CounterBeep";
}

.eom.eom--reveal #id-gametime__desc.CountDownFinish
{
	sound: "UI.DeathMatch.EndTimer";
}

.eom-layout
{
	width: 100%;
	height: 100%;
	z-index: 10;
	horizontal-align: center;
	vertical-align: top;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000e0 ), to (#00000000 ) );
}

#id-eom-chat-and-score
{
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}

#id-eom-chat-container
{
	horizontal-align: left;
	vertical-align: bottom;
}

.eom-chat
{
	vertical-align:bottom;
	width: 100%;
}

.content-navbar__tabs
{
	height: fit-children;
	min-height: 48px;
}

.content-navbar__tabs RadioButton,.content-navbar__tabs DropDown,.content-navbar__tabs ToggleButton,.content-navbar__tabs TextButton,.content-navbar__tabs Button
{
	margin: 0px 32px 0px 0px;
	width: fit-children;
	height: 48px;
	horizontal-align: center;
	vertical-align: middle;
	tooltip-position: bottom;
	background-color: gradient( linear, 0% 100%, 0% 99%, from( white ), color-stop( 0, #ffffff00 ), to( #ffffff00 ) );
	flow-children: right;
}

#id-eom-layout
{
	height: 300px;
	width: 100%;
	z-index: 10;
	vertical-align: top;
	margin-top: 48px;
}

.content-navbar
{
	flow-children: none;
	background-color:#000000d0;
	world-blur: gaussian( 0,0,84);
}

#id-display-timer-progress-bar
{
	height: 2px;
	width: 0px;
	horizontal-align: left;
	background-color: rgb(0, 225, 255);
	transition-property: width;
	transition-duration: 0s;
	transition-timing-function: linear;
}

.eom-panel
{
	horizontal-align: center;
	vertical-align: top;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
}

.eom-panel.eom-panel--active
{
	opacity: 1.0;
}

.hidden
{
	visibility: collapse;
}

.time_container
{
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: right;
	margin-right: 10%;
	width: fit-children;
}

.timer
{
	horizontal-align: right;
	vertical-align: center;
	color: white;
	font-family: Stratum2 Bold Monodigit, 'Arial Unicode MS';
	text-align: right;
	letter-spacing: 1px;
}

.time_container__time
{
	font-size: 32px;
}

#id-gametime__desc
{
	font-size: 18px;
	margin-right: 20px;
	font-family: Stratum2, 'Arial Unicode MS';
	color: rgb(189, 189, 189);
}

#id-content-navbar__time
{
	font-size: 24px;
	color: white;
	width: 200px;
	vertical-align: bottom;
	font-weight: medium;
	horizontal-align: right;
	margin-left: 50px;
	margin-right: 200px;
	transition-property: opacity;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.content-navbar__tabs
{
	horizontal-align: left;
	vertical-align: bottom;
	padding-left: 100px;
	transition-property: position;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.content-navbar__tabs Label
{
	font-family: Stratum2, 'Arial Unicode MS';
}

.content-navbar__tabs RadioButton
{
	opacity:0;
}

.content-navbar__tabs RadioButton.appear
{
	opacity: 1.0;
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

#id-display-timer-progress-bar-container
{
	horizontal-align: left;
	width: 100%;
	y:48px;
}

#id-eom-scoreboard-container
{
	opacity:0;
	transition-property: opacity;
	transition-duration: 0.2s;
	vertical-align:center;
}

.scoreboard-visible #id-eom-scoreboard-container
{
	opacity:1;
}

.WindowRoot_TripleMonitor #id-display-timer-progress-bar-container,.WindowRoot_TripleMonitor #id-eom-chat-and-score,.WindowRoot_TripleMonitor #id-eom-layout,.WindowRoot_TripleMonitor .content-navbar
{
	horizontal-align: center;
	width: 33%;
}

#id-eom-fade
{
	background-color: black;
	transition-property: opacity;
	transition-duration: 0.5s;
	opacity: 0;
}

#id-eom-fade.active
{
	opacity: 1;
}

#id-eom-fallback-background
{
	height: 100%;
	width: 100%;
	brightness: 0.7;
	blur: gaussian( 6, 6, 3 );
}

#id-eom-fallback-background.hidden
{
	opacity: 0;
}

.eom-cancelled
{
	horizontal-align: center;
	vertical-align: center;
	background-image: url("file://{resources}/videos/linemap.webm");
	background-size: 60% auto;
	background-img-opacity: 0.1;
	padding: 10px;
	flow-children: down;
	opacity: 0;
	visibility: collapse;
	transform: scale3d(1.5, 1.5, 1.5);
	transition-property: opacity, transform;
	transition-delay: 0.3s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}

.eom-cancelled.show
{
	opacity: 1;
	transform: scale3d(1, 1, 1);
	visibility: visible;
}

.eom-cancelled Label
{
	color: white;
	text-align: center;
}

.eom-cancelled #matchCancelledTitle
{
	font-size: 30px;
	horizontal-align: center;
}

.eom-cancelled #matchCancelledDesc
{
	font-size: 16px;
	horizontal-align: center;
}

.eom-cancelled #matchCancelledDesc2
{
	font-size: 20px;
	horizontal-align: center;
}

.eom-cancelled.vaclive
{
	background-color: red;
}

.eom-cancelled.network-event
{
	background-color: black;
}

