/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.flip-panel-anim-transition
{
	transition-property: transform, brightness, opacity;
	transition-duration: .5s, .2s, .5s;
	transition-timing-function: ease-in-out;
}

.flip-panel-anim-down-hidden
{
	transform: rotateX( -90deg ) translateZ( -10% ) translateY( 40% ) scaleX( 0.9 );
	transform-origin: 50% 50%;
	brightness: 0.2;
	opacity: 0;
}

.flip-panel-anim-up-hidden
{
	transform: rotateX( 90deg ) translateZ( 10% ) translateY( -40% ) scaleX( 0.9 );
	transform-origin: 50% 50%;
	brightness: 0.2;
	opacity: 0;
}

.flip-panel-anim-down-show
{
	transform: rotateX( 0deg ) translateZ( 0% ) translateY( 0% ) scaleX( 1 );
	transform-origin: 50% 50%;
	brightness: 1;
	opacity: 1;
	visibility: visible;
}

.flip-panel-anim-up-show
{
	transform: rotateX( 0deg ) translateZ( 0% ) translateY( 0% ) scaleX( 1 );
	transform-origin: 50% 50%;
	brightness: 1;
	opacity: 1;
	visibility: visible;
}

