/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.friendtile
{
	height: 58px;
	width: friendstilewidth;
	opacity: 1;
	transform: translatex( 0px );
	background-color: none;
	box-shadow: none;
}

.friendtile--warning
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( negativeColor ), color-stop( 0.0125, negativeColor ), color-stop( 0.0125, #ff000040 ), color-stop( 0.025, #30000080 ), to( #30000000 ) );
}

.friendtile-contents
{
	flow-children: right;
	width: 100%;
	height: 100%;
}

.friendtile-advertise .friendtile-contents
{
	flow-children: none;
}

.friendtile-contents.Activated
{
	sound: "UIPanorama.sidemenu_select";
}

#JsInviteAdvertisingPlayer.IconButton
{
	margin-right: 16px;
}

.friendtile,.player-card-row--button
{
	opacity: 1;
	transition-property: height, opacity, transform, position, background-color;
	transition-duration: .5s, .5s, .5s, .3s, .25s ;
	transition-timing-function: ease-in-out;
}

.friendtile:Hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( white ), color-stop( 0.0125, white ), color-stop( 0.0125, #ffffff40 ), color-stop( 0.025, #30303080 ), to( #30303000 ) );
	sound: "UIPanorama.sidemenu_rollover";
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.friendtile-advertise.friendtile:Hover
{
	background-color: none;
	transition-property: none;
	transition-duration: .0s;
}

.player-card-row--button.hidden
{
	opacity: 0;
	visibility: collapse;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.friendtile-avatar-invite-container
{
	width: fit-children;
	height: fit-children;
	vertical-align: center;
}

.friendtile-avatar
{
	flow-children: right;
	width: fit-children;
	height: fit-children;
	margin-left: 12px;
	vertical-align: center;
}

.friendtile-status-icon
{
	height: 16px;
	vertical-align: center;
	margin-left: 2px;
	opacity: 1;
	transform: translatex( 0px );
	img-shadow:1px 1px 1px 1.0 #0000003b;
	transition-property: transform, opacity, height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.friendtile-status-icon.hidden
{
	height: 24px;
	vertical-align: center;
	opacity: 0;
	transform: translatex( -32px );
	visibility: collapse;
	transition-property: transform, opacity, height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.friendtile-avatar__status
{
	height: 40px;
	width: 4px;
	background-color: none;
}

.friendtile-status-bg
{
	width: 4px;
	height: 96%;
	vertical-align: center;
	-s2-mix-blend-mode: additive;
}

.online
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #67caff40), color-stop( 0.1, rgba(0, 0, 0, 0.0) ), to( rgba(0, 0, 0, 0.0)) );
}

.ingame
{
	background-color: positiveColor;
}

.friendtile-avatar__Image
{
	width: 40px;
	height: 40px;
	background-color: purple;
	box-shadow:#0000005d 0px 2px 8px 2 ;
}

.friendtile__status
{
	width: fit-children;
	height: 40px;
	margin-left: 14px;
	vertical-align: center;
	flow-children: down;
}

.friendtile__text__title
{
	width: 256px;
	max-height: 20px;
	font-size: 16px;
	margin: 0px;
	text-overflow: ellipsis;
	font-weight: bold;
	text-shadow:1px 1px 1px #00000091;
	font-family: stratum2Font;
	color: white;
	transition-property: color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.friendtile-advertise .friendtile__text__title
{
	width: 220px;
}

.friendtile.friendtile--party .friendtile__text__title
{
	text-shadow: none;
	color: white;
}

.friendtile__text__status
{
	width: 256px;
	max-height: 15px;
	font-size: 14px;
	margin:0px;
	text-overflow: ellipsis;
	font-weight: normal;
	letter-spacing: 1px;
	transition-property: color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.friendtile:Hover .friendtile__text__status,.friendtile:Hover .friendtile__text__title
{
	color: white;
	transition-property: color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.friendtile__expand-icon
{
	vertical-align: middle;
	horizontal-align: right;
	width: 24px;
	height: 24px;
	margin-right: 8px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.friendtile:Hover .friendtile__expand-icon
{
	opacity: 1;
	transition-property: opacity;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
}

.friendtile.hidden
{
	transition-property: transform, opacity, position;
	transition-duration: .4s;
	transition-timing-function: ease-in-out;
}

.friendtile__status__advert-advert-row
{
	flow-children: right;
	margin-top: 4px;
}

#jsRatingEmblem
{
	ui-scale: 65%;
}

.validation-results-container .friendtile,.popup-addfriend-entry .friendtile
{
	width: 450px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.445);
	border: 1px solid rgba(0, 0, 0, 0.452);
	flow-children: right;
}

.validation-results-container .friendtile:hover,.popup-addfriend-entry .friendtile:hover
{
	background-color: rgba(0, 0, 0, 0.739);
}

.validation-results-container .friendtile-avatar,.popup-addfriend-entry .friendtile-avatar
{
	margin-left: 0px;
}

