/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

#ConsoleText
{
	font-size: 14px;
	margin: 2px;
	font-family: Stratum2 Mono, "Arial Unicode MS";
	font-weight: normal;
}

#Title
{
	padding: 3px 4px 3px 4px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	font-family: Stratum2 Mono, "Arial Unicode MS";
	font-weight: bold;
}

#ConsoleInput
{
	width: 100%;
	border-top: 1px solid #333;
	background-color: black;
	color: white;
	padding: 4px;
	font-size: 14px;
	font-family: Stratum2 Mono, "Arial Unicode MS";
	font-weight: normal;
}

TextEntryAutocomplete
{
	width: 600px;
	max-height: 200px;
	flow-children: down;
	background-color: #3d4448;
	color: #e1e1e1;
	overflow: squish scroll;
	box-shadow: fill #00000066 0px 0px 6px 0px ;
	font-family: Stratum2 Mono, "Arial Unicode MS";
	font-weight: normal;
}

TextEntryAutocomplete > Label
{
	width: 100%;
	padding: 2px 8px 2px 8px;
	color: #ffffff99;
	background-color: #3d4448;
	font-size: 20px;
	border-top: 1px solid #00000066;
	border-bottom: 1px solid #00000066;
	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	font-size: 14px;
	font-family: Stratum2 Mono, "Arial Unicode MS";
	font-weight: normal;
}

