/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.honor-icon-root
{
	visibility: collapse;
}

.honor-icon-root.show-prime
{
	visibility: visible;
}

.honor-icon-root.show-prime .honor-icon
{
	visibility: collapse;
}

.honor-icon-root.show-prime .prime-icon-image
{
	visibility: visible;
}

.honor-icon-root.show-honor
{
	visibility: visible;
}

.honor-icon-root.show-honor .honor-icon
{
	visibility: visible;
}

.honor-icon-root.show-honor .prime-icon-image
{
	visibility: collapse;
}

.honor-icon-root.show-none
{
	visibility: collapse;
}

.honor-icon
{
	height: 100%;
	width: 100%;
}

.honor-icon .honor-icon-background
{
	height: 100%;
	width: 100%;
}

.honor-icon .honor-icon-particles
{
	height: 100%;
	width: 100%;
	opacity: .85;
}

.honor-icon .honor-icon-image
{
	height: 100%;
	width: height-percentage(100%);
	vertical-align: center;
	horizontal-align: center;
}

.sb-team--TERRORIST .honor-icon-image
{
	wash-color: color-T;
}

.sb-team--CT .honor-icon-image
{
	wash-color: color-CT;
}

.DeathNoticeTColor .honor-icon-image
{
	wash-color: #eabe54;
}

.DeathNoticeCTColor .honor-icon-image
{
	wash-color: #6f9ce6;
}

.csgo-hud__color-0.HUD--team--ct .HudHealthAmmoCenter .honor-icon-image
{
	wash-color: ct-color;
}

.csgo-hud__color-0.HUD--team--terrorist .HudHealthAmmoCenter .honor-icon-image
{
	wash-color: t-color;
}

.csgo-hud__color-12.HUD--team--ct .HudHealthAmmoCenter .honor-icon-image
{
	wash-color: ct-color;
}

.csgo-hud__color-12.HUD--team--terrorist .HudHealthAmmoCenter .honor-icon-image
{
	wash-color: t-color;
}

.hud-teammatecolor--yellow.csgo-hud__color-12 .HudHealthAmmoCenter .honor-icon-image
{
	wash-color: color-player-yellow;
}

.hud-teammatecolor--purple.csgo-hud__color-12 .HudHealthAmmoCenter .honor-icon-image
{
	wash-color: color-player-purple;
}

.hud-teammatecolor--green.csgo-hud__color-12 .HudHealthAmmoCenter .honor-icon-image
{
	wash-color: color-player-green;
}

.hud-teammatecolor--blue.csgo-hud__color-12 .HudHealthAmmoCenter .honor-icon-image
{
	wash-color: color-player-blue;
}

.hud-teammatecolor--orange.csgo-hud__color-12 .HudHealthAmmoCenter .honor-icon-image
{
	wash-color: color-player-orange;
}

.csgo-hud__color-1 .HudHealthAmmoCenter .honor-icon-image
{
	wash-color: color-hud-1;
}

.csgo-hud__color-2 .HudHealthAmmoCenter .honor-icon-image
{
	wash-color: color-hud-2;
}

.csgo-hud__color-3 .HudHealthAmmoCenter .honor-icon-image
{
	wash-color: color-hud-3;
}

.csgo-hud__color-4 .HudHealthAmmoCenter .honor-icon-image
{
	wash-color: color-hud-4;
}

.csgo-hud__color-5 .HudHealthAmmoCenter .honor-icon-image
{
	wash-color: color-hud-5;
}

.csgo-hud__color-6 .HudHealthAmmoCenter .honor-icon-image
{
	wash-color: color-hud-6;
}

.csgo-hud__color-7 .HudHealthAmmoCenter .honor-icon-image
{
	wash-color: color-hud-7;
}

.csgo-hud__color-8 .HudHealthAmmoCenter .honor-icon-image
{
	wash-color: color-hud-8;
}

.csgo-hud__color-9 .HudHealthAmmoCenter .honor-icon-image
{
	wash-color: color-hud-9;
}

.csgo-hud__color-10 .HudHealthAmmoCenter .honor-icon-image
{
	wash-color: color-hud-10;
}

.csgo-hud__color-11 .HudHealthAmmoCenter .honor-icon-image
{
	wash-color: color-hud-11;
}

#JsControlLibrary .scoreboard-t .honor-icon-image
{
	wash-color: color-T;
}

#JsControlLibrary .scoreboard-ct .honor-icon-image
{
	wash-color: color-CT;
}

#JsControlLibrary .deathnotice-t .honor-icon-image
{
	wash-color: #eabe54;
}

#JsControlLibrary .deathnotice-ct .honor-icon-image
{
	wash-color: #6f9ce6;
}

