/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

CSGOIntroMovie
{
	width: 100%;
	height: 100%;
	background-color: black;
}

#IntroMoviePlayer
{
	width: 1920px;
	height: 1080px;
	overflow: noclip;
	horizontal-align: center;
}

.AspectRatio21x9 #IntroMoviePlayer
{
	width: 2520px;
	height: 1080px;
	transform: scaleY( 1.3 );
	overflow: noclip;
}

