/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define applabel: gradient( linear, 0% 96%, 96% 100%, from( #f2f2f2ff ), color-stop( 0.90, #f2f2f2ff ), to( #97989800 ) );
@define box_shadow_on_color: #52c7ebcc;
@define slideshow_bg: gradient( linear, 0% 0%, 0% 100%, from( #000000aa ), to( #00000055 ) );
@define ui_common_control_bright: #3890b5;
ItemPreviewDebug Label
{
	font-size: 24px;
	color: white;
}

.ItemPreviewDebugButtonMode
{
	margin: 2px;
	height: 24px;
	font-size: 24px;
	min-width: 64px;
	padding: 0px 8px;
	horizontal-align: middle;
	vertical-align: middle;
	border-radius: 0px;
	box-shadow: #00000080 3px 1px 4px 0px;
	brightness: 1;
	background-color: #2a6b8f9f;
}

.ItemPreviewDebugButtonMode:enabled:hover
{
	brightness: 1.5;
}

.ItemPreviewDebugButton
{
	margin: 2px;
	height: 24px;
	font-size: 12px;
	min-width: 64px;
	padding: 0px 8px;
	horizontal-align: middle;
	vertical-align: middle;
	border-radius: 0px;
	box-shadow: #00000080 3px 1px 4px 0px;
	brightness: 1;
	background-color: #2a6b8f9f;
}

.ItemPreviewDebugButton:enabled:hover
{
	brightness: 1.5;
}

.ItemPreviewDebugButton2
{
	margin-bottom: 18px;
	height: 24px;
	font-size: 12px;
	min-width: 64px;
	padding: 0px 8px;
	horizontal-align: middle;
	vertical-align: middle;
	border-radius: 0px;
	box-shadow: #00000080 3px 1px 4px 0px;
	brightness: 1;
	background-color: #2a6b8f9f;
}

.ItemPreviewDebugButton2:enabled:hover
{
	brightness: 1.5;
}

.ItemPreviewDebugButton3
{
	margin-top: 18px;
	height: 24px;
	font-size: 12px;
	min-width: 64px;
	padding: 0px 16px;
	horizontal-align: middle;
	vertical-align: middle;
	border-radius: 0px;
	box-shadow: #00000080 3px 1px 4px 0px;
	brightness: 1;
	background-color: #2a6b8f9f;
}

.ItemPreviewDebugButton3:enabled:hover
{
	brightness: 1.5;
}

.ItemPreviewDebugButtonSmall
{
	margin: 1px;
	height: 14px;
	font-size: 6px;
	min-width: 32px;
	padding: 0px 8px;
	horizontal-align: left;
	vertical-align: middle;
	border-radius: 4px;
	box-shadow: #00000080 3px 1px 4px 0px;
	brightness: 1;
	background-color: #2a6b8f9f;
}

.debug-background
{
	padding: 4px;
	background-color: #000000a0;
	flow-children: down;
}

.DebugColumn
{
	flow-children: down;
	margin-right: 10px;
}

#LightSelectionEnum Label
{
	font-size: 18px;
	font-weight: lighter;
}

.LightsDropDown
{
	height: 34px;
	min-width: 64px;
}

.LightSettings
{
	flow-children: down;
	background-color: #2a6b8fff;
	width: 256px;
}

.LightPicker
{
	padding-left: 4px;
	padding-right: 4px;
	flow-children: right;
	width: 100%;
	background-color: #2a6b8fff;
}

.LightSection
{
	padding: 2px;
	flow-children: right;
	background-color: #2a6b8fff;
	width: 256px;
	border-bottom: 1px solid grey;
}

.LightSection Label
{
	width: 232px;
	font-size: 16px;
	font-weight: medium;
	color: yellow;
	text-align: right;
}

.LightSection--Closed Label
{
	color: #9f9f9fff;
}

.LightSection Image
{
	width: height-percentage( 100% );
	height: 16px;
	horizontal-align: right;
}

.LightSectionSub
{
	padding: 2px;
	flow-children: right;
	background-color: #2a6b8fff;
	width: 100%;
}

Label.LightSectionSub
{
	font-size: 12px;
	font-weight: medium;
	color: #afafaf;
	text-align: left;
}

.LightPicker_RGBBox
{
	horizontal-align: middle;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	border-radius: 0px;
	border: 1px solid black;
}

#ColorPick_HueSlider
{
	height: 16px;
	width: 228px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ff0000ff ), color-stop( 0.17, #ffff00ff ), color-stop( 0.33, #00ff00ff ), color-stop( 0.5, #00ffffff ), color-stop( 0.67, #0000ffff ), color-stop( 0.83, #ff00ffff ), to( #ff0000ff ) );
	horizontal-align: right;
	vertical-align: middle;
}

#ColorPick_SatSlider
{
	height: 16px;
	width: 228px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffffff ), to( #ff0000ff ) );
	horizontal-align: right;
	vertical-align: middle;
}

#ColorPick_ValSlider
{
	height: 16px;
	width: 228px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000ff ), to( #ff0000ff ) );
	horizontal-align: right;
	vertical-align: middle;
}

#ColorPick_HDRSlider
{
	height: 16px;
	width: 192px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000ff ), to( #ff0000ff ) );
	horizontal-align: right;
	vertical-align: middle;
}

ItemPreviewColorSlider #Slider
{
	height: 100%;
	width: 100%;
}

ItemPreviewColorSlider #Slider #SliderThumb,ItemPreviewColorSlider #Slider #SliderThumb:hover
{
	width: 8px;
	height: 16px;
	background-color: white;
	border-radius: 1px;
	border: 1px solid black;
}

ItemPreviewColorSlider #Slider #SliderTrack
{
	width: 100%;
	height: 0px;
}

ItemPreviewColorSlider #Slider #SliderTrackProgress
{
	visibility: collapse;
}

.LightRot_Slider
{
	height: 16px;
	width: 228px;
	horizontal-align: right;
	vertical-align: middle;
}

ItemPreviewSlider #Slider
{
	height: 100%;
	width: 100%;
}

ItemPreviewSlider #Slider #SliderThumb,ItemPreviewSlider #Slider #SliderThumb:hover
{
	width: 8px;
	height: 16px;
	background-color: white;
	border-radius: 1px;
	border: 1px solid black;
}

ItemPreviewSlider #Slider #SliderTrack
{
	width: 100%;
	height: 4px;
	background-color: #5f5f5f9f;
}

ItemPreviewSlider #Slider #SliderTrackProgress
{
	background-color: #5f5f5f9f;
	height: 4px;
	border-radius: 0px;
}

.ItemPreviewDebugSceneContextSelect
{
	flow-children: right;
	horizontal-align: middle;
	width: 150px;
}

.ItemPreviewInfo
{
	flow-children: down;
	horizontal-align: left;
	width: fit-children;
}

.ItemPreviewInfo_AnimSeq
{
	wash-color: white;
}

.ItemPreviewInfo_AnimSeqWarn
{
	wash-color: #ff000000;
	animation-name: animseq-pulse;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes 'animseq-pulse'
{
	0%
	{
		wash-color: #ff000000;
	}
	
	50%
	{
		wash-color: #ff0000ff;
	}
	
	100%
	{
		wash-color: #ff000000;
	}
	
}

