/* Prettified by Source 2 Viewer 9.2.0.0 - https://valveresourceformat.github.io */

.itemtile-store
{
	width: 160px;
	height: 270px;
	margin: 8px;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #3a39398f ), to( rgba(4, 123, 4, 0)) );
	box-shadow: shadowOffset;
	transition-property: background-color, transform, opacity;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.itemtile-store.pulse-me
{
	animation-name: pulse-me;
	animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

.itemtile-store .itemtile-store__container
{
	flow-children:down;
	width: 100%;
	Height: 100%;
	transition-property: background-color;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.itemtile-store .itemtile-store__container .itemtile-store__mainmenu-item-image-bg
{
	visibility: collapse;
}

.itemtile-store .itemtile-store__container .itemtile-store__image-Container
{
	width: 100%;
	height: 170px;
}

.itemtile-store .itemtile-store__container .itemtile-store__image-Container .itemtile-store__item-image
{
	width: 100%;
	height:width-percentage( 80%);
	vertical-align: center;
	transition-property: pre-transform-scale2d;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.is-linked.itemtile-store .itemtile-store__container .itemtile-store__image-Container .itemtile-store__item-image
{
	transform: translateX(-3px) translateY(8px) scale3d( .9, .9, 1);
	img-shadow: 3px -3px 6px 1 #00000080;
}

.itemtile-store .itemtile-store__container .itemtile-store__image-Container .itemtile-store__item-image-bg
{
	width: 100%;
	height:width-percentage( 80%);
	vertical-align: center;
	pre-transform-scale2d: 4, 4;
	blur: mipmapgaussian( 2, 2, 2);
	saturation: .9;
	opacity: .35;
	transition-property: brightness;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.itemtile-store .itemtile-store__container .itemtile-store__image-Container .itemtile-store__item-image-linked
{
	width: 100%;
	height:width-percentage( 80%);
	horizontal-align: center;
	transform: scale3d( .8, .8, 1) translateX(16px) translateY(-5px);
	brightness: .6;
}

.itemtile-store .itemtile-store__container .itemtile-store__image-Container .itemtile-store__reward-unknown
{
	visibility: collapse;
	font-size: 112px;
	horizontal-align:center;
	vertical-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( #FF7A00 ), to( #81450d ) );
	text-shadow: 1px 2px 4px 1.0 rgba(0, 0, 0, 0.646);
}

.itemtile-store .itemtile-store__container .itemtile-store__image-Container .itemtile-store__stattrak,.itemtile-store .itemtile-store__container .itemtile-store__image-Container .itemtile-store__new,.itemtile-store .itemtile-store__container .itemtile-store__image-Container .itemtile-store__not-released
{
	horizontal-align: left;
	font-size: 12px;
	font-weight: bold;
	color: white;
	background-color: rgb(172, 146, 0);
	text-align: center;
	padding: 2px;
	vertical-align: top;
	margin-top: 8px;
	vertical-align: bottom;
	box-shadow: shadowOffset;
}

.itemtile-store .itemtile-store__container .itemtile-store__image-Container .itemtile-store__stattrak.itemtile-store__new,.itemtile-store .itemtile-store__container .itemtile-store__image-Container .itemtile-store__new.itemtile-store__new,.itemtile-store .itemtile-store__container .itemtile-store__image-Container .itemtile-store__not-released.itemtile-store__new
{
	background-color: #D8760E;
	horizontal-align: right;
	vertical-align: top;
	font-size: 14px;
	padding: 4px;
}

.itemtile-store .itemtile-store__container .itemtile-store__image-Container .itemtile-store__stattrak.itemtile-store__not-released,.itemtile-store .itemtile-store__container .itemtile-store__image-Container .itemtile-store__new.itemtile-store__not-released,.itemtile-store .itemtile-store__container .itemtile-store__image-Container .itemtile-store__not-released.itemtile-store__not-released
{
	background-color: blueColor;
}

.itemtile-store .itemtile-store__container .itemtile-store__image-Container .itemtile-store__stattrak.hidden,.itemtile-store .itemtile-store__container .itemtile-store__image-Container .itemtile-store__new.hidden,.itemtile-store .itemtile-store__container .itemtile-store__image-Container .itemtile-store__not-released.hidden
{
	visibility: collapse;
}

.itemtile-store .itemtile-store__container .itemtile-store__name
{
	margin-left: 8px;
	margin-top: 8px;
	font-size: 14px;
	max-height: 34px;
	font-weight: medium;
	horizontal-align: left;
	vertical-align: top;
	text-overflow: ellipsis;
}

.itemtile-store .itemtile-store__container .itemtile-store__case-hint
{
	margin: 0px 4px;
	padding: 2px 4px;
	width: 100%;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0.525);
	color: rgb(174, 174, 174);
	visibility: collapse;
}

.is-case-drop.itemtile-store .itemtile-store__container .itemtile-store__case-hint
{
	visibility: visible;
}

.store-closed .is-case-drop.itemtile-store .itemtile-store__container .itemtile-store__case-hint
{
	visibility: collapse;
}

.itemtile-store .itemtile-store__container .itemtile-store__inspect
{
	vertical-align: bottom;
	horizontal-align: right;
	margin: 0px 8px 8px 0px;
	visibility: collapse;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.itemtile-store .itemtile-store__container .itemtile-store__select
{
	margin: 8px 0px 0px 8px;
	height: 28px;
	width: 28px;
	border: 1px solid white;
	border-radius: 50%;
	opacity: .5;
	visibility: collapse;
	transition-property: opacity, background-color;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.itemtile-store .itemtile-store__container .itemtile-store__select Image
{
	visibility: collapse;
	opacity: 0;
	wash-color: white;
	transition-property: wash-color, opacity;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.itemtile-store:hover:not(.is-drop-item)
{
	sound: "UIPanorama.inventory_item_rollover";
}

.itemtile-store:hover:not(.is-drop-item) .itemtile-store__image-Container
{
	background-color: #fafafa0c;
	transition-property: background-color;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.itemtile-store:hover:not(.is-drop-item) .itemtile-store__image-Container .itemtile-store__item-image
{
	pre-transform-scale2d: 1.03, 1.03;
	transition-property: pre-transform-scale2d;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.itemtile-store:hover:not(.is-drop-item) .itemtile-store__image-Container .itemtile-store__item-image-bg
{
	brightness: 1.5;
	transition-property: brightness;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.itemtile-store:hover:not(.is-drop-item) .itemtile-store__image-Container .itemtile-store__select
{
	opacity: 1;
	transition-property: opacity, background-color;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.itemtile-store.is-drop-item:hover:not(.item-claimed)
{
	sound: "UIPanorama.inventory_item_rollover";
}

.itemtile-store.is-drop-item:hover:not(.item-claimed) .itemtile-store__inspect
{
	visibility: visible;
	opacity: .4;
	transition-property: opacity;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.itemtile-store.is-drop-item:hover:not(.item-claimed) .itemtile-store__inspect:hover
{
	opacity: 1;
	transition-property: opacity;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.itemtile-store.is-drop-item:hover:not(.item-claimed) .itemtile-store__select
{
	opacity: 1;
	background-color: white;
	transition-property: opacity, background-color;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.itemtile-store.is-drop-item:hover:not(.item-claimed) .itemtile-store__select Image
{
	visibility: visible;
	wash-color: black;
	opacity: 1;
	transition-property: wash-color, opacity;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.itemtile-store.selected.is-drop-item:hover .itemtile-store__select
{
	background-color: positiveColor;
}

.itemtile-store.is-drop-item:not(.item-claimed) .itemtile-store__select
{
	visibility: visible;
}

.itemtile-store.selected
{
	brightness: 1.2;
	background-color: rgba(4, 123, 4, 0.379);
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #08703e90 ), to( rgba(4, 123, 4, 0)) );
	transition-property: background-color;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.itemtile-store.selected .itemtile-store__container .itemtile-store__select
{
	border:1px solid positiveColor;
	background-color: positiveColor;
	opacity: 1;
	box-shadow: shadowOffset;
	transition-property: opacity, background-color;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.itemtile-store.selected .itemtile-store__container Image
{
	wash-color: white;
	visibility: visible;
	opacity: 1;
}

.itemtile-store.item-claimed,.store-closed .itemtile-store
{
	background-color: rgba(0, 0, 0, 0.532);
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: .01;
	border: 5px solid rgba(151, 141, 125, 0.177);
}

.itemtile-store.item-claimed .itemtile-store__claimed,.store-closed .itemtile-store .itemtile-store__claimed
{
	visibility: visible;
}

.itemtile-store.item-claimed .itemtile-store__price-container,.store-closed .itemtile-store .itemtile-store__price-container
{
	visibility: collapse;
}

.itemtile-store.item-claimed .itemtile-store__new,.store-closed .itemtile-store .itemtile-store__new
{
	visibility: collapse;
}

.itemtile-store.item-claimed .itemtile-store__image-Container .itemtile-store__item-image,.store-closed .itemtile-store .itemtile-store__image-Container .itemtile-store__item-image
{
	brightness: .0;
	saturation: 0;
	opacity: .4;
}

.itemtile-store.item-claimed .itemtile-store__image-Container .itemtile-store__item-image-bg,.store-closed .itemtile-store .itemtile-store__image-Container .itemtile-store__item-image-bg
{
	opacity: .0 brightness: .0;
}

.itemtile-store.item-claimed .itemtile-store__name,.store-closed .itemtile-store .itemtile-store__name
{
	opacity: .2;
}

.itemtile-store.item-claimed .itemtile-store__tooltip-hotspot,.store-closed .itemtile-store .itemtile-store__tooltip-hotspot
{
	visibility: collapse;
}

.itemtile-store.no-drops-earned .itemtile-store__image-Container
{
	height: 100%;
}

.itemtile-store.no-drops-earned .itemtile-store__image-Container .itemtile-store__item-image-bg
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #231202 ), to( #81450d ) );
	opacity: .5;
	saturation: 1;
	blur: mipmapgaussian( 2, 2, 0);
	pre-transform-scale2d: 1, 1;
	height: 100%;
}

.itemtile-store.no-drops-earned .itemtile-store__image-Container .itemtile-store__reward-unknown
{
	visibility: visible;
}

.itemtile-store.no-drops-earned .itemtile-store__price-container,.itemtile-store.no-drops-earned .itemtile-store__name
{
	visibility: collapse;
}

.store-closed .itemtile-store:not(.item-claimed) .itemtile-store__claimed
{
	visibility: collapse;
}

.store-closed .itemtile-store:not(.item-claimed) .itemtile-store__select
{
	visibility: collapse;
}

.itemtile-store.is-mainmenu-item
{
	width: 275px;
	margin: 0px;
	box-shadow: none;
}

.itemtile-store.is-mainmenu-item .itemtile-store__container
{
	flow-children:none;
}

.itemtile-store.is-mainmenu-item .itemtile-store__image-Container
{
	margin: 18px 12px 12px 12px;
}

.itemtile-store.is-mainmenu-item .itemtile-store__image-Container .itemtile-store__stattrak,.itemtile-store.is-mainmenu-item .itemtile-store__image-Container .itemtile-store__new
{
	vertical-align: top;
	margin-bottom: 8px;
	margin-top: 18px;
}

.itemtile-store.is-mainmenu-item .itemtile-store__mainmenu-item-image-bg
{
	width: 100%;
	height: width-percentage( 60%);
	vertical-align: center;
	pre-transform-scale2d: 4, 3.76;
	transform: translateY( -60px ) translatex( -40px );
	margin-bottom: 250px;
	blur: mipmapgaussian( 2, 2, 2);
	opacity: 1;
	brightness: .5;
	visibility: visible;
	transition-property: brightness;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.itemtile-store.is-mainmenu-item .itemtile-store__name
{
	margin-left: 12px;
	margin-bottom: 58px;
	font-size: 14px;
	max-height: 34px;
	font-weight: medium;
	vertical-align: bottom;
	text-overflow: ellipsis;
	color: rgb(194, 194, 194);
	-s2-mix-blend-mode: additive;
}

.itemtile-store.is-mainmenu-item.Focused
{
	opacity: 1.0;
	transform: translatex(0px);
}

.itemtile-store.is-mainmenu-item.LeftOfFocus1,.itemtile-store.is-mainmenu-item.LeftOfFocus2,.itemtile-store.is-mainmenu-item.LeftOfFocus3,.itemtile-store.is-mainmenu-item.LeftOfFocus4
{
	opacity: 0.0;
	transform: translatex( -275px );
}

.itemtile-store.is-mainmenu-item.RightOfFocus1,.itemtile-store.is-mainmenu-item.RightOfFocus2,.itemtile-store.is-mainmenu-item.RightOfFocus3,.itemtile-store.is-mainmenu-item.RightOfFocus4
{
	opacity: 0.0;
	transform: translatex( 275px );
}

.itemtile-store.is-mainmenu-item:hover .itemtile-store__image-Container
{
	background-color: none;
}

.itemtile-store__bottomrow
{
	width: 100%;
	vertical-align: bottom;
	margin: 0px 8px;
	margin-bottom: 8px;
}

.itemtile-store__bottomrow .itemtile-store__price-container
{
	horizontal-align: left;
	flow-children: right;
	height: 24px;
	vertical-align: bottom;
}

.itemtile-store__bottomrow .itemtile-store__price-container .itemtile-store__price-reduction-container
{
	height: 100%;
	background-color: positiveColor;
	visibility: collapse;
}

.itemtile-store__bottomrow .itemtile-store__price-container .itemtile-store__price-reduction-container .itemtile-store__price-reduction
{
	color: white;
	font-weight: medium;
	font-size: 16px;
	padding: 0px 4px;
	vertical-align: center;
}

.itemtile-store__bottomrow .itemtile-store__price-container .itemtile-store__price-labels
{
	flow-children: down;
	padding:0px 6px 0px 4px;
	height: 100%;
}

.itemtile-store__bottomrow .itemtile-store__price-container .itemtile-store__price-labels .itemtile-store__price-original
{
	font-size: 12px;
	text-decoration: line-through;
	color: white;
	transform: translateY(2px);
	visibility: collapse;
}

.itemtile-store__bottomrow .itemtile-store__price-container .itemtile-store__price-labels .itemtile-store__price-sale
{
	color: rgb(23, 235, 23);
	font-weight: black;
	font-size: 16px;
}

.itemtile-store__bottomrow .itemtile-store__price-container.has-reduction
{
	height: 28px;
}

.itemtile-store__bottomrow .itemtile-store__price-container.has-reduction .itemtile-store__price-reduction-container,.itemtile-store__bottomrow .itemtile-store__price-container.has-reduction .itemtile-store__price-original
{
	visibility: visible;
}

.itemtile-store__bottomrow .itemtile-store__price-container.has-reduction .itemtile-store__price-sale
{
	font-size: 14px;
}

.itemtile-store__bottomrow .itemtile-store__price-container.is-marketlink .itemtile-store__price-labels
{
	background-color: rgba(41, 41, 41, 0);
	padding:0px 6px 0px 0px;
}

.itemtile-store__bottomrow .itemtile-store__price-container.is-marketlink .itemtile-store__price-sale
{
	color: rgba(173, 173, 173, 0.904);
	font-size: 14px;
}

.itemtile-store__bottomrow .itemtile-store__tooltip-hotspot
{
	horizontal-align: right;
	vertical-align:bottom;
	brightness: 0.5;
	margin-bottom: 5px;
	transition-property: brightness;
	transition-duration: 0.2s;
}

.itemtile-store__bottomrow .itemtile-store__tooltip-hotspot:hover
{
	brightness: 1;
}

.is-mainmenu-item .itemtile-store__bottomrow
{
	margin-bottom: 38px;
}

.is-mainmenu-item .itemtile-store__price-container .itemtile-store__price-labels .itemtile-store__price-reduction,.is-mainmenu-item .itemtile-store__price-container .itemtile-store__price-labels .itemtile-store__price-original,.is-mainmenu-item .itemtile-store__price-container .itemtile-store__price-labels .itemtile-store__price-sale
{
	font-size: 12px;
}

.is-mainmenu-item .itemtile-store__tooltip-hotspot
{
	brightness: 0.8;
}

.itemtile-store__claimed
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
	ignore-parent-flow: true;
	visibility: collapse;
}

.itemtile-store__claimed .itemtile-store__claimed__left,.itemtile-store__claimed .itemtile-store__claimed__right
{
	wash-color: #216913;
	height: 24px;
}

.itemtile-store__claimed .itemtile-store__claimed__right
{
	transform: scaleX(-1);
	wash-color: #0F9D58;
}

.itemtile-store__claimed .itemtile-store__claimed__center
{
	horizontal-align: center;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #216913 ), to( positiveColor ));
	height: 24px;
	width: 130px;
}

.itemtile-store__reveal
{
	width: 100%;
	height: 100%;
	opacity: 1;
	-s2-mix-blend-mode: additive;
}

.itemtile-store__reveal .itemtile-store__reveal__1
{
	width: 100%;
	height: 100%;
	background-color: white;
	blur: gaussian( 1, 1, 3 );
	opacity: 0;
}

.itemtile-store__reveal .itemtile-store__reveal__2
{
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0;
}

.reveal-anim .itemtile-store__reveal__1
{
	opacity: 1;
	animation-name: just-claimed-1;
	animation-duration: .25s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.reveal-anim .itemtile-store__reveal__2
{
	opacity: 1;
	animation-name: just-claimed-2;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.reveal-anim .itemtile-store__claimed
{
	opacity: 1;
	animation-name: claim-reveal;
	animation-duration: .25s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes 'just-claimed-1'
{
	0%
	{
		transform:translatey( 100%);
		opacity: 1;
	}
	
	100%
	{
		opacity: 1;
		transform:translatey( -100%);
	}
	
}

@keyframes 'just-claimed-2'
{
	0%
	{
		brightness: 3;
		opacity: 1;
		background-color: white;
		transform:translatey( 100%) scale3d( 1, 1, 1 );
	}
	
	30%
	{
		brightness: 1;
		opacity: 1;
		background-color: white;
		transform:translatey( 0%) scale3d( 1, 1, 1 );
	}
	
	60%
	{
		brightness: 1;
		opacity: 1;
		background-color: positiveColor;
		transform:translatey( 0%) scale3d( 1, 1, 1 );
	}
	
	100%
	{
		brightness: 1;
		opacity: 0;
		transform:translatey( 100% ) scale3d( 1, 0, 1);
	}
	
}

@keyframes 'claim-reveal'
{
	0%
	{
		brightness: 1;
		transform: translateY( 0px ) scale3d( 1, 1, 1 );
	}
	
	50%
	{
		brightness: 5;
		transform: translateY( 25px ) scale3d( 1.3, 1.3, 1 );
	}
	
	100%
	{
		brightness: 1;
		transform: translateY( 0px) scale3d( 1, 1, 1 );
	}
	
}

@keyframes 'pulse-me'
{
	0%
	{
		brightness: 3;
	}
	
	100%
	{
		brightness: 1;
	}
	
}

