/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.radial-button:disabled
{
	brightness: 0.8;
	wash-color: darkgrey;
	blur: gaussian( 1 );
}

.RadioBox
{
	opacity: 0;
}

.RadioButton Label
{
	margin-left: 0px;
}

.radial-selector
{
	width: height-percentage( 100% );
	height: 840px;
	flow-children: none;
	clip:radial(50% 50%, 0deg, 360deg);
}

.radial-button
{
	width: 100%;
	height: 100%;
	flow-children: none;
}

.wedge
{
	transform-origin: 0% 100%;
	opacity: 0.2;
	margin-left: 50%;
	width: height-percentage( 87% );
	height: 420px;
	wash-color: black;
}

.w90
{
	opacity: 0.2;
	transform-origin: 0% 100%;
	margin-left: 50%;
	height: 420px;
	width: 420px;
	wash-color: black;
}

.w1 > .wedge
{
	transform: rotateZ( -60deg );
}

.w2 > .wedge
{
	transform: rotateZ( 0deg );
}

.w3 > .wedge
{
	transform: rotateZ( 60deg );
}

.w4 > .wedge
{
	transform: rotateZ( 120deg );
}

.w5 > .wedge
{
	transform: rotateZ( 180deg );
}

.w6 > .wedge
{
	transform: rotateZ( 240deg );
}

.w1 > .w90
{
	transform: rotateZ( -45deg ) scale3d( 1.2, 1.2, 1 );
}

.w2 > .w90
{
	transform: rotateZ( 45deg );
}

.w3 > .w90
{
	transform: rotateZ( 135deg );
}

.w4 > .w90
{
	transform: rotateZ( 225deg ) scale3d( 1.2, 1.2, 1 );
}

.radial-select-hover > .wedge
{
	brightness: 2;
	opacity: 0.2;
	wash-color: darkgrey;
	transition-property: wash-color, brightness, opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.w1 > .buywheel-item
{
	position: -20% -27% 0px;
}

.w2 > .buywheel-item
{
	position: 20% -27% 0px;
}

.w3 > .buywheel-item
{
	position: 30% 0% 0px;
}

.w4 > .buywheel-item
{
	position: 20% 27% 0px;
}

.w5 > .buywheel-item
{
	position: -20% 27% 0px;
}

.w6 > .buywheel-item
{
	position: -30% 0% 0px;
}

.w1 > .fourslot
{
	position: 0% -25% 0px;
}

.w2 > .fourslot
{
	position: 25% 0% 0px;
}

.w3 > .fourslot
{
	position: 0% 25% 0px;
}

.w4 > .fourslot
{
	position: -25% 0% 0px;
}

.w1 > .buywheel-category
{
	position: 20% 17% 0px;
}

.w2 > .buywheel-category
{
	position: 56% 17% 0px;
}

.w3 > .buywheel-category
{
	position: 70% 48% 0px;
}

.w4 > .buywheel-category
{
	position: 57% 72% 0px;
}

.w5 > .buywheel-category
{
	position: 24% 72% 0px;
}

.w6 > .buywheel-category
{
	position: 10% 48% 0px;
}

