/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define imageheight: 121px;
.item-tile
{
	width: 192px;
	height: 184px;
	padding: 0px 13px;
	transform-origin: 50% 50%;
	transition-property: width, transform;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.item-tile:disabled
{
	brightness: .5;
	opacity:.75;
}

.item-tile--small
{
	ui-scale: 90%;
}

.item-tile--large
{
	width: 312px;
	height: 330px;
}

.item-tile.delete
{
	width: 0px;
	transition-property: width;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.item-tile-in-same-set
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(223, 223, 223, 0.1), to(rgba(175, 175, 175, .0) ) );
}

.item-tile__name
{
	font-size: 14px;
	text-align: left;
	vertical-align: top;
	position: 0px imageheight 0px;
	margin-top: 8px;
	height: 46px;
	text-shadow:1px 1px 4px #000000;
	font-family: stratum2Font;
	color: white;
	text-overflow: ellipsis;
	transition-property: color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.item-tile:hover:not(.item-tile:disabled) Label
{
	color: white;
}

.item-tile__image
{
	horizontal-align: middle;
	width: 100%;
	height: imageheight;
	opacity: 1;
	visibility: visible;
	transition-property: transform, brightness, img-shadow, opacity;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.item-tile__bg
{
	width: 100%;
	height: imageheight;
	border: 1px solid rgba(0, 0, 0, 0.25);
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(75, 75, 75, 0.75), to(rgba(175, 175, 175, .75) ) );
	box-shadow: rgba(0, 0, 0, 0.1) fill 0px 1px 4px 2px;
	transition-property: box-shadow, border, background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.item-tile__team
{
	width:height-percentage( 120%);
	height: 40%;
	vertical-align:top;
	horizontal-align:left;
	position: 5% 5% 0px;
	padding-left: 6px;
	opacity: 0.2;
}

.item-tile:hover:not(.item-tile:disabled)
{
	transition-property: width, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.item-tile:hover:not(.item-tile:disabled) .item-tile__bg
{
	box-shadow: rgba(0, 0, 0, 0.50) fill 0px 2px 8px 2px;
	transition-property: box-shadow, border, background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
	sound: "UIPanorama.inventory_item_rollover";
}

#ItemListForCapability .item-tile:hover:not(.item-tile:disabled) .item-tile__bg
{
	border: 4px solid white;
	transition-property: box-shadow, border, background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

#ItemListForCapability .item-tile:hover:not(.item-tile:disabled) .item-tile__rarity
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.item-tile__multi-select
{
	visibility: collapse;
	horizontal-align: left;
	border: 1px solid rgba(252, 252, 252, 0.50);
	padding: 2px;
	margin: 8px;
	border-radius: 50%;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.item-tile__inspect
{
	visibility: collapse;
	margin: 8px;
	y: 80px;
	horizontal-align: right;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.inv-multi-select-allow .item-tile__multi-select
{
	visibility: visible;
}

.inv-multi-select-allow .item-tile__multi-select Image
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
}

.inv-multi-select-allow .item-tile:hover:not(.capability_multistatus_selected) .item-tile__multi-select
{
	background-color: rgba(252, 252, 252, 0.60);
	border: 1px solid rgba(252, 252, 252, 0.0);
}

.inv-multi-select-allow .item-tile:hover:not(.capability_multistatus_selected) .item-tile__multi-select Image
{
	wash-color: rgb(31, 31, 31);
	opacity: 1;
}

.inv-multi-select-allow .item-tile:hover .item-tile__inspect
{
	visibility: visible;
	opacity: .5;
}

.inv-multi-select-allow .item-tile:hover .item-tile__inspect:hover
{
	opacity: 1;
	transition-property: opacity;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
}

.inv-multi-select-allow .item-tile.capability_multistatus_selected .item-tile__multi-select
{
	visibility: visible;
	border: 1px solid rgba(252, 252, 252, 0.0);
	box-shadow: shadowOffset;
	opacity: 1;
	background-color: positiveColor;
}

.inv-multi-select-allow .item-tile.capability_multistatus_selected .item-tile__multi-select Image
{
	visibility: visible;
	wash-color: white;
	opacity: 1;
	transition-property: opacity;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
}

.item-tile.capability_multistatus_selected .item-tile__bg,.item-tile.capability_multistatus_selected .item-tile__image
{
	brightness: .2;
}

.item-tile__rarity
{
	background-color: #FFFFFF;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 4px 1px;
	width: 100%;
	height: 5px;
	transform: translateY(imageheight);
	vertical-align: top;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.item-tile__recent
{
	background-color: blueColor;
	horizontal-align: left;
	vertical-align: top;
	font-size: 12px;
	padding: 4px;
	margin: 0px 8px 8px 0px;
	font-weight: bold;
	text-align: center;
	box-shadow: #00000025 0px 0px 2px 2px ;
	visibility:visible;
}

.item-tile__equipped
{
	flow-children: right;
	width: fit-children;
	height: fit-children;
	vertical-align: top;
	horizontal-align: right;
	margin-top: 10px;
	margin-right: 5px;
	visibility: visible;
}

.item-tile__equipped__radiodot
{
	width: 16px;
	height: 16px;
	position: 0px 0px 0px;
	vertical-align: center;
	background-color: gradient( radial, 50% 50%, 0% 0%, 0% 0%, from( #ffffff00 ), color-stop( 0.8, #ffffff00 ), to( #ffffff00 ) );
	border-radius: 50%;
	z-index: 1;
	margin-right: 6px;
	border: 1px solid white;
	box-shadow: #00000025 0px 0px 2px 2px ;
	-s2-mix-blend-mode: screen;
	transition-property: background-color, width, height;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.item-tile__equipped__radiodot--filled
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 25% 25%, from( white ), color-stop( .95, white ), to( #ffffff00 ) );
	transition-property: background-color;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.item-tile__equipped__radiodot--filled.shuffle
{
	background-image: url("s2r://panorama/images/icons/ui/random.vsvg");
	background-img-opacity: 1;
	background-size: 10px 10px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: None;
}

.item-tile__equipped__radiodot--t
{
	wash-color: warningColor;
}

.item-tile__equipped__radiodot--ct
{
	wash-color: blueColor;
}

.item-tile__equipped__favicon
{
	width: 16px;
	height: 16px;
	position: 0px 0px 0px;
	vertical-align: center;
	border-radius: 50%;
	z-index: 1;
	margin-right: 6px;
	border: 1px solid white;
	box-shadow: #00000025 0px 0px 2px 2px ;
	-s2-mix-blend-mode: screen;
	background-image: url("s2r://panorama/images/icons/ui/favorite_yes.vsvg");
	background-img-opacity: 1;
	background-size: 10px 10px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: None;
}

.item-tile__equipped__favicon--t
{
	wash-color: warningColor;
}

.item-tile__equipped__favicon--ct
{
	wash-color: blueColor;
}

.item-tile__equipped__radiodot.hidden,.item-tile__equipped__favicon.hidden,.item-tile__recent.hidden
{
	visibility: collapse;
}

.item-tile__stickers
{
	height: fit-children;
	width: fit-children;
	flow-children: left;
	position: 0px imageheight 0px;
	margin-top: -28px;
	margin-left: 4px;
}

.item-tile__stickers__image
{
	height: 24px;
}

.item-tile__model-panel
{
	horizontal-align: middle;
	margin-top: 4%;
	width: 85%;
	height: 85%;
	opacity: 1;
	visibility: collapse;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.ItemTile #ItemTooltip
{
	width: 100%;
	height: 100%;
}

.Active
{
	opacity: 1;
	visibility: visible;
}

.ItemTile-ModelPanel-Inspect
{
	horizontal-align: middle;
	margin-top: 4%;
	width: 768px;
	height: 512px;
}

.loadout-drag-icon
{
	width: 192px;
	height: 128px;
	transform: scale3d(0.8, 0.8, 0.8);
	transition-property: transform, opacity;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.drag-start
{
	transform: scale3d(1, 1, 1);
}

.drag-end
{
	transform: scale3d(0.7, 0.7, 0.7);
	opacity: 0;
}

.dragged-away
{
	saturation: 0.6;
	brightness: 0.2;
}

.loadout-grid-container .item-tile:hover:not(.item-tile:disabled) ItemImage
{
	transform: translatey( -6px);
	img-shadow: -3px 6px 6px .5 rgba(0, 0, 0, .2);
}

@keyframes 'hover-wiggle'
{
	0%
	{
		transform: translateX( 1px ) translatey(-5px );
	}
	
	50%
	{
		transform: translateX( -1px ) translatey( -7px ) rotateX( 0deg );
	}
	
	100%
	{
		transform: translateX( 1px ) translatey( -6px );
	}
	
}

