/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	width: 400px;
	height: 820px;
}

.leaderboard-root
{
	padding: 12px;
	padding-top: 44px;
}

.leaderboard-navbar Label
{
	font-family: Stratum2 Condensed, 'Arial Unicode MS';
	margin: 0px;
	color: white;
	padding: 8px 8px;
	font-size: 16px;
}

DropDownMenu Label,.leaderboard-header .DropDownChild
{
	font-family: Stratum2 Medium Condensed, 'Arial Unicode MS';
	font-size: 18px;
	text-overflow: shrink;
}

DropDownMenu Label.of-interest,.leaderboard-header .DropDownChild.of-interest
{
	wash-color: rgb(214, 214, 0);
}

.nav.content-navbar__tabs__dropdown
{
	width:150px;
	margin-left: 10px;
}

#jsToggleSelf Label
{
	width: fit-children;
}

.leaderboard-header
{
	flow-children: down;
}

.leaderboard-header .leaderboard-navbar
{
	width: 100%;
	margin-bottom: 12px;
}

.leaderboard-header .leaderboard-navbar Label
{
	color: white;
}

.leaderboard-header .leaderboard-navbar Label.local-player-relevance
{
	wash-color: yellow;
}

.leaderboard-header .leaderboard-navbar #jsToggleSelf
{
	horizontal-align:left;
	padding-left: 5px;
	padding-right: 5px;
}

.leaderboard-header .leaderboard-navbar #jsToggleSelf .TickBox
{
	margin: 0px;
	width: 20px;
	height: width-percentage(100%);
	background-size: 20px;
}

.leaderboard-title-bar__label
{
	width: 1000px;
	height: 32px;
	vertical-align: top;
	font-size: 22px;
	font-family: Stratum2 Medium Italic, 'Arial Unicode MS';
	text-transform: uppercase;
	margin-left: 0px;
	horizontal-align: left;
	color: white;
	padding-top: 4px;
	padding-left: 26px;
	background-image: url("s2r://panorama/images/icons/ui/premier_title_bg.vsvg");
	background-size: 100% 100%;
}

.leaderboard__contents
{
	vertical-align: top;
	horizontal-align: center;
	width: 100%;
	margin-bottom: 10px;
	flow-children: down;
}

.leaderboard__status
{
	vertical-align: center;
	horizontal-align: center;
	height: fill-parent-flow( .9 );
}

.leaderboard__tabs
{
	flow-children: right;
}

.leaderboard__contents .content-navbar
{
	padding: 0px 48px;
}

.leaderboard__list
{
	width: 100%;
	flow-children: down;
}

.leaderboard__entries-container
{
	flow-children: down;
	overflow: clip scroll;
}

.leaderboard__list__row,.header
{
	padding-right: 20px;
}

.leaderboard__list__row
{
	flow-children: right;
	width: 100%;
	transition-property: transform, brightness;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.leaderboard__list__row.header Label
{
	horizontal-align: center;
}

.playmenu--premier__party .leaderboard__list__row:hover:not(.no-hover),.friends .leaderboard__list__row:hover:not(.no-hover)
{
	brightness: 2;
	background-color: #555555;
	transition-property: transform, brightness;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
	sound: "UIPanorama.sidemenu_rollover";
}

.leaderboard__list__column
{
	width: fill-parent-flow( 6 );
	height: 30px;
	margin-right:2px;
}

.background
{
	background-color: rgba(0, 0, 0, 0.25);
}

.local-player.leaderboard__list__row Label
{
	color:gold;
}

.leaderboard__list__column.rank
{
	width: 70px;
}

.leaderboard__list__row:not(.header) .leaderboard__list__column.rank .leaderboard_cell
{
	horizontal-align: right;
}

.leaderboard__list__column.name
{
	flow-children: right;
	width: fill-parent-flow(1);
}

.leaderboard__list__row:not(.header) .leaderboard__list__column.name Label
{
	text-align: left;
}

.leaderboard__list__column.wins
{
	width: 50px;
}

.leaderboard__list__row:not(.header) .leaderboard__list__column.wins .leaderboard_cell
{
	horizontal-align: right;
}

.leaderboard__list__column.winrate
{
	width: 70px;
}

.leaderboard__list__row:not(.header) .leaderboard__list__column.winrate .leaderboard_cell
{
	horizontal-align: right;
}

.leaderboard__list__column.rankpct
{
	width: 50px;
	visibility: collapse;
}

.friends .leaderboard__list__column.rankpct,.playmenu--premier__party .leaderboard__list__column.rankpct
{
	visibility: visible;
}

.leaderboard__list__row:not(.header) .leaderboard__list__column.rankpct .leaderboard_cell
{
	horizontal-align: right;
}

.leaderboard__list__column.rating
{
	width: 80px;
}

.leaderboard__list__column.rating .rating-root
{
	horizontal-align: center;
	vertical-align: center;
}

.leaderboard__list__column.region
{
	width: 30px;
	visibility: collapse;
}

.leaderboard__list__row:not(.header) .leaderboard__list__column.region Label
{
	text-align:left;
	font-family: Stratum2 Medium Condensed, 'Arial Unicode MS';
	horizontal-align: center;
	font-size: 16px;
}

.world .leaderboard__list__column.region,.friends .leaderboard__list__column.region
{
	visibility: visible;
}

.leaderboard_cell
{
	font-size: 14px;
	padding-right: 4px;
	padding-left: 4px;
	font-family: Stratum2 Regular Monodigit, 'Arial Unicode MS';
	text-align:right;
	max-height: 14px;
	text-overflow: ellipsis;
	vertical-align:center;
}

.header .leaderboard_cell
{
	font-size: 18px;
	padding-left: 0px;
	horizontal-align: center;
	font-family: Stratum2 Condensed, 'Arial Unicode MS';
	text-overflow: shrink;
}

.leaderboard_cell.faded
{
	opacity: .5;
}

.leaderboard__status.hidden,.leaderboard__list.hidden,#id-leaderboard-navbar.hidden
{
	visibility: collapse;
	opacity: 0;
}

.leaderboard__name-entry
{
	flow-children: right;
	padding-left: 8px;
	vertical-align: center;
}

#leaderboard-entry-name
{
	width: 300px;
	text-overflow: shrink;
	height: 24px;
}

.leaderboard__name-entry__avatar
{
	width: 24px;
	height: 24px;
}

#lbNameButton
{
	ignore-parent-flow: true;
	margin: 0px;
	margin-top: -36px;
	visibility: collapse;
	vertical-align: top;
}

#lbNameButton Label
{
	text-transform: none;
	font-size: 18px;
	margin: 5px;
	font-weight: medium;
	letter-spacing: 0px;
}

#lbNameButton.submitted
{
	wash-color: rgb(214, 214, 0);
}

#lbNameButton.approved
{
	wash-color: white;
}

