/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.loadout-grid-container
{
	margin-right: 64px;
}

.loadout-grid-container .loadout-grid__slots
{
	height: 56%;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	background-color: rgba(0, 0, 0, 0.25);
	margin-bottom: 8px;
	transition-property: border;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.loadout-grid-container .loadout-grid__slots .loadout-grid__slots__container
{
	flow-children: right;
	vertical-align: center;
	margin: 0px 0px 0px 0px;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.loadout-grid-container .loadout-grid__slots .loadout-grid__slots__ct,.loadout-grid-container .loadout-grid__slots .loadout-grid__slots__t
{
	transform-origin: 50% 50%;
	height: 100%;
	flow-children: right;
	vertical-align: center;
	horizontal-align: center;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.loadout-grid-container .loadout-grid__slots .loadout-grid__slots__ct .loadout-column__title:not(:selected):hover Label,.loadout-grid-container .loadout-grid__slots .loadout-grid__slots__t .loadout-column__title:not(:selected):hover Label
{
	color: white;
}

.loadout-grid-container .loadout-grid__slots .loadout-grid__slots__ct .loadout-column__title:not(:selected):hover .RadioBox,.loadout-grid-container .loadout-grid__slots .loadout-grid__slots__t .loadout-column__title:not(:selected):hover .RadioBox
{
	wash-color: white;
}

.loadout-grid-container .loadout-grid__slots .loadout-grid__slots__ct .loadout-column__title:disabled Label,.loadout-grid-container .loadout-grid__slots .loadout-grid__slots__t .loadout-column__title:disabled Label
{
	color: black;
	opacity: .5;
}

.loadout-grid-container .loadout-grid__slots .loadout-grid__slots__t
{
	background-color: rgba(100, 81, 6, 0.5);
	background-color: gradient( linear, 0% 0%,100% 0%, from( rgba(100, 81, 6, 0.5)), color-stop( .75, rgba(100, 81, 6, 0.5)), to( rgba(100, 81, 6, 0.0)) );
	border-left: 4px solid rgba(214, 180, 45, 0.562);
}

.loadout-grid-container .loadout-grid__slots .loadout-grid__slots__ct
{
	x: -308px;
	z-index: 2;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( rgba(29, 86, 135, 0.422)), color-stop( .75, rgba(29, 86, 135, 0.422)), to( rgba(5, 66, 120, 0.0)) );
	border-right: 4px solid rgba(48, 147, 234, 0.679);
}

.loadout-grid-container .loadout-grid__slots .loadout-grid__slots__t
{
	x: 308px;
	z-index: 1;
}

.loadout-grid-container.loadout_t_selected .loadout-grid__slots__t
{
	z-index: 2;
}

.loadout-grid-container.loadout_t_selected .loadout-grid__slots__ct
{
	z-index: 1;
}

.loadout-grid-container .loadout-grid__inv
{
	height: 100%;
	width: 100%;
	flow-children: down;
}

.loadout-grid-container .loadout-grid__inv .loadout-grid__inv__navbar
{
	width: 100%;
	margin-right: 16px;
	margin-left: 16px;
	flow-children: right;
}

.loadout-grid-container .loadout-grid__inv .loadout-grid__inv__navbar #id-loadout-filter-itemdef
{
	margin-left: 10px;
}

.loadout-grid-container .loadout-grid__inv .loadout-grid__inv__navbar .IconButton
{
	padding: 0px;
	margin: 4px 8px;
}

#id-loadout-column0,#id-loadout-column4
{
	margin: 0px;
}

#id-loadout-column0 .loadout-column__title Label,#id-loadout-column4 .loadout-column__title Label
{
	min-width: 0px;
	width:fit-children;
	text-align: center;
	width: 0px;
}

#id-loadout-column0
{
	margin-left: 8px;
}

#id-loadout-column4
{
	margin-right: 8px;
}

.loadout-column
{
	flow-children: down;
	height: 528px;
	margin: 0px 8px;
}

.loadout-column .loadout-column__title
{
	width: 100%;
	margin: 0px 0px;
	flow-children: right;
	text-transform: uppercase;
}

.loadout-column .loadout-column__title Label
{
	text-align: left;
	width: 100%;
	horizontal-align: left;
	margin: 0px 0px;
	font-family: Stratum2 Condensed, "Arial Unicode MS";
	text-transform: uppercase;
	font-size: 18px;
	padding: 0px 0px;
}

.loadout-column .loadout-column__title .RadioBox
{
	opacity: 1;
	margin-right: 8px;
	padding: 0px;
	vertical-align: center;
	box-shadow: none;
	background-color: none;
	border-radius: 0px;
	border: 0px solid white;
	margin-right: 6px;
	background-size: 14px 14px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/icons/ui/filter_line.vsvg");
	transition-property: wash-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.loadout-column .loadout-column__title:selected Label
{
	color: black;
}

.loadout-column .loadout-column__title:selected .RadioBox
{
	wash-color: black;
	background-image: url("s2r://panorama/images/icons/ui/filter.vsvg");
}

.loadout-column .loadout-slot
{
	width: 160px;
	height: fill-parent-flow ( 1 );
	background-color: rgba(0, 0, 0, 0.25);
	perspective: 1000;
	transition-property: background-color;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.loadout-column .loadout-slot .loadout-slot__image
{
	horizontal-align: center;
	height: 100%;
	width: height-percentage( 133% );
	img-shadow: 0px 0px 0px 0.0 #00000000;
	transition-property: transform, brightness, img-shadow, opacity;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.loadout-column .loadout-slot .loadout-slot-svg__image
{
	horizontal-align: center;
	vertical-align: center;
	opacity: .6;
	wash-color: rgba(0, 0, 0, 0.963);
}

.loadout-column .loadout-slot .loadout-slot-rarity
{
	height: 2px;
	width: 100%;
	vertical-align: bottom;
}

.loadout-column .loadout-slot .loadout-slot__name,.loadout-column .loadout-slot .loadout-slot__money
{
	font-size: 12px;
	opacity: .0;
	width: 100%;
	vertical-align: bottom;
	horizontal-align: right;
	text-align: right;
	margin-right: 4px;
	margin-bottom: 4px;
	transition-property: opacity;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.loadout-column .loadout-slot .loadout-slot__money
{
	horizontal-align: left;
	text-align: left;
	margin-left: 4px;
}

.loadout-column .loadout-slot .loadout-slot-filter-icon
{
	opacity: .8;
	margin: 2px 0px 0px 0px;
	width: 20px;
	height: 20px;
	background-size: 14px 14px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/icons/ui/filter.vsvg");
}

.loadout-column .loadout-slot .loadout-slot-shuffle-icon
{
	opacity: .8;
	margin: 2px 0px 0px 0px;
	width: 20px;
	height: 20px;
	background-size: 14px 14px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/icons/ui/random.vsvg");
	horizontal-align: right;
}

.loadout-column .loadout-slot.droptarget ItemImage
{
	transform: scale3d(1, 1, 1);
	animation-name: dropped-target;
	animation-duration: .2s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
}

.loadout-column .loadout-slot.dragged-away
{
	background-color: rgba(0, 0, 0, 0.7);
}

.loadout-column .loadout-slot.dragged-away ItemImage
{
	saturation: 0.6;
	brightness: 0.2;
	opacity: .4;
}

.loadout-column .loadout-slot:hover:not(.dragged-away),.loadout-column .loadout-slot:hover:not(.drop-target)
{
	background-color: rgba(143, 143, 143, 0.144);
	sound: "UIPanorama.inventory_item_rollover";
}

.loadout-column .loadout-slot:hover:not(.dragged-away) ItemImage,.loadout-column .loadout-slot:hover:not(.drop-target) ItemImage
{
	transform: translatey( -6px);
	brightness: 1.6;
	img-shadow: -3px 6px 6px .5 rgba(0, 0, 0, .2);
}

.loadout-column .loadout-slot.loadout-slot--skinny
{
	width: 60px;
	margin: 0px;
	background-color: rgba(0, 0, 0, 0.15);
}

.loadout-column .loadout-slot.loadout-slot--margin-bottom
{
	margin-bottom: 5px;
}

.loadout-column .loadout-slot.loadout-valid-target.loadout-drag-enter
{
	background-color: rgba(0, 0, 0, 0.7);
}

.loadout-column .loadout-slot.loadout-valid-target.loadout-drag-enter ItemImage
{
	opacity: .3;
}

.loadout-column .loadout-slot.old-item-slot ItemImage
{
	transform: scale3d(1, 1, 1);
	animation-name: dropped-target;
	animation-duration: .2s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
}

.loadout-column:hover .loadout-slot__name,.loadout-column:hover .loadout-slot__money
{
	opacity: .7;
}

#id-loadout-column3 .loadout-slot__image
{
	tooltip-position: left;
}

@keyframes 'hover-wiggle'
{
	0%
	{
		transform: translateX( 1px ) translatey(-5px );
	}
	
	50%
	{
		transform: translateX( -1px ) translatey( -7px ) rotateX( 10deg );
	}
	
	100%
	{
		transform: translateX( 1px ) translatey( -6px );
	}
	
}

@keyframes 'dropped-target'
{
	0%
	{
		brightness: 5;
		transform: scale3d(1.2, 1.2, 0);
	}
	
	100%
	{
		brightness: 1;
		transform: scale3d(1, 1, 1);
	}
	
}

.loadout-grid-container .loadout-team-select-btn
{
	height: 100%;
	width: 620px;
	box-shadow: none;
	flow-children: none;
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.loadout-grid-container .loadout-team-select-btn .RadioBox,.loadout-grid-container .loadout-team-select-btn .TickBox
{
	visibility: collapse;
}

.loadout-grid-container .loadout-team-select-btn .loadout-grid__agent
{
	width: 332px;
	height: 100%;
	vertical-align: center;
	horizontal-align: right;
	transition-property: opacity, brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.loadout-grid-container .loadout-team-select-btn .loadout-grid__row-slots
{
	flow-children: down;
	vertical-align: center;
	margin: 0px 8px;
}

.loadout-grid-container .loadout-team-select-btn .loadout-grid__row-slots .loadout-model-panel__slot
{
	height: 64px;
	width: 64px;
	margin-bottom: 5px;
	background-color: rgba(0, 0, 0, 0.25);
	transition-property: background-color;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.loadout-grid-container .loadout-team-select-btn .loadout-grid__row-slots .loadout-model-panel__slot .loadout-slot__image
{
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: width-percentage( 73% );
	vertical-align: center;
}

.loadout-grid-container .loadout-team-select-btn .loadout-grid__row-slots .loadout-model-panel__slot .loadout-slot-svg__image
{
	horizontal-align: center;
	vertical-align: center;
	opacity: .8;
}

.loadout-grid-container .loadout-team-select-btn .loadout-grid__row-slots .loadout-model-panel__slot .loadout-slot-rarity
{
	height: 2px;
	width: 100%;
	vertical-align: bottom;
}

.loadout-grid-container .loadout-team-select-btn .loadout-grid__row-slots .loadout-model-panel__slot .loadout-slot-filter-icon
{
	margin: 4px;
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	background-image: url("s2r://panorama/images/icons/ui/filter.vsvg");
	horizontal-align: left;
	img-shadow: 0px 0px 6px 1.0 #00000044;
}

.loadout-grid-container .loadout-team-select-btn .loadout-grid__row-slots .loadout-model-panel__slot .loadout-slot-shuffle-icon
{
	margin: 4px;
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	background-image: url("s2r://panorama/images/icons/ui/random.vsvg");
	horizontal-align: right;
	img-shadow: 0px 0px 6px 1.0 #00000044;
}

.loadout-grid-container .loadout-team-select-btn .loadout-grid__row-slots .loadout-model-panel__slot:hover
{
	background-color: rgba(205, 205, 205, 0.25);
	sound: "UIPanorama.inventory_item_rollover";
}

.loadout-grid-container .loadout-team-select-btn .loadout-grid-team_title
{
	position: 0px 0px 0px;
	vertical-align: top;
	horizontal-align: center;
	padding: 4px 8px;
	margin: 16px 0px 0px 0px;
	font-size: 20px;
	border: 1px solid white;
	border-radius: 3px;
	color: black;
}

.loadout-grid-container .loadout-team-select-btn.loadout-valid-target
{
	border: 2px dashed white;
}

.loadout-grid-container .loadout-team-select-btn:hover
{
	sound: "UIPanorama.inventory_item_rollover";
}

.loadout-grid-container .loadout-grid__slots__t .loadout-grid__agent
{
	horizontal-align: left;
}

.loadout-grid-container .loadout-grid__slots__t .loadout-grid__row-slots
{
	horizontal-align: left;
	transform: translateX(260px);
}

.loadout-grid-container .loadout-grid__slots__t .loadout-grid-team_title
{
	background-color: t-color;
	border: 1px solid t-color;
	horizontal-align: center;
}

.loadout-grid-container .loadout-grid__slots__t .loadout-slot__name
{
	color: t-color;
}

.loadout-grid-container .loadout-grid__slots__t .loadout-slot-filter-icon
{
	wash-color: t-color;
}

.loadout-grid-container .loadout-grid__slots__t .loadout-slot-shuffle-icon
{
	wash-color: t-color;
}

.loadout-grid-container .loadout-grid__slots__t .loadout-column__title
{
	color: ct-color;
}

.loadout-grid-container .loadout-grid__slots__t .loadout-column__title:selected
{
	background-color: t-color;
}

.loadout-grid-container .loadout-grid__slots__t .loadout-column__title:not(:selected) Label
{
	color: t-color;
}

.loadout-grid-container .loadout-grid__slots__t .loadout-column__title:not(:selected) .RadioBox
{
	wash-color: t-color;
}

.loadout-grid-container .loadout-grid__slots__ct .loadout-grid-team_title
{
	background-color: ct-color;
	border: 1px solid ct-color;
}

.loadout-grid-container .loadout-grid__slots__ct .loadout-grid__row-slots
{
	horizontal-align: right;
	transform: translateX(-260px);
}

.loadout-grid-container .loadout-grid__slots__ct .loadout-slot__name
{
	color: ct-color;
}

.loadout-grid-container .loadout-grid__slots__ct .loadout-slot-filter-icon
{
	wash-color: ct-color;
}

.loadout-grid-container .loadout-grid__slots__ct .loadout-slot-shuffle-icon
{
	wash-color: ct-color;
}

.loadout-grid-container .loadout-grid__slots__ct .loadout-column__title
{
	color: ct-color;
}

.loadout-grid-container .loadout-grid__slots__ct .loadout-column__title:selected
{
	background-color: ct-color;
}

.loadout-grid-container .loadout-grid__slots__ct .loadout-column__title:not(:selected) Label
{
	color: ct-color;
}

.loadout-grid-container .loadout-grid__slots__ct .loadout-column__title:not(:selected) .RadioBox
{
	wash-color: ct-color;
}

.loadout-grid-container .loadout-grid__slots__ct .loadout-valid-target
{
	border: 2px dashed ct-color;
	box-shadow: inset #1a1a1a67 0px 0px 12px 0px;
}

.loadout-grid-container.loadout_t_selected .loadout-grid__slots__ct
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( rgba(5, 66, 120, 0.0) ), color-stop ( .8, rgba(5, 66, 120, 0.0) ), to( rgba(4, 82, 150, 0) ) );
	border-right: 4px solid rgba(100, 81, 6, 0.0);
}

.loadout-grid-container.loadout_t_selected .loadout-grid__slots__ct .loadout-grid__slots__container
{
	opacity: 0;
}

.loadout-grid-container.loadout_t_selected .loadout-grid__slots__ct .loadout-grid__row-slots
{
	opacity: .3;
}

.loadout-grid-container.loadout_t_selected .loadout-grid__slots__ct .loadout-grid__agent
{
	opacity: .5;
	brightness: .5;
}

.loadout-grid-container.loadout_t_selected .loadout-grid__slots__ct .loadout-team-select-btn.loadout-team-select-btn:hover .loadout-grid-team_title
{
	opacity: .6;
}

.loadout-grid-container.loadout_t_selected .loadout-grid__slots__ct .loadout-team-select-btn.loadout-team-select-btn:hover .loadout-grid__agent
{
	opacity: .6;
	brightness: .8;
}

.loadout-grid-container.loadout_t_selected .loadout-grid__slots__ct .loadout-grid-team_title
{
	background-color: none;
	color: ct-color;
	opacity: .8;
}

.loadout-grid-container.loadout_t_selected .loadout-valid-target
{
	border: 2px dashed t-color;
	box-shadow: inset #1a1a1a67 0px 0px 12px 0px;
}

.loadout-grid-container:not(.loadout_t_selected) .loadout-grid__slots__t
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba( 100, 81, 6, 0.0 ) ), color-stop ( .8, rgba(100, 81, 6, 0.0) ), to( rgba(51, 41, 1, 0) ) );
	border-left: 4px solid rgba(100, 81, 6, 0.0);
}

.loadout-grid-container:not(.loadout_t_selected) .loadout-grid__slots__t .loadout-grid__slots__container
{
	opacity: 0;
}

.loadout-grid-container:not(.loadout_t_selected) .loadout-grid__slots__t .loadout-grid__row-slots
{
	opacity: .3;
}

.loadout-grid-container:not(.loadout_t_selected) .loadout-grid__slots__t .loadout-grid__agent
{
	opacity: .5;
	brightness: .5;
}

.loadout-grid-container:not(.loadout_t_selected) .loadout-grid__slots__t .loadout-team-select-btn.loadout-team-select-btn:hover .loadout-grid-team_title
{
	opacity: .6;
}

.loadout-grid-container:not(.loadout_t_selected) .loadout-grid__slots__t .loadout-team-select-btn.loadout-team-select-btn:hover .loadout-grid__agent
{
	opacity: .6;
	brightness: .8;
}

.loadout-grid-container:not(.loadout_t_selected) .loadout-grid__slots__t .loadout-grid-team_title
{
	background-color: none;
	color: t-color;
	opacity: .3;
}

.loadout-drag-icon
{
	height: 128px;
	width: height-percentage( 133% );
	transform: scale3d(0.7, 0.7, 0.7) translateY(-25%) translateX(-50%);
	transition-property: transform, opacity;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.loadout-drag-icon.drag-start
{
	transform: scale3d(1, 1, 1) translateY(-25%) translateX(-50%);
}

.loadout-drag-icon.drag-end
{
	transform: scale3d(0.7, 0.7, 0.7) translateY(-25%) translateX(-50%);
	opacity: 0;
}

.IconButton
{
	background-color: rgba(255, 255, 255, 0.035);
}

.loadout-grid-cancel-text
{
	font-size: 14px;
	padding-left: 5px;
}

