/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.mainmenu__lastmatch
{
	height: 130px;
	width: 100%;
	background-color: blurBackgroundColor;
}

#id-mainmenu-lastmatch-background
{
	transform: scale3d( 1.0, 1.0, 1.0 );
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu__lastmatch:hover #id-mainmenu-lastmatch-background
{
	transform: scale3d( 1.05, 1.05, 1.05 );
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu__lastmatch__container
{
	flow-children: down;
	horizontal-align: center;
}

.mainmenu__lastmatch__match-date
{
	font-family: Stratum2, 'Arial Unicode MS';
	color: white;
	font-size: 12px;
	text-align: center;
	horizontal-align: right;
	font-weight: medium;
	vertical-align: center;
}

.avatar-image__icon:hover
{
	brightness: 2;
	transition-property: brightness;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.mainmenu__lastmatch__match
{
	width: fit-children;
	padding: 0px 32px;
}

.mainmenu__lastmatch__match__win-loss--green,.mainmenu__lastmatch__match__win-loss--yellow,.mainmenu__lastmatch__match__win-loss--red
{
	height: 16px;
	width: 16px;
	border-radius: 50%;
	box-shadow: shadowOffset;
	vertical-align: center;
}

.mainmenu__lastmatch__match__map-icon
{
	height: 32px;
	vertical-align: center;
	margin: 0px 12px;
}

.mainmenu__lastmatch__match__map-name
{
	vertical-align: center;
	font-family: Stratum2, 'Arial Unicode MS';
	color: white;
	font-size: 28px;
	font-weight: medium;
}

.mainmenu__lastmatch__match__map-score
{
	vertical-align: center;
	horizontal-align: center;
	font-family: Stratum2, 'Arial Unicode MS';
	color: white;
	font-size: 28px;
	font-weight: black;
	text-align: center;
	width: fill-parent-flow ( 1 );
}

#id-mainmenu-lastmatch-match-teammates .avatar-image__icon
{
	height: 32px;
	width: 32px;
	margin: 0px 2px;
}

.mainmenu__lastmatch__match__win-loss--green
{
	background-color: positiveColor;
}

.mainmenu__lastmatch__match__win-loss--yellow
{
	background-color: warningColor;
}

.mainmenu__lastmatch__match__win-loss--red
{
	background-color: negativeColor;
}

.mainmenu__lastmatch__data
{
	flow-children: down-wrap;
	height:fill-parent-flow(1);
	horizontal-align: center;
}

@define stat-width: 80px;
@define stat-padding: 16px;
.mainmenu__lastmatch__data--three-columns
{
	width: 68%;
}

.mainmenu__lastmatch__data--two-columns
{
	width: 38%;
}

.mainmenu__lastmatch__data--one-columns
{
	width: 19%;
}

.mainmenu__lastmatch__data_container
{
	flow-children: right;
}

.mainmenu__lastmatch__stat
{
	width: stat-width;
	font-size: 14px;
	text-align: left;
	padding: 4px 0px 4px stat-padding;
	horizontal-align: center;
	font-weight: lighter;
	white-space: nowrap;
	text-overflow: shrink;
}

.mainmenu__lastmatch__value
{
	width: stat-width;
	font-size: 14px;
	text-align: right;
	font-weight: bold;
	padding: 4px stat-padding 4px 0px;
	border-right: 1px solid rgba(219, 219, 219, 0.164);
	horizontal-align: center;
}

.mainmenu__lastmatch__value--no-border
{
	border-right: 0px solid rgba(219, 219, 219, 0);
}

.mainmenu__lastmatch__upsell-container
{
	width: 100%;
	height: fill-parent-flow( 1 );
}

.mainmenu__lastmatch__upsell-image
{
	width: 640px;
	brightness: .4;
	blur:gaussian( 2, 2, 1 );
}

.mainmenu__lastmatch__upsell-info
{
	margin-left: 32px;
	margin-right: 32px;
	margin-top: 32px;
	flow-children: right;
	vertical-align: center;
}

.mainmenu__lastmatch_header
{
	flow-children: down;
	height: 32px;
	padding-left: op-missions-left-padding;
	width: 100%;
	border-bottom: 1px solid #ffffff3a;
}

.mainmenu__lastmatch__text
{
	font-family: Stratum2, 'Arial Unicode MS';
	color: white;
	font-size: 16px;
	font-weight: medium;
	width: 250px;
	text-overflow: shrink;
	vertical-align: center;
}

.hidden
{
	visibility: collapse;
}

