/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define store-home-section-width: 1280px;
.store-dynamic-lister
{
	width: store-home-section-width;
	height:100%;
	horizontal-align: center;
	opacity: 0;
	visibility: collapse;
	margin-right: 64px;
	flow-children: right-wrap;
	overflow: squish scroll;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.store-dynamic-lister.Active
{
	opacity: 1;
	visibility: visible;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.store-home-container
{
	width: store-home-section-width;
	height: 100%;
	horizontal-align: center;
	overflow: squish scroll;
	margin-right: 64px;
	padding-bottom: 16px;
	flow-children:down;
	padding-right: 32px;
}

.store-home-rewards-section
{
	margin-top: 16px;
	width: 100%;
	height: 300px;
	overflow: noclip;
	horizontal-align: center;
	margin-right: 32px;
	box-shadow: shadowOffset;
}

.store-home-rewards-section.hidden
{
	visibility: collapse;
}

.store-home-rewards-section .store-home-rewards-section-bg
{
	width: 100%;
	height: 100%;
	blur: mipmapgaussian( 4, 4, 2 );
	background-image: url("s2r://panorama/images/backgrounds/weekly_rewards_png.vtex");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-img-opacity: 1;
}

.store-home-prime-section
{
	margin-top: 16px;
	width: 100%;
	height: 300px;
	background-color: rgb(0, 0, 0);
}

.store-home-prime-section.hidden
{
	visibility: collapse;
}

.store-home-prime-section .store-home-prime-top
{
	width: fill-parent-flow( 1 );
	height: 100%;
	flow-children: down;
	background-color: blueColorDark;
	flow-children: down;
	background-image: url("s2r://panorama/images/backgrounds/linemap_png.vtex");
	background-size: auto auto;
	background-position: 0% 50%;
	background-img-opacity: .04;
}

.store-home-prime-section .store-home-prime-top .store-home-prime__logo
{
	horizontal-align: center;
	margin-top: 32px;
}

.store-home-prime-section .store-home-prime-top .store-home-prime__title
{
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	color: gradient( linear, 0% 0%, 0% 100%, from( #b1992e ), to( #e4dcb9) );
	text-shadow: 0px 0px 2px 1.0 #6b590b;
	font-weight: bold;
	font-size: 20px;
}

.store-home-prime-section #id-store-buy-prime
{
	vertical-align: bottom;
	horizontal-align: center;
	ui-scale: 85%;
	margin-bottom: 32px;
}

.store-home-prime-section .store-home-prime-section-container
{
	width: fill-parent-flow( 1 );
	height: 100%;
}

.store-home-prime-section .store-home-prime-seperator
{
	height: 100%;
	width: 3px;
	background-color: rgba(17, 67, 143, 0.336);
}

.store-home-prime-section .store-home-prime-section_base
{
	blur: gaussian( 6, 6, 3);
	wash-color: rgba(8, 8, 51, 0.534);
	height: 100%;
	width: 100%;
	brightness: .8;
	background-img-opacity: .3;
	background-size: cover;
}

.store-home-prime-section .store-home-prime-section_base.store-home-prime-section__1
{
	background-image: url("s2r://panorama/images/map_icons/screenshots/1080p/de_inferno_png.vtex");
}

.store-home-prime-section .store-home-prime-section_base.store-home-prime-section__2
{
	background-image: url("s2r://panorama/images/map_icons/screenshots/1080p/de_ancient_png.vtex");
}

.store-home-prime-section .store-home-prime-section_base.store-home-prime-section__3
{
	background-image: url("s2r://panorama/images/map_icons/screenshots/1080p/de_anubis_png.vtex");
}

.store-home-prime-section .store-home-prime-section__text-block
{
	horizontal-align:center;
	width: 260px;
	flow-children: down;
	margin-top: 160px;
}

.store-home-prime-section .store-home-prime-section__text-block .store-home-prime-section__title
{
	font-size: 26px;
	height: 30px;
	text-overflow: shrink;
}

.store-home-prime-section .store-home-prime-section__text-block .store-home-prime-section__desc
{
	font-size: 13px;
	height: 100px;
	text-overflow: shrink;
}

.store-home-prime-section .store-home-prime-section__image
{
	width: 220px;
	height: width-percentage( 50%);
	horizontal-align:center;
	margin-top: 32px;
}

.store-home-section
{
	width: 100%;
	height: 300px;
	background-color: rgba(0, 0, 0, 0.384);
	horizontal-align: center;
	border-radius: 5px;
	margin-top: 12px;
	box-shadow: shadowOffset;
}

.store-home-section .store-home-popular__items
{
	flow-children: right;
	vertical-align: center;
	horizontal-align: right;
	margin-right: 16px;
	margin-top: 8px;
}

.store-home-section .store-home-popular__info
{
	flow-children: down;
	margin-left: 32px;
	vertical-align: center;
}

.store-home-section .itemtile-store
{
	ui-scale: 92%;
}

.store-home-section .store-home-popular__btn
{
	horizontal-align: right;
	vertical-align: top;
	flow-children: right;
	margin: 8px 24px;
	ui-scale: 50%;
}

.store-home-section .store-home-popular__btn Label
{
	margin-right: 6px;
	font-weight: normal;
	font-size: 22px;
}

.store-home-section .store-home-popular__btn Image
{
	transform: rotateZ(-90deg);
	vertical-align: center;
}

.store-home-section .store-home-section__title
{
	width: 220px;
}

.store-home-section .store-home-section__bg
{
	width: store-home-section-width;
	height: 100%;
}

.store-home-wallet
{
	vertical-align: center;
	horizontal-align:right;
	margin-right: 96px;
}

.store-home-wallet Label
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: medium;
	font-size: 14px;
}

.store-home-wallet.hidden
{
	visibility: collapse;
}

