/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define searchOffset: 1%;
.inv-category
{
	visibility: collapse;
	opacity: 0;
	width:100%;
	height:100%;
	flow-children: down;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: linear;
}

.inv-category--noflow
{
	flow-children: none;
}

.inv-category.Active
{
	visibility: visible;
	opacity: 1;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: linear;
}

.inv-category__list-container
{
	width: 100%;
	height: 100%;
}

.inv-nav__search
{
	width: 100%;
	height: 100%;
}

.inv-nav__separator
{
	width: 1px;
	height: 70%;
	background-color: rgba(255, 255, 255, 0.25);
	vertical-align: center;
	margin-right: 28px;
	margin-left: 28px;
}

.mainmenu-content__container__inventory
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

.content-navbar.inv-popup
{
	height:64px;
	background-color: rgba(0, 0, 0, 0.25);
}

.inv-popup-title
{
	height: fit-children;
	flow-children: right;
	vertical-align: center;
}

.inv-popup-title__title
{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	color: white;
	vertical-align: center;
}

.inv-popup-title__image
{
	height: 50px;
	width: height-percentage( 130% );
	vertical-align: center;
	margin: 0px 12px;
}

.inv-popup-title__text
{
	max-width: 450px;
	height: 24px;
}

.inv-popup-rightextra-label
{
	margin-right: 8px;
}

.content-navbar__extra-buttons.inv-popup-rightextra
{
	width: fill-parent-flow( 1.0 );
	horizontal-align: right;
	flow-children: left;
	margin-right: 48px;
}

.inv-category__empty-list-text
{
	max-width: 512px;
	font-size:16;
	font-weight:lighter;
	line-height:24px;
}

.inv-search-y-offset
{
	margin-top: 64px;
}

.inv-search-navbar
{
	flow-children: none;
	height: 48px;
	width: 100%;
}

.inv-search-icon
{
	width: 32px;
	height: 32px;
}

.inv-search-textentry
{
	height: 54px;
	width: 512px;
	vertical-align: bottom;
	horizontal-align: center;
	padding-top: 10px;
	font-size: 20px;
	color: white;
	border-radius: 0px;
	border: 0px solid rgba(255, 255, 255, 1);
	border-bottom: 2px solid rgba(255, 255, 255, 1);
	transition-property: border;
	transition-duration: 0.2s;
}

.inv-search-textentry:focus
{
	border-bottom: 6px solid rgba(255, 255, 255, 1);
	box-shadow: none;
	transition-property: border;
	transition-duration: 0.2s;
}

.inv-search-textentry #PlaceholderText
{
	color: rgb(221, 221, 221);
	font-size: 20px;
	height: 64px;
}

.inv-search__suggestions
{
	width: 100%;
	flow-children: down;
	padding: 32px;
	margin-left: 32px;
	height: fit-children;
	horizontal-align: left;
	transform: scaleY( 1 );
	transform-origin: 50% 0%;
	visibility: visible;
	transition-property: transform, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.inv-search__suggestions.collapse
{
	transform: scaleY( 0 );
	opacity: 0;
	visibility: collapse;
	transition-property: transform, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.inv-search__suggestions_entry
{
	margin: 8px 0px 8px 16px;
	background-color: rgba(61, 61, 61, 0.3);
	border-radius: 2px;
	transition-property: brightness;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.inv-search__suggestions_entry:hover
{
	brightness: 1.5;
	transition-property: brightness;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.inv-search__suggestions_rarity
{
	width: 6px;
	height: 100%;
	background-color: white;
}

.inv-search__suggestions_entry__image
{
	width: 200px;
	margin: 16px;
	horizontal-align: center;
}

.content-navbar__tabs Button.inv-nav-solid-btn
{
	background-color: rgba(247, 247, 247, 0.76);
	margin: 0px 12px;
	border-radius: 3px;
	height: fit-children;
	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.content-navbar__tabs Button.inv-nav-solid-btn Label
{
	padding: 14px 16px;
	margin-left: 0px;
	color: Black;
	font-weight: bold;
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.content-navbar__tabs Button.inv-nav-solid-btn:hover
{
	background-color: rgba(34, 34, 34, 0.76);
	-s2-mix-blend-mode: normal;
	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	sound: "UIPanorama.loadout_sector_scroll";
}

.content-navbar__tabs Button.inv-nav-solid-btn:hover Label
{
	color: rgb(247, 247, 247);
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.inv-nav-solid-btn-notification
{
	horizontal-align: right;
	vertical-align: center;
	margin: 0px 0px 0px 0px;
}

.inv-nav-solid-btn-notification Label
{
	font-size: 12px;
	padding: 4px;
	height: fit-children;
}

.inv-arrow-btn--image
{
	transform: rotateZ(90deg);
}

