/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@keyframes 'subtle-motion'
{
	0%
	{
		position: 0px 0px 0px;
	}
	
	25%
	{
		position: -4px 0px 0px;
	}
	
	75%
	{
		position: 4px 0px 0px;
	}
	
	100%
	{
		position: 0px 0px 0px;
	}
	
}

.mainmenu-missions-container
{
	width: 256px;
	height: 180px;
	box-shadow: shadowOffset;
	transition-property: opacity, height;
	transition-duration: .25s, .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-missions-container:hover #id-mission-art
{
	brightness: 1.2;
	transform: scale3d( 1.1, 1.1, 1);
}

.mainmenu-missions-container.hidden
{
	opacity: 0;
	height: 0px;
	margin-top: 0px;
	transition-property: opacity, height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-missions-container .mission-bg
{
	background-color:rgba(0, 0, 0, 0.555);
	background-image: url("s2r://panorama/images/backgrounds/linemap_png.vtex");
	background-size: 400px auto;
	background-img-opacity: .05;
	ignore-parent-flow: true;
	blur: gaussian( 1,0.1,1);
	height: 100%;
	width: 100%;
	opacity: 0;
}

.mainmenu-missions-container #id-mission-art
{
	width: 100%;
	height: 100%;
	vertical-align:center;
	horizontal-align: center;
	background-position: 50% 0%;
	background-size: 100%;
	ignore-parent-flow: true;
	opacity: 1;
	transform: scale3d( 1.05, 1.05, 1);
	transition-property: transform, brightness;
	transition-duration: .2s, 0.1s;
	transition-timing-function: ease-in-out;
	animation-name: subtle-motion;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.mainmenu-missions-container .mission-panel-header
{
	font-size: 22px;
	font-family: Stratum2 Bold Condensed;
	color: white;
	text-align: center;
	background-color: rgba(0,0,0,0.9);
	padding: 4px;
	vertical-align:top;
}

.mainmenu-missions-container #play-button
{
	ignore-parent-flow: true;
	vertical-align:top;
	horizontal-align:right;
}

.mainmenu-missions-container #play-button .mission-play
{
	background-color: greenyellow;
	color: black;
	padding: 2px;
	font-size: 18px;
	font-family: Stratum2 Medium Condensed;
	text-align: center;
}

.mainmenu-missions-container .missions-root
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

.mainmenu-missions-container .missions-root .mission-name-container
{
	height: 60px;
	width: 100%;
	position: 0px 40px 0px;
}

.mainmenu-missions-container .missions-root .mission-name-container .mission-name
{
	font-size: 20px;
	font-family: Stratum2 Condensed;
	letter-spacing: 0px;
	horizontal-align: left;
	vertical-align: center;
	color: white;
	text-overflow: shrink min(18px);
	width: 100%;
	max-height: 54px;
	background-color: rgba(0,0,0,0.9);
	padding: 4px;
}

.mainmenu-missions-container .missions-root .mission-entry
{
	height: 100%;
	width: 100%;
	flow-children:down;
	overflow: clip;
}

.mainmenu-missions-container .missions-root .mission-time-remaining
{
	font-size: 18px;
	color: white;
	vertical-align: center;
	horizontal-align:right;
	font-family: Stratum2 Medium Condensed;
	position: 0px 73px 0px;
	background-color: rgba(0,0,0,0.9);
	padding: 4px;
}

.mainmenu-missions-container .missions-root .mission-progress-container
{
	width: 100%;
	flow-children: right;
	background-color: rgba(0,0,0,0.9);
	padding: 6px;
	position: 0px 100px 0px;
}

.mainmenu-missions-container .missions-root .mission-progress-container .progress-bar-container
{
	height: 24px;
	width: fill-parent-flow(0.8);
	margin: 8px;
	height: 8px;
	vertical-align: center;
}

.mainmenu-missions-container .missions-root .mission-progress-container .progress-bar-container .progress-bar-bg
{
	background-color: #919191d3;
}

.mainmenu-missions-container .missions-root .mission-progress-container .progress-bar-container .progress-bar
{
	background-color: #00ff00d3;
	width: 0px;
}

.mainmenu-missions-container .missions-root .mission-progress-container .mission-num
{
	font-size: 18px;
	color: white;
	vertical-align: center;
	font-family: Stratum2 Medium Condensed;
}

