/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.mainmenu-right-column
{
	padding: 64px 80px 16px 16px;
	height: fit-children;
	vertical-align: bottom;
	horizontal-align: right;
	width: 620px;
	flow-children: left;
	visibility: visible;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-right-column.hidden
{
	opacity: 0;
}

.mainmenu-right-column .mainmenu-right-column__thin
{
	width: 256px;
}

