/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.mainmenu-major-tile
{
	height: 256px;
	width: 256px;
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: hollow #00000071 0px 0px 8px 0px;
	margin-top: 8px;
	background-image: url("s2r://panorama/images/tournaments/backgrounds/pickem_bg_22_png.vtex");
	background-size: auto 100%;
	background-position: 0% 0%;
	background-repeat: no-repeat;
}

.mainmenu-major-tile.hidden
{
	opacity: 0;
	height: 0px;
	margin-top: 0px;
	transition-property: opacity, height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-major-tile .mainmenu-major-tile__btn
{
	width: 100%;
	height: 100%;
}

.mainmenu-major-tile .mainmenu-major-tile__image
{
	width: 80%;
	height: 80%;
	horizontal-align:center;
	vertical-align: center;
	margin-top: 16px;
}

.can-sell-items.mainmenu-major-tile .mainmenu-major-tile__image
{
	width: 60%;
	height: 60%;
	opacity-mask: url("s2r://panorama/images/masks/top-bottom-fade-4_png.vtex");
	margin-top: -16px;
}

.has-reduction.mainmenu-major-tile .mainmenu-major-tile__image
{
	opacity: .1;
	width: 90%;
	height: 90%;
	blur:gaussian( 1, 1, 1 );
	opacity-mask: url("s2r://panorama/images/masks/top-bottom-fade-4_png.vtex");
}

.mainmenu-major-tile .mainmenu-major-tile__new-items
{
	width: 100%;
	visibility: collapse;
	vertical-align: bottom;
	flow-children: right;
}

.can-sell-items.mainmenu-major-tile .mainmenu-major-tile__new-items
{
	visibility: visible;
}

.has-reduction.mainmenu-major-tile .mainmenu-major-tile__new-items
{
	margin-bottom: 8px;
}

.has-reduction.mainmenu-major-tile .mainmenu-major-tile__new-items .mainmenu-major-tile__bar
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( positiveColor ), to( rgba(0, 0, 255, 0) ) );
}

.has-reduction.mainmenu-major-tile .mainmenu-major-tile__new-items Label
{
	font-size: 24px;
	color: White;
	max-height: 26px;
	text-align: right;
	horizontal-align: right;
	margin-right: 24px;
}

.has-reduction.mainmenu-major-tile .mainmenu-major-tile__new-items ItemImage
{
	width: height-percentage( 140% );
	height: 112px;
	margin: 8px 0px 8px 0px;
}

.mainmenu-major-tile .mainmenu-major-tile__new-items .mainmenu-major-tile__bar
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( gold ), to( rgba(0, 0, 255, 0) ) );
	width: 100%;
	height: 32px;
	ignore-parent-flow: true;
	vertical-align: center;
}

.mainmenu-major-tile .mainmenu-major-tile__new-items Label
{
	font-size: 18px;
	text-align: center;
	vertical-align: center;
	horizontal-align: center;
	color: rgb(36, 40, 53);
	max-height: 20px;
	text-overflow: shrink;
}

.mainmenu-major-tile .mainmenu-major-tile__new-items ItemImage
{
	width: height-percentage( 140% );
	height: 72px;
	margin: 8px 4px 8px 8px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #000000 ), to( #00000000 ) );
}

