/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.mainmenu-xpshop-tile
{
	height: 256px;
	width: 256px;
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: hollow #00000071 0px 0px 8px 0px;
	margin-top: 8px;
	background-image: url("s2r://panorama/images/backgrounds/xpshop_background_png.vtex");
	background-size: 500% 250%;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-img-opacity: 1 ;
	perspective: 500px;
}

.mainmenu-xpshop-tile.hidden
{
	opacity: 0;
	height: 0px;
	margin-top: 0px;
	transition-property: opacity, height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-xpshop-tile .mainmenu-xpshop-tile__btn
{
	width: 100%;
	height: 100%;
}

.mainmenu-xpshop-tile .mainmenu-xpshop-tile__image
{
	width: 80%;
	height: 80%;
	horizontal-align:center;
	vertical-align: center;
	margin-top: 16px;
}

.can-sell-items.mainmenu-xpshop-tile .mainmenu-xpshop-tile__image
{
	width: 60%;
	height: 60%;
	opacity-mask: url("s2r://panorama/images/masks/top-bottom-fade-4_png.vtex");
	margin-top: -16px;
}

.mainmenu-xpshop-tile .mainmenu-major-tile__new-items
{
	width: 100%;
	visibility: collapse;
	vertical-align: bottom;
	flow-children: right;
}

.can-sell-items.mainmenu-xpshop-tile .mainmenu-major-tile__new-items
{
	visibility: visible;
}

.mainmenu-xpshop-tile .mainmenu-major-tile__new-items Label
{
	font-size: 18px;
	text-align: center;
	vertical-align: center;
	horizontal-align: center;
	color: rgb(36, 40, 53);
	max-height: 20px;
	text-overflow: shrink;
}

.mainmenu-xpshop-tile .mainmenu-major-tile__new-items ItemImage
{
	width: height-percentage( 140% );
	height: 72px;
	margin: 8px 4px 8px 8px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #000000 ), to( #00000000 ) );
}

.mainmenu-xpshop-particle
{
	height: 100%;
	width: 100%;
	opacity: .1;
	transform: translatez( 9px ) scaleX(-1);
}

.mainmenu-xphop-tile__title-container
{
	flow-children: down;
	z-index: 30;
}

.mainmenu-xphop-tile__title-container .xpshop__item-tile__new-tag
{
	padding: 2px 8px 2px 10px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(177, 69, 204)), to( rgb(145, 10, 179)) );
	color: white;
	font-weight: medium;
	vertical-align: top;
	box-shadow: fill #000000af 0px 1px 6px 0px;
	border-bottom-right-radius: 6px;
	font-size: 16px;
	transform: translatez( 0px ) ;
}

.mainmenu-xphop-tile__title-container .mainmenu-xphop-tile__title
{
	margin: 12px;
	vertical-align: top;
	color: White;
	text-transform: uppercase;
}

.mainmenu-xpshop-info-bar
{
	vertical-align: bottom;
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( rgba(0, 0, 0, 0), to(rgba(0, 0, 0, 0.781) ) );
}

.mainmenu-xpshop-info-bar .mainmenu-xpshop-balance
{
	margin: 12px 12px;
	flow-children: down;
	horizontal-align: right;
}

.mainmenu-xpshop-info-bar .mainmenu-xpshop-balance .mainmenu-xpshop-balance__title
{
	font-size: 18px;
	color: xpshop-green;
	text-shadow: 0px 0px 6px 3 rgba(0, 0, 0, 0.8);
}

.mainmenu-xpshop-info-bar .mainmenu-xpshop-balance .mainmenu-xpshop-balance__container
{
	flow-children: right;
	horizontal-align: right;
}

.mainmenu-xpshop-info-bar .mainmenu-xpshop-balance .mainmenu-xpshop-balance__container .mainmenu-xpshop-balance__label
{
	font-size: 32px;
	color: white;
	margin-right: 4px;
	transform: translateY( 2px );
}

.mainmenu-xpshop-info-bar .mainmenu-xpshop-balance .mainmenu-xpshop-balance__container Image
{
	wash-color: xpshop-green;
	vertical-align: center;
}

.mainmenu-xpshop-info-bar .mainmenu-xpshop-bottom
{
	flow-children: down;
	width: 100%;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(0, 0, 0, 0), to(rgba(0, 0, 0, 0.781) ) );
}

.mainmenu-xpshop-info-bar .mainmenu-xpshop-bottom .mainmenu-xpshop-track-progress
{
	margin: 0px 12px;
	font-size: 14px;
	color: xpshop-green;
	text-shadow: 0px 0px 6px 3 rgba(0, 0, 0, 0.8);
}

.mainmenu-xpshop-info-bar .mainmenu-xpshop-bottom .mainmenu-xpshop-line
{
	height: 1px;
	width: 90%;
	background-color: xpshop-green;
	horizontal-align: center;
	opacity: .2;
	margin: 4px 0px;
}

.mainmenu-xpshop-info-bar .mainmenu-xpshop-bottom .mainmenu-xpshop-tracks
{
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: center;
	margin: 0px 0px 8px 0px;
}

.mainmenu-xpshop-upsell
{
	flow-children: down;
	vertical-align: bottom;
	padding: 12px 12px 0px 12px;
	z-index: 2;
}

.mainmenu-xpshop-upsell .mainmenu-xpshop-upsell__label
{
	font-family: Stratum2, "Arial Unicode MS";
	font-style: italic;
	font-weight: Bold;
	color: xpshop-green;
	font-size: 22px;
	text-shadow: 0px 0px 6px 4 black;
}

.mainmenu-xpshop-upsell .mainmenu-xpshop-upsell__label.line-2
{
	font-size: 14px;
	font-family: Stratum2, "Arial Unicode MS";
	font-style: normal;
	font-weight: medium;
	color: #ffffff;
}

.mainmenu-xpshop-upsell .mainmenu-xpshop-upsell__label.line-3
{
	font-family: Stratum2, "Arial Unicode MS";
	font-style: italic;
	font-weight: light;
	color: #ffffff;
}

.mainmenu-xpshop-upsell .mainmenu-xpshop-upsell__image
{
	height: 128px;
	width: height-percentage( 130% );
	horizontal-align: center;
	img-shadow: 2px 3px 32px 2 black;
}

.mainmenu-xpshop-collage
{
	width: 140%;
	height: 100%;
	flow-children: down;
	overflow: noclip;
	perspective-origin: 50% 50%;
	opacity-mask: url("s2r://panorama/images/masks/top-bottom-fade-2_png.vtex");
	horizontal-align: center;
	vertical-align: center;
	animation-name: background-anim;
	animation-duration: 15s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.mainmenu-xpshop-collage .mainmenu-xpshop-collage__image
{
	width: height-percentage( 125% );
	height: 64px;
	padding: 8px;
	margin: 2px;
	background-color: #244b5cf0;
	border: 1px solid rgba(0, 0, 0, 0.5);
	img-shadow: 2px 3px 10px 2 black;
	overflow: noclip;
	transition-property: brightness, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-xpshop-collage .mainmenu-xpshop-collage__image.update-tile
{
	animation-name: update-tile;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'background-anim'
{
	0%
	{
		transform: rotateX(4deg) rotateY(0deg) translateX( 10px ) translatey( -5px );
	}
	
	25%
	{
		transform: rotateX( 0deg ) rotateY(-10deg) translateX( 14px ) ;
	}
	
	50%
	{
		transform: rotateX(-15deg) rotateY( 0deg ) translateX( 14px ) translatey( 0px );
	}
	
	75%
	{
		transform: rotateX( 0deg ) rotateY( -10deg ) translateX( 14px ) ;
	}
	
	100%
	{
		transform: rotateX( 4deg ) rotateY( 0deg ) translateX( 10px ) translatey( -5px );
	}
	
}

@keyframes 'update-tile'
{
	0%
	{
		transform: translateZ( 0px );
		opacity: 1;
		brightness: 1;
	}
	
	10%
	{
		transform: translateZ( 30px );
		brightness: 1.5;
	}
	
	50%
	{
		transform: translateZ( -100px );
		opacity: 0;
	}
	
	75%
	{
		brightness: 1;
	}
	
	100%
	{
		transform: translateZ( 0px );
		opacity: 1;
	}
	
}

.mainmenu-xpshop-track
{
	vertical-align: center;
}

.mainmenu-xpshop-track .mainmenu-xpshop-track__pass
{
	horizontal-align: center;
	flow-children: down;
	margin: 0px 4px;
	height: 45px;
}

.mainmenu-xpshop-track .mainmenu-xpshop-track__pass .mainmenu-xpshop-pass__bg
{
	wash-color: #2a816e;
	vertical-align: center;
	horizontal-align: center;
	animation-name: pass-activate;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.mainmenu-xpshop-track .mainmenu-xpshop-track__pass .mainmenu-xpshop-pass__label
{
	font-size: 12px;
	vertical-align: bottom;
	color: xpshop-green;
	horizontal-align: center;
	text-align: center;
	text-overflow: shrink;
}

.mainmenu-xpshop-track .mainmenu-xpshop-track__pass .mainmenu-xpshop-pass__image
{
	wash-color: xpshop-green;
	horizontal-align: center;
	vertical-align: center;
}

.mainmenu-xpshop-track .mainmenu-xpshop-track__pass.hidden
{
	visibility: collapse;
}

.mainmenu-xpshop-track .mainmenu-xpshop-track__pass.small-passes
{
	width: 40px;
	height: 40px;
}

@keyframes 'pass-activate'
{
	0%
	{
		brightness: 1;
		box-shadow: #07885d00 0px 0px 6px 0px;
	}
	
	50%
	{
		brightness: 2;
		box-shadow: #2a816e 0px 0px 6px 0px;
	}
	
	100%
	{
		box-shadow: #07885d00 0px 0px 6px 0px;
		brightness: 1;
	}
	
}

