/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define overwatch-column-width: 818px;
.overwatch-context-container
{
	background-color:contentPanelBackground;
	width:100%;
	height:100%;
}

.overwatch-content-column
{
	flow-children: down;
	horizontal-align:center;
	margin: 64px;
	width:overwatch-column-width;
	height:fit-children;
	vertical-align:top;
}

.overwatch-content__paragraph
{
	font-size:18px;
	color:white;
}

.overwatch-content__title
{
	font-size: 32px;
	font-weight: bold;
	font-family: stratum2Font;
	margin-bottom:32px;
}

.overwatch-content__subheader
{
	font-size: 24px;
	margin-bottom: 0px;
	margin-top:18px;
	font-family: stratum2Font;
	font-weight: medium;
}

.overwatch-divider-bar
{
	width:overwatch-column-width;
	background-color: rgba(255, 255, 255, 0.13);
	height:1px;
	horizontal-align:center;
}

.overwatch-case-downloading__progressbar
{
	vertical-align: top;
	width: 100%;
	height: 8px;
	background-color:#00000000;
}

.overwatch-case-downloading__progressbar .ProgressBarLeft
{
	background-color: white;
}

.hidden
{
	visibility:collapse;
}

.overwatch-process-container
{
	width:100%;
	height:180px;
}

.overwatch-process-label
{
	margin-bottom:18px;
}

.overwatch-actions-bar
{
	padding:0px;
}

.overwatch-actions-bar--padded
{
	padding: 0px 64px 8px 64px;
	width:100%;
	height:100%;
	flow-children:left;
}

.overwatch-process__error--container
{
	width:fill-parent-flow(1);
	height:100%;
	flow-children:right;
}

.overwatch-error-message
{
	font-size: 16px;
}

.overwatch-process__error--container:disabled
{
	opacity:0;
}

.info-icon
{
	margin:20px;
	vertical-align:center;
	wash-color:baseText;
}

