/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.news-panel-streamfeed
{
	width: fit-children;
	height: fit-children;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #274057 ), to( blueColorDark ) );
	border-radius: 3px;
	flow-children: down;
	transition-property: position, height, width;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.minimize_stream .news-panel-streamfeed
{
	background-color: blurBackgroundColor;
	border-radius: 0px;
}

.news-panel-streamfeed.hidden
{
	height: 0px;
	height: 0px;
	margin-bottom: 0px;
	transition-property: position, height, width;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.news-panel-streamfeed-title
{
	margin: 0px;
	font-size: 16px;
	font-weight: medium;
	color: white;
	vertical-align: center;
	font-family: Stratum2, 'Arial Unicode MS';
	width: fill-parent-flow( 1 );
	text-overflow: ellipsis;
}

.news-panel-streamfeed #StreamHTML
{
	width: 900px;
	horizontal-align: center;
	height: width-percentage( 56.25% );
	border: 1px solid blueColor;
	margin: 8px 16px 0px 16px;
	box-shadow: fill #000000aa 4px 0px 8px 4px;
	transition-property: position, height, width;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.minimize_stream #StreamHTML
{
	width: 312px;
}

.AspectRatio16x9 .minimize_stream #StreamHTML,.AspectRatio16x10 .minimize_stream #StreamHTML,.AspectRatio21x9 .minimize_stream #StreamHTML
{
	width: 460px;
}

#id-full-size-btn
{
	visibility: collapse;
}

#id-minimize-btn
{
	visibility: visible;
}

.minimize_stream #id-full-size-btn
{
	visibility: visible;
}

.minimize_stream #id-minimize-btn
{
	visibility: collapse;
}

.news-panel-streamfeed-header
{
	height: fit-children;
}

.news-panel-streamfeed .content-navbar__extra-buttons
{
	padding: 0px;
	horizontal-align: right;
}

.news-panel-streamfeed .IconButton
{
	margin: 0px;
	brightness: .7;
}

.news-panel-streamfeed .IconButton Image
{
	height: 18px;
}

.minimize_stream .news-panel-streamfeed__navbar .IconButton Image
{
	height: 12px;
}

.news-panel-streamfeed .IconButton.hidden,.news-panel-streamfeed Label.hidden
{
	visibility: collapse;
}

.news-panel-streamfeed .IconButton Image.WideLogoSteamTV
{
	width: height-percentage( 503% );
}

.news-panel-streamfeed .IconButton.TextFullbright
{
	border: 1px solid #FFFFFF88;
	padding: 2px 6px;
	margin: 8px;
	brightness: .85;
}

.news-panel-streamfeed .IconButton Image.WideLogoTwitchTV
{
	width: height-percentage( 265% );
}

.news-panel-streamfeed .IconButton Image.WideLogoStreamGOTV
{
	width: height-percentage( 176% );
}

.news-panel-streamfeed .IconButton:Hover
{
	background-color: none;
	brightness: 2;
	sound: "UIPanorama.mainmenu_rollover";
	transition-property: brightness;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.news-panel-streamfeed__navbar
{
	height: 48px;
	flow-children: right;
	width: 100%;
	margin: 0px 16px;
}

.news-panel-streamfeed__navbar Label
{
	font-size: 12px;
	font-weight: normal;
	text-align: center;
}

.minimize_stream .content-navbar__extra-buttons
{
	font-size: 10px;
}

.news-panel-streamfeed-spacer
{
	width: fill-parent-flow( 1.0 );
}

.news-panel-streamfeed__navbar Slider.news-panel-streamfeed-volumeslider
{
	width: 100px;
	height: 20px;
	vertical-align: center;
}

.minimize_stream Slider.news-panel-streamfeed-volumeslider
{
	width: 50px;
}

Slider.HorizontalSlider.news-panel-streamfeed-volumeslider #SliderTrack
{
	height: 4px;
}

Slider.HorizontalSlider.news-panel-streamfeed-volumeslider #SliderTrackProgress
{
	height: 4px;
	background-color: white;
}

Slider.HorizontalSlider.news-panel-streamfeed-volumeslider #SliderThumb
{
	width: 5px;
	height: 18px;
}

