/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.op_balance
{
	width: 100%;
	Padding-left: 10px;
	margin-top: 8px;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op_balance:hover
{
	brightness: 1.6;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op_balance__container
{
	flow-children: right;
	vertical-align: center;
	padding-left: 8px;
	height: 32px;
}

.op_balance__container__text
{
	font-size: 14px;
	color: opCompleteColor;
	text-overflow: shrink;
}

.op_balance__container__icon
{
	wash-color: opTenYellow;
}

