/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.WatchMenu
{
	width: 100%;
	height: 100%;
	opacity: 1;
	transform: translatex( 0px );
	transition-property: opacity, blur, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.WatchMenu--Hide
{
	opacity: 0;
	transition-property: opacity, blur ;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.WatchMenu--Streams
{
	padding: 20px;
}

.TournamentMenu
{
	width: 100%;
	height: 100%;
	flow-children: right;
	opacity: 1;
	transform: translatex( 0px );
	transition-property: opacity, blur, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.TournamentMenu--Hide
{
	opacity: 0;
	transform: translatex( 200px );
	transition-property: opacity, blur, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.TournamentMenu--FlowDown
{
	flow-children: down;
}

.MatchList--Selector
{
	height: fit-children;
	padding: 0%;
	flow-children: down;
	width: 50%;
	horizontal-align: left;
	min-height: 64px;
	margin: 0px;
	transition-property: opacity, blur, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.MatchList--Selector Label
{
	font-size: 14px;
	text-overflow: shrink;
}

.MatchList--Selector:focus Label
{
	color: white;
}

.MatchList--Selector:disabled
{
	wash-color: disabledColor;
}

.MatchList--Selector:disabled:hover
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000), color-stop( 1, #00000000 ), to( #00000000 ) );
}

.MatchList
{
	height:100%;
	width:360px;
	flow-children:down;
}

.MatchList--Filled
{
	border-right:1px solid rgba(255, 255, 255, 0.05);
}

.mainmenu-content__container .MatchList VerticalScrollBar
{
	margin-right: 6px;
}

.InfoPanel
{
	background-color:contentPanelBackground;
}

.MatchList-scroll
{
	padding: 0%;
	overflow: clip scroll;
}

.MatchList .RadioBox
{
	visibility: collapse;
}

.MatchList RadioButton
{
	margin: 2px 20px 1px 0px;
	horizontal-align: left;
	vertical-align: middle;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( white ), color-stop( 0, white ), color-stop( 0, #30303048 ), color-stop( 0, #30303048 ), to( #30303000 ) );
}

.MatchList RadioButton:enabled:hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( white ), color-stop( 0.0125, white ), color-stop( 0.0125, #ffffff40 ), color-stop( 0.025, #30303020 ), to( #30303000 ) );
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
	sound: "UIPanorama.sidemenu_rollover";
}

.MatchList RadioButton:selected
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( white ), color-stop( 0.025, white ), color-stop( 0.025, #ffffff60 ), color-stop( 0.053, #ffffff20 ), to( #ffffff00 ) );
	transition-property: background-color;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
	sound: "UIPanorama.sidemenu_select";
}

.MatchTile.MatchVictory
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000), color-stop( 0, #00FF0025 ), color-stop( 0, #00FF0025 ), color-stop( 0, #00FF0025 ), to( #00FF0000 ) );
}

.MatchTile.MatchTied
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000), color-stop( 0, #00FF0010 ), color-stop( 0, #00FF0010 ), color-stop( 0, #00FF0010 ), to( #00FF0000 ) );
}

.MatchTile.MatchLoss
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000), color-stop( 0, #FF000010 ), color-stop( 0, #FF000010 ), color-stop( 0, #FF000010 ), to( #FF000000 ) );
}

.MatchTile.MatchLoss:enabled:hover
{
	background-color:gradient( linear, 0% 0%, 100% 0%, from( white ), color-stop( 0.0125, white ), color-stop( 0.0125, #ff000040 ), color-stop( 0.025, #FF000010 ), to( #FF000000 ) );
}

.MatchTile.MatchLoss:selected
{
	background-color:gradient( linear, 0% 0%, 100% 0%, from( white ), color-stop( 0.025, white ), color-stop( 0.025, #ff666640 ), color-stop( 0.053, #FFAAAA10 ), to( #FF000000 ) );
}

.MatchTile.MatchTied:enabled:hover
{
	background-color:gradient( linear, 0% 0%, 100% 0%, from( white ), color-stop( 0.0125, white ), color-stop( 0.0125, #66FF6640 ), color-stop( 0.025, #00FF0010 ), to( #00FF0000 ) );
}

.MatchTile.MatchTied:selected
{
	background-color:gradient( linear, 0% 0%, 100% 0%, from( white ), color-stop( 0.025, white ), color-stop( 0.025, #66FF6640 ), color-stop( 0.053, #AAFFAA10 ), to( #00FF0000 ) );
}

.MatchTile.MatchVictory:enabled:hover
{
	background-color:gradient( linear, 0% 0%, 100% 0%, from( white ), color-stop( 0.0125, white ), color-stop( 0.0125, #66FF6640 ), color-stop( 0.025, #00FF0025 ), to( #00FF0000 ) );
}

.MatchTile.MatchVictory:selected
{
	background-color:gradient( linear, 0% 0%, 100% 0%, from( white ), color-stop( 0.025, white ), color-stop( 0.025, #66FF6640 ), color-stop( 0.053, #AAFFAA25 ), to( #00FF0000 ) );
}

.StreamBox
{
	padding: 0px;
	width: 550px;
	height: 331.2px;
	margin: 20px;
}

.Flag
{
	width: 33.28px;
	height: 20px;
}

.OtherTournaments
{
	width: 100%;
	height: 100%;
	overflow: scroll clip;
	flow-children: right;
	horizontal-align: center;
	margin-bottom: 16px;
}

.OtherTournaments HorizontalScrollBar
{
	margin: 0px 16px;
}

.Info-Message
{
	font-size:16;
	font-weight:lighter;
	text-align:left;
	margin-left:0px;
	font-family: notosans, 'Arial Unicode MS';
	text-shadow: 0px 0px 0px;
	line-height:24px;
}

.mainmenu-watch-content__container
{
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

#Stream-title
{
	height: 53px;
}

#Stream-text
{
	font-weight:bold;
	font-size: 16px;
	margin-top: 5px;
	color: white;
}

#Stream-views
{
	color: #cfcfcf;
	font-size: 13px;
}

#CountryFlag
{
	padding-right: 9px;
}

#mainImage
{
	width: 1400px;
	height: 360px;
	margin: 20px;
}

#front-image
{
	width: 2000px;
	height: 4000px;
	saturation: 0.7;
}

#logo
{
	width: 200px;
	height: 190px;
	padding: 10px;
}

#description
{
	padding: 0px 30px 0px 30px;
	text-align: center;
}

.tournament-tile-root
{
	width: 240px;
	height: 100%;
	vertical-align:center;
	flow-children: down;
	margin: 0px 20px 0px 20px;
}

.tournament-tile-content:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000f0 ), to( #00000080) );
	transition-duration: 0.25s;
	sound: "UIPanorama.mainmenu_rollover";
}

.tournament-title
{
	font-size: 18px;
	font-weight: bold;
	horizontal-align: center;
	text-align: center;
	font-family: Stratum2, 'Arial Unicode MS';
	color: white;
	margin-top: 15px;
	margin-bottom: 15px;
	vertical-align: top;
}

.tournament-tile-content
{
	width: 100%;
	height: 800px;
	transition-property: brightness, pre-transform-scale2d, background-color, transform;
	transition-timing-function: ease-in-out;
	transition-duration: 0.0s;
	background-color: black;
	box-shadow: #000000FF 0px 0px 10px 0px;
}

.tournament-tile__bg
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
	transform: scaleY(0);
	transform-origin: 50% 100%;
	opacity: 1;
	blur: gaussian( 20, 20, 20 );
	transition-property: blur, transform;
	transition-duration: .5s, .25s;
	transition-timing-function: ease-in-out;
}

.tournament-tile-content:hover .tournament-tile__bg
{
	blur: gaussian( 2, 2, 2 );
	transform: scaleY(1);
	transition-property: blur, transform;
	transition-duration: .5s, .25s;
	transition-timing-function: ease-in-out;
}

.tournament-to-logo-container
{
	width: 100%;
	height: 112px;
}

.tournament-to-logo
{
	horizontal-align: center;
	vertical-align: center;
}

.tournament-results
{
	height: 100%;
	width: 100%;
	margin: 10px;
}

.tournament__champions
{
	margin-top: 40px;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
}

.tournament__champions .team-logo
{
	vertical-align: top;
	horizontal-align: center;
	margin-bottom: 20px;
}

.tournament__champions .champion-desc
{
	margin-top: 10px;
	flow-children: right;
	horizontal-align: center;
}

.tournament__champions .champion-desc Label
{
	font-size: 12px;
	horizontal-align: left;
	text-align: left;
	vertical-align: center;
	text-overflow: shrink;
	font-family: Stratum2, 'Arial Unicode MS';
	text-transform: uppercase;
}

.tournament__champions .champion-desc Image
{
	width: 24px;
	height: width-percentage( 100%);
	margin-right: 8px;
}

.tournament__champions .champion-desc Image
{
	width: 24px;
	height: width-percentage( 100%);
	margin-right: 8px;
}

#JsChampionsHoverTarget
{
	flow-children: down;
}

#JsChampionsHoverTarget Label
{
	transition-property: text-shadow;
	transition-duration: 0.0s;
	transition-timing-function: ease-in-out;
}

#JsChampionsHoverTarget.has-team-data:hover Label
{
	text-shadow: 0px 0px 2px 0.1 rgba(255,255,255,0.5);
	transition-duration: 0.3s;
}

.tournament__champions .champion-name
{
	margin-top: 5px;
	font-size: 24px;
	letter-spacing: 4px;
	font-weight: bold;
	horizontal-align: center;
	text-align: center;
	vertical-align: center;
	text-overflow: shrink;
	font-family: Stratum2, 'Arial Unicode MS';
	max-height: 30px;
	padding: 0px 8px 0px 8px;
}

.tournament-results__legends
{
	margin-top: 30px;
	horizontal-align: center;
}

.legends-container
{
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.legends-container.hidden
{
	opacity: 0;
}

.tournament-results__legends__legend
{
	margin-bottom: 14px;
	flow-children: right;
}

.tournament-legend-desc
{
	font-size: 12px;
	horizontal-align: left;
	text-align: left;
	font-family: Stratum2, 'Arial Unicode MS';
}

.tournament-legend-name
{
	margin-top: 2px;
	font-size: 12px;
	font-weight: bold;
	horizontal-align: left;
	text-align: left;
	font-family: Stratum2, 'Arial Unicode MS';
}

.tournament-results__legends__legend Image
{
	width: 32px;
	height: width-percentage( 100% );
	margin-right: 10px;
	vertical-align: center;
	img-shadow: 0px 0px 4px 2.0 #242150;
}

.tournament-player-container
{
	flow-children: down;
	vertical-align:top;
	width: 100%;
	transition-property: transform, opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.tournament-player
{
	width: 100%;
	height: 50px;
	flow-children: right;
	padding: 4px;
	margin-bottom: 4px;
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	background-color: rgba( 0, 0, 0, 0.2);
	transform: rotateX( 0deg );
}

#JsTournamentPlayerPhoto
{
	background-image: url("s2r://panorama/images/icons/ui/pro_player.vsvg");
	background-size: 100%;
}

.tournament-player.hidden
{
	transform: rotateX( 90deg );
	opacity: 0;
}

.tournament-player__photo
{
	width: 48px;
	height: width-percentage(100%);
}

.tournament-player__name
{
	font-size: 16px;
	font-weight: bold;
	horizontal-align: left;
	margin-left: 8px;
	text-align: left;
	font-family: Stratum2, 'Arial Unicode MS';
}

.top-padding
{
	padding-top: 20px;
}

#color
{
	width:100%;
	height:100%;
	background-color: rgb(19, 44, 82);
	opacity: 0.5;
}

#background
{
	saturation: 0.7;
}

.mainmenu-content--blur-target
{
	opacity: .9;
	background-color: #FFFFFF11;
}

.mainmenu-content--blur-target-edited
{
	height: 984px;
	width: 100%;
	opacity: .9;
	background-color: #FFFFFF11;
}

.mainmenu-content-edited
{
	horizontal-align: left;
	vertical-align: bottom;
	position: 0px 0px 0px;
	visibility: visible;
	clip: rect( 0%, 100%, 100%, 0% );
	transition-property: position, clip;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.tournament-change-height
{
	width: 100%;
	height: fit-children;
}

.blur-background
{
	blur: gaussian( 4, 4, 5 );
}

.zero-opacity
{
	blur: gaussian( 4, 4, 5 );
	opacity: 0;
}

.no-margin
{
	margin-left: 0px;
}

.subsection-content__background-color
{
	background-color: contentPanelBackground;
	transition-property: background-color;
	transition-duration: .25s;
}

.subsection-content__background-color--dark
{
	background-color: rgba( 20, 20, 20, 0.6 );
	transition-property: background-color;
	transition-duration: .25s;
}

.subsection-content
{
	width: 100%;
	height:fit-children;
	flow-children: down;
}

.info-icon
{
	margin:20px;
	vertical-align:center;
	wash-color:baseText;
}

.map-button__image--blur
{
	width:100%;
	height:100%;
	blur: gaussian( 8, 8, 5);
}

.content-navbar__tabs RadioButton.hidden
{
	visibility: collapse;
}

.matchinfo-tournamentinfo-minimal
{
	horizontal-align:center;
	vertical-align: center;
	flow-children: right;
	width: fit-children;
	height: fit-children;
}

.matchinfo-tournamentinfo-minimal--team
{
	flow-children: none;
	width:520px;
	height:520px;
	background-color: green;
}

.matchinfo-tournamentinfo-minimal--score-label
{
	font-size: 64px;
	font-weight: bold;
}

.matchinfo-tournamentinfo-minimal--team-image
{
	width: 128px;
	height: 128px;
}

