/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

.mainmenu-left-column
{
	padding: 64px 0px 16px 16px;
	height: fit-children;
	vertical-align: bottom;
	width: 620px;
	flow-children: up;
	visibility: visible;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-left-column.hidden
{
	opacity: 0;
}

.mainmenu-left-column .mainmenu-left-column__thin
{
	width: 256px;
}

