/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.mainmenu-news-container-stream-active .featured-parent
{
	height: fill-parent-flow( 0.0 );
	transition-property: height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.featured-parent
{
	width: 100%;
	height: fill-parent-flow( .50 );
	background-color: none;
	margin-bottom: 16px;
	transition-property: height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.featured-parent.operation
{
	background-color: blurBackgroundColor;
}

.featured-parent.operation .op-title
{
	z-index: 0;
	width: 100%;
	height: 600px;
	padding: 16px 8px 8px 8px;
	opacity-mask: url("s2r://panorama/images/masks/top-bottom-fade-3_png.vtex");
	background-image: url("file://{resources}/videos/tiers_bg.webm");
	background-repeat: no-repeat;
	background-size: clip_then_cover;
	background-position: 10% 50%;
}

.featured-parent.operation .op-nextitem
{
	flow-children: right;
	horizontal-align: right;
	padding: 4px 24px;
	border-radius: 12px;
	background-color: opAccentColorGrey;
	transition-property: brightness;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.op-nextitem:hover
{
	brightness: 1.4;
	box-shadow: #000000bd -1px 0px 8px 0px ;
	transition-property: brightness;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.op-nextitem__label
{
	margin: 0px;
	font-size: 16px;
	font-weight: lighter;
	color: white;
	vertical-align: center;
	font-family: Stratum2, 'Arial Unicode MS';
}

.op-nextitem__label-item
{
	margin: 0px;
	font-size: 16px;
	font-weight: medium;
	color: white;
	vertical-align: center;
	font-family: Stratum2, 'Arial Unicode MS';
}

.featured-parent.operation .op-icon
{
	vertical-align: center;
	horizontal-align: left;
	wash-color: opAccentColor;
	opacity: 0.5;
}

.featured__survival-movie
{
	width: height-percentage( 100% );
	height: 99%;
	horizontal-align: center;
	vertical-align: center;
	background-image: url("file://{resources}/videos/dz_sirocco_preview.webm");
	background-repeat: no-repeat;
	background-size: clip_then_cover;
	background-position: 50% 0%;
	opacity-mask: url("s2r://panorama/images/masks/hex_png.vtex");
	brightness: .6;
}

.featured__survival-hex-outline
{
	width: height-percentage( 100% );
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	opacity: .8;
}

.featured__survival-title-parent
{
	horizontal-align: center;
	vertical-align: top;
	margin-top: 50%;
	flow-children: down;
}

.featured__survival-title
{
	color: #d1b151;
	text-shadow:5px 0px 1px #00000085;
	font-size: 72px;
	font-weight: medium;
	letter-spacing: 18px;
	horizontal-align: center;
	text-align: center;
	blur: gaussian( 4, 4, 0 );
	text-transform: uppercase;
	transition-property: transform, blur;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.featured__survival-title-red
{
	color: rgb(153, 0, 0);
	opacity: .8;
}

.featured__survival-title-dark
{
	color: rgb(36, 36, 36);
	opacity: .8;
}

.featured-parent:hover .featured__survival-title-dark
{
	transform: translateX( 6px);
	blur: gaussian( 1, 1, 1 );
	transition-property: transform;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.featured-parent:hover .featured__survival-title-red
{
	transform: translateX( -6px);
	blur: gaussian( 1, 1, 1 );
	transition-property: transform, blur;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.featured__survival-desc
{
	font-size: 24px;
	color: rgb(146, 146, 146);
	horizontal-align: center;
	text-align: center;
	font-weight: bold;
}

.featured__survival-play
{
	transform: translateY( -10px);
	font-size: 32px;
	color: rgb(146, 146, 146);
	font-weight: bold;
	horizontal-align: center;
	text-align: center;
}

