/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.mainmenu-xpshop-tile
{
	height: 256px;
	width: 256px;
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: #00000071 0px 0px 8px 0px;
	margin-top: 8px;
	background-image: url("s2r://panorama/images/backgrounds/xpshop_background_png.vtex");
	background-size: 500% 250%;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-img-opacity: .5;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #317714 ), to( #14252e ) );
}

.mainmenu-xpshop-tile.hidden
{
	opacity: 0;
	height: 0px;
	margin-top: 0px;
	transition-property: opacity, height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-xpshop-tile .mainmenu-xpshop-tile__btn
{
	width: 100%;
	height: 100%;
	z-index: 4;
}

.mainmenu-xpshop-tile .mainmenu-xpshop-tile__image
{
	width: 80%;
	height: 80%;
	horizontal-align:center;
	vertical-align: center;
	margin-top: 16px;
}

.can-sell-items.mainmenu-xpshop-tile .mainmenu-xpshop-tile__image
{
	width: 60%;
	height: 60%;
	opacity-mask: url("s2r://panorama/images/masks/top-bottom-fade-4_png.vtex");
	margin-top: -16px;
}

.mainmenu-xpshop-tile .mainmenu-major-tile__new-items
{
	width: 100%;
	visibility: collapse;
	vertical-align: bottom;
	flow-children: right;
}

.can-sell-items.mainmenu-xpshop-tile .mainmenu-major-tile__new-items
{
	visibility: visible;
}

.mainmenu-xpshop-tile .mainmenu-major-tile__new-items Label
{
	font-size: 18px;
	text-align: center;
	vertical-align: center;
	horizontal-align: center;
	color: rgb(36, 40, 53);
	max-height: 20px;
	text-overflow: shrink;
}

.mainmenu-xpshop-tile .mainmenu-major-tile__new-items ItemImage
{
	width: height-percentage( 140% );
	height: 72px;
	margin: 8px 4px 8px 8px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #000000 ), to( #00000000 ) );
}

.mainmenu-xphop-tile__title-container
{
	flow-children: down;
	z-index: 3;
}

.mainmenu-xphop-tile__title-container .mainmenu-xphop-tile__title
{
	margin: 12px;
	vertical-align: top;
	color: White;
	text-transform: uppercase;
}

.mainmenu-xpshop-info-bar
{
	vertical-align: bottom;
	width: 100%;
	height: 100%;
	z-index: 4;
}

.mainmenu-xpshop-info-bar .mainmenu-xpshop-balance
{
	margin: 12px 12px;
	flow-children: down;
	horizontal-align: right;
}

.mainmenu-xpshop-info-bar .mainmenu-xpshop-balance .mainmenu-xpshop-balance__title
{
	font-size: 18px;
	color: xpshop-green;
	text-shadow: 0px 0px 6px 3 rgba(0, 0, 0, 0.8);
}

.mainmenu-xpshop-info-bar .mainmenu-xpshop-balance .mainmenu-xpshop-balance__container
{
	flow-children: right;
	horizontal-align: right;
}

.mainmenu-xpshop-info-bar .mainmenu-xpshop-balance .mainmenu-xpshop-balance__container .mainmenu-xpshop-balance__label
{
	font-size: 32px;
	color: white;
	margin-right: 4px;
	transform: translateY( 2px );
}

.mainmenu-xpshop-info-bar .mainmenu-xpshop-balance .mainmenu-xpshop-balance__container Image
{
	wash-color: xpshop-green;
	vertical-align: center;
}

.mainmenu-xpshop-info-bar .mainmenu-xpshop-bottom
{
	flow-children: down;
	width: 100%;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(0, 0, 0, 0), to(rgba(0, 0, 0, 0.781) ) );
}

.mainmenu-xpshop-info-bar .mainmenu-xpshop-bottom .mainmenu-xpshop-track-progress
{
	margin: 0px 12px;
	font-size: 14px;
	color: xpshop-green;
	text-shadow: 0px 0px 6px 3 rgba(0, 0, 0, 0.8);
}

.mainmenu-xpshop-info-bar .mainmenu-xpshop-bottom .mainmenu-xpshop-line
{
	height: 1px;
	width: 90%;
	background-color: xpshop-green;
	horizontal-align: center;
	opacity: .2;
	margin: 4px 0px;
}

.mainmenu-xpshop-info-bar .mainmenu-xpshop-bottom .mainmenu-xpshop-tracks
{
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: center;
	margin: 0px 0px 8px 0px;
}

.mainmenu-xpshop-upsell
{
	flow-children: down;
	vertical-align: bottom;
	padding: 12px 12px 0px 12px;
	z-index: 3;
}

.mainmenu-xpshop-upsell .mainmenu-xpshop-upsell__label
{
	font-family: Stratum2, "Arial Unicode MS";
	font-style: italic;
	font-weight: Bold;
	color: xpshop-green;
	font-size: 22px;
	text-shadow: 0px 0px 6px 4 black;
}

.mainmenu-xpshop-upsell .mainmenu-xpshop-upsell__label.line-2
{
	font-size: 14px;
	font-family: Stratum2, "Arial Unicode MS";
	font-style: normal;
	font-weight: medium;
	color: #ffffff;
}

.mainmenu-xpshop-upsell .mainmenu-xpshop-upsell__label.line-3
{
	font-family: Stratum2, "Arial Unicode MS";
	font-style: italic;
	font-weight: light;
	color: #ffffff;
}

.mainmenu-xpshop-upsell .mainmenu-xpshop-upsell__image
{
	height: 128px;
	width: height-percentage( 130% );
	horizontal-align: center;
	img-shadow: 2px 3px 12px 2 black;
}

.mainmenu-xpshop-particle
{
	height: 100%;
	width: 100%;
	opacity: 1;
	transform: translatez( 9px ) scaleX(-1);
	wash-color: rgb(169, 240, 169);
	z-index: 1;
}

.mainmenu-xpshop-carousel
{
	horizontal-align: center;
	width: 100%;
	z-index: 2;
}

.mainmenu-xpshop-itemtile
{
	width: 100%;
	transition-property: opacity, transform, blur;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.mainmenu-xpshop-itemtile .mainmenu-xpshop-itemtile-image
{
	height: 164px;
	horizontal-align: center;
	margin-top: 10px;
	img-shadow: 0px 4px 12px rgba(0, 0, 0, 0.70) alpha-only;
}

.mainmenu-xpshop-itemtile .mainmenu-xpshop-itemtile-image__blur
{
	blur: mipmapgaussian( 1, 1, 2);
	pre-transform-scale2d: 4, 3.76;
	transform: translateY( -60px ) translatex( -40px );
	width: 100%;
	margin-bottom: 100px;
	opacity: .0;
	brightness: .2;
}

.mainmenu-xpshop-itemtile .xpshop__item-tile__new-tag
{
	visibility: collapse;
}

.new.mainmenu-xpshop-itemtile .xpshop__item-tile__new-tag
{
	visibility: visible;
}

.mainmenu-xpshop-itemtile .mainmenu-xpshop-itemtile__set-image
{
	vertical-align: top;
	horizontal-align: center;
	margin-top: 8px;
	opacity: .25;
	brightness: .5;
	opacity-mask: url("s2r://panorama/images/masks/top-bottom-fade_png.vtex");
}

.mainmenu-xpshop-itemtile.Focused
{
	opacity: 1.0;
	transform: translatex(0px);
	z-index: 3;
}

.mainmenu-xpshop-itemtile.Focused .mainmenu-major-tile__view-item
{
	visibility: visible;
}

.mainmenu-xpshop-itemtile.LeftOfFocus1,.mainmenu-xpshop-itemtile.LeftOfFocus2,.mainmenu-xpshop-itemtile.LeftOfFocus3,.mainmenu-xpshop-itemtile.LeftOfFocus4,.mainmenu-xpshop-itemtile.LeftOfFocus5,.mainmenu-xpshop-itemtile.LeftOfFocus6,.mainmenu-xpshop-itemtile.LeftOfFocus7,.mainmenu-xpshop-itemtile.LeftOfFocus8,.mainmenu-xpshop-itemtile.LeftOfFocus9,.mainmenu-xpshop-itemtile.LeftOfFocus10,.mainmenu-xpshop-itemtile.LeftOfFocus11,.mainmenu-xpshop-itemtile.LeftOfFocus12
{
	opacity:0;
	transform: translatex( -140px ) scale3d(1.1, 1.1, 1);
	img-shadow: none;
}

.mainmenu-xpshop-itemtile.RightOfFocus1,.mainmenu-xpshop-itemtile.RightOfFocus2,.mainmenu-xpshop-itemtile.RightOfFocus3,.mainmenu-xpshop-itemtile.RightOfFocus4,.mainmenu-xpshop-itemtile.RightOfFocus5,.mainmenu-xpshop-itemtile.RightOfFocus6,.mainmenu-xpshop-itemtile.RightOfFocus7,.mainmenu-xpshop-itemtile.RightOfFocus8,.mainmenu-xpshop-itemtile.RightOfFocus9,.mainmenu-xpshop-itemtile.RightOfFocus10,.mainmenu-xpshop-itemtile.RightOfFocus11,.mainmenu-xpshop-itemtile.RightOfFocus12
{
	opacity: 0;
	transform: translatex( 140px ) scale3d(1.1, 1.1, 1);
	img-shadow: none;
}

.mainmenu-xpshop-track
{
	vertical-align: center;
}

.mainmenu-xpshop-track .mainmenu-xpshop-track__pass
{
	horizontal-align: center;
	flow-children: down;
	margin: 0px 4px;
	height: 45px;
}

.mainmenu-xpshop-track .mainmenu-xpshop-track__pass .mainmenu-xpshop-pass__bg
{
	wash-color: #2a816e;
	vertical-align: center;
	horizontal-align: center;
	animation-name: pass-activate;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.mainmenu-xpshop-track .mainmenu-xpshop-track__pass .mainmenu-xpshop-pass__label
{
	font-size: 12px;
	vertical-align: bottom;
	color: xpshop-green;
	horizontal-align: center;
	text-align: center;
	text-overflow: shrink;
}

.mainmenu-xpshop-track .mainmenu-xpshop-track__pass .mainmenu-xpshop-pass__image
{
	wash-color: xpshop-green;
	horizontal-align: center;
	vertical-align: center;
}

.mainmenu-xpshop-track .mainmenu-xpshop-track__pass.hidden
{
	visibility: collapse;
}

.mainmenu-xpshop-track .mainmenu-xpshop-track__pass.small-passes
{
	width: 40px;
	height: 40px;
}

@keyframes 'pass-activate'
{
	0%
	{
		brightness: 1;
		box-shadow: #07885d00 0px 0px 6px 0px;
	}
	
	50%
	{
		brightness: 2;
		box-shadow: #2a816e 0px 0px 6px 0px;
	}
	
	100%
	{
		box-shadow: #07885d00 0px 0px 6px 0px;
		brightness: 1;
	}
	
}

.xpshop__item-tile__new-tag
{
	padding: 2px 8px 2px 10px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(193, 90, 219)), to( rgb(161, 17, 197)) );
	color: white;
	font-weight: medium;
	transform: rotateZ(-90deg) translateX(-18px) translateY(45%);
	vertical-align: top;
	horizontal-align: left;
	box-shadow: fill #0000003a 0px 1px 6px 0px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	font-size: 16px;
	z-index: 5;
}

