/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

CSGOMainMenu,#MainMenuInput,#MainMenuCore,#MainMenuForeground,#MainMenuBackground,#TooltipManager,#ContextMenuManager,#PopupManager,#ItemPreviewDebugManager,.MainMenuBackground-Cloud,.MainMenu-FullscreenPanel,#MainMenuFriendsAndParty,.MainMenuContainer,#MainMenuVanityParent
{
	width: 100%;
	height: 100%;
}

#MainMenuFriendsAndParty
{
	z-index: 3;
}

#MainMenuCore,#MainMenuBackground
{
	blur: mipmapgaussian( 4, 4, 4 );
}

#MainMenuVanityParent
{
	blur: mipmapgaussian( 4, 4, 3 );
}

CSGOMainMenu.PopupBackgroundBlur #MainMenuCore
{
	blur: none;
}

#MainMenuInput
{
	transition-property: blur;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

CSGOMainMenu.PopupBackgroundBlur #MainMenuInput
{
	blur: mipmapgaussian( 4, 4, 4);
}

#MainMenuVanityOverlay
{
	width: 100%;
	height: 100%;
}

#MainMenuVanityCapture
{
	width: 100%;
	height: 100%;
}

.MainMenuContainer
{
	flow-children: down;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;
}

.MainMenuContainer.show
{
	opacity: 1;
}

.mainmenu-party-search-particle
{
	width: 300px;
	height: 500px;
	horizontal-align: right;
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
	-s2-mix-blend-mode: additive;
}

.mainmenu-party-search-particle--slide-out
{
	transform: translateX(-256px);
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.MainMenuNotification
{
	width: 100%;
	height: 32px;
	tooltip-position: bottom;
	tooltip-body-position: 50% 100%;
}

.MainMenuNotification.hidden
{
	visibility: collapse;
}

.MainMenuNotification Label
{
	horizontal-align: center;
	vertical-align: middle;
	font-size: 20px;
	font-weight: medium;
	color: black;
}

.MainMenuNotification.NotificationLoggingOn
{
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #0193CD ), color-stop( 0.25, #66D4E5 ), color-stop( 0.5, #0193CD ), color-stop( 0.75, #66D4E5 ), to( #0193CD ) );
	animation-name: NotificationLoggingOnSliderLeftRight;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.MainMenuNotification.NotificationLoggingOn Label
{
	color: white;
}

@keyframes 'NotificationLoggingOnSliderLeftRight'
{
	0%
	{
		background-color: gradient( linear, 0% 0%, 100% 100%, from( #0193CD ), color-stop( 0.25, #66D4E5 ), color-stop( 0.5, #0193CD ), color-stop( 0.75, #66D4E5 ), to( #0193CD ) );
	}
	
	50%
	{
		background-color: gradient( linear, 0% 0%, 100% 100%, from( #66D4E5 ), color-stop( 0.25, #0193CD ), color-stop( 0.5, #66D4E5 ), color-stop( 0.75, #0193CD ), to( #66D4E5 ) );
	}
	
	100%
	{
		background-color: gradient( linear, 0% 0%, 100% 100%, from( #0193CD ), color-stop( 0.25, #66D4E5 ), color-stop( 0.5, #0193CD ), color-stop( 0.75, #66D4E5 ), to( #0193CD ) );
	}
	
}

.MainMenuNotification.NotificationRed
{
	background-color: #BE0000;
}

.MainMenuNotification.NotificationYellow
{
	background-color:#E1C111;
}

.MainMenuNotification.NotificationGreen
{
	background-color:#91AF49;
}

#MainMenuBackground
{
	horizontal-align: center;
	vertical-align: middle;
	brightness: 1;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-map
{
	width: 100%;
	height: 100%;
}

.mainmenu-map-loading
{
	width: 50%;
	height: 100px;
	vertical-align: center;
	horizontal-align: right;
	margin-top: 16px;
}

.mainmenu-map-progress-text
{
	height: 96px;
	width: 100%;
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 66px;
	color: #CCCCCCFF;
	text-overflow: shrink;
	vertical-align: bottom;
	text-align: center;
	margin-bottom: 1px;
}

.mainmenu-movie
{
	width: 1920px;
	height: 1080px;
	overflow: noclip;
}

.AspectRatio4x3 .mainmenu-movie
{
	transform: translateX( -17% );
	overflow: noclip;
}

.AspectRatio16x10 .mainmenu-movie
{
	transform: translateX( -10% );
	overflow: noclip;
}

.AspectRatio21x9 .mainmenu-movie
{
	width: 2520px;
	height: 1080px;
	transform: scaleY( 1.3 ) translateY( -15% );
	overflow: noclip;
}

.mainmenu-vanity
{
	horizontal-align: right;
	width: 1400px;
	height: 1080px;
	opacity: 1;
	z-index: 1;
	overflow: noclip;
}

#VanityControls
{
	opacity: 1;
	vertical-align: bottom;
	horizontal-align: right;
	flow-children: right;
	margin-right: 124px;
	margin-bottom: 14px;
	z-index: 3;
	transition-property: opacity, brightness;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

#VanityControls Button
{
	vertical-align:center;
	brightness: 1;
	z-index: 2;
	border-radius: 10px;
	padding: 8px;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

#VanityControls Button Image
{
	vertical-align: center;
	horizontal-align: center;
	img-shadow: 0px 0px 4px 1 rgba(0, 0, 0, 0.068);
}

#VanityControls:hover Button
{
	background-color: rgba(255, 255, 255, 0.205);
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

#id-mainmenu-vanity-hover
{
	width: 20%;
	height: 90%;
	vertical-align:center;
	horizontal-align:center;
	position:15% 5% 0px;
}

#VanityControls.pulse-vanity-controls
{
	brightness: 2;
	opacity:1;
}

.AspectRatio16x10 .mainmenu-vanity
{
	transform: translateX(10%) translateY(0);
}

.AspectRatio16x9 .mainmenu-vanity
{
	transform: translateX(8%) translateY(0);
}

.AspectRatio21x9 .mainmenu-vanity
{
	transform: translateX(0%) translateY(0);
}

.mainmenu-vanity
{
	transform: translateX(22%) translateY(0);
	width: 1200px;
}

.AspectRatio4x3 .mainmenu-vanity
{
	transform: translateX(17%) translateY(0);
	width: 1200px;
}

#JsMainmenu_Vanity.hidden
{
	opacity: 0;
}

.mainmenu-vanity__vignette
{
	width: 100%;
	height: 25%;
	vertical-align: top;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000DD ), to( #00000000 ));
	z-index: 1;
}

#MainMenuVanityInfo
{
	z-index: 2;
	overflow: noclip;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-vanity__settings
{
	horizontal-align: left;
	vertical-align: bottom;
	height: 96px;
	z-index: 2;
	margin-left: 32px;
}

.mainmenu-panel
{
	width: 100%;
	padding-right: 96px;
	height: 100%;
	flow-children: right;
	opacity: 1;
	transform: translatex( 0px );
	transition-property: opacity, blur, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-panel--Hide
{
	opacity: 0;
	transform: translatex( 200px );
	transition-property: opacity, blur, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.pausemenu-navbar-container
{
	width: fit-children;
	margin-top: 96px;
	height: 100%;
	horizontal-align: center;
	z-index: 2;
}

.pausemenu-navbar
{
	flow-children: down;
	background-color:blurBackgroundColor;
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: .04;
}

.mainmenu-content--open .pausemenu-navbar
{
	visibility: collapse;
}

.pausemenu-navbar .RadioBox
{
	visibility: collapse;
}

.pausemenu-navbar .horizontal-separator
{
	width: 50%;
}

.pausemenu-navbar__btn-small
{
	height: 64px;
	wash-color: white;
	tooltip-position: bottom;
	flow-children:right;
	padding:0px 18px;
	transition-property: wash-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.pausemenu-navbar__btn-small--hidden,.MainMenuRootPanel--PauseMenuMode .PauseMenuModeOnly.pausemenu-navbar__btn-small--hidden,.MainMenuModeOnly.pausemenu-navbar__btn-small--hidden
{
	visibility: collapse;
}

.pausemenu-navbar__btn-small:disabled
{
	wash-color: disabledColor;
}

.pausemenu-navbar__btn-small Image
{
	margin: 0px 12px 0px 0px;
	horizontal-align: center;
	vertical-align:middle;
}

.pausemenu-navbar__btn-small:selected Image,.pausemenu-navbar__btn-small:enabled:hover Image,.pausemenu-navbar__btn-small:enabled:hover Image,.chat-panel:selected .chat-panel-icon Image
{
	wash-color: rgb(24, 24, 24);
	background-color: none;
	box-shadow: none;
	transition-property: wash-color, background-color, brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
	sound: "UIPanorama.mainmenu_rollover";
}

.pausemenu-navbar__btn__label-small
{
	font-size: 28px;
	margin: 0px;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	letter-spacing: 1px;
	color: white;
	transform: translateY(3px);
	transition-property: color, text-shadow;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.pausemenu-navbar__btn-small:hover .pausemenu-navbar__btn__label-small
{
	wash-color: rgb(24, 24, 24);
}

.mainmenu-top-navbar-container
{
	height: 64px;
	width: 100%;
	z-index: 2;
}

.mainmenu-top-navbar
{
	height: 100%;
	width: 100%;
	background-color:blurBackgroundColor;
	background-image: url("s2r://panorama/images/backgrounds/linemap_png.vtex");
	background-size: auto auto;
	background-img-opacity: .05;
}

.mainmenu-top-navbar__center-container
{
	horizontal-align:center;
	vertical-align: center;
	flow-children: right;
	overflow: noclip;
	height: 100%;
	transform-origin: 100% 100%;
}

.mainmenu-top-navbar__radio-btn
{
	padding: 0px 24px;
	height: 100%;
	flow-children: none;
	tooltip-position: bottom;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-top-navbar__radio-btn--play
{
	margin: 0px 0px;
	padding: 0px 0px;
	horizontal-align: center;
	flow-children: none;
	width: 128px;
}

.mainmenu-top-navbar__radio-btn__bg
{
	height: 100%;
	width: 640px;
	horizontal-align: center;
	-s2-mix-blend-mode: additive;
}

.mainmenu-top-navbar__play_seperator
{
	width: 1px;
	height: 40%;
	background-color: rgba(255, 255, 255, 0.3);
	vertical-align: center;
}

.mainmenu-top-navbar__play_seperator--small
{
	height: 30%;
}

.mainmenu-top-navbar__radio-btn:hover
{
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
	sound: "UIPanorama.mainmenu_rollover";
}

.mainmenu-top-navbar__radio-btn__icon
{
	vertical-align: center;
	horizontal-align: center;
	height: 22px;
	width: 22px;
	transition-property: wash-color;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.mainmenu-top-navbar__radio-btn:selected .mainmenu-top-navbar__radio-btn__icon--play
{
	img-shadow: 0px 0px 0px 0.0 selectedNavColor;
}

.mainmenu-top-navbar__radio-btn:selected .mainmenu-top-navbar__radio-btn__icon:not(.no-color-wash),.mainmenu-top-navbar__radio-iconbtn:selected .mainmenu-top-navbar__radio-btn__icon:not(.no-color-wash)
{
	wash-color: selectedNavColor;
	transition-property: wash-color;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.mainmenu-top-navbar__radio-btn__label
{
	font-size: 28px;
	margin: 0px;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	letter-spacing: 1px;
	transform: translateY(3px);
	transition-property: color, text-shadow;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.mainmenu-top-navbar__radio-btn__label--play
{
	transform: translateY(3px);
	margin-left: 0px;
	font-size: 36px;
	letter-spacing: 1px;
}

.mainmenu-top-navbar__radio-btn:selected .mainmenu-top-navbar__radio-btn__label
{
	color: #82D8FF;
	transition-property: color, text-shadow;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.mainmenu-top-navbar__radio-btn:selected .mainmenu-top-navbar__radio-btn__label--play
{
	text-shadow: 0px 0px 0px 0.0 #00000000;
}

.mainmenu-top-navbar__radio-btn .RadioBox,.mainmenu-top-navbar__radio-iconbtn .RadioBox
{
	visibility: collapse;
}

.mainmenu-top-navbar__left-container
{
	flow-children: right;
	vertical-align: center;
}

.mainmenu-top-navbar__right-container
{
	horizontal-align:right;
	vertical-align: center;
	height: 100%;
}

.mainmenu-top-navbar__radio-iconbtn
{
	vertical-align: center;
	flow-children: none;
	margin: 0px 12px;
	border-radius: 3px;
	width: 40px;
	height: 40px;
	overflow: noclip;
	tooltip-position: bottom;
	transition-property: background-color;
	transition-duration: .15s;
	transition-timing-function: ease-in;
}

.mainmenu-top-navbar__radio-iconbtn--quit
{
	vertical-align: bottom;
	margin: 6px 6px;
}

.mainmenu-top-navbar__radio-iconbtn:hover
{
	background-color: rgba(255, 255, 255, 0.10);
	transition-property: background-color;
	transition-duration: .15s;
	transition-timing-function: ease-in;
	sound: "UIPanorama.mainmenu_rollover";
}

.mainmenu-top-navbar__radio-iconbtn:disabled
{
	wash-color: disabledColor;
}

.mainmenu-top-navbar__radio-iconbtn:disabled:hover
{
	background-color: rgba(255, 255, 255, 0);
}

.dev-btn
{
	opacity: .1;
}

.dev-btn,.MainMenuModeOnly.dev-btn,.MainBranch.MainMenuRootPanel--PauseMenuMode .MainMenuModeOnly.dev-btn
{
	visibility: collapse;
}

.MainBranch .dev-btn,.MainBranch .MainMenuModeOnly.dev-btn
{
	visibility: visible;
}

.mainmenu-sidebar
{
	flow-children: left;
	horizontal-align: right;
	width: fit-children;
	height: 100%;
	position: 0px 0px 0px;
	z-index: 3;
	transition-property: position;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-sidebar:hover
{
	height: 100%;
}

.mainmenu-sidebar--minimized
{
	position: 256px 0px 0px;
	transition-property: position;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-sidebar--hidden
{
	position: 400px 0px 0px;
	transition-property: position;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

#mainmenu-sidebar__blur-target
{
	width: friendstilewidth;
	height: 100%;
	opacity: .99;
	background-color: blurBackgroundColor;
}

.mainmenu-sidebar__seperator
{
	horizontal-align: left;
	width: 8px;
	height: 100%;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000066 ), to( #00000000 ));
}

.mainmenu-sidebar__seperator--nav
{
	horizontal-align: right;
}

.mainmenu-sidebar__container
{
	flow-children:down;
}

.mainmenu-sidebar-fullscreen
{
	width: 100%;
	height: 100%;
	z-index: 1;
}

.mainmenu-content
{
	horizontal-align: left;
	vertical-align: bottom;
	width: 100%;
	height: 100%;
	position: 0px 0px 0px;
	visibility: visible;
	margin-left: 0px;
	transition-property: position, clip, height;
	transition-timing-function: ease-in-out;
}

.mainmenu-content--animate
{
	transition-duration: .25s;
}

.mainmenu-content--offscreen
{
	position: -100% 0% 0px;
	transition-property: position, clip;
	transition-timing-function: ease-in-out;
}

.mainmenu-content__blur
{
	height: 100%;
	width: 100%;
}

#mainmenu-content__blur-target,#mainmenu-inspect__blur-target
{
	background-color: blurBackgroundColor;
	opacity: .9;
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}

#loadingscreen__blur-target
{
	height: 100%;
	width: 100%;
	opacity: .9;
	background-color: blurBackgroundColor;
}

.mainmenu-content__container
{
	flow-children: down;
	width: 100%;
	height: 100%;
	opacity: 1;
	transform: translatex( 0% );
	padding-top: 64px;
	background-color: rgba(0, 0, 0, 0.75);
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: .01;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-content__container--nopadding
{
	padding-right:0px;
	padding-left: 0px;
	transition-property: none;
	transition-duration: 0.0s;
}

.popup-inspect-border
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( rgba(0, 0, 0, 0.932) ), color-stop(0.4, rgba(0, 0, 0, 0) ), color-stop(0.6, rgba(0, 0, 0, 0) ), to(rgba(0, 0, 0, 0.95) ));
	width: 100%;
	height: 100%;
}

.mainmenu-content__container--inspect
{
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
}

.mainmenu-content__container VerticalScrollBar
{
	margin-right: 8px;
}

.mainmenu-content--hidden
{
	opacity: 0;
	sound: "UIPanorama.submenu_leveloptions_slidein";
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-content--popuptab
{
	transform: translatey( 0% );
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: rgba(0, 0, 0, 0);
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-content--popuptab.mainmenu-content--hidden
{
	opacity: 0;
	transform: translatey( 50% );
	sound: "UIPanorama.submenu_leveloptions_slidein";
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-content--popuptab__title
{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	color: white;
	vertical-align: center;
	font-family: Stratum2, "Arial Unicode MS";
}

.mainmenu-content--shrunk
{
	height: 984px;
	transition-property: height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-content__background-color
{
	background-color: contentPanelBackground;
	transition-property: background-color;
	transition-duration: .25s;
}

.mainmenu-content__background-color--dark
{
	background-color: rgba( 20, 20, 20, 0.6 );
	transition-property: background-color;
	transition-duration: .25s;
}

.mainmenu-content__container__sidebar
{
	flow-children: down;
	width: 16%;
	padding-left: 16px;
	padding-top: 8px;
}

.mainmenu-content__container__sidebar__btn
{
	height: 32px;
	margin-bottom: 4px;
	border-radius: 3px;
}

.mainmenu-content__container__sidebar__btn .RadioBox
{
	visibility: collapse;
}

.mainmenu-content__container__sidebar__btn Label
{
	font-weight: normal;
	color: white;
	font-size: 16px;
	margin: 0px;
	padding: 8px;
	font-family: Stratum2, "Arial Unicode MS";
}

.mainmenu-content__container__sidebar__btn:selected
{
	background-color: selectedNavColor;
}

.mainmenu-content__container__sidebar__btn:selected Label
{
	color: black;
	font-weight: bold;
}

.mainmenu_news_container
{
	width: 720px;
	height: 100%;
	margin: 24px 0px 24px 128px;
	position: 0px 0px 0px;
	transform: scale3d( 1, 1, 1 );
	flow-children: down;
	opacity: 1;
	visibility: collapse;
	transition-property: opacity, transform, position;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu_news_container-movedown
{
	position: 0px 96px 0px;
	transition-property: opacity, transform, position;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu_news_container.hidden,.mainmenu_active-mission-container.hidden,.mainmenu_stream_container.hidden,#MainMenuVanityInfo.hidden
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu_active-mission-container
{
	background-color: rgba(0, 0, 0, 0.90);
	margin-left: 128px;
	margin-top: 32px;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu_stream_container
{
	z-index: 5;
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	vertical-align: center;
	box-shadow: #000000 0px 0px 15px 0px;
	transition-property: position, height, width;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu_stream_container.minimize_stream
{
	y:0%;
	margin-bottom: 24px;
	margin-left: 864px;
	horizontal-align: left;
	vertical-align: bottom;
	box-shadow: #00000000 0px 0px 0px 0px;
	transition-property: position, height, width;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.content-navbar
{
	flow-children: right;
	height: 48px;
	width: 100%;
}

.content-navbar--dropdown
{
	padding-left: 18px;
	vertical-align: center;
	background-color: rgba(0, 0, 0, 0.25);
}

.content-navbar--dropdown DropDown
{
	min-width: 300px;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000), color-stop( 0, #00000030 ), to( #00000030 ) );
}

.content-navbar__title
{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 32px;
	color: grey;
	vertical-align: center;
	font-family: Stratum2, "Arial Unicode MS";
}

.content-navbar__tabs
{
	flow-children: right;
	width: fit-children;
	height: 48px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	transition-property: height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.content-navbar__tabs--dark
{
	height: 42px;
	background-color: rgba(0, 0, 0, 0.00);
}

.workshop #id-navbar-tabs,.content-navbar__tabs.collapse
{
	height: 0px;
	transition-property: height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.content-navbar__tabs__center-container
{
	horizontal-align: center;
	flow-children: right;
	height: 100%;
}

.content-navbar__tabs--noflow
{
	flow-children:none;
}

.content-navbar__tabs__btn .RadioBox,.content-navbar__tabs .RadioBox
{
	visibility: collapse;
}

.content-navbar__tabs__btn,.content-navbar__tabs__btn--small
{
	margin: 0px 6px;
	vertical-align: center;
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0);
}

.content-navbar__tabs__btn Label,.content-navbar__tabs__btn--small Label,.content-navbar__tabs__toggle-button Label
{
	font-size: 16px;
	padding: 4px 6px;
	text-align: center;
	font-weight: medium;
	color: white;
	margin-left: 0px;
	vertical-align: center;
	text-transform: uppercase;
	font-family: Stratum2, "Arial Unicode MS";
}

.content-navbar__tabs__btn--small Label
{
	font-size: 12px;
	font-weight: normal;
}

.content-navbar__tabs__btn:not(:disabled):hover,.content-navbar__tabs__toggle-button:not(:disabled):hover
{
	background-color: rgba(255, 255, 255, 0.025);
	sound: "UIPanorama.loadout_sector_scroll";
}

.content-navbar__tabs__btn:selected,.content-navbar__tabs__toggle-button:selected
{
	background-color: #82d7ff1a;
}

.content-navbar__tabs__btn:disabled:selected,.content-navbar__tabs__toggle-button:disabled:selected
{
	border: 1px solid white;
	background-color: none;
}

.content-navbar__tabs__btn:not(:disabled):selected Label,.content-navbar__tabs__btn--small:not(:disabled):selected Label
{
	color: selectedNavColor;
	sound: "UIPanorama.submenu_select";
}

.content-navbar__tabs__btn:disabled,.content-navbar__tabs__btn.locked
{
	color: white;
	wash-color: disabledColor;
}

.content-navbar__tabs__btn:disabled Label,.content-navbar__tabs__btn.locked Label
{
	margin-left: 0px;
}

.content-navbar__tabs__dropdown
{
	height: 38px;
	width: 230px;
	margin: 4px 0px 4px 0px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 3px;
}

.content-navbar__tabs__dropdown--right-margin
{
	margin-right: 64px;
}

.content-navbar__tabs__dropdown .DropDownMenu,.content-navbar__tabs__dropdown .DropDownChild
{
	padding: 0px 0px 0px 8px;
	vertical-align: center;
	font-weight: medium;
	text-transform: none;
	font-family: Stratum2, "Arial Unicode MS";
	text-overflow: shrink;
}

.content-navbar__tabs__dropdown:not(:focus):hover
{
	background-color: rgba(0, 0, 0, 0.205);
}

.content-navbar__tabs__dropdown:focus Label
{
	color: white;
}

.content-navbar__tabs__toggle-button
{
	flow-children: right;
	padding: 0px 6px;
}

.content-navbar__tabs__toggle-button .TickBox
{
	background-size: 18px 18px;
	position: 0px 0px 0px;
	vertical-align: center;
	background-color: None;
	border-radius: 2px;
	z-index: 1;
	border: 2px solid white;
	box-shadow: #00000000 0px 0px 2px 2px ;
	transition-property: background-color, wash-color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.content-navbar__tabs__toggle-button:selected .TickBox
{
	height: 18px;
	background-image: url("s2r://panorama/images/icons/ui/checkbox.vsvg");
	background-size: 18px 18px;
	background-color: None;
	box-shadow: #00000000 2px 0px 3px 0px;
	transition-property: wash-color, background-color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.content-navbar__tabs__toggle-button Label
{
	font-size: 16px;
	font-family: Stratum2, "Arial Unicode MS";
}

.content-navbar__extra-buttons
{
	horizontal-align: left;
	vertical-align: middle;
	flow-children: left;
	height: 64px;
	padding: 0px 16px 0px 0px;
}

.content-navbar__extra-buttons--right
{
	horizontal-align: right;
	margin-right: 64px;
}

.content-navbar__extra-buttons .PopupButton
{
	margin: 0px 8px;
}

.content-navbar__seperator
{
	height: 1px;
	width: 100%;
	opacity: .25;
	background-color: #ffffff;
}

.content-navbar__seperator--dark
{
	height: 1px;
	width: 100%;
	opacity: .75;
	background-color: #3E3E3E;
}

.content-controls-actions-bar
{
	width: 100%;
	height: 96px;
	padding: 0px 64px;
	vertical-align: bottom;
	border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.Language_schinese .TopBarMenuItem Label
{
	font-size: 32px;
}

.Language_russian .TopBarMenuItem Label
{
	letter-spacing: 0px;
}

.popup-blur
{
	blur: mipmapgaussian( 6, 6, 4);
}

.blur-background
{
	blur: mipmapgaussian( 4, 4, 5 );
	opacity: 0;
}

.content-navbar__seperator-tournament
{
	position: 0px 63.9px 0px;
}

.margins
{
	padding-right: 96px;
}

.party-search-ping
{
	width: 200%;
	height: 100%;
	opacity: 1;
	position: 0px 100px 0px;
}

.MainMenuRootPanel--PauseMenuMode .party-search-ping
{
	opacity: 0;
	visibility: collapse;
}

.party-search-ping.hidden
{
	visibility: collapse;
}

.party-search-ping-circle
{
	width: 96px;
	height: 96px;
	position: 0px 0px 0px;
	vertical-align: top;
	horizontal-align: left;
	border-radius: 50%;
	background-color: gradient( radial, 50% 50%, 0% 0%, 80% 80%, from( rgba(0, 0, 0, 0) ), to( rgba(255, 255, 255, 0.308) ) );
	border: 3px solid rgba(255, 255, 255, 0.274);
	-s2-mix-blend-mode: screen;
}

.party-search-pulse
{
	animation-name: party-search-loop;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.party-search-pulse-fast
{
	animation-name: party-search-loop-fast;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes 'party-search-loop'
{
	0%
	{
		transform: scale3d( .5, .5, .5 );
		opacity: 0;
	}
	
	15%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
		transform: scale3d( 1.0, 1.0, 1.0 );
		blur: mipmapgaussian( 2, 2, 2 );
	}
	
}

@keyframes 'party-search-loop-fast'
{
	0%
	{
		transform: scale3d( 0.3, 0.3, 0.3 );
		opacity: 0;
	}
	
	30%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
		transform: scale3d( 1, 1, 1);
		blur: mipmapgaussian( 2.5, 2.5, 2.5 );
	}
	
}

.align-preview
{
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.MainMenuModeOnly
{
	visibility: visible;
}

.MainMenuRootPanel--PauseMenuMode .MainMenuModeOnly
{
	visibility: collapse;
}

.PauseMenuModeOnly
{
	visibility: collapse;
}

.MainMenuRootPanel--PauseMenuMode .PauseMenuModeOnly
{
	visibility: visible;
}

.settings-notification
{
	visibility: collapse;
}

.settings-notification.has-new-settings
{
	visibility: collapse;
}

.setting-is-new Label
{
	brightness: 1.2;
	font-weight: bold;
}

.fairplay-link
{
	text-decoration: underline;
}

.top-nav-party
{
	height: 80%;
	width: 30%;
	vertical-align: center;
	flow-children: right;
	horizontal-align: right;
	padding-left: 16px;
}

.top-nav-party__avatar
{
	width: 32px;
	height: 32px;
	background-color: red;
	margin: 0px 4px;
	vertical-align: center;
}

.top-nav-party__chat-icon
{
	vertical-align: center;
	margin: 0px 16px 0px 0px;
}

