/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.hidden
{
	visibility: collapse;
}

.news-panel-watchnotice
{
	height: fit-children;
	max-height: 136px;
	width: 100%;
	flow-children: down;
	background-color: blurBackgroundColor, #00000026;
}

.news-panel-style-feature-panel-visible .news-panel-watchnotice
{
	max-height: 90px;
}

.watchnotice-events__main
{
	width: 100%;
	height: fit-children;
	max-height: 178px;
	overflow: clip scroll;
}

.watchnotice-events-container
{
	width: 100%;
	height: fit-children;
	flow-children:down;
}

.img-shadow
{
	img-shadow: 1px 1px 1px #000000ff;
}

.watchnotice__matches-carousel-container
{
	vertical-align: center;
	width: 50%;
	horizontal-align: right;
}

.watchnotice__matches-carousel
{
	flow-children: right;
	width: 100%;
}

.watchnotice__matches-page
{
	flow-children: right;
	vertical-align: center;
	horizontal-align: center;
	padding: 0px 8%;
	width: 100%;
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.watchnotice__matches-page.Focused
{
	opacity: 1;
}

.PreviouslyLeft.watchnotice__matches-page:not(.Focused)
{
	transform: translatex( -30% );
	opacity: 0;
}

.PreviouslyRight.watchnotice__matches-page:not(.Focused)
{
	transform: translatex( 30% );
	opacity: 0;
}

.watchnotice__event
{
	flow-children: down;
	width: 100%;
	padding: 0px 16px;
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
	vertical-align: center;
}

.watchnotice__event__header-container
{
	flow-children: right;
	width: 100%;
	height: fit-children;
	vertical-align: center;
}

.watchnotice__event__header
{
	flow-children: right;
	width: 50%;
	vertical-align: center;
}

.watchnotice__event__header__btn
{
	height: 50px;
	vertical-align: center;
}

.watchnotice__event__header__tooltip
{
	tooltip-position: right;
	horizontal-align: left;
	vertical-align: center;
}

.watchnotice__event__reason
{
	flow-children: left;
	width: 20px;
	horizontal-align: right;
	vertical-align: center;
}

.watchnotice__event__match .watchnotice-match__live
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 12px;
	margin-bottom: 9px;
	text-transform: uppercase;
}

.watchnotice__event--name
{
	font-size: 14px;
	font-weight: bold;
	horizontal-align: center;
	vertical-align: center;
	margin-left: 10px;
	color:white;
	text-overflow: ellipsis;
	color: #ffffff;
}

.watchnotice__event__match__status
{
	width: 5px;
	height: 100%;
	horizontal-align:left;
}

.watchnotice__event__match-container
{
	padding: 4px 4px;
	margin: 2px 2px 2px 4px;
	horizontal-align: center;
	width: 90%;
	background-color: #00000044;
}

.watchnotice__event__match__inner-container
{
	horizontal-align: center;
	vertical-align: center;
	width: 90%;
}

.watchnotice__event__match-container:hover
{
	brightness: 1.4;
	background-color: #00000088;
	transition-property: brightness, background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.watchnotice__event__match
{
	width: 100%;
	horizontal-align: center;
	vertical-align: center;
}

.watchnotice__event__match Label
{
	font-size: 16px;
	font-weight: medium;
	margin: 10px 6px 6px 6px;
	text-overflow:ellipsis;
	color: #ffffff;
}

Label.eventsched-match__datum--teamname
{
	width: 80px;
	font-size: 12px;
	text-overflow: ellipsis;
	vertical-align: center;
}

Button.watchnotice__event__match
{
	margin: 0px;
	vertical-align: center;
}

.watchnotice__event__match__status.streams_available
{
	background-color: #3bd348a8;
	box-shadow: #02ff1781 1px 0px 1px 0px;
}

.id-watchnotice__event__match__status:not(.streams_available)
{
	background-color: #00000022;
}

.watchnotice__event__logo
{
	margin-left:20px;
	horizontal-align: center;
	vertical-align: center;
}

.watchnotice-match__datum
{
	font-size: 16px;
	vertical-align: center;
	margin-right: 3px;
}

Label.watchnotice-match__datum--vs
{
	font-weight: medium;
	text-transform: lowercase;
	font-size: 12px;
	vertical-align: center;
}

.watchnotice__event__watch
{
	max-width: 100px;
	height: width-percentage( 100% );
	margin-left: 10px;
	vertical-align: center;
	horizontal-align: right;
}

Label.watchnotice__event__watch__label
{
	font-size: 14px;
	font-weight: medium;
	text-transform: uppercase;
	vertical-align: center;
	margin: 10px 6px 6px 10px;
}

Image.watchnotice-match__datum--teamlogo
{
	width: 25px;
	height: 25px;
	margin: 2px;
}

.watchnotice-match__datum--teamname
{
	color: #dadada;
	font-weight: medium;
}

.watchnotice-match__streams-container
{
	horizontal-align: right;
	flow-children: right;
}

.watchnotice-match__stream
{
	width: 22px;
	height: width-percentage( 100% );
	background-position: 0% 0%;
	background-size: auto 100%;
	background-img-opacity: 0.5;
	margin: 3px;
	vertical-align: center;
}

.watchnotice-match__stream__flag
{
	width: 82%;
	height: width-percentage( 60% );
	position: 8% 26% 0px;
	img-shadow: 0px 0px 0px #000000;
}

.event_datum
{
	font-size: 14px;
	height: fit-children;
	vertical-align: center;
	margin-right: 8px;
}

.watchnotice__logo__image
{
	horizontal-align: center;
	vertical-align: center;
	width: 40px;
	height: width-percentage( 100% );
	opacity: 1.0;
	margin: 0px 0px 6px 0px;
}

.watchnotice-match__datum--flag
{
	width: 25px;
	height: width-percentage( 66% );
	margin-right: 10px;
	opacity: 0.7;
}

.event_datum--date-container
{
	flow-children: right;
}

.event_datum--date-container__date
{
	font-size: 12px;
	height: fit-children;
	vertical-align: center;
}

.event_datum--flag
{
	width: 50px;
	height: width-percentage( 66% );
	padding: 0px;
}

.watchnotice__event__link
{
	height:100%;
}

.watchnotice__link__btn
{
	vertical-align: center;
}

.IconButton.Positive.watchbutton
{
	margin: 0px 4px 0px 4px;
	height: 22px;
	background-color: #00800073;
	padding: -10px -6px -8px -8px;
}

.IconButton.Positive.watchbutton:hover
{
	background-color: #008000;
}

.IconButton.Positive.watchbutton:disabled
{
	background-color: #00000033;
}

Button:hover,ToggleButton:hover,RadioButton:hover
{
	sound: 'UIPanorama.sidemenu_rollover';
}

.eventsched-featured
{
	background-color: rgba(207, 232, 233,0.1);
}

.eventsched-featured,.eventsched-featured Label,.eventsched-featured Label.wmt__datum
{
	color: rgb(207, 232, 233);
}

.eventsched-official
{
	background-color: rgba(255, 217, 2,0.5);
	background-img-opacity: 0.5;
}

.eventsched-official,.eventsched-official Label,.eventsched-official Label.wmt__datum
{
	color: rgb(248, 223, 0);
}

