/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.eventsched-controls
{
	horizontal-align: center;
}

.eventsched-master
{
	width: fit-children;
	height: 90%;
	horizontal-align: center;
	flow-children: down;
	overflow: scroll;
	padding-right: 30px;
}

.img-shadow
{
	img-shadow: 1px 1px 1px #000000ff;
}

.eventsched__month-container
{
	flow-children: down;
}

.eventsched__year-container
{
	flow-children: down;
}

Label.eventsched__year-container__header
{
	font-size: 50px;
	font-weight: normal;
	horizontal-align: left;
	margin: 30px 0px 10px 10px;
	text-transform: uppercase;
	color: #ffffff;
	horizontal-align: center;
	margin-top: 100px;
}

.eventsched__month-container--ongoing
{
	margin-bottom: 30px;
}

.eventsched__month-container:not(.eventsched-month-show)
{
	opacity: 0.0;
	visibility: collapse;
}

Label.eventsched__month-container__header
{
	font-size: 30px;
	font-weight: normal;
	horizontal-align: left;
	margin: 30px 0px 10px 10px;
	text-transform: uppercase;
	color: #ffffff;
}

.eventsched__capsule
{
	margin: 4px 10px;
	width: 971px;
}

.eventsched__capsule--blurbackground
{
	background-color:backgroundGradient;
	blur:gaussian( 3, 3, 5 );
	width: 100%;
	height: 100%;
}

.eventsched__capsule--blur__image
{
	width: 100%;
	height: 100%;
}

.eventsched__capsule-container
{
	flow-children: down;
}

.eventsched__capsule__main__inner
{
	flow-children: right;
	padding: 10px;
}

.eventsched__capsule-container__matches
{
	flow-children: down;
	margin-left:146px;
	margin-right:50px;
	width: 100%;
	border-top: 1px solid #ffffff30;
	padding: 6px 0px;
}

#id-no-live-matches-notice
{
	font-size: 14px;
	font-weight: medium;
	height: fit-children;
	vertical-align: center;
}

.eventsched-match-capsule
{
	flow-children: right;
	width: 100%;
	vertical-align: center;
	padding: 0px 20px 4px -4px;
}

.eventsched-match__datum
{
	font-size: 12px;
	vertical-align: center;
}

.hidden
{
	visibility: collapse;
}

.eventsched-match__datum--live
{
	color: white;
	font-size: 16px;
	margin-right: 20px;
	vertical-align: center;
}

.eventsched-match__datum--watch
{
	vertical-align: center;
	font-size: 12px;
}

.eventsched__event__watch
{
	vertical-align: center;
	flow-children: right;
}

.IconButton.Positive.event_datum
{
	margin: 0px 4px 0px 4px;
	height: 26px;
	background-color: #00800073;
	padding: -6px -0px -5px -0px;
}

.IconButton.Positive.event_datum:hover
{
	background-color: #008000;
}

.IconButton.Positive.event_datum:disabled
{
	background-color: #00000033;
}

.eventsched__event__match-link Label
{
	font-size: 15px;
}

.eventsched__event__match Label,.eventsched__event__watch Label
{
	font-size: 15px;
	margin: 5px 10px;
	text-overflow:ellipsis;
}

Button.eventsched__event__match,Button.eventsched__event__match-link
{
	horizontal-align: left;
	margin: 4px 0px -4px 2px;
	width: fill-parent-flow(1.0);
	flow-children: right;
}

.eventsched__capsule__main__btn:hover
{
	transition-property: transform, brightness;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
	brightness: 1.4;
	text-shadow: #000000 2px 1px 4px;
	background-color: #ffffff00;
}

Label.eventsched-match__datum--vs
{
	font-weight: medium;
	text-transform: lowercase;
	font-size: 12px;
	margin-left: 10px;
}

.eventsched-match__datum--teamname
{
	font-weight: medium;
	color:#dadada;
}

.eventsched-match__streams-container
{
	horizontal-align: right;
	flow-children: right;
}

.eventsched-match__stream
{
	width: 22px;
	height: width-percentage( 100% );
	background-position: 0% 0%;
	background-size: auto 100%;
	background-img-opacity: 0.5;
	margin: 3px;
	vertical-align: center;
}

.eventsched-match__stream__flag
{
	width: 82%;
	height: width-percentage( 60% );
	position: 8% 26% 0px;
	img-shadow: 0px 0px 0px #000000;
}

.eventsched-match__streams-container
{
	horizontal-align: right;
	flow-children: right;
}

.eventsched-match__stream
{
	width: 22px;
	height: width-percentage( 100% );
	background-position: 0% 0%;
	background-size: auto 100%;
	background-img-opacity: 0.5;
	margin: 3px;
	vertical-align: center;
}

.eventsched-match__stream__flag
{
	width: 82%;
	height: width-percentage( 60% );
	position: 8% 26% 0px;
	img-shadow: 0px 0px 0px #000000;
}

.eventsched__capsule:not(.eventsched-favorite)
{
	background-color: #00000090;
}

.eventsched__capsule.eventsched-featured:not(.eventsched-favorite)
{
	background-color: rgba(35, 115, 117, 0.4);
}

.eventsched__capsule.eventsched-official:not(.eventsched-favorite)
{
	background-color: rgba(124, 105, 0, 0.4);
}

.eventsched__capsule
{
	width: fit-children;
	vertical-align: center;
	transition-property: position, opacity;
	transition-duration: 0.2s;
}

.eventsched__capsule__main__info
{
	width: 350px;
	padding-left: 0px;
	padding-right: 20px;
}

.capsule__main__tier
{
	width: 100%;
	flow-children: right;
}

.capsule__main__tier--2
{
	margin-top: 0px;
	flow-children: down;
}

@keyframes 'glow'
{
	0%
	{
		background-color: white;
	}
	
}

.eventsched-favorite
{
	background-color: #00000088;
	box-shadow: inset 4px 4px 0.5px 7px #fff;
	transition-property: box-shadow;
	animation-name: glow;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
}

.eventsched-featured
{
	background-color: rgba(207, 232, 233, 0.2);
}

.eventsched-favorite.eventsched-featured
{
	box-shadow: inset 4px 4px 0.5px 7px rgb(207, 232, 233);
}

.eventsched-featured,.eventsched-featured Label,.eventsched-featured Label.wmt__datum
{
	color: rgb(207, 232, 233);
}

.eventsched-official
{
	background-color: rgba(248, 223, 0, 0.2);
}

.eventsched-favorite.eventsched-official
{
	box-shadow: inset 4px 4px 0.5px 7px rgb(248, 223, 0);
}

.eventsched-official,.eventsched-official Label,.eventsched-official Label.wmt__datum
{
	color: rgb(248, 223, 0);
}

.eventsched_favorite_count
{
	font-size: 10px;
	font-weight: light;
	text-overflow: shrink;
	text-align: center;
	width: 100%;
}

.event__logo-container
{
	vertical-align: center;
	horizontal-align: center;
	width: 86px;
	margin-left: 20px;
}

.event_datum
{
	font-size: 12px;
	height: fit-children;
	vertical-align: center;
}

.event_datum--logo
{
	horizontal-align: center;
	vertical-align: center;
	width: 60px;
	opacity: 1.0;
}

Label.event_datum--name
{
	font-size: 18px;
	font-weight: medium;
}

Button.eventsched__name__link
{
	horizontal-align: left;
	margin-left: -5px;
	margin-bottom: -2px;
	margin-top: 4px;
}

.eventsched-match__datum--flag
{
	width: 24px;
	height: width-percentage( 66% );
	margin: 4px 4px 4px 0px;
	opacity: 0.7;
}

.event_datum--date-container
{
	flow-children: right;
}

.event_datum--date-container__date
{
	font-size: 14px;
	font-weight: medium;
	height: fit-children;
	vertical-align: center;
}

.event_datum--flag
{
	width: 50px;
	height: width-percentage( 66% );
	padding: 0px;
}

.event_datum--location
{
	width: 150px;
}

.event_datum--nteams
{
	width: 70px;
}

.event_datum--matchLocation
{
	width: 100px;
}

Button.event_datum--link
{
	padding: 10px;
}

.event_datum--link Image
{
	width: fit-children;
	vertical-align:bottom;
	width: 20px;
	height: 20px;
	opacity: 0.3;
	margin: 0px;
}

.eventsched__teams__container
{
	flow-children: down;
	vertical-align: center;
	margin-left: 10px;
	margin-right: 20px;
	horizontal-align: right;
	width: 580px;
}

.eventsched__teams
{
	flow-children: left;
	horizontal-align: right;
	margin-bottom: 5px;
	margin-top: 5px;
}

.eventsched__teams__teamlogo
{
	min-width: 26px;
	min-height: 26px;
	margin: 4px;
}

.eventsched__teams__teamlogo--plus
{
	img-shadow: 2px 2px 2px #000000ff;
}

.eventsched__teams__team__button.has_data:hover
{
	transition-property: transform, brightness;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
	brightness: 2;
	background-color: #ffffff10;
	border-radius: 50%;
}

.eventsched__teams__team__button.has_data
{
	background-color: #ffffff05;
	border-radius: 50%;
}

.eventsched__teams__teamlogo--unknown
{
	border-radius: 50%;
	background-color: #00000060;
	height: 26px;
	width: 26px;
}

.event-tooltip--image Image
{
	width: 40px;
	height: width-percentage( 100% );
}

.eventsched__capsule__main__favorite-container
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
}

.eventsched__capsule__main__icons-container
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
	margin-right: 10px;
}

.eventsched__capsule__main__left-container
{
	width: 140px;
	flow-children: right;
}

ToggleButton.favorite-star
{
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
}

@keyframes 'hover-glow'
{
	0%
	{
		brightness:1;
	}
	
	100%
	{
		brightness:3;
	}
	
}

ToggleButton.favorite-star .TickBox:hover
{
	animation-name: hover-glow;
	animation-duration: .2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	brightness: 3;
}

ToggleButton.favorite-star:selected .TickBox:hover
{
	animation-name: hover-glow;
	animation-duration: .2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	brightness: 3;
}

ToggleButton.favorite-star .TickBox
{
	width: 30px;
	height: 30px;
	background-size:90% 90%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	vertical-align: center;
	horizontal-align: center;
	z-index: 1;
	background-image: url("s2r://panorama/images/icons/ui/favorite_no.vsvg");
	background-img-opacity: 0.8;
	background-color: #00000000;
	border-radius: 0%;
	box-shadow: #00000000 0px 0px 2px 2px ;
	transition-property: wash-color, background-image, background-img-opacity;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
	position: 0px 0px 0px;
}

ToggleButton.favorite-star .TickBox:selected
{
	width: 40px;
	height: 40px;
	background-size:90% 90%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	vertical-align: center;
	horizontal-align: center;
	z-index: 1;
	position: 0px 0px 0px;
	background-image: url("s2r://panorama/images/icons/ui/favorite_yes.vsvg");
	background-img-opacity: 1;
	background-color: #00000000;
	border-radius: 0%;
	box-shadow: #00000000 0px 0px 2px 2px ;
	transition-property: wash-color, background-image, background-img-opacity;
	transition-duration: 0s;
	transition-timing-function: ease-in-out;
}

.eventsched-favorite Panel.TickBox
{
	position: 0px 0px 0px;
	background-image: url("s2r://panorama/images/icons/ui/favorite_yes.vsvg");
	background-img-opacity: 1.0;
}

.eventsched-featured ToggleButton.favorite-star
{
	wash-color: #ccfdff;
}

.eventsched-official ToggleButton.favorite-star
{
	wash-color: rgb(248, 223, 0);
}

.eventsched-controls__hltv
{
	font-size: 12px;
	horizontal-align: left;
	vertical-align: center;
	position: 0px 0px 0px;
	opacity: 0.5;
	width: 200px;
	text-transform: none;
}

Button:hover,ToggleButton:hover,RadioButton:hover
{
	sound: 'UIPanorama.sidemenu_rollover';
}

