/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.tournament-pass-status
{
	height: 100%;
	width: 100%;
	transition-property: height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.tournament-pass-status.hidden
{
	visibility: collapse;
	height: 0px;
	transition-property: height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.tournament-pass-status-container
{
	background-color: blurBackgroundColor;
	width: 100%;
	height: 100%;
	transition-property: brightness, transform;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
	flow-children: down;
	sound: "UIPanorama.store_item_rolloff";
}

.tournament-pass-status__title
{
	font-size: 34px;
	letter-spacing: 3px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #1de7ae ), to( #157a5e) );
	font-family: notosans, 'Arial Unicode MS';
}

.tournament-pass-status__images-row
{
	flow-children: right;
	vertical-align: bottom;
	padding: 12px 16px;
	width: 100%;
}

.tournament-pass-status__image
{
	height: 84px;
	margin-right: 42px;
	vertical-align: center;
	transform-origin: 50% 50%;
	transition-property: transform;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.tournament-pass-status:hover .tournament-pass-status__images-row .tournament-pass-status__image
{
	transform: scale3d(1.1, 1.1, 1);
	transition-property: transform;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.tournament-pass-status__image.pass
{
	margin-left: 24px;
	height: 128px;
}

.tournament-pass-status__info
{
	flow-children: down;
	vertical-align: top;
	margin-left: 16px;
	margin-top: 16px;
}

.tournament-pass-status__desc
{
	margin-top: 8px;
	font-size: 16px;
	color: white;
	max-height: 64px;
	text-overflow: ellipsis;
	width: 440px;
}

.tournament-pass-status__saletag
{
	color: white;
	font-weight: bold;
	padding: 4px 6px;
	margin-right: 12px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #12ca4a ), to( #1b8524 ) );
}

.tournament-pass-status__timer
{
	font-size: 14px;
	color: #0fecade0;
	font-weight: bold;
	text-align: center;
	margin-left: 16px;
	margin-bottom: 8px;
	padding: 6px;
	border-radius: 2px;
	horizontal-align: left;
	border: 1px solid #0fecad3d;
	transition-property: background-color;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.tournament-pass-status__timer:hover
{
	background-color: #23cc9c23;
	transition-property: background-color;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.hidden
{
	visibility: collapse;
}

#id-tournament-pass-saletag
{
	vertical-align: bottom;
	margin-bottom: 8px;
	margin-left: 0;
	font-size: 18px;
}

