/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.news-panel--store-container
{
	max-height: 288px;
	height: fill-parent-flow( .4 );
	margin-bottom: 0px;
}

.news-panel-style-feature-panel-visible .news-panel--store-container,.mainmenu-news-container-stream-active .news-panel--store-container
{
	height: fill-parent-flow( .5 );
}

.store-panel__carousels
{
	width: 100%;
	height: 100%;
}

.store-panel__carousel-container
{
	width: 100%;
	height: 100%;
	opacity: 1;
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.store-panel__hitblocker
{
	width: 48px;
	height: 100%;
}

.store-panel__carousel-container.hidden
{
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.store-panel__carousel-page
{
	vertical-align: center;
	width: 100%;
	height: fit-children;
	padding: 0px 16px;
	flow-children: right;
}

.store-panel__carousel-page.store-panel__carousel-page--single
{
	padding: 0px 0px;
	height: 100%;
}

.store-panel__carousel__item
{
	width: 172px;
	padding-bottom: 8px;
	flow-children: down;
	vertical-align: top;
	transform-origin: 50% 50%;
	brightness: 1;
}

.store-linked-items__tiles .store-panel__carousel__item
{
	margin: 0px 12px;
}

.store-panel__carousel__item:disabled
{
	brightness: .5;
	opacity: .7;
}

.tournament-journal__challenge__items-row .store-panel__carousel__item
{
	margin: 0px 20px;
	width: 200px;
	background-color: rgba(255, 255, 255, 0.048);
}

.store-panel__carousel__item.store-panel__carousel__item__prime__full
{
	width: 690px;
	flow-children: right;
}

.store-panel__carousel__item .spacer-vertical-bar-middle
{
	margin-left: 86px;
	padding-top: 50px;
	padding-bottom: 120px;
	border-left: 1px solid rgba(255, 255, 255, 0.25);
}

.store-panel__carousel__item_primecontainer
{
	width: 172px;
	flow-children: down;
	vertical-align: center;
	horizontal-align: left;
	transform-origin: 50% 50%;
}

.store-panel__carousel__item__prime__full .store-panel__carousel__item__name
{
	horizontal-align: center;
	margin-left: 0px;
	color: positiveColor;
}

.store-panel__carousel__item_primecontainer_title
{
	font-size: 24px;
	font-weight: medium;
}

.store-panel__carousel__item_primecontainer_detailed
{
	visibility: collapse;
	flow-children: down;
	height: fit-children;
	vertical-align: center;
	margin-left: 32px;
}

.store-panel__carousel__item__prime__full .store-panel__carousel__item_primecontainer_detailed
{
	visibility: visible;
}

.store-panel__carousel__item_prime_details
{
	font-size: 18px;
	font-weight: lighter;
	width: 500px;
}

.store-panel__carousel__item_primecontainer_icon
{
	wash-color: baseText;
	padding-right: 10px;
}

.store-panel__carousel__item__images-linked
{
	transition-property: brightness, transform;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.store-panel__carousel__item__images-linked:Hover
{
	transform: scale3d( 1.05, 1.05, 1.05 );
	brightness: 1.2;
	transition-property: brightness, transform;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
	sound: "UIPanorama.store_item_rollover";
}

.store-panel__carousel__item__image
{
	height: fill-parent-flow( 1 );
	padding-top: 4px;
	horizontal-align: center;
	img-shadow: 2px 2px 6px #000000;
	transition-property: brightness, transform;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
	sound: "UIPanorama.store_item_rolloff";
}

.tournament-journal__challenge__items-row .store-panel__carousel__item__image
{
	margin: 0px 20px;
}

.store-panel__carousel__item__images-linked
{
	height: fill-parent-flow( 1 );
	padding-top: 4px;
	horizontal-align: center;
	transition-property: transform;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
	sound: "UIPanorama.store_item_rolloff";
}

.tournament-journal__challenge__items-row .store-panel__carousel__item__image,.tournament-journal__challenge__items-row .store-panel__carousel__item__images-linked
{
	height: 180px;
}

.store-panel__carousel__item__images-linked:Hover .store-panel__carousel__item__image--shadow
{
	transform: translateX( 0px ) translateY( 12px );
	transition-property: transform;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.store-panel__carousel__item__image--offset
{
	transform: translateX( 6px ) translateY( 15px );
	height: 100%;
	brightness: 0.3;
}

.store-panel__carousel__item__images-linked:Hover .store-panel__carousel__item__image--offset
{
	brightness: 0.6;
	transform: translateX( 5px ) translateY( -12px );
	transition-property: transform, brightness;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.store-panel__carousel__item__image:hover,.store-panel__carousel__item__image--prime:hover
{
	brightness: 1.2;
	transform: scale3d( 1.05, 1.05, 1.05 );
	transition-property: brightness, transform;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
	sound: "UIPanorama.store_item_rollover";
}

.store-panel__carousel__item:disabled .store-panel__carousel__item__image:hover
{
	transform: scale3d( 1.0, 1.0, 1.0 );
	brightness: 1;
}

.store-panel__carousel__item__image--prime
{
	margin: 23px 0px;
	padding: 15px 15px;
	horizontal-align: center;
	vertical-align: center;
	height:fill-parent-flow( 1 );
	transition-property: brightness, transform;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
	sound: "UIPanorama.store_item_rolloff";
}

.store-panel__carousel__item__stattrak
{
	horizontal-align: left;
	font-size: 14px;
	font-weight: bold;
	color: white;
	background-color: rgb(172, 146, 0);
	text-align: center;
	padding: 4px;
	vertical-align: top;
	margin-top: 8px;
	margin-left: 8px;
	border-radius: 3px;
	vertical-align: top;
	box-shadow: shadowOffset;
}

.store-panel__carousel__item__image--offset .store-panel__carousel__item__stattrak
{
	transform: translateX( 60px ) translateY( -10px );
	transition-property: transform;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.store-panel__carousel__item__images-linked:Hover .store-panel__carousel__item__stattrak
{
	transform: translateX( 60px ) translateY( 8px );
}

.store-panel__carousel__item__stattrak.hidden
{
	visibility: collapse;
}

.store-panel__carousel__item__name
{
	vertical-align: bottom;
	margin-left: 8px;
	font-size: 14px;
	font-weight: medium;
	horizontal-align: left;
	text-overflow: ellipsis;
	height: 18px;
}

.store-panel__carousel__item__header
{
	font-size: 16px;
	height: 52px;
	font-weight:bold;
	padding: 8px 0px;
	text-align: center;
	horizontal-align: center;
}

.store-panel__carousel__item__name.saleprice
{
	font-size: 12px;
	color: rgb(141, 141, 141);
	font-weight: medium;
	text-decoration: line-through;
}

.store-panel__carousel__item_price-container
{
	flow-children: right;
}

.tournament-journal__challenge__items-row .store-panel__carousel__item_price-container
{
	horizontal-align: center;
}

.store-panel__carousel__item__name.price
{
	font-size: 12px;
	margin-bottom: 0px;
	color: positiveColor;
}

.store-panel__carousel-page.Focused
{
	opacity: 1;
}

.store-panel__carousel__coupons_searchitem
{
	width: 100%;
	padding: 40px;
}

.store-panel__carousel__coupons_search_topbar
{
	padding-top: 35px;
}

.store-panel__carousel__coupons_searchtext
{
	width: fill-parent-flow( 1.0 );
	font-size: 20px;
}

.store-panel__carousel__coupons_searchbtn.store-sale-tag__text
{
	padding: 6px;
	padding-right: 12px;
}

.store-panel__carousel__coupons_search_bottombar .store-panel__carousel__coupons_searchbtn.store-sale-tag__text
{
	horizontal-align: right;
	margin-top: 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1B6085 ), to( #1B6085 ) );
	opacity: 0;
}

.store-panel__carousel__coupons_search_bottombar .store-panel__carousel__coupons_searchbtn.store-sale-tag__text Label
{
	font-size: 16px;
}

#CouponsSearchBarFilterClear
{
	margin-left: 0px;
	margin-right: 10px;
}

.store-panel__carousel__coupons_searchitem .store-panel__tournament-label
{
	font-size: 16px;
	color: wheat;
	margin-top: 8px;
	margin-left: 8px;
	padding: 0px;
	width: fill-parent-flow( 1.0 );
	vertical-align: top;
}

.store-panel__tournament-saletag
{
	background-color: green;
	horizontal-align: left;
	margin-left: 16px;
	margin-bottom: 52px;
	border-radius: 2px;
	vertical-align: bottom;
	font-size: 18px;
	padding: 8px;
	text-align: center;
	font-weight: medium;
	font-family: Stratum2, 'Arial Unicode MS';
	box-shadow: fill #0000005b 2px 0px 4px 4px;
}

.store-panel__tournament-saletag.hidden
{
	visibility: collapse;
}

.PreviouslyLeft.store-panel__carousel-page:not(.Focused)
{
	transform: translatex( -100% );
	opacity: 0;
}

.PreviouslyRight.store-panel__carousel-page:not(.Focused)
{
	transform: translatex( 100% );
	opacity: 0;
}

.store-panel__carousel-page.store-panel__carousel-page__animations_enabled
{
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.store-panel__tournament-banner
{
	width: 690px;
	height: 250px;
	padding: 0px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100%;
}

.store-panel__tournament-banner.store-panel__tournament-banner__pickemgame
{
	background-image: url("s2r://panorama/images/store/play_pickem2_png.vtex");
	background-repeat: no-repeat;
	background-position: 0% 70%;
	background-size: auto 180%;
}

#id-store-tournament-items-container
{
	transform-origin: 50% 50%;
	margin-bottom: 32px;
	transition-property: transform, brightness;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.store-panel__tournament-banner:Hover #id-store-tournament-items-container
{
	transform: scale3d( 1.05, 1.05, 1.05 );
	brightness: 2;
	transition-property: transform, brightness;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.store-panel__tournament-image
{
	height: 240px;
	img-shadow: 2px 2px 13px 2.0 black;
	transition-property: position;
	transition-delay: 1s;
	transition-duration: 3s;
	transition-timing-function: ease-in-out;
}

.store-panel-tournament-trophy-container
{
	transform: translatex( -140px ) translatey( -15px );
	height: 100%;
	horizontal-align: left;
	transition-property: transform, brightness;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.store-panel__tournament-banner:Hover .store-panel-tournament-trophy-container
{
	transform: translatex( -140px ) translatey( -15px ) scale3d( 1.05, 1.05, 1.05 );
	brightness: 2;
	transition-property: transform, brightness;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.store-panel-tournament-trophy
{
	width: 550px;
	height: 100%;
}

.store-panel-tournament-trophy.bronze
{
	transform: translatex( 110px ) scale3d( 0.7, 0.7, 0.7 ) translatey( 25px );
	blur: gaussian( 2, 2, 3 );
}

.store-panel-tournament-trophy.silver
{
	transform: translatex( 50px ) scale3d( 0.85, 0.85, 0.85 ) translatey( 10px );
	blur: gaussian( 2, 2, 1 );
}

.store-panel__tournament-label
{
	font-size: 28px;
	padding: 16px;
	vertical-align: bottom;
	font-weight: light;
	font-family: Stratum2, 'Arial Unicode MS';
	color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #a5a5a5 ) );
}

.store-panel__tournament-label.game
{
	font-size: 32px;
	vertical-align: center;
	horizontal-align: left;
	margin-left: 280px;
	padding-bottom: 80px;
	max-width: 390px;
}

.store-panel__tournament-label.countdown
{
	font-size: 16px;
	vertical-align: bottom;
	horizontal-align: left;
	margin-bottom: 20px;
	margin-left: 280px;
	max-width: 390px;
}

.store-panel__tournament-banner__button.hidden,.store-panel__tournament-label.hidden
{
	visibility: collapse;
}

.store-panel-connectingtogc
{
	visibility: collapse;
	width: 100%;
	height: 100%;
	flow-children: down;
}

.GameClientConnectingToGC .store-panel-connectingtogc
{
	visibility: visible;
}

.store-panel-connectingtogc-text
{
	color: white;
	font-weight: medium;
	font-size: 20px;
	horizontal-align: center;
	padding-top: 15px;
	padding-bottom: 5px;
	margin-top: 30%;
}

.store-panel-license-banner
{
	width: 100%;
	height: 100%;
	margin: 24px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 50%;
	background-size: cover;
	flow-children: right;
	background-image: url("s2r://panorama/images/store/pw_linking_bg_png.vtex");
}

.store-panel-license-banner.hidden
{
	visibility: collapse;
}

.store-panel-license-banner__text
{
	color: white;
	font-weight: lighter;
	font-size: 18px;
	width: 470px;
	padding-left: 24px;
	height: fit-children;
	horizontal-align: left;
	vertical-align: center;
}

.store-panel-license-banner__button
{
	margin-top: 10px;
	horizontal-align: right;
	vertical-align: bottom;
	margin-right: 20px;
	margin-bottom: 20px;
}

#StoreNaveBarWalletBalance
{
	horizontal-align: right;
	margin: 0px;
}

#StoreNaveBarWalletBalance.hidden
{
	visibility: collapse;
}

.store-panel__operation-banner
{
	width: 100%;
	height: 250px;
	padding: 0px;
	background-color: #241505de;
	background-image: url("file://{resources}/videos/op11_underwater.webm");
	background-size: cover;
	background-img-opacity: 0.75;
}

.store-panel__operation-images-container
{
	width: 100%;
	height: 100%;
}

.store-panel__operation-image-char0,.store-panel__operation-image-char1
{
	width: 256px;
	vertical-align: bottom;
	horizontal-align: right;
	z-index: 1;
}

.store-panel__operation-image-char1
{
	transform: translateX( -150px);
	z-index: 1;
}

.store-panel__operation-items-fade
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #1a0f00f3 ), to( #2b1c0100 ) );
}

.store-panel__operation-items-container
{
	flow-children: left;
	vertical-align: bottom;
	padding-left: 16px;
	margin-bottom: 8px;
}

.store-panel__operation-image
{
	width: 112px;
}

.store-panel__operation-labels-container
{
	flow-children: down;
	margin-top: 24px;
	margin-left: 32px;
}

.store-panel__operation-title
{
	font-size: 18px;
	font-weight: black;
	font-family: Stratum2, 'Arial Unicode MS';
	color: opTenDark;
	background-color: opCompleteColor;
	padding: 4px 8px;
	margin-bottom: 4px;
	text-transform: uppercase;
}

.store-panel__operation-desc
{
	font-size: 14px;
	font-weight: light;
	font-family: Stratum2, 'Arial Unicode MS';
	color: opCompleteColor;
	background-color: opTenDark;
	padding: 4px 8px;
	margin-bottom: 4px;
}

.store-panel__operation-balance-container
{
	background-color: opTenDark;
	padding: 4px 8px;
	flow-children: right;
	wash-color: opCompleteColor;
}

.store-panel__operation-balance-container Label
{
	font-size: 14px;
}

.store-panel__proteams
{
	width: 100%;
	height: 250px;
	padding: 0px;
	background-color: #241505de;
	background-image: url("s2r://panorama/images/ui_textures/store_proteams_bg_png.vtex");
	background-size: cover;
	background-img-opacity: 0.9;
	flow-children: right;
}

.store-panel__proteams .store-panel__carousel__item
{
	width: fill-parent-flow( 1 );
}

.store-panel__proteams .store-panel__carousel__item .store-panel__carousel__item__image
{
	padding-top: 15px;
	padding-bottom: 15px;
}

