/* Prettified by Source 2 Viewer 9.2.0.0 - https://valveresourceformat.github.io */

.mainmenu-license-container
{
	height: 275px;
	width: 256px;
	background-color: black;
	padding: 8px;
	flow-children: down;
	background-image: url("s2r://panorama/images/backgrounds/license_bg_png.vtex");
	background-size: cover;
	background-img-opacity: .3;
	box-shadow: shadowOffset;
	margin-top: 8px;
	transition-property: opacity, height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-license-container.hidden
{
	opacity: 0;
	height: 0px;
	margin-top: 0px;
	transition-property: opacity, height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mainmenu-license-container .mainmenu-license__text
{
	height: fit-children;
	vertical-align: top;
	color: white;
	max-height: 150px;
	text-overflow: shrink;
}

.mainmenu-license-container .mainmenu-license__text--title
{
	margin: 4px 0px;
}

