/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define direct-challenge-color: rgb(71, 179, 230);
@define play-settings-width: 240px;
@define prime-panel-right-left-margin: 64px;
.content-navbar__extra-buttons .PopupButton.hidden
{
	visibility: collapse;
}

.map-selection-list-container
{
	width: 100%;
	height: 100%;
	overflow: clip;
	background-color: rgba(0, 0, 0, 0.15);
}

.map-selection-list
{
	width: 100%;
	height: fit-children;
	opacity: 1;
	transform: translateY( 0px );
	visibility: visible;
	horizontal-align: center;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.map-selection-list--inner
{
	width: fit-children;
	height: fit-children;
	flow-children: right-wrap;
	overflow: clip scroll;
	horizontal-align: center;
	vertical-align: center;
	padding: 0px 0px;
	margin: 0px 0px;
}

.map-selection-btn__wins
{
	visibility: collapse;
	flow-children: right;
	horizontal-align: center;
	y: 60px;
}

.show-win-count .map-selection-btn__wins
{
	visibility: visible;
}

.map-selection-btn__wins Label
{
	font-family: Stratum2 Condensed, 'Arial Unicode MS';
	font-size: 22px;
	text-align:center;
	horizontal-align: right;
	position: 0px 0px 0px;
}

.map-selection-btn__wins Image
{
	width: 18px;
	height: 18px;
	vertical-align: center;
	margin: 4px;
}

.map-selection-list--official-competitive,.map-selection-list--official-casual,.map-selection-list--official-deathmatch,.map-selection-list--official-scrimcomp2v2,.map-selection-list--official-skirmish,.map-selection-list--listen-competitive,.map-selection-list--listen-scrimcomp2v2,.map-selection-list--listen-skirmish,.map-selection-list--listen-casual,.map-selection-list--listen-deathmatch
{
	padding: 0px 0px;
	width: 100%;
	height: 100%;
	flow-children: right;
	overflow: clip;
}

.map-selection-list--official-competitive .map-selection-btn__groupmap-icons,.map-selection-list--official-casual .map-selection-btn__groupmap-icons,.map-selection-list--official-deathmatch .map-selection-btn__groupmap-icons,.map-selection-list--official-scrimcomp2v2 .map-selection-btn__groupmap-icons,.map-selection-list--official-skirmish .map-selection-btn__groupmap-icons,.map-selection-list--listen-competitive .map-selection-btn__groupmap-icons,.map-selection-list--listen-scrimcomp2v2 .map-selection-btn__groupmap-icons,.map-selection-list--listen-skirmish .map-selection-btn__groupmap-icons,.map-selection-list--listen-casual .map-selection-btn__groupmap-icons,.map-selection-list--listen-deathmatch .map-selection-btn__groupmap-icons
{
	width: fit-children;
	height: fit-children;
	horizontal-align: middle;
	vertical-align: center;
}

.map-selection-list--official-competitive .map-selection-btn__groupmap-icons .map-selection-btn__map-icon,.map-selection-list--official-casual .map-selection-btn__groupmap-icons .map-selection-btn__map-icon,.map-selection-list--official-deathmatch .map-selection-btn__groupmap-icons .map-selection-btn__map-icon,.map-selection-list--official-scrimcomp2v2 .map-selection-btn__groupmap-icons .map-selection-btn__map-icon,.map-selection-list--official-skirmish .map-selection-btn__groupmap-icons .map-selection-btn__map-icon,.map-selection-list--listen-competitive .map-selection-btn__groupmap-icons .map-selection-btn__map-icon,.map-selection-list--listen-scrimcomp2v2 .map-selection-btn__groupmap-icons .map-selection-btn__map-icon,.map-selection-list--listen-skirmish .map-selection-btn__groupmap-icons .map-selection-btn__map-icon,.map-selection-list--listen-casual .map-selection-btn__groupmap-icons .map-selection-btn__map-icon,.map-selection-list--listen-deathmatch .map-selection-btn__groupmap-icons .map-selection-btn__map-icon
{
	vertical-align: top;
}

.map-selection-list--official-competitive .map-selection-btn__ratingemblem,.map-selection-list--official-casual .map-selection-btn__ratingemblem,.map-selection-list--official-deathmatch .map-selection-btn__ratingemblem,.map-selection-list--official-scrimcomp2v2 .map-selection-btn__ratingemblem,.map-selection-list--official-skirmish .map-selection-btn__ratingemblem,.map-selection-list--listen-competitive .map-selection-btn__ratingemblem,.map-selection-list--listen-scrimcomp2v2 .map-selection-btn__ratingemblem,.map-selection-list--listen-skirmish .map-selection-btn__ratingemblem,.map-selection-list--listen-casual .map-selection-btn__ratingemblem,.map-selection-list--listen-deathmatch .map-selection-btn__ratingemblem
{
	horizontal-align: center;
	vertical-align: center;
	y: 100px;
}

.map-selection-list--official-competitive .map-selection-btn,.map-selection-list--official-casual .map-selection-btn,.map-selection-list--official-deathmatch .map-selection-btn,.map-selection-list--official-scrimcomp2v2 .map-selection-btn,.map-selection-list--official-skirmish .map-selection-btn,.map-selection-list--listen-competitive .map-selection-btn,.map-selection-list--listen-scrimcomp2v2 .map-selection-btn,.map-selection-list--listen-skirmish .map-selection-btn,.map-selection-list--listen-casual .map-selection-btn,.map-selection-list--listen-deathmatch .map-selection-btn
{
	width: fill-parent-flow(1);
	height: 90%;
	margin: 0px 8px;
	vertical-align: center;
}

.map-selection-list--official-deathmatch,.map-selection-list--official-casual
{
	width: 90%;
}

.map-selection-list--official-deathmatch .map-selection-btn__groupmap-icons,.map-selection-list--official-casual .map-selection-btn__groupmap-icons
{
	width: 340px;
	vertical-align:center;
	flow-children: down;
}

.map-selection-list--official-deathmatch .map-selection-btn__map-icon,.map-selection-list--official-casual .map-selection-btn__map-icon
{
	width: 135px;
	height: 135px;
	horizontal-align: center;
}

.map-selection-list--official-deathmatch #gameModeButtonContainer_deathmatch_officialmg_casualsigma .map-selection-btn__map-icon,.map-selection-list--official-deathmatch #gameModeButtonContainer_casual_officialmg_casualsigma .map-selection-btn__map-icon,.map-selection-list--official-casual #gameModeButtonContainer_deathmatch_officialmg_casualsigma .map-selection-btn__map-icon,.map-selection-list--official-casual #gameModeButtonContainer_casual_officialmg_casualsigma .map-selection-btn__map-icon
{
	width: 120px;
	height: 120px;
	horizontal-align: center;
}

.map-selection-list--listen-scrimcomp2v2
{
	width: 90%;
}

.map-selection-list--listen-deathmatch,.map-selection-list--listen-competitive,.map-selection-list--listen-casual,.map-selection-list--official-competitive
{
	flow-children: right-wrap;
	width: 100%;
	margin-left: 8%;
	margin-top: 8px;
	margin-bottom: 8px;
}

.map-selection-list--listen-deathmatch .map-selection-btn,.map-selection-list--listen-competitive .map-selection-btn,.map-selection-list--listen-casual .map-selection-btn,.map-selection-list--official-competitive .map-selection-btn
{
	margin: 8px 8px;
	width: 16%;
	height: 48%;
	vertical-align: top;
}

.map-selection-list--listen-deathmatch .map-selection-btn__map-icon,.map-selection-list--listen-competitive .map-selection-btn__map-icon,.map-selection-list--listen-casual .map-selection-btn__map-icon,.map-selection-list--official-competitive .map-selection-btn__map-icon
{
	width: 135px;
	height: 135px;
	horizontal-align: center;
}

.map-selection-list--workshop
{
	width: 100%;
	height: 100%;
	margin: 8px;
}

.map-selection-list--workshop .map-selection-btn
{
	margin:8px;
	width: 200px;
	height: width-percentage(140%);
}

.map-selection-list-premier
{
	flow-children: none;
	width: 100%;
}

#gameModeButtonContainer_workshop
{
	flow-children: right-wrap;
}

.map-selection-list-coop
{
	width: 80%;
	height: fit-children;
	flow-children: down;
	opacity: 1;
	visibility: visible;
	horizontal-align: center;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.map-selection-list-directchallenge
{
	width: 100%;
	height: fit-children;
	max-height: 760px;
	flow-children: down;
	opacity: 1;
	visibility: visible;
	horizontal-align: center;
	padding: 0px;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
	overflow: clip;
}

.directchallenge-explanation-container
{
	margin: 32px;
	horizontal-align: center;
	flow-children: down;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
	width: 630px;
	height: 100%;
}

.directchallenge-explanation-container.hidden
{
	opacity: 0;
}

.directchallenge-explanation-container Image
{
	wash-color: direct-challenge-color;
}

.directchallenge-explanation__top
{
	flow-children: right;
	margin-bottom: 60px;
	width: 100%;
}

.directchallenge-explanation__top .directchallenge-explanation.title
{
	font-size: 18px;
}

.directchallenge-explanation__top Image,.directchallenge-explanation__top Label
{
	vertical-align: center;
}

.directchallenge-explanation__top Image
{
	margin-right: 20px;
	width: 80px;
	height: width-percentage( 100% );
}

.directchallenge-explanation__lower
{
	flow-children: right;
	margin-bottom: 30px;
	margin-left: 60px;
}

.directchallenge-explanation__lower Image
{
	width: 40px;
	height: width-percentage( 100% );
	margin-right: 16px;
}

.directchallenge-explanation.note
{
	vertical-align: bottom;
	margin-top: 38px;
}

.directchallenge-explanation
{
	horizontal-align: left;
	font-size: 14px;
	font-family: notosans;
}

.directchallenge-explanation__lower Label
{
	font-size: 12px;
}

.directchallenge-explanation.title
{
	margin-bottom: 4px;
	font-size: 16px;
}

.directchallenge-buttons-container
{
	horizontal-align: left;
	flow-children: down;
	width:400px;
	height:400px;
	vertical-align: center;
}

.directchallenge-section
{
	height:fill-parent-flow( 0.33);
	flow-children:down;
	horizontal-align: left;
}

.directchallenge-section .IconButton:hover
{
	background-color: rgba(0, 0, 0, 0.623);
}

.directchallenge-section .IconButton
{
	width: 350px;
	height: 150px;
	vertical-align: center;
	horizontal-align: center;
	flow-children: right;
	background-color: rgba( 0,0,0,0.2);
}

.directchallenge-section .IconButton Image
{
	width: 100px;
	height: width-percentage( 100% );
	margin: 0px;
	background-color: rgba( 50, 50, 50, 0.9);
	padding: 20px;
	wash-color: direct-challenge-color;
	transition-property: background-colo;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.directchallenge-section .IconButton:hover Image
{
	background-color: rgba(32, 32, 32, 0.9);
	transition-property: background-colo;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.directchallenge-section__text-container
{
	flow-children: down;
	padding: 12px;
	height: 100%;
	width: 100%;
}

.directchallenge-section__title
{
	horizontal-align: left;
	vertical-align: top;
	font-weight: bold;
	font-size: 20px;
	font-family: Stratum2, 'Arial Unicode MS';
	text-overflow: shrink;
}

.directchallenge-section__text
{
	font-size: 14px;
	font-family: Stratum2;
	horizontal-align: left;
	vertical-align: top;
	max-width: 280px;
	margin-top: 4px;
}

.directchallenge-section .IconButton:hover .directchallenge-section__title,.directchallenge-section .IconButton:hover .directchallenge-section__text
{
	color: white;
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.directchallenge-desc
{
	horizontal-align: center;
	margin-bottom: 32px;
}

.directchallenge-status
{
	background-color: rgba( 0, 0, 0, 0.2);
}

.directchallenge-status__header
{
	background-color: rgba( 0, 0, 0, 0.7);
}

.directchallenge-status__header
{
	padding: 32px;
	padding-bottom: 32px;
}

.directchallenge-status__queue-members
{
	padding: 32px;
	padding-bottom: 8px;
	padding-top: 16px;
}

.directchallenge-status__header__text
{
	flow-children: down;
	vertical-align: center;
	horizontal-align:left;
	width: fit-children;
	margin-left: 32px;
}

.directchallenge-status__queue-members
{
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.directchallenge-status__queue-members.hidden
{
	opacity: 0;
	visibility: collapse;
}

.directchallenge-status__header__avatar
{
	height: 100%;
	width: height-percentage( 100% );
}

.directchallenge-status__header__avatar:hover
{
	brightness: 1.5;
	transform: scale3d( 1.05, 1.05, 1.05 );
	transition-property: brightness, transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

#JsDirectChallengeIcon
{
	width: 42px;
	height: width-percentage( 100% );
}

.directchallenge-status__header__codesourcelabel
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 16px;
	font-weight: bold;
	max-width: 350px;
	text-overflow: shrink;
	white-space: nowrap;
	margin-bottom: 8px;
}

.directchallenge-status__header__codesource
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 28px;
	font-weight: bold;
	max-width: 350px;
	text-overflow: shrink;
	white-space: nowrap;
}

.directchallenge-status__header__queuecode
{
	width: 320px;
	animation-name: challengecode-pulse;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 26px;
	font-weight: bold;
	wash-color: direct-challenge-color;
}

@keyframes 'challengecode-pulse'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

.directchallenge-status__queue-members__label
{
	font-family: Stratum2;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 16px;
}

#CopyChallengeKey
{
	horizontal-align: right;
}

#CopyChallengeKey.IconButton
{
	flow-children: right;
	horizontal-align: left;
	vertical-align: bottom;
	padding: 8px;
	margin: 0px;
	margin-bottom: -8px;
}

#CopyChallengeKey.IconButton Image
{
	margin: 0px;
}

#CopyChallengeKey.IconButton Label
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 16px;
}

.directchallenge-validator-results-container
{
	flow-children: down;
	width: 400px;
	height: 400px;
}

.directchallenge-status__queuememberscontainer
{
	height: fill-parent-flow( 1.0 );
	width: 100%;
	flow-children: down-wrap;
	overflow: scroll clip;
}

.directchallenge__party
{
	width: 290px;
	flow-children: down;
	margin-right: 30px;
	transition-property: opacity, transform, position;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
	margin-bottom: 10px;
	border-radius: 10px;
	background-color: rgba( 0,0,0,0.4);
}

.directchallenge__party.multi
{
	padding-top: 6px;
	padding-bottom: 6px;
}

.directchallenge__party.hidden
{
	transform: scaleY( 0 );
	opacity: 0;
	visibility: collapse;
}

.directchallenge__party__member
{
	horizontal-align: center;
	width: 100px;
	padding: 4px;
	padding-left: 10px;
}

.coop-mission-controls
{
	flow-children: right;
	width: 100%;
}

.coop-mission__control
{
	width: fit-children;
	height: 48px;
	padding-left: 16px;
	padding-right: 20px;
	horizontal-align: left;
}

.coop-mission__desc
{
	horizontal-align: center;
	vertical-align: center;
	width: 370px;
	z-index: 1;
	color: white;
	text-align: center;
	margin-top: 48px;
}

.coop-mission__icon-container
{
	horizontal-align: center;
	vertical-align: bottom;
	width: fit-children;
	padding: 12px 12px 12px 12px;
	z-index: 1;
	flow-children: right;
}

.coop-mission__icon
{
	horizontal-align: center;
	vertical-align: center;
	width: 64px;
	height: 64px;
	z-index: 1;
	margin: 0px 12px 0px 12px;
}

.map-selection-list-all
{
	width: 100%;
	height: 100%;
	flow-children: none;
	horizontal-align: center;
}

.gamemode-settings-sidebar
{
	height: 100%;
	margin: 5% 0px;
}

.map-selection-list__quick-selection-sets
{
	height: 0%;
	width: 100%;
	opacity: 0;
	transition-property: height, opacity, position;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	flow-children: down;
}

.map-selection-list__quick-selection-sets__btns
{
	width:100%;
	flow-children: down;
}

.competitive.official .map-selection-list__quick-selection-sets
{
	height: fit-children;
	opacity: 1;
	transition-property: height, opacity, position;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.competitive.official.directchallenge .map-selection-list__quick-selection-sets,.competitive.official.premier .map-selection-list__quick-selection-sets
{
	height: 0%;
	width: 100%;
	opacity: 0;
}

.map-selection-list__quick-selection-sets .game-mode-selection-radios-spacer
{
	height: 1px;
}

.map-selection__quick-selection-set-title
{
	margin-bottom: 4px;
	padding-left: 20px;
	font-size: 18px;
	font-family: stratum2Font;
	font-weight: lighter;
	horizontal-align: left;
	vertical-align: center;
	color: rgba(212, 212, 212, 0.671);
}

.map-selection__quick-selection-set
{
	width: 100%;
	height: fit-children;
	padding: 8px 0px;
	border-radius: 3px;
	vertical-align: center;
	padding-left: 12px;
	transition-property: background-color;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.map-selection__quick-selection-set.match
{
	background-color: rgba(189, 189, 189, 0.288);
	transition-property: background-color;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.map-selection__quick-selection-set.match Label
{
	wash-color: black;
}

.map-selection__quick-selection-set Label,.map-selection__quick-selection-set-icon Label
{
	font-size: 16px;
	font-family: stratum2Font;
	font-weight: medium;
	horizontal-align: left;
	vertical-align: center;
	width: 280px;
	color: rgba(255, 255, 255, 0.75);
	text-overflow: ellipsis;
}

.map-selection__quick-selection-set-icon
{
	height: fit-children;
	width: fit-children;
	padding: 8px 10px 10px 10px;
	border-radius: 3px;
	vertical-align: center;
	horizontal-align: left;
	flow-children: right;
	transition-property: background-color, transform;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.map-selection__quick-selection-set-icon Image
{
	height: 18px;
	width: 18px;
}

.map-selection__quick-selection-set:hover:not(:disabled),.map-selection__quick-selection-set-icon:hover:not(:disabled)
{
	background-color: rgba(0, 0, 0, 0.342);
	transition-property: background-color, transform;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.map-selection__quick-selection-set-icon.save
{
	animation-name: play-menu-save-favorites;
	animation-duration: .25s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'play-menu-save-favorites'
{
	0%
	{
		transform: scale3d( 1, 1, 1);
	}
	
	50%
	{
		transform: scale3d( 1.1, 1.1, 1);
	}
	
	100%
	{
		transform: scale3d( 1, 1, 1);
	}
	
}

.map-selection__quick-selection-set:disabled,.map-selection__quick-selection-set-icon:disabled
{
	wash-color: disabledColor;
}

#id-gamemode-flag-competitive,#id-gamemode-flag-deathmatch
{
	height: 0px;
	transition-property: height, position;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.gamemode-settings-sidebar__options
{
	flow-children: down;
	transition-property: height, position;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.gamemode-setting-radiobutton
{
	flow-children: left;
	width: play-settings-width;
	padding: 6px 20px;
	transition-property: opacity, position;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.gamemode-setting-radiobutton:hover
{
	background-color: rgba(255, 255, 255, 0.05);
}

.gamemode-setting-radiobutton Label,.gamemode-setting-radiobutton:disabled Label
{
	font-size: 16px;
	font-family: stratum2Font;
	font-weight: medium;
	width: fill-parent-flow(1);
	horizontal-align: left;
	vertical-align: center;
	color: white;
	text-overflow: ellipsis;
	margin: 0px;
	padding: 0px 7px 0px 0px;
}

.gamemode-setting-radiobutton .RadioBox
{
	min-height: 16px;
	min-width: 16px;
	vertical-align: center;
	background-color: gradient( radial, 50% 50%, 0% 0%, 0% 0%, from( #ffffff00 ), color-stop( 0.8, #ffffff00 ), to( #ffffff00 ) );
	border-radius: 50%;
	transform: translateX(-3px);
	z-index: 1;
	border: 1px solid white;
	wash-color: white;
	box-shadow: #00000000 0px 0px 2px 2px ;
	transition-property: background-color, wash-color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.gamemode-setting-radiobutton:selected .RadioBox
{
	min-height: 16px;
	min-width: 16px;
	background-size: 14px 14px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 35% 35%, from( white ), color-stop( .8, white ), to( #ffffff00 ) );
	box-shadow: #00000000 2px 0px 3px 0px;
	border: 1px solid white;
	transition-property: background-color, wash-color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
	sound: "UIPanorama.generic_select";
}

.gamemode-setting-radiobutton:disabled
{
	wash-color: disabledColor;
}

.gamemode-setting-radiobutton:disabled .RadioBox
{
	box-shadow: #00000000 0px 0px 0px 0px;
}

.gamemode-setting-limited-test-warning-container
{
	width: 200px;
	padding-left: 8px;
	horizontal-align: center;
	margin: 20px;
	background-color: rgba(0, 0, 0, 0.418);
	border-radius: 5px;
	flow-children: right;
	transition-property: position;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.gamemode-setting-limited-test-warning
{
	padding: 8px;
}

.map-selection-list RadioButton
{
	flow-children: none;
}

.map-selection-list VerticalScrollBar
{
	margin: 0px;
}

.map-selection-list--competitive-section-container
{
	flow-children: right;
	overflow: clip scroll;
	width: 100%;
	height: fit-children;
}

.map-selection-list--competitive-section-container.has-selection-list-section--type-capt
{
	overflow: clip clip;
	height: 100%;
}

.map-selection-list-section
{
	width: 100%;
	height: fit-children;
	flow-children: right-wrap;
	overflow: clip noclip;
	padding: 0px 16px;
}

.AspectRatio16x9 .map-selection-list-section:not(.map-selection-list-section--single-column)
{
	padding-left: 90px;
}

.map-selection-list-section--single-column
{
	width: 28%;
	flow-children: down;
	border-right: 0px solid rgba(255, 255, 255, 0.00);
	padding: 0px 16px;
}

.map-selection-list--competitive-section-container.has-selection-list-section--type-capt .map-selection-list-section:not(.map-selection-list-section--type-capt)
{
	overflow: clip scroll;
	height: 100%;
}

.map-selection-list-section.map-selection-list-section--type-capt
{
	height: 100%;
}

.map-selection-list-section__header
{
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.map-selection-list-section-header__text
{
	font-family: stratum2Font;
	vertical-align:center;
	font-weight: lighter;
	font-size: 28px;
	color: white;
}

.map-selection-list-section-header__about-btn
{
	vertical-align: center;
	horizontal-align: right;
}

.map-selection-list-section-header__about-btn:hover
{
	brightness: 1.5;
}

.map-selection-list-section-header__about-btn:disabled
{
	wash-color: disabledColor;
}

.map-selection-list-section-header__text.small
{
	padding: 0px 8px;
	font-size: 12px;
	font-weight: bold;
	font-family: stratum2Font;
	color: baseText;
}

.map-selection-list-section-header__line
{
	vertical-align: center;
	width: 80%;
	height: 1px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff77 ), to( rgba(255, 255, 255, 0) ) );
}

.map-selection-list:disabled .map-selection-list-section-header
{
	color: disabledColor;
}

.map-selection-btn
{
	width: 224px;
	height: width-percentage(117%);
	border: 0px solid rgba(202, 202, 202, 0.10);
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 6px 0px;
	tooltip-position: bottom;
	transition-property: border, box-shadow, brightness, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.map-selection-list-section--single-column .map-selection-btn
{
	horizontal-align: center;
}

.map-selection-btn.coop-map-tile
{
	height: 552px;
	width: height-percentage(70%);
}

.map-selection-btn__screenshot
{
	width: 100%;
	height: 100%;
	pre-transform-scale2d: 1, 1;
	background-repeat: no-repeat;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 2s, .25s;
	transition-timing-function: ease-in-out;
}

.map-selection-list-section--type-capt .map-selection-btn
{
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
	height: fill-parent-flow( 1 );
}

.map-selection-list-section-header__text_activedutymaps
{
	visibility: collapse;
}

.play-menu__lobbymapveto_activated .has-selection-list-section--type-capt .map-selection-list-section--type-comp .map-selection-list-section__header Label,.play-menu__lobbymapveto_activated .has-selection-list-section--type-capt .map-selection-list-section--type-comp .map-selection-list-section__header Button,.play-menu__lobbymapveto_activated .has-selection-list-section--type-capt .map-selection-list-section--type-comp ToggleButton .TickBox
{
	opacity: 0;
}

.play-menu__lobbymapveto_activated .has-selection-list-section--type-capt .map-selection-list-section--type-comp ToggleButton:not(.map-selection-btn-activedutymap)
{
	visibility: collapse;
}

.play-menu__lobbymapveto_activated .has-selection-list-section--type-capt .map-selection-list-section--type-comp .map-selection-list-section__header Label.map-selection-list-section-header__text_activedutymaps
{
	opacity: 1;
	visibility: visible;
}

.map-selection-btn:enabled:Hover .map-selection-btn__screenshot
{
	pre-transform-scale2d: 1.02, 1.02;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 2s, .25s;
	transition-timing-function: ease-in-out;
	sound: "UIPanorama.submenu_contents_rollover";
}

.map-selection-btn:Hover .Focused
{
	sound: "UIPanorama.submenu_contents_rollover";
}

.map-selection-btn:selected .map-selection-btn__screenshot,.play-menu__lobbymapveto_activated .map-selection-btn .map-selection-btn__screenshot
{
	pre-transform-scale2d: 1.2, 1.2;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 2s, .25s;
	transition-timing-function: ease-in-out;
}

.map-selection-btn:selected,.play-menu__lobbymapveto_activated .map-selection-btn
{
	border: 5px solid rgba(255, 255, 255, 0.849);
	transition-property: border, box-shadow, brightness;
	transition-duration:.25s;
	transition-timing-function: ease-in-out;
}

.map-selection-btn__gradient
{
	width: 100%;
	height: 100%;
	background-color: #000000b2;
}

.map-selection-btn-container
{
	width: 100%;
	height: 100%;
}

.map-selection-btn__top-icon-row
{
	margin-left: 8px;
	margin-top: 8px;
	width: 100%;
	height: 16px;
	flow-children: right;
	overflow: noclip;
}

.map-selection-btn__top-icon-row.tall
{
	height: 64px;
}

.map-selection-btn__groupmap-icons.map-selection-btn__groupmap-icons-2x
{
	width: 184px;
}

.map-selection-btn__groupmap-icons-subcontainer
{
	flow-children: right;
	horizontal-align: middle;
	width: fit-children;
	height: fit-children;
	margin: 0px;
}

.map-selection-btn__map-icon
{
	horizontal-align: center_nopixelsnap;
	vertical-align: center_nopixelsnap;
	height: width-percentage(100%);
	margin: 10px;
	img-shadow: 0px 0px 10px 3.0 #000000;
}

.map-selection-btn--full .map-selection-btn__map-icon
{
	width: 200px;
	height: 200px;
	vertical-align: center;
}

.map-selection-list:disabled .map-selection-btn,.map-selection-list.is-client .map-selection-btn
{
	opacity: .5;
	brightness: .3;
	wash-color: none;
}

.map-selection-list:disabled .map-selection-btn .map-selection-btn__screenshot,.map-selection-list:disabled .map-selection-btn:selected .map-selection-btn__map-icon,.map-selection-list.is-client .map-selection-btn:selected .map-selection-btn__map-icon
{
	pre-transform-scale2d: 1, 1;
	opacity: 1;
}

.map-selection-list:disabled .map-selection-btn:selected,.map-selection-list.is-client .map-selection-btn:selected,.play-menu__lobbymapveto_activated .has-selection-list-section--type-capt.map-selection-list:disabled .map-selection-list-section--type-comp .map-selection-btn,.play-menu__lobbymapveto_activated .has-selection-list-section--type-capt.map-selection-list.is-client .map-selection-list-section--type-comp .map-selection-btn
{
	border: 5px solid rgb(148, 147, 147);
	box-shadow: shadowOffset;
	brightness: 1;
	opacity: 1;
}

.map-selection-list:disabled .map-selection-btn:selected .map-selection-btn__screenshot,.map-selection-list.is-client .map-selection-btn:selected .map-selection-btn__screenshot
{
	pre-transform-scale2d: 1.2, 1.2;
}

.map-selection-info
{
	flow-children: up;
	vertical-align: bottom;
	width: 100%;
	height: fit-children;
	margin-bottom: 18px;
}

RadioButton Label.map-selection-info__map-name
{
	margin: 0px;
}

.map-selection-info__map-name
{
	width: 90%;
	height: 34px;
	font-size: 32px;
	margin: 0px;
	vertical-align: bottom;
	horizontal-align: center_nopixelsnap;
	text-align: center;
	text-overflow: ellipsis;
}

RadioButton.map-selection-btn Label
{
	font-size: 32px;
}

.map-selection-btn--full .map-selection-info__map-name
{
	visibility: collapse;
}

.map-selection-info__new
{
	padding: 2px 8px 0px 10px;
	background-color: blueColor;
	color: white;
	font-weight: medium;
	vertical-align: top;
	horizontal-align: left;
	border: 1px solid rgb(100, 180, 223);
	brightness: 1.5;
}

.map-selection-info__new.map-selection-info__unranked
{
	background-color: #709f70;
	border: 1px solid positiveColor;
	text-transform: uppercase;
}

.map-selection-list .map-selection-btn .map-selection-info__new
{
	font-size: 18px;
}

.map-selection-list .map-selection-btn .map-selection-info__new--star
{
	height: 100%;
	width: height-percentage(100%);
	background-image: url("s2r://panorama/images/ui_textures/yellow_star_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.map-selection-list .map-selection-btn .map-selection-info__new--star Label
{
	position: 0px 0px 0px;
	width: 100%;
	text-align: center;
	margin-left: 0px;
	font-weight: bold;
	transform: rotateZ(-10deg);
}

ToggleButton .map-selection-info__new,RadioButton .map-selection-info__new
{
	position: 0px 0px 0px;
	margin-left: 0px;
}

.map-selection-info__wait-time-block
{
	height: fit-children;
	flow-children: right;
	horizontal-align: center_nopixelsnap;
	vertical-align: bottom;
	visibility: visible;
}

.map-selection-list-section--type-capt .map-selection-info
{
	vertical-align: top;
	flow-children: down;
}

.map-selection-info__map-capt
{
	text-align: left;
	text-overflow: noclip;
	font-size: 17px;
	font-weight: lighter;
	margin: 0px;
	padding:8% 5%;
	background-color: #000000c0;
	height: fit-children;
	width: 83%;
	horizontal-align: center;
	vertical-align: top;
	visibility: collapse;
}

.map-selection-list-section--type-capt .map-selection-info__map-capt
{
	visibility: visible;
}

.map-selection-list-section--type-capt .map-selection-info__wait-time-block
{
	opacity: 0;
}

.map-selection-list-section--type-capt .map-selection-info__map-name
{
	visibility: collapse;
}

.map-selection-info__wait-time-block.hidden,.map-selection-info__new.hidden,.map-selection-info__new--star.hidden
{
	visibility: collapse;
}

.map-selection-info__wait-icon
{
	vertical-align: middle;
	margin-right: 4px;
}

.map-selection-btn .RadioBox
{
	visibility: collapse;
}

.map-selection-btn .TickBox
{
	-s2-mix-blend-mode: screen;
}

.map-selection-list:disabled .map-selection-btn .TickBox
{
	visibility: collapse;
}

.map-selection-list.hidden,.map-selection-list-coop.hidden
{
	opacity: 0;
	transform: translateY( 500px );
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.map-selection-btn CarouselNav
{
	z-index: 3;
}

.map-selection-btn__screenshot.Focused
{
	opacity: 1.0;
	transform: translatex( 0px );
	transition-property: opacity, saturation, contrast, pre-transform-scale2d;
	transition-duration: 2s, .25s, .25s, .25s;
	transition-timing-function: ease-in-out;
}

.map-selection-btn__screenshot.LeftOfFocus1,.map-selection-btn__screenshot.LeftOfFocus2,.map-selection-btn__screenshot.LeftOfFocus3,.map-selection-btn__screenshot.LeftOfFocus4,.map-selection-btn__screenshot.LeftOfFocus5,.map-selection-btn__screenshot.LeftOfFocus6,.map-selection-btn__screenshot.LeftOfFocus7,.map-selection-btn__screenshot.LeftOfFocus8,.map-selection-btn__screenshot.LeftOfFocus9,.map-selection-btn__screenshot.LeftOfFocus10,.map-selection-btn__screenshot.LeftOfFocus11,.map-selection-btn__screenshot.LeftOfFocus12
{
	opacity: 1;
	transition-property: opacity;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;
}

.map-selection-btn__screenshot.RightOfFocus1,.map-selection-btn__screenshot.RightOfFocus2,.map-selection-btn__screenshot.RightOfFocus3,.map-selection-btn__screenshot.RightOfFocus4,.map-selection-btn__screenshot.RightOfFocus5,.map-selection-btn__screenshot.RightOfFocus6,.map-selection-btn__screenshot.RightOfFocus7,.map-selection-btn__screenshot.RightOfFocus8,.map-selection-btn__screenshot.RightOfFocus9,.map-selection-btn__screenshot.RightOfFocus10,.map-selection-btn__screenshot.RightOfFocus11,.map-selection-btn__screenshot.RightOfFocus12
{
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;
}

.play-menu-controls-actions-bar
{
	background-color: contentPanelBackground;
	width: 100%;
	height: 96px;
	padding-left: 64px;
	vertical-align: bottom;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.settings-container
{
	flow-children: right;
	vertical-align: center;
	padding-left: 32px;
	padding-right: 32px;
	height: 64px;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.play-settings-gamemodeflags
{
	visibility: collapse;
}

.play-menu-controls-lobby-count
{
	width: fit-children;
	flow-children: right;
	vertical-align: center;
	margin-right: -25px;
	padding: 10px;
}

.play-menu-controls-lobby-count .play-menu-controls-lobby-icon
{
	margin-left: 2px;
	visibility: collapse;
}

.play-menu-controls-lobby-count.play-menu-controls-lobby-count-1 .play-menu-controls-lobby-icon,.play-menu-controls-lobby-count.play-menu-controls-lobby-count-2 .play-menu-controls-lobby-icon,.play-menu-controls-lobby-count.play-menu-controls-lobby-count-3 .play-menu-controls-lobby-icon,.play-menu-controls-lobby-count.play-menu-controls-lobby-count-4 .play-menu-controls-lobby-icon,.play-menu-controls-lobby-count.play-menu-controls-lobby-count-5 .play-menu-controls-lobby-icon
{
	visibility: visible;
	wash-color: disabledColor;
}

.play-menu-controls-lobby-count.play-menu-controls-lobby-count-1 .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-1,.play-menu-controls-lobby-count.play-menu-controls-lobby-count-2 .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-2,.play-menu-controls-lobby-count.play-menu-controls-lobby-count-3 .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-3,.play-menu-controls-lobby-count.play-menu-controls-lobby-count-4 .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-4,.play-menu-controls-lobby-count.play-menu-controls-lobby-count-5 .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-5
{
	wash-color: white;
}

.play-menu-controls-lobby-count.play-menu-controls-lobby-count-1.play-menu-controls-lobby-count-host .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-1,.play-menu-controls-lobby-count.play-menu-controls-lobby-count-2.play-menu-controls-lobby-count-host .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-2,.play-menu-controls-lobby-count.play-menu-controls-lobby-count-3.play-menu-controls-lobby-count-host .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-3,.play-menu-controls-lobby-count.play-menu-controls-lobby-count-4.play-menu-controls-lobby-count-host .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-4,.play-menu-controls-lobby-count.play-menu-controls-lobby-count-5.play-menu-controls-lobby-count-host .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-5
{
	wash-color: positiveColor;
}

.play-menu-controls-lobby-count.play-menu-controls-lobby-count-5.play-menu-controls-lobby-count-host .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-1,.play-menu-controls-lobby-count.play-menu-controls-lobby-count-5.play-menu-controls-lobby-count-host .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-2,.play-menu-controls-lobby-count.play-menu-controls-lobby-count-5.play-menu-controls-lobby-count-host .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-3,.play-menu-controls-lobby-count.play-menu-controls-lobby-count-5.play-menu-controls-lobby-count-host .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-4,.play-menu-controls-lobby-count.play-menu-controls-lobby-count-5.play-menu-controls-lobby-count-host .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-5
{
	animation-name: play-menu-controls-lobby-count-full-team;
	animation-duration: 1.8s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	transition-property: border;
	opacity:1.0;
}

@keyframes 'play-menu-controls-lobby-count-full-team'
{
	0%
	{
		transform: scale3d( .9, .9, .9);
	}
	
	55%
	{
		img-shadow: 1px 1px 1px 1.0 #ffffff;
		transform: scale3d( 1, 1, 1);
		brightness:1.8;
	}
	
	100%
	{
		transform: scale3d( .9, .9, .9);
	}
	
}

.play-menu-controls-actions-bar__right
{
	flow-children:right;
	height: 100%;
	horizontal-align: right;
	margin-right: 20px;
}

.play-menu-controls-action-bar__right__go-cancel
{
	height: 100%;
	vertical-align: center;
}

.play-menu__playbtn
{
	horizontal-align: right;
	vertical-align: center;
	min-width: 300px;
	margin: 12px 0px;
	box-shadow: 0px 0px 16px 0px #00000041;
	border: 1px solid rgba(9, 219, 9, 0.336);
	background-color: rgba(9, 49, 9, 0.651);
	perspective: 200px;
	perspective-origin: 0% 0%;
	transition-property: opacity, box-shadow, wash-color, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu__playbtn:hover
{
	sound: "UIPanorama.mainmenu_rollover";
}

.play-menu__playbtn:hover .play-menu__playbtn__bar
{
	brightness: 2;
	box-shadow: 0px 0px 124px 5px rgba(4, 179, 4, 0.637);
	transition-property: brightness, box-shadow;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu__playbtn.pressed
{
	transform: translateY( -0px ) rotateX(100deg);
	opacity: 0;
	transition-property: opacity, box-shadow, wash-color, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu__playbtn.hidden
{
	opacity: 0;
	visibility: collapse;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu__playbtn:disabled
{
	box-shadow: none;
	wash-color: disabledColor;
}

.play-menu__playbtn Label
{
	horizontal-align: center;
	vertical-align: center;
	padding: 8px 0px;
	font-family: stratum2Font;
	text-align: center;
	text-transform: uppercase;
	color: rgb(85, 228, 20);
	font-weight: bold;
	font-size: 32px;
	letter-spacing: 4px;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu__playbtn .play-menu__playbtn__bar
{
	width: 1px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.075);
	box-shadow: 0px 0px 64px 5px rgba(6, 141, 6, 0.767);
	transition-property: brightness, box-shadow;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu__playbtn .play-menu__playbtn__bg
{
	width: 100%;
	height: 100%;
	wash-color: rgb(33, 180, 33);
	brightness: 1.5;
	background-repeat: repeat;
	background-position: 20% 60%;
	background-size: auto auto;
	background-image: url("file://{resources}/videos/linemap.webm");
	background-img-opacity: .5;
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu__playbtn .play-menu__playbtn__bg CCSGOSteamInputAction .steam-button-glyph
{
	width: 28px;
	height: 28px;
}

.play-menu__playbtn .play-menu__playbtn__bg Label.steam-button-name
{
	visibility: collapse;
}

.play-menu__playbtn .group-text-with-steam-button
{
	horizontal-align: center;
	flow-children:right;
	z-index: 2;
}

.play-menu__playbtn.play-menu__playbtn--stopsearch
{
	border: 1px solid rgba(204, 11, 11, 0.336);
}

.play-menu__playbtn.play-menu__playbtn--stopsearch:disabled
{
	transform: translateY( 64px );
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu__playbtn.play-menu__playbtn--stopsearch:hover .play-menu__playbtn__bar
{
	box-shadow: 0px 0px 124px 5px rgba(179, 39, 4, 0.637);
}

.play-menu__playbtn.play-menu__playbtn--stopsearch .play-menu__playbtn__bar
{
	background-color: rgba(190, 16, 16, 0.24);
	box-shadow: 0px 0px 64px 5px rgba(109, 34, 34, 0.767);
}

.play-menu__playbtn.play-menu__playbtn--stopsearch .play-menu__playbtn__bg
{
	wash-color: rgb(180, 33, 33);
}

.play-menu__playbtn.play-menu__playbtn--stopsearch Label
{
	color: negativeColor;
	font-size: 24px;
	padding: 12px 0px;
	text-overflow: ellipsis;
}

.play-menu__botdifficulty
{
	width: 200px;
	horizontal-align: center;
	margin-top: 0px;
	margin-bottom: 26px;
}

.play-menu__botdifficulty.hidden
{
	visibility: collapse;
}

.map-selection-no-subscriptions
{
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
}

.map-selection-no-subscriptions-label
{
	padding-left: 200px;
	padding-right: 200px;
	font-size: 24px;
	text-align: center;
	horizontal-align: center;
}

.game-mode-selection-radios-spacer
{
	width: 15px;
	height: 60%;
	margin-left: 8px;
	margin-right: 8px;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	vertical-align: center;
}

.workshop-search-textentry-container
{
	margin-bottom: 12px;
	width: play-settings-width;
	height: 48px;
}

.workshop-search-textentry-container .IconButton
{
	horizontal-align: right;
	margin-right: 24px;
}

.workshop-search-textentry
{
	height: 48px;
	width: 200px;
	vertical-align: center;
	horizontal-align: center;
	padding-top: 10px;
	font-size: 16px;
	color: white;
	border-radius: 0px;
	background-color: rgba(0, 0, 0, 0.308);
	border: 0px solid rgba(255, 255, 255, 1);
	border-bottom: 2px solid rgba(255, 255, 255, 1);
	transition-property: border;
	transition-duration: 0.2s;
}

.workshop-search-textentry-container TextEntry
{
	padding: 12px 8px;
}

.workshop-search-textentry:focus
{
	border-bottom: 6px solid rgba(255, 255, 255, 1);
	box-shadow: none;
	transition-property: border;
	transition-duration: 0.2s;
}

.workshop-search-textentry #PlaceholderText
{
	color: rgb(221, 221, 221);
	font-size: 16px;
	height: 64px;
}

.play-menu__tournament-only
{
	visibility: collapse;
}

.play-menu__tournament .play-menu__tournament-only
{
	visibility: visible;
}

#PlayMenulLeaderboards.show
{
	animation-name: show-leaderboard-btn;
	animation-duration: .75s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'show-leaderboard-btn'
{
	0%
	{
		transform: translateY(100%);
	}
	
	100%
	{
		transform: translateY(0%);
	}
	
}

.play-menu-option-btn
{
	flow-children:right;
	vertical-align: center;
	width:play-settings-width;
	transition-property: background-color;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.play-menu-option-btn:hover:not(.play-menu-option-btn:disabled)
{
	background-color: rgba(0, 0, 0, 0.418);
	transition-property: background-color;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.play-menu-option-btn:disabled
{
	wash-color: disabledColor;
}

.play-menu-option-btn Label,ToggleButton.play-menu-option-btn Label,ToggleButton.play-menu-option-btn:selected Label
{
	font-size: 16px;
	font-family: stratum2Font;
	font-weight: medium;
	color:white;
	text-overflow: shrink;
	padding-right: 14px;
}

#PrimeStatusPanel
{
	padding-left:16px;
	padding-right:16px;
	width: play-settings-width;
	margin-bottom: 32px;
	flow-children: down;
}

.play-menu-prime
{
	horizontal-align:center;
	flow-children: right;
}

.play-menu-prime.disabled
{
	wash-color: disabledColor;
}

.play-menu-prime Image
{
	width: 32px;
	height: 32px;
	margin-right: 0px;
}

.play-menu-prime-text
{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 4px;
	letter-spacing: 1.5px;
	color: white;
}

.play-menu-prime-warning
{
	font-size: 14px;
	text-align: center;
	horizontal-align: center;
	margin-left: 4px;
	color: rgba(250, 248, 248, 0.671);
	visibility: collapse;
}

.play-menu-get-prime
{
	width: 150px;
	background-color: blueColorDark;
	vertical-align: center;
	horizontal-align: center;
	padding: 12px;
	border-radius: 10px;
	border: 1.5px solid blueColor;
	box-shadow: #00000044 4px 4px 8px 0px;
	flow-children: down;
	background-image: url("s2r://panorama/images/backgrounds/linemap_png.vtex");
	background-size: auto auto;
	background-position: 0% 50%;
	background-img-opacity: .05;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu-get-prime Image
{
	width: 64px;
	height: 64px;
}

.play-menu-get-prime Label
{
	font-size: 16px;
	font-family: stratum2Font;
	horizontal-align: center;
	text-align: center;
	font-weight: bold;
	color:white;
	text-overflow: shrink;
}

.play-menu-get-prime:hover
{
	brightness: 1.5;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu-get-prime:disabled
{
	background-color: none;
	box-shadow: none;
	margin-left: 0px;
}

.play-menu-get-prime:disabled:hover
{
	brightness: 1;
}

.content-navbar Button.play-menu-get-prime Label,.content-navbar ToggleButton.play-menu-toggle-prime Label
{
	margin: 0px;
	font-size: 18px;
	max-height: 32px;
	text-overflow: shrink;
}

.play-menu-primestatus-image
{
	margin: 0px;
	background-image: url("s2r://panorama/images/icons/ui/prime_disabled_png.vtex");
	background-position: 50% 50%;
	background-size: 100% 100%;
	vertical-align: center;
	horizontal-align:center;
	width: 48px;
	height: 48px;
}

.play-menu-prime-logo-bg .play-menu-primestatus-image
{
	background-image: url("s2r://panorama/images/icons/ui/prime_active_png.vtex");
}

.content-navbar ToggleButton.play-menu-toggle-prime
{
	flow-children: right;
	vertical-align: center;
}

.play-menu-toggle-prime .TickBox
{
	visibility: collapse;
}

.play-menu-toggle-prime:selected .play-menu-prime-toggle__slider-pill
{
	background-color: gradient( radial, 50% 60%, 0% 0%, 90% 70%, from( #22a527 ), color-stop( .7, #22a527), to( rgb(10, 88, 10) ) );
	border: 1.5px solid #147717;
	transition-property: background-color, box-shadow;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu-prime-toggle__slider-pill
{
	height: 20px;
	width: 42px;
	background-color: rgba(0, 0, 0, 0.445);
	border-radius: 16px;
	border: 1.5px solid rgba(0, 0, 0, 0.363);
	padding: 2px;
	margin: 2px 2px 2px 12px;
	background-color: gradient( radial, 50% 60%, 0% 0%, 90% 70%, from( rgba(0, 0, 0, 0.363) ), color-stop( .7, rgba(0, 0, 0, 0.363)), to( rgba(0, 0, 0, 0.363) ) );
	horizontal-align: left;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu-prime-toggle__slider
{
	background-color: white;
	border-radius: 50%;
	height: 100%;
	width: height-percentage( 100% );
	vertical-align: center;
	box-shadow: shadowOffset;
	transition-property: transform, background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu-toggle-prime:selected .play-menu-prime-toggle__slider
{
	transform: translateX( 50% );
	transition-property: transform, background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu-mapandlbs-container
{
	flow-children: right;
	horizontal-align: right;
	margin-right: 16px;
	width: 100%;
}

.play-menu-svl-auto-squad-toggle-container
{
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: right;
	margin-left: 16px;
	margin-right: 16px;
	width: 100%;
}

#SurvivalAutoSquadToggle.PopupButton:not(.PopupButton:disabled):selected
{
	wash-color: positiveColor;
}

#SurvivalAutoSquadToggle.PopupButton:not(.PopupButton:disabled)
{
	wash-color: warningColor;
}

.play-menu-map-rotation-timer
{
	flow-children: right;
	vertical-align: center;
	visibility: visible;
}

.play-menu-map-rotation-timer.hidden
{
	visibility: collapse;
}

.play-menu-map-rotation-timer-label
{
	font-family: stratum2Font;
	font-weight: lighter;
	font-size: 20px;
}

.play-maps-controls-contianer
{
	flow-children: down;
	width: 100%;
	border-top: 1px solid rgba(255, 255, 255, 0.11);
	margin-right: 64px;
	height: 100%;
	ignore-parent-flow: false;
}

.play-lobby-leader-container
{
	flow-children: right;
	visibility: collapse;
	padding-left: 16px;
	margin-bottom: 24px;
}

.lobby-leader-avatar
{
	height: 48px;
	Width: 48px;
	margin-right: 8px;
	border-radius: 3px;
}

.lobby-leader-text
{
	text-overflow: ellipsis;
	max-height: 20px;
	letter-spacing: 1px;
}

.playmenu--premier__party
{
	width: 570px;
	height: 295px;
	horizontal-align: right;
	flow-children: down;
	margin-right: prime-panel-right-left-margin;
	padding-bottom: 16px;
}

.playmenu--premier__leaderboard
{
	width: 570px;
	height: fill-parent-flow(1);
	horizontal-align: left;
	flow-children: down;
	padding-bottom: 16px;
	margin-left: prime-panel-right-left-margin;
}

.premier-play-menu-mapwinrecord
{
	margin-top: 12px;
	width: 575px;
	height: fill-parent-flow(1);
	horizontal-align: right;
	vertical-align: center;
	margin-right: prime-panel-right-left-margin;
}

.AspectRatio4x3 .playmenu--premier__party,.AspectRatio4x3 .premier-play-menu-mapwinrecord,.AspectRatio4x3 .playmenu--premier__leaderboard
{
	margin-right: 0px;
	margin-left: 0px;
}

.premier-side
{
	width: 50%;
	height: 100%;
}

.premier-side .premier-inner
{
	width: 100%;
}

.premier-side .premier-inner.right
{
	horizontal-align:left;
}

.premier-side .premier-inner.left
{
	horizontal-align: right;
	flow-children: down;
}

.premier-side.right
{
	background-color: gradient(linear, 0% 0%, 100% 0%, from(rgba(0,0,0,0.4)), to (rgba(0,0,0, 0)));
}

#PlayMenuReplayNewUserTrainingButton
{
	width: 240px;
	padding: 6px 20px;
	vertical-align: middle;
	box-shadow: none;
	flow-children: right;
}

#PlayMenuReplayNewUserTrainingButton:hover
{
	background-color: rgba(255, 255, 255, 0.05);
}

#PlayMenuReplayNewUserTrainingButton Label
{
	vertical-align: center;
	font-size: 16px;
	font-family: stratum2Font;
	font-weight: medium;
	color: white;
	text-overflow: shrink;
	margin-left: 0px;
	padding: 0px 7px 0px 0px;
	width: fill-parent-flow( 1);
	position: 0.0px 0.0px 0.0px;
}

