/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define news-image-width: 671px;
.featured.news-panel
{
	width: 100%;
	height: fill-parent-flow( 1 );
	background-color: #000000f2;
	flow-children: down;
	transition-property: height, position;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.history.news-panel
{
	width: 100%;
	height: fill-parent-flow( 1 );
	background-color: #000000f2;
	flow-children: down;
	transition-property: height, position;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.news-panel--hide-news-panel #JsNewsPanel
{
	height: fill-parent-flow( 0 );
	margin-bottom: 0px;
	transition-property: height, position;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.news-panel--hide-news-panel #JsStorePanel
{
	height: 265px;
}

.news-panel-style-feature-panel-visible #JsNewsPanel
{
	height: fill-parent-flow( .5 );
}

.news-panel-navbar
{
	height: 48px;
	flow-children: right;
	width: 100%;
	margin-top: 62px 0px;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.25);
}

.content-navbar__tabs__center-container
{
	horizontal-align: center;
	flow-children: right;
	height: 100%;
	transition-property: height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.content-navbar__tabs__btn .RadioBox
{
	visibility: collapse;
}

.mainmenu-news-content__container
{
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.news-panel-navbar-btn
{
	height: 100%;
	width: fit-children;
	margin: 0px 24px 0px 0px;
	vertical-align: center;
	background-color: gradient( linear, 0% 100%, 0% 99%, from( white ), color-stop( 0, #ffffff00 ), to( #ffffff00 ) );
}

.news-panel-navbar .news-panel-navbar-logo
{
	vertical-align: center;
	margin: 0px 8px;
}

.news-panel-navbar-worldwide,.news-panel-navbar-pwglobal,.news-panel-navbar-pwchina
{
	visibility: visible;
}

.worldwide .news-panel-navbar-worldwide,.perfectworld.steamglobal .news-panel-navbar-pwglobal,.perfectworld.steamchina .news-panel-navbar-pwchina
{
	visibility: visible;
}

.news-panel-navbar-sub
{
	height: 32px;
	flow-children: right;
	width: 100%;
	margin: 0px 16px;
}

.news-panel-style-feature-panel-visible .news-entry
{
	background-color:rgba(0, 0, 0, 0.5);
}

.history.news-panel__list
{
	flow-children: down;
	width: 100%;
	height: 100%;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: .01;
	transition-property: height, position;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

#NewEntry0.news-entry.news-panel-style-short-entires
{
	width: 100%;
	max-height: 500px;
	horizontal-align: center;
	vertical-align: top;
	background-color: #000000a6;
	flow-children: right;
	padding: 0px 200px;
	border-bottom: 1px solid #ffffff22;
}

#NewEntry0 .news-entry__image
{
	width: 600px;
	vertical-align: center;
	horizontal-align: center;
	z-index: 11;
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

#NewsInfo0.news-entry__info
{
	width: 100%;
	vertical-align: center;
}

#NewEntry0 .news-entry__title
{
	font-size: 46px;
	font-weight: bold;
	color:#dddddd;
}

#NewEntry0 .news-entry__body
{
	font-size: 16px;
	color: #dddddd;
	text-overflow: ellipsis;
	vertical-align: center;
}

#NewEntry0 .news-entry__details
{
	font-size: 20px;
	font-weight: bold;
	color: #dddddd;
	text-overflow: ellipsis;
	vertical-align: center;
}

#NewEntry0.news-entry:hover
{
	background-color: #000000b6;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.history .news-entry
{
	width: 100%;
	height: fit-children;
	horizontal-align: center;
	vertical-align: center;
}

.history .news-entry,.history .news-panel-style-short-entires .news-entry,.history .news-panel-style-feature-panel-visible .news-entry
{
	width: 100%;
	flow-children: right;
	max-height: 263px;
	padding: 0px 200px;
	box-shadow: none;
	border-bottom: 1px solid #ffffff1a;
}

.history .news-entry:hover .news-entry__image
{
	transform: scale3d( 1.02, 1.02, 1.02 );
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.history .news-entry__image
{
	width: 350px;
	vertical-align: center;
	horizontal-align: center;
	z-index: 11;
	transition-property: transform, height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.history .news-panel-style-short-entires .news-entry__image,.history .news-panel-style-feature-panel-visible .news-entry__image
{
	vertical-align: center;
	z-index: 11;
}

.history .news-entry__image--blur
{
	flow-children: right;
	min-height: 263px;
	padding: 40px 0px;
	z-index: 11;
	vertical-align: center;
}

.history .news-entry__info
{
	width: 100%;
	flow-children: down;
	z-index: 3;
	vertical-align: center;
	padding: 0px 40px 0px 40px;
	background-color: yellow;
}

.history .news-panel-style-short-entires .news-entry__info,.history .news-panel-style-feature-panel-visible .news-entry__info
{
	vertical-align: center;
	background-color: none;
}

.history .news-entry:hover
{
	background-color: #0000004b;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.history .news-entry__title,.history .news-panel-style-short-entires .news-entry__title,.history .news-panel-style-feature-panel-visible .news-entry__title
{
	font-size: 30px;
}

.history .news-entry__title
{
	font-weight: bold;
	color:#dddddd;
}

.history .news-entry__body
{
	color: #dddddd;
	text-overflow: ellipsis;
	vertical-align: center;
	height: 100px;
}

.history .news-entry__body,.history .news-panel-style-short-entires .news-entry__body,.history .news-panel-style-short-entires .news-entry__details,.history .news-panel-style-feature-panel-visible .news-entry__body,.history .news-panel-style-feature-panel-visible .news-entry__details
{
	font-size: 14px;
	margin-top: 4px;
}

.history .news-entry__details
{
	font-size: 16px;
	color:#cccccc;
	text-transform: uppercase;
	font-weight: Bold;
}

