/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.mini-store-container
{
	width: 256px;
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: hollow #00000071 0px 0px 8px 0px;
	margin-top: 8px;
}

.mini-store-container.hidden
{
	opacity: 0;
	height: 0px;
	margin-top: 0px;
	transition-property: opacity, height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mini-store__carousel-nav
{
	width: 100%;
	padding: 0px 6px;
	vertical-align: bottom;
	margin-bottom: 8px;
	visibility: visible;
	flow-children: none;
	z-index: 2;
}

.mini-store-separator
{
	background-color: rgba(255, 255, 255, 0.1);
	height: 1px;
	width: 100%;
	vertical-align: top;
	horizontal-align: center;
}

.mini-store__carousel-blocker
{
	height: 32px;
	width: 100%;
	vertical-align: bottom;
	z-index: 1;
}

.mini-store__header
{
	margin: 12px;
	flow-children: right;
}

.mini-store__header .mini-store__header__more-btn
{
	vertical-align: center;
	margin: 4px;
}

.mini-store__header .mini-store__header__more-btn Label
{
	font-family: Stratum2 Light TF, "Arial Unicode MS";
	font-size: 12px;
}

.mini-store__header .mini-store__header__more-btn Label:hover
{
	color: white;
}

