/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.map-draft
{
	height: 100%;
	width: 100%;
	background-color: rgba(14, 14, 14, 0.849);
	visibility: collapse;
	opacity: 0;
	transform: scale3d( 1.2, 1.2, 1);
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.map-draft.map-draft--show
{
	visibility: visible;
	opacity: 1;
	transform: scale3d( 1, 1, 1);
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.map-draft-phasebar-container
{
	flow-children: right;
	width: 100%;
	margin: 32px 24px 32px 24px;
}

.map-draft-phasebar
{
	width: fill-parent-flow( 1 );
	flow-children: down;
	margin: 1px;
}

.map-draft-phasebar__timer,.map-draft-phasebar--pre .map-draft-phasebar__timer,.map-draft-phasebar--post .map-draft-phasebar__timer
{
	flow-children: right;
	horizontal-align: center;
	transform: translateY( 40% );
	opacity: 0.0;
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.map-draft-phasebar__timer Label
{
	font-size: 34px;
}

.map-draft-phasebar__timer.CountdownAfterEnd
{
	opacity: 0;
	visibility: collapse;
}

.map-draft-phasebar__line
{
	width: 100%;
	height: 16px;
	background-color: rgb(60, 60, 60);
	margin-top: 4px;
	transition-property: background-color, box-shadow;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.map-draft-phasebar__label
{
	text-align: center;
	horizontal-align: center;
	color: rgb(60, 60, 60);
	font-weight: medium;
	font-size: 18px;
	letter-spacing: 1.5px;
	transition-property: color;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.map-draft-phasebar__arrow
{
	horizontal-align: center;
	transform: rotateZ( 180deg );
	wash-color: rgb(60, 60, 60);
	transition-property: wash-color;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.map-draft-phasebar--pre .map-draft-phasebar__line
{
	background-color: rgb(138, 138, 138);
}

.map-draft-phasebar--pre .map-draft-phasebar__arrow
{
	wash-color: rgb(138, 138, 138);
}

.map-draft-phasebar--pre .map-draft-phasebar__label
{
	color: rgb(138, 138, 138);
}

.map-draft-phasebar--ban .map-draft-phasebar__timer,.map-draft-phasebar--pick .map-draft-phasebar__timer
{
	transform: translateY( 0% );
	opacity: 1.0;
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.map-draft-phasebar--ban .map-draft-phasebar__line
{
	background-color: negativeColor;
	box-shadow: fill negativeColor 4px 0px 8px 2px;
}

.map-draft-phasebar--ban .map-draft-phasebar__arrow
{
	wash-color: negativeColor;
}

.map-draft-phasebar--pick .map-draft-phasebar__line
{
	background-color: positiveColor;
	box-shadow: fill positiveColor 4px 0px 8px 2px;
}

.map-draft-phasebar--pick .map-draft-phasebar__arrow
{
	wash-color: positiveColor;
}

.map-draft-phasebar--pick .map-draft-phasebar__label,.map-draft-phasebar--ban .map-draft-phasebar__label
{
	opacity: 1;
}

.map-draft-phasebar--pick .map-draft-phasebar__label,.map-draft-phasebar--ban .map-draft-phasebar__label
{
	color: white;
}

.map-draft-phasebar--post .map-draft-phasebar__line
{
	background-color: rgb(60, 60, 60);
}

.map-draft-phasebar--post .map-draft-phasebar__label
{
	color: rgb(60, 60, 60);
}

.map-draft-phasebar--post .map-draft-phasebar__arrow
{
	wash-color: rgb(60, 60, 60);
}

.map-draft-phase-info
{
	letter-spacing: 2px;
	vertical-align: top;
	horizontal-align: center;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: white;
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.map-draft-phase-info.map-draft-phase-info--hidden,#id-map-draft-phase-waiting.map-draft-phase-info--hidden
{
	transform: translateY(-40%);
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.map-draft-phase-rows
{
	width: 100%;
	padding: 32px 32px;
}

.map-draft-phase-buttons-container
{
	flow-children: right;
	horizontal-align: center;
	transform: translateY(-30%) scale3d( 0.9, 0.9, 1);
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.map-draft-phase-buttons-container--show
{
	transform: translatey(0%) scale3d( 1, 1, 1);
	opacity: 1;
	z-index: 2;
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.map-draft-phase-buttons-container--hide
{
	transform: translatey(30%) scale3d( 0.9, 0.9, 1);
	opacity: 0;
	z-index: 1;
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.map-draft-phase-pick-map-image
{
	height: 256px;
	width: 455px;
	transform: translateY(32px);
	background-color: black;
	margin:0px 8px 0px 8px;
	box-shadow: black 0px 0px 8px 0px ;
	border-radius: 4px;
}

.map-draft-phase-pick-map-image--large
{
	height: 460px;
	width: 818px;
	border-radius: 6px;
}

.map-draft-phase-pick-map-image__starting-team
{
	flow-children: right;
	horizontal-align: center;
	width: 100%;
	margin-top: 32px;
	margin-left: 32px;
	height: fit-children;
	visibility: collapse;
}

.map-draft-phase-pick-map-image__starting-icon
{
	height: 128px;
	width: 128px;
}

.map-draft-phase-button
{
	margin: 0px 8px;
	padding-top: 16px;
	horizontal-align: center;
	vertical-align: top;
	brightness: 1.2;
	flow-children: down;
	transition-property: brightness, position;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.map-draft-phase-button__mapinfo
{
	width: 172px;
	height: 274px;
	padding-top: 16px;
}

.map-draft-phase-button-fade
{
	height: 100%;
	width: 100%;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #000000d3 ), to( #00000000 ) );
}

.map-draft-phase-button--pulse
{
	animation-name: draft-button-flash;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: both;
}

@keyframes 'draft-button-flash'
{
	0%
	{
		brightness: 1;
		transform: scale3d( 1, 1, 1);
	}
	
	50%
	{
		brightness: 8;
		transform: scale3d( 1.02, 1.02, 1);
	}
	
	100%
	{
		brightness: 1;
		transform: scale3d( 1, 1, 1);
	}
	
}

.map-draft-phase-button .TickBox
{
	visibility: collapse;
}

.map-draft-phase-button__image
{
	height: 100%;
	width: 100%;
	border: 3px solid rgb(224, 224, 224);
	box-shadow: rgba(0, 0, 0, 0) -2px -2px 8px 4px;
	transition-property: border, box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.map-draft-phase-button__status,.map-draft-phase-button__status-disabled
{
	background-color: negativeColor;
	box-shadow: fill rgba(197, 5, 5, 0.644) 0px 0px 8px 2px;
	font-weight: bold;
	font-size: 24px;
	border-radius: 3px;
	padding: 4px 8px;
	text-align: center;
	color: white;
	vertical-align: top;
	horizontal-align: center;
	transform: translateY( -30px );
	opacity: 0;
	z-index: 2;
	transition-property: transform, opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.map-draft-phase-button__status-disabled
{
	vertical-align: center;
	horizontal-align: center;
	visibility: collapse;
	transform: translateY( 0px );
	z-index: 2;
	background-color: rgba(75, 4, 4, 0.925);
	box-shadow: fill rgba(75, 4, 4, 0.925) 0px 0px 8px 2px;
}

.map-draft-phase-button__status-final-map
{
	border-radius: 0px;
	padding: 4px 8px;
	font-weight: bold;
	font-style: italics;
	font-size: 22px;
	color: rgb(224, 224, 224);
	visibility: visible;
	vertical-align: bottom;
	text-align: center;
	margin-bottom: 48px;
	background-color: rgba(0, 0, 0, 0.788);
	horizontal-align: center;
	transform: translateY( 0px );
	z-index: 2;
	width: 100%;
}

.map-draft-phase-pick-map-image__starting-team .map-draft-phase-button__status-final-map
{
	background-color: rgba(0, 0, 0, 0);
	horizontal-align: left;
	vertical-align: center;
	margin-left: 16px;
	margin-bottom: 0px;
	width: fit-children;
	padding: 0px 0px;
	color: white;
}

.map-draft-phase-button__status--positive .map-draft-phase-button__status
{
	background-color: positiveColor;
	box-shadow: fill rgba(5, 197, 79, 0.644) 0px 0px 8px 2px;
}

.map-draft-phase-button--winning-vote .map-draft-phase-button__status
{
	transform: translateY( -10px );
	opacity: 1;
	transition-property: transform, opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.map-draft-phase-button--winning-vote .map-draft-phase-button__image
{
	border: 3px solid rgb(172, 7, 7);
	transition-property: border, box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.map-draft-phase-button__status--positive.map-draft-phase-button--winning-vote .map-draft-phase-button__image
{
	border: 3px solid rgba(5, 197, 79, 0.644);
	transition-property: border, box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.map-draft-phase-button__box
{
	vertical-align: center;
	horizontal-align: center;
	height: 32px;
	width: 32px;
	z-index: 2;
}

.map-draft-phase-button__box-inside
{
	z-index: 4;
	height: 42px;
	width: 42px;
	vertical-align: center;
	horizontal-align: center;
	clip: rect( 90%, 0%, 180%, 10% );
	transition-property: clip, opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.map-draft-phase-button.map-draft-phase-button--selected .map-draft-phase-button__box-inside
{
	clip: rect( 0%, 100%, 100%, 0% );
	transition-property: clip, opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.map-draft-phase-button__text
{
	vertical-align: bottom;
	horizontal-align: center;
	text-align: center;
	color: white;
	font-weight: medium;
	margin-bottom: 16px;
	text-overflow: shrink;
	max-width: 90%;
}

.map-draft-phase-button:disabled
{
	brightness: .3;
	saturation: .8;
}

.map-draft-phase-button:disabled .map-draft-phase-button__box
{
	visibility: collapse;
}

.map-draft-phase-button:disabled .map-draft-phase-button__image
{
	border: 3px solid rgb(116, 116, 116);
}

.map-draft-phase-button:hover:not(:disabled) .map-draft-phase-button__image
{
	box-shadow: shadowOffset;
	border: 6px solid rgb(255, 255, 255);
	transition-property: border, box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.map-draft-phase-button--winning-vote.map-draft-phase-button:hover:not(:disabled) .map-draft-phase-button__image
{
	border: 6px solid rgb(172, 7, 7);
	transition-property: border, box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.map-draft-phase-button__status--positive.map-draft-phase-button--winning-vote.map-draft-phase-button:hover:not(:disabled) .map-draft-phase-button__image
{
	border: 6px solid rgba(5, 197, 79, 0.644);
	transition-property: border, box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.map-draft-phase-button--vetoed .map-draft-phase-button__status-disabled
{
	visibility: visible;
	opacity: 1;
}

.map-draft-phase-button__avatars-container
{
	flow-children: down;
	width: 100%;
	margin-top: 4px;
}

.map-draft-phase-button__avatar
{
	width: 100%;
	flow-children: right;
	margin-bottom: 2px;
	opacity: 1;
	transition-property: opacity, transform, position, brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.map-draft-phase-button__avatar.hidden
{
	opacity: 0;
	transform: scaleY( 0 );
	transition-property: opacity, transform, position, brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.map-draft-phase-button__avatar CSGOAvatarImage
{
	width: 28px;
	height: 28px;
}

.map-draft-phase-button__avatar-name
{
	font-size: 14px;
	padding: 0px 4px;
	width: 100%;
	text-overflow: ellipsis;
	vertical-align: center;
}

.map-draft-phase-button__avatar__icon
{
	width: 100%;
	height: 100%;
	box-shadow: black 0px 0px 4px 0px ;
}

.map-draft-phase-button__avatar__teamcolor
{
	width: 100%;
}

.map-draft-keybinds-legend
{
	height: fill-parent-flow( 1.0 );
	width: 100%;
}

.map-draft-keybinds-legend-label
{
	height: 100px;
	margin: 0px;
	padding: 0px;
	letter-spacing: 2px;
	vertical-align: bottom;
	horizontal-align: center;
	text-align: center;
	font-size: 18px;
	color: #ffffff40;
}

.map-draft-phase-teams
{
	flow-children: right;
	width: 512px;
	height: 370px;
	horizontal-align: right;
	vertical-align: bottom;
	padding-bottom: 32px;
}

.map-draft-phase-teams__team
{
	flow-children: down;
	height: 100%;
	width: 50%;
}

.map-draft-phase-teams__border
{
	height: 100%;
	width: 2px;
	background-color: rgba(255, 255, 255, 0.019);
}

.map-draft-phase-teams__title
{
	font-size: 28px;
	letter-spacing: 1.8px;
	padding: 0px 12px 24px;
	vertical-align: top;
}

.map-draft-phase-teams__team--left .map-draft-phase-teams__title,.map-draft-phase-teams__team--left .map-draft-phase-button__avatar-name
{
	horizontal-align: right;
	text-align: right;
}

.map-draft-phase-teams__team--left .map-draft-phase-button__avatar
{
	flow-children: left;
	horizontal-align: right;
}

.map-draft-phase-teams .map-draft-phase-button__avatar-name
{
	font-size: 18px;
	padding: 0px 8px;
	height: 26px;
}

.map-draft-phase-teams .map-draft-phase-button__avatar
{
	margin: 0px 16px;
}

.map-draft-phase-teams .map-draft-phase-button__avatar:hover CSGOAvatarImage,.map-draft-phase-teams .map-draft-phase-button__avatar:hover .map-draft-phase-button__avatar-name
{
	brightness: 2;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.map-draft-phase-teams .map-draft-phase-button__avatar CSGOAvatarImage
{
	width: 36px;
	height: 36px;
}

.map-draft-phase-teams .avatar-teamcolor
{
	width: 36px;
}

