/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.scorebox_backdrop
{
	opacity: 0.3;
	height:width-percentage(100%);
	vertical-align:center;
}

.scorebox_backdrop--tournament
{
	opacity: 0.15;
	height:width-percentage(100%);
}

.mi-meta__map-icon
{
	width:height-percentage(100%);
	height:44px;
	margin:10px;
	vertical-align:center;
}

.mi-meta__labels
{
	margin-left: 10px;
	horizontal-align: left;
	vertical-align: center;
	flow-children: right;
}

.mi-meta__labels Label
{
	margin-right: 70px;
	width: fit-children;
}

.mi-meta__labels--bold
{
	font-weight:bold;
}

.mi-sb--hidden
{
	position: 400px 0px 0px;
	opacity: .0;
	blur: gaussian( 6 );
	transition-property: position, clip, opacity, blur;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.mi-sb__container
{
	height:fill-parent-flow( 1.0 );
	horizontal-align:center;
}

.mi-sb-main
{
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	visibility: collapse;
}

.AspectRatio16x10 .mi-sb-main,.AspectRatio16x9 .mi-sb-main,.AspectRatio21x9 .mi-sb-main
{
	ui-scale:120%;
}

@define left-panel-width: 200px;
.mi-sb-teamnames Label
{
	horizontal-align: center;
}

.mi-sb-teamnames
{
	flow-children: down;
	horizontal-align: left;
	width: left-panel-width;
}

.mi-sb__spacer
{
	padding-top: 20px;
}

.sb-row__cell
{
	background-color:rgba(0, 0, 0, 0.20);
}

.sb-row .RadioBox
{
	visibility: collapse;
}

.sb-row:selected
{
	background-color:rgba(0, 0, 0, 0.40);
	sound: "generic_button_press";
}

.mi-player-stats
{
	height:270px;
	horizontal-align: center;
	vertical-align: top;
	flow-children: down;
	opacity:1;
}

.mi-round-stats__scale-target
{
	width:100%;
	height:fit-children;
	flow-children:down;
	horizontal-align:center;
}

.mi-player-stats__collapse
{
	height:0px;
	opacity: 0;
}

.mi-main
{
	width:100%;
	height:100%;
	flow-children: down;
	transition-property: position, clip, opacity, blur;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.mi-sb-frame
{
	vertical-align:center;
	width:100%;
	height:fill-parent-flow(1);
	flow-children:down;
	padding: 0px 32px;
}

.mi-round-stats__title__container
{
	vertical-align: top;
	horizontal-align: center;
}

.mi-round-stats__title
{
	vertical-align: top;
	horizontal-align: center;
	margin: 20px 5px;
}

.mi-round-stats__frame
{
	width:960px;
	height:fit-children;
	horizontal-align:center;
}

.round-stats-outer
{
	width:fit-children;
	height:fit-children;
	flow-children:down;
	overflow: scroll clip;
	padding-bottom: 40px;
}

.mi-round-stats__container
{
	width:fit-children;
	height:fit-children;
	flow-children:right;
}

@define bar-width: 30px;
@define bar-width-4x3: 25px;
@define regtime-width: 900px;
@define regtime-width-4x3: 750px;
@define bar-height: 150px;
.mi-round-summary-bar
{
	width:fit-children;
	height:bar-height;
	vertical-align:center;
	horizontal-align:center;
}

.mi-round-summary-bar__container
{
	flow-children:down;
	width:bar-width;
	height:fit-children;
}

.AspectRatio4x3 .mi-round-summary-bar__container
{
	width:bar-width-4x3;
}

.mi-round-summary-bar__border
{
	border-bottom: 2px solid rgba(128,128,128,1.0);
	width:100%;
}

.mi-round-summary-bar-win__fill
{
	margin-left:1px;
	margin-right:1px;
	width:100%;
	height:100%;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( rgba(128,128,128,0.75) ), color-stop( 0.03, rgba(128,128,128,0.3) ), color-stop( 0.05, rgba(128,128,128,0.1) ), to( rgba(128,128,128,0.0) ) );
	flow-children:up;
}

.mi-round-summary-bar-loss__fill
{
	margin-left:1px;
	margin-right:1px;
	width:100%;
	height:100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(128,128,128,0.9) ), color-stop( 0.03, rgba(128,128,128,0.5) ), color-stop( 0.05, rgba(128,128,128,0.3) ), to( rgba(128,128,128,0.0) ) );
	wash-color: #B01A05;
	flow-children:down;
}

.mi-round-summary-bar--EMPTY
{
	opacity:0;
}

.mi-round-tick--sub
{
	width:1px;
	height:8px;
	horizontal-align:center;
	vertical-align:center;
	background-color:rgba(90,90,90,1.0);
}

.mi-round-tick--minor
{
	horizontal-align:center;
	vertical-align:center;
	width:1px;
	height:100%;
	background-color:rgba(90,90,90,1.0);
}

.mi-round-tick--major
{
	horizontal-align:center;
	vertical-align:center;
	width:2px;
	height:100%;
	background-color:rgba(128,128,128,1.0);
}

.mi-round-tick--left-of-team-switch
{
	horizontal-align: right;
	vertical-align:center;
	width:1px;
	height:100%;
	background-color:rgba(128,128,128,1.0);
}

.mi-round-tick--right-of-team-switch
{
	horizontal-align: left;
	vertical-align:center;
	width:1px;
	height:100%;
	background-color:rgba(128,128,128,1.0);
}

.mi-round-stats__tick-labels
{
	height:fit-children;
	flow-children:right;
	horizontal-align:center;
}

.mi-tick-label__container--small
{
	width:fill-parent-flow(2);
}

.mi-tick-label__container
{
	width:fill-parent-flow(3);
}

.mi-tick-label__container--large
{
	width:fill-parent-flow(4);
}

.mi-tick
{
	width: bar-width;
}

.AspectRatio4x3 .mi-tick
{
	width:bar-width-4x3;
}

.mi-tick-label
{
	text-align:center;
	horizontal-align:center;
	text-overflow:shrink;
}

.mi-tick-class-halftime-align Label
{
	margin-left: -16px;
}

.mi-tick-label--halftime
{
	width: regtime-width;
	horizontal-align: left;
}

.AspectRatio4x3 .mi-tick-label--halftime
{
	width: regtime-width-4x3;
}

.mi-tick-label__spacer
{
	width:fill-parent-flow(1);
	height:100%;
}

.mi-tick-label__spacer--double
{
	width:fill-parent-flow(2);
	height:100%;
}

.mi-round-summary-bar-win__container
{
	width:100%;
	height:fill-parent-flow(3);
}

.mi-round-summary-bar-loss__container
{
	width:100%;
	height:fill-parent-flow(1);
}

.mi-icons__eliminations--top
{
	height:fill-parent-flow(5.5);
	flow-children:up;
	width:100%;
}

.mi-icons__eliminations--bottom
{
	height:fill-parent-flow(1.5);
	width:100%;
	wash-color: rgb(99, 44, 38);
	flow-children:up;
}

.mi-icons__frame
{
	width:100%;
	height:18px;
}

.mi-icons__container
{
	height:bar-height;
	width:bar-width;
	horizontal-align:center;
	flow-children:down;
}

.AspectRatio4x3 .mi-icons__container
{
	width:bar-width-4x3;
}

.mi-icons__padding
{
	height:fill-parent-flow(1);
}

.mi-icons
{
	horizontal-align:center;
	width:100%;
	max-width:18px;
	height:width-percentage(100%);
}

.mi-icons--dim
{
	wash-color:rgb( 190, 190, 190 );
}

.mi-mvps-shrink-overflow
{
	text-overflow:clip;
}

.hide-mvps
{
	opacity:1;
}

.hide-mvps > .sb-row__cell--mvps__star
{
	opacity:0;
}

.hide-mvps > .sb-row__cell--mvps__count
{
	opacity:0;
}

.sb-row__cell--avatar--placeholder
{
	width:row-image-size;
	margin:2px;
}

.sb-row-height
{
	height: row-image-size;
}

.mi-sb-row--labels
{
	horizontal-align:left;
}

.mi-sb-meta
{
	width: 100%;
	height: fit-children;
	flow-children: right;
	margin-left:80px;
	margin-bottom:10px;
}

.mi-sb-menu
{
	width: 100%;
	height: 96px;
	padding: 0px 64px;
	vertical-align: bottom;
	border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.mi-sb-menu Label
{
	text-shadow: 0px 0px 0px #00000000;
}

.mi-horizontal-separator
{
	horizontal-align: center;
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.05);
	margin-left:20px;
	margin-right:20px;
}

.sb-tint--CT
{
	wash-color:color-CT;
}

.sb-tint--TERRORIST
{
	wash-color:color-T;
}

.sb-row__cell--name Label
{
	width:100%;
	text-align:left;
	margin-top:0px;
}

.sb-row__cell--name Label#name__label
{
	horizontal-align: left;
}

.matchinfo-scoreboard-header-empty-cell
{
	opacity: 0;
}

.matchinfo-scoreboard-header-stat-cell
{
	opacity: 0.3;
}

.round-selection-button
{
	brightness:1.0;
}

.round-selection-button:not(.no-hover):hover
{
	brightness:2;
}

.round-selection-button:not(.no-hover):hover .mi-round-summary-bar__border > .sb-tint--TERRORIST
{
	opacity:1;
	wash-color:white;
}

.round-selection-button:not(.no-hover):hover .sb-tint--TERRORIST
{
	opacity:1;
	brightness:2;
}

.round-selection-button:not(.no-hover):hover .sb-tint--CT
{
	opacity:1;
	brightness:2;
}

.round-selection-button:not(.no-hover):hover .mi-icons__eliminations--bottom
{
	brightness:2.0;
}

.round-selection-button:not(.no-hover):hover .mi-round-summary-bar-loss__fill
{
	brightness:4.0;
}

.round-selection-button:not(.no-hover):hover .mi-round-summary-bar--EMPTY
{
	wash-color:white;
	opacity:0.15;
}

.tournamentinfo-minimal-container
{
	flow-children: none;
	width: fit-children;
	height: fit-children;
	horizontal-align:center;
	vertical-align: top;
}

.tournamentinfo-minimal
{
	horizontal-align:center;
	vertical-align: top;
	flow-children: down;
	width: fit-children;
	height: fit-children;
}

.tournamentinfo-minimal--vs-label
{
	font-size: 36px;
}

.tournamentinfo-minimal--team
{
	flow-children: right;
	width: fit-children;
	height: fit-children;
	margin: 48px 64px 48px 64px;
}

.tournamentinfo-minimal--score-label
{
	font-size: 192px;
	font-weight: bold;
	font-family: Stratum2 Bold Monodigit, 'Arial Unicode MS';
}

.AspectRatio4x3 .tournamentinfo-minimal--score-label
{
	font-size: 128px;
}

.tournamentinfo-minimal--team-image
{
	width: 192px;
	height: 192px;
	margin: 0px 12px 0px 12px;
}

.AspectRatio4x3 .tournamentinfo-minimal--team-image
{
	width: 128px;
	height: 128px;
}

.matchinfo--minimal .hide-when-minimal-info
{
	visibility: collapse;
}

.tournamentinfo-minimal--mapinfo
{
	margin-top: 128px;
	width: 100%;
	height: width-percentage( 100% ) ;
	flow-children: none;
}

.tournamentinfo-minimal--map-image
{
	horizontal-align: center;
	opacity: 0.2;
	blur:gaussian( 2, 2, 1 );
}

.tournamentinfo-minimal--timeinfo
{
	flow-children: right;
	width: 100%;
	height: fit-children;
}

.tournamentinfo-minimal--tournament-logo
{
	margin-top: 12px;
	opacity: 0.4;
	blur:gaussian( 2, 2, 1 );
	horizontal-align:center;
}

.tournamentinfo-minimal--tournamentphase
{
	horizontal-align: left;
	font-size: 24px;
}

.tournamentinfo-minimal--matchphase
{
	horizontal-align: right;
	font-size: 24px;
}

