/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define row-image-size: 24px;
@define cell-background-dark: #ffffff05;
@define cell-background-darker: #ffffff05;
@define cell-background-light: #ffffff08;
@define cell-background-lighter: #FFFFFF10;
@define left-panel-width: 80px;
@define timeline-round-width: 20px;
#scoreboard
{
	width: 100%;
	height: 100%;
}

Label
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: normal;
	letter-spacing: 0px;
}

.sb-main
{
	width: fit-children;
	height: fit-children;
	min-width: 600px;
	padding-top: 20px;
	padding-left:20px;
	padding-right:20px;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	background-color: rgba(0, 0, 0, 0.88);
}

#id-sb-label-container
{
	flow-children: left;
	width: fit-children;
	horizontal-align: right;
}

#id-sb-players-table__labels-row--spacer
{
	width: left-panel-width;
}

.sb-footer-panel
{
	width: 100%;
	height: 48px;
}

.sb-spectator-control-panel
{
	flow-children: right;
	horizontal-align: left;
	vertical-align:bottom;
	margin-bottom: 10px;
	margin-left: -2px;
}

.sb-spectator-control-button
{
	margin: 1px;
	width: 24px;
	height: 24px;
	border-radius: 0px;
}

.sb-spectator-control-button Image
{
	margin: 4px;
	wash-color: #AAAAAADD;
	img-shadow:0px 0px 1px 2.0 #00000066;
}

.sb-spectator-control-button-notactive Image
{
	wash-color: #664444FF;
}

#id-sb-footer-server-website
{
	margin: 10px;
	horizontal-align: left;
	flow-children: right;
	padding-top: 4px;
	padding-bottom: 4px;
}

#id-sb-footer-server-website Label
{
	font-size: 16px;
	color: #ffffff;
	margin: 2px -1px 2px 10px;
	text-overflow: clip;
}

#id-sb-footer-server-website Image
{
	width: 20px;
	height: 20px;
	margin-right: 8px;
}

#id-sb-mouse-instructions
{
	font-size: 12px;
	margin: 10px;
	horizontal-align: right;
	color: #ffffff20;
}

.sb-team
{
	horizontal-align: left;
	flow-children: left;
}

.sb-team__info
{
	flow-children: down;
	width: left-panel-width;
}

.sb-team__info__name,.sb-team__info__number
{
	font-size: 12px;
	margin-top: 2px;
	horizontal-align: center;
	text-align: center;
	text-shadow:1px 1px 1px 1.0 #000000;
	max-width: 90px;
	overflow: squish noclip;
}

.sb-team__info__number
{
	opacity: 0.2;
}

.sb-team__info__score
{
	width: left-panel-width;
	height: width-percentage(100%);
	horizontal-align: center;
	vertical-align: center;
}

.sb-team-logo-bg
{
	background-img-opacity:0.2;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0% 0%;
}

.sb-team__info__score Label
{
	font-size: 70px;
	font-weight: bolder;
	text-align: center;
	vertical-align: center;
	horizontal-align: center;
	text-shadow:2px 2px 3px 3.0 #00000080;
}

.sb-team__data
{
	padding-left: 10px;
	horizontal-align: left;
}

.sb-meta
{
	width: 100%;
	height: 75px;
	vertical-align: top;
}

.sb-meta__labels
{
	flow-children: right;
	color: #CCC;
	text-shadow: none;
	font-size: 18px;
	horizontal-align: left;
	vertical-align: middle;
	position: 0px 10px 0px;
}

#sb-meta__labels__text
{
	flow-children: right;
	color: #CCC;
	text-shadow: none;
	font-size: 18px;
	horizontal-align: left;
	vertical-align: center;
	position: 0px 10px 0px;
	color: grey;
	font-weight: bold;
	font-family: Stratum2, 'Arial Unicode MS';
}

.bottom-divider
{
	border-bottom: 1px solid #80808030;
}

.meta-row
{
	padding-top: 4px;
	padding-bottom: 4px;
}

#id-sb-meta__mode__image
{
	width: 24px;
	height: 24px;
	vertical-align: top;
	margin: 0px 18px 0px 6px;
	opacity: 1;
	wash-color: grey;
}

#id-sb-meta__labels__mode-map
{
	font-size: 18px;
	horizontal-align: left;
	color: grey;
	position: 40px 0px 0px;
	font-weight: bold;
	font-family: Stratum2, 'Arial Unicode MS';
	text-overflow: shrink;
	max-width: 550px;
}

#id-sb-meta__labels__server
{
	font-size: 18px;
	horizontal-align: left;
	vertical-align: center;
	position: 0px 10px 0px;
	color: grey;
	font-weight: bold;
	font-family: Stratum2, 'Arial Unicode MS';
	text-overflow: ellipsis;
	max-width: 550px;
}

#id-sb-meta__labels__server-viewers
{
	font-size: 14px;
	horizontal-align: right;
	color: grey;
	font-weight: normal;
	font-family: Stratum2, 'Arial Unicode MS';
}

#id-sb-meta__button-panel
{
	flow-children: left;
	horizontal-align:right;
	margin-top: 10px;
}

.mutebuttonon Label,.mutebuttonon Image
{
	color: red;
}

.sb-meta__button-panel__btn Label
{
	text-align: center;
	font-size: 14px;
	vertical-align: center;
	horizontal-align: center;
	text-overflow: ellipsis;
}

.sb-meta__button-panel__btn Image
{
	width: 20px;
	height: 20px;
}

.sb-meta__button-panel__group
{
	flow-children: right;
	margin-left: 10px;
	height: 26px;
	horizontal-align:right;
}

.sb-meta__button-panel__btn
{
	padding: 3px;
	background-color: #80808080;
	wash-color: #cccccc;
}

.sb-meta__button-panel__btn:hover,Button.sb-row__cell:hover
{
	brightness: 2.0;
}

.sb-meta__button-panel__btn--active
{
	background-color: rgba( 250,250,250,0.2);
}

.RadioBox
{
	opacity: 0;
	width: 0px;
	height: 0px;
}

#id-sb-meta__musickit
{
	flow-children: right;
	horizontal-align: left;
}

#id-sb-meta__musickit Label
{
	font-size: 14px;
	vertical-align: center;
	color: grey;
}

#id-sb-meta__musickit-image
{
	width: 28px;
	height: 28px;
	margin-right: 5px;
}

#id-sb-meta__musickit-unborrow
{
	color: white;
	width: 20px;
	height: 20px;
}

.time_container
{
	horizontal-align: right;
	flow-children: left;
	width:fit-children;
}

.time_container__time
{
	font-size: 18px;
	font-weight: bold;
	font-family: Stratum2 Bold Monodigit, 'Arial Unicode MS';
	color: grey;
	horizontal-align: center;
	vertical-align: bottom;
	text-align: center;
	letter-spacing: 0.2px;
	max-width: 100px;
	margin-left: 10px;
	text-overflow: shrink;
}

#id-gametime__desc
{
	font-size: 18px;
	color: grey;
	font-weight: bold;
	vertical-align: bottom;
	max-width: 150px;
	text-overflow: shrink;
}

.sb-scorebox
{
	height: 50px;
}

.sb-players-table
{
	width: fit-children;
	height: fit-children;
	overflow:clip scroll;
	flow-children: down;
	horizontal-align: center;
}

.sb-players-table.with-empty-rows
{
	padding-top: 30px;
}

#players-table-CT,#players-table-TERRORIST,#players-table-ANY
{
	min-height: 120px;
}

.cooperative #players-table-ANY
{
	min-height: 48px;
}

#players-table-CT,#players-table-TERRORIST
{
	max-height: 270px;
}

#players-table-ANY
{
	max-height: 540px;
}

#players-table-Spectator
{
	margin-bottom: 20px;
	max-height: 108px;
}

#id-sb-team--Spectator
{
	padding-top: 20px;
}

#id-sb-team__localplayer
{
	width: fit-children;
	min-height: 20px;
	height: fit-children;
	margin-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	horizontal-align: center;
}

.sb-row-stub
{
	margin: 2px;
	height: 35px;
}

.sb-row
{
	width: fit-children;
	flow-children: right;
	horizontal-align: left;
	margin-top: 1px;
	margin-bottom: 1px;
}

#id-player-
{
	visibility: collapse;
}

.sb-row.muted .sb-row__cell
{
	wash-color: #ff0000a0;
}

.sb-row.survival
{
	flow-children: none;
}

.sb-row__set
{
	opacity: 1;
	width: 235px;
	flow-children: right;
}

#sb-row-stats-container
{
	width: fit-children;
	flow-children: right;
}

.sb-row:not(.no-hover):hover,.sb-row__set:not(.no-hover):hover
{
	background-color: rgba(200,200,200,0.05);
	sound: "generic_button_rollover";
}

.sb-row--localplayer.sb-row.sb-team--TERRORIST
{
	background-color: rgba(255, 238, 0, 0.07);
}

.sb-row--localplayer.sb-row.sb-team--CT
{
	background-color: rgba(0, 166, 255, 0.07);
}

.sb-row__cell
{
	height: row-image-size;
	vertical-align: middle;
	width: 40px;
	background-color: cell-background-light;
}

.sb-row__cell Label
{
	font-size: 18px;
	margin-right: 6px;
	margin-left: 6px;
	horizontal-align: center;
	text-align: center;
	vertical-align:center;
	text-shadow: none;
	font-family: Stratum2 Regular Monodigit, 'Arial Unicode MS';
}

.sb-row__cell.sortstat
{
	background-color: cell-background-lighter;
}

.sb-team--CT Label.sb-team-tint,.sb-team--CT .sb-team-tint Label,.sb-team-tint Label.sb-team--CT,.sb-team-tint .sb-team--CT Label
{
	color: color-CT;
}

.sb-team--CT Image.sb-team-tint,.sb-team--CT .sb-team-tint Image,.sb-team-tint Image.sb-team--CT,.sb-team-tint .sb-team--CT Image
{
	wash-color: color-CT;
}

.sb-team-tint Label.sb-team--TERRORIST,.sb-team--TERRORIST Label.sb-team-tint,.sb-team-tint .sb-team--TERRORIST Label,.sb-team--TERRORIST .sb-team-tint Label
{
	color: color-T;
}

.sb-team-tint Image.sb-team--TERRORIST,.sb-team--TERRORIST Image.sb-team-tint,.sb-team-tint .sb-team--TERRORIST Image,.sb-team--TERRORIST .sb-team-tint Image
{
	wash-color: color-T;
}

.sb-row__cell--status,.sb-row__cell--ping,.sb-row__cell--rank,.sb-row__cell--avatar,.sb-row__cell--name,.sb-row__cell--flair,.sb-row__cell--kills,.sb-row__cell--deaths,.sb-row__cell--kdr,.sb-row__cell--utilitydamage,.sb-row__cell--score
{
	background-color: cell-background-dark;
}

.sb-row__cell--score
{
	background-color: cell-background-dark;
}

.sb-row__cell--ping
{
	width:37px;
}

.sb-row__cell--ping Label
{
	width:37px;
	color: #888;
	font-size: 14px;
	vertical-align:center;
}

.sb-row__cell--lifetime
{
	visibility: collapse;
}

#id-sb-row__lifetime
{
	horizontal-align: left;
	background-color: white;
	height: 80%;
	width: 100%;
	opacity: 0.5;
}

#id-sb-row__lifetime__death
{
	horizontal-align: right;
	height:24px;
	width: 24px;
}

Label.sb-row__cell--ping__label--bot
{
	font-size: 12px;
	height: 12px;
}

.sb-row__cell--status
{
	width: height-percentage(100%);
	padding: 2px;
}

.sb-row__cell--flair
{
	width: height-percentage(135%);
}

.sb-row__cell--flair Image
{
	padding: 1px;
}

.sb-row__cell--avatar
{
	width: height-percentage(100%);
	padding: 2px;
}

.sb-row__cell--avatar CSGOAvatarImage
{
	background-size:cover;
}

.sb-row__cell--avatar--CT
{
	background-image: url("s2r://panorama/images/icons/scoreboard/avatar-ct_png.vtex");
}

.sb-row__cell--avatar--TERRORIST
{
	background-image: url("s2r://panorama/images/icons/scoreboard/avatar-terrorist_png.vtex");
}

.sb-row__cell--avatar__playercolor
{
	width: 100%;
	height: 100%;
	border: 1px solid;
}

.sb-row__cell--avatar__muted
{
	visibility: collapse;
	width: 80%;
	height: 80%;
	vertical-align: center;
	horizontal-align: center;
	opacity: 1;
	background-color: #808080f0;
}

.muted .sb-row__cell--avatar__muted
{
	visibility: visible;
}

.sb-row__cell--name
{
	width: 400px;
	flow-children: left;
}

.sb-clantag
{
	font-weight: bold;
}

.sb-row__cell--name Label
{
	font-family: Stratum2, 'Arial Unicode MS';
	width: 100%;
	text-align: left;
	text-overflow: ellipsis;
	max-height: 24px;
	width: fill-parent-flow( 1.0 );
	margin-top: 2px;
}

#id-sb-name__nameicons
{
	width: fit-children;
	height: 100%;
	horizontal-align: right;
	flow-children: left;
}

#id-sb-name__nameicons Image
{
	width: 22px;
	height: 22px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 1px;
	vertical-align: center;
}

#id-sb-name__nameicons #id-sb-skillgroup-image
{
	width: 55px;
}

.sb-row__cell--rank
{
	width: height-percentage(100%);
}

.sb-row__cell--money
{
	width: 70px;
}

#id-sb-row__cell--money__label
{
	text-align: right;
	width: 100%;
}

.sb-row__cell--mvps
{
	vertical-align: top;
	width: 45px;
}

.sb-row__cell--mvps__star
{
	width: 16px;
	height: 16px;
	vertical-align:middle;
	horizontal-align: center;
}

Label.sb-row__cell--mvps__count
{
	text-align: center;
	font-size: 10px;
	vertical-align: top;
	horizontal-align: center;
	margin-left:0px;
	margin-right:0px;
	transform: translatex( 8px );
}

.sb-row__cell--score
{
	width: 52px;
}

.sb-row__cell--hsp
{
	width: 45px;
}

.sb-row__cell--kdr
{
	width: 55px;
}

.sb-row__cell--adr
{
	width: 50px;
}

.sb-row__cell--utilitydamage
{
	width: 45px;
}

.sb-row--labels
{
	flow-children: right;
	padding-left: 10px;
}

.sb-row--labels .sb-row__set
{
	padding-left: 0px;
}

.sb-row--labels .sb-row__cell--label Label
{
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	font-size: 14px;
	margin-top:5px;
	text-overflow: shrink;
}

.sb-color--CT,.sb-color--CT Label
{
	color: color-CT;
}

.sb-color--TERRORIST,.sb-color--TERRORIST Label
{
	color: color-T;
}

.sb-color--Spectator,.sb-color--Spectator Label
{
	color: #ffffff;
}

.sb-tint--Spectator Label
{
	wash-color: #ffffff00;
}

:not(.eom-scoreboard) .sb-player-status-dead
{
	opacity: 0.5;
	wash-color: #999;
}

:not(.eom-scoreboard) .sb-player-status-dead .sb-row__cell,:not(.eom-scoreboard) .sb-row__cell--label
{
	background-color: #00000000;
}

.sb-team--Spectator
{
	opacity: 0.8;
	margin-left:0px;
}

.sb-team--Spectator .sb-row__cell
{
	background-color: #00000000;
}

@keyframes 'anim-pulse'
{
	0%
	{
		brightness: 1;
	}
	
	5%
	{
		brightness: 3;
	}
	
	100%
	{
		brightness: 1;
	}
	
}

.sb-pulse-highlight
{
	brightness: 1;
	animation-name: anim-pulse;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

.sb-pulse-green
{
	wash-color: #00ff00ff;
}

.sb-pulse-red
{
	wash-color: #ff0000ff;
}

.sb-player-pulse-death
{
	wash-color: #ff0000ff;
	brightness: 10;
}

.sb-score
{
	font-size: 50px;
	font-weight: bolder;
	width: 40px;
	padding: 2px;
	text-align: right;
	vertical-align: center;
}

.sb-timeline
{
	width: 100%;
	height: fit-children;
	flow-children: right;
	horizontal-align: left;
	margin-top: 2px;
	margin-bottom: 2px;
	min-height: 20px;
}

.sb-timeline__bumper
{
	width: left-panel-width;
}

.sb-team-spacer
{
	height:20px;
}

.sb-timeline__team-names
{
	width: left-panel-width;
	height: 100%;
	horizontal-align: center;
	visibility: collapse;
}

.sb-timeline__team-names Label
{
	horizontal-align: center;
}

.sb-timeline__segments
{
	width: fit-children;
	min-width: 1px;
	height: fit-children;
	min-height: 100px;
	flow-children: right;
	horizontal-align: center;
	padding-left: 10px;
}

.sb-timeline__segment,.sb-timeline__round-container
{
	width: fit-children;
	flow-children: right;
	vertical-align: center;
}

.sb-timeline__divider
{
	width: 2px;
	height: 50%;
	background-color: gray;
	opacity: 0.1;
	vertical-align:center;
	margin-left: 10px;
	margin-right: 10px;
}

.sb-timeline__half-time-scores
{
	horizontal-align: center;
	vertical-align: center;
	flow-children:right;
	width: left-panel-width;
}

.sb-timeline__round-loss-bonus-money
{
	horizontal-align: center;
	vertical-align: center;
	flow-children:right;
	width: 68px;
}

.sb-timeline__round-loss-bonus-money .sb-timeline__score .sb-team--CT,.sb-timeline__round-loss-bonus-money .sb-timeline__score .sb-team--TERRORIST
{
	flow-children: right;
}

.sb-timeline__round-loss-bonus-money .sb-timeline__score .sb-team--CT
{
	padding-top: 10px;
	padding-bottom: 2px;
}

.sb-timeline__round-loss-bonus-money .sb-timeline__score .sb-team--TERRORIST
{
	padding-top: 2px;
	padding-bottom: 10px;
}

.sb-timeline__round-loss-bonus-money .sb-timeline__score .sb-team--CT Image,.sb-timeline__round-loss-bonus-money .sb-timeline__score .sb-team--TERRORIST Image
{
	width: 14px;
	height: 2px;
	margin-right: 1px;
}

.sb-timeline__segment_ot_spacer
{
	width: 100px;
}

.sb-timeline__segment__round
{
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	vertical-align: center;
	tooltip-position: left;
	tooltip-body-position:0% 50%;
}

.sb-timeline__segment__round__symbols
{
	horizontal-align: center;
	flow-children: down;
}

.sb-timeline__segment__round Image
{
	img-shadow:1px 1px 1px 1.0 #0000003b;
}

.sb-timeline__segment__round__tick
{
	horizontal-align: center;
	vertical-align: center;
	opacity: 0.2;
	width: 100%;
	background-color: #ffffff40;
	width: 90%;
	height: 2px;
	vertical-align: center;
	horizontal-align: center;
}

.sb-timeline__segment__round__tick__label
{
	horizontal-align: center;
	vertical-align: center;
	font-size: 13px;
	text-align: center;
	opacity: 0.6;
	margin-top: 4px;
	text-shadow:1px 1px 1px 1.0 #000000;
}

.sb-timeline__score
{
	flow-children: down;
	horizontal-align: center;
	width: fill-parent-flow( 1.0 );
	height: fit-children;
	vertical-align: center;
}

.sb-timeline__phase-label
{
	font-size: 12px;
	horizontal-align: center;
	vertical-align: middle;
	margin-top: 4px;
	margin-bottom: 4px;
}

.sb-timeline__round-label
{
	horizontal-align: center;
	text-align: center;
	font-size: 70px;
	letter-spacing: 2px;
	opacity: 0.03;
	font-family: Stratum2 Bold Monodigit, 'Arial Unicode MS';
	color: gray;
}

.sb-timeline__score__label
{
	font-size: 24px;
	height: 24px;
	width: 24px;
	text-align: center;
	horizontal-align: center;
	text-shadow:1px 1px 1px 1.0 #000000;
}

.sb-timeline__segment__round__team
{
	horizontal-align: center;
	min-height: 49px;
}

.sb-timeline__segment__round__result
{
	width: timeline-round-width;
	height: 20px;
	opacity: 0.4;
	padding-left: 3px;
	padding-right: 3px;
	margin-top: 2px;
	margin-bottom: 2px;
	horizontal-align: center;
}

.sb-timeline__segment__round__divider
{
	width: 100%;
}

.sb-team-tint Image.dead-casualty
{
	wash-color: gray;
	opacity: 0.3;
}

.sb-timeline__segment__round__casualties
{
	opacity:0.3;
	horizontal-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
}

.sb-timeline__segment__round__casualties--number
{
	width: timeline-round-width;
	height: width-percentage(120%);
	opacity:0.3;
}

.sb-timeline__segment__round__casualties--number Label
{
	font-size: 16px;
	horizontal-align: center;
	vertical-align: center;
}

.sb-timeline__segment__round__casualties Image
{
	width: 18px;
	height: 2px;
	margin: 1px;
	horizontal-align: center;
}

.sb-timeline__segment__round__team--top,.sb-timeline__segment__round__team--top .sb-timeline__segment__round__casualties
{
	vertical-align: bottom;
	flow-children: up;
	horizontal-align: center;
}

.sb-timeline__segment__round__team--bot,.sb-timeline__segment__round__team--bot .sb-timeline__segment__round__casualties
{
	vertical-align: top;
	flow-children: down;
	horizontal-align: center;
}

.sb-timeline__segment__round--active
{
	opacity:0.6;
}

.sb-timeline__segment__round--clinch
{
	background-color: gray;
	opacity:0.2;
}

.clinch-label
{
	font-size: 12px;
	text-align: center;
	horizontal-align: center;
	width: 100%;
	color: gray;
}

.past-clinch
{
	opacity: 0.1;
}

.sb-timeline__segment__round__team--top .clinch-label
{
	vertical-align: bottom;
}

.sb-timeline__segment__round__team--bot .clinch-label
{
	vertical-align: top;
}

.sb-timeline__segment__round__team--top .sb-timeline__segment__round--active
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #ffffff22 ), to( #ffffff00 ) );
	padding-bottom: 4px;
}

.sb-timeline__segment__round__team--bot .sb-timeline__segment__round--active
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff22 ), to( #ffffff00 ) );
	padding-top: 4px;
}

.sb-timeline__segment__round--active .sb-timeline__segment__round__tick
{
	opacity:1.0;
}

.sb-team-tint .sb-timeline__segment__round__tick.sb-team--CT
{
	wash-color: color-CT;
}

.sb-team-tint .sb-timeline__segment__round__tick.sb-team--TERRORIST
{
	wash-color: color-T;
}

.visible
{
	visibility: visible;
}

.hidden
{
	visibility: collapse;
}

.sb-team--Spectator .spectator-hidden Image,.sb-team--Spectator .spectator-hidden Label
{
	opacity: 0;
}

.fade
{
	opacity: 0;
}

.transparent
{
	opacity: 0;
}

.center
{
	horizontal-align: center;
}

.hilite
{
	brightness: 2.0;
	opacity: 1.0;
}

.sb-tournament-match .sb-row__cell--rank,.sb-tournament-match #id-sb-skillgroup-image
{
	visibility: collapse;
}

.sb-timeline__round-loss-bonus-money .sb-team--CT .sb-timeline__round-loss-bonus-money__CT1,.sb-timeline__round-loss-bonus-money .sb-team--CT .sb-timeline__round-loss-bonus-money__CT2,.sb-timeline__round-loss-bonus-money .sb-team--CT .sb-timeline__round-loss-bonus-money__CT3,.sb-timeline__round-loss-bonus-money .sb-team--CT .sb-timeline__round-loss-bonus-money__CT4,.sb-timeline__round-loss-bonus-money .sb-team--TERRORIST .sb-timeline__round-loss-bonus-money__TERRORIST1,.sb-timeline__round-loss-bonus-money .sb-team--TERRORIST .sb-timeline__round-loss-bonus-money__TERRORIST2,.sb-timeline__round-loss-bonus-money .sb-team--TERRORIST .sb-timeline__round-loss-bonus-money__TERRORIST3,.sb-timeline__round-loss-bonus-money .sb-team--TERRORIST .sb-timeline__round-loss-bonus-money__TERRORIST4
{
	wash-color: #444444FF;
}

.sb-timeline__round-loss-bonus-money.sb-timeline__round-loss-bonus-money__CT1 .sb-team--CT .sb-timeline__round-loss-bonus-money__CT1,.sb-timeline__round-loss-bonus-money.sb-timeline__round-loss-bonus-money__CT2 .sb-team--CT .sb-timeline__round-loss-bonus-money__CT1,.sb-timeline__round-loss-bonus-money.sb-timeline__round-loss-bonus-money__CT3 .sb-team--CT .sb-timeline__round-loss-bonus-money__CT1,.sb-timeline__round-loss-bonus-money.sb-timeline__round-loss-bonus-money__CT4 .sb-team--CT .sb-timeline__round-loss-bonus-money__CT1,.sb-timeline__round-loss-bonus-money.sb-timeline__round-loss-bonus-money__CT2 .sb-team--CT .sb-timeline__round-loss-bonus-money__CT2,.sb-timeline__round-loss-bonus-money.sb-timeline__round-loss-bonus-money__CT3 .sb-team--CT .sb-timeline__round-loss-bonus-money__CT2,.sb-timeline__round-loss-bonus-money.sb-timeline__round-loss-bonus-money__CT4 .sb-team--CT .sb-timeline__round-loss-bonus-money__CT2,.sb-timeline__round-loss-bonus-money.sb-timeline__round-loss-bonus-money__CT3 .sb-team--CT .sb-timeline__round-loss-bonus-money__CT3,.sb-timeline__round-loss-bonus-money.sb-timeline__round-loss-bonus-money__CT4 .sb-team--CT .sb-timeline__round-loss-bonus-money__CT3,.sb-timeline__round-loss-bonus-money.sb-timeline__round-loss-bonus-money__CT4 .sb-team--CT .sb-timeline__round-loss-bonus-money__CT4
{
	wash-color: color-CT;
}

.sb-timeline__round-loss-bonus-money.sb-timeline__round-loss-bonus-money__TERRORIST1 .sb-team--TERRORIST .sb-timeline__round-loss-bonus-money__TERRORIST1,.sb-timeline__round-loss-bonus-money.sb-timeline__round-loss-bonus-money__TERRORIST2 .sb-team--TERRORIST .sb-timeline__round-loss-bonus-money__TERRORIST1,.sb-timeline__round-loss-bonus-money.sb-timeline__round-loss-bonus-money__TERRORIST3 .sb-team--TERRORIST .sb-timeline__round-loss-bonus-money__TERRORIST1,.sb-timeline__round-loss-bonus-money.sb-timeline__round-loss-bonus-money__TERRORIST4 .sb-team--TERRORIST .sb-timeline__round-loss-bonus-money__TERRORIST1,.sb-timeline__round-loss-bonus-money.sb-timeline__round-loss-bonus-money__TERRORIST2 .sb-team--TERRORIST .sb-timeline__round-loss-bonus-money__TERRORIST2,.sb-timeline__round-loss-bonus-money.sb-timeline__round-loss-bonus-money__TERRORIST3 .sb-team--TERRORIST .sb-timeline__round-loss-bonus-money__TERRORIST2,.sb-timeline__round-loss-bonus-money.sb-timeline__round-loss-bonus-money__TERRORIST4 .sb-team--TERRORIST .sb-timeline__round-loss-bonus-money__TERRORIST2,.sb-timeline__round-loss-bonus-money.sb-timeline__round-loss-bonus-money__TERRORIST3 .sb-team--TERRORIST .sb-timeline__round-loss-bonus-money__TERRORIST3,.sb-timeline__round-loss-bonus-money.sb-timeline__round-loss-bonus-money__TERRORIST4 .sb-team--TERRORIST .sb-timeline__round-loss-bonus-money__TERRORIST3,.sb-timeline__round-loss-bonus-money.sb-timeline__round-loss-bonus-money__TERRORIST4 .sb-team--TERRORIST .sb-timeline__round-loss-bonus-money__TERRORIST4
{
	wash-color: color-T;
}

.eom-scoreboard .sb-main
{
	vertical-align: top;
	horizontal-align: center;
	border: 0;
	background-color: #00000000;
	position: 0px 0px 0px;
}

.eom-scoreboard #id-sb-mouse-instructions,.eom-scoreboard #id-sb-meta__musickit,.eom-scoreboard .sb-row__cell--money Label,.eom-scoreboard .sb-team__info__number,.eom-scoreboard .sb-team--Spectator,.eom-scoreboard #id-sb-footer-server-website,.eom-scoreboard #id-sb-meta__blockugc,.eom-scoreboard #id-sb-meta__mutevoice
{
	visibility: collapse;
}

.eom-scoreboard .sb-timeline__segment__round--clinch,.eom-scoreboard .clinch-label
{
	opacity: 0;
}

.eom-scoreboard .sb-row__cell--money:not(.sb-row__cell--label)
{
	background-color: cell-background-dark;
}

.eom-scoreboard .sb-meta
{
	height: fit-children;
	margin-bottom: 0px;
}

.eom-scoreboard .sb-team,.eom-scoreboard .sb-timeline,.eom-scoreboard #id-sb-label-container
{
	horizontal-align: center;
}

.eom-scoreboard .sb-timeline
{
	margin-top: 5px;
	margin-bottom: 5px;
}

.eom-scoreboard #id-sb-meta__button-panel
{
	visibility: visible;
}

.sb-coop-mission-info
{
	flow-children: down;
	width: 100%;
	height: fit-children;
	margin: 12px;
}

.coop-mission-instructions
{
	visibility: collapse;
	horizontal-align: center;
}

.show-mission-desc .coop-mission-instructions
{
	visibility: visible;
}

.coop-mission-stats
{
	visibility: collapse;
}

.show-mission-stats .coop-mission-stats
{
	visibility: visible;
}

.stats-header-previous
{
	width: 100%;
	visibility: visible;
}

.coop-finalscore .stats-header-previous
{
	visibility: collapse;
}

.stats-header-endgame
{
	width: 100%;
	visibility: collapse;
}

.coop-finalscore .stats-header-endgame
{
	visibility: visible;
}

.coop-mission-stats
{
	width: 100%;
	height: fit-children;
	flow-children: down;
}

.coop-mission-stats-left
{
	width: 60%;
	height: fit-children;
	flow-children: down;
	horizontal-align: left;
	margin-right: 12px;
}

.coop-mission-stats-right
{
	width: 40%;
	height: fit-children;
	flow-children: down;
	horizontal-align: right;
}

.sb-coop-stats__row
{
	width: 100%;
	height: 24px;
	flow-children: right;
}

.sb-coop-stat-name
{
	horizontal-align: left;
	width: 60%;
}

.sb-coop-stat-value
{
	text-align: right;
	padding-right: 20px;
	width: 20%;
}

.sb-coop-stats__total .sb-coop-stat-score,.sb-coop-stats__total .sb-coop-stat-name
{
	font-weight: bold;
	text-transform: uppercase;
	width: 50%;
}

.sb-coop-stat-score
{
	width: 20%;
	text-align: right;
	padding-right: 8px;
}

.evenrow
{
	background-color: rgba(48, 48, 48, 0.5);
}

.oddrow
{
	background-color: rgba(1, 49, 65, 0.5);
}

Panel,Label,CSGOAvatarImage
{
	transition-property: background-color, color;
	transition-duration: 0s;
	transition-timing-function: ease-in-out;
}

