/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

CSGOHud .matchmaking-status-container
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from(#00000000), color-stop(0.5, rgba(0, 0, 0, 0.5)), color-stop(0.6, rgba(0, 0, 0, 0.5)), color-stop(0.9, rgba(0, 0, 0, 0.35) ), to(rgba(0, 0, 0, 0.0)));
	width: 384px;
}

.matchmaking-status-wait
{
	min-height: 64px;
	margin-left: 24px;
}

.matchmaking-status-left
{
	width: 64px;
	height: 64px;
}

.matchmaking-status-time
{
	color: white;
	font-size: 16px;
	text-align: center;
	horizontal-align: center;
	width: 64px;
}

.matchmaking-status-header
{
	font-size: 16px;
	font-weight: medium;
	text-transform: none;
	color: white;
	vertical-align: center;
	min-width: 50px;
	max-width: 256px;
	font-family: Stratum2, 'Arial Unicode MS';
}

.matchmaking-status-container.hidden,.matchmaking-status-wait.hidden,.matchmaking-status-searching.hidden,.matchmaking-status-warning.hidden,.matchmaking-status-fail-icon.hidden,.matchmaking-status-time.hidden
{
	opacity: 0;
	transform: scaleY(0);
	visibility: collapse;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

