/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.MatchTile
{
	width: 340px;
	height:110px;
	flow-children: right;
	vertical-align: center;
	text-align: center;
	opacity: 1;
	visibility:visible;
}

.MatchTile.MatchTile--GOTV
{
	height: 50px;
}

.MatchTile.MatchTile--Tournament
{
	height: 130px;
}

.MatchTile.MatchTile--Redeem
{
	ui-scale: 150%;
}

.MatchTile--Collapse
{
	height: 0px;
	transition-duration:.25s;
	opacity: 0;
	transition-property: height, opacity;
	visibility:collapse;
}

.MatchMap
{
	width: 80px;
	height: fit-children;
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	margin-left: 32px;
}

.MatchMap__Icon
{
	max-width: 80px;
	max-height: 80px;
	horizontal-align: center;
	vertical-align: bottom;
}

.MatchMap__IconInScoreLister
{
	horizontal-align: right;
	vertical-align: center;
	margin-left: 2px;
	margin-right: 10px;
}

.MatchTile.MatchTile--Tournament .MatchMap__Icon
{
	max-width: 50px;
	max-height: 50px;
}

.TeamIcon
{
	width: 38px;
	height: 38px;
	horizontal-align: center;
	vertical-align: center;
	padding:4px;
	img-shadow: 2px 2px 2px #000000;
}

.matchinfo-tournament-scores-container
{
	margin-top: 5px;
}

.MatchTile--Spacing
{
	margin-left: 32px;
	vertical-align:center;
}

.MatchInfoContainer
{
	width: fit-children;
	height: fit-children;
	flow-children: down;
	vertical-align: center;
	margin-left:16px;
}

.MatchInfo
{
	font-size: 13;
	font-weight: light;
	text-align: left;
	vertical-align: center;
	color: #CCCCCC;
}

.MatchTile--Redeem .MatchInfo
{
	margin-left: 8px;
}

.MatchInfo__Stats
{
	width: 172px;
	height: fit-children;
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: left;
}

.MatchInfo__MapName
{
	font-size: 12px;
	margin-left: 0px;
	width:120px;
	height:20px;
	text-overflow: ellipsis;
	vertical-align: top;
	text-align: center;
}

.MatchInfo__MapName--LiveTile
{
	font-size: 12px;
	margin-left: 0px;
	width:120px;
	height:20px;
	text-overflow: ellipsis;
	vertical-align: top;
	text-align: center;
}

.MatchInfo__Score
{
	font-family: stratum2, 'Arial Unicode MS';
	font-size: 29px;
	font-weight: bold;
	text-align: left;
	opacity: 1;
}

.MatchInfo__Tournament__StageLabel,.MatchInfo__Tournament__TeamsLogosAndScore
{
	vertical-align: middle;
}

.MatchInfo__Tournament__SmallContainer
{
	margin-top: 5px;
	width:fill-parent-flow(1);
	margin-right: 28px;
}

.MatchInfo--Hide
{
	opacity: 0;
	width: 0px;
	height: 0px;
}

.MiniTrophy Image
{
	wash-color: #f1c459;
	width: 15px;
	height: 15px;
	vertical-align:center;
}

.MiniIcon
{
	margin:12px;
	width: 18px;
	height: 18px;
}

.TileButton.PopupButton
{
	margin: 2px;
	margin-bottom: 8px;
	vertical-align:bottom;
	horizontal-align:right;
	tooltip-position: bottom;
	tooltip-body-position: 50% 100%;
}

.TileButton.PopupButton Image
{
	width: 15px;
	height: 15px;
	margin: 6px;
	transition-duration:.25s;
	transition-property: wash-color;
	transition-timing-function: ease-in-out;
}

.TileButton__ParentActive.PopupButton Image
{
	wash-color:white;
	transition-duration:.25s;
	transition-property: wash-color;
	transition-timing-function: ease-in-out;
}

.TileButton__Spinner.Spinner
{
	width: 15px;
	height: 15px;
	margin: 6px;
}

.GOTV-Icon
{
	wash-color: baseText;
	horizontal-align:center;
	padding-right: 20px;
	vertical-align:center;
	transition-duration:.25s;
	transition-property: wash-color;
	transition-timing-function: ease-in-out;
}

.GOTV-Icon--ParentActive
{
	wash-color: white;
}

.match-tile-menu__container
{
	flow-children:down;
	width:fit-children;
	height:100%;
	margin: 4px 0px 0px 0px;
	horizontal-align:right;
}

.tint--CT
{
	wash-color:color-CT;
}

.tint--TERRORIST
{
	wash-color:color-T;
}

.matchscorecontainer,.matchinfoviewers
{
	vertical-align: middle;
	horizontal-align: center;
}

.matchinfoviewers--TournamentTile
{
	vertical-align: middle;
	horizontal-align: left;
}

.skillgroup
{
	margin: 0px 8px 5px 16px;
	width: 80px;
	img-shadow: 2px 2px 2px #000000;
	vertical-align: middle;
	horizontal-align: center;
}

.download-animation
{
	opacity-mask: url("s2r://panorama/images/icons/ui/downloaded.vsvg");
	animation-name: Download;
	animation-duration: 1.25s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'Download'
{
	0%
	{
		background-color: gradient(linear, 0% 0%, 0% 100%, from(#aaaaaaff), color-stop(0, #aaaaaaff), color-stop(0, baseText), color-stop( 0.167, baseText), color-stop( 0.167, #aaaaaaff), to(#aaaaaaff) );
	}
	
	100%
	{
		background-color: gradient(linear, 0% 0%, 0% 100%, from(#aaaaaaff), color-stop(0.833, #aaaaaaff), color-stop(0.833, baseText), color-stop( 1, baseText), color-stop( 1, #aaaaaaff), to(#aaaaaaff) );
	}
	
}

.downloaded
{
	opacity-mask: url("s2r://panorama/images/icons/ui/check.vsvg");
	background-color:positiveColor;
}

.watchlive
{
	opacity-mask: url("s2r://panorama/images/icons/ui/map_onmap.vsvg");
	background-color:#ee0000;
	width: 12px;
	height: 12px;
}

