/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.match-status-reconnect
{
	width: fit-children;
	visibility: visible;
	flow-children: right;
	margin-right: 96px;
	horizontal-align: right;
	height: 96px;
	z-index: 5;
	transition-property: opacity, transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
	transform: translateX( -256px );
}

.match-status-reconnect.sidebar-collapsed
{
	transform: translateX( 0 );
}

.MainMenuRootPanel--PauseMenuMode .match-status-reconnect
{
	opacity: 0;
	visibility: collapse;
}

.match-status-ongoingmatch-container
{
	vertical-align: center;
	height: 100%;
	width: fit-children;
	brightness: 1;
	padding: 8px 8px 8px 8px;
	flow-children: down;
	background-color: rgba(0,0,0,0.5);
	transition-property: opacity, transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
	transform: translateY( -100% );
}

.show-actions .match-status-ongoingmatch-container,.show-cancel .match-status-ongoingmatch-container
{
	opacity: 1;
	transform: translateY( 0 );
}

.match-status-ongoingmatch-message
{
	vertical-align: top;
}

.match-status-ongoingmatch--subtitle
{
	text-overflow: noclip;
	font-size: 18px;
	font-family: stratum2Font;
	color: white;
	max-width: 420px;
	height: 22px;
	font-weight: medium;
	text-overflow: ellipsis;
}

.match-status-ongoingmatch-actions
{
	transition-property: opacity, transform;
	transition-duration: 0.4s;
	opacity: 0;
	transform: translateX( -10px );
}

.show-actions .match-status-ongoingmatch-actions
{
	opacity: 1;
	transform: translateX( 0 );
}

.match-status-ongoingmatch-reconnect
{
	box-shadow: shadowOffset;
}

.match-status-ongoingmatch-cancel
{
	transition-property: opacity, transform;
	transition-duration: 0.4s;
	opacity: 0;
	transform: translateX( 10px );
}

.show-cancel .match-status-ongoingmatch-cancel
{
	opacity: 1;
	transform: translateX( 0 );
}

