/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.matchstakes-container
{
	width: 500px;
	height: 100px;
	flow-children:down;
	visibility: collapse;
	horizontal-align: left;
	vertical-align: top;
	margin-top: 10px;
}

.matchstakes-container .matchstakes-container-top
{
	width: 400px;
	height: fit-children;
	horizontal-align: center;
}

.endofmatch .matchstakes-container
{
	opacity: 0;
}

.matchstakes-background
{
	width: 100%;
	height: 34px;
	y: 3px;
}

.matchstakes-foreground
{
	width: 100%;
	height: 40px;
}

.matchstakes-pfx
{
	width: 100%;
	height: 34px;
	margin-top: 3px;
	-s2-mix-blend-mode: screen;
	transition-property: opacity;
	transition-duration: 2s;
}

.no-rating .matchstakes-container-top .matchstakes-background
{
	visibility: collapse;
}

.matchstakes-background
{
	flow-children: right;
}

.matchstakes-background Panel
{
	background-size: 30px auto;
}

.matchstakes-background .left-end
{
	width: 8px;
	height: 100%;
	world-blur: hudWorldBlur;
	background-color: rgba(75, 75, 75, 0.5);
	opacity-mask: url("s2r://panorama/images/icons/ui/premier_parallelogram_edge.vsvg");
}

.matchstakes-background .right-end
{
	width: 8px;
	height: 100%;
	world-blur: hudWorldBlur;
	background-color: rgba(75, 75, 75, 0.5);
	opacity-mask: url("s2r://panorama/images/icons/ui/premier_parallelogram_edge.vsvg");
	transform:rotateZ(180deg);
}

.matchstakes-background .background-middle
{
	height: 100%;
	width: fill-parent-flow(1);
	world-blur: hudWorldBlur;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(75, 75, 75, 0.5) ), color-stop( .5, rgba(156, 156, 156, 0.466) ), color-stop( .51, rgba(6, 107, 6, 0.815) ),color-stop( .9,rgba(75, 75, 75, 0.5), to (rgba(75, 75, 75, 0.5)) );
}

.matchstakes-background.matchstakes-background-promo .background-middle
{
	height: 100%;
	width: fill-parent-flow(1);
	background-color: rgba(75, 75, 75, 0.5);
}

.matchstakes-intro-text
{
	horizontal-align: center;
	padding: 7px 0px;
	min-width: 200px;
	visibility: collapse;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 1s;
}

.show-intro-text .matchstakes-intro-text
{
	visibility: visible;
}

.reveal-stakes .matchstakes-intro-text
{
	opacity: 1;
}

.matchstakes-intro-text .matchstakes-background .left-end
{
	transition-property: world-blur;
	transition-duration: 1s;
	world-blur: none;
	background-color: rgba(43, 43, 43, 0.763);
}

.matchstakes-intro-text .matchstakes-background .right-end
{
	transition-property: world-blur;
	transition-duration: 1s;
	world-blur: none;
	background-color: rgba(43, 43, 43, 0.763);
}

.matchstakes-intro-text .matchstakes-background .background-middle
{
	transition-property: world-blur;
	transition-duration: 1s;
	world-blur: none;
	background-color: rgba(43, 43, 43, 0.763);
}

.matchstakes-intro-text Label
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 24px;
	text-align: center;
	font-family: Stratum2 Medium Italic, 'Arial Unicode MS';
	color: white;
	max-height: 24px;
	padding-left: 16px;
	padding-right: 16px;
	text-overflow: shrink;
}

.matchstakes-emblem
{
	vertical-align: center;
	horizontal-align: center;
	transform: translateX(-3px);
}

.matchstakes
{
	height: fit-children;
	width: 40%;
	transition-property: transform, opacity,brightness;
	transition-duration: .6s;
	transition-timing-function: ease-out;
	opacity: 0;
	brightness: 10;
}

.no-rating .matchstakes
{
	visibility: collapse;
}

.matchstakes .delta
{
	margin: 0px 24px;
	text-overflow: shrink;
	width: 60%;
	text-transform: uppercase;
	font-family: Stratum2 Black Italic, 'Arial Unicode MS';
	font-size: 18px;
	height: 20px;
}

.matchstakes .desc
{
	font-family: Stratum2 Black Italic, 'Arial Unicode MS';
	font-size: 12px;
}

.matchstakes.win
{
	horizontal-align: left;
	height: 100%;
	transform: translateX(200px);
	transition-delay: 0.5s;
}

.matchstakes.win Label
{
	color: white;
}

.matchstakes.win .delta
{
	horizontal-align: left;
	text-align: left;
}

.matchstakes.win .desc
{
	horizontal-align: right;
	text-align: right;
}

.matchstakes.win.reveal-stakes
{
	transform: translateX(226px);
	opacity: 1;
	brightness: 1;
}

.matchstakes.loss
{
	horizontal-align: right;
	height: 100%;
	margin-left: 10px;
	transform: translateX(-200px);
	transition-delay: 0.5s;
}

.matchstakes.loss Label
{
	color: black;
}

.matchstakes.loss .delta
{
	horizontal-align: right;
	text-align: right;
}

.matchstakes.loss .desc
{
	horizontal-align: left;
	text-align: left;
}

.matchstakes.loss.reveal-stakes
{
	transform: translateX(-230px);
	opacity: 1;
	brightness: 1;
}

