/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@keyframes 'subtle-motion'
{
	0%
	{
		position: 0px 0px 0px;
	}
	
	25%
	{
		position: -4px 0px 0px;
	}
	
	75%
	{
		position: 4px 0px 0px;
	}
	
	100%
	{
		position: 0px 0px 0px;
	}
	
}

.mission-root
{
	transition-property: opacity, height, transform;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.mission-root:not(.SEARCHING):hover .background-contents
{
	transform: scale3d( 1.05, 1.05, 1);
}

.mission-root:not(.SEARCHING):hover .background-contents .mission-bg
{
	brightness: 1.2;
}

.mission-root.hidden
{
	opacity: 0;
	height: 0px;
	margin-top: 0px;
	transition-property: opacity, height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.background-contents
{
	background-color: black;
	width: 100%;
	height: 100%;
	transition-property: transform;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
}

.background-contents .mission-bg
{
	background-image: url("s2r://panorama/images/backgrounds/mission_background_psd.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 200%;
	background-img-opacity: 1;
	ignore-parent-flow: true;
	height: 100%;
	width: 100%;
	opacity: 1;
}

.background-contents .mission-art-bg
{
	width: 100%;
	height: 100%;
	vertical-align:center;
	horizontal-align: center;
	background-position: 50% 0%;
	background-size: 200% 100%;
	ignore-parent-flow: true;
	opacity:0.5;
	transform: scale3d( 1.05, 1.05, 1);
	transition-property: transform, brightness;
	transition-duration: .2s, 0.1s;
	transition-timing-function: ease-in-out;
	animation-name: subtle-motion;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.background-contents .mission-bg-searching
{
	width: 100%;
	height: 100%;
	background-color: green;
	background-image: url("file://{resources}/videos/linemap.webm");
	background-repeat: no-repeat;
	wash-color: rgb(20, 160, 20);
	background-size: 310% auto;
	background-position: 0% 50%;
	transition-property: transform, opacity;
	transition-duration: .2s, 0.1s;
	transition-timing-function: ease-in-out;
	opacity: 0;
	transform: scaleY(0.0);
}

.mission-main-content
{
	width: 100%;
	padding: 4px;
	flow-children: down;
	overflow: squish noclip;
}

.mission-header
{
	margin: 6px;
	flow-children:right;
	border-bottom: 1px solid #ffffff40;
	width: 100%;
	margin-bottom: 13px;
}

.mission-title
{
	font-size: 18px;
	font-family: Stratum2 Medium Condensed;
	font-weight: lighter;
	color: white;
	vertical-align:center;
}

.mission-time-remaining
{
	font-size: 12px;
	font-family: Stratum2;
	font-weight: lighter;
	color: white;
	vertical-align:center;
	max-height: 26px;
	text-overflow: shrink;
}

.mission-location
{
	flow-children: right;
	width: 100%;
}

.mission-mode-mapgroup
{
	font-size: 22px;
	font-family: Stratum2;
	font-stretch: condensed;
	color: white;
	vertical-align:center;
	max-height: 50px;
	text-overflow: shrink;
	horizontal-align: center;
	max-height: 24px;
}

.mission-main
{
	flow-children: right;
	width: 100%;
}

.mission-main .mission-directive
{
	font-size: 32px;
	font-family: Stratum2;
	font-stretch: condensed;
	font-weight: light;
	color: white;
	vertical-align:center;
	max-height: 50px;
	text-overflow: shrink;
	horizontal-align: center;
	margin-top: 5px;
}

.mission-progress-container
{
	flow-children: right;
	margin-left: 10px;
	margin-right: 10px;
	horizontal-align: center;
}

.mission-progress-container .mission-num
{
	height: 25px;
	min-width: 30px;
	font-size: 20px;
	color: white;
	font-family: Stratum2;
	font-stretch: condensed;
	wash-color: white;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	margin-top: 1px;
}

.mission-progress-container .progress-bar-container
{
	height: 24px;
	width: fill-parent-flow(0.4);
	margin: 8px;
	height: 6px;
	horizontal-align: center;
	vertical-align: center;
}

.mission-progress-container .progress-bar-container .progress-bar
{
	width: 100%;
	height: 100%;
}

.mission-progress-container .progress-bar-container .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #134f87FF ), to(rgb(28, 186, 230)) );
}

.mission-progress-container .progress-bar-container .ProgressBarRight
{
	background-color: black;
}

.mission-progress-container .mission-xp-reward-container
{
	vertical-align: center;
	height: 25px;
	width: 60px;
}

.mission-progress-container .mission-xp-reward-container .mission-xp-reward-img
{
	wash-color: rgb(19, 135, 168);
}

.mission-progress-container .mission-xp-reward-container .mission-xp-reward
{
	font-size: 20px;
	color: white;
	font-family: Stratum2 Medium Condensed;
	wash-color: white;
	horizontal-align: center;
	vertical-align: center;
	margin-top: 1px;
}

.mission-additional-container,.mission-description-container
{
	width: 100%;
	height: 46px;
}

.mission-additional-container .mission-additional,.mission-additional-container .mission-description,.mission-description-container .mission-additional,.mission-description-container .mission-description
{
	font-size: 22px;
	font-family: Stratum2 Condensed;
	color: white;
	text-overflow: shrink min(18px);
	max-height: 46px;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
}

#id-mainmenu-mission-panel
{
	width: 256px;
	height: 180px;
	box-shadow: shadowOffset;
}

#id-mainmenu-mission-panel.SEARCHING:not(.SEARCHING_FOR_MISSION)
{
	saturation: 0.5;
	brightness: 0.5;
	blur: gaussian( 1 );
	transition-property: saturation, brightness, blur;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

#id-mainmenu-mission-panel.SEARCHING.SEARCHING_FOR_MISSION .mission-bg-searching
{
	opacity: 1;
	transform: scaleY(1.0);
}

#id-mainmenu-mission-panel .mission-main-content
{
	transition-property: transform, opacity, wash-color;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

#id-mainmenu-mission-panel.SEARCHING.SEARCHING_FOR_MISSION .mission-main-content
{
	opacity: 1;
	transform: translateY(-36px);
	wash-color: rgb(194, 255, 194);
	transform-origin: 50% 0%;
}

#id-mainmenu-mission-panel .searching
{
	visibility: collapse;
	vertical-align: bottom;
	horizontal-align: center;
}

#id-mainmenu-mission-panel .searching Label
{
	font-size: 18px;
	font-family: Stratum2 Condensed;
	color: white;
}

#id-mainmenu-mission-panel.SEARCHING.SEARCHING_FOR_MISSION .searching
{
	visibility: visible;
	animation-name: slow-pulse;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes 'slow-pulse'
{
	0%
	{
		opacity: 0.2;
	}
	
	50%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0.2;
	}
	
}

#id-playmenu-mission-panel
{
	width: 400px;
	height: 56px;
	vertical-align: center;
	margin-right: 40px;
	transition-property: transform, opacity, wash-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

#id-playmenu-mission-panel.SEARCHING
{
	opacity: 0;
	wash-color: rgb(160, 20, 20);
	transform: translateX(200px);
}

#id-playmenu-mission-panel .mission-main-content
{
	flow-children: right;
	padding: 0px;
	border: 1px solid rgb(19, 135, 168);
}

#id-playmenu-mission-panel .mission-main-content .mission-left,#id-playmenu-mission-panel .mission-main-content .mission-right
{
	flow-children: down;
	width: 50%;
	margin: 4px;
}

#id-playmenu-mission-panel .mission-main-content .mission-left
{
	border-right: 1px solid #ffffff30;
	vertical-align: center;
}

#id-playmenu-mission-panel .mission-left-inner
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
}

#id-playmenu-mission-panel .mission-left-inner .mission-time-remaining
{
	font-size: 15px;
	font-family: Stratum2;
	font-weight: lighter;
	color: white;
	height: fill-parent-flow(1);
	max-height:18px;
	text-align: center;
	horizontal-align:center;
}

#id-playmenu-mission-panel .mission-left-inner .mission-mode-mapgroup
{
	text-align: center;
}

#id-playmenu-mission-panel .mission-progress-container
{
	flow-children: right;
	margin: 0px;
	height: 50%;
	horizontal-align: center;
}

#id-playmenu-mission-panel .mission-progress-container .mission-num
{
	height: 100%;
	font-size: 18px;
	color: white;
	font-family: Stratum2;
	font-stretch: condensed;
	wash-color: white;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
}

#id-playmenu-mission-panel .mission-progress-container .progress-bar-container
{
	height: 24px;
	horizontal-align: center;
	vertical-align: center;
}

#id-playmenu-mission-panel .mission-progress-container .mission-xp-reward-container
{
	vertical-align: center;
	height: 20px;
	width: 45px;
}

#id-playmenu-mission-panel .mission-progress-container .mission-xp-reward-container .mission-xp-reward-img
{
	wash-color: rgb(19, 135, 168);
	img-shadow: 0px 0px 1px 1.0 #0000003b;
	width: 100%;
	height: 100%;
}

#id-playmenu-mission-panel .mission-progress-container .mission-xp-reward-container .mission-xp-reward
{
	font-size: 16px;
	color: white;
	font-family: Stratum2 Medium Condensed;
	wash-color: white;
	horizontal-align: center;
	vertical-align: center;
	margin-top: 2px;
}

#id-playmenu-mission-panel .mission-bg
{
	background-image: url("s2r://panorama/images/backgrounds/mission_background_short_psd.vtex");
	background-size: 100% 200%;
	background-position: 0% 50%;
	background-img-opacity: 1;
	ignore-parent-flow: true;
	height: 100%;
	width: 100%;
	opacity: 1;
}

#id-playmenu-mission-panel .mission-art-bg
{
	background-position: 0% 30%;
	background-size: 100% 300%;
}

#id-playmenu-mission-panel .mission-directive
{
	visibility: collapse;
}

#Hud .mission-root
{
	width: 400px;
	height: 90px;
	vertical-align:top;
	horizontal-align:left;
	visibility: visible;
	margin-top: 20px;
}

#Hud .mission-root .background-contents
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000aa ), to( #00000000 ) );
}

#Hud .mission-root .background-contents .mission-bg
{
	background-image: none;
	ignore-parent-flow: true;
	height: 100%;
	width: 100%;
	opacity: 1;
}

#Hud .mission-root .mission-main-content
{
	padding: 10px;
}

#Hud .mission-root .mission-main-content .mission-progress-container
{
	width: 250px;
	horizontal-align: left;
	padding: 0px;
	margin: 0px;
}

#Hud .mission-root .mission-main-content .mission-description-container
{
	height: fill-parent-flow(1.0);
	width: 300px;
}

#Hud .mission-root .mission-main-content .mission-description-container .mission-description
{
	font-size: 25px;
	text-overflow: shrink;
	horizontal-align: left;
	vertical-align: center;
	height: fit-children;
	text-align:left;
}

