/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

#id-playmenu-mission-panel
{
	width: 200px;
	height: 70px;
	border: 1px solid rgba(118, 150, 255, 0.521);
	vertical-align: center;
	margin-right: 40px;
	transition-property: transform, opacity, wash-color;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
	ignore-parent-flow: true;
	horizontal-align:left;
	box-shadow: 0px 0px 16px 0px #00000041;
}

#id-playmenu-mission-panel.COMPLETE
{
	visibility: collapse;
}

#id-playmenu-mission-panel.COMPLETE #missionButton
{
	visibility: collapse;
}

#id-playmenu-mission-panel.SEARCHING_FOR_MISSION
{
	transform: translateY(300px);
	opacity: 0;
}

#id-playmenu-mission-panel .mission-main-content
{
	padding: 0px;
	height: 100%;
	width: 100%;
	margin: 4px;
}

#id-playmenu-mission-panel .mission-main-content .mission-description-container
{
	height: fill-parent-flow(1);
	vertical-align: bottom;
}

#id-playmenu-mission-panel .mission-main-content .mission-description-container .mission-description
{
	max-height: 100%;
	text-overflow: shrink;
}

#id-playmenu-mission-panel .mission-mode-mapgroup
{
	horizontal-align: center;
	text-align: center;
}

#id-playmenu-mission-panel .mission-bg
{
	background-image: url("s2r://panorama/images/backgrounds/mission_background_short_psd.vtex");
	background-size: 100% 200%;
	background-position: 0% 30%;
	background-img-opacity: 1;
	ignore-parent-flow: true;
	height: 100%;
	width: 100%;
	opacity: 1;
}

#id-playmenu-mission-panel .mission-art-bg
{
	background-position: 0% 30%;
	background-size: 100% 300%;
}

#id-playmenu-mission-panel .mission-directive
{
	visibility: collapse;
}

