/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

#id-pausemenu-mission-panel
{
	width: 650px;
	height: 56px;
	saturation: 0;
	vertical-align: top;
	horizontal-align: center;
	margin-right: 40px;
	margin-top: 100px;
	transition-property: transform, opacity, wash-color;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
	box-shadow: none;
}

#id-pausemenu-mission-panel.COMPLETE .mission-pausemenu
{
	visibility: collapse;
}

#id-pausemenu-mission-panel .mission-complete
{
	visibility: collapse;
}

#id-pausemenu-mission-panel.COMPLETE .mission-complete
{
	visibility: visible;
}

#id-pausemenu-mission-panel Label
{
	color: rgb(230,230,230);
}

#id-pausemenu-mission-panel .mission-main-content
{
	flow-children: right;
	padding: 0px;
	padding: 5px;
	width: 100%;
}

#id-pausemenu-mission-panel .mission-main-content .mission-left,#id-pausemenu-mission-panel .mission-main-content .mission-right
{
	flow-children: down;
	width: 50%;
	margin: 4px;
}

#id-pausemenu-mission-panel .mission-main-content .mission-left
{
	border-right: 1px solid #ffffff30;
	vertical-align: center;
}

#id-pausemenu-mission-panel .mission-left-inner
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
}

#id-pausemenu-mission-panel .mission-left-inner .mission-time-remaining
{
	font-size: 15px;
	font-family: Stratum2;
	font-weight: lighter;
	height: fill-parent-flow(1);
	max-height:18px;
	text-align: center;
	horizontal-align:center;
}

#id-pausemenu-mission-panel .mission-left-inner .mission-mode-mapgroup
{
	text-align: center;
}

#id-pausemenu-mission-panel .mission-progress-container
{
	flow-children: right;
	margin: 0px;
	height: 50%;
	padding-right: 10px;
	padding-left: 10px;
	horizontal-align: center;
}

#id-pausemenu-mission-panel .mission-progress-container .mission-num
{
	height: 100%;
	font-size: 18px;
	font-family: Stratum2;
	font-stretch: condensed;
	wash-color: white;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
}

#id-pausemenu-mission-panel .mission-progress-container .mission-xp-reward-container .mission-xp-reward-img
{
	wash-color: rgb(0,0,0);
	opacity: 0.5;
}

#id-pausemenu-mission-panel .mission-progress-container .mission-xp-reward-container .mission-xp-reward
{
	font-family: Stratum2 Medium Condensed;
	wash-color: white;
	horizontal-align: center;
	vertical-align: center;
}

#id-pausemenu-mission-panel .background-contents
{
	background-color: #00000000;
}

#id-pausemenu-mission-panel .background-contents .mission-bg
{
	background-color:blurBackgroundColor;
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: 400px 400px;
	background-img-opacity: 0.015;
	saturation: 0;
	ignore-parent-flow: true;
	height: 100%;
	width: 100%;
	opacity: 1;
}

#id-pausemenu-mission-panel .mission-directive
{
	visibility: collapse;
}

#id-pausemenu-mission-panel .mission-complete
{
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}

#id-pausemenu-mission-panel .mission-complete .mission-header--complete
{
	flow-children: right;
	vertical-align:center;
	margin: 4px;
}

#id-pausemenu-mission-panel .mission-complete .mission-title
{
	font-size: 30px;
	font-family: Stratum2 Medium Condensed;
	font-weight: lighter;
	color: white;
	vertical-align:center;
	margin-left: 20px;
}

#id-pausemenu-mission-panel .mission-complete .mission-time-remaining
{
	font-size: 20px;
	font-family: Stratum2;
	font-weight: lighter;
	color: white;
	vertical-align:center;
	max-height: 26px;
	text-overflow: shrink;
	margin-left: 20px;
}

