/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define wipe-color-start: rgba(96, 221, 255, 0.6);
@define wipe-color-end: rgba(96, 221, 255, 0.0);
@keyframes 'progress-pulse'
{
	0%
	{
		brightness: 1;
		transform: scale3d( 1, 1, 1);
		background-color: gradient( linear, 0% 0%, 100% 0%, color-stop(0.0, #00000000 ), color-stop(0.01, wipe-color-start ),color-stop(0.05, #00000000 ), color-stop(1, #00000000 ) );
	}
	
	50%
	{
		brightness: 5;
		transform: scale3d( 1.02, 1.02, 1);
	}
	
	100%
	{
		brightness: 1;
		transform: scale3d( 1, 1, 1);
		background-color: gradient( linear, 0% 0%, 100% 0%, color-stop(0.0, #00000000 ), color-stop(0.994, #00000000 ),color-stop(0.999, wipe-color-end ), color-stop(1, #00000000 ) );
	}
	
}

#HudMissionPanel
{
	width: 400px;
	height: 90px;
	vertical-align:top;
	horizontal-align:left;
	margin-top: 40px;
	transition-property: wash-color, opacity;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

#HudMissionPanel.COMPLETE
{
	wash-color: rgb(76, 255, 106);
	sound: "UI.Mission.Complete";
}

#HudMissionPanel.progress-pulse:not(.stop-anims) .mission-main-content
{
	animation-name: progress-pulse;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
}

#HudMissionPanel .background-contents
{
	background-color: none;
}

#HudMissionPanel .background-contents .bonuspanel-bkg-TOP
{
	width: 400px;
	height: 2px;
	vertical-align: top;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), to( #000000BB ) );
}

#HudMissionPanel .background-contents .bonuspanel-bkg-BOT
{
	width: 400px;
	height: 2px;
	vertical-align: bottom;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), to( #000000BB ) );
}

#HudMissionPanel .background-contents .bonuspanel-bg
{
	width: 400px;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000ED ), color-stop(0.8, #00000020), to( #00000000 ) );
}

#HudMissionPanel .mission-main-content
{
	padding: 10px;
}

#HudMissionPanel .mission-main-content .mission-progress-container
{
	width: 250px;
	horizontal-align: left;
	padding: 0px;
	margin: 0px;
}

#HudMissionPanel .mission-main-content .mission-description-container
{
	height: 55px;
	width: 300px;
}

#HudMissionPanel .mission-main-content .mission-description-container .mission-description
{
	font-size: 25px;
	text-overflow: shrink;
	horizontal-align: left;
	vertical-align: center;
	text-align:left;
	vertical-align: center;
}

#HudMissionPanel .mission-xp-reward
{
	margin-top: 1.5px;
}

.competitive #HudMissionPanel,.scrimcomp2v2 #HudMissionPanel,.casual #HudMissionPanel
{
	opacity: 0;
}

.competitive.FREEZETIME #HudMissionPanel,.scrimcomp2v2.FREEZETIME #HudMissionPanel,.casual.FREEZETIME #HudMissionPanel
{
	opacity: 1;
}

