/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

#id-mute-spinner
{
	width: 34px;
	height:34px;
	background-image: url("s2r://panorama/images/icons/ui/unmuted.vsvg");
	background-size: 100% 100%;
	background-position: center;
	background-img-opacity: 0.1;
}

#id-mute-spinner.muted
{
	background-img-opacity: 0.0;
}

#id-mute-value
{
	vertical-align: center;
	horizontal-align: center;
	opacity: 1.0;
	font-size: 18px;
	font-family: Stratum2 Monodigit, 'Arial Unicode MS';
	text-shadow: 0px 0px 1px 2.0 black;
}

#id-mute-muted-img
{
	width: 100%;
	height: 100%;
	margin: 0px;
}

#id-mute-bar
{
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.5;
	transition-property: opacity, height;
	transition-duration: 1.0s, 0.01s;
	vertical-align: bottom;
}

#id-mute-bar.fade
{
	opacity: 0.0;
}

.hidden
{
	visibility: collapse;
}

