/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.OutOfAmmo
{
	width: 85px;
	height: 85px;
	vertical-align: center;
	horizontal-align: center;
}

.OutOfAmmoOverlay
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/icons/ui/outofammo.vsvg");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat no-repeat;
	wash-color: #FF0000FF;
	opacity: 0.9;
}

.OutOfAmmoBackdrop
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/icons/ui/outofammo.vsvg");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat no-repeat;
	wash-color: #000000FF;
	opacity: 0.5;
}

