/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

.UiParticlePanel
{
	width: 100%;
	height: 100%;
	flow-children: right-wrap;
}

.UIMenuPlayActionBar
{
	width: 640px;
	height:100%;
	horizontal-align: right;
	vertical-align: center;
	flow-children: right-wrap;
}

.UiParticlePanelAmmoCenter
{
	-s2-mix-blend-mode: additive;
	vertical-align:bottom;
	horizontal-align:center;
	width: 900px;
	height: 500px;
	margin-top:16px;
}

.UIMVP
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: middle;
	opacity: 1;
}

.UIMvpMockup
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: middle;
	margin-top: 10px;
	opacity: 1;
	margin-bottom: 4px;
}

.UIFxFillParentPanel
{
	width: 60px;
	height: 60px;
	horizontal-align: center;
	vertical-align: top;
	opacity: 1;
	-s2-mix-blend-mode: additive;
}

.mainmenu-xpshop-tracks .UIFxFillParentPanel
{
	width: 52px;
	height: 60px;
}

