/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.player-card
{
	width:100%;
	height: fit-children;
	transform-origin: 50% 0%;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.miniprofilebkg
{
	width: 100%;
	height: 100%;
	opacity: .3;
	background-img-opacity: .6;
	opacity-mask: url("s2r://panorama/images/masks/top-bottom-fade_png.vtex");
}

.player-card.hidden
{
	opacity: 0;
	visibility: collapse;
	transform: scaleY(0);
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.player-card__sections
{
	flow-children: down;
	width: 100%;
	height: fit-children;
}

.player-card-row
{
	flow-children: right;
	padding: 0px 0px 0px 0px;
	height: fit-children;
	width:100%;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.player-card-row__bg-image
{
	background-repeat: no-repeat;
	background-size: 115% auto;
	background-position: 50% 50%;
	background-img-opacity: 0.4;
	width:100%;
	height:100%;
	brightness: 0.5;
	saturation: 0.5;
	opacity-mask: url("s2r://panorama/images/masks/top-bottom-fade_png.vtex");
}

.friendslist .player-card-row__bg-image
{
	background-color: contextMenuBackground;
}

.player-card-bg-anim
{
	animation-name: BackgroundScroll;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

.player-card-row .avatar
{
	height: 96px;
	padding-top: 6px;
}

.player-card-row__name
{
	flow-children: down;
	vertical-align: middle;
	width: 100%;
	margin-left: 16px;
	height: fit-children;
}

.player-card__text,.player-card-row__name .player-card__text
{
	max-height: 32px;
	padding-right: 1px;
	font-size: 28px;
	text-overflow: ellipsis;
	font-weight: Bold;
	text-shadow:2px 2px 2px #000000;
	color: white;
	margin-left: 8px;
	overflow: clip;
}

.player-card__text-subtitle
{
	max-height: 20px;
	width: 256px;
	font-size: 16px;
	font-weight: normal;
	color: white;
	text-shadow:1px 1px 2px #000000;
	text-overflow: ellipsis;
}

.player-card__text-subtitle--multiline
{
	max-height: 40px;
	overflow: squish noclip;
}

.player-card__text-subtitle--light
{
	font-weight: normal;
}

.player-card__icons-column
{
	height: fit-children;
	max-height: 178px;
	width: 64px;
	vertical-align: middle;
	horizontal-align: right;
	flow-children: down;
	wash-color: #7EB1CD;
	margin-top: 8px;
}

.player-card-commendations-container
{
	opacity: 1;
	visibility: visible;
	width: 100%;
	flow-children: right;
	horizontal-align: left;
}

.player-card-commendations
{
	visibility: visible;
	height: fit-children;
	max-height: 48px;
	width: fit-children;
	vertical-align: middle;
	horizontal-align: left;
	flow-children: right;
	margin-left: 24px;
	margin-bottom: 16px;
}

.player-card-commendations-icon
{
	opacity: 1;
	visibility: visible;
	flow-children: right;
	vertical-align: center;
	width: fit-children;
	margin: 12px;
}

#JsPlayerPrime.player-card-commendations-icon
{
	margin: 0px 16px 0px 4px;
}

.player-card-commendations Image
{
	width: height-percentage( 100% );
	height: 24px;
	wash-color: rgb(143, 143, 143);
}

#JsPlayerPrime Image
{
	width: height-percentage( 100% );
	height: 40px;
}

#JsPlayerPrime Label
{
	margin-left: 40px;
	font-size: 16px;
	color: white;
}

.player-card-commendations Label
{
	font-size: 14px;
	vertical-align: center;
	margin-left: 4px;
	color: white;
}

.player-card-prime
{
	height: 48px;
	width: 100%;
	flow-children: right;
	padding-left:33px;
	border-top: 1px solid rgba(0, 0, 0, 0.26);
}

.player-card-prime__icon
{
	opacity: 1;
	visibility: visible;
	width: height-percentage( 100% );
	height: 32px;
	vertical-align: middle;
	margin: 0px 0px 0px 0px;
	z-index: 2;
	wash-color: #7EB1CD;
}

.player-card-xp
{
	opacity: 1;
	visibility: visible;
	flow-children: right;
	height: fit-children;
	width: 100%;
	padding: 0px 0px 8px 16px;
	transition-property: position;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.player-card-xp__icon-container
{
	overflow: noclip;
}

.player-card-xp__icon
{
	opacity: 1;
	visibility: visible;
	width: height-percentage( 100% );
	height: 64px;
	img-shadow: 2px 2px 2px #000000;
}

.player-card-xpbar__container
{
	width: 275px;
	flow-children:right;
	height: 24px;
}

.player-card-xp__name-bar
{
	flow-children: down;
	height: fit-children;
	width:fit-children;
	margin-left: 26px;
	vertical-align: middle;
}

.player-card-xpbar
{
	margin-top: 8px;
	width: 230px;
	height: fit-children;
	box-shadow: shadowOffset;
}

.player-card-xpbar__bar
{
	background-color: #000000d3;
	height: 8px;
	width: 100%;
}

.player-card-xpbar__bar--inner
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from ( #0A5A84 ), to( #5DC6FF ));
	width: 50%;
	height: 100%;
}

.player-card-xpbar__care-package
{
	margin-left: 10px;
	vertical-align:center;
	visibility: collapse;
}

.care-package-eligible .player-card-xpbar__care-package
{
	visibility: visible;
}

.player-card-xp-getprestigebutton
{
	horizontal-align: left;
	vertical-align: top;
	margin-top: 0px;
	margin-bottom: 8px;
	width: 100%;
	height: 32px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #3a863d ), to( #2d682f ) );
	box-shadow: shadowOffset;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.player-card-xp-getprestigebutton:hover
{
	background-color: positiveColor;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

#GetPrestigeButtonClickable
{
	margin: 0px;
	vertical-align: center;
}

.player-card-xp-getprestigebutton__icon
{
	vertical-align: center;
	transform: rotatez( 180deg );
	margin-left: 38px;
}

.player-card-nonprime__lock
{
	horizontal-align: center;
	vertical-align: bottom;
	visibility: collapse;
}

#GetPrestigeButtonClickable Label
{
	margin-left: 96px;
}

.player-card-skillgroup-container
{
	width: 100%;
	transition-property: height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.player-card-skillgroup-expand
{
	height: 16px;
	width: 16px;
	margin: 12px;
	horizontal-align: right;
	vertical-align: top;
	transition-property: brightness, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.player-card-skillgroup-expand .TickBox
{
	visibility: collapse;
}

.player-card-skillgroup-expand:selected
{
	transform: rotateX( 180deg );
	transition-property: brightness, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.player-card-skillgroup-expand:Hover
{
	brightness: 4;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.player-card-skillgroup
{
	opacity: 1;
	visibility: visible;
	height: 32px;
	width: 100%;
	flow-children: right;
	horizontal-align: left;
	margin-bottom: 16px;
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
	tooltip-position: bottom;
	transition-property: height, position;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.player-card-skillgroup.collapsed
{
	height: 0px;
	margin-bottom: 0px;
	transition-property: height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.player-card-skillgroup__icon-container
{
	margin-right: 11px;
	overflow: noclip;
}

.player-card-skillgroup__icon
{
	margin: 0px 8px 0px 8px;
	width: 80px;
	img-shadow: 2px 2px 2px #000000;
	vertical-align: middle;
	img-shadow: 0px 0px 5px 3.0 #000000;
}

.player-card-nonprime-locked-xp-row .player-card-skillgroup__icon,.player-card-nonprime-locked-xp-row .player-card-xp__icon
{
	opacity: 0.5;
	saturation: 0.3;
	brightness: .4;
}

.player-card-nonprime-locked-xp-row .player-card-nonprime__lock
{
	visibility: visible;
}

.player-card-rating__icon-container
{
	margin: 0px 18px 0px 8px;
}

.player-card-rating__labels
{
	flow-children:down;
	height: fit-children;
	vertical-align: center;
}

.player-card-prime-upsell-container
{
	flow-children: down;
	transition-property: height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.player-card-prime-upsell-row
{
	flow-children: right;
	margin-bottom: 16px;
}

.player-card-prime-upsell-image-container
{
	height: fit-children;
	vertical-align: center;
	width: 96px;
}

.player-card-prime-upsell-image
{
	height: 42px;
	width: height-percentage( 100% );
	vertical-align: center;
	horizontal-align: center;
	opacity: .5;
}

.player-card-prime-upsell-image--xp
{
	height: 48px;
}

.player-card-prime-upsell-image--rank
{
	height: 30px;
	width: 74px;
}

.player-card-prime-btn
{
	vertical-align: center;
	box-shadow: shadowOffset;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.player-card-prime-btn Label
{
	font-weight: medium;
	font-size: 14px;
	background-color: #0A5A84;
	text-align: center;
	margin: 0px;
	padding: 8px;
	border-radius: 2px;
	color: white;
	font-family: Stratum2, 'Arial Unicode MS';
}

.player-card-prime-btn:hover
{
	brightness: 1.5;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.player-card-prime-text
{
	max-height: 64px;
	width: 240px;
	font-size: 13px;
	font-weight: normal;
	text-overflow: shrink;
	text-shadow: 1px 1px 2px #000000;
	color: white;
}

.player-card-prime-text--popup
{
	width: 300px;
}

.playercard-flair-carousel-container
{
	height: fit-children;
	width: 100%;
	margin-top: 8px;
}

.playercard-flair-carousel
{
	height: fit-children;
	width: 100%;
	horizontal-align: left;
}

.playercard-flair-carousel__page
{
	flow-children: right;
	height: fit-children;
	width: fit-children;
	opacity: 0;
	transform: translatex( 0px );
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.playercard-flair-carousel__page.Focused
{
	opacity: 1;
}

.PreviouslyLeft.playercard-flair-carousel__page:not(.Focused)
{
	transform: translatex( -100% );
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.PreviouslyRight.playercard-flair-carousel__page:not(.Focused)
{
	transform: translatex( 100% );
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.playercard-flair__icon
{
	horizontal-align: center;
	height: 38px;
	tooltip-position: bottom;
	tooltip-body-position: 50% 100%;
	img-shadow: 2px 2px 2px #000000;
}

.playercard-flair__icon__image:Hover
{
	transform:Scale3d(1.1, 1.1, 1.1);
	brightness: .2;
	transition-property: brightness, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.playercard-flair-carousel-container CarouselNav
{
	vertical-align: middle;
	horizontal-align: right;
	margin-right:8px;
	flow-children: down;
}

.player-card-team
{
	border-top: 1px solid rgba(0, 0, 0, 0.26);
	width: 100%;
	height: fit-children;
	flow-children: right;
	padding: 8px 16px 8px 16px;
	opacity: 1;
	visibility: visible;
}

.player-card-team__text
{
	flow-children: down;
	vertical-align: middle;
	width: fit-children;
	max-width: 320px;
	height: 52px;
	margin-left: 16px;
}

.player-card-team__icon
{
	width: 64px;
	height: 64px;
	flow-children: right;
}

.player-card-commendations-container.hidden,.player-card-commendations.hidden,.player-card-commendations-icon.hidden,.player-card-xp.hidden,.player-card-skillgroup-container.hidden,.player-card-skillgroup.hidden,.playercard-flair-carousel-container.hidden,.player-card-team.hidden,.player-card-prime.hidden,.player-card-xp-getprestigebutton.hidden,.player-card-prime-upsell-container.hidden
{
	opacity: 0;
	visibility: collapse;
	transition-property: opacity, position;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.player-card__seperator
{
	height: 100%;
	width: 1px;
	opacity: .25;
	background-color: black;
	vertical-align: middle;
	horizontal-align: right;
	margin-right: 72px;
}

@keyframes 'BackgroundScroll'
{
	0%
	{
		transform: translatey( -10% );
	}
	
	100%
	{
		transform: translatey( 0% );
	}
	
}

