/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.card-root
{
	width:100%;
	height:width-percentage( 200% );
	vertical-align: bottom;
	padding: 7px 7px;
}

.card-root Label
{
	text-align: center;
	color:white;
}

.card__inset
{
	width: 100%;
	height: 68%;
	vertical-align: bottom;
	horizontal-align: center;
	border-radius: 10px;
	box-shadow: 2px 2px 15px #00000088;
}

.card__inset .card__border
{
	width: 100%;
	height: 100%;
	border: 2px solid #ffffff;
	border-radius: 10px;
}

.card__bg
{
	vertical-align: center;
	horizontal-align: center;
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/backgrounds/player_stats_card_csgo_camo_psd.vtex");
	background-img-opacity: 1.0;
	background-size: 800px auto;
}

.card__contents
{
	vertical-align: center;
	horizontal-align: center;
	padding-top:0.6%;
	width:100%;
	height:100%;
}

.emblem--flair
{
	width: 48px;
	height: 48px;
	vertical-align: top;
	horizontal-align: right;
	margin: 15px;
}

#jsFlairImage
{
	height: 90%;
	width: height-percentage( 127% );
	horizontal-align: left;
	vertical-align: center;
}

.card__banner
{
	width: 22%;
	height: 50%;
	horizontal-align: left;
	vertical-align: top;
	x: 5%;
	y: 95px;
	z: 1px;
}

.card__banner .banner-bg
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/stats_cards/stats_card_banner_mask.vsvg");
}

.card__banner .banner__stat-container
{
	width: 100%;
	height: 100%;
	flow-children: down;
	padding-top: 18px;
}

.card__banner .banner__stat-container .banner__stat
{
	width: 100%;
	flow-children: down;
	horizontal-align: center;
}

.card__banner .banner__stat-container .banner__stat .value
{
	horizontal-align: center;
	vertical-align: center;
}

.card__banner .banner__stat-container .banner__stat .desc
{
	height: 24px;
	font-size: 14px;
	horizontal-align: center;
	text-overflow: shrink min( 12px ) ellipsis;
	letter-spacing: 1px;
}

.card__banner .banner__stat-container .banner__stat.adr .value,.card__banner .banner__stat-container .banner__stat.score .value
{
	font-size: 34px;
}

.card__banner .banner__stat-container .banner__stat.adr .desc,.card__banner .banner__stat-container .banner__stat.score .desc
{
	margin-top: -8px;
}

.card__banner .banner__stat-container .banner__stat.kda .value
{
	font-size: 18px;
}

.card__banner .banner__stat-container .banner__stat.kda .desc
{
	margin-top: -3px;
}

.card__banner .banner__stat-container .banner__stat.hsp .value,.card__banner .banner__stat-container .banner__stat.kills .value,.card__banner .banner__stat-container .banner__stat.deaths .value
{
	font-size: 23px;
}

.card__banner .banner__stat-container .banner__stat.hsp .desc
{
	margin-top: -4px;
}

.card__banner .banner__stat-container .banner__stat .highlight-adr .value
{
	animation-name: best;
}

.card__banner .banner__stat-container .banner__stat .highlight-hsp .value
{
	animation-name: best;
}

.card__main
{
	width:100%;
	height:100%;
}

.card__main .card__avatar-container
{
	width: 110px;
	border-radius: 50%;
	horizontal-align: center;
	vertical-align: center;
	margin-top: -70px;
	margin-left: 50px;
	border: 1px solid #505050;
}

.card__main .card__avatar-container .card__avatar
{
	width: 100%;
	height:width-percentage(100%);
}

.card__main .emblem--skillgroup
{
	horizontal-align: center;
	vertical-align: center;
	margin-top: 60px;
	opacity: 0;
	brightness: 10;
	overflow: noclip;
}

.show-skillgroup .card__main .emblem--skillgroup
{
	opacity: 1;
	brightness: 1;
	animation-name: skillgroup-pulse;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

.skillgroup-update .card__main .emblem--skillgroup
{
	animation-name: skillgroup-reveal;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
}

.card__main .card__main__lower
{
	width: 100%;
	height: 35%;
	vertical-align: bottom;
	flow-children:down;
	margin: 0px 10px;
}

.card__main .card__main__lower .card__player-name
{
	horizontal-align: center;
}

.card__main .card__main__lower .card__player-name Label
{
	vertical-align: center;
	font-size: 26px;
	text-overflow: shrink min( 16px ) ellipsis;
	white-space: nowrap;
}

.card__main .card__main__lower .divider
{
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #ffffff10;
	margin-top: 0px;
}

.card__main .card__main__lower .card__accolade-container
{
	flow-children: down;
	width: 100%;
	visibility: collapse;
}

.card__main .card__main__lower .card__accolade-container .title
{
	vertical-align:top;
	margin-top: 14px;
	horizontal-align: center;
	font-size: 16px;
	text-overflow: shrink min( 12px ) ellipsis;
}

.card__main .card__main__lower .card__accolade-container .detail
{
	font-size: 14px;
	margin-top: 5px;
	horizontal-align: center;
	font-size: 16px;
	text-overflow: shrink min( 12px ) ellipsis;
}

.show-accolade .card__main .card__main__lower .card__accolade-container
{
	visibility: visible;
}

.sliding-panel
{
	transform: translate3d( 100%, 0%, 0%);
	opacity: 0;
}

.sliding-panel.slide
{
	animation-name: slide;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	transform: translate3d( 0%, 0%, 0%);
	opacity: 1;
}

@keyframes 'slide'
{
	0%
	{
		brightness: 0;
		opacity: 0;
		transform: translate3d( 100%, 0%, 0%);
	}
	
	50%
	{
		transform: translate3d( 0%, 0%, 0%);
		brightness: 4;
		opacity: 1;
	}
	
	100%
	{
		brightness: 1;
	}
	
}

@keyframes 'best'
{
	0%
	{
		brightness: 0;
		opacity: 0;
		transform: translate3d( 100%, 0%, 0%);
	}
	
	50%
	{
		transform: translate3d( 0%, 0%, 0%);
		brightness: 4;
		opacity: 1;
		text-shadow: none;
		color: white;
	}
	
	51%
	{
		color: yellow;
		text-shadow: 0px 0px 5% 2 #fdffb3;
	}
	
	100%
	{
		color: yellow;
		text-shadow: 0px 0px 3% 0 yellow;
		brightness: 1;
	}
	
}

@keyframes 'skillgroup-pulse'
{
	0%
	{
		brightness: 10;
		opacity: 0;
	}
	
	100%
	{
		brightness: 1;
		opacity: 1;
	}
	
}

@keyframes 'skillgroup-reveal'
{
	0%
	{
		brightness: 10;
		opacity: 0;
		transform: scale3d( 1.3,1.3,1.3);
	}
	
	100%
	{
		brightness: 1;
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
	
}

