/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define prime-panel-right-left-margin: 64px;
.premier-season-progress
{
	width: 560px;
	padding-top: 12px;
	margin-left: prime-panel-right-left-margin;
	flow-children: down;
}

.premier-season-progress .premier-season-progress-rank-label
{
	font-size: 14px;
}

.premier-season-progress .premier-season-progress-rank-icon
{
	height: 42px;
	width: 56px;
	margin: 0px 4px;
}

.premier-season-progress #id-medal-start
{
	opacity: .4;
}

.premier-season-progress #id-medal-end
{
	img-shadow: 2px 2px 6px #000000;
}

.premier-season-progress .premier-season-progress-bar-container
{
	margin: 8px 0xp;
	flow-children: right;
	horizontal-align: center;
}

.premier-season-progress .premier-season-progress-bar-container .premier-season-pips-label-container
{
	width: 100%;
}

.premier-season-progress .premier-season-progress-bar-container .premier-season-pips-label-container .premier-season-pips-label
{
	font-size: 14px;
}

.premier-season-progress .premier-season-progress-bar-container .premier-season-progress-bar
{
	flow-children: right;
	vertical-align: center;
	width: 486px;
	height: 16px;
	transform-origin: 0px 50%;
}

.premier-season-progress .premier-season-progress-bar-container .premier-season-progress-bar.two-medals
{
	transform: scaleX( 1.05) scaleY( 1.05);
}

.premier-season-progress .premier-season-progress-bar-container .premier-season-progress-bar.four-medals
{
	transform: scaleX( 1.14) scaleY( 1.2);
}

.premier-season-progress .premier-season-progress-bar-container .premier-season-progress-bar.four-medals .premier-season-progress-pip
{
	margin-right:1px;
}

.premier-season-progress .premier-season-progress-bar-container .premier-season-progress-bar.five-medals
{
	transform: scaleX( 1.1) scaleY( 1.1);
}

.premier-season-progress .premier-season-progress-bar-container .premier-season-progress-bar.five-medals .premier-season-progress-pip
{
	margin-right:1px;
}

.premier-season-progress .premier-season-progress-bar-container .premier-season-progress-bar .premier-season-progress-pip
{
	width: fill-parent-flow(1);
	transform: translateY(1px);
	margin-right:2px;
	height: 3px;
	background-color: white;
	vertical-align: center;
	box-shadow: shadowOffset;
}

.premier-season-progress .premier-season-progress-bar-container .premier-season-progress-bar .premier-season-progress-pip.premier-season-progress-pip-medal
{
	width: 8px;
	height:8px;
	margin:4px;
	transform: rotateZ( 45deg );
}

.premier-season-progress .premier-season-progress-bar-container .premier-season-progress-bar .premier-season-progress-pip.tier-0
{
	wash-color: color-csrating-tier-0;
}

.premier-season-progress .premier-season-progress-bar-container .premier-season-progress-bar .premier-season-progress-pip.tier-1
{
	wash-color: color-csrating-tier-1;
}

.premier-season-progress .premier-season-progress-bar-container .premier-season-progress-bar .premier-season-progress-pip.tier-2
{
	wash-color: color-csrating-tier-2;
}

.premier-season-progress .premier-season-progress-bar-container .premier-season-progress-bar .premier-season-progress-pip.tier-3
{
	wash-color: color-csrating-tier-3;
}

.premier-season-progress .premier-season-progress-bar-container .premier-season-progress-bar .premier-season-progress-pip.tier-4
{
	wash-color: color-csrating-tier-4;
}

.premier-season-progress .premier-season-progress-bar-container .premier-season-progress-bar .premier-season-progress-pip.tier-5
{
	wash-color: color-csrating-tier-5;
}

.premier-season-progress .premier-season-progress-bar-container .premier-season-progress-bar .premier-season-progress-pip.tier-6
{
	wash-color: color-csrating-tier-6;
}

.premier-season-progress .premier-season-progress-bar-container .premier-season-progress-bar .premier-season-progress-pip.tier-none
{
	wash-color: rgb(35, 35, 35);
}

.premier-season-progress .premier-season-title-bar
{
	width: 1000px;
	height: 32px;
	vertical-align: top;
	padding-top: 4px;
	padding-left: 4px;
	background-image: url("s2r://panorama/images/icons/ui/premier_title_bg_blank.vsvg");
	background-size: 100% 100%;
}

.premier-season-progress #js-highest-rating
{
	margin-right: 4px;
	ui-scale: 80%;
}

.premier-season-progress-block
{
	flow-children: down;
	margin-top: 8px;
	horizontal-align: center;
	background-color: rgba(0, 0, 0, 0.219);
	border-radius: 3px;
}

