/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.mapwinrecord-root
{
	padding: 12px;
	padding-bottom: 0px;
}

.mapwinrecord__graph
{
	horizontal-align: center;
	vertical-align: bottom;
	width: 450px;
	height: width-percentage( 100%);
}

.mapwinrecord__graph .mwr-map
{
	border-radius: 3px;
	transform: translateX(-30px) translateY(-30px);
}

.mapwinrecord__graph .mwr-map #mwr-map__image
{
	width: 60px;
	height: 60px;
}

.mapwinrecord__graph .mwr-map Label
{
	font-size: 20px;
	width: 100%;
	text-align:center;
	font-family: Stratum2 Condensed, Arial;
}

