/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.QuickInventory
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
}

.QuickInventoryBackdrop
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
}

.QuickInventoryBackdropCircle
{
	width: 976px;
	height: 976px;
	vertical-align: center;
	horizontal-align: center;
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #13131300 ), color-stop(0.194, #131313AA), color-stop(0.194, #13131300), to( #13131300 ) );
}

.QuickInventoryCenterDot
{
	width: 400px;
	height: 400px;
	vertical-align: center;
	horizontal-align: center;
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #13131322 ), color-stop(0.23, #13131322), color-stop(0.434, #13131322), color-stop(0.435, #00000055), color-stop(0.45, #00000055), color-stop(0.45, #00000000), to( #13131300 ) );
}

.QuickInventorySegment-data
{
	horizontal-align:left;
	vertical-align:top;
	width:300px;
	height:250px;
	transform: translateX(-150px) translateY(-110px);
	flow-children: down;
}

.QuickInventorySegment-image
{
	width: 200px;
	height: 160px;
	margin-bottom: 35px;
	horizontal-align: center;
	vertical-align: center;
	img-shadow: 1px 1px 20px 0.1 #222222;
	wash-color: #DDDDDD;
}

.QuickInventorySegmentSelectedCenter-image
{
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 160px;
	img-shadow: 1px 1px 20px 0.1 #222222;
	wash-color: #FFFFFF;
}

.QuickInventorySegment--hover .QuickInventorySegment-image
{
	wash-color: #FFFFFF;
}

.QuickInventorySegment-text
{
	horizontal-align: center;
	vertical-align: top;
	width: 150px;
	font-family: Stratum2, 'Arial Unicode MS';
	color: #DDDDDDFF;
	font-size: 22px;
	text-align: center;
	text-shadow:2px 2px 2px #000000;
}

.QuickInventorySegmentSelectedCenter-text
{
	horizontal-align: center;
	vertical-align: center;
	width: 280px;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: bold;
	color: #DDDDDDFF;
	font-size: 24px;
	text-align: center;
	text-shadow:1px 1px 1px #000000;
	margin-bottom: 215px;
}

.QuickInventorySegment--hover .QuickInventorySegment-text
{
	color: #FFFFFFFF;
}

.QuickInventorySegment
{
	width: 850px;
	height: 850px;
	horizontal-align: center;
	vertical-align: center;
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #13131300 ), color-stop(0.23, #13131300), color-stop(0.23, #131313AA), color-stop(0.429, #131313AA), color-stop(0.429, #000000CC), color-stop(0.43, #000000CC), color-stop(0.43, #00000000), to( #13131300 ) );
	transition-property: background-color;
	transition-duration: 0.01s;
	transition-timing-function: ease-in-out;
}

.QuickInventorySegment.QuickInventorySegment--hover
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #00000000 ), color-stop(0.227, #00000000), color-stop(0.227, #000000EE), color-stop(0.433, #000000EE), color-stop(0.433, #EEEEEEEE), color-stop(0.445, #EEEEEEEE), color-stop(0.445, #00000000), to( #00000000 ) );
	transform: scale3d( 1.004, 1.004, 1 );
}

.QuickInventorySegment-item-count
{
	width: 32px;
	height: 28px;
	font-weight: medium;
	visibility:collapse;
	horizontal-align: center;
	vertical-align: center;
	y:28px;
	x:30px;
	font-size: 14px;
	color:#CCCCCC;
}

.item--has-multiple .QuickInventorySegment-item-count
{
	visibility:visible;
}

