/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.RadialRadio
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
}

.RadialRadioBackdrop
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
	background-color: #00000099;
}

.RadialRadioBackdropCircle
{
	width: 876px;
	height: 876px;
	vertical-align: center;
	horizontal-align: center;
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #000000bf ), color-stop(0.224, #000000bf), color-stop(0.224, #cccccc00), color-stop(0.225, #cccccc00), color-stop(0.226, #00000000), to( #00000000 ) );
}

.RadialRadioBackdropCircleWheel2
{
	width: 876px;
	height: 876px;
	vertical-align: center;
	horizontal-align: center;
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #000000bf ), color-stop(0.224, #000000bf), color-stop(0.224, #cccccc00), color-stop(0.225, #cccccc00), color-stop(0.226, #00000000), to( #00000000 ) );
}

.RadialRadioBackdropCircleWheel3
{
	width: 876px;
	height: 876px;
	vertical-align: center;
	horizontal-align: center;
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #000000bf ), color-stop(0.224, #000000bf), color-stop(0.224, #cccccc00), color-stop(0.225, #cccccc00), color-stop(0.226, #00000000), to( #00000000 ) );
}

.RadialRadioCenterDot
{
	width: 200px;
	height: 200px;
	vertical-align: center;
	horizontal-align: center;
}

.RadialRadioSegment-data
{
	horizontal-align:left;
	vertical-align:top;
	width: 160px;
	height: 160px;
	transform: translateX(-80px) translateY(-60px);
	flow-children: down;
}

.RadialRadioSegment-container
{
	width: 140px;
	height: 140px;
	margin-top: 5px;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
}

.RadialRadioSegment-image
{
	width: 100px;
	margin-top: 10px;
	horizontal-align: center;
	vertical-align: center;
	wash-color: #FFFFFF;
	transform: scale3d( .9, .9, 1 );
}

.RadialRadioSegment-text
{
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	font-family: Stratum2, 'Arial Unicode MS';
	color: #CCCCCCFF;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	text-shadow:1px 1px 1px #000000;
	visibility: collapse;
}

.RadialRadioSegment-text:hover
{
	color: #FFFFFFFF;
}

.RadialRadioSegmentSelectedCenter-image
{
	horizontal-align: center;
	vertical-align: center;
	wash-color: #ffffff;
}

.RadialRadioSegmentSelectedCenter-text
{
	horizontal-align: center;
	vertical-align: center;
	width: 150px;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: bold;
	color: #ffffff;
	font-size: 26px;
	text-align: center;
	margin-bottom: 100px;
	text-overflow: shrink;
	text-transform: uppercase;
}

.RadialRadio-heading-container
{
	horizontal-align:center;
	vertical-align: center;
	width:fit-children;
	flow-children:right;
	margin-top: 120px;
}

.RadialRadioHeading-text
{
	horizontal-align: center;
	vertical-align: center;
	width:fit-children;
	font-family: Stratum2 Bold Monodigit, 'Arial Unicode MS';
	color: #ffffffFF;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
}

.RadialRadioHeading-image
{
	horizontal-align:right;
	margin-left:12px;
	margin-top: 4px;
}

.RadialRadioTab-text
{
	horizontal-align: center;
	vertical-align: center;
	width: 180px;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: bold;
	color: #DDDDDDFF;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 1px #000000;
	padding-bottom: 100px;
}

.QuickInventorySegment--hover .RadialRadioSegment-text
{
	color: #FFFFFFFF;
}

.RadialRadioTab
{
	width: 750px;
	height: 750px;
	horizontal-align: center;
	vertical-align: center;
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #13131300 ), color-stop(0.09, #00000000), color-stop(0.09, #000000AA), color-stop(0.419, #000000), color-stop(0.419, #000000CC), color-stop(0.42, #000000CC), color-stop(0.42, #00000000), to( #00000000 ) );
}

.RadialRadioTab.MouseoverRadioTab--hover
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #13131300 ), color-stop(0.226, #13131300), color-stop(0.226, #131313DD), color-stop(0.28, #555555EE), color-stop(0.45, #555555EE), color-stop(0.45, #FFFFFFFF), color-stop(0.46, #FFFFFFFF), color-stop(0.46, #00000000), to( #00000000 ) );
}

.RadialRadioSegment
{
	width: 750px;
	height: 750px;
	horizontal-align: center;
	vertical-align: center;
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #00000000 ), color-stop(0.265, #00000000), color-stop(0.265, #000000d9), color-stop(0.43, #00000000), to( #00000000 ) );
}

.RadioRadialSegment--disabled
{
	wash-color: darkgrey;
}

.RadialRadioSegment.QuickInventorySegment--hover
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #00000000 ), color-stop(0.265, #00000000), color-stop(0.265, #EEEEEEd9), color-stop(0.268, #EEEEEEd9), color-stop(0.268, #000000), color-stop(0.35, #00000080), color-stop(0.43, #00000000), to( #00000000 ) );
	transform: scale3d( 1.005, 1.005, 1 );
}

.RadialRadioSettingsNavPanel
{
	width: 72.5%;
}

.RadialRadioSettingsNavPanel .content-navbar__tabs--small
{
	height:50px;
	padding-left:20px;
}

.RadialRadioSettingsSearch
{
	flow-children: none;
	height: 50px;
	border: 0px;
	border-bottom: 2px solid rgba(255, 255, 255, 1);
	color: baseText;
}

.RadialRadioSettingsSearch TextEntry
{
	border: 0px;
	font-size: 16px;
	margin-left: 30px;
}

.RadialRadioSettingsSearch TextEntry:focus
{
	box-shadow: none;
}

.RadialRadioSettingsSearch #PlaceholderText
{
	color: baseText;
	font-size: 16px;
}

.RadialRadioSettingsPanel
{
	flow-children: none;
	width: 100%;
	height: 320px;
	text-align: left;
	padding-right: 20px;
}

.RadialRadioSettingsSegment
{
	background-color: #00000033;
	horizontal-align: center;
	vertical-align: center;
	height: 48px;
	width: 188px;
	margin-left: 12px;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: bold;
	color: #DDDDDDFF;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 1px #000000;
	border-radius: 2px;
}

.RadialRadioSettingsSegment Label
{
	text-overflow: shrink;
}

.RadialRadioSettingsSegment:hover
{
	background-color: #44444433;
}

.RadialRadioSettingsSegment--selected
{
	background-color: #00000066;
}

.RadialRadioSettingsSegmentText
{
	margin-left: 40px;
	font-size: 14px;
	letter-spacing: 1px;
}

.RadialRadioSettingsScrollableOptionsPanel
{
	flow-children: down;
	width: 100%;
	height: 555px;
	overflow: squish scroll;
	background-color: #00000020;
	border-radius: 2px;
}

#chatwheel-settings-list VerticalScrollBar
{
	margin-right: 4px;
}

.RadialRadioSettingsSingleOptionPanel
{
	width: 90%;
	height: 40px;
}

.RadialRadioSettingsSingleOptionPanel--highlight
{
	animation-name: chatwheel-option-highlight;
	animation-duration: 1.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes 'chatwheel-option-highlight'
{
	0%
	{
		background-color: #44447744;
	}
	
	50%
	{
		background-color: #55558855;
	}
	
	100%
	{
		background-color: #44447744;
	}
	
}

.RadialRadioSettingsSingleOptionPanel--highlight:hover
{
	hue-rotation: 40deg;
}

.RadialRadioSettingsOptionLabel
{
	margin-left: 36px;
	color: #BBBBBBFF;
	font-size: 16px;
}

.RadialRadioSettingsOptionLabel:hover
{
	color: #ffffff;
	font-size: 16px;
}

.RadialRadioSettingsHeadingPanel
{
	width: 90%;
	height: 50px;
}

.RadialRadioSettingsHeadingLabel
{
	margin-left: 10px;
	color: #FFFFFFFF;
	font-weight: bold;
}

