/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.rating-root
{
	height: 26px;
	width: height-percentage(250%);
}

.rating-effect
{
	width: 100%;
	height: 100%;
	overflow: noclip;
	horizontal-align: center;
	vertical-align: center;
	-s2-mix-blend-mode: screen;
}

@define color-csrating-tier-0: #b0c3d9;
@define color-csrating-tier-1: #8cc6ff;
@define color-csrating-tier-2: #6a7dff;
@define color-csrating-tier-3: #c166ff;
@define color-csrating-tier-4: #f03cff;
@define color-csrating-tier-5: #eb4b4b;
@define color-csrating-tier-6: #ffd700;
#jsPremierRating,#jsRating-Competitive,#jsRating-Wingman
{
	visibility: collapse;
	opacity: 0;
}

.Premier #jsPremierRating,.Competitive #jsRating-Competitive,.Wingman #jsRating-Wingman
{
	visibility: visible;
	opacity: 1;
}

.image-rating
{
	width: 100%;
	height: 100%;
}

.comp-rating-label
{
	font-family: Stratum2 Condensed, 'Arial Unicode MS';
	horizontal-align: center;
	position: 0px 0px 0px;
	color: #c4c4c4;
	font-size: 18px;
	text-overflow: shrink;
}

.premier-rating
{
	width: 100%;
	height: 100%;
}

.premier-rating .rating__bg
{
	width: 100%;
	height: 100%;
	wash-color: color-csrating-tier-0;
	padding-bottom:1px;
}

.tier-0 .premier-rating .rating__bg
{
	wash-color: color-csrating-tier-0;
}

.tier-1 .premier-rating .rating__bg
{
	wash-color: color-csrating-tier-1;
}

.tier-2 .premier-rating .rating__bg
{
	wash-color: color-csrating-tier-2;
}

.tier-3 .premier-rating .rating__bg
{
	wash-color: color-csrating-tier-3;
}

.tier-4 .premier-rating .rating__bg
{
	wash-color: color-csrating-tier-4;
}

.tier-5 .premier-rating .rating__bg
{
	wash-color: color-csrating-tier-5;
}

.tier-6 .premier-rating .rating__bg
{
	wash-color: color-csrating-tier-6;
}

.premier-rating .rating__label-container
{
	width: 100%;
	height: 100%;
	horizontal-align:right;
	vertical-align:top;
	flow-children:right;
}

.premier-rating .rating__label-container .rating__value
{
	horizontal-align: center;
	vertical-align:center;
	margin-left: 10px;
	text-shadow: 1px 1px 1px 0 #000000;
	font-family: Stratum2 Black Italic, 'Arial Unicode MS';
	color: white;
	brightness: 1.7;
}

.premier-rating .rating__label-container .rating__value .major
{
	font-size: 18px;
	letter-spacing:0.1px;
}

.premier-rating .rating__label-container .rating__value .minor
{
	font-size: 14px;
	letter-spacing:0.5px;
}

.player-card-skillgroup .rating-root,.matchstakes-container .rating-root,.map-selection-btn .rating-root
{
	height: 32px;
	width: height-percentage(250%);
}

.player-card-skillgroup .premier-rating .rating__label-container .rating__value,.matchstakes-container .premier-rating .rating__label-container .rating__value,.map-selection-btn .premier-rating .rating__label-container .rating__value
{
	horizontal-align: center;
	text-align: center;
	vertical-align: center;
	margin-left: 8px;
	padding-top: 2px;
}

.player-card-skillgroup .premier-rating .rating__label-container .rating__value .major,.matchstakes-container .premier-rating .rating__label-container .rating__value .major,.map-selection-btn .premier-rating .rating__label-container .rating__value .major
{
	font-size: 23px;
}

.player-card-skillgroup .premier-rating .rating__label-container .rating__value .minor,.matchstakes-container .premier-rating .rating__label-container .rating__value .minor,.map-selection-btn .premier-rating .rating__label-container .rating__value .minor
{
	font-size: 18px;
}

.player-card-skillgroup .image-rating,.matchstakes-container .image-rating,.map-selection-btn .image-rating
{
	img-shadow: 0px 0px 5px 3.0 #000000;
}

.player-card-skillgroup.matchstakes-container .rating-root,.matchstakes-container.matchstakes-container .rating-root,.map-selection-btn.matchstakes-container .rating-root
{
	height: 40px;
}

.tier-0 .premier-rating Label
{
	wash-color: color-csrating-tier-0;
}

.tier-1 .premier-rating Label
{
	wash-color: color-csrating-tier-1;
}

.tier-2 .premier-rating Label
{
	wash-color: color-csrating-tier-2;
}

.tier-3 .premier-rating Label
{
	wash-color: color-csrating-tier-3;
}

.tier-4 .premier-rating Label
{
	wash-color: color-csrating-tier-4;
}

.tier-5 .premier-rating Label
{
	wash-color: color-csrating-tier-5;
}

.tier-6 .premier-rating Label
{
	wash-color: color-csrating-tier-6;
}

.eom-skillgroup .premier-rating .rating__label-container .rating__value
{
	horizontal-align: center;
	text-overflow: shrink;
	text-align: right;
	vertical-align: bottom;
	width: 100px;
	padding-top: 15%;
}

.eom-skillgroup .premier-rating .rating__label-container--eom
{
	width: 155px;
	height: 80%;
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
	margin-left: 26px;
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.eom-skillgroup .premier-rating .rating__label-container--eom.digitpanel-container-4-digit-offset
{
	transform: translateX(-16px);
}

.eom-skillgroup .premier-rating .rating__label-container--eom.digitpanel-container-3-digit-offset
{
	transform: translateX(-40px);
}

.eom-skillgroup .premier-rating .rating__label-container--eom .digitpanel-container
{
	height: 50px;
	transform: translateY(5px);
	horizontal-align: left;
	vertical-align:center;
}

.eom-skillgroup .premier-rating .rating__label-container--eom .digitpanel-container .digitpanel__digit
{
	transition-property: transform;
	transition-duration: 10s;
	transition-timing-function: ease-in-out;
	width: 50px;
}

.eom-skillgroup .premier-rating .rating__label-container--eom .digitpanel-container .digitpanel__digit Label
{
	font-family: Stratum2 Black Italic, 'Arial Unicode MS';
	width: 100%;
	font-weight: bold;
	color: white;
	text-shadow: 0px 0px 8px #000000;
}

#jsPremierRatingMajor
{
	height: 100%;
}

#jsPremierRatingMajor .digitpanel__digit
{
	width: 32px;
	margin-right: -4px;
}

#jsPremierRatingMajor .digitpanel__digit Label
{
	font-size: 60px;
}

#jsPremierRatingMinor
{
	height: 80%;
	transform: translateY(8px) translateX(-6px);
	overflow: noclip;
}

#jsPremierRatingMinor .digitpanel__digit
{
	width: 30px;
	margin-right: -6px;
}

#jsPremierRatingMinor .digitpanel__digit Label
{
	font-size: 50px;
}

#jsPremierRatingMinor #DigitPanel-Digit-0
{
	margin-right: -13px;
	margin-left: -8px;
}

