/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.RetakeLoadout
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
}

.RetakeLoadoutMenu--backdrop
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
}

.RetakeLoadoutMenu--main-container
{
	width: 0px;
	height: 512px;
	horizontal-align: center;
	vertical-align: center;
	border-radius: 3px;
	brightness: 10;
	opacity: 0;
	world-blur: hudWorldBlur;
	background-color: rgba(0, 0, 0, 0.5);
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: 0.04;
	transition-property: opacity, width, brightness;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.RetakeLoadoutMenu--main-container.show
{
	width: 900px;
	brightness: 1;
	opacity: 1;
	transition-property: opacity, width, brightness;
	transition-delay: .1s, 0s, 0s;
	transition-duration: .2s, 0.2s, 0.2s;
	transition-timing-function: linear;
}

.retake-cards-count-1 .RetakeLoadoutMenu--main-container.show
{
	width: 600px;
}

.retake-cards-count-2 .RetakeLoadoutMenu--main-container.show
{
	width: 780px;
}

.retake-cards-count-3 .RetakeLoadoutMenu--main-container.show
{
	width: 900px;
}

.retake-cards-count-4 .RetakeLoadoutMenu--main-container.show
{
	width: 1200px;
}

.RetakeLoadoutMenu--main-container.show .RetakeLoadoutMenu--main-titles-container
{
	width: fit-children;
	transition-property: width;
	transition-duration: .2s;
	transition-timing-function: linear;
}

.RetakeLoadoutMenu--main-container.show .RetakeLoadoutMenu--bar-white
{
	opacity: 0;
	transition-property: opacity,;
	transition-duration: .25s;
	transition-timing-function: ease-in;
}

.RetakeLoadoutMenu--main-container.show .RetakeLoadoutMenu--loadouts-container
{
	visibility: visible;
}

.RetakeLoadoutMenu--glitch-container
{
	width: 100%;
	height: 100%;
}

.RetakeLoadoutMenu--glitch-container .RetakeLoadoutMenu--bar-side
{
	width: 4px;
	height: 100%;
	background-color: white;
}

.RetakeLoadoutMenu--bar-white
{
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 1;
	transition-property: opacity,;
	transition-delay: .15s;
	transition-duration: .1s;
	transition-timing-function: ease-in;
}

.RetakeLoadoutMenu--main-titles-container
{
	flow-children: down;
	horizontal-align: center;
	margin-top: 18px;
	margin-bottom: 18px;
	width: 0px;
	transition-property: width;
	transition-delay: .15s;
	transition-duration: .1s;
	transition-timing-function: linear;
}

.RetakeLoadoutMenu--main-titles-container .RetakeLoadoutMenu--small-title
{
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	color: white;
	font-size: 22px;
	text-align: center;
}

.RetakeLoadoutMenu--main-titles-container .RetakeLoadoutMenu--large-title
{
	horizontal-align: center;
	vertical-align: center;
	font-stretch: condensed;
	text-transform: uppercase;
	color: white;
	font-size: 32px;
	letter-spacing: 8px;
	font-weight: bold;
	text-align: center;
}

.RetakeLoadoutMenu--loadouts-container
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
	visibility: collapse;
	transition-property: opacity;
	transition-duration: 0.11s;
	transition-timing-function: ease-in;
	perspective: 800px;
	perspective-origin: 50% 0%;
}

.RetakeLoadoutMenu--loadout-container
{
	animation-name: deal;
	animation-duration: 0.15s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 0.15s;
	animation-fill-mode: both;
	opacity: 0;
}

.RetakeLoadoutMenu--loadout-container.RetakeLoadoutMenu--loadout-container-0
{
	animation-delay: 0.15s;
}

.RetakeLoadoutMenu--loadout-container.RetakeLoadoutMenu--loadout-container-1
{
	animation-delay: 0.25s;
}

.RetakeLoadoutMenu--loadout-container.RetakeLoadoutMenu--loadout-container-2
{
	animation-delay: 0.45s;
}

.RetakeLoadoutMenu--loadout-container.RetakeLoadoutMenu--loadout-container-3
{
	animation-delay: .5s;
}

@keyframes 'deal'
{
	0%
	{
		transform: translateX(0%) translateY(-50%) rotateX( -1deg) rotateY(0deg) scaleX( 1);
		opacity: 0;
	}
	
	15%
	{
		opacity: 0;
	}
	
	100%
	{
		transform: translateX(0%) translateY(0%) rotateX(-1deg) rotateY(0deg) scaleX( 1);
		opacity: 1;
	}
	
}

.RetakeLoadoutMenu--card-container
{
	horizontal-align: center;
	vertical-align: center;
}

.RetakeLoadoutMenu--card-container .RetakeLoadoutMenu--card--contents
{
	width: 300px;
	height: 420px;
	brightness: 0.80;
	vertical-align: center;
	horizontal-align: center;
	pre-transform-scale2d: 1;
	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.25s;
	transition-timing-function: ease-in;
}

.RetakeLoadoutMenu--card-container .RetakeLoadoutMenu--card--contents .RetakeLoadoutMenu--card--contents-linemap
{
	width: 100%;
	height: 84%;
	margin: 20px 30px;
	horizontal-align:center;
	background-color:rgba(0, 0, 0, 0.25);
	background-image: url("s2r://panorama/images/backgrounds/linemap_png.vtex");
	background-size: 400px auto;
	background-img-opacity: .15;
	-s2-mix-blend-mode: additive;
}

#id-retake-card-container-1 .RetakeLoadoutMenu--card-container .RetakeLoadoutMenu--card--contents .RetakeLoadoutMenu--card--contents-linemap
{
	background-position: 100% 75%;
}

#id-retake-card-container-2 .RetakeLoadoutMenu--card-container .RetakeLoadoutMenu--card--contents .RetakeLoadoutMenu--card--contents-linemap
{
	background-position: 0% 75%;
}

#id-retake-card-container-3 .RetakeLoadoutMenu--card-container .RetakeLoadoutMenu--card--contents .RetakeLoadoutMenu--card--contents-linemap
{
	background-position: 25% 100%;
}

.RetakeLoadoutMenu--card-container .RetakeLoadoutMenu--card--contents-bg
{
	vertical-align: top;
	horizontal-align: center;
	transform: translateY(18px);
	width: 256px;
	height: 358px;
}

.RetakeLoadoutMenu--card-container .RetakeLoadoutMenu--card--contents-top
{
	vertical-align: top;
	horizontal-align: center;
	transform-origin: 50% 50%;
	margin-top: 0px;
	visibility: collapse;
	opacity: 1;
	transform:ScaleY(0);
	brightness: 15;
	img-shadow: 0px 0px 6px 5 white;
	padding: 8px;
	transition-property: brightness, transform, img-shadow;
	transition-delay: .25s;
	transition-duration: 0.25s, 0.2s;
	transition-timing-function: ease-in;
}

.RetakeLoadoutMenu--card-container .RetakeLoadoutMenu--card--contents-top.show
{
	visibility: visible;
	brightness: 2,5;
	transform:ScaleY( 1 );
	img-shadow: 0px 0px 6px 0 rgba(255, 255, 255, 0);
}

.RetakeLoadoutMenu--card-container .RetakeLoadoutMenu--card--type
{
	margin-top: 10px;
	horizontal-align: center;
	vertical-align: top;
	text-align: center;
	font-size: 20px;
	height: 22px;
	color: white;
	visibility: collapse;
	opacity: 0;
	transition-property: opacity;
	transition-delay: .3s;
	transition-duration: 0.25s;
	transition-timing-function: ease-in;
}

.RetakeLoadoutMenu--card-container .RetakeLoadoutMenu--card--type.show
{
	visibility: visible;
	opacity: 1;
}

.RetakeLoadoutMenu--card-container .RetakeLoadoutMenu--card--contents-middle
{
	vertical-align: center;
	horizontal-align: center;
	width: 280px;
	margin-bottom: 24px;
	z-index: 2;
}

.RetakeLoadoutMenu--card-container .RetakeLoadoutMenu--card--name
{
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-size: 24px;
	height: 26px;
	margin-bottom: 24px;
	color: white;
	z-index: 3;
}

.RetakeLoadoutMenu--card-container .RetakeLoadoutMenu--card--contents-primary
{
	horizontal-align: center;
	margin: 25px 28px;
	width: 100%;
	height: 160px;
	brightness: 1.4;
	background-color: rgba(0, 0, 0, 0.479);
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #000000b2 ), to( #00000000 ) );
	transition-property: transform, img-shadow;
	transition-duration: 0.25s;
	transition-timing-function: ease-in;
}

.RetakeLoadoutMenu--card-container .RetakeLoadoutMenu--card--contents-primary Image
{
	horizontal-align: center;
	vertical-align: center;
	img-shadow: 0px 8px 8px 2 rgba(105, 105, 105, 0.1);
	height: 64px;
	-s2-mix-blend-mode: additive;
}

.RetakeLoadoutMenu--card-container .RetakeLoadoutMenu--card--contents-utility
{
	flow-children: down;
	vertical-align: bottom;
	width: 100%;
	margin: 0px 26px 46px 27px;
	background-color: gradient( linear, 0% 0%, 0% 15%, from( #000000d3 ), to( #00000000 ) );
}

.RetakeLoadoutMenu--card-container .RetakeLoadoutMenu--card--contents-utility .RetakeLoadoutMenu--card--contents-utility-row
{
	flow-children:right;
}

.RetakeLoadoutMenu--card-container .RetakeLoadoutMenu--card--contents-utility .RetakeLoadoutMenu--card--contents-utility-row .RetakeLoadoutMenu--card--contents-utility-icon
{
	width: 80px;
	height: 80px;
	margin: 1px;
}

.RetakeLoadoutMenu--card-container .RetakeLoadoutMenu--card--contents-utility .RetakeLoadoutMenu--card--contents-utility-row .RetakeLoadoutMenu--card--contents-utility-icon Image
{
	horizontal-align: center;
	vertical-align: center;
	-s2-mix-blend-mode: additive;
	height: 48px;
	img-shadow: 0px 3px 4px 2 rgba(105, 105, 105, 0.1);
}

@keyframes 'reveal-qualifier'
{
	0%
	{
		transform:ScaleY(0,) translateY(8px);
	}
	
	100%
	{
		transform:ScaleY(1) translateY(8px);
	}
	
}

.card-hover .RetakeLoadoutMenu--card--contents
{
	brightness: 1.2;
	pre-transform-scale2d: 1.005;
	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.25s;
	transition-timing-function: ease-in;
}

.card-hover .RetakeLoadoutMenu--card--contents-primary
{
	transform: translateY( -4px );
	img-shadow: 0px 16px 16px 3 rgba(0, 0, 0, 0.5);
	transition-property: transform, img-shadow;
	transition-duration: 0.25s;
	transition-timing-function: ease-in;
}

.card-selected
{
	brightness: .5;
	saturation: .2;
	opacity: .8;
	transform: scale3D( .97, .97, 1);
}

.card-bonus .RetakeLoadoutMenu--card--contents-bg,.card-bonus .RetakeLoadoutMenu--card--contents-linemap,.card-bonus .RetakeLoadoutMenu--card--contents-middle,.card-bonus .RetakeLoadoutMenu--card--contents-top,.card-bonus .RetakeLoadoutMenu--card--contents-primary,.card-bonus .RetakeLoadoutMenu--card--contents-utility-icon
{
	wash-color: #ca2929;
}

.card-enemy-ct .RetakeLoadoutMenu--card--contents-bg,.card-enemy-ct .RetakeLoadoutMenu--card--contents-linemap,.card-enemy-ct .RetakeLoadoutMenu--card--contents-middle,.card-enemy-ct .RetakeLoadoutMenu--card--contents-primary,.card-enemy-ct .RetakeLoadoutMenu--card--contents-utility-icon,.card-enemy-t .RetakeLoadoutMenu--card--contents-bg,.card-enemy-t .RetakeLoadoutMenu--card--contents-linemap,.card-enemy-t .RetakeLoadoutMenu--card--contents-middle,.card-enemy-t .RetakeLoadoutMenu--card--contents-primary,.card-enemy-t .RetakeLoadoutMenu--card--contents-utility-icon,.card-utility-enemy .RetakeLoadoutMenu--card--contents-bg,.card-utility-enemy .RetakeLoadoutMenu--card--contents-linemap,.card-utility-enemy .RetakeLoadoutMenu--card--contents-middle,.card-utility-enemy .RetakeLoadoutMenu--card--contents-primary,.card-utility-enemy .RetakeLoadoutMenu--card--contents-utility-icon
{
	wash-color: rgb(213, 99, 217);
}

.card-enemy-ct .RetakeLoadoutMenu--card--contents-top,.card-enemy-t .RetakeLoadoutMenu--card--contents-top,.card-utility-enemy .RetakeLoadoutMenu--card--contents-top
{
	wash-color: rgb(224, 156, 226);
}

.card-enemy-ct .card-utility-enemy.RetakeLoadoutMenu--card--contents-utility-icon,.card-enemy-t .card-utility-enemy.RetakeLoadoutMenu--card--contents-utility-icon,.card-utility-enemy .card-utility-enemy.RetakeLoadoutMenu--card--contents-utility-icon
{
	wash-color: rgb(217, 143, 219);
	animation-name: ExtraPulse;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.card-mvp .RetakeLoadoutMenu--card--contents-bg,.card-mvp .RetakeLoadoutMenu--card--contents-linemap,.card-mvp .RetakeLoadoutMenu--card--contents-middle,.card-mvp .RetakeLoadoutMenu--card--contents-primary,.card-mvp .RetakeLoadoutMenu--card--contents-utility-icon
{
	wash-color: rgb(192, 28, 143);
}

.card-mvp .RetakeLoadoutMenu--card--contents-top
{
	wash-color: #DCB52D;
}

.card-mvp .card-utility-mvp.RetakeLoadoutMenu--card--contents-utility-icon
{
	wash-color: #DCB52D;
	animation-name: ExtraPulse;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.card-mil-spec .RetakeLoadoutMenu--card--contents-bg,.card-mil-spec .RetakeLoadoutMenu--card--contents-linemap,.card-mil-spec .RetakeLoadoutMenu--card--contents-middle,.card-mil-spec .RetakeLoadoutMenu--card--contents-top,.card-mil-spec .RetakeLoadoutMenu--card--contents-primary,.card-mil-spec .RetakeLoadoutMenu--card--contents-utility-icon
{
	wash-color: #97C9FA;
}

.card-utility-mvp .RetakeLoadoutMenu--card--contents-bg,.card-utility-mvp .RetakeLoadoutMenu--card--contents-linemap,.card-utility-mvp .RetakeLoadoutMenu--card--contents-middle,.card-utility-mvp .RetakeLoadoutMenu--card--contents-top,.card-utility-mvp .RetakeLoadoutMenu--card--contents-primary,.card-utility-mvp .RetakeLoadoutMenu--card--contents-utility-icon
{
	wash-color: #DCB52D;
}

@keyframes 'ExtraPulse'
{
	0%
	{
		brightness: 1;
		transform: scale3D( 1, 1, 1);
	}
	
	50%
	{
		brightness: 3;
		transform: scale3D( 1.1, 1.1, 1);
	}
	
	100%
	{
		brightness: 1;
		transform: scale3D( 1, 1, 1);
	}
	
}

