/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.RetakeLoadout
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
}

.RetakeLoadoutMenu--backdrop
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
	background-color: #000000b3;
}

.RetakeLoadoutMenu--main-container
{
	y:122px;
	width: 100%;
	height: 600px;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.20, #00000000 ), color-stop( 0.35, #000000cc ), color-stop( 0.65, #000000cc ), color-stop( 0.80, #00000000 ), to( #00000000 ) );
	transition-property: background-color;
	transition-duration: 0.01s;
	transition-timing-function: ease-in-out;
	padding: 0px 60px;
}

.RetakeLoadoutMenu--loadouts-container
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
	transition-property: opacity;
	transition-duration: 0.01s;
	transition-timing-function: ease-in;
	perspective: 800px;
	perspective-origin: 50% 0%;
}

#RetakeLoadoutMenu--loadout-container-0
{
	width: 320px;
	height: 400px;
	padding-top: 45px;
	padding-bottom: 5px;
	padding-right: 35px;
	padding-left: 1px;
	animation-name: deal;
	animation-duration: 0.10s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 0.0s;
	animation-fill-mode: both;
	opacity: 0;
}

#RetakeLoadoutMenu--loadout-container-1
{
	width: 320px;
	height: 400px;
	padding-top: 45px;
	padding-bottom: 5px;
	padding-right: 35px;
	padding-left: 1px;
	animation-name: deal;
	animation-duration: 0.10s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	opacity: 0;
}

#RetakeLoadoutMenu--loadout-container-2
{
	width: 320px;
	height: 400px;
	padding-top: 45px;
	padding-bottom: 5px;
	padding-right: 35px;
	padding-left: 1px;
	animation-name: deal;
	animation-duration: 0.10s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	opacity: 0;
}

#RetakeLoadoutMenu--loadout-container-3
{
	width: 320px;
	height: 400px;
	padding-top: 45px;
	padding-bottom: 5px;
	padding-right: 35px;
	padding-left: 1px;
	animation-name: deal;
	animation-duration: 0.10s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	opacity: 0;
}

.RetakeLoadoutMenu--card-container
{
	flow-children: down;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/icons/ui/retake_mil-spec.vsvg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	img-shadow: #000000 0px 0px 26px 0px;
	brightness:0.70;
	transform: rotateX(0deg);
}

@keyframes 'deal'
{
	0%
	{
		transform: translateX(0%) translateY(-50%) rotateX( -1deg) rotateY(0deg) scaleX( 1);
		opacity: 0;
	}
	
	15%
	{
		opacity: 0;
	}
	
	100%
	{
		transform: translateX(0%) translateY(0%) rotateX(-1deg) rotateY(0deg) scaleX( 1);
		opacity: 1;
	}
	
}

.RetakeLoadoutMenu--loadout-container-selected
{
	width: 320px;
	height: 400px;
	padding-top: 45px;
	padding-bottom: 5px;
	padding-right: 35px;
	padding-left: 1px;
}

.RetakeLoadoutMenu--card-container-selected
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	transform:Scale3d(1.02, 1.02, 1.02);
	brightness: 1.70;
	img-shadow: #00000049 0px 0px 6px 6px;
}

.card-bonus
{
	background-image: url("s2r://panorama/images/icons/ui/retake_red.vsvg");
}

.card-enemy-t
{
	background-image: url("s2r://panorama/images/icons/ui/retake_pink.vsvg");
}

.card-enemy-ct
{
	background-image: url("s2r://panorama/images/icons/ui/retake_pink.vsvg");
}

.card-mvp
{
	background-image: url("s2r://panorama/images/icons/ui/retake_purple.vsvg");
}

.card-mil-spec
{
	background-image: url("s2r://panorama/images/icons/ui/retake_blue.vsvg");
}

.card-hover
{
	brightness: 1.40;
	transform:Scale3d(1.07, 1.07, 1.07);
}

.card-utility-mvp
{
	wash-color: #DCB52D;
}

.card-utility-enemy
{
	wash-color: #ff77ffff;
}

.RetakeLoadoutMenu--loadout-weapon-container
{
	horizontal-align: center;
	vertical-align: center;
	margin: 5px;
	flow-children: down;
}

.RetakeLoadoutMenu--loadout-utilities-middle-container
{
	horizontal-align: center;
	vertical-align: center;
	margin-top: 18px;
	margin-left: 10px;
	margin-right: 15px;
	width: 190px;
	height: 60px;
	flow-children: right;
}

.RetakeLoadoutMenu--loadout-utilities-bottom-container
{
	horizontal-align: center;
	vertical-align: center;
	margin-top: 15px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 15px;
	width: 190px;
	height: 80px;
	flow-children: right;
}

.RetakeLoadoutMenu--loadout-utility-slot
{
	margin-right: 9px;
	width: 58px;
	height: 58px;
}

.RetakeLoadoutMenu--loadout-weapon-icon
{
	width: 200px;
	height: 121px;
	horizontal-align: center;
	vertical-align: center;
	wash-color: #ffffff;
	margin-top:5px;
	margin-left: 10px;
	margin-right: 10px;
	overflow:noclip;
	img-shadow: #000000ee 0px 0px 12px 16px;
}

.RetakeLoadoutMenu--loadout-utility-icon-empty
{
	horizontal-align: center;
	vertical-align:center;
	wash-color: #ffffff;
	margin-right: 16px;
	margin-left: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	width:32px;
	height:32px;
	overflow: noclip;
}

.RetakeLoadoutMenu--loadout-utility-icon
{
	horizontal-align: center;
	vertical-align:center;
	wash-color: #ffffff;
	margin-right: 16px;
	margin-left: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: noclip;
	img-shadow: #000000ee 0px 0px 12px 16px;
}

.RetakeLoadoutMenu--loadout-utility-icon-extra
{
	horizontal-align: center;
	vertical-align:center;
	margin-right: 14px;
	margin-left: 18px;
	margin-top: 16px;
	margin-bottom: 18px;
	overflow: noclip;
	transition-timing-function: ease-in-out;
	animation-name: ExtraPulse;
	animation-duration: 3.3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	img-shadow: #000000ee 0px 0px 12px 16px;
}

@keyframes 'ExtraPulse'
{
	0%
	{
		opacity: 0.0;
		transform:Scale3d(1.00, 1.00, 1.00);
	}
	
	20%
	{
		opacity: 1.0;
		transform:Scale3d(1.20, 1.20, 1.20);
	}
	
	40%
	{
		opacity: 0.5;
		transform:Scale3d(1.00, 1.00, 1.00);
	}
	
	60%
	{
		opacity: 1.0;
		transform:Scale3d(1.20, 1.20, 1.20);
	}
	
	80%
	{
		opacity: 0.5;
		transform:Scale3d(1.00, 1.00, 1.00);
	}
	
	100%
	{
		opacity: 0.0;
		transform:Scale3d(2.2, 2.2, 2.2);
	}
	
}

.RetakeLoadoutMenu--loadout-defuse-icon
{
	horizontal-align: center;
	vertical-align:center;
	wash-color: #ffffff;
	margin-right: 16px;
	margin-left: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: noclip;
	img-shadow: #000000ee 0px 0px 12px 16px;
}

.RetakeLoadoutMenu--loadout-defuse-icon-empty
{
	horizontal-align: center;
	vertical-align:center;
	wash-color: #ffffff;
	margin-right: 16px;
	margin-left: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	width:32px;
	height:32px;
	overflow: noclip;
	visibility:collapse;
}

.RetakeLoadoutMenu--loadout-armor-icon
{
	horizontal-align: center;
	vertical-align:center;
	wash-color: #ffffff;
	margin-right: 20px;
	margin-left: 12px;
	margin-top: 16px;
	margin-bottom: 10px;
	overflow: noclip;
	img-shadow: #000000ee 0px 0px 12px 16px;
}

.RetakeLoadoutMenu--loadout-armor-icon-empty
{
	horizontal-align: center;
	vertical-align:center;
	wash-color: #ffffff;
	margin-right: 16px;
	margin-left: 16px;
	margin-top: 15px;
	margin-bottom: 15px;
	width:48px;
	height:32px;
	overflow: noclip;
	visibility:collapse;
}

.RetakeLoadoutMenu--bombsite-title
{
	horizontal-align: center;
	vertical-align: center;
	width: 800px;
	font-family: notosans, 'Arial Unicode MS';
	font-stretch: condensed;
	text-transform: uppercase;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( gray));
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 1px #000000;
	margin-top: 30px;
}

.RetakeLoadoutMenu--loadouts-title
{
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 36px;
	font-family: Stratum2, 'Arial Unicode MS';
	color: #888888;
	font-size: 22px;
	text-align: center;
	text-shadow: 2px 2px 1px #000000;
	margin-top: 15px;
}

.RetakeLoadoutMenu--loadout-container-selected .RetakeLoadoutMenu--card-title
{
	margin-top: 25px;
}

.RetakeLoadoutMenu--loadout-container-selected .RetakeLoadoutMenu--card-star-enemy,.RetakeLoadoutMenu--loadout-container-selected .RetakeLoadoutMenu--card-star-bonus,.RetakeLoadoutMenu--loadout-container-selected .RetakeLoadoutMenu--card-star-mvp
{
	margin-top: 20px;
	margin-right: 16px;
}

.RetakeLoadoutMenu--card-star-enemy
{
	width: 90px;
	height: 90px;
	background-color: #ffcc9900;
	vertical-align: top;
	horizontal-align: right;
	margin-top:0px;
	margin-right:10px;
	transform: translateX(8%) translateY(-8%);
}

.RetakeLoadoutMenu--card-star-bonus
{
	width: 90px;
	height: 90px;
	background-color: #ffcc9900;
	vertical-align: top;
	horizontal-align: right;
	transform: translateX(8%) translateY(-8%);
}

.RetakeLoadoutMenu--card-star-mvp
{
	width: 90px;
	height: 90px;
	background-color: #ffcc9900;
	vertical-align: top;
	horizontal-align: right;
	transform: translateX(8%) translateY(-8%);
}

.RetakeLoadoutMenu--card-star-title-enemy
{
	horizontal-align: center;
	margin-bottom: 6px;
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	transform: rotateZ(15deg);
	z-index: 10;
	text-transform: uppercase;
	text-shadow: 0px 0px 2px 0.0 #00000077;
}

.RetakeLoadoutMenu--card-star-title-bonus
{
	horizontal-align: center;
	margin-bottom: 6px;
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	transform: rotateZ(15deg);
	z-index: 10;
	text-transform: uppercase;
	text-shadow: 0px 0px 2px 0.0 #00000077;
}

.RetakeLoadoutMenu--card-star-title-mvp
{
	margin-bottom: 6px;
	horizontal-align: center;
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	transform: rotateZ(15deg);
	z-index: 10;
	text-transform: uppercase;
	text-shadow: 0px 0px 2px 0.0 #00000077;
}

.RetakeLoadoutMenu--card-title
{
	width: 800px;
	text-align: center;
	horizontal-align: center;
	font-family: Stratum2, 'Arial Unicode MS';
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 1px 1px #00000066;
	margin-top: 20px;
	margin-bottom: 1px;
}

.RetakeLoadoutSegment-text:hover
{
	color: #FFFFFFFF;
}

.RetakeLoadoutSegmentSelectedCenter-image
{
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 160px;
	img-shadow: 1px 1px 20px 0.1 #222222;
	wash-color: #FFFFFF;
}

.RetakeLoadoutSegment--hover .RetakeLoadoutSegment-image
{
	wash-color: #FFFFFF;
}

.RetakeLoadoutMenu--loadout-utility-amount-text
{
	horizontal-align: center;
	vertical-align: center;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: bold;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	text-shadow: 1px 1px 1px #000000;
	margin: 10px 0px;
	text-overflow: shrink;
}

.QuickInventorySegment--hover .RetakeLoadoutSegment-text
{
	color: #FFFFFFFF;
}

.RetakeLoadoutSegment.QuickInventorySegment--hover
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #00000000 ), color-stop(0.17, #00000000), color-stop(0.17, #000000F0), color-stop(0.260, #000000D9), color-stop(0.480, #000000B3), color-stop(0.481, #00000000), to( #00000000 ) );
}

.RetakeLoadoutSegmentFlashAnim
{
	opacity: 1.5;
	animation-name: FlashAnim;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1.2;
}

@keyframes 'FlashAnim'
{
	0%
	{
		opacity: 1.5;
		wash-color: #ffffffff;
	}
	
	50%
	{
		opacity: 0.0;
		wash-color: #ffffff00;
	}
	
	100%
	{
		opacity: 1.5;
		wash-color: #ffffffff;
	}
	
}

.flow-down
{
	flow-children: down;
}

.circle_enemy
{
	width: 80px;
	height: 80px;
	horizontal-align: center;
	vertical-align: center;
	border: 2px solid #00000022;
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #CBA2DF ), to( #A080B9 ) );
	border-radius: 50%;
	img-shadow: 0px 0px 4px 0.0 #000000;
}

.RetakeLoadoutMenu--card-star-enemy .circle2
{
	width: 72px;
	height: 72px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	horizontal-align: center;
	vertical-align: center;
	background-image: url("s2r://panorama/images/icons/ui/retake_circle2_png.vtex");
	z-index: 2;
	opacity: 0.15;
	animation-name: SpinnerZ;
	animation-duration: 56s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.RetakeLoadoutMenu--card-star-enemy .circle3
{
	width: 76px;
	height: 76px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	horizontal-align: center;
	vertical-align: center;
	background-image: url("s2r://panorama/images/icons/ui/retake_circle3_png.vtex");
	z-index: 1;
	opacity: 0.5;
	animation-name: SpinnerZ;
	animation-duration: 8s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.RetakeLoadoutMenu--card-star-enemy .circle4
{
	width: 54px;
	height: 54px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	horizontal-align: center;
	vertical-align: center;
	background-image: url("s2r://panorama/images/icons/ui/retake_circle3_png.vtex");
	wash-color: #000000;
	z-index: 4;
	opacity: 0.3;
	animation-name: SpinnerZcc;
	animation-duration: 18s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.RetakeLoadoutMenu--card-star-enemy .radial
{
	width: 72px;
	height: 72px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	horizontal-align: center;
	vertical-align: center;
	background-image: url("s2r://panorama/images/icons/ui/retake_radial_lines_png.vtex");
	opacity: .15;
	z-index: 4;
	animation-name: SpinnerZcc;
	animation-duration: 66s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.circle_bonus
{
	width: 80px;
	height: 80px;
	horizontal-align: center;
	vertical-align: center;
	border: 10px solid #BF434399;
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #AA3232 ), to( #662222 ) );
	border-radius: 50%;
	img-shadow: 0px 0px 4px 0.0 #000000;
}

.RetakeLoadoutMenu--card-star-bonus .circle2
{
	width: 86px;
	height: 86px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	horizontal-align: center;
	vertical-align: center;
	background-image: url("s2r://panorama/images/icons/ui/retake_circle2_png.vtex");
	wash-color: #662222;
	z-index: 2;
	opacity: 0.4;
	animation-name: SpinnerZcc;
	animation-duration: 16s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.RetakeLoadoutMenu--card-star-bonus .circle3
{
	width: 88px;
	height: 88px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	horizontal-align: center;
	vertical-align: center;
	background-image: url("s2r://panorama/images/icons/ui/retake_circle3_png.vtex");
	wash-color: #AA3232;
	z-index: 1;
	opacity: 0.5;
	animation-name: SpinnerZ;
	animation-duration: 38s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.RetakeLoadoutMenu--card-star-bonus .circle4
{
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	horizontal-align: center;
	vertical-align: center;
	background-image: url("s2r://panorama/images/icons/ui/retake_circle3_png.vtex");
	wash-color: #D19696;
	z-index: 4;
	opacity: 0.4;
	animation-name: SpinnerZcc;
	animation-duration: 18s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.RetakeLoadoutMenu--card-star-bonus .radial
{
	width: 72px;
	height: 72px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	horizontal-align: center;
	vertical-align: center;
	background-image: url("s2r://panorama/images/icons/ui/retake_radial_lines_png.vtex");
	wash-color: #662222;
	opacity: .45;
	z-index: 4;
	animation-name: SpinnerZcc;
	animation-duration: 66s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.circle_mvp
{
	width: 76px;
	height: 76px;
	horizontal-align: center;
	vertical-align: center;
	border: 8px solid #ffffff22;
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #DCB52D ), to( #937610 ) );
	border-radius: 50%;
	img-shadow: 0px 0px 4px 0.0 #000000;
}

.RetakeLoadoutMenu--card-star-mvp .circle2
{
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	horizontal-align: center;
	vertical-align: center;
	background-image: url("s2r://panorama/images/icons/ui/retake_circle2_png.vtex");
	wash-color: #000000;
	z-index: 2;
	opacity: 0.2;
	animation-name: SpinnerZcc;
	animation-duration: 33s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.RetakeLoadoutMenu--card-star-mvp .circle3
{
	width: 56px;
	height: 56px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	horizontal-align: center;
	vertical-align: center;
	background-image: url("s2r://panorama/images/icons/ui/retake_circle3_png.vtex");
	z-index: 1;
	opacity: 0.5;
	animation-name: SpinnerZ;
	animation-duration: 8s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.RetakeLoadoutMenu--card-star-mvp .circle4
{
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	horizontal-align: center;
	vertical-align: center;
	background-image: url("s2r://panorama/images/icons/ui/retake_circle3_png.vtex");
	z-index: 4;
	opacity: 0.2;
	animation-name: SpinnerZcc;
	animation-duration: 18s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.RetakeLoadoutMenu--card-star-mvp .radial
{
	width: 72px;
	height: 72px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	horizontal-align: center;
	vertical-align: center;
	background-image: url("s2r://panorama/images/icons/ui/retake_radial_lines_png.vtex");
	opacity: .1;
	z-index: 4;
	animation-name: SpinnerZ;
	animation-duration: 66s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'SpinnerZ'
{
	0%
	{
		transform: rotateZ( 1deg );
	}
	
	50%
	{
		transform: rotateZ( 180deg );
	}
	
	100%
	{
		transform: rotateZ( 359deg );
	}
	
}

@keyframes 'SpinnerZcc'
{
	0%
	{
		transform: rotateZ( 359deg );
	}
	
	50%
	{
		transform: rotateZ( 180deg );
	}
	
	100%
	{
		transform: rotateZ( 1deg );
	}
	
}

