/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define active-segment-border-color: rgba(150, 200, 200, 1);
.segmented-progress-bar-root
{
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
}

.segmented-progress-bar-root .spb-whole-bar
{
	width: 100%;
	flow-children: right;
	vertical-align: center;
}

.segmented-progress-bar-root .spb-whole-bar .progress-bar-segment
{
	vertical-align: center;
	flow-children: right;
	height: 26px;
}

.segmented-progress-bar-root .spb-whole-bar .progress-bar-segment ProgressBar
{
	height: 10px;
	background-color: none;
	width:fill-parent-flow(1);
	opacity: 1;
	vertical-align: center;
	border: 1.2px solid black;
}

.segmented-progress-bar-root .spb-whole-bar .progress-bar-segment #pbs-progresspip
{
	vertical-align: center;
	horizontal-align: center;
	opacity: 1;
}

.segmented-progress-bar-root .spb-whole-bar .progress-bar-segment #pbs-progresspip #pbs-progresspip-center
{
	opacity: 0;
	vertical-align:center;
	horizontal-align:center;
}

.segmented-progress-bar-root .spb-whole-bar .progress-bar-segment #pbs-progresspip #pbs-progresspip-outline
{
	opacity: 0;
	vertical-align:center;
	horizontal-align:center;
}

.segmented-progress-bar-root .spb-whole-bar .progress-bar-segment #pbs-progresspip #pbs-progress-goal-label
{
	opacity:0;
	vertical-align:center;
	horizontal-align:center;
}

.segmented-progress-bar-root .spb-whole-bar .progress-bar-segment #pbs-progress-goal-label
{
	font-size: 14px;
	color: rgb(255, 255, 255);
	font-family: Stratum2 Condensed;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	y:0px;
}

.segmented-progress-bar-root #spbBackground
{
	opacity: 1;
}

.segmented-progress-bar-root #spbBackground ProgressBar
{
	opacity:1;
}

.segmented-progress-bar-root #spbBackground ProgressBar .ProgressBarRight
{
	background-color: rgba(0, 0, 0, 0.5);
}

.segmented-progress-bar-root #spbBackground ProgressBar .ProgressBarLeft
{
	background-color: black;
}

.segmented-progress-bar-root #spbBackground #pbs-progresspip
{
	opacity: 1;
}

.segmented-progress-bar-root #spbBackground #pbs-progresspip #pbs-progresspip-outline
{
	opacity: 1;
}

.segmented-progress-bar-root #spbBackground #pbs-progresspip #pbs-progresspip-center
{
	wash-color: rgb(0, 0, 0);
	img-shadow: 0px 0px 0px 2.0 #00000000;
	opacity: 0.5;
}

.segmented-progress-bar-root #spbBackground #pbs-progresspip #pbs-progress-goal-label
{
	opacity:1;
}

.segmented-progress-bar-root #spbBase
{
	visibility: visible;
}

.segmented-progress-bar-root #spbBase .progress-bar-segment ProgressBar .ProgressBarRight
{
	opacity: 0;
}

.segmented-progress-bar-root #spbBase .progress-bar-segment ProgressBar .ProgressBarLeft
{
	background-color: rgb(19, 135, 168);
}

.segmented-progress-bar-root #spbBase .progress-bar-segment.complete .ProgressBarLeft
{
	background-color: rgb(19, 135, 168);
}

.segmented-progress-bar-root #spbBase .progress-bar-segment.complete #pbs-progresspip-center
{
	opacity: 1;
	wash-color: rgb(19, 135, 168);
}

.segmented-progress-bar-root #spbBase .progress-bar-segment.complete #pbs-progress-goal-label
{
	opacity:1;
}

.segmented-progress-bar-root #spbLive
{
	visibility: visible;
}

.segmented-progress-bar-root #spbLive .progress-bar-segment .ProgressBarRight
{
	opacity: 0;
}

.segmented-progress-bar-root #spbLive .progress-bar-segment .ProgressBarLeft
{
	background-color: rgb(201, 253, 255);
}

.segmented-progress-bar-root #spbLive .progress-bar-segment.complete #pbs-progress-goal-label
{
	color: rgb(0, 0, 0);
}

.segmented-progress-bar-root #spbLive .progress-bar-segment.complete #pbs-progresspip-center
{
	opacity: 1;
	wash-color: rgb(201, 253, 255);
}

.segmented-progress-bar-root #spbLive .progress-bar-segment.complete #pbs-progress-goal-label
{
	opacity:1;
}

