/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.ShieldDamageAlert
{
	width: 110px;
	height: 110px;
	vertical-align: center;
	horizontal-align: center;
}

.ShieldDamageAlertOverlay
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/icons/ui/shield_alert.vsvg");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat no-repeat;
	wash-color: #ffe100;
	opacity: 0.7;
}

.ShieldDamageAlertBackdrop
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/icons/ui/shield_alert.vsvg");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat no-repeat;
	wash-color: #000000FF;
	opacity: 0.5;
}

.ShieldDamageAlertProgress
{
	border: 1px solid #ffe100;
	width: 100%;
	height: 10%;
	background-color: #ffe100;
	margin-top: 100px;
	opacity: 0.7;
}

