/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.simple-avatar
{
	width: 100%;
	flow-children: right;
	opacity: 1;
	transition-property: opacity, transform, position, brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.simple-avatar:hover
{
	brightness: 1.5;
	background-color: rgba( 0, 0, 0, 0.2);
}

.simple-avatar.hidden
{
	opacity: 0;
	transform: scale3d( 0.9, 0.9, 1);
	transition-property: opacity, transform, position, brightness;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.simple-avatar CSGOAvatarImage
{
	width: 30px;
	height: 30px;
}

.simple-avatar-name
{
	font-size: 18px;
	padding: 0px 8px;
	width: 100%;
	text-overflow: ellipsis;
	vertical-align: center;
	color: #EEEEEE;
	font-weight: bold;
	text-shadow: 1px 1px 2px #000000;
	max-height: 20px;
}

