/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

ToggleButton.btn-toggle-slider
{
	flow-children: left;
	vertical-align: center;
}

.btn-toggle-slider--playmenu ToggleButton.btn-toggle-slider
{
	flow-children: right;
	width: 240px;
	padding: 6px 20px;
}

.btn-toggle-slider--playmenu:hover:not(:disabled)
{
	background-color: rgba(255, 255, 255, 0.05);
}

ToggleButton.btn-toggle-slider:disabled,.btn-toggle-slider--playmenu:disabled
{
	wash-color: disabledColor;
}

#id-friendslist-section-list ToggleButton.btn-toggle-slider:disabled
{
	wash-color: #929292;
}

ToggleButton.btn-toggle-slider .TickBox
{
	visibility: collapse;
}

ToggleButton.btn-toggle-slider:selected .btn-toggle-slider__pill
{
	background-color: gradient( radial, 50% 60%, 0% 0%, 90% 70%, from( #22a527 ), color-stop( .7, #22a527), to( rgb(10, 88, 10) ) );
	vertical-align: center;
	border: 1.5px solid #147717;
	transition-property: background-color, box-shadow;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

ToggleButton.btn-toggle-slider:active
{
	sound: "UIPanorama.checkbox_toggle";
}

.btn-toggle-slider__pill
{
	height: 20px;
	width: 42px;
	vertical-align: center;
	background-color: rgba(0, 0, 0, 0.445);
	border-radius: 16px;
	border: 1.5px solid rgba(0, 0, 0, 0.363);
	padding: 2px;
	margin: 2px 2px 2px 0px;
	background-color: gradient( radial, 50% 60%, 0% 0%, 90% 70%, from( rgba(0, 0, 0, 0.363) ), color-stop( .7, rgba(0, 0, 0, 0.363)), to( rgba(0, 0, 0, 0.363) ) );
	horizontal-align: left;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.btn-toggle-slider__slider
{
	background-color: white;
	border-radius: 50%;
	height: 100%;
	width: height-percentage( 100% );
	vertical-align: center;
	box-shadow: shadowOffset;
	transition-property: transform, background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.btn-toggle-slider:disabled,.btn-toggle-slider--playmenu
{
	box-shadow:none;
}

.btn-toggle-slider--playmenu .btn-toggle-slider__pill
{
	horizontal-align: right;
}

.btn-toggle-slider:selected .btn-toggle-slider__slider
{
	transform: translateX( 50% );
	transition-property: transform, background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

ToggleButton.btn-toggle-slider Label,ToggleButton.btn-toggle-slider:selected Label
{
	font-size: 16px;
	font-family: stratum2Font;
	font-weight: medium;
	color:white;
	text-overflow: shrink;
	padding: 0px 14px;
	margin-left: 0px;
}

.btn-toggle-slider--playmenu ToggleButton.btn-toggle-slider Label,.btn-toggle-slider--playmenu ToggleButton.btn-toggle-slider:selected Label
{
	padding: 0px 7px 0px 0px;
	width: fill-parent-flow( 1);
}

.InlineImage
{
	height: 24px;
}

