/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

#SalesBanner
{
	position: 705px 153px 0px;
	width: 937px;
	height: 191px;
}

#BannerContents
{
	width: 937px;
	height: 175px;
	flow-children: right;
	overflow: scroll squish;
}

#BannerContents.CanScrollHorizontal
{
	padding-left: 20px;
	padding-right: 20px;
}

#BannerContentsBg
{
	background-color: #52595F;
	opacity: 1.0;
}

#BannerControls
{
	position: 637px 157px 0px;
	width: 300px;
	height: 34px;
}

#BannerControlsBgShadow
{
	border-radius: 5px 5px 5px 5px;
	height: 35%;
	vertical-align: bottom;
}

#BannerControlsBg
{
	border-radius: 5px 5px 5px 5px;
	box-shadow: none;
	background-color: #52595F;
	opacity: 1.0;
}

.StoreItem
{
	width: 128px;
	height: 128px;
	padding: 0px 5px 0px 5px;
}

.StoreItem #ItemTitle
{
	font-size: 12px;
	position: 10px 15px 0px;
}

.StoreItem #ItemDescription
{
	font-size: 10px;
	position: 10px 40px 0px;
}

.StoreItem #ItemButton
{
	position: 10px -10px 0px;
	vertical-align: bottom;
	height: 20px;
	background-color: #34a05F;
}

.StoreItem #ItemButton:hover
{
	brightness: 1.4;
}

.StoreItem .Double
{
	width: 256px;
}

.StoreItem .Triple
{
	width: 462px;
}

