/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.tablet_panolayer
{
	width: 1024px;
	height: 1024px;
	background-color: #00000000;
}

.tablet_notify_text_shared
{
	horizontal-align: left;
	vertical-align: top;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: bold;
	letter-spacing: 0px;
	font-size: 28px;
	border-left: 100px;
	border-right: 10px;
	border-bottom: 1px solid rgba(0,0,0,1);
	margin-left: -90px;
	transform: translatex( 0px );
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.tablet_notify_UpgradeHighRes
{
	color: rgb(0, 0, 0);
	background-color: rgba(221,199,40,0.6);
}

.tablet_notify_UpgradeZone
{
	color: rgb(0, 0, 0);
	background-color: rgba(187,52,50,0.6);
}

.tablet_notify_UpgradeDrone
{
	color: rgb(0, 0, 0);
	background-color: rgba(69,165,203,0.6);
}

.tablet_notify_HostageTransit
{
	color: rgb(0, 0, 0);
	background-color: rgba(238,168,0,0.6);
}

.tablet_notify_IncomingDelivery
{
	color: rgb(0, 0, 0);
	background-color: rgba(109,233,238,0.6);
}

.tablet_notify_AccessBuymenu
{
	color: rgb(0, 0, 0);
	background-color: rgba(0,255,0,0.6);
}

.tablet_notify_ReturnToSafeArea
{
	color: rgb(0, 0, 0);
	background-color: rgba(255,0,0,0.6);
}

.tablet_notify_SatelliteSignalLost
{
	color: rgb(0, 0, 0);
	background-color: rgba(200,200,200,0.6);
}

.tablet_notify_HighlightedSectors
{
	color: rgb(0, 0, 0);
	background-color: rgba(243,215,24,0.6);
}

.tablet_notify_ExplorationPayment
{
	color: rgb(0, 0, 0);
	background-color: rgba(0,200,0,0.6);
}

.tablet_notify_BombPlanted
{
	color: rgb(0, 0, 0);
	background-color: rgba(238,168,0,0.6);
}

.tablet_notify_BombDetonated
{
	color: rgb(0, 0, 0);
	background-color: rgba(238,168,0,0.6);
}

.tablet_notify_PurchaseConfirmation
{
	color: rgb(0, 0, 0);
	background-color: rgba(109,233,238,0.6);
}

.tablet_notify_BombWaveMoney
{
	color: rgb(0, 0, 0);
	background-color: rgba(0,200,0,0.6);
}

.tablet_notify_ParadropsAllowed
{
	color: rgb(195, 75, 60);
	background-color: rgba(55, 55, 55, 0.6);
}

.tablet_notify_RespawnInbound
{
	color: rgb(228, 248, 255);
	background-color: rgba(207, 52, 22, 0.9);
}

.tablet_notify_UpgradeDronePilotNone
{
	color: rgb(181, 13, 244);
	background-color: rgba(74, 30, 81, 0.6);
}

.tablet_notify_UpgradeDronePilotReady
{
	color: rgb(181, 13, 244);
	background-color: rgba(74, 30, 81, 0.6);
}

.tablet_notify_NearbyCrate
{
	color: rgb(175, 144, 144);
	background-color: rgba(100, 31, 31, 0.6);
}

.tablet_panolayer-text-bombtimer
{
	margin-left: 87.5%;
	margin-top: 29%;
	horizontal-align: left;
	vertical-align: top;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: bold;
	text-shadow: 0px 0px 2px 5.0 #000000;
	color: #be0d0dFF;
	font-size: 32px;
}

.tablet_panolayer-bg-container
{
	margin-top: 16.5%;
	margin-left: 3%;
	flow-children:down;
}

.tablet_panolayer-notification-container
{
	margin-top: 0%;
	margin-left: 0%;
}

.tablet_notify_Unset
{
	opacity: 0;
	transform: translatex( -100px );
}

