/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.teamintro-root
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.teamintro-root.CT
{
	background-color: gradient( linear, 0% 0%, 0% 25%, from( rgba(37, 75, 105, 0.8) ), to( rgba(37, 75, 105, 0) ));
}

.teamintro-root.TERRORIST
{
	background-color: gradient( linear, 0% 0%, 0% 25%, from( rgba(92, 74, 33, 0.8) ), to( rgba(92, 74, 33, 0) ));
}

.teamintro-root.no-background
{
	background-color: none;
}

.teamintro-root.active
{
	visibility: visible;
}

.team-intro-header
{
	horizontal-align: center;
	vertical-align: top;
	flow-children: down;
}

.team-intro-header.hidden
{
	opacity: 0;
}

.team-intro-icon
{
	width: 100px;
	height: 100px;
	margin-top: 30px;
	horizontal-align: center;
	padding: 10px;
	img-shadow: 0px 0px 10px 0px #000000;
}

.premier .team-intro-icon
{
	visibility: collapse;
}

.team-intro-half-label
{
	horizontal-align: center;
	text-transform: uppercase;
	font-family: Stratum2 Bold Condensed, 'Arial Unicode MS';
	font-size: 50px;
	color: white;
	text-shadow: 1px 1px 1px 1 black;
}

.premier .team-intro-half-label
{
	margin-top: 30px;
}

.team-intro-team-label
{
	horizontal-align: center;
	font-family: stratum2, 'Arial Unicode MS';
	font-weight: normal;
	font-size: 25px;
	color: white;
	text-shadow: 1px 1px 1px 1 black;
}

#Avatar
{
	horizontal-align: center;
}

.team-intro-teammate-info
{
	flow-children: down;
	transition-duration: 0.2s;
	transition-property: opacity;
	-s2-mix-blend-mode: normal;
	overflow: noclip;
}

.team-intro-teammate-info.hidden
{
	opacity: 0;
}

.team-intro-teammate-info #AvatarImage
{
	width: 48px;
	height: 48px;
	background-size: 48px;
	horizontal-align: center;
	vertical-align: center;
	box-shadow: 1px 1px 1.67px 1.67 #000000f0;
}

.CT .team-intro-teammate-info #AvatarImage
{
	background-image: url("s2r://panorama/images/hud/teamcounter/teamcounter_alivebgct_psd.vtex");
}

.TERRORIST .team-intro-teammate-info #AvatarImage
{
	background-image: url("s2r://panorama/images/hud/teamcounter/teamcounter_alivebgt_psd.vtex");
}

.team-intro-teammate-name
{
	font-family: Stratum2 Medium Condensed, 'Arial Unicode MS';
	text-overflow: shrink min(20px) ellipsis;
	horizontal-align: center;
	opacity: 1;
	font-size: 30px;
	max-width: 160px;
	max-height: 40px;
	text-align: center;
	text-shadow: 1px 1px 1px 1 #000000f0;
	brightness: 2;
}

.Language_vietnamese .team-intro-teammate-name
{
	font-family: ForceStratum2, 'Arial Unicode MS';
	font-weight: medium;
	font-stretch: condensed;
}

.team-intro-fade
{
	background-color: black;
	transition-property: opacity;
}

.team-intro-fade.hidden
{
	opacity: 0;
}

