/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.team-select-fallback-hidden
{
	opacity: 0;
}

.team-select
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.mainmenu-content
{
	background-color: gradient( linear, 0% 91.5%, 0% 90.5%, from( #00000080 ), to( #00000000 ));
}

#BtnSelectTeam-TERRORIST.team-select-button
{
	background-color: gradient( linear, 0% 0%, 0% 30%, from( rgba(92, 74, 33, 1) ), to( rgba(92, 74, 33, 0) ));
	z-index: -10;
}

#BtnSelectTeam-TERRORIST.team-select-button:hover
{
	background-color: gradient( linear, 0% 0%, 0% 40%, from( rgba(92, 74, 33, 1) ), to( rgba(92, 74, 33, 0) ));
}

#BtnSelectTeam-CT.team-select-button
{
	background-color: gradient( linear, 0% 0%, 0% 30%, from( rgba(37, 75, 105, 1) ), to( rgba(37, 75, 105, 0) ));
	z-index: -10;
}

#BtnSelectTeam-CT.team-select-button:hover
{
	background-color: gradient( linear, 0% 0%, 0% 40%, from( rgba(37, 75, 105, 1) ), to( rgba(37, 75, 105, 0) ));
}

.TeamSelectBtnDivider
{
	width: .2%;
	height: 90%;
}

.teamselect-blur
{
	height: 100%;
	width: 100%;
	brightness: 0.7;
	blur: gaussian( 6, 6, 3 );
}

.team-select__timer
{
	width: 60px;
	height: 60px;
	horizontal-align: center;
	vertical-align: top;
	margin-top: 40px;
	z-index: 20;
}

.team-select__timer__bg
{
	width: 100%;
	height:100%;
	horizontal-align: center;
	border-radius: 50%;
	opacity: 0.6;
	border: 2px solid #333;
}

@keyframes 'teamselect-animation'
{
	0%
	{
		clip:radial(50% 50%, 0deg, 0deg);
		opacity: 1;
	}
	
	60%
	{
		wash-color: #fff;
	}
	
	98%
	{
		opacity: 1;
	}
	
	100%
	{
		clip:radial(50% 50%, 0deg, 360deg);
		wash-color: red;
		opacity: 0;
	}
	
}

.team-select__timer__bar
{
	width: 60px;
	height: 60px;
	horizontal-align: center;
	vertical-align: center;
	border: 8px solid #333;
	border-radius: 50%;
	z-index: 22;
	animation-duration: 15.01s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-name: teamselect-animation;
}

.team-select__timer Label
{
	horizontal-align: center;
	font-size: 22px;
	font-weight: bold;
	vertical-align: center;
	color: #ffffff;
	z-index: 22;
	animation-duration: 15s;
}

.Language_vietnamese .team-select__timer Label
{
	font-family: 'Noto Mono', 'Arial Unicode MS';
	font-size: 16px;
}

.team-select__timer Label Countdown.CountdownAfterEnd
{
	visibility: collapse;
}

.WindowRoot_TripleMonitor #AutojoinTimer
{
	width: 33%;
}

.team-select__timer Image
{
	width: 20px;
	height: 20px;
	margin-right: 8px;
	vertical-align: middle;
	wash-color: White;
}

.team-select-icon-container
{
	width: 100px;
	height: 100px;
	horizontal-align: center;
	opacity: 0.4;
	ignore-parent-flow: true;
	padding: 20px;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.team-select-icon
{
	width: 100px;
	height: 100px;
	margin-top: 30px;
	horizontal-align:center;
	padding: 10px;
	brightness: 0.5;
	img-shadow: 0px 0px 10px 0px #000000;
	transition-property: brightness;
}

.team-select-button:hover .team-select-icon
{
	brightness: 1.5;
}

.team-select-button
{
	width: 50%;
	height: 90%;
}

.team-select-list,.team-select-list__title,.team-select-list__subtitle,.team-select-icon-title,.team-select__timer Label
{
	-s2-mix-blend-mode: normal;
	color: white;
	text-shadow: 1px 1px 2px black;
}

.team-select-icon-title
{
	width: 800px;
	height: 100%;
	vertical-align: middle;
	flow-children: down;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.team-select-icon-title__labels
{
	flow-children: down;
	horizontal-align: center;
	width: 407px;
	padding: 10px;
}

.team-select-button:hover .team-select-icon-title__labels,.team-select-button:hover .team-select-teammate
{
	animation-duration: 0.25s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	z-index: 10;
}

.team-select-button:hover .team-select-teammate
{
	opacity:1.0;
	z-index: 10;
}

.team-select-list__title
{
	vertical-align: top;
	horizontal-align: center;
	text-transform: uppercase;
	font-family: Stratum2 Bold Condensed, 'Noto Sans';
	font-size: 50px;
}

.team-select-list__subtitle
{
	vertical-align: top;
	font-weight: lighter;
	text-transform: none;
	font-weight: normal;
	horizontal-align: center;
	text-align: center;
}

.WindowRoot_TripleMonitor .team-select-list-container
{
	horizontal-align: center;
	width: 33%;
}

.team-select-list
{
	width: fit-children;
	max-height: 280px;
	flow-children: down-wrap;
	horizontal-align:center;
	z-index: 10;
}

.team-select-teammate
{
	visibility: visible;
	transform: scaleY( 1 );
	transition-property: transform, position;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
	width: 200px;
	flow-children:right;
	margin: 4px;
	opacity: 0.8;
}

.team-select-teammate:not(.bot) Label
{
	color:black;
	-s2-mix-blend-mode: normal;
}

#Teammate.team-select-teammate.bot
{
	background-color:#303030;
	opacity:0.8;
}

.team-select-list--t .team-select-teammate
{
	background-color: t-color;
	box-shadow: #0000005e 0px 0px 6px 0px;
}

.team-select-list--ct .team-select-teammate
{
	background-color: ct-color;
	box-shadow: #0000005e 0px 0px 6px 0px;
}

.team-select-list__subtitle.fontSize-m
{
	font-weight: bold;
	font-size: 20px;
}

Label
{
	-s2-mix-blend-mode: additive;
	font-weight: bold;
	font-family: stratum2Font;
	text-overflow: ellipsis;
}

.team-select-teammate__name
{
	vertical-align: center;
	margin-left: 8px;
	height: 24px;
	font-size: 17px;
	letter-spacing: .35px;
}

#TeamSelectButtons
{
	border-top: 0px;
}

.WindowRoot_TripleMonitor #TeamSelectButtons
{
	horizontal-align: center;
	width: 33%;
}

.team-select-error
{
	flow-children: right;
	padding:16px;
	border-radius: 2px;
	vertical-align: center;
	horizontal-align: center;
	wash-color: warningColor;
	background-color: rgba(0, 0, 0, 0.50);
	opacity: 1;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.team-select-error__label
{
	margin-left: 8px;
	color:white;
}

.team-select-error.hidden
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.team-select-fade
{
	background-color: black;
	transition-property: opacity;
}

.team-select-fade.hidden
{
	opacity: 0;
}

@keyframes 'ping'
{
	0%
	{
		brightness: .5;
	}
	
	100%
	{
		brightness: 1;
	}
	
}

