/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define backgroundGradient: gradient( linear, 75% 100%, 0% 0%, from( #14202b ), to( #1e2d3d ) );
#Contents
{
	padding: 0px;
}

.frame-root
{
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.0;
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.frame-root.hover
{
	opacity: 1;
}

.estt-root
{
	background-color: #ffffff05;
	width: 100%;
	height: 100%;
	background-color: #00000000;
}

.estt-header
{
	border-bottom: 1px solid #ffffff30;
	width:100%;
	horizontal-align: center;
	text-align: center;
	flow-children: right;
}

.estt-lineup
{
	padding: 8px;
	width: 100%;
	height: 100%;
}

#id-estt-header__team-logo
{
	vertical-align: center;
	horizontal-align: center;
	width: 50px;
	height: 50px;
	position: 0px -16px 0px;
}

.img-shadow
{
	img-shadow: 2px 2px 2px #000000;
}

.estt-header__team-name
{
	font-weight: medium;
	vertical-align: center;
	text-shadow: 2px 2px 2px #000000;
	text-align: left;
	font-size: 16px;
}

.estt-player
{
	margin: 5px;
	vertical-align: center;
	horizontal-align: center;
}

.estt-player__name
{
	horizontal-align:center;
	font-size: 12px;
	font-weight: bold;
	text-overflow: shrink;
	max-width: 100px;
	text-align: center;
}

.estt-player__photo
{
	width: 64px;
	height: width-percentage( 100% );
	box-shadow: -1px 1px 3px 0px #000;
	border-radius: 50%;
	margin-bottom: 5px;
	background-image: url("s2r://panorama/images/icons/ui/pro_player.vsvg");
	background-size: 100%;
}

.estt-blurbackground
{
	blur:gaussian( 4, 4, 6 );
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

#id-estt-blur
{
	pre-transform-scale2d: 3, 3;
	opacity: 0.2;
}

.player0
{
	position: -15% -32% 0%;
}

.player1
{
	position: 15% -32% 0%;
}

.player2
{
	position: -30% -3% 0%;
}

.player3
{
	position: 30% -3% 0%;
}

.player4
{
	position: 0% 23% 0%;
}

