/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define vanity-loadout-width: 1000px;
@define vanity-loadout-width-content: 960px;
@define vanity-loadout-offset: 20px;
@define vanity-loadout-height: 400px;
@define vanity-loadout-nametag-width: 30px;
@define vanity-nameplate-x-offset: -465px;
@define select-border: 1.5px solid #ffffff40;
.vanity-loadout-root
{
	vertical-align: bottom;
	horizontal-align: center;
	transform: translateY(-100px) translateX(vanity-loadout-offset);
	overflow: noclip;
	visibility: collapse;
	width: vanity-loadout-width;
	height: vanity-loadout-height;
	transition-property: transform;
	transition-duration: 0.3s, 1.0s;
	transition-timing-function: ease-in-out;
	border-radius: 5px;
}

.vanityloadout-border
{
	width: 100%;
	height: 100%;
	border-right: 5px solid white;
}

.unhide
{
	visibility: visible;
}

.visible
{
	visibility: visible;
}

.vanity-loadout-interior
{
	width:vanity-loadout-width-content;
	height: 100%;
	world-blur: hudWorldBlur;
	background-color: hud-blur-bg-color;
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: 0.015;
}

.vanity-loadout-interior #id-collection-background
{
	width: 100%;
	height: 100%;
	background-size: 33px 25px;
	background-img-opacity: 0.05;
	saturation: 0;
}

.vanity-loadout-interior #id-vanity-loadout-playername__label
{
	vertical-align: center;
	horizontal-align: center;
	pre-transform-rotate2d: -90deg;
	transform: translateX(vanity-nameplate-x-offset);
	width: vanity-loadout-height;
	height: vanity-loadout-nametag-width;
	text-align: center;
	font-family: Stratum2 Medium Condensed, 'Arial Unicode MS';
	letter-spacing: 2px;
	font-size: 25px;
	background-color: white;
	color: black;
}

.vanity-loadout-interior .loadout-column
{
	flow-children: down;
	width: 120px;
}

.vanity-loadout-interior .loadout-column .loadout-slot
{
	height: 70px;
	height: fill-parent-flow(1);
	width: height-percentage( 133% );
	horizontal-align: center;
	margin: 4px 0px;
}

.vanity-loadout-interior .loadout-column .loadout-slot .item-rarity-dot
{
	width: 5px;
	height: width-percentage(100%);
	vertical-align:bottom;
	horizontal-align:left;
	margin: 10px;
}

.vanity-loadout-interior .loadout-column .loadout-slot .item-clip-icon
{
	width: 10px;
	wash-color: rgb(180,180,180);
	vertical-align: bottom;
	horizontal-align:left;
	margin: 8px 20px;
	visibility: collapse;
}

.vanity-loadout-interior .loadout-column .loadout-slot .item-image
{
	height: 60px;
	width: height-percentage( 133% );
	horizontal-align: center;
	transition-property: transform, brightness, img-shadow;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
	img-shadow: -1px 2px 2px .5 rgba(0, 0, 0, .2);
}

.vanity-loadout-interior .loadout-column .loadout-slot .item-image:hover
{
	transform: translatey( -3px);
	img-shadow: -3px 3px 3px .5 rgba(0, 0, 0, .2);
}

.vanity-loadout-interior #id-vanity-contents
{
	margin-left: vanity-loadout-nametag-width;
	height: 100%;
	width: 100%;
	opacity-mask: url("panel://id-wipe");
}

.vanity-loadout-interior #id-vanity-contents .loadout-grid__slots__container
{
	padding: 20px 0px;
	vertical-align:center;
	horizontal-align:right;
	flow-children: right;
	width: 400px;
}

.vanity-loadout-interior #id-vanity-contents .loadout-grid__slots__container .loadout-column
{
	width: 33.3%;
}

.vanity-loadout-interior #id-vanity-contents .loadout-grid__slots__container #id-loadout-mid
{
	border-left: 1px solid #ffffff10;
	border-right: 1px solid #ffffff10;
}

.vanity-loadout-interior #id-vanity-contents .loadout-agent
{
	width: 600px;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
	x:-150px;
	ignore-parent-flow: true;
	transition-property: opacity, brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
	opacity-mask: url("s2r://panorama/images/masks/fade-both-left-right3_png.vtex");
}

.vanity-loadout-interior #id-vanity-contents #id-vanity-loadout-misc
{
	padding: 20px 0px;
	horizontal-align:left;
}

.vanity-loadout-interior #id-vanity-contents #id-vanity-loadout-misc .vanity-loadout-flair,.vanity-loadout-interior #id-vanity-contents #id-vanity-loadout-misc .vanity-loadout-musickit,.vanity-loadout-interior #id-vanity-contents #id-vanity-loadout-misc .vanity-loadout-melee,.vanity-loadout-interior #id-vanity-contents #id-vanity-loadout-misc .vanity-loadout-gloves
{
	horizontal-align: center;
	height: fill-parent-flow(1);
}

.vanity-loadout-interior #id-vanity-contents #id-vanity-loadout-misc #id-flair,.vanity-loadout-interior #id-vanity-contents #id-vanity-loadout-misc #id-musickit,.vanity-loadout-interior #id-vanity-contents #id-vanity-loadout-misc #id-melee,.vanity-loadout-interior #id-vanity-contents #id-vanity-loadout-misc #id-gloves
{
	width:80px;
	height:width-percentage(100%);
	vertical-align: center;
}

#id-close-tab
{
	horizontal-align: right;
	border-radius: 5px;
}

#id-close-tab #jsCloseBackground
{
	background-color: white;
	width: 100%;
	height: 100%;
	world-blur: hudWorldBlur;
	background-color: hud-blur-bg-color;
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: 0.015;
}

#id-wipe
{
	width: 100%;
	height: 100%;
	pre-transform-scale2d: 0;
	background-color: white;
}

#id-wipe #id-glitch
{
	width: 100%;
	height: 100%;
	opacity: 0;
	background-image: url("file://{resources}/videos/digital_glitch.webm");
	visibility: collapse;
}

.unhide #id-wipe #id-glitch
{
	visibility: visible;
}

.wipe #id-glitch
{
	animation-name: anim-glitch;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-delay: 0.0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

@keyframes 'anim-glitch'
{
	0%
	{
		opacity: 0;
	}
	
	1%
	{
		opacity: 1.0;
	}
	
	50%
	{
		opacity: 1.0;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

#active-selector
{
	visibility: collapse;
	width: 100%;
	height: 100%;
	background-color: rgba( 0,0,0,0.4);
	padding: 2px;
	brightness: 2;
}

#active-selector .border-corner
{
	width: 6px;
	height: width-percentage(100%);
}

#active-selector #id-t-l
{
	border-top: select-border;
	border-left: select-border;
	horizontal-align: left;
	vertical-align: top;
}

#active-selector #id-t-r
{
	border-top: select-border;
	border-right: select-border;
	horizontal-align: right;
	vertical-align: top;
}

#active-selector #id-b-l
{
	border-bottom: select-border;
	border-left: select-border;
	horizontal-align: left;
	vertical-align: bottom;
}

#active-selector #id-b-r
{
	border-bottom: select-border;
	border-right: select-border;
	horizontal-align: right;
	vertical-align: bottom;
}

.active #active-selector
{
	visibility: visible;
}

.PopupButton
{
	padding: 5px;
	opacity: 0.1;
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.PopupButton:hover
{
	opacity: 1;
}

.PopupButton Image
{
	margin: 2px;
}

.item-rarity-dot.default
{
	wash-color:rgb(66, 60, 60);
}

.item-rarity-dot.common
{
	wash-color:rgb(153, 153, 153);
}

.item-rarity-dot.uncommon
{
	wash-color:color-rarity-uncommon;
}

.item-rarity-dot.rare
{
	wash-color:color-rarity-rare;
}

.item-rarity-dot.mythical
{
	wash-color:color-rarity-mythical;
}

.item-rarity-dot.ancient
{
	wash-color:color-rarity-ancient;
}

.item-rarity-dot.legendary
{
	wash-color:color-rarity-legendary;
}

.item-rarity-dot.immortal
{
	wash-color:color-rarity-immortal;
}

