/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.VanityLoadoutPopup
{
	horizontal-align: right;
	vertical-align: center;
	width: 960px;
	height: 100%;
	transform: translateX( vanity-loadout-width );
	transition-property: transform;
	transition-duration: .4s;
	transition-timing-function: ease-out;
}

.VanityLoadoutPopup.visible
{
	transform: translateX(0px);
}

.VanityLoadoutPopup .VanityLoadout__bg
{
	world-blur: hudWorldBlur;
	background-color: hud-blur-bg-color;
	height: 100%;
	width: 100%;
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: 0.02;
}

.VanityLoadoutPopup .VanityLoadout__bg .VanityLoadout__bg__rarity
{
	width:100%;
	height:100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff ), color-stop( 0.9, #00000000 ) ,to( #00000000 ) );
	opacity: 0.5;
}

.VanityLoadoutPopup .HudWeaponInspect__border
{
	height: 100%;
	width: 100%;
	border-left: 5px solid white;
}

.VanityLoadoutPopup #jsWeaponInspectImagePanel
{
	height: 100%;
	width: 100%;
}

.VanityLoadoutPopup #VanityLoadout__interior
{
	width: 100%;
	height: 100%;
	padding: 20px;
}

.VanityLoadoutPopup #VanityLoadout__interior #VanityLoadout__item-primary
{
	horizontal-align: left;
	vertical-align: top;
	flow-children: down;
}

.VanityLoadoutPopup #VanityLoadout__interior #VanityLoadout__item-primary #vanityloadout__item-info__playername
{
	font-family: Stratum2 Medium Condensed, 'Arial Unicode MS';
	font-weight: medium;
	text-align: left;
	font-size: 30px;
}

.VanityLoadoutPopup #VanityLoadout__interior #VanityLoadout__item-primary #vanityloadout__item-weaponname-container
{
	flow-children: down;
}

.VanityLoadoutPopup #VanityLoadout__interior #VanityLoadout__item-primary #vanityloadout__item-weaponname-container #vanityloadout__item-info__rarity
{
	border-left: 4px solid white;
	ignore-parent-flow: true;
}

.VanityLoadoutPopup #VanityLoadout__interior #VanityLoadout__item-primary #vanityloadout__item-weaponname-container #vanityloadout__item-info__weaponname
{
	font-family: Stratum2 Medium Condensed, 'Arial Unicode MS';
	font-weight: medium;
	text-align: left;
	font-size: 24px;
	color: white;
}

.VanityLoadoutPopup #VanityLoadout__interior #VanityLoadout__item-info
{
	horizontal-align: left;
	vertical-align: bottom;
	opacity: 1;
	flow-children: down;
}

.VanityLoadoutPopup #VanityLoadout__interior #VanityLoadout__item-info .vanityloadout__item-info__label
{
	font-family: Stratum2 Medium Condensed, 'Arial Unicode MS';
	text-align: left;
	font-size: 18px;
	letter-spacing: 1px;
	horizontal-align: left;
}

.VanityLoadoutPopup #VanityLoadout__interior #VanityLoadout__item-info #vanityloadout__item-info__collection
{
	font-size: 24px;
}

.VanityLoadoutPopup #VanityLoadout__interior .weapon-name-custom
{
	horizontal-align: center;
	vertical-align: top;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: light;
	font-style: italic;
	text-align: left;
	font-size: 18px;
	color: white;
	max-width: 800px;
}

.VanityLoadoutPopup #VanityLoadout__interior .button-container
{
	flow-children:right;
	vertical-align: bottom;
	horizontal-align: right;
}

.VanityLoadoutPopup #VanityLoadout__interior .button-container #jsFindOnMarket
{
	height: 40px;
}

.VanityLoadoutPopup #VanityLoadout__interior .button-container #jsFindOnMarket Label
{
	font-size: 18px;
	font-family: Stratum2 Medium Condensed, 'Arial Unicode MS';
	margin: 2px;
}

.VanityLoadoutPopup #VanityLoadout__interior #jsCloseInspect
{
	vertical-align: top;
	horizontal-align: right;
}

.VanityLoadoutPopup #VanityLoadout__interior #jsCloseInspect Image
{
	transform: scaleX(-1);
}

.VanityLoadoutPopup #id-highlight-clip-container
{
	background-color: black;
	height: 100%;
	width:100%;
	visibility: collapse;
	transform: scaleY( 0 );
	transition-property: transform;
	transition-duration: .4s;
	transition-timing-function: ease-out;
}

.VanityLoadoutPopup #id-highlight-clip-container #VanityHighlightClip
{
	height: 100%;
	width:height-percentage(167%);
	horizontal-align: center;
	vertical-align:center;
}

.VanityLoadoutPopup #id-highlight-clip-container #jsCloseClip
{
	vertical-align:top;
	horizontal-align:right;
	margin:20px;
}

.IsPlaying #id-highlight-clip-container
{
	visibility: visible;
	transform: scaleY(1);
}

.default #jsFindOnMarket
{
	visibility: collapse;
}

.default .wash-rarity
{
	wash-color:rgb(66, 60, 60);
}

.common .wash-rarity
{
	wash-color:rgb(153, 153, 153);
}

.uncommon .wash-rarity
{
	wash-color:color-rarity-uncommon;
}

.rare .wash-rarity
{
	wash-color:color-rarity-rare;
}

.mythical .wash-rarity
{
	wash-color:color-rarity-mythical;
}

.ancient .wash-rarity
{
	wash-color:color-rarity-ancient;
}

.legendary .wash-rarity
{
	wash-color:color-rarity-legendary;
}

.immortal .wash-rarity
{
	wash-color:color-rarity-immortal;
}

