/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.hidden
{
	visibility: collapse;
}

.wmt__status
{
	width: 5px;
	height: 100%;
	horizontal-align:left;
}

.wmt-container
{
	padding: 4px 4px;
	margin: 2px 2px 2px 4px;
	horizontal-align: left;
	width: 295px;
	background-color: #00000088;
}

.wmt__inner-container
{
	horizontal-align: center;
	vertical-align: center;
	width: 90%;
}

.wmt-container:hover
{
	brightness: 1.4;
	background-color: #00000088;
	transition-property: brightness, background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.wmt-btn
{
	width: 100%;
	horizontal-align: center;
	vertical-align: center;
}

.wmt__team
{
	flow-children: right;
	width: 45%;
}

.wmt Label
{
	font-size: 16px;
	font-weight: medium;
	margin: 10px 6px 6px 6px;
	text-overflow:ellipsis;
	color: #ffffff;
}

Label.wmt__datum--teamname
{
	font-size: 12px;
	text-overflow: ellipsis;
	vertical-align: center;
}

Button.wmt
{
	margin: 0px;
	vertical-align: center;
}

@keyframes 'live-pulse'
{
	0%
	{
		background-color: #5fff6c;
		box-shadow: #5fff6c 2px 0px 3px 0px;
	}
	
	50%
	{
		background-color: #3cca48;
		box-shadow: #3cca48 1px 0px 1px 0px;
	}
	
	100%
	{
		background-color: #5fff6c;
		box-shadow: #5fff6c 2px 0px 3px 0px;
	}
	
}

.wmt__status.streams_available
{
	background-color: #5fff6c;
	box-shadow: #5fff6c 2px 0px 3px 0px;
	animation-name: live-pulse;
	animation-duration: 30s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.id-wmt__status:not(.streams_available)
{
	background-color: #00000022;
}

.watchmatch__event__logo
{
	margin-left:20px;
	horizontal-align: center;
	vertical-align: center;
}

.wmt__datum
{
	font-size: 16px;
	vertical-align: center;
	margin-right: 3px;
}

.wmt__datum--vs
{
	font-weight: medium;
	text-transform: lowercase;
	font-size: 12px;
	vertical-align: center;
}

.watchmatch__event__watch
{
	max-width: 100px;
	height: width-percentage( 100% );
	margin-left: 10px;
	vertical-align: center;
	horizontal-align: right;
}

Label.watchmatch__event__watch__label
{
	font-size: 14px;
	font-weight: medium;
	text-transform: uppercase;
	vertical-align: center;
	margin: 10px 6px 6px 10px;
}

Image.wmt__datum--teamlogo
{
	width: 25px;
	height: 25px;
	margin: 0px 8px 0px 4px;
}

.has_data:hover
{
	transition-property: transform, brightness;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
	brightness: 2;
}

.wmt__datum--teamname
{
	color: #dadada;
	font-weight: medium;
}

.wmt__streams-container
{
	horizontal-align: right;
	flow-children: right;
}

.wmt__stream
{
	width: 22px;
	height: width-percentage( 100% );
	background-position: 0% 0%;
	background-size: auto 100%;
	background-img-opacity: 0.5;
	margin: 3px;
	vertical-align: center;
}

.wmt__stream__flag
{
	width: 82%;
	height: width-percentage( 60% );
	position: 8% 26% 0px;
	img-shadow: 0px 0px 0px #000000;
}

Button:hover,ToggleButton:hover,RadioButton:hover
{
	sound: 'UIPanorama.sidemenu_rollover';
}

