/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define grid-tile-width: 260px;
@define grid-tile-height: 130px;
@define xpshop-content-width: 1400px;
.xpshop
{
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: collapse;
	background-color: rgba(0, 0, 0, 0.055);
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop.Active
{
	opacity: 1;
	visibility: visible;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

#id-store-pages .xpshop .xpshop__content
{
	margin-right: 64px;
}

.xpshop .xpshop__background
{
	width: 100%;
	height: 100%;
	flow-children: down;
	background-color: rgba(0, 0, 0, 0.05);
	background-image: url("s2r://panorama/images/backgrounds/xpshop_background_png.vtex");
	background-size: clip_then_cover;
	background-position: 50% 0%;
}

.xpshop .xpshop__content
{
	width: 100%;
	horizontal-align:center;
	height: 100%;
}

.xpshop__background-particle
{
	width: 100%;
	height: 100%;
	opacity: .2;
	ignore-parent-flow: true;
}

.xpshop__tracks-container
{
	width: 100%;
	height: 120px;
	margin-right: 64px;
}

.xpshop__tracks
{
	width: xpshop-content-width;
	padding-left: 32px;
	padding-right: 32px;
	height: 100%;
	horizontal-align: center;
	overflow: noclip;
	border-bottom: 1px solid xpshop-green;
}

.xpshop__tracks .xpshop__tracks_upsell
{
	height: 100%;
	horizontal-align: right;
	flow-children: left;
}

.xpshop__tracks .xpshop__tracks_upsell .xpshop__tracks_info_btn
{
	vertical-align: center;
	tooltip-position: bottom;
}

.xpshop__tracks .xpshop__tracks_upsell_text,.xpshop__tracks .xpshop__tracks_balance_text
{
	font-size: 28px;
	width: 500px;
	text-align: right;
	color: xpshop-green;
	margin-right: 8px;
}

.xpshop__tracks .xpshop__tracks_balance_text
{
	width: 64px;
	max-height: 32px;
	text-overflow: shrink;
}

.xpshop__tracks .xpshop__tracks_upsell_image
{
	width: 128px;
	height: 92px;
	vertical-align: center;
	margin: 0px 16px;
}

.xpshop__tracks .xpshop__active-tracks
{
	flow-children: right;
	vertical-align: center;
	transition-property: width;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__tracks .xpshop__points
{
	flow-children: down;
	vertical-align: top;
	horizontal-align: right;
}

.xpshop__tracks .xpshop__points .xpshop__points-container
{
	flow-children: right;
	margin-bottom: 4px;
}

.xpshop__tracks .xpshop__points .xpshop__points-container Label
{
	font-size: 42px;
	vertical-align: center;
	color: white;
	transform: translateY(2px);
}

.xpshop__tracks .xpshop__points .xpshop__points-container Image
{
	vertical-align: center;
	wash-color: xpshop-green;
}

.text-color-white
{
	color:white;
}

.xpshop__tracks_upsell-btn
{
	background-color: xpshop-green;
	vertical-align: center;
	padding: 8px 16px;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__tracks_upsell-btn Label
{
	color: black;
	font-family: Stratum2 Medium Condensed, "Arial Unicode MS";
	font-size: 28px;
	text-align: center;
}

.xpshop__tracks_upsell-btn.xpshop__more-passes-btn
{
	vertical-align: bottom;
	horizontal-align: right;
	padding: 4px 8px;
}

.xpshop__tracks_upsell-btn.xpshop__more-passes-btn Label
{
	color: black;
	font-family: Stratum2 Medium Condensed, "Arial Unicode MS";
	font-size: 18px;
}

.xpshop__tracks_upsell-btn.confirm-btn
{
	font-size: 14px;
	padding: 6px 12px;
}

.xpshop__tracks_upsell-btn.confirm-btn Label
{
	font-size: 18px;
}

.xpshop__tracks_upsell-btn.activate-pass-btn
{
	horizontal-align: center;
	background-color: xpshop-green;
	box-shadow: #044731 0px 0px 48px 3px;
	animation-name: anim-activate-pass-btn;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.xpshop__tracks_upsell-btn.clear-pass-btn
{
	horizontal-align: center;
	background-color: #188f67);
	box-shadow: #055339 0px 0px 48px 3px;
	animation-name: none;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.xpshop__tracks_upsell-btn:hover:not(:disabled)
{
	sound: "UIPanorama.submenu_rollover";
	background-color: white;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__tracks_upsell-btn:hover:not(:disabled) Label
{
	color: xpshop-green-dark;
}

.xpshop__tracks_upsell-btn:disabled
{
	opacity: .1;
}

.xpshop__tracks_upsell-btn.hidden
{
	opacity: 0;
	visibility: collapse;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

@keyframes 'anim-activate-pass-btn'
{
	0%
	{
		box-shadow: #055339 0px 0px 48px 4px;
		brightness: 1;
	}
	
	50%
	{
		box-shadow: xpshop-green-dark 0px 0px 48px 3px;
		brightness: 2;
	}
	
	100%
	{
		box-shadow: #055339 0px 0px 48px 4px;
		brightness: 1;
	}
	
}

.xpshop-label-star
{
	width: 20px;
	height: 20px;
}

.xpshop__item-tile
{
	width: fill-parent-flow(1);
	height: 100%;
	margin: 8px;
	background-color: #1A5050;
}

.xpshop__item-tile.lootlist
{
	height: 40%;
}

.xpshop__item-tile .xpshop__item-tile__limited-item-carousel
{
	width: 100%;
	height: 100%;
}

.xpshop__item-tile .xpshop__item-tile__limited-item-carousel .limited-item-carousel__image
{
	width: 98%;
	horizontal-align: center;
	vertical-align: center;
}

.xpshop__item-tile .xpshop__item-tile__new-tag
{
	padding: 2px 8px 2px 10px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(193, 90, 219)), to( rgb(161, 17, 197)) );
	color: white;
	font-weight: medium;
	transform: rotateZ(-90deg) translateX(-16px);
	vertical-align: center;
	horizontal-align: left;
	box-shadow: fill #000000af 0px 1px 6px 0px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	font-size: 16px;
	z-index: 5;
}

.xpshop__item-tile .xpshop__item-tile__bg
{
	width: 100%;
	height: 100%;
	background-color: rgba(92, 91, 91, 0.05);
	z-index: 1;
}

.xpshop__item-tile .xpshop__item-tile__header
{
	padding: 12px 0px 0px 12px;
	flow-children: right;
	vertical-align: top;
	margin-bottom: 54px;
	z-index: 4;
}

.xpshop__item-tile .xpshop__item-tile__header .xpshop__item-tile__name
{
	font-size: 22px;
	text-transform: uppercase;
	color: rgb(239, 243, 241);
	text-shadow: 0px 3px 12px 2.0 #000000c0;
}

.xpshop__item-tile .xpshop__item-tile__header .xpshop__item-tile__icon
{
	height: 42px;
	margin-right: 8px;
	img-shadow: 0px 4px 32px 0 rgba(0, 0, 0, 0.13);
}

.xpshop__item-tile .xpshop__item-tile__limitedtimer
{
	vertical-align: bottom;
	horizontal-align: right;
	width: fit-children;
	margin: 0px 8px 4px 0px;
	z-index: 3;
	max-width: 90%;
}

.xpshop__item-tile .xpshop__item-tile__limitedtimer Label
{
	color: rgba( 200, 220, 240, 0.7 );
	font-size: 12px;
	margin: 0px;
	horizontal-align:right;
	text-align: right;
	height: 14px;
	vertical-align: center;
}

.xpshop__item-tile .xpshop__item-tile__limitedtimer Image
{
	wash-color: rgba( 200, 220, 240, 0.7 );
	vertical-align: center;
	margin-right: 2px;
	text-overflow: shrink;
}

.xpshop__item-tile .xpshop__item-tile__points
{
	flow-children: right;
	vertical-align: bottom;
	padding: 18px;
}

.xpshop__item-tile .xpshop__item-tile__points Image
{
	wash-color: xpshop-green;
	vertical-align: center;
}

.xpshop__item-tile .xpshop__item-tile__single-image
{
	height: width-percentage(72%);
	width: 65%;
	horizontal-align: right;
	vertical-align: center;
	padding: 8px 32px 8px 8px;
	img-shadow: 0px 12px 32px 1 rgba(0, 0, 0, 0.1);
	transition-property: opacity, transform, pre-transform-scale2d;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__item-tile .xpshop__item-tile__particle
{
	width:100%;
	height: 100%;
	opacity: .3;
	transition-property: brightness, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__item-tile:hover
{
	sound: "UIPanorama.inventory_item_rollover";
}

.xpshop__item-tile:hover .xpshop__item-tile__particle
{
	width:100%;
	height: 100%;
	opacity: 1;
	brightness: 1.2;
	transition-property: brightness, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__item-tile:hover ItemImage
{
	pre-transform-scale2d: 1.05, 1.05;
	transition-property: opacity, transform, pre-transform-scale2d;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__crate-lootlist
{
	width: 640px;
	height: 100%;
	horizontal-align:right;
	background-color: rgb(56, 71, 87);
	opacity-mask: url("s2r://panorama/images/masks/xp-shop-lootlist.vsvg");
}

.xpshop__crate-lootlist .xpshop__crate-lootlist__bg
{
	height: 100%;
	width: 100%;
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: .03;
}

.xpshop__crate-lootlist .xpshop__crate-lootlist__label
{
	horizontal-align: center;
	text-align: center;
	vertical-align: top;
	margin: 12px 16px;
	font-size: 20px;
	font-family: Stratum2 Condensed, "Arial Unicode MS";
}

.xpshop__crate-lootlist.show
{
	transform: translateY(0px);
	opacity: 1;
	visibility: visible;
}

.xpshop__crate-lootlist .xpshop__crate-lootlist__tiles
{
	width: 620px;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	flow-children: right-wrap;
	padding: 16px 0px;
	margin-top: 32px;
}

.xpshop__crate-lootlist .xpshop__crate-lootlist__tiles .xpshop__crate-lootlist__item-tile
{
	width: fit-children;
	margin-bottom: 24px;
	margin: 0px 16px 24px 16px;
}

.xpshop__crate-lootlist .xpshop__crate-lootlist__tiles .xpshop__crate-lootlist__item-tile ItemImage
{
	img-shadow: 6px 6px 18px rgba(110, 110, 110, 0.5);
	width: 120px;
	horizontal-align: center;
	transition-property: img-shadow, transform, pre-transform-scale2d;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__crate-lootlist .xpshop__crate-lootlist__tiles .xpshop__crate-lootlist__item-tile Image
{
	opacity: 0;
	horizontal-align: center;
	vertical-align: center;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__crate-lootlist .xpshop__crate-lootlist__tiles .xpshop__crate-lootlist__item-tile:hover:not(:disabled)
{
	sound: "UIPanorama.inventory_item_rollover";
}

.xpshop__crate-lootlist .xpshop__crate-lootlist__tiles .xpshop__crate-lootlist__item-tile:hover:not(:disabled) ItemImage
{
	transform: translateY( -5px );
	img-shadow: 12px 12px 22px rgba(110, 110, 110, 0.8);
}

.xpshop__crate-lootlist .xpshop__crate-lootlist__tiles .xpshop__crate-lootlist__item-tile:hover:not(:disabled) Image
{
	opacity: 1;
}

.xpshop__crate-lootlist .xpshop__crate-lootlist__tiles .xpshop__crate-lootlist__item-tile:disabled ItemImage
{
	img-shadow: none;
}

.xpshop__crate-lootlist .xpshop__crate-lootlist__tiles .xpshop__crate-lootlist__item-rarity
{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	vertical-align: bottom;
	horizontal-align: center;
	box-shadow: shadowOffset;
}

.xpshop__item-tile__carousel .xpshop__item-tile__carousel-multi-image
{
	width: 100%;
	height: 100%;
	horizontal-align: right;
	transition-property: opacity, transform, pre-transform-scale2d;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__item-tile__carousel ItemImage
{
	width: height-percentage(128%);
	height: 100%;
	vertical-align: center;
	padding: 0px;
	img-shadow: 0px 12px 32px 1 rgba(0, 0, 0, 0.1);
	transition-property: opacity, transform, pre-transform-scale2d;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

#id-xpshop-row-2 .xpshop__item-tile__carousel ItemImage
{
	width: 100%;
	height: width-percentage(72%);
}

#id-xpshop-row-3 .xpshop__item-tile__carousel ItemImage
{
	height: 72%;
}

.xpshop__item-tile__carousel ItemImage.carousel-image-0
{
	horizontal-align: right;
	z-index: 4;
	brightness: 1.1;
	transform: translateX( 0%) scale3d( 1, 1, 1 ) translateY(6%);
	img-shadow: -2px 2px 32px 1 rgba(0, 0, 0, 0.1);
}

.xpshop__item-tile__carousel ItemImage.carousel-image-1
{
	horizontal-align: right;
	z-index: 3;
	brightness: .9;
	opacity: .8;
	transform: translateX(-30%) scale3d( .8, .8, 1 ) translateY(6%);
	img-shadow: -2px 2px 32px 1 rgba(0, 0, 0, 0.1);
}

.xpshop__item-tile__carousel ItemImage.carousel-image-2
{
	horizontal-align: right;
	z-index: 2;
	transform: translateX(-55%) scale3d( .7, .7, 1 ) translateY(6%);
	brightness: .9;
	opacity: .7;
	img-shadow: -2px 2px 32px 1 rgba(0, 0, 0, 0.1);
}

.xpshop__item-tile__carousel ItemImage.carousel-image-3
{
	horizontal-align: right;
	brightness: .8;
	opacity: .6;
	transform: translateX(-89%) scale3d( .6, .6, 1 ) translateY(6%);
	img-shadow: -2px 2px 32px 1 rgba(0, 0, 0, 0.1);
}

.xpshop__item-tile__carousel ItemImage.sticker
{
	padding: 8px;
}

.Focused
{
	opacity: 1;
	perspective: 1000px;
	transform: translateX( 0px);
	transition-property: opacity, transform, pre-transform-scale2d;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__item-tile__limited-item-carousel .Focused
{
	z-index: 3;
	perspective: 0px;
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.LeftOfFocus1,.LeftOfFocus2,.LeftOfFocus3,.LeftOfFocus4,.LeftOfFocus5,.LeftOfFocus6,.LeftOfFocus7,.LeftOfFocus8,.LeftOfFocus9,.LeftOfFocus10,.LeftOfFocus11,.LeftOfFocus12,.LeftOfFocus13,.LeftOfFocus14,.LeftOfFocus15,.LeftOfFocus16,.LeftOfFocus17,.LeftOfFocus18,.LeftOfFocus19,.LeftOfFocus20
{
	transform: translateX( -500px);
	opacity: 0;
	transition-property: opacity, transform, pre-transform-scale2d;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__item-tile__limited-item-carousel .LeftOfFocus1,.xpshop__item-tile__limited-item-carousel .LeftOfFocus2,.xpshop__item-tile__limited-item-carousel .LeftOfFocus3,.xpshop__item-tile__limited-item-carousel .LeftOfFocus4,.xpshop__item-tile__limited-item-carousel .LeftOfFocus5,.xpshop__item-tile__limited-item-carousel .LeftOfFocus6,.xpshop__item-tile__limited-item-carousel .LeftOfFocus7,.xpshop__item-tile__limited-item-carousel .LeftOfFocus8,.xpshop__item-tile__limited-item-carousel .LeftOfFocus9,.xpshop__item-tile__limited-item-carousel .LeftOfFocus10,.xpshop__item-tile__limited-item-carousel .LeftOfFocus11,.xpshop__item-tile__limited-item-carousel .LeftOfFocus12,.xpshop__item-tile__limited-item-carousel .LeftOfFocus13,.xpshop__item-tile__limited-item-carousel .LeftOfFocus14,.xpshop__item-tile__limited-item-carousel .LeftOfFocus15,.xpshop__item-tile__limited-item-carousel .LeftOfFocus16,.xpshop__item-tile__limited-item-carousel .LeftOfFocus17,.xpshop__item-tile__limited-item-carousel .LeftOfFocus18,.xpshop__item-tile__limited-item-carousel .LeftOfFocus19,.xpshop__item-tile__limited-item-carousel .LeftOfFocus20
{
	opacity: 0;
	transform: translateX( 0px);
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.xpshop__item-tile__limited-item-carousel .LeftOfFocus1.LeftOfFocus1,.xpshop__item-tile__limited-item-carousel .LeftOfFocus2.LeftOfFocus1,.xpshop__item-tile__limited-item-carousel .LeftOfFocus3.LeftOfFocus1,.xpshop__item-tile__limited-item-carousel .LeftOfFocus4.LeftOfFocus1,.xpshop__item-tile__limited-item-carousel .LeftOfFocus5.LeftOfFocus1,.xpshop__item-tile__limited-item-carousel .LeftOfFocus6.LeftOfFocus1,.xpshop__item-tile__limited-item-carousel .LeftOfFocus7.LeftOfFocus1,.xpshop__item-tile__limited-item-carousel .LeftOfFocus8.LeftOfFocus1,.xpshop__item-tile__limited-item-carousel .LeftOfFocus9.LeftOfFocus1,.xpshop__item-tile__limited-item-carousel .LeftOfFocus10.LeftOfFocus1,.xpshop__item-tile__limited-item-carousel .LeftOfFocus11.LeftOfFocus1,.xpshop__item-tile__limited-item-carousel .LeftOfFocus12.LeftOfFocus1,.xpshop__item-tile__limited-item-carousel .LeftOfFocus13.LeftOfFocus1,.xpshop__item-tile__limited-item-carousel .LeftOfFocus14.LeftOfFocus1,.xpshop__item-tile__limited-item-carousel .LeftOfFocus15.LeftOfFocus1,.xpshop__item-tile__limited-item-carousel .LeftOfFocus16.LeftOfFocus1,.xpshop__item-tile__limited-item-carousel .LeftOfFocus17.LeftOfFocus1,.xpshop__item-tile__limited-item-carousel .LeftOfFocus18.LeftOfFocus1,.xpshop__item-tile__limited-item-carousel .LeftOfFocus19.LeftOfFocus1,.xpshop__item-tile__limited-item-carousel .LeftOfFocus20.LeftOfFocus1
{
	opacity: 1;
}

.RightOfFocus1,.RightOfFocus2,.RightOfFocus3,.RightOfFocus4,.RightOfFocus5,.RightOfFocus6,.RightOfFocus7,.RightOfFocus8,.RightOfFocus9,.RightOfFocus10,.RightOfFocus11,.RightOfFocus12,.RightOfFocus13,.RightOfFocus14,.RightOfFocus15,.RightOfFocus16,.RightOfFocus17,.RightOfFocus18,.RightOfFocus19,.RightOfFocus20
{
	transform: translateX( 500px );
	opacity: 0;
	transition-property: opacity, transform, pre-transform-scale2d;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__item-tile__limited-item-carousel .RightOfFocus1,.xpshop__item-tile__limited-item-carousel .RightOfFocus2,.xpshop__item-tile__limited-item-carousel .RightOfFocus3,.xpshop__item-tile__limited-item-carousel .RightOfFocus4,.xpshop__item-tile__limited-item-carousel .RightOfFocus5,.xpshop__item-tile__limited-item-carousel .RightOfFocus6,.xpshop__item-tile__limited-item-carousel .RightOfFocus7,.xpshop__item-tile__limited-item-carousel .RightOfFocus8,.xpshop__item-tile__limited-item-carousel .RightOfFocus9,.xpshop__item-tile__limited-item-carousel .RightOfFocus10,.xpshop__item-tile__limited-item-carousel .RightOfFocus11,.xpshop__item-tile__limited-item-carousel .RightOfFocus12,.xpshop__item-tile__limited-item-carousel .RightOfFocus13,.xpshop__item-tile__limited-item-carousel .RightOfFocus14,.xpshop__item-tile__limited-item-carousel .RightOfFocus15,.xpshop__item-tile__limited-item-carousel .RightOfFocus16,.xpshop__item-tile__limited-item-carousel .RightOfFocus17,.xpshop__item-tile__limited-item-carousel .RightOfFocus18,.xpshop__item-tile__limited-item-carousel .RightOfFocus19,.xpshop__item-tile__limited-item-carousel .RightOfFocus20
{
	opacity: 0;
	transform: translateX( 0px);
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.xpshop__item-tile__limited-item-carousel .RightOfFocus1.RightOfFocus6,.xpshop__item-tile__limited-item-carousel .RightOfFocus2.RightOfFocus6,.xpshop__item-tile__limited-item-carousel .RightOfFocus3.RightOfFocus6,.xpshop__item-tile__limited-item-carousel .RightOfFocus4.RightOfFocus6,.xpshop__item-tile__limited-item-carousel .RightOfFocus5.RightOfFocus6,.xpshop__item-tile__limited-item-carousel .RightOfFocus6.RightOfFocus6,.xpshop__item-tile__limited-item-carousel .RightOfFocus7.RightOfFocus6,.xpshop__item-tile__limited-item-carousel .RightOfFocus8.RightOfFocus6,.xpshop__item-tile__limited-item-carousel .RightOfFocus9.RightOfFocus6,.xpshop__item-tile__limited-item-carousel .RightOfFocus10.RightOfFocus6,.xpshop__item-tile__limited-item-carousel .RightOfFocus11.RightOfFocus6,.xpshop__item-tile__limited-item-carousel .RightOfFocus12.RightOfFocus6,.xpshop__item-tile__limited-item-carousel .RightOfFocus13.RightOfFocus6,.xpshop__item-tile__limited-item-carousel .RightOfFocus14.RightOfFocus6,.xpshop__item-tile__limited-item-carousel .RightOfFocus15.RightOfFocus6,.xpshop__item-tile__limited-item-carousel .RightOfFocus16.RightOfFocus6,.xpshop__item-tile__limited-item-carousel .RightOfFocus17.RightOfFocus6,.xpshop__item-tile__limited-item-carousel .RightOfFocus18.RightOfFocus6,.xpshop__item-tile__limited-item-carousel .RightOfFocus19.RightOfFocus6,.xpshop__item-tile__limited-item-carousel .RightOfFocus20.RightOfFocus6
{
	opacity: 1;
}

.xpshop__content__rows
{
	width: xpshop-content-width;
	horizontal-align:center;
	height: 100%;
	padding: 24px;
	flow-children: down;
	opacity: 1;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__content__rows .xpshop__content__row,.xpshop__content__rows .xpshop__content__row--bottom
{
	width: 100%;
	height: fill-parent-flow(.5);
	flow-children: right;
}

.xpshop__content__rows .xpshop__content__row.xpshop__content__row--middle,.xpshop__content__rows .xpshop__content__row--bottom.xpshop__content__row--middle
{
	height: fill-parent-flow(1);
}

.xpshop-grids-visible .xpshop__content__rows
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop-grids-visible .xpshop__top-nav
{
	visibility: visible;
	margin-top: 16px;
	opacity: 1;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop-grids-visible .xpshop__content__grids-container
{
	opacity: 1;
	transform: translateX( 0%);
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__content__grids-container
{
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: translateX( 100% );
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__inspect-grid
{
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: translateX( 100% );
	pre-transform-scale2d: 1, 1;
	perspective-origin: 50% 50%;
	perspective: 500;
	transition-property: opacity, transform, brightness, blur, pre-transform-scale2d;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__inspect-grid.show
{
	opacity: 1;
	transform: translateX( 0% );
	transition-property: opacity, transform, brightness, blur, pre-transform-scale2d;
	transition-duration: .25s, .25s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
}

.xpshop__inspect-grid .xpshop__inspect-grid__tiles-container
{
	width: 100%;
	height: 100%;
	z-index: 2;
	overflow: noclip;
	horizontal-align: center;
	vertical-align: center;
	flow-children: none;
}

.xpshop__inspect-grid .xpshop__inspect-grid__tiles-container.no-bottom-margin
{
	margin-bottom: 0px;
}

.xpshop__inspect-grid .xpshop__inspect-grid__title
{
	font-size: 140px;
	text-align: center;
	vertical-align: top;
	horizontal-align: center;
	letter-spacing: 18px;
	margin-top: 72px;
	color: gradient( linear, 0% 0%, 0% 90%, from( rgba(119, 201, 204, 0.11) ), to( rgba(0, 0, 0, 0) ) );
}

.waiting-for-redeem .xpshop__inspect-grid
{
	opacity: 0;
	pre-transform-scale2d: .5, .5;
	transition-property: opacity, transform, brightness, blur, pre-transform-scale2d;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.waiting-for-redeem .xpshop__inspect-grid__redeem,.waiting-for-redeem .xpshop__inspect-grid__title
{
	visibility: collapse;
}

.xpshop__inspect-grid__tile
{
	width: grid-tile-width;
	height: grid-tile-height;
	transform: translate3D( 0px, 0px, 0px );
	transform-origin: 50% 50%;
	border-radius: 10px;
	box-shadow: hollow #00000000 0px 0px 0px 0px;
	background-color: #294b5800;
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: 0;
	transition-property: width, height, transform, box-shadow, brightness, blur, opacity, background-color, background-img-opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__inspect-grid__tile.darken
{
	brightness: .5;
	blur:gaussian( 2, 2, 1);
	transition-property: width, height, transform, box-shadow, brightness, blur;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__inspect-grid__tile:hover
{
	sound: "UIPanorama.inventory_item_rollover";
	opacity: 1;
	box-shadow: hollow #00000036 0px 0px 16px 0px;
	z-index: 2;
	background-color: #33586893;
	background-img-opacity: .01;
	transition-property: width, height, transform, box-shadow, brightness, background-color, background-img-opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__inspect-grid__tile:hover .xpshop__inspect-grid__tile__label
{
	opacity: 1;
}

.xpshop__inspect-grid__tile:hover .xpshop__inspect-grid__tile__rarity
{
	border-radius: 3px;
	width: 100%;
	transform: translateY(0px);
	transition-property: width, border-radius, transform;
	transition-duration: 0s;
	transition-timing-function: ease-in-out;
}

.xpshop__inspect-grid__tile:hover .xpshop__inspect-grid__tile__inspect-btn
{
	visibility: visible;
	opacity: .6;
	width: 44px;
	height: 44px;
	transform: translateY( 0px );
	transition-property: opacity, transform;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.xpshop__inspect-grid__tile:hover .xpshop__inspect-grid__tile__inspect-btn Image
{
	width: 32px;
	height: 32px;
	vertical-align: center;
	horizontal-align: center;
	img-shadow: 1px 4px 10px 1 rgb(0, 0, 0);
}

.xpshop__inspect-grid__tile:hover .xpshop__inspect-grid__tile__inspect-btn:hover
{
	opacity: 1;
}

.xpshop__inspect-grid__tile:hover .xpshop__inspect-grid__tile__model
{
	width: 100%;
	height: 100%;
	opacity: 1;
}

.xpshop__inspect-grid__tile.single-item
{
	width: 1280px;
	height: 640px;
	margin-top: 24px;
	horizontal-align: center;
	vertical-align: center;
	background-color: #294b5800;
	background-image: none;
	background-size: backgroundDotsSize;
}

.xpshop__inspect-grid__tile.single-item .xpshop__inspect-grid__tile__rarity
{
	border-radius: 0px;
	width: 100%;
	transform: translateY(0px);
	transition-property: width, border-radius, transform;
	transition-duration: 0s;
	transition-timing-function: ease-in-out;
}

.xpshop__inspect-grid__tile.single-item .xpshop__inspect-grid__tile__label
{
	opacity: 1;
}

.xpshop__inspect-grid__tile.single-item:hover
{
	box-shadow: hollow #00000000 0px 0px 0px 0px;
}

.xpshop__inspect-grid__tile.crate-item .inspect-model-image-panel
{
	width: 51%;
}

.xpshop__inspect-grid__tile.crate-item .xpshop__inspect-grid__tile__label
{
	horizontal-align: left;
	transform: translateX( 25% );
}

.xpshop__inspect-grid__tile.crate-item .xpshop__inspect-grid__tile__inspect-btn
{
	horizontal-align: left;
	transform: translateY(140px) translateX( 25% );
}

.xpshop__inspect-grid__tile.crate-item:hover .xpshop__inspect-grid__tile__inspect-btn
{
	horizontal-align: left;
	transform: translateY(0px) translateX( 25% );
}

.xpshop__inspect-grid__tile.hidden
{
	opacity: 0;
}

.xpshop__inspect-grid__tile .xpshop__inspect-grid__tile__label
{
	vertical-align: bottom;
	horizontal-align: center;
	text-align: center;
	font-family: Stratum2 Medium Condensed, "Arial Unicode MS";
	opacity: 0;
	color: white;
	margin-bottom: 14px;
	transition-property: opacity;
	transition-delay: .5s;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.xpshop__inspect-grid__tile .xpshop__inspect-grid__tile__rarity
{
	border-radius: 50%;
	background-color: white;
	width: 8px;
	height: 8px;
	transform: translateY(-8px);
	vertical-align: bottom;
	horizontal-align: center;
	transition-property: width, border-radius, transform;
	transition-delay: .5s;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.xpshop__inspect-grid__tile .xpshop__inspect-grid__tile__inspect-btn
{
	visibility: collapse;
	opacity: 0;
	transform: translateY(140px);
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 48px;
	transition-property: opacity, transform;
	transition-delay: .0s, .2s;
	transition-duration: .2s, .3s;
	transition-timing-function: ease-out;
}

.xpshop-preview-variety
{
	horizontal-align: left;
	flow-children: right;
	vertical-align: top;
	margin: 32px;
	padding: 0px 16px;
	border-radius: 3px;
	tooltip-position: bottom;
	background-color: rgba(0, 0, 0, 0.6);
}

.xpshop-preview-variety Label
{
	color: white;
}

.xpshop-preview-variety Image
{
	margin: 6px;
	width: 32px;
	height: 32px;
}

.xpshop__inspect-grid__tile__model
{
	width: 100%;
	height: 100%;
}

.xpshop__inspect-grid__redeem
{
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: right;
	margin-bottom: 32px;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
	transform-origin: 50% 50%;
}

.xpshop__inspect-grid__redeem.hidden
{
	opacity: 0;
	transform: rotateX(140deg) translateY( -25px );
}

.xpshop__inspect-grid__redeem.confirm.hidden
{
	opacity: 0;
	transform: rotateX(-45deg) translateY( 20px );
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__inspect-grid__redeem.bid_amount
{
	z-index: 10;
	width: 100%;
	margin-bottom: 90px;
	background-color: rgba( 0, 20, 0, 1.0 );
}

.xpshop__inspect-grid__redeem.bid_amount .bid_amount_slider
{
	vertical-align: center;
	horizontal-align: center;
	width: fill-parent-flow( 1.0 );
}

.xpshop__inspect-grid__redeem.bid_amount .bid-amount-adjust-button
{
	vertical-align: center;
	wash-color: xpshop-green;
	margin: 1px;
}

.xpshop__inspect-grid__redeem.bid_amount .bid-amount-adjust-button Label
{
	font-size: 30px;
	font-weight: bold;
}

.xpshop__inspect-grid__redeem.bid_amount .xpshop__tracks_balance_text
{
	margin-left: 15px;
	margin-right: 5px;
	min-width: 35px;
	text-align: right;
}

.xpshop__inspect-grid__redeem.bid_amount .xpshop__inspect-grid__redeem__desc
{
	background-color: none;
	margin-left: 35%;
}

.xpshop__inspect-grid__redeem.bid_amount Image
{
	vertical-align: center;
	wash-color: xpshop-green;
	margin-right: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.xpshop__inspect-grid__redeem .xpshop__inspect-grid__redeem__desc
{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 6px 12px;
	margin-right: 2px;
}

.xpshop__inspect-grid__redeem .xpshop__inspect-grid__redeem_btn
{
	flow-children: right;
	background-color: xpshop-green;
	tooltip-position: top;
	vertical-align: center;
}

.xpshop__inspect-grid__redeem .xpshop__inspect-grid__redeem_btn Label
{
	color: black;
	padding: 6px 8px;
}

.xpshop__inspect-grid__redeem .xpshop__inspect-grid__redeem_btn Image
{
	height: 24px;
	width: 24px;
	vertical-align: center;
	margin-right: 8px;
	wash-color: black;
}

.xpshop__inspect-grid__redeem .xpshop__inspect-grid__redeem_btn:hover:not(:disabled)
{
	background-color: white;
}

.xpshop__inspect-grid__redeem .xpshop__inspect-grid__redeem_btn:hover:not(:disabled) Label
{
	color: xpshop-green-dark;
}

.xpshop__inspect-grid__redeem .xpshop__inspect-grid__redeem_btn:hover:not(:disabled) Image
{
	wash-color: xpshop-green-dark;
}

.xpshop__inspect-grid__redeem .xpshop__inspect-grid__redeem_btn:disabled
{
	opacity: .1;
}

.xpshop__inspect-grid__redeem .xpshop__inspect-grid__icon
{
	height: 48px;
	margin: 0px 8px;
}

.xpshop__top-nav
{
	vertical-align: top;
	horizontal-align: center;
	flow-children: right;
	height: 92px;
	opacity: 0;
	visibility: collapse;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop__top-nav .xpshop__top-nav__button
{
	margin: 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #031f119a), to( #052e1a54 ) );
	border-radius: 50%;
	vertical-align: center;
	border: 2px solid rgba(0, 0, 0, 0.25);
}

.xpshop__top-nav .xpshop__top-nav__button:hover
{
	sound: "UIPanorama.inventory_item_rollover";
}

.xpshop__top-nav .xpshop__top-nav__button Image
{
	height: 64px;
	width: 64px;
	padding: 4px;
	horizontal-align: center;
}

.xpshop__top-nav .xpshop__top-nav__button:selected
{
	sound: "UIPanorama.submenu_leveloptions_select";
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #30d18354 ), to( rgba(0, 0, 0, 0.712) ) );
	border: 2px solid xpshop-green;
}

.xpshop__top-nav .xpshop__top-nav__button .RadioBox
{
	visibility: collapse;
}

.xpshop-active-passes-container
{
	vertical-align: center;
	horizontal-align: center;
	transition-property: width;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop-active-passes-container.five-tracks
{
	horizontal-align: left;
}

.xpshop-active-pass
{
	vertical-align: center;
	transition-property: x;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.xpshop-active-pass.xpshop-activate-pass-anim
{
	animation-name: anim-activate-pass;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

.xpshop-active-pass .xpshop-active-pass__how-to
{
	color: xpshop-green;
	width:80%;
	horizontal-align:center;
	padding: 6px;
	vertical-align: center;
	border-radius: 6px;
	font-size: 18px;
	box-shadow: #07885d 0px 0px 24px 3px;
	background-color: rgb(8, 46, 35);
	transform: translateY ( 10px );
	opacity: 0;
}

.xpshop-active-pass .xpshop-active-pass__how-to.xpshop-active-pass__how-to-anim
{
	animation-name: anim-activate-pass-how-to;
	animation-timing-function: ease-in-out;
	animation-duration: 5s;
	animation-iteration-count: 1;
}

.xpshop-active-pass .xpshop-active-pass__content
{
	flow-children: right;
	margin: 12px;
}

.xpshop-active-pass .xpshop-active-pass__content .xpshop-active-pass__track
{
	width: 80px;
	flow-children: down;
}

.xpshop-active-pass .xpshop-active-pass__content .xpshop-active-pass__progress
{
	flow-children:down;
	margin-left: 6px;
}

.xpshop-active-pass .xpshop-active-pass__content .xpshop-active-pass__progress .xpshop-active-pass__icons
{
	width: 130px;
	vertical-align: center;
	horizontal-align: center;
	flow-children: right-wrap;
}

.xpshop-active-pass .xpshop-active-pass__content .xpshop-active-pass__progress .xpshop-active-pass__icons .xpshop-active-pass_progress_icon-container .xpshop-active-pass_progress_icon
{
	margin: 3px 1px;
	wash-color: #277e6b;
}

.xpshop-active-pass .xpshop-active-pass__content .xpshop-active-pass__progress .xpshop-active-pass__icons .xpshop-active-pass_progress_icon-container .xpshop-active-pass_progress_icon.check
{
	wash-color: xpshop-green;
	z-index: 2;
	visibility: collapse;
}

.xpshop-active-pass .xpshop-active-pass__content .xpshop-active-pass__progress .xpshop-active-pass__icons .xpshop-active-pass_progress_icon-container.complete .check
{
	visibility: visible;
}

.xpshop-active-pass .xpshop-active-pass__bg
{
	padding: 4px 4px;
	wash-color: #1e5e50;
	img-shadow: 0px 0px 12px 1 rgb(0, 0, 0);
}

.xpshop-active-pass .xpshop-active-pass__separator
{
	height: 85%;
	width: 2px;
	background-color: #277e6b;
	vertical-align: center;
}

@keyframes 'anim-activate-pass'
{
	0%
	{
		brightness: 1;
		transform:scale3d( 1, 1, 1);
	}
	
	40%
	{
		brightness: 3.5;
		transform:scale3d( 1.1, 1.1, 1);
	}
	
	60%
	{
		transform:scale3d( 1.1, 1.1, 1);
	}
	
	100%
	{
		brightness: 1;
		transform:scale3d( 1, 1, 1);
	}
	
}

@keyframes 'anim-activate-pass-how-to'
{
	0%
	{
		opacity: 0;
		brightness: 1;
		transform: translateY ( 90px );
	}
	
	10%
	{
		opacity: 1;
		brightness: 2;
		transform: translateY ( 0px );
	}
	
	50%
	{
		brightness: 1;
	}
	
	90%
	{
		opacity: 1;
		transform: translateY ( 0px );
	}
	
	100%
	{
		transform: translateY ( 90px );
		opacity: 0;
	}
	
}

.xpshop__tracks_small-text
{
	font-size: 14px;
	color: xpshop-green;
}

.xpshop__tracks_small-text.xpshop__tracks_small-text__credit
{
	max-height: 18px;
	text-overflow: shrink;
}

.xpshop__tracks_small-text.xpshop__tracks_small-text__progress
{
	max-height: 18px;
	text-overflow: shrink;
}

.xpshop__redeem-particle
{
	width: 100%;
	height: 100%;
	opacity: 1;
	opacity-mask: url("s2r://panorama/images/masks/fade-both-top-bottom_png.vtex");
}

.xpshop__redeem-warning
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 8px;
	flow-children:right;
}

.xpshop__redeem-warning Label
{
	color: #18864f;
	font-size: 18px;
}

.xpshop__redeem-warning Image
{
	wash-color: #18864f;
	margin-right: 6px;
	vertical-align: center;
}

.xpshop__redeem-warning.hidden
{
	visibility: collapse;
}

