/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@define cq_netgraph_maxdepth: 12;
@define cq_netgraph_mindepth: 4;
@define cq_netgraph_color_variations: 25;
@define cq_netgraph_color_buffer_dot: rgba( 24, 199, 20, 1.0 );
@define cq_netgraph_color_buffer_dot2: rgba( 18, 222, 198, 1.0 );
@define cq_netgraph_color_starve_dot: rgba( 240, 0, 0, 1.0 );
@define cq_netgraph_color_neutral: rgba( 220, 220, 180, 1.0 );
@define cq_netgraph_color_target: rgba( 237, 118, 214, 1.0 );
@define cq_netgraph_color_dilation_slower: rgba( 37, 196, 248, 0.2 );
@define cq_netgraph_color_dilation_faster: rgba( 237, 56, 183, 0.2 );
@define hud_perf_bad_value_hold_peak_delay: 2.0;
@define hud_perf_bad_value_hide_delay: 4.0;
@define cq_netgraph_resample_interval: 4.0;
HudPerfStatsBasics
{
	flow-children: down;
	horizontal-align: right;
	vertical-align: top;
	padding-top: 8px;
	margin-right: 8px;
	width: 300px;
}

HudPerfStatsBasics Label
{
	text-shadow: 1px 1px 1px 2 #00000083;
	font-size: 16px;
	color: rgba( 120, 240, 120, 1.0 );
	font-family: Stratum2 Regular Monodigit, 'Arial Unicode MS';
	visibility: collapse;
	horizontal-align: right;
	margin-left: 12px;
}

HudPerfStatsBasics Label.Poor
{
	color: rgba( 250, 80, 80, 1.0 );
}

HudPerfStatsBasics #net_numbers,HudPerfStatsBasics #fps_row
{
	horizontal-align: right;
	flow-children: right;
}

HudCommandQueueGraph
{
	visibility: collapse;
	background-color: #00000080;
	width: 100%;
	height: 65px;
}

.Visible
{
	visibility: visible;
}

