/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

SplitLabel
{
	overflow: noclip;
}

SplitLabel #InnerLabel
{
	opacity: 0.0001;
}

SplitLabel #SlicedContainer
{
	width: 100%;
	height: 100%;
	overflow: clip;
}

SplitLabel #SlicedContainer #SlicedLabel
{
	opacity: 0.0001;
	letter-spacing: 15px;
}

SplitLabel #ImageSlices
{
	width: 100%;
	height: 100%;
}

