/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.DropdownContainer
{
	margin-top: 30px;
	flow-children: right;
}

.DropdownContainer .MessagePanel
{
	margin-right: 20px;
	vertical-align: center;
}

.DropdownContainer .MessageLabel
{
	vertical-align: top;
	font-size: 24px;
	color: #FFFFFF;
	horizontal-align: center;
	vertical-align: center;
	max-width: 400px;
	text-align: center;
}

.DropdownContainer #DropDown
{
	width: fit-children;
	vertical-align: center;
	horizontal-align: center;
}

.DropdownContainer #DropDown Label
{
	width: fit-children;
}

