/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.tournament-content-container
{
	width: 100%;
	height: 100%;
	opacity: 1;
	transform: translatex( 0px );
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.tournament-content-container--hidden
{
	opacity: 0;
	transform: translatex( 200px );
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.tournament-content
{
	width: 100%;
	height: 100%;
	background-color: contentPanelBackground;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.tournament-content--hidden
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.pickem-upper-container
{
	width: 100%;
	flow-children: down;
}

.pickem-info-bar
{
	width: 100%;
	flow-children: none;
	padding: 8px 0px 8px 0px;
	box-shadow: #00000080 4px 0px 8px 0px;
	background-color: none;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.pickem-info-bar--bronze
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #7c5631 ), to( #b67c43) );
}

.pickem-info-bar--silver
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #5e5e5e ), to( #858585) );
}

.pickem-info-bar--gold
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #766300 ), to( #b19500 ) );
}

.pickem-trophy-image
{
	height: 64px;
	vertical-align: center;
}

.pickem-score-container
{
	flow-children: right;
	padding: 0px 32px;
}

.pickem-trophy-container
{
	width: 72px;
	height:72px;
}

.pickem-score
{
	text-align: center;
	vertical-align: center;
	horizontal-align: center;
	font-weight: medium;
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 24px;
	color: rgb(236, 236, 236);
	margin-bottom: 8px;
}

.pickem-header
{
	flow-children: down;
	margin-left: 0px;
	margin: 20px 0px 14px;
}

.pickem-header--margin
{
	margin-left:42px;
}

.pickem-header__title
{
	color: white;
	font-size: 22px;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: Medium;
}

.pickem-header__subtitle
{
	font-size: 18px;
	font-family: Stratum2, 'Arial Unicode MS';
	color: white;
}

.pickem-header-status
{
	padding: 6px;
	margin-top: 4px;
	flow-children: right;
	vertical-align: center;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.25 );
}

.pickem-header-status--active
{
	background-color: rgba(16, 117, 13, 0.808);
}

.pickem-group-worth-header
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 28px;
	margin: 16px 0px 5px;
	horizontal-align: center;
	color: white;
}

.tournament-has-challenges .pickem-group-worth-header
{
	font-family: notosans, 'Arial Unicode MS';
	font-style: italics;
	font-size: 24px;
	margin: 16px 8px 0px 8px;
	padding: 8px 16px;
	border-radius: 3px;
	background-color:rgba(0, 0, 0, 0.185);
	text-overflow: shrink;
}

.pickem-team-actions-bar
{
	flow-children: left;
	vertical-align: bottom;
	horizontal-align: right;
	padding: 0px 64px 16px 0px;
}

.pickem-team-actions-bar__warning
{
	width: fit-children;
	height: 42px;
	vertical-align: center;
	horizontal-align: left;
	flow-children: right;
	padding-left:16px;
	margin-right: 16px;
	transition-property: position;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.pickem-team-actions-bar__warning-text
{
	horizontal-align: right;
	text-align: right;
	margin:0px 16px;
}

.PopupButton
{
	padding: 0px 16px;
}

.PopupButton.White.PositivePickemCheckout
{
	background-color: #3281AC66;
}

.PopupButton.White.PositivePickemCheckout:hover
{
	background-color: #3281AC;
	brightness: 1.4;
	transition-property: brightness;
	transition-duration: 0s;
	transition-timing-function: ease-in-out;
}

#id-pickem-apply
{
	border: 2px solid positiveColor;
}

#id-pickem-apply.loop
{
	animation-name: pick-btn-loop;
	animation-duration: 1.25s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

#id-pickem-apply.errorenabled.loop
{
	border: 2px solid warningColor;
	background-color: warningColor;
	animation-name: pick-btn-errorloop;
}

@keyframes 'pick-btn-loop'
{
	0%
	{
		background-color: #4caf5033;
	}
	
	50%
	{
		background-color: positiveColor;
	}
	
	100%
	{
		background-color: #4caf5033;
	}
	
}

@keyframes 'pick-btn-errorloop'
{
	0%
	{
		background-color: #b1af2d33;
	}
	
	50%
	{
		background-color: warningColor;
	}
	
	100%
	{
		background-color: #b1af2d33;
	}
	
}

.pickem-select-teams-container
{
	flow-children: right-wrap;
	overflow: squish scroll;
	padding-bottom: 8px;
	min-width: 900px;
	height: fit-children;
}

.FlatButton,.pickem-group-team
{
	vertical-align: center;
	tooltip-position: bottom;
	tooltip-body-position: 50% 0%;
}

.pickem-group-pick--wiggle
{
	animation-name: pick-wiggle;
	animation-duration: .2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes 'pick-wiggle'
{
	0%
	{
		transform: translateX( 2px ) translatey( 1px );
	}
	
	50%
	{
		transform: translateX( -1px ) translatey( -2px ) rotateX( 10deg );
	}
	
	100%
	{
		transform: translateX( 2px ) translatey( -1px );
	}
	
}

.pickem-group-pick--used
{
	border-radius: 50%;
	padding: 4px;
	background-color: blueColor;
	border: 1px solid rgba(0, 0, 0, 0.438);
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.pickem-group-team__itemimage
{
	width: 92px;
	height: 92px;
	margin-right: 16px;
}

.pickem-group-team__logo
{
	width: 60px;
	height: 60px;
	margin-right: 5px;
}

.pickem-group-team__logo.barelogo
{
	padding: 10px;
}

.pickem-group-team__owned
{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: blueColor;
}

.pickem-group-section-container
{
	width: 100%;
	height: 100%;
	flow-children: down;
	background-color: contentPanelBackground;
	padding: 0px 16px;
}

.pickem-group-section
{
	horizontal-align: center;
	flow-children: right;
	width: 100%;
}

.pickem-group-section--bottom
{
	padding-bottom: 20px;
}

.pickem-group-pick-container
{
	flow-children: down;
	img-shadow: 0px 0px 1px #000000;
	width: fill-parent-flow( 1 );
}

.pickem-group-pick
{
	horizontal-align: center;
	margin-right: 8px;
	transition-property: background-color;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
	border-radius: 8px;
}

.pickem-group-pick.dragenter
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 70% 70%, from( rgba(255, 255, 255, 0.45) ), to( rgba(160, 160, 160, 0.1) ) );
	transition-property: background-color;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.pickem-group-pick .IconButton
{
	horizontal-align: right;
	vertical-align: top;
	border-radius: 15%;
}

.pickem-pick__empty
{
	horizontal-align: center;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.pickem-pick-placed:not(.drag-valid-target) .pickem-pick__empty
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.is-saved-pick .pickem-group-pick,.is-saved-pick.pickem-bracket-team
{
	box-shadow: positiveColor 4px 0px 8px 0px;
}

.pickem-pick-locked .pickem-pick__empty
{
	wash-color: grey;
}

.pickem-group-pick__itemimage
{
	width:100%;
	background-color: gradient( radial, 50% 50%, 0% 0%, 90% 90%, from( rgba(255, 255, 255, 0.15) ), to( rgba(160, 160, 160, 0) ) );
	transition-property: transform, brightness, opacity, background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.pickem-group-pick__itemimage.hidden
{
	opacity: 0;
	brightness: 10;
	transform: scale3d( 1.4, 1.4, 1 );
	transition-property: transform, brightness, opacity, background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.pickem-group-pick__itemimage.teamlogo
{
	padding: 24px;
	height: 100%;
}

.pickem-points-earned
{
	vertical-align: bottom;
	font-size: 16px;
	text-align: left;
	horizontal-align: left;
	width: 100%;
	padding: 4px 2px 4px 8px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(11, 114, 66) ), to( rgba(11, 114, 66, 0)) );
}

.pickem-group-pick__drag-hint
{
	font-size: 18px;
	width: 150px;
	vertical-align: bottom;
	horizontal-align: center;
	text-align: center;
	opacity: 0.25;
	margin-bottom: 10px;
	font-family: Stratum2, 'Arial Unicode MS';
}

.pickem-group-pick__drag-hint.long
{
	width: 100%;
}

.pickem-pick-locked .pickem-group-pick__drag-hint
{
	visibility: collapse;
}

.pickem-group-pick__giant
{
	font-size: 125px;
	width: 170px;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	font-weight: black;
	opacity: 0.15;
	font-family: Stratum2, 'Arial Unicode MS';
}

.pickem-pick-placed .pickem-group-pick__drag-hint,.pickem-pick-placed .pickem-group-pick__giant
{
	visibility: collapse;
}

.pickem-group-winloss-text
{
	font-size: 98px;
	width: fill-parent-flow( 1 );
	font-weight: light;
	opacity: 0.5;
	font-family: Stratum2, 'Arial Unicode MS';
}

.pickem-group-winloss-text--right
{
	text-align: center;
	margin-left: 400px;
}

.pickem-group-winloss-text--left
{
	text-align: center;
	margin-right: 400px;
}

.pickem-item-not-owned
{
	Padding: 16px;
	wash-color:rgb(46, 46, 46);
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.pickem-item-not-owned.bracket
{
	Padding: 2px;
	vertical-align: center;
}

.pickem-remove-btn
{
	opacity: 1;
}

.pickem-item-not-owned.hidden,.pickem-points-earned.hidden,.pickem-points-earned-bracket.hidden,.pickem-remove-btn.hidden,.pickem-group-pick--used.hidden
{
	transform: translateY(-100%);
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.pickem-remove-btn.hidden,.pickem-item-not-owned.hidden,.pickem-bracket-team__logo.hidden,.pickem-bracket-team__name.hidden,.pickem-trophy-image.hidden,.IconButton.hidden,.FlatButton.hidden
{
	visibility: collapse;
}

.pickem-team-draggable
{
	width: 128px;
	height: 128px;
	transform: scale3d( 0.2, 0.2, 0.2);
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.pickem-team-draggable.small
{
	width: 64px;
	height: 64px;
}

.pickem-team-draggable.dragstart,.pickem-bracket-draggable.dragstart
{
	transform: scale3d( 1, 1, 1);
	opacity: 1;
}

.pickem-team-draggable.dragend,.pickem-bracket-draggable.dragend
{
	transform: scale3d( 0.5, 0.5, 0.5);
	opacity: 0;
}

.pickem-group-pick-update
{
	animation-name: pick-update;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'pick-update'
{
	0%
	{
		background-color: rgba(11, 114, 66, 00);
		brightness: 1;
	}
	
	50%
	{
		background-color: rgb(11, 114, 66);
		brightness: 3;
	}
	
	100%
	{
		background-color: rgba(11, 114, 66, 00 );
		brightness: 1;
	}
	
}

.pickem-bracket
{
	height: 100%;
	width: 100%;
	background-color: contentPanelBackground;
}

.pickem-bracket-container
{
	flow-children: right;
	height: 100%;
	width: 100%;
	padding: 0px 24px;
}

.pickem-bracket-picksworth-container
{
	flow-children: right;
	height: fit-children;
	width: 100%;
}

.pickem-bracket-column
{
	flow-children: down;
	height: fit-children;
	width: fill-parent-flow( .25);
	vertical-align: center;
}

.pickem-bracket-group
{
	height: fit-children;
	width: 100%;
	padding: 0px 0px;
	margin: 24px 0px;
}

.pickem-bracket-group__lines
{
	border-top: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	margin: 24px 0px;
	width: 10%;
	horizontal-align: right;
	height: 64px;
}

.pickem-bracket-group__lines.left
{
	border-right: 0px solid white;
	horizontal-align: left;
}

.pickem-pick-locked .pickem-bracket-group__lines.left,.pickem-pick-locked .pickem-bracket-group__lines
{
	wash-color: grey;
}

.pickem-bracket-team
{
	height: 48px;
	width: 80%;
	horizontal-align: center;
	border-radius: 5px;
	box-shadow: none;
	transition-property: background-color, box-shadow;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.pickem-bracket-group .pickem-group-pick__drag-hint
{
	vertical-align: center;
	margin-bottom: 0px;
	opacity: .6;
}

.left-column > .pickem-bracket-group
{
	border-left: 0px solid rgb(196, 196, 196);
}

.pickem-bracket-team.bottom
{
	vertical-align: bottom;
}

.four-teams > .pickem-bracket-group
{
	margin: 36px 0px;
}

.four-teams .pickem-bracket-group__lines,.four-teams .pickem-bracket-group__lines.left
{
	height: 160px;
}

.four-teams-spacer
{
	height: 42px;
	width: 100%;
}

.two-teams .pickem-bracket-group__lines,.two-teams .pickem-bracket-group__lines.left
{
	height: 320px;
}

.single-team .pickem-bracket-group
{
	vertical-align: center;
}

.single-team .pickem-bracket-group__lines.left
{
	height: 1px;
	border-right: 0px solid white;
	border-bottom: 0px solid white;
}

.pickem-bracket-team.drag-valid-target
{
	background-color: rgba(255, 255, 255, 0.15 );
	transition-property: background-color, box-shadow;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
}

.pickem-bracket-team.dragenter
{
	box-shadow: #ffffff 4px 0px 8px 0px;
	transition-property: box-shadow;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.pickem-pick-placed.pickem-bracket-team:not(.drag-valid-target)
{
	background-color: rgba( 160, 160, 160, .15);
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.pickem-bracket-team.dragdrop
{
	animation-name: drag-drop;
	animation-duration: .25s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'drag-drop'
{
	0%
	{
		transform: translatex( -24px ) scale3d( 1.1, 1.1, 1.1 );
		brightness: 5;
	}
	
	100%
	{
		transform: translatey( 0px ) scale3d( 1.0, 1.0, 1.0 );
		brightness: 1;
	}
	
}

.pickem-bracket-draggable
{
	width: fit-children;
	height: 48px;
	padding: 0px 16px;
	flow-children: right;
	transform: scale3d( 0.2, 0.2, 0.2 );
	background-color:rgba(204, 204, 204, 0.1);
	border-radius: 3px;
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.pickem-bracket-team__data
{
	flow-children: right;
	padding-left: 8px;
	width: 100%;
}

.pickem-bracket-team__data .IconButton Image
{
	margin: 0px;
}

.pickem-bracket-team__logo
{
	width: 48px;
	height: 48px;
	img-shadow: 0px 0px 4px #000000;
}

.pickem-bracket-team__logo-shadow
{
	img-shadow: 1px 1px 2px 2px #000000;
}

.pickem-bracket-team__name
{
	font-weight: medium;
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 16px;
	color: white;
	margin-left: 16px;
	width: 125px;
	text-overflow: shrink;
}

.pickem-bracket-team__name--long
{
	width: 170px;
}

.pickem-bracket-worth-header
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 18px;
	margin: 16px 0px 5px;
	horizontal-align: center;
	color: white;
}

.tournament-has-challenges .pickem-bracket-worth-header
{
	font-family: notosans, 'Arial Unicode MS';
	text-overflow: shrink;
	min-height: 72px;
	vertical-align: center;
	font-style: italics;
	font-size: 16px;
	margin: 16px 8px 0px 8px;
	padding: 4px 8px;
	border-radius: 3px;
	background-color:rgba(0, 0, 0, 0.151);
}

.left-column > .pickem-bracket-worth-header
{
	background-color:none;
}

.pickem-points-earned-bracket
{
	background-color: rgb(11, 114, 66);
	padding: 14px 6px;
	vertical-align: center;
	box-shadow: 0px 0px 4px #000000;
	horizontal-align: center;
	font-size: 14px;
}

.pickem-live-dot
{
	vertical-align: center;
	margin: 8px;
	background-color: red;
	border-radius: 50%;
	width: 16px;
	height: 16px;
}

.tournament-has-challenges #id-pickem-leaderboards,.tournament-has-challenges .pickem-trophy-container,.tournament-has-challenges #id-pickem-points-needed,.tournament-has-challenges .pickem-group-team__owned,.tournament-has-challenges #id-pickem-leaderboards,.tournament-has-challenges .pickem-trophy-container,.tournament-has-challenges #id-pickem-points-needed,.tournament-has-challenges .pickem-group-team__owned
{
	visibility: collapse;
}

.tournament-has-challenges .pickem-score-container
{
	vertical-align: center;
}

