/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.predictions-stage-header
{
	flow-children: down;
	margin: 16px 8px;
}

.predictions-stage-header.not-active .predictions-stage-header__warning
{
	wash-color: warningColor;
}

.predictions-stage-header .predictions-stage-header__warning
{
	flow-children: right;
}

.predictions-stage-header .predictions-stage-header__warning .predictions-stage-header__warning__label
{
	color: white;
	font-size: 16px;
}

.major-24 .predictions-stage-header .predictions-stage-header__warning .predictions-stage-header__warning__label
{
	color: groups-text-color-major-24;
	text-shadow: text-shadow-major-24;
	font-family: Stratum2 Medium, "Arial Unicode MS";
}

.predictions-stage-header .predictions-stage-header__warning .predictions-stage-header__warning__icon
{
	vertical-align: center;
	margin-right: 6px;
}

.major-24 .predictions-stage-header .predictions-stage-header__warning .predictions-stage-header__warning__icon
{
	wash-color:groups-text-color-major-24;
}

