/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.group-stage-header
{
	flow-children: down;
	margin: 8px 8px;
}

.group-stage-header .group-stage-header__instructions
{
	font-size: 14px;
	color: #ADDDFF;
}

.group-stage-header .group-stage-header__warning
{
	flow-children: right;
}

.group-stage-header .group-stage-header__warning .group-stage-header__warning__label
{
	color: white;
	font-size: 14px;
}

.group-stage-header .group-stage-header__warning .group-stage-header__warning__icon
{
	vertical-align: center;
	margin-right: 6px;
}

.group-stage-teams-container
{
	flow-children: down;
	vertical-align: center;
	margin-left: 8px;
	width: 92px;
}

.group-stage-teams-container .group-stage-teams__howto
{
	margin-bottom: 8px;
	flow-children: down;
}

.group-stage-teams-container .group-stage-teams__howto Image
{
	horizontal-align:center;
	wash-color: blueColor;
	margin-bottom: 6px;
}

.group-stage-teams-container .group-stage-teams__howto Label
{
	font-size: 13px;
	text-align: center;
	color: blueColor;
	text-overflow: shrink;
	max-height: 32px;
}

.group-stage-teams-container .group-stage-teams
{
	flow-children: right-wrap;
	vertical-align: center;
}

.group-stage-draggable-team
{
	margin: 4px;
	width: 36px;
	height: 36px;
	transition-property: transform, saturation, brightness, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.group-stage-draggable-team.dragged-away Image
{
	saturation: 0.6;
	brightness: 0.2;
	opacity: .4;
	transition-property: saturation, brightness, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.group-stage-draggable-team.already-picked
{
	brightness: .1;
	saturation: .1;
	opacity: .5;
	blur: gaussian( 1, 1, 1);
}

.group-stage-draggable-team.already-picked .group-stage-draggable-team__logo
{
	img-shadow: none;
}

.group-stage-draggable-team:hover:not(.dragged-away)
{
	sound: "UIPanorama.inventory_item_rollover";
	transform: translateY( -5px);
	brightness: 1.6;
	img-shadow: -3px 6px 6px .5 rgba(0, 0, 0, .2);
}

.group-stage-draggable-team.team-locked
{
	brightness: .2;
}

.group-stage-draggable-team.team-locked .group-stage-draggable-team__logo
{
	img-shadow: none;
}

.group-stage-drop-target .group-stage-draggable-team.team-locked
{
	brightness: 1;
}

.group-stage-drop-target .group-stage-draggable-team.team-locked:hover
{
	brightness: 1;
}

.group-stage-draggable-team.team-locked:hover
{
	transform: translateY( 0px);
	brightness: .2;
	img-shadow: none;
}

.group-stage-draggable-team.empty-team
{
	background-color: rgba(53, 53, 53, 0.267);
	border-radius: 50%;
}

.group-stage-draggable-team .group-stage-draggable-team__logo
{
	img-shadow: 0px 0px 8px 1.0 #d6d6d66b;
}

.group-stage-draggable-team .group-stage-draggable-team__check
{
	transform: scale3d( 1, 1, 1);
	wash-color: positiveColor;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.group-stage-draggable-team .group-stage-draggable-team__check.hidden
{
	visibility: collapse;
	transform: scale3d( .5, .5, 1);
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.group-stage-matchups-container
{
	width: 100%;
	vertical-align: center;
	flow-children: right;
	margin-left: 8px;
}

.group-stage-matchups-container .group-stage-matchups-arrows
{
	width: 16px;
	height: 100%;
	overflow:noclip;
	z-index: 7;
}

.group-stage-matchups-container .group-stage-matchups-arrows .group-stage-matchups-arrow
{
	background-color: groups-bg-color;
	transform-origin: 50% 50%;
	opacity-mask: url("s2r://panorama/images/masks/tournament_group_direction_png.vtex");
	height: 14px;
	width: 32px;
	overflow:noclip;
}

.group-stage-matchups-container .group-stage-matchups-arrows.column1 .first
{
	transform: rotatez(-25deg) translateX( -5px ) translateY(165px);
	background-color: arrow-bg-color-green;
}

.group-stage-matchups-container .group-stage-matchups-arrows.column1 .second
{
	transform: rotatez(25deg) translateX( -5px ) translateY( 380px);
	background-color: arrow-bg-color-red;
}

.group-stage-matchups-container .group-stage-matchups-arrows.column2 .first
{
	transform: rotatez(-25deg) translateX( -5px ) translateY(95px);
	background-color: arrow-bg-color-green;
}

.group-stage-matchups-container .group-stage-matchups-arrows.column2 .second
{
	transform: rotatez(25deg) translateX( -5px ) translateY( 220px);
	background-color: arrow-bg-color-red;
}

.group-stage-matchups-container .group-stage-matchups-arrows.column2 .third
{
	transform: rotatez(-25deg) translateX( -5px ) translateY( 325px);
	background-color: arrow-bg-color-green;
}

.group-stage-matchups-container .group-stage-matchups-arrows.column2 .fourth
{
	transform: rotatez(25deg) translateX( -5px ) translateY( 445px);
	background-color: arrow-bg-color-red;
}

.group-stage-matchups-container .group-stage-matchups-arrows.column3 .first
{
	transform: rotatez(-25deg) translateX( -5px ) translateY(40px);
	background-color: arrow-bg-color-green;
}

.group-stage-matchups-container .group-stage-matchups-arrows.column3 .second
{
	transform: rotatez(25deg) translateX( -5px ) translateY( 110px);
	background-color: arrow-bg-color-red;
}

.group-stage-matchups-container .group-stage-matchups-arrows.column3 .third
{
	transform: rotatez(-25deg) translateX( -5px ) translateY( 210px);
	background-color: arrow-bg-color-green;
}

.group-stage-matchups-container .group-stage-matchups-arrows.column3 .fourth
{
	transform: rotatez(25deg) translateX( -5px ) translateY( 330px);
	background-color: arrow-bg-color-red;
}

.group-stage-matchups-container .group-stage-matchups-arrows.column3 .fifth
{
	transform: rotatez(-25deg) translateX( -5px ) translateY( 390px);
	background-color: arrow-bg-color-green;
}

.group-stage-matchups-container .group-stage-matchups-arrows.column3 .sixth
{
	transform: rotatez(25deg) translateX( -5px ) translateY( 470px);
	background-color: arrow-bg-color-red;
}

.group-stage-matchups-container .group-stage-matchups-arrows.column4 .first
{
	transform: rotatez(-25deg) translateX( -5px ) translateY(130px);
	background-color: arrow-bg-color-green;
}

.group-stage-matchups-container .group-stage-matchups-arrows.column4 .second
{
	transform: rotatez(25deg) translateX( -5px ) translateY( 200px);
	background-color: arrow-bg-color-red;
}

.group-stage-matchups-container .group-stage-matchups-arrows.column4 .third
{
	transform: rotatez(-25deg) translateX( -5px ) translateY( 300px);
	background-color: arrow-bg-color-green;
}

.group-stage-matchups-container .group-stage-matchups-arrows.column4 .fourth
{
	transform: rotatez(25deg) translateX( -5px ) translateY( 390px);
	background-color: arrow-bg-color-red;
}

.group-stage-matchups-container .group-stage-matchups-arrows.column5 .first
{
	transform: rotatez(-25deg) translateX( -5px ) translateY(45px);
	background-color: arrow-bg-color-green;
}

.group-stage-matchups-container .group-stage-matchups-arrows.column5 .second
{
	transform: rotatez(25deg) translateX( -5px ) translateY( 120px);
	background-color: arrow-bg-color-red;
}

.group-stage-matchups-container .group-stage-matchups-section
{
	background-color: groups-bg-color;
	border-radius: 6px;
	flow-children: down;
	width: 128px;
	vertical-align: center;
	margin: 4px 0px;
}

.group-stage-matchups-container .group-stage-matchups-section.eliminated
{
	background-color: bg-eliminated;
}

.group-stage-matchups-container .group-stage-matchups-section.advance
{
	background-color: bg-advance;
}

.group-stage-matchups-container .group-stage-matchups-section .group-stage-matchups-section__header
{
	font-size: 14px;
	margin: 6px 8px;
	opacity: .5;
}

.group-stage-matchups-container .group-stage-matchup
{
	flow-children:right;
	horizontal-align: center;
	vertical-align: center;
	margin: 2px 0px;
}

.group-stage-matchups-container .group-stage-matchup #id-team-matchup-btn
{
	padding: 6px 0px;
	border-radius: 6px;
}

.group-stage-matchups-container .group-stage-matchup #id-team-matchup-btn:hover
{
	background-color: rgba(255, 255, 255, 0.02);
}

.group-stage-matchups-container .group-stage-matchup.has_valid_matchup .group-stage-matchup__score-container
{
	opacity: 1;
	visibility: visible;
}

.group-stage-matchups-container .group-stage-matchup.has_valid_matchup .group-stage-matchup__noscore
{
	opacity: 0;
	visibility: collapse;
}

.group-stage-matchups-container .group-stage-matchup .group-stage-matchup__logo
{
	margin: 0px 4px;
	vertical-align: center;
}

.group-stage-matchups-container .group-stage-matchup .group-stage-matchup__score-container
{
	opacity: 0;
	visibility: collapse;
	vertical-align: center;
	flow-children:right;
}

.group-stage-matchups-container .group-stage-matchup .group-stage-matchup__score-container .group-stage-matchup__score
{
	font-size: 14px;
	width: 14px;
	height: 16px;
	text-align: center;
	color: pickem-red;
}

.group-stage-matchups-container .group-stage-matchup .group-stage-matchup__score-container .group-stage-matchup__score.winner
{
	color: pickem-green;
}

.group-stage-matchups-container .group-stage-matchup .group-stage-matchup__score-container .group-stage-matchup__score-separator
{
	font-size: 14px;
	text-align: center;
}

.group-stage-matchups-container .group-stage-matchup.has_match_in_progress .group-stage-matchup__score-container .group-stage-matchup__score
{
	color: white;
}

.group-stage-matchups-container .group-stage-matchup .group-stage-matchup__noscore
{
	font-size: 14px;
	width: 24px;
	text-overflow: shrink;
	text-align: center;
	margin: 0px 4px;
	color:rgba(255, 255, 255, 0.146);
}

.group-stage-matchups-results-container
{
	flow-children: down;
	vertical-align: center;
	transform: translateY(-43px) translateX(-28px);
	z-index: 2;
}

.group-stage-matchups-results
{
	background-color: groups-bg-color;
	width: 172px;
	border-radius: 6px;
	flow-children: down;
	vertical-align: center;
	margin: 4px 0px;
}

.group-stage-matchups-results.eliminated
{
	background-color: bg-eliminated;
}

.group-stage-matchups-results.advance
{
	background-color: bg-advance;
}

.group-stage-matchups-results.no-bg
{
	background-color: none;
}

.group-stage-matchups-results.empty
{
	height: 72px;
	width: 144px;
	border-radius: 6px 0px 0px 6px;
}

.group-stage-matchups-results.no-left-border
{
	border-radius: 0px 6px 6px 6px;
}

.group-stage-matchups-results.bottom
{
	margin-top: 18px;
}

.group-stage-matchups-results .group-stage-matchups-results__six
{
	padding: 18px 0px;
	horizontal-align: center;
	flow-children: down;
}

.group-stage-static-background
{
	ignore-parent-flow: true;
	x: 576px;
	y: 96px;
	z-index: 1;
}

.group-stage-matchups-results__label
{
	text-align: center;
	horizontal-align: center;
	font-size: 14px;
	letter-spacing: 1.5px;
	margin-top: 4px;
	color: white;
	text-transform: uppercase;
}

.group-stage-drop-target
{
	height: 42px;
	width: 42px;
	margin: 8px 4px;
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.is-dragging .group-stage-drop-target .group-stage-drop-target__empty
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgba(255, 255, 255, 0.342) ), to( rgba(0, 0, 0, 0.712) ) );
}

.group-stage-drop-target.not-active .group-stage-drop-target__empty
{
	background-img-opacity: 0;
	border:1px solid rgba(0, 0, 0, 0.24);
}

.group-stage-drop-target.group-stage-drag-enter
{
	transform: scale3d(1.2, 1.2, 1);
}

.group-stage-drop-target.group-stage-drag-enter .group-stage-drop-target__empty
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgba(255, 255, 255, 0.342) ), to( rgba(0, 0, 0, 0.712) ) );
}

.group-stage-drop-target.has-pick .group-stage-drop-target__empty
{
	background-img-opacity: 0;
	background-color: gradient( radial, 50% 50%, 0% 0%, 86% 86%, from( rgba(0, 0, 0, 0) ), to( rgba(0, 0, 0, 1) ) );
}

.group-stage-drop-target.has-pick:hover .group-stage-drop-target__remove
{
	opacity: 1;
	transform: translateY( 0px );
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.group-stage-drop-target.has-pick:hover .group-stage-drop-target__remove Image
{
	img-shadow: 0px 0px 12px 8 black;
}

.group-stage-drop-target .group-stage-drop-target__tooltip-loc
{
	horizontal-align: center;
	tooltip-position: top;
	tooltip-body-position: 50% 100%;
}

.group-stage-drop-target .group-stage-drop-target__tooltip-loc.bottom
{
	tooltip-position: bottom;
	vertical-align: bottom;
}

.group-stage-drop-target .group-stage-drop-target__icon
{
	height: 38px;
	width: 38px;
	vertical-align: center;
	horizontal-align:center;
}

.group-stage-drop-target .group-stage-drop-target__empty
{
	width: 100%;
	height: 100%;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgba(0, 0, 0, 0.3) ), to( rgba(0, 0, 0, 0.3) ) );
	background-image: url("s2r://panorama/images/tournaments/pickem_bracket_circle_pick_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 50%;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.group-stage-drop-target .group-stage-drop-target__remove
{
	margin: 0px;
	padding: 6px;
	opacity: 0;
	transform: translateY( 10px );
	border-radius: 50%;
	visibility: collapse;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.group-stage-drop-target .group-stage-drop-target__remove Image
{
	margin: 0px;
}

.group-stage-drop-target .group-stage-drop-target__correct-check
{
	visibility: collapse;
	background-color: black;
	padding:2px;
	border-radius: 50%;
	wash-color: pickem-green;
	border: 1px solid white;
}

.group-stage-drop-target .group-stage-drop-target__correct-team-icon
{
	visibility: collapse;
	background-color: red;
	height: 36px;
	width: 36px;
	horizontal-align: center;
	vertical-align: center;
}

.major-hub-pickem__page:not(.show-all-correct-picks) .group-stage-drop-target.is-incorrect .group-stage-drop-target__empty
{
	border:1.5px solid #b21e2d7a;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgba(179, 17, 17, 0.726) ), to( rgba(29, 2, 2, 0.541) ) );
}

.major-hub-pickem__page:not(.show-all-correct-picks) .group-stage-drop-target.is-correct .group-stage-drop-target__empty
{
	border:1.5px solid rgba(14, 209, 95, 0.432);
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( pickem-green ), to( rgba(29, 2, 2, 0.541) ) );
}

.major-hub-pickem__page:not(.show-all-correct-picks) .group-stage-drop-target.is-correct .group-stage-drop-target__correct-check
{
	visibility: visible;
}

.major-hub-pickem__page:not(.show-all-correct-picks) #placement-team-icon,.major-hub-pickem__page:not(.show-all-correct-picks) .placement-team-icon
{
	opacity: 0;
	visibility: collapse;
}

.show-all-correct-picks .group-stage-drop-target__correct-team-icon
{
	visibility: visible;
}

.show-all-correct-picks .group-stage-drop-target__empty
{
	background-image: none;
}

.show-all-correct-picks .group-stage-matchups-container .group-stage-draggable-team
{
	visibility: collapse;
}

.group-stage-drop-result
{
	height: 42px;
	width: 42px;
	margin: 8px 4px;
}

.show-all-correct-picks .group-stage-matchups-results .group-stage-draggable-team
{
	opacity: 0;
	visibility: collapse;
}

.show-all-correct-picks .group-stage-drop-target__correct-team-icon
{
	background-color: #00000000;
}

.show-all-correct-picks .actual-result-green-check .group-stage-drop-target__correct-check
{
	visibility: visible;
	opacity: 0.95;
}

.show-all-correct-picks .placeholder-team-icon
{
	opacity: 0;
	visibility: collapse;
}

@keyframes 'hover-wiggle'
{
	0%
	{
		transform: translateX( 1px ) translatey(-1px );
	}
	
	50%
	{
		transform: translateX( -1px ) translatey( -1px ) rotateX( 10deg );
	}
	
	100%
	{
		transform: translateX( 0px ) translatey( 0px );
	}
	
}

