/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.predictions-stage-header
{
	flow-children: down;
	margin: 16px 8px;
}

.predictions-stage-header.not-active .predictions-stage-header__warning
{
	wash-color: warningColor;
}

.predictions-stage-header .predictions-stage-header__warning
{
	flow-children: right;
}

.predictions-stage-header .predictions-stage-header__warning .predictions-stage-header__warning__label
{
	color: white;
	font-size: 16px;
}

.predictions-stage-header .predictions-stage-header__warning .predictions-stage-header__warning__icon
{
	vertical-align: center;
	margin-right: 6px;
}

