/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.bracket-container
{
	flow-children:right;
	margin-top: 32px;
	height: 100%;
}

.bracket-column
{
	flow-children: down;
	vertical-align: center;
	overflow: noclip;
}

.bracket-column__group
{
	flow-children: right;
	margin: 12px 0px;
	overflow: noclip;
}

.bracket-column__group .bracket-column__group__teams
{
	flow-children: down;
	padding: 0px 4px;
	border-radius: 6px;
	overflow: noclip;
	box-shadow: #f7f7f700 hollow 0px 0px 6px 0px ;
	transition-property: background-color, box-shadow;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.bracket-column__group .bracket-column__group_lines
{
	width: 37px;
	height: 52px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top: 1px solid rgba(255, 255, 255, 0.20 );
	border-bottom: 1px solid rgba(255, 255, 255, 0.20 );
	border-right: 1px solid rgba(255, 255, 255, 0.20 );
	vertical-align: center;
}

.round-of-4 .bracket-column__group .bracket-column__group_lines
{
	height: 124px;
}

.round-of-2 .bracket-column__group .bracket-column__group_lines
{
	height: 238px;
}

.bracket-column__group .bracket-column__group_lines__connector
{
	vertical-align: center;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.20 );
	width: 24px;
}

.bracket-team
{
	width: 200px;
	height: 42px;
	margin: 0px 0px 6px 0px;
	overflow: noclip;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.bracket-team.bottom
{
	margin: 6px 0px 0px 0px;
}

.bracket-team.no-margin
{
	margin: 0px;
}

.bracket-team.bracket-team-result
{
	visibility: collapse;
}

.bracket-team.is-dragging .bracket-team__bounding-box
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 120% 90%, from( rgba(151, 151, 151, 0.2) ), to( rgba(0, 0, 0, 0.9) ) );
	border: 1px dashed rgba(255, 255, 255, 1 );
}

.bracket-team.dragged-away Image,.bracket-team.dragged-away Label
{
	saturation: 0.6;
	brightness: 0.2;
	opacity: .6;
	transition-property: saturation, brightness, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.bracket-team.bracket-stage-drag-enter.bracket-team.is-dragging
{
	brightness: 2;
}

.bracket-team.bracket-stage-drag-enter.bracket-team.is-dragging .bracket-team__bounding-box
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 120% 90%, from( rgba(255, 255, 255, 0.1) ), to( rgba(0, 0, 0, 0.8) ) );
}

.bracket-team.not-active .bracket-team__bounding-box
{
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.bracket-team.is-incorrect .bracket-team__bounding-box
{
	border:1.5px solid #b21e2d7a;
	background-color: gradient( radial, 50% 50%, 0% 0%, 120% 90%, from( rgba(179, 17, 17, 0.4) ), to( rgba(29, 2, 2, 0.4) ) );
}

.bracket-team.is-correct.bracket-team-pick .bracket-team__bounding-box
{
	border:1.5px solid rgba(14, 209, 95, 0.432);
	background-color: gradient( radial, 50% 50%, 0% 0%, 120% 90%, from( rgba(14, 209, 95, 0.3)), to( rgba(29, 2, 2, 0.3) ) );
}

.bracket-team.is-correct .bracket-team__correct-check
{
	visibility: visible;
}

.bracket-team:hover:not(.dragged-away)
{
	sound: "UIPanorama.inventory_item_rollover";
}

.bracket-team:hover:not(.dragged-away) .bracket-team__name
{
	transform: translateY( -5px);
	brightness: 1.6;
}

.bracket-team:hover:not(.dragged-away) .bracket-team__logo
{
	transform: translateY( -5px);
	brightness: 1.6;
	img-shadow: -3px 6px 6px .5 rgba(0, 0, 0, .2);
}

.bracket-team.bracket-team-result:hover .bracket-team__name
{
	transform: translateY( 0px);
	brightness: 1;
}

.bracket-team.bracket-team-result:hover .bracket-team__logo
{
	transform: translateY( 0px);
	brightness: 1;
	img-shadow: 0px 0px 0px .5 rgba(0, 0, 0, .0);
}

.round-of-4 .bracket-team
{
	margin: 0px 0px 39px 0px;
}

.round-of-4 .bracket-team.bottom
{
	margin: 39px 0px 0px 0px;
}

.round-of-2 .bracket-team
{
	margin: 0px 0px 96px 0px;
}

.round-of-2 .bracket-team.bottom
{
	margin: 96px 0px 0px 0px;
}

.bracket-team .bracket-team__bounding-box
{
	width: 100%;
	height: 34px;
	border: 1px dashed rgba(255, 255, 255, 0.20 );
	background-color: rgba(0, 0, 0, 0.4);
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 90%, from( rgba(0, 0, 0, 0.4)), to( rgba(0, 0, 0, 0.4)) );
	border-radius: 6px;
	vertical-align: center;
	transition-property: background-color;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.bracket-team .bracket-team__name
{
	font-size: 14px;
	margin-left: 58px;
	width: 110px;
	transition-property: saturation, brightness, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.bracket-team .bracket-team__score
{
	font-size: 16px;
	horizontal-align: right;
	vertical-align: center;
	margin-right: 8px;
	visibility: collapse;
}

.bracket-team-result.bracket-team .bracket-team__score
{
	visibility: visible;
}

.is_winner.bracket-team .bracket-team__score
{
	color: rgb( 23, 235, 23 );
	font-weight: black;
}

.is_loser.bracket-team .bracket-team__score
{
	color: rgb( 200, 40, 40 );
}

.bracket-team .bracket-team__logo
{
	img-shadow: 0px 0px 6px 1 black;
	margin-left: 6px;
	overflow: noclip;
	transition-property: saturation, brightness, transform, img-shadow;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.bracket-team .bracket-team__correct-check
{
	visibility: collapse;
	background-color: black;
	horizontal-align: left;
	transform: translateX(-2px);
	padding:2px;
	border-radius: 50%;
	wash-color: pickem-green;
	border: 1px solid white;
}

.round-of-4 .bracket-spacer
{
	height: 52px;
}

.show-all-correct-picks .bracket-column__group
{
	flow-children: right;
	margin: 12px 0px;
}

.show-all-correct-picks .bracket-column__group.has_valid_matchup:hover .bracket-column__group__teams
{
	background-color: rgba(255, 255, 255, 0.03);
	box-shadow: #f7f7f731 hollow 0px 0px 6px 0px ;
	transition-property: background-color, box-shadow;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.show-all-correct-picks .bracket-team-pick
{
	visibility: collapse;
}

.show-all-correct-picks .bracket-team-result
{
	visibility: visible;
}

