/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.group-stage-apply-btn
{
	vertical-align: bottom;
	horizontal-align: right;
	background-color: rgba(10, 104, 49, 0.9);
	border: 1.5px solid pickem-green;
	margin: 0px 32px 32px 0px;
	border-radius: 3px;
	box-shadow: hollow rgba(14, 209, 95, 0.082) 0px 0px 15px 1px;
	min-width: 150px;
	z-index: 3;
	animation-name: submit-attract;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	transition-property: background-color, box-shadow;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.group-stage-apply-btn:hover
{
	background-color: rgba(11, 139, 65, 0.568);
	animation-name: submit-attract;
	animation-duration: 0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 0;
}

.group-stage-apply-btn:disabled
{
	box-shadow: none;
	border: 1.5px dashed rgba(255, 255, 255, 0.336);
	background-color: rgba(0, 0, 0, 0.473);
	border-radius: 6px;
	animation-name: submit-attract;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 0;
}

.group-stage-apply-btn:disabled .group-stage-apply-btn__contents Label
{
	color: rgba(255, 255, 255, 0.336);
}

.group-stage-apply-btn.saved:disabled
{
	background-color: rgba(0, 0, 0, 0.5);
	border: 1.5px dashed pickem-green;
}

.group-stage-apply-btn.saved:disabled Label
{
	color: pickem-green;
	letter-spacing: 1px;
}

.group-stage-apply-btn.saved:disabled #id-apply-btn-image-check
{
	visibility: visible;
	wash-color: pickem-green;
}

.group-stage-apply-btn.waiting-for-update:disabled
{
	border: 1.5px dashed rgba(255, 255, 255, 0.336);
	background-color: rgba(0, 0, 0, 0.473);
}

.group-stage-apply-btn.waiting-for-update:disabled Label
{
	letter-spacing: 1px;
}

.group-stage-apply-btn.waiting-for-update:disabled .Spinner
{
	visibility: visible;
}

.group-stage-apply-btn.locked:disabled
{
	background-color: rgba(10, 104, 49, 0);
	border: 0px dashed pickem-green;
}

.group-stage-apply-btn.locked:disabled Label
{
	color: baseText;
}

.group-stage-apply-btn.locked:disabled #id-apply-btn-image-lock
{
	visibility: visible;
	wash-color:baseText;
}

.group-stage-apply-btn .group-stage-apply-btn__contents
{
	vertical-align: center;
	horizontal-align: center;
	padding: 0px 8px;
	flow-children: right;
}

.group-stage-apply-btn .group-stage-apply-btn__contents Label
{
	padding: 8px 0px;
	color: pickem-green;
	text-align: center;
	horizontal-align: center;
	transition-property: color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.group-stage-apply-btn .group-stage-apply-btn__contents Image
{
	vertical-align: center;
	visibility: collapse;
	margin-right: 8px;
}

.group-stage-apply-btn .group-stage-apply-btn__contents .Spinner
{
	margin-right: 8px;
	vertical-align: center;
	width: 18px;
	height: 18px;
	visibility: collapse;
}

.group-stage-toggle-btn
{
	visibility: collapse;
}

.group-stage-toggle-btn Label
{
	font-size: 14px;
}

.group-stage-toggle-btn .TickBox
{
	height: 16px;
	width: 16px;
}

.group-stage-toggle-btn:selected .TickBox
{
	height: 16px;
	width: 16px;
	background-size: 16px 16px;
}

.group-stage-toggle-btn:selected Label
{
	font-size: 14px;
}

@keyframes 'submit-attract'
{
	0%
	{
		border: 1.5px solid pickem-green;
		box-shadow: hollow rgba(14, 209, 95, 0.082) 0px 0px 15px 1px;
	}
	
	50%
	{
		border: 1.5px solid rgb(9, 92, 43);
		box-shadow: hollow rgba(14, 209, 95, 0.082) 0px 0px 5px 1px;
	}
	
	100%
	{
		border: 1.5px solid pickem-green;
		box-shadow: hollow rgba(14, 209, 95, 0.082) 0px 0px 15px 1px;
	}
	
}

