<!-- xml reconstructed by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io -->
<root>
	<styles>
		<include src="s2r://panorama/styles/csgostyles.vcss_c" />
		<include src="s2r://panorama/styles/settings/settings.vcss_c" />
		<include src="s2r://panorama/styles/mainmenu.vcss_c" />
	</styles>
	<scripts>
		<include src="s2r://panorama/scripts/settingsmenu_shared.vts_c" />
		<include src="s2r://panorama/scripts/settingsmenu.vjs_c" />
	</scripts>
	<Panel class="mainmenu-content__container" useglobalcontext="true">
		<Panel id="id-navbar-tabs" class="content-navbar__tabs content-navbar__tabs--noflow">
			<Panel class="content-navbar__tabs__center-container">
				<RadioButton id="SearchRadio" group="SettingsNavBar" class="mainmenu-top-navbar__radio-iconbtn" onactivate="SettingsMenu.NavigateToTab(&quot;Search&quot;)">
					<Image class="mainmenu-top-navbar__radio-btn__icon" src="s2r://panorama/images/icons/ui/search.vsvg" />
				</RadioButton>
				<RadioButton id="PromotedSettingsRadio" group="SettingsNavBar" class="content-navbar__tabs__btn" onactivate="SettingsMenu.NavigateToTab( &quot;Promoted&quot; )">
					<Label class="" text="#settings_new" />
				</RadioButton>
				<RadioButton id="VideoRadio" group="SettingsNavBar" class="content-navbar__tabs__btn" onactivate="SettingsMenu.NavigateToTab(&quot;VideoSettings&quot;)">
					<Label class="" text="#settings_video" />
				</RadioButton>
				<RadioButton id="AudioRadio" group="SettingsNavBar" class="content-navbar__tabs__btn" onactivate="SettingsMenu.NavigateToTab(&quot;AudioSettings&quot;)">
					<Label class="" text="#settings_audio" />
				</RadioButton>
				<RadioButton id="GameRadio" group="SettingsNavBar" class="content-navbar__tabs__btn" onactivate="SettingsMenu.NavigateToTab(&quot;GameSettings&quot;)">
					<Label class="" text="#settings_game" />
				</RadioButton>
				<RadioButton id="KBMouseRadio" group="SettingsNavBar" class="content-navbar__tabs__btn" onactivate="SettingsMenu.NavigateToTab( &quot;KeybdMouseSettings&quot; )">
					<Label class="" text="#settings_keyboard_mouse" />
				</RadioButton>
			</Panel>
		</Panel>
		<Panel id="SettingsMenuContent" class="full-width full-height" />
	</Panel>
</root>
