/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.zoneprogress
{
	margin-left: 20px;
	opacity-mask: url("s2r://panorama/images/icons/ui/zoneprogress.vsvg");
	background-color: rgb(88, 88, 88);
	width: 48px;
	height: 48px;
}

.zoneprogress.hidden
{
	visibility: collapse;
	transform: translateX( -100% );
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.zoneprogress__bar
{
	background-color: white;
	height: 15%;
	width: 100%;
	vertical-align: bottom;
	wash-color: lightgreen;
	transition-property: height;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

