/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define title-bar-color: rgba(255, 255, 255, .075 );
.survivalbuymenu
{
	height: 890px;
	width: 1200px;
	padding: 10px;
	margin-top: 30px;
	vertical-align: top;
	horizontal-align: left;
	flow-children: down;
}

.survivalbuymenu-container
{
	height: 100%;
	flow-children: down;
	horizontal-align: center;
}

.survivalbuymenu-titlebar
{
	width: 100%;
	height: 32px;
	margin-top: 4px;
}

.survivalbuymenu-titlebar__left
{
	flow-children: right;
	-s2-mix-blend-mode: screen;
	vertical-align: center;
	margin-left: 24px;
}

.survivalbuymenu-titlebar__left__text
{
	font-weight: medium;
	font-size: 24px;
	color: rgb(29, 152, 173);
}

.survivalbuymenu-titlebar__right
{
	flow-children: left;
	vertical-align: center;
	margin-right: 24px;
	horizontal-align: right;
}

.survivalbuymenu-titlebar__right__text
{
	font-weight: medium;
	font-size: 32px;
	color: positiveColor;
}

.survivalbuymenu-titlebar__right__icon
{
	wash-color: positiveColor;
	margin-right: 12px;
}

.survivalbuymenu-items-container
{
	width: fit-children;
	max-width: 100%;
	padding: 8px;
	flow-children: down;
}

.survivalbuymenu-items-container-seperator
{
	width: 100%;
	height: 1px;
	background-color: title-bar-color;
	padding-left: 16px;
}

.survivalbuymenu-item-row-title
{
	background-color: title-bar-color;
	color: rgb(0, 0, 0);
	font-size: 16px;
	padding: 2px 24px;
	font-weight: bold;
	vertical-align: top;
	margin-bottom: 8px;
}

.survivalbuymenu-item-row
{
	width: fit-children;
	max-width: 100%;
	height: fit-children;
	flow-children: right;
	margin-left: 8px;
}

.survivalbuymenu-item
{
	width: 220px;
	height: 160px;
	margin: 0px 7px 0px 0px;
	background-color: rgba(34, 56, 30, 0.678);
	border: 1px solid rgba(255, 255, 255, 0.043);
}

.survivalbuymenu-item:hover:not(.survivalbuymenu-item:disabled)
{
	background-color: rgba(25, 66, 19, 0.678);
	border: 1px solid rgba(54, 216, 33, 0.418);
}

.survivalbuymenu-item__info
{
	width: 100%;
	flow-children: down;
	vertical-align: bottom;
	horizontal-align: left;
	padding-left: 8px;
	padding-bottom: 8px;
	padding-top: 8px;
	background-color: rgba(0, 0, 0, 0.336);
}

.survivalbuymenu-item__image
{
	vertical-align: center;
	horizontal-align: center;
	width: 148px;
	padding-bottom: 32px;
	transition-property: transform, brightness, opacity;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.survivalbuymenu-item__image.svg
{
	wash-color:grey;
	padding: 0px;
}

.survivalbuymenu-item__info__name
{
	font-weight: light;
	color: white;
	text-align: left;
	horizontal-align: left;
	max-height: 24px;
	font-size: 16px;
}

.survivalbuymenu-item__info__price
{
	font-weight: medium;
	color: positiveColor;
	text-align: left;
	horizontal-align: left;
	font-size: 16px;
}

.survivalbuymenu-item:disabled .survivalbuymenu-item__info__price
{
	color: rgb(122, 52, 52);
}

.survivalbuymenu-item:disabled .survivalbuymenu-item__image,.survivalbuymenu-item.owned .survivalbuymenu-item__image
{
	brightness: .2;
	opacity: .5;
}

.survivalbuymenu-item:disabled
{
	border: 1px solid rgba(0, 0, 0, 0.466);
	background-color: rgba(31, 31, 31, 0.822);
}

.survivalbuymenu-item.owned .survivalbuymenu-item__info__price
{
	color: rgb(100, 100, 100);
}

.survivalbuymenu-item.owned .survivalbuymenu-item__info__name,.survivalbuymenu-item:disabled .survivalbuymenu-item__info__name
{
	color: rgb(100, 100, 100);
}

