/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.zonetimer-container
{
	height: fit-children;
	width: 200px;
	visibility: collapse;
	margin-top: -38px;
	padding-bottom: 36px;
}

.survival .zonetimer-container
{
	visibility: visible;
	opacity: 0;
}

.survival .zonetimer-container.show
{
	visibility: visible;
	opacity: 1;
}

.zonetimer-background
{
	width: 100%;
	height: 48px;
	vertical-align: middle;
	margin-top: -4px;
	margin-left: 12px;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), color-stop( 0.5, #000000CC ) , color-stop(0.6, #000000CC), color-stop( 0.9, #000000BB ), to( #00000000 ) );
}

.zonetimer-label
{
	color: white;
	font-size: 19px;
	text-shadow:0px 0px 3px 0.0 #00000080;
	font-family: Stratum2 Bold Monodigit, 'Arial Unicode MS';
	font-size: 32px;
}

.zonetimer-container.lowtime .zonetimer-label
{
	text-shadow: 0px 0px 9px 2.5 #DD0000;
}

.zonetimer-icon
{
	transform: rotateZ( -135deg );
	vertical-align: middle;
	wash-color: white;
	margin-left: 31px;
	margin-right: 16px;
}

