/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.eom-survival
{
	flow-children: down;
	width: 1400px;
	height: 750px;
	horizontal-align: center;
	visibility: collapse;
}

.PauseMenuModeOnly.eom-survival
{
	width: 100%;
	vertical-align: center;
}

.survival .eom-survival:not(.PauseMenuModeOnly)
{
	visibility: visible;
}

.AspectRatio4x3 .PauseMenuModeOnly.eom-survival
{
	ui-scale: 95%;
}

.AspectRatio4x3 .eom-survival
{
	ui-scale: 95%;
}

.eom-survival__players
{
	flow-children: left;
	margin-bottom: 16px;
}

.eom-survival__players-player
{
	ui-scale: 140%;
}

.eom-survival__player__selector
{
	height: 4px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.4);
	vertical-align: bottom;
}

.eom-survival__player__arrow.show
{
	visibility: visible;
	opacity: 0.75;
}

.eom-player-dead .avatar
{
	wash-color: rgba(80, 80, 80, 0.808);
	opacity: 0.8;
}

.eom-survival__players-skillgroup-img
{
	width: 64px;
	height: fit-children;
	img-shadow: 2px 2px 2px #000000;
	margin: -26px 0px 0px 12px;
	horizontal-align: center;
	transform: translatex(-10px) translatey(82px) translatez(1px);
}

.eom-survival__players-skillgroup-img.has-rank-icon
{
	opacity: 1;
}

.eom-survival__players-skillgroup-img.no-rank-icon
{
	opacity: 0;
}

.eom-survival__players-solo-info
{
	width: 64px;
	height: fit-children;
	margin: -12px 0px 0px 16px;
	horizontal-align: center;
}

.eom-survival__avatar__placement
{
	height: 64px;
	width: 64px;
	margin-top: 8px;
	horizontal-align: center;
	vertical-align: center;
}

.eom-survival__avatar__placement-hex
{
	height: 52px;
	width: 52px;
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
	img-shadow: 0px 0px 2px 2 rgba(15, 14, 14, 0.473);
	transform: translateY( -100%);
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.eom-survival__avatar__placement-hex--selected
{
	height: 100%;
	width: 100%;
	visibility: collapse;
	img-shadow: 0px 0px 2px 2 rgba(255, 255, 255, 0.89);
	opacity: 0;
	transition-property: opacity;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.eom-player-local .eom-survival__avatar__placement-hex--selected
{
	visibility: visible;
	opacity: 1;
}

.eom-survival__avatar__placement-hex,.eom-survival__stats__title-row__position__bg
{
	wash-color: #9B0909;
}

.eom-survival-placement-1 .eom-survival__avatar__placement-hex,.eom-survival-placement-2 .eom-survival__avatar__placement-hex,.eom-survival-placement-3 .eom-survival__avatar__placement-hex,.eom-survival-placement-red .eom-survival__avatar__placement-hex,.eom-survival-placement-grey .eom-survival__avatar__placement-hex
{
	visibility: visible;
	transform: translateY( 0% );
	opacity: 1;
}

.eom-survival-placement-1 .eom-survival__avatar__placement-hex,.eom-survival-placement-1 .eom-survival__stats__title-row__position__bg
{
	wash-color: rgb(252, 229, 30);
}

.eom-survival-placement-2 .eom-survival__avatar__placement-hex,.eom-survival-placement-2 .eom-survival__stats__title-row__position__bg
{
	wash-color: #b3bfc4;
}

.eom-survival-placement-3 .eom-survival__avatar__placement-hex,.eom-survival-placement-3 .eom-survival__stats__title-row__position__bg
{
	wash-color: #b37848;
}

.eom-survival-placement-red .eom-survival__avatar__placement-hex,.eom-survival-placement-red .eom-survival__stats__title-row__position__bg
{
	wash-color: rgb(160, 36, 36);
}

.eom-survival-placement-grey .eom-survival__avatar__placement-hex,.eom-survival-placement-grey .eom-survival__stats__title-row__position__bg
{
	wash-color: rgb(82, 82, 82);
}

.eom-survival__avatar-dead__placement
{
	horizontal-align: center;
	vertical-align: center;
	font-size: 15px;
	font-weight: medium;
	text-align: center;
	text-overflow: shrink;
	color: white;
}

.eom-survival__avatar-dead__icon
{
	horizontal-align: center;
	transform: translatex( 8% ) translatey(32px);
	visibility: collapse;
}

.eom-player-dead .eom-survival__avatar-dead__icon
{
	visibility: visible;
}

.eom-survival__avatar-team-player
{
	flow-children: right;
	margin-bottom: -12px;
}

.eom-survival__players-team-info
{
	width: 64px;
	height: 34px;
	margin: 0px 30px 0px 16px;
	horizontal-align: left;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #cc000022 ), to( #97000000 ) );
}

.survival-team
{
	padding: 0px 8px 0px 2px;
}

.survival-team--border
{
	border-right: 1px solid rgba(255, 255, 255, 0.233);
}

.eom-survival__contents
{
	flow-children: right;
	width: fit-children;
	height: 265px;
	opacity: 0;
	transform: translateY( -30% );
	transition-property: position, transform, opacity;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.eom-survival__contents.show
{
	opacity: 1;
	transform: translateY( 0% );
}

.eom-survival__stats
{
	flow-children: down;
	horizontal-align: center;
	width: 640px;
	transition-property: position;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.eom-survival__stats__title-row
{
	width: 100%;
	min-width: 640px;
	margin-bottom: 4px;
	transform-origin: 0% 0%;
	background-color: rgba(0, 0, 0, 0.80);
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(0, 0, 0, 0.00) ), color-stop( 0.055, rgba(0, 0, 0, 0.00) ), color-stop( 0.055, rgba(0, 0, 0, 0.80) ), to( rgba(0, 0, 0, 0.80)) );
	transition-property: transform;
	transition-duration: 0.25s, 5s;
	transition-timing-function: ease-in-out, ease-out;
}

.eom-survival__stats__title-row-contents
{
	width: 100%;
	flow-children: right;
}

.eom-survival__stats__title-row__position
{
	height: 72px;
}

.eom-survival__stats__title-row__position__value
{
	horizontal-align: center;
	vertical-align: center;
	font-size: 28px;
	font-weight: medium;
	text-align: center;
	text-overflow: shrink;
	color: white;
}

.eom-survival__stats__title-row__position__title
{
	opacity: .75;
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 15px;
	padding-left: 16px;
	font-weight: medium;
}

.eom-survival__stats__row
{
	border-top: 1px solid rgba(250, 250, 250, 0.05);
	background-color: rgba(0, 0, 0, 0.80);
	width: 100%;
	transform-origin: 0% 0%;
	transition-property: transform, position;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.eom-survival__stats__row__name
{
	horizontal-align: left;
	text-transform: uppercase;
	padding: 8px 32px;
}

.eom-survival__stats__row__value
{
	horizontal-align: right;
	text-transform: uppercase;
	font-weight: bold;
	text-align: right;
	padding: 8px 32px;
}

#id-eom-survival-damage-container
{
	width: 320px;
	height: 100%;
	flow-children: down;
	overflow: squish scroll;
	transform-origin: 0% 0%;
	margin-left: 4px;
	background-color: rgba(0, 0, 0, 0.80);
	visibility: collapse;
	transition-property: position, transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

#id-eom-survival-damage-container.show
{
	visibility: visible;
}

.eom-survival__damage
{
	width: 318px;
	margin-bottom: 1px;
	flow-children: right;
	padding: 8px;
}

.eom-survival__avatar
{
	height: 48px;
	width: 48px;
}

.eom-survival__damage__list
{
	flow-children: down;
	width: 100%;
	margin-left: 8px;
	vertical-align: center;
}

.eom-survival__damage__row
{
	width: 100%;
	padding: 1px 0px;
	opacity: .2;
}

.eom-survival__damage__row.show
{
	opacity: 1;
}

.eom-survival__damage_name
{
	font-weight: medium;
	opacity: 0.4;
}

.eom-survival__damage__title
{
	font-size: 16px;
}

.eom-survival__damage__value
{
	horizontal-align: right;
	text-align: right;
	font-size: 16px;
	font-weight: bold;
	margin-right: 8px;
}

.eom-survival__buttons__row
{
	margin-top: 8px;
	background-color: rgba(0, 0, 0, 0.80);
	width: 100%;
	padding: 8px 8px;
	transform-origin: 0% 0%;
	transition-property: transform, position;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.eom-survival__buttons__row__warning
{
	horizontal-align: right;
	flow-children: right;
	vertical-align: center;
	padding-right: 16px;
	visibility: visible;
	max-width: 300px;
}

.eom-survival__buttons__row__warning.hidden
{
	visibility: collapse;
}

.PauseMenuModeOnly .eom-survival__player__arrow,.PauseMenuModeOnly .eom-survival__stats,.PauseMenuModeOnly .eom-survival__stats__title-row,.PauseMenuModeOnly .eom-survival__stats__title-row-bg,.PauseMenuModeOnly .eom-survival__stats__row,.PauseMenuModeOnly .eom-survival__buttons__row
{
	transition-property: none;
	transition-duration: 0s;
}

.PauseMenuModeOnly #eom-survival_spectate
{
	visibility: collapse;
}

