/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.playerremainingcounter
{
	width: fit-children;
	height: 300px;
}

.playerremainingcounter-bg1
{
	height: 164px;
	width: 164px;
	horizontal-align: center;
	vertical-align: top;
	margin-top: 66px;
	-s2-mix-blend-mode: multiply;
}

.playerremainingcounter-container
{
	horizontal-align: center;
	vertical-align: top;
	flow-children: down;
	margin-top: 100px;
	padding-bottom: 1px;
}

.playerremainingcounter-counter
{
	horizontal-align: center;
	color: #ddd;
	font-family: Stratum2 Bold Monodigit, 'Arial Unicode MS';
	font-size: 68px;
	height: 72px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0px 0px 3px 0.0 #000000DD;
	opacity: 0.9;
}

.playerremainingcounter-playersremain
{
	color: #ddd;
	horizontal-align: center;
	font-family: Stratum2;
	font-size: 19px;
	text-align: center;
	font-weight: medium;
	text-shadow: 0px 0px 3px 0.0 #000000DD;
	background-color: rgba(0, 0, 0, 0.712);
}

