/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel.op-main
{
	width: 100%;
	height: 100%;
	max-width: 100%;
	padding-bottom: 0px;
	flow-children: none;
}

.PopupPanel.op-main.blur
{
	blur: gaussian( 2, 2, 6 );
}

.op-main-bg
{
	width: 100%;
	height: 100%;
	blur: gaussian( 6, 6, 3 );
}

#id-op-main-bg-blur
{
	width: 100%;
	height: 200px;
	background-color: rgba(0, 0, 0, 0.5);
}

.op-main .IconButton Image
{
	wash-color: opAccentColorLight;
	transition-property: wash-color;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

.op-main .IconButton:hover Image
{
	wash-color: none;
	transition-property: wash-color;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

.op-main-btn
{
	height: fit-children;
	width: fit-children;
	horizontal-align: right;
	vertical-align: middle;
	brightness: 1;
	flow-children: right;
	background-color: opAccentColorLight;
	border-radius: btnBorderRadius;
	transition-property: background-color;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

.op-main .op-main-btn:hover
{
	background-color: white;
	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-main-btn Label
{
	color: opAccentColorBlack;
	horizontal-align: left;
	vertical-align: middle;
	text-align: left;
	text-transform: uppercase;
	font-weight: medium;
	font-size: 20px;
	margin: 16px 12px 12px;
	font-family: Stratum2, 'Arial Unicode MS';
	text-overflow: shrink;
}

.op-main-btn Image
{
	wash-color: opAccentColorBlack;
	vertical-align: center;
	margin-left: 8px;
	transition-property: wash-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-main-container
{
	width: 100%;
	z-index: 2;
}

.op-main-topbar--padding-left
{
	padding-left: 64px;
}

.op-main-topbar--padding-right
{
	padding-right: 64px;
}

.op-main-topbar
{
	width: 100%;
	flow-children: right;
	padding-top: 8px;
}

.op-main-topbar__subtitle
{
	font-family: Stratum2, 'Arial Unicode MS';
	color: opAccentColorLight;
	font-size: 14px;
	font-weight: lighter;
	opacity: 0.6;
}

.op-main-progress-container
{
	margin-top: 80px;
	width: 100%;
}

.op-main-progress__title
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 18px;
	letter-spacing: 5px;
	font-weight: medium;
	text-transform: uppercase;
	color: opCompleteColor;
	opacity: .5;
}

.op-main-progress__title.large
{
	font-size: 32px;
	height: 38px;
	text-overflow: shrink;
}

.op-main-progress
{
	width: 100%;
	padding-top: 16px;
}

.op-main-progress-container .op-mainmenu__arrow_btn
{
	vertical-align: top;
	padding: 2px;
}

.op-main-progress__bar-container
{
	margin: 0px 64px;
	width: 100%;
	overflow: clip;
}

.op-main-progress__bar__spacer
{
	width: 64px;
}

.op-main-progress__bar
{
	height: 60px;
	width: 100%;
	max-width: 100%;
	flow-children: right;
}

.op-main-progress__bar__inner-container
{
	width: 1%;
	overflow: clip clip;
	flow-children:down;
	border-right: 1px solid opAccentColorDark;
}

.op-main-progress__bar__inner
{
	height: 20px;
	width: 100%;
	overflow: clip clip;
	background-color: opAccentColorBlack;
}

.op-main-progress__bar__inner--fill .op-main-progress__bar__inner
{
	background-color: opAccentColorLight;
}

.op-main-progress__bar__inner--fade
{
	visibility: collapse;
	width: 100%;
	height: 80px;
	padding: 0px -1px;
	margin-top: 2px;
	background-color: gradient( linear, 0% 50%, 0% 0%, from( rgba(211, 172, 248, 0) ), to( rgba(211, 172, 248, 0.13) ) );
}

.op-main-progress__bar__inner--fill .op-main-progress__bar__inner--fade
{
	visibility: visible;
}

.op-main-progress__bar__inner__dot
{
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: opAccentColor;
	vertical-align: center;
	horizontal-align: center;
}

.op-main-progress__bar__rewards-container
{
	width: 100%;
	min-height: 140px;
}

.op-main-progress__bar__reward
{
	transform-origin: 50% 0%;
	opacity: 0;
	z-index: 1;
	flow-children: none;
}

.op-main-progress__bar__reward:hover
{
	sound: "UIPanorama.sidemenu_rollover";
}

.highlight.op-main-progress__bar__reward
{
	z-index: 4;
}

.op-main-progress__bar__reward .RadioBox
{
	visibility: collapse;
}

.op-main-progress__bar__reward__hitbox
{
	flow-children: down;
	height: 100%;
	width: 24px;
	horizontal-align: center;
}

.op-main-progress__bar__reward__show-anim
{
	animation-name: op-reward-show;
	animation-duration: .25s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	opacity: 1;
}

@keyframes 'op-reward-show'
{
	from
	{
		transform: scaleY( .5 ) translateY( -10px );
		opacity: 0;
	}
	
	to
	{
		transform: scaleY( 1 ) translateY( 0px );
		opacity: 1;
	}
	
}

.op-main-progress__bar__star
{
	wash-color: opAccentColorLight;
	horizontal-align: center;
	width: 8px;
	height: 8px;
	margin-top: 5px;
	transform-origin: 50% 50%;
	transition-property: transform, width, height;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-main-progress__bar__reward__line
{
	horizontal-align: center;
	height: 0px;
	width: 2px;
	background-color: opAccentColorLight;
	transition-property: height;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-main-progress__bar__reward__image
{
	width: 96px;
	transform: scale3d( .3, .3, 1 ) translateY( -10px );
	transform-origin: 50% 50%;
	brightness: .8;
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-main-progress__bar__reward .op-main-progress__bar__value
{
	background-color: opAccentColorLight;
	horizontal-align: center;
	font-size: 12;
	text-align: center;
	font-weight: black;
	padding: 2px 4px;
	margin: 0px;
	color: opAccentColorBlack;
	border-radius: 0%;
	width: fit-children;
	height: fit-children;
	visibility: collapse;
}

.highlight .op-main-progress__bar__reward__line
{
	height: 18px;
	transform: scaleY( 1.5 );
}

.highlight .op-main-progress__bar__value
{
	visibility: visible;
}

.highlight .op-main-progress__bar__reward__image
{
	transform: scale3d( .9, .9, .9 ) translateY( 0px );
}

.op-main-progress__bar__reward:hover
{
	z-index: 3;
}

.op-main-progress__bar__reward:hover:not(.highlight) .op-main-progress__bar__reward__image
{
	transform: scale3d( .6, .6, 1 ) translateY( -10px );
	brightness: 1.4;
}

.op-main-progress__bar__reward:hover:not(.highlight) .op-main-progress__bar__star
{
	width: 10px;
	height: 10px;
}

.claimed .op-main-progress__bar__reward__line
{
	background-color: opAccentColorBlack;
}

.claimed .op-main-progress__bar__star
{
	wash-color: opAccentColorBlack;
}

.claimed .op-main-progress__bar__value,.highlight.claimed .op-main-progress__bar__value
{
	background-color: opAccentColorBlack;
	color: opAccentColorLight;
}

.op-main-rewards-container
{
	flow-children: down;
	padding: 0px 0px 0px 64px;
	height: 100%;
	width: 100%;
	overflow: clip;
	margin-top: 220px;
}

.op-main-rewards_list
{
	flow-children: down;
	width: 60%;
	vertical-align: center;
}

.op-main-rewards_row
{
	flow-children: right;
	width: fit-children;
	margin: 0px 0px 16px 0px;
}

.op-main-reward
{
	width: 175px;
	horizontal-align: left;
	horizontal-align: center;
	flow-children: none;
	box-shadow: shadowOffset;
	margin-right: 8px;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.AspectRatio16x9 .op-main-reward
{
	width: 240px;
}

.AspectRatio16x10 .op-main-reward
{
	width: 230px;
}

.op-main-reward:hover
{
	sound: "UIPanorama.mainmenu_rollover";
}

.op-main-reward:hover .op-main-reward__image,.op-main-reward:selected .op-main-reward__image
{
	transform: scale3d( 1.03, 1.03, 1 );
	transition-property: transform, brightness;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-main-reward .RadioBox
{
	visibility: collapse;
}

.op-main-reward Label,.op-main-reward:hover Label
{
	margin: 0px;
	color: opAccentColor;
	opacity: 1;
}

.op-main-reward Label.op-mission-reward-tag,.op-main-reward:hover Label.op-mission-reward-tag
{
	margin: 0px;
	color: opAccentColorBlack;
}

.op-main-reward__image
{
	horizontal-align: center;
	width: 100%;
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.small .op-main-reward__image
{
	height: width-percentage( 70% );
	padding: 16px;
	background-image: url("s2r://panorama/images/operations/op9/tile_bg_png.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 50% 50%;
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-main-reward__name-container
{
	height: 48px;
	width: 100%;
	background-color: opAccentColorBlack;
	padding: 0px 6px 0px 16px;
	opacity: 0;
	vertical-align: bottom;
	transform: translateY( 40px );
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.small .op-main-reward__name-container
{
	height: 28px;
}

.op-main-reward:hover .op-main-reward__name-container
{
	opacity: 1;
	transform: translateY( 0px );
	transition-property: transform, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-main-reward:selected .op-main-reward__name-container
{
	opacity: 1;
	transform: translateY( 0px );
	background-color: opAccentColorLight;
	transition-property: transform, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-main-progress__btns-bar-holder
{
	width: 100%;
	flow-children: down;
}

.op-main-reward__name
{
	width: 100%;
	font-family: Stratum2, 'Arial Unicode MS';
	color: opAccentColor;
	font-size: 14;
	text-overflow: ellipsis;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3px;
	max-height: 32px;
	vertical-align: center;
}

.op-main-reward:selected .op-main-reward__name
{
	color: opAccentColorBlack;
	-s2-mix-blend-mode: normal;
}

.small .op-main-reward__name
{
	height: 32px;
	max-height: 18px;
}

.op-main-rewards-inspect
{
	border-left: 1px solid opAccentColor;
	width: 40%;
	height: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-main-rewards-inspect.show
{
	opacity: 1;
	perspective: 1000;
	perspective-origin: 100% 50%;
}

.op-main-rewards-inspect .op-mission-reward-tag
{
	font-size: 28px;
	height: 32px;
	width: 256px;
	transform: rotateZ(-90deg) translateX( -112px );
}

.op-main-rewards-inspect .op-mission-reward-tag.hidden
{
	transform: rotateZ(-90deg) translatex(-160px);
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-main-rewards-inspect__name
{
	flow-children: down;
	padding: 0px 0px;
	width: 768px;
	transform-origin: 50% 100%;
	transform: rotateX( 0deg );
}

.op-main-rewards-inspect__model
{
	width: 100%;
	height: 100%;
	opacity: 1;
	margin-bottom: 128px;
	opacity-mask: url("s2r://panorama/images/masks/top-bottom-fade-2_png.vtex");
	horizontal-align: center;
}

.op-main-rewards-inspect__model.character
{
	width: 640px;
	margin-bottom: 0px;
	opacity-mask: none;
}

.op-main-rewards-inspect__image
{
	height: 75%;
	vertical-align: top;
	horizontal-align: center;
	opacity: 1;
	transform: rotateY( -20deg ) translateY( 30px );
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-main-rewards-inspect__model.hidden,.op-main-rewards-inspect__image.hidden,.op-main-reward.hidden
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-main-rewards-inspect__collection-image
{
	height: 50px;
	margin-bottom: 8px;
}

.op-main-rewards-inspect__btns
{
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: right;
	height:72px;
	width: 90%;
	border-top: 1px solid opAccentColor;
}

#id-op-main-inspect-preview-item
{
	horizontal-align: left;
}

.op-main-rewards-inspect__info
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 96px;
	width: 90%;
}

.op-main-rewards-inspect__info .op-mainmenu__arrow_btn
{
	vertical-align: bottom;
	padding: 7px;
}

#id-op-main-inspect-warning.hidden,.op-main-rewards-inspect__collection-image.hidden
{
	visibility: collapse;
}

.op-mission-reward__rarity
{
	margin-top: 4px;
	height: fit-children;
	horizontal-align: center;
	flow-children: right-wrap;
	padding: 12px 0px;
	width: 100%;
	transform-origin: 0% 50%;
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-mission-reward__rarity.actions
{
	width: fit-children;
	padding: 0px;
}

.op-mission-reward__rarity.hidden
{
	transform: scaleX( 0 );
	padding: 0px;
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-mission-reward__rarity__pip
{
	width: 48px;
	height: 36px;
	background-color: opAccentColorDark;
	margin-right: 4px;
	margin-bottom: 4px;
	flow-children: none;
	box-shadow: fill #00000086 2px 0px 4px 2px;
	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-mission-reward__rarity__pip:hover
{
	sound: "UIPanorama.sidemenu_rollover";
}

.op-mission-reward__rarity__pip .RadioBox
{
	visibility: collapse;
}

.op-mission-reward__rarity__pip ItemImage
{
	vertical-align: bottom;
}

.op-mission-reward__rarity__pip:selected
{
	background-color: opAccentColorLight;
	z-index: 3;
	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-mission-reward__rarity__pip__rarity
{
	width: 100%;
	height: 4px;
	background-color: white;
	vertical-align: bottom;
}

#id-op-rewards-upsell-stars-btn
{
	vertical-align: top;
	margin-right: 64px;
	z-index: 4;
	brightness: 1;
	background-color: opAccentColorDark;
	transform: translateX( 0px );
	opacity: 1;
	transition-property: transform, opacity, brightness, background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

#id-op-rewards-upsell-stars-btn:hover
{
	background-color: opAccentColorBlack;
}

#id-op-rewards-upsell-stars-btn.update
{
	animation-name: op-purchase-stars-update;
	animation-duration: .25s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	opacity: 1;
}

@keyframes 'op-purchase-stars-update'
{
	from
	{
		transform: scale3d( 1.2, 1.2, 1 );
		brightness: 2;
	}
	
	to
	{
		transform: scale3d( 1, 1, 1 );
		brightness: 1;
	}
	
}

#id-op-rewards-upsell-stars-btn.hidden
{
	transform: translateX( 60px );
	opacity: 0;
	brightness: 1;
	transition-property: transform, opacity, brightness, background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

