/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.op-store-progress
{
	height: 150px;
	width: 100%;
	horizontal-align: center;
	margin-left: 32px;
	margin-right: 32px;
	flow-children: down;
}

.op-store-progress__pass-upsell
{
	horizontal-align: left;
	vertical-align: center;
	height: 53px;
	width: fit-children;
	flow-children: right;
}

#id-op-store-progress-pass-upsell
{
	horizontal-align: right;
}

.op-store-progress__pass-upsell__box-end
{
	height: 53px;
	vertical-align: center;
	wash-color: opTenDark;
	transform: translateX(1px);
}

.op-store-progress__pass-upsell__desc,.op-store-shop-balance__text
{
	color: opCompleteColor;
	background-color: opTenDark;
	font-weight: light;
	padding: 10px 5px;
	text-overflow: shrink;
}

.op-store-shop-getreward-flags-disclaimer
{
	font-size: 14px;
	margin-top: -20px;
	margin-left: 10px;
	background-color: #00000000;
	z-index: 2;
	transform: translateY(20px);
}

.op-store-progress__missions
{
	vertical-align: center;
	flow-children: down;
	horizontal-align: right;
}

.op-store-tiles-hide .op-store-progress__pass-upsell__desc,.op-store-tiles-hide #id-op-store-shop-balance-panel,.op-store-tiles-hide .balance__text
{
	transform: translateX(100%);
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: .50s;
	transition-delay: .25s;
	transition-timing-function: ease-in-out;
}

.op-store-progress__pass-upsell__text-btn
{
	background-color: opCompleteColor;
	padding: 10px 8px;
	vertical-align: center;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-store-progress__pass-upsell__text-btn--fit-children
{
	width: fit-children;
}

.op-store-progress__pass-upsell__text-btn.cancel-btn
{
	background-color: #5f7d85;
	margin-left: 2px;
}

.op-store-progress__pass-upsell__text-btn Label,.op-store-progress__pass-upsell__text-btn.medium-font Label,.op-store-progress__pass-upsell__text-btn-dark
{
	color: opTenDark;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	transition-property: color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-store-progress__pass-upsell__text-btn.medium-font Label
{
	font-size: 18px;
	color: opTenDark;
}

.op-store-shop-balance__more-points-btn
{
	padding: 10px 10px;
}

.op-store-progress__top
{
	height: 64px;
	width: 100%;
}

.op-store-progress__bar-section
{
	height: fit-children;
	width: 100%;
	flow-children: down;
	vertical-align: center;
}

.op-store-progress__bar
{
	width: 100%;
	padding: 0px 3px;
	flow-children: right;
	horizontal-align: center;
	transform-origin: 0% 50%;
}

.op-store-progress__bar__dot
{
	height: 16px;
	width: 0px;
	background-color: rgba(0, 0, 0, 0.7);
	vertical-align: center;
	transition-property: background-color;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.op-store-progress__bar__dot.filled
{
	background-color: opCompleteColor;
	transition-property: background-color;
	transition-duration: .75s;
	transition-timing-function: ease-in-out;
}

.op-store-progress__bar__dot__center
{
	vertical-align: center;
	horizontal-align: center;
	width: 4px;
	height: 4px;
	background-color: opCompleteColor;
	border-radius: 50%;
}

.op-store-progress__bar__dot.filled .op-store-progress__bar__dot__center
{
	background-color: opTenDark;
}

.op-store-progress__bar__icon-container
{
	width: 60px;
	height: 60px;
	transform: scale3d(1.05, 1.05, 1);
	z-index: 2;
}

.op-store-progress__bar__icon
{
	width: 60px;
	height: 58px;
	border-radius: 50%;
	vertical-align: center;
	border: 3px solid rgba(0, 0, 0, 0.7);
	transition-property: background-color;
	transition-duration: .75s;
	transition-timing-function: ease-in-out;
}

.op-store-progress__bar__icon-container.filled .op-store-progress__bar__icon
{
	border: 3px solid opTenYellow;
}

.op-store-progress__bar-number
{
	horizontal-align: center;
	transform: translateY(40px);
	font-size: 14px;
	font-weight: bold;
	color: rgb(0, 0, 0);
}

.op-store-progress__bar__icon-container.filled .op-store-progress__bar-number
{
	color: opCompleteColor;
}

.op-store-progress__bar__indicator-container
{
	z-index: 3;
	padding-top: 5px;
	horizontal-align: center;
	transform: translateY(20px);
}

.op-store-progress__bar__indicator
{
	wash-color: opCompleteColor;
	z-index: 3;
	padding: 0px 10px 10px 0px;
	img-shadow: 2px 2px 3px #000000;
}

.op-store-progress__bar__indicator-text
{
	transform: translateY(-12px);
}

.op-store-shop-title-container
{
	padding: 0px 32px 8px 32px;
	flow-children: down;
}

.op-store-shop-balance-container
{
	margin-right: 2px;
	max-height: 48px;
	padding: 0px 10px;
	flow-children: right;
	vertical-align: center;
	horizontal-align: right;
	background-color: opTenDark;
}

.op-store-shop-balance__icon
{
	wash-color: opCompleteColor;
	margin: 0px 8px;
	vertical-align: center;
}

.op-store-items-row
{
	padding: 4px 32px;
	width: 100%;
	flow-children: right;
}

.op-store-tiles-hide .op-store-item-tile-container
{
	transform: translateZ(20px) rotateX(60deg);
	z-index: 1;
	transition-property: transform, box-shadow, brightness;
	transition-duration: .6s;
	transition-timing-function: ease-in-out;
}

.op-store-shop-title-section
{
	width: 100%;
	border-top: 1px solid rgba(218, 218, 218, 0.603);
	padding-top: 8px;
}

.op-store-reward-rows-container
{
	flow-children: down;
	height: fill-parent-flow (1);
	padding: 0px 32px;
	width: 100%;
	perspective: 500;
	perspective-origin: 50% 50%;
	overflow: clip clip;
}

.op-store-reward-row
{
	width: 100%;
	height: fit-children;
	margin-bottom: 16px;
}

.show-row-title.op-store-reward-row
{
	background-color: rgb(48, 77, 109);
}

.op-store-reward-row__bg
{
	width: 100%;
	height: 100%;
	visibility: collapse;
	blur: gaussian( 3, 3, 4 );
}

.op-store-reward-row-elements
{
	flow-children: right;
	width: 100%;
	height: fit-children;
}

.show-row-title .op-store-reward-row-elements
{
	padding: 16px 16px 16px 28px;
}

.op-store-reward-row__title-block
{
	flow-children: down;
	visibility: collapse;
	vertical-align: center;
	padding-right: 8px;
	width: 12%;
}

.op-store-reward-row__title
{
	font-weight: medium;
	font-size: 20px;
	horizontal-align: left;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 6px 0px;
	color: white;
}

.op-store-reward-row__desc
{
	font-weight: normal;
	font-size: 16px;
	horizontal-align: left;
	letter-spacing: 1px;
	color: white;
}

.op-store-reward-row__icon
{
	width: 100px;
	height:72px;
	vertical-align: center;
	img-shadow: 0px 0px 64px 4.0 rgba(0, 0, 0, 0.219);
	margin-bottom: 8px;
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.show-row-title .op-store-reward-row__title-block,.show-row-title .op-store-reward-row__bg
{
	visibility: visible;
}

.op-store-reward-tile-container
{
	width: fill-parent-flow(1);
	height: fit-children;
	margin: 0px 5px 5px 0px;
	background-color: #6c829e07;
	transition-property: transform, brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-store-reward-tile-container:hover
{
	transform: translateY(-10px);
	transition-property: transform, brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-store-reward-tile
{
	width: 100%;
	height: fit-children;
	flow-children: down;
}

.op-store-reward-tile__images-container
{
	width: 100%;
	height: 150px;
}

.show-row-title .op-store-reward-tile__images-container
{
	height: 172px;
	width: 100%;
}

.op-store-reward-tile__image-seperator
{
	background-color: gradient( linear, 0% 100%, 0% 20%, from( #a3a3a315), to(#7aa3b600) );
	width: 100%;
	height: 100%;
	transform: rotateZ( 0deg) scale3d(1.2, 1.2, 1.2);
	z-index: 2;
}

.op-store-reward-tile__image-char-0
{
	transform: translateX(-18%) scale3d( 1.1, 1.1, 1.1 );
	z-index: 3;
	img-shadow: 0px 10px 16px 4.0 rgba(0, 0, 0, 0.219);
	brightness: 1.2;
}

.op-store-reward-tile__image-char-1
{
	transform: translateX(8%) translateY(12%) scale3d( 1, 1, 1 );
	z-index: 2;
	brightness: .7;
}

.op-store-reward-tile__image-char-2
{
	transform: translateX(30%) translateY(12%) scale3d( .8, .8, .8 );
	z-index: 2;
	brightness: .6;
}

.op-store-reward-tile__image-char-3
{
	transform: translateX(50%) translateY(16%) scale3d( .75, .75, .75 );
	z-index: 2;
	brightness: .5;
}

.op-store-reward-tile__image-char-4
{
	transform: translateX(70%) translateY(22%) scale3d( .7, .7, .7 );
	z-index: 2;
	brightness: .4;
}

.op-store-reward-tile__image-char-0,.op-store-reward-tile__image-char-1,.op-store-reward-tile__image-char-2,.op-store-reward-tile__image-char-3,.op-store-reward-tile__image-char-4
{
	transition-property: transform, blur;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.three-tile .op-store-reward-tile__image-char-0
{
	transform: translateX(-15%) scale3d( 1.1, 1.1, 1.1 );
}

.three-tile .op-store-reward-tile__image-char-1
{
	transform: translateX(10%) translateY(8%) scale3d( .9, .9, .9 );
}

.three-tile .op-store-reward-tile__image-char-2
{
	transform: translateX(60%) translateY(22%) scale3d( .7, .7, .7 );
}

.AspectRatio4x3 .op-store-reward-tile__image-char-0
{
	transform: translateX(-32%) translateY(6%) scale3d( .9, .9, .9 );
}

.AspectRatio4x3 .op-store-reward-tile__image-char-1
{
	transform: translateX( 2% ) translateY(12%) scale3d( .8, .8, .8 );
}

.AspectRatio4x3 .op-store-reward-tile__image-char-2
{
	transform: translateX( 50% ) translateY(22%) scale3d( .7, .7, .7 );
}

.AspectRatio4x3 .op-store-reward-tile__image-char-3,.AspectRatio4x3 .op-store-reward-tile__image-char-4,.AspectRatio4x3 .op-store-reward-tile__image-char-5
{
	visibility: collapse;
}

.op-store-reward-tile-container:hover .op-store-reward-tile__image-char-0
{
	transform: translateX(-16%) scale3d( 1.15, 1.15, 1.15 );
}

.op-store-reward-tile-container:hover .three-tile .op-store-reward-tile__image-char-0
{
	transform: translateX(-14%) scale3d( 1.15, 1.15, 1.15 );
}

.AspectRatio4x3 .op-store-reward-tile-container:hover .op-store-reward-tile__image-char-0
{
	transform: translateX(-26%) translateY(6%) scale3d( .95, .95, .95 );
}

.op-store-reward-tile-container:hover .op-store-reward-tile__image-char-1
{
	blur: gaussian( 2 );
}

.op-store-reward-tile-container:hover .op-store-reward-tile__image-char-2
{
	blur: gaussian( 3 );
}

.op-store-reward-tile-container:hover .op-store-reward-tile__image-char-3
{
	blur: gaussian( 6 );
}

.op-store-reward-tile-container:hover .op-store-reward-tile__image-char-4
{
	blur: gaussian( 7 );
}

.op-store-item-tile__icon
{
	width: 50%;
	height: 50%;
	z-index: 4;
	vertical-align: center;
	horizontal-align: center;
	img-shadow: 0px 0px 64px 8.0 rgba(0, 0, 0, 0.219);
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-store-reward-tile-container:hover .op-store-item-tile__icon
{
	opacity: 0;
	transform: scale3d(.8, .8, 1);
	img-shadow: 0px 0px 0px 0.0 rgba(0, 0, 0, 0.0);
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.show-row-title .op-store-item-tile__icon
{
	visibility: collapse;
}

.op-store-item-tile__item
{
	height: 100%;
	width: height-percentage( 143% );
	vertical-align: center;
	horizontal-align: center;
	transform-origin: 50% 50%;
	z-index: 3;
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-store-item-tile__image
{
	z-index: 1;
	vertical-align: top;
	height: 100%;
	width: 100%;
	transform: translateY(12px);
	background-repeat: no-repeat;
	background-size: clip_then_cover;
}

.op-store-item-tile__image.case
{
	padding: 40px;
	vertical-align: center;
	horizontal-align: center;
	img-shadow: 0px 0px 16px 4.0 rgba(0, 0, 0, 0.05);
}

.op-store-item-tile__image.center
{
	vertical-align: center;
	horizontal-align: center;
	transform-origin: 50% 50%;
	transform: scale3d(.85, .85, 1);
	z-index: 5;
	img-shadow: 0px 0px 16px 4.0 rgba(0, 0, 0, 0.05);
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-store-reward-tile-container:hover .op-store-item-tile__image.center
{
	transform: scale3d(.5, .5, 1);
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-store-item-tile__image.right-top
{
	vertical-align: center;
	horizontal-align: center;
	transform: scale3d(.35, .35, 1) translateX(30%) translateY(-18%);
	z-index: 4;
	img-shadow: 0px 0px 16px 4.0 rgba(0, 0, 0, 0.05);
	brightness: .5;
}

.op-store-item-tile__image.right-bottom
{
	vertical-align: center;
	horizontal-align: center;
	transform: scale3d(.35, .35, 1) translateX(30%) translateY(18%);
	z-index: 3;
	img-shadow: 0px 0px 16px 4.0 rgba(0, 0, 0, 0.05);
	brightness: .5;
}

.op-store-item-tile__image.left-bottom
{
	vertical-align: center;
	horizontal-align: center;
	transform: scale3d(.35, .35, 1) translateX(-30%) translateY(18%);
	z-index: 2;
	img-shadow: 0px 0px 16px 4.0 rgba(0, 0, 0, 0.05);
	brightness: .5;
}

.op-store-item-tile__image.noshadow
{
	img-shadow: none;
}

.op-store-item-tile__image.left-top
{
	vertical-align: center;
	horizontal-align: center;
	transform: scale3d(.35, .35, 1) translateX(-30%) translateY(-18%);
	z-index: 1;
	img-shadow: 0px 0px 64px 8.0 rgba(0, 0, 0, 0.219);
	brightness: .5;
}

.op-store-reward-tile__info-block
{
	flow-children: down;
	width: 100%;
	padding: 6px 12px;
	height: fit-children;
	background-color: rgba(235, 239, 245, 0.411);
}

.op-store-reward-tile__info-block__rarity
{
	width: 100%;
	height: 8px;
	vertical-align: bottom;
	z-index: 3;
	opacity: 1;
}

.op-store-reward-tile__info-block__name
{
	color: black;
	font-weight: medium;
}

.op-store-reward-tile__info-block__price
{
	flow-children: right;
	horizontal-align: right;
}

.op-store-reward-tile__info-block__price__text
{
	color: rgb(38, 114, 190);
	font-weight: medium;
	vertical-align: center;
	text-align: right;
	font-size: 20px;
}

.op-store-reward-tile__info-block__price__star
{
	vertical-align: center;
	wash-color: rgb(38, 114, 190);
}

.op-store-item-tile__title
{
	width: 100%;
	background-color: opTenDark;
	padding: 4px 0px 4px 8px;
	vertical-align: top;
	z-index: 2;
	font-size: 14px;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-store-item-tile__bg
{
	width: 100%;
	height: 100%;
	-s2-mix-blend-mode: normal;
	opacity: 1;
	transition-property: brightness, blur;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-store-item-tile__bg.faded
{
	opacity: .2;
}

.op-store-item-tile__char-model
{
	height: 100%;
	width: 100%;
	vertical-align: center;
	horizontal-align: left;
	z-index: 4;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-store-item-tile__char-model.hide
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-store-item-tile__item--char0,.op-store-item-tile__item--char1,.op-store-item-tile__item--char3,.op-store-item-tile__item--char4
{
	blur: gaussian(1.2);
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-store-item-tile-container:hover .op-store-item-tile__item--char0,.op-store-item-tile-container:hover .op-store-item-tile__item--char1,.op-store-item-tile-container:hover .op-store-item-tile__item--char3,.op-store-item-tile-container:hover .op-store-item-tile__item--char4
{
	blur: gaussian(0);
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-store-item-tile__item--char0
{
	horizontal-align: left;
	transform: translateX(8%);
	brightness: .3;
}

.op-store-item-tile__item--char0.small-char-tile
{
	transform: translateX(-5%);
}

.op-store-item-tile__item--char1
{
	transform: translateX(20%);
	z-index: 3;
	brightness: .6;
}

.op-store-item-tile__item--char1.small-char-tile
{
	transform: translateX(7%);
}

.op-store-item-tile__item--char2
{
	horizontal-align: center;
	transform: translateZ(200px);
	z-index: 4;
	opacity: 1;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-store-item-tile__item--char2.hide
{
	opacity: 0;
	visibility: visible;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-store-item-tile__item--char3
{
	horizontal-align: right;
	brightness: .6;
	z-index: 3;
	transform: translateX(-20%);
}

.op-store-item-tile__item--char3.small-char-tile
{
	transform: translateX(0%);
}

.op-store-item-tile__item--char4
{
	horizontal-align: right;
	transform: translateX(-8%);
	brightness: .3;
	z-index: 2;
}

.op-store-item-tile__item--char4.small-char-tile
{
	transform: translateX(-10%);
}

.op-store-item-tile__price
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: bottom;
	background-color: opTenDark;
	width: fit-children;
	height: fit-children;
	z-index: 4;
	padding: 0px 4px;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-store-item-tile__price-container
{
	background-color: opCompleteColor;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-store-item-tile__price:hover,.op-store-progress__pass-upsell__text-btn:hover,.op-store-item-tile__price-container:hover
{
	background-color: opTenDark;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-store-item-tile-container:hover .op-store-shop-balance__icon,.op-store-item-tile__price-container:hover .op-store-progress__pass-upsell__box-end-right
{
	wash-color: opTenDark;
}

.op-store-progress__pass-upsell__text-btn:hover Label
{
	color: opCompleteColor;
	transition-property: color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

