/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.op-missions-list
{
	width: 640px;
}

.op-missions-card
{
	width: 100%;
	flow-children: down;
	margin-bottom: 32px;
}

.op-mainmenu__mission-card-container .op-missions-card
{
	margin-bottom: 0px;
	padding-right: 0px;
}

.op-missions-card .RadioBox
{
	visibility: collapse;
}

.op-missions-card__top
{
	width: 100%;
	height: 128px;
	margin-right:16px;
	background-color: rgb(53, 44, 65);
}

.op-missions-card__top_warning
{
	width: 100%;
	height: 64px;
	background-color: rgba(0, 0, 0, 0.521);
	flow-children: right;
	padding-left: 16px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( opAccentColor), to( rgba(0, 0, 0, 0.616)) );
	visibility: collapse;
}

.no-quest-warning .op-missions-card__top_warning
{
	visibility: visible;
}

.op-missions-card__top_warning__label
{
	font-size: 18px;
	font-weight: medium;
}

.op-mainmenu__mission-card-container .op-missions-card__top
{
	height: 72px;
	background-color: none;
	margin: 0px 16px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.op-missions-card__top__title-container
{
	flow-children: down;
	vertical-align: center;
	margin-left:32px;
}

.op-mainmenu__mission-card-container .op-missions-card__top__title-container
{
	margin-left:0px;
}

.op-mainmenu__mission-card-container .op-tier__inspect__model-image___name
{
	padding: 2px;
	font-size: 22px;
}

.op-missions-card__top__active
{
	transform: translateX(-100%);
	opacity-mask: url("s2r://panorama/images/masks/arrow_png.vtex");
	visibility: collapse;
	font-size: 14px;
	font-weight: bold;
	padding: 0px 12px;
	margin-left: 6px;
	color: white;
	background-color: opAccentGradient;
	transition-property: transform;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.op-missions-card:Selected .op-missions-card__top__active
{
	transform: translateX( 0% );
	visibility: visible;
	transition-property: transform;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.op-missions-card__top_stars_earned
{
	flow-children: down;
	horizontal-align: right;
	vertical-align: center;
	margin-right: 32px;
}

.op-missions-card__top_stars_earned__image
{
	padding-right: 2px;
	horizontal-align: center;
	margin-bottom: 4px;
}

.op-mainmenu__mission-card-container .op-missions-card__top_stars_earned__image
{
	visibility: collapse;
}

.op-missions-card__top_stars_earned__label
{
	vertical-align: center;
	margin-left: 0px;
}

.op-missions-card__top__timer
{
	background-color: rgba(255, 255, 255, 0.035);
	padding: 4px 8px;
	margin-left: 8px;
	visibility: collapse;
	flow-children: right;
}

.hastimer .op-missions-card__top__timer
{
	visibility: visible;
}

.op-missions-card__top__timer__label
{
	text-align: center;
	font-weight: lighter;
	margin-left: 4px;
}

.op-missions-card__quest-container
{
	width: 100%;
	flow-children: down;
}

.op-mainmenu__mission-card-container .op-missions-card__quest-container
{
	overflow: squish scroll;
	padding: 12px 0px 24px 0px;
}

.op-missions-card__quest
{
	flow-children: right;
	width: 100%;
	padding: 16px 0px 16px 24px;
	margin-right: 16px;
	background-color: opAccentColorGrey;
	opacity: .7;
	z-index: 1;
	transition-property: transform, brightness, background-color;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.op-missions-card__quest .Spinner
{
	visibility: collapse;
}

.playing-quest .Spinner
{
	visibility: visible;
}

.op-mainmenu__mission-card-container .op-missions-card__quest
{
	opacity: 1;
	padding: 10px 0px 10px 24px;
	background-color: none;
}

.op-missions-card__quest:hover:not(.op-missions-card__quest:disabled)
{
	transform: translateX( 16px );
	box-shadow: #000000bd -1px 0px 8px 0px ;
	z-index: 3;
	opacity: 1;
	brightness: 1.3;
	transition-property: transform, brightness, background-color;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu__mission-card-container .op-missions-card__quest:hover:not(.op-missions-card__quest:disabled)
{
	box-shadow: none;
	brightness: 1;
	z-index: 1;
	transform: translateX( 0px ) scale3d( 1.02, 1.02, 1 );
}

.quest-icon-play
{
	wash-color: none;
	padding: 8px;
	transition-property: box-shadow, brightness, transform;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu__mission-card-container .op-missions-card__quest:hover:not(.op-missions-card__quest:disabled) .quest-icon-play
{
	transform: scale3d( 1.2, 1.2, 1.2 );
	box-shadow: opAccentColorLight 0px 0px 4px 0px ;
	brightness: 2;
	transition-property: box-shadow, brightness, transform;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu__mission-card-container .op-missions-card__quest:hover .quest-icon-play
{
	box-shadow: white -1px 0px 6px 0px ;
}

.quest-icon-locked
{
	wash-color: opAccentColorGrey;
}

.quest-icon-check,.quest-icon-locked
{
	visibility: collapse;
}

.op-missions-card__quest:disabled .quest-icon-check,.op-missions-card__quest:disabled .quest-icon-play
{
	visibility: collapse;
}

.complete .quest-icon-locked,.complete .quest-icon-play
{
	visibility: collapse;
}

.complete .quest-icon-check
{
	visibility: visible;
}

.op-missions-card__quest:disabled .quest-icon-locked
{
	visibility: visible;
}

.quest-complete.op-missions-card__quest .quest-icon-check,.quest-complete.op-missions-card__quest:disabled .quest-icon-check
{
	visibility: visible;
}

.op-missions-card__quest__center
{
	flow-children: down;
	vertical-align: center;
	padding-left: 8px;
}

#id-quest-progress-bar-container
{
	visibility: visible;
}

.singlematch #id-quest-progress-bar-container
{
	visibility: collapse;
}

.op-missions-card__quest__bar-outer
{
	width: 360px;
	height: 12px;
	background-color: rgba(0, 0, 0, 0.6);
	margin: 8px 0px;
}

.op-mainmenu__mission-card-container .op-missions-card__quest__bar-outer
{
	width: 450px;
}

.op-missions-card__quest__bar-inner
{
	width: 100%;
	height: 4px;
	vertical-align: center;
	margin: 0px 2px;
	clip: rect( 0%, 20%, 100%, 0% );
	background-color: opAccentGradient;
}

#id-quest-progress-label-single
{
	visibility: collapse;
}

.singlematch #id-quest-progress-label-single
{
	visibility: visible;
}

.op-missions-card__quest__desc-container
{
	width: 360px;
	flow-children: right;
}

.op-mainmenu__mission-card-container .op-missions-card__quest__desc-container
{
	width: 450px;
}

.op-missions-card__quest__desc
{
	margin-top: 0px;
	margin-left: 0px;
	padding: 0px;
	horizontal-align: left;
	vertical-align: center;
	font-size: 14px;
}

.op-missions-card__quest__name
{
	margin-top: 0px;
	margin-left: 0px;
	padding: 0px;
	horizontal-align: left;
	vertical-align: center;
	font-size: 14px;
	font-style: italic;
}

.op-missions-card__quest__desc-line
{
	vertical-align: center;
	margin-top: 4px;
	height: 2px;
	width: fill-parent-flow( 1 );
	background-color: gradient( linear, 0% 0%,100% 0%, from( rgba(0, 0, 0, 0.7)), to( rgba(0, 0, 0, 0)));
	visibility: collapse;
}

.singlematch .op-missions-card__quest__desc-line
{
	visibility: visible;
}

.op-missions-card__quest__single-match
{
	font-weight: bold;
	font-style: italics;
	color: white;
}

.op-missions-card__quest__desc_count
{
	margin-top: 0px;
	margin-left: 8px;
	padding: 0px;
	horizontal-align: left;
	vertical-align: center;
}

.op-mainmenu__mission-card-container .op-tiers__list__title__total-stars.desc.subtitle
{
	width: 450px;
}

.op-mainmenu__mission-card-container .op-tiers__list__title__total-stars.subtitle
{
	color: white;
	font-size: 14px;
}

.op-missions-card__quest__bar-outer .op-tiers__list__title__total-stars.subtitle
{
	vertical-align: bottom;
}

.op-missions-card__quest__star-count
{
	flow-children: right;
	vertical-align: center;
	horizontal-align: right;
	margin-right: 32px;
	opacity: 0.3;
}

.complete .op-missions-card__quest__star-count
{
	opacity: 1.0;
}

.op-mainmenu__mission-card-container .op-missions-card__quest__star-count
{
	margin-right: 24px;
}

.op-missions-card__quest__star-count__image
{
	vertical-align: center;
}

.op-missions-card--max-stars .op-missions-card__quest:not(.complete) .op-missions-card__quest__star-count
{
	visibility: collapse;
}

