/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

@define opAccentColor: #7648A5;
@define opAccentColorAlpha: #7648A5;
@define opAccentColorMedium: #5A367C;
@define opAccentColorDark: #462964;
@define opAccentColorBlack: #1A0E25;
@define opAccentColorBlackAlpha: #1A0E25;
@define opAccentColorLight: #D3ACF8;
@define opAccentColorLightGlow: #b390d4;
@define opAccentColorLightAlpha: rgba( 211, 172, 248, 0.15 );
@define opTransparentDark: #452964da;
@define opTrasparentGradient: gradient( linear, 0% 0%, 0% 90%, from( #561d70e5 ), to( #300942f1 ) );
@define opAccentColorGradient: gradient( linear, 0% 0%, 0% 90%, from( #7648A5 ), to( rgba(118, 72, 165, 0.452) ) );
@define opAccentColorGradientLight: gradient( linear, 0% 100%, 0% 0%, from( #D3ACF8), to( rgb(246, 240, 252) ) );
@define op-missions-left-padding: 32px;
@define op-missions-right-padding: 32px;
@define opTenYellow: #93EEFB;
@define opTenYellowFaded: #EDCF2E;
@define opTenYellowMedium: #6e511b;
@define opTenYellowAlpha: #EDCF2E30;
@define opTenDark: #0A2333;
@define opTenBaseColor: #93EEFB;
@define opTenTan: #503A12;
@define opCompleteColor: #93EEFB;
@define opIncompleteColor: #4fa1a7;
.OpTintTextYellow
{
	color:opCompleteColor;
}

.op-main-container
{
	flow-children: down;
	height: 100%;
	width: 100%;
}

.op-main-movie
{
	width: 100%;
	height: 100%;
	background-image: url("file://{resources}/videos/op11_underwater.webm");
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5186a8 ), to( #315264 ) );
	background-size: cover;
	background-img-opacity: 0.75;
}

.op-main-movie.dark
{
	brightness: 0.2;
	blur: gaussian( 2, 2, 2 );
	transition-property: brightness, blur;
	transition-duration: 3s;
	transition-timing-function: ease-in-out;
}

.op-main-left-padding
{
	padding-left: op-missions-left-padding;
}

.op9-title
{
	font-family: 'Noto Sans';
	font-size: 64px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 10px;
	text-align: center;
	position: 0px 0px 0px;
	text-overflow: shrink;
	vertical-align: center;
	transition-property: transform;
	transition-duration: .75s;
	transition-timing-function: ease-in-out;
}

.op9-title--top
{
	opacity-mask: url("s2r://panorama/images/masks/op9-logo-top_png.vtex");
	color: gradient( linear, 0% 0%, 0% 100%, from( rgb(176, 117, 231)), to( opAccentColor) );
	transform: translateX( .5% );
}

.op9-title--bottom
{
	opacity-mask: url("s2r://panorama/images/masks/op9-logo-bottom_png.vtex");
	color: gradient( linear, 0% 0%, 0% 100%, from( rgb(54, 21, 85)), to( rgb(104, 40, 163)) );
	transform: translateX( -.5% );
}

.op-header
{
	flow-children: down;
	padding: 12px;
	width: 100%;
	border-bottom: 1px solid #afcde079;
}

.op-header--thin
{
	padding-top: 6px;
	padding-bottom: 6px;
}

.op-header__text
{
	font-family: Stratum2, 'Arial Unicode MS';
	color: White;
	font-size: 20px;
	font-weight: medium;
	letter-spacing: 2px;
	text-overflow: shrink;
}

.op-header__text.total-stars
{
	horizontal-align:left;
	text-align: right;
	width: 50%;
	padding-right: 24px;
}

.op-header__text.total-stars-right
{
	horizontal-align: right;
	text-align: left;
	width: 50%;
	padding-left: 24px;
}

.op-main .op-header__text
{
	font-size: 36px;
	text-overflow: noclip;
	width: fit-children;
	padding: 0px 0px;
	color: opAccentColorLight;
}

.op-main .op-header__text.total-stars-right
{
	padding-left: 8px;
}

.op-header__num
{
	font-family: Stratum2 Mono, "Arial Unicode MS";
	color: white;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	margin: 0px 8px 0px 0px;
}

.op-main .op-header__num
{
	text-overflow: noclip;
	width: fit-children;
	font-size: 36px;
	font-weight: medium;
	color: opAccentColorGradientLight;
}

.popup-acknowledge .op-header__num
{
	font-size: 64px;
	font-family: notosans, 'Arial Unicode MS';
}

.op-header__stars-bg
{
	horizontal-align: center;
	vertical-align: center;
}

.op-header__stars-bg.light
{
	horizontal-align: center;
	vertical-align: top;
	opacity-mask: url("s2r://panorama/images/masks/top-bottom-fade_png.vtex");
	width: 100%;
}

.op-mission-reward-name__container
{
	flow-children: down;
	width: 100%;
}

.op-mission-reward-name
{
	flow-children: down;
	padding: 0px 0px;
	width: 400px;
	transform-origin: 50% 100%;
	transform: rotateX( 0deg );
}

.op-mission-reward-name__text
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 16;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: opCompleteColor;
	background-color: opTenDark;
	padding: 6px 6px;
	text-overflow: ellipsis;
	width: 100%;
	height: 30px;
	text-align: center;
}

.op-mission-reward-name__text.no-background
{
	background-color: none;
	width: fit-children;
}

.op-mission-reward-name__text.mixedcase
{
	text-transform: none;
}

.op-mission-reward-name__text.large
{
	font-size: 22px;
	height: 36px;
	padding-left: 16px;
}

.op-mission-reward-name__text.inspect-warning
{
	height: fit-children;
	width: 500px;
	text-align: center;
	font-size: 16px;
}

.op-mission-reward-tag
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 3px;
	text-transform: uppercase;
	vertical-align: center;
	padding: 6px 6px 6px 20px;
	transform: translateX( -10px );
	color: opAccentColorBlack;
	background-color: opAccentColorLight;
}

.op-mission-reward-tag.hidden
{
	visibility: collapse;
}

.op-mainmenu__missions__name__container
{
	flow-children: right;
}

.op-mainmenu__missions .op-mission-reward-name
{
	flow-children: right;
	width: 590px;
}

.op-mainmenu__missions .op-mission-reward-name__text,.op-mainmenu__rewards .op-mission-reward-name__text
{
	width:fill-parent-flow( 1 );
	padding: 6px 6px 6px 12px;
	text-align: left;
}

.op-mission-reward-name__text.week
{
	background-color: opCompleteColor;
	width:fill-parent-flow( .3 );
	padding: 6px;
	text-align: center;
}

.op-missions-text-m
{
	color: opAccentColorLight;
	vertical-align: center;
	margin: 8px;
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 12px;
	font-weight: medium;
	horizontal-align: right;
	text-overflow: shrink;
}

.op-missions-text-m--left
{
	horizontal-align: left;
}

.op-main-wash-color-light
{
	wash-color: opAccentColorLight;
}

.op-reward-warning
{
	width: 100%;
	font-family: Stratum2, 'Arial Unicode MS';
	text-overflow: shrink;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3px;
	font-size: 16px;
	color: opAccentColorLight;
	vertical-align: center;
	max-height: 24px;
}

.op-reward-warning-icon
{
	height: 16px;
	width: 16px;
	vertical-align: center;
	margin-right: 8px;
}

.op-main-btn
{
	height: fit-children;
	width: fit-children;
	horizontal-align: right;
	vertical-align: middle;
	brightness: 1;
	flow-children: right;
	background-color: opAccentColorLight;
	border-radius: btnBorderRadius;
	transition-property: background-color;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

.op-main .op-main-btn:hover
{
	background-color: white;
	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-main-btn Label
{
	color: opAccentColorBlack;
	horizontal-align: left;
	vertical-align: middle;
	text-align: left;
	text-transform: uppercase;
	font-weight: medium;
	font-size: 20px;
	margin: 16px 12px 12px;
	font-family: stratum2Font;
	text-overflow: shrink;
}

.op-main-btn.small Label
{
	margin: 8px;
}

.op-main-btn Image
{
	wash-color: opAccentColorBlack;
	vertical-align: center;
	margin-left: 8px;
	transition-property: wash-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-main-topbar__icon
{
	wash-color: opTenDark;
	opacity: 1;
	horizontal-align: center;
}

