/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.op-mainmenu.hidden
{
	visibility: collapse;
	height: 0px;
	transition-property: height;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu
{
	width: 100%;
	height: fill-parent-flow(1);
	background-color: none;
	margin-bottom: 16px;
	flow-children: down;
	visibility: visible;
	transition-property: height;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu__upsell-container
{
	background-color: gradient(radial, 50% 50%, 0px 0px, 50% 50%, from( rgb(0, 0, 0)),color-stop( 0.7, rgba(0, 0, 0, 0.336) ), to( rgba(0, 0, 0, 0)) );
	width: 100%;
	height: 100%;
	visibility: collapse;
	transition-property: brightness;
	transition-duration: 0.50s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu__upsell-container.show
{
	visibility: visible;
}

.op-mainmenu__upsell__movie
{
	width:height-percentage(100%);
	height: 85%;
	horizontal-align: center;
	vertical-align: top;
	opacity-mask: url("s2r://panorama/images/masks/op11_mask_png.vtex");
}

.op-mainmenu__title-container
{
	horizontal-align: center;
	flow-children: down;
	margin-top: 46px;
	width: 100%;
}

.op-mainmenu__title__prefix--btn-container
{
	width: fit-children;
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: center;
}

.op-mainmenu__title__prefix--btn
{
	vertical-align: center;
}

.op-mainmenu__title__prefix,.op-mainmenu__title__prefix--btn Label
{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	horizontal-align: center;
	letter-spacing: 5px;
	color: white;
	text-transform: uppercase;
	text-overflow: noclip;
}

.op-mainmenu__title__prefix--btn Label
{
	font-size: 22px;
	text-overflow: noclip;
	width: 240px;
	text-shadow:2px 2px 2px #000000;
	transition-property: wash-color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu__title__prefix.op-mainmenu__title__prefix--btn
{
	padding: 4px;
	height: 64px;
}

.op-mainmenu__title__prefix--btn:hover Label
{
	color: opCompleteColor;
	transition-property: color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu__title__salediscount
{
	vertical-align: bottom;
	horizontal-align: right;
	letter-spacing: 2px;
	margin-bottom: 16px;
	margin-right: 60px;
	padding-left: 5px;
	padding-right: 4px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3a863d ), to( #2d682f ) );
	color: White;
}

.op-main-btn .op-mainmenu__getpassbutton__salediscount
{
	vertical-align: center;
	padding-left: 5px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3a863d ), to( #2d682f ) );
	color: White;
}

#id-op-mainmenu-upsell-store-image
{
	height: 128px;
	brightness: .5;
}

.op-mainmenu__header-container
{
	width: 100%;
	border-bottom: 1px solid rgba(219, 219, 219, 0.164);
	height: 0px;
	margin: 0px 12px;
}

.op-mainmenu__header
{
	font-family: Stratum2, 'Arial Unicode MS';
	color: opAccentColorLight;
	font-size: 14px;
	font-weight: medium;
	vertical-align: center;
	text-overflow: clip;
}

.op-mainmenu__mission-card-selector
{
	width: 100%;
	height: 32px;
	horizontal-align: center;
	flow-children: right;
	context-menu-position: bottom;
	background-color: rgba(0, 0, 0, 0.2);
	margin: 12px 16px;
	transition-property: background-color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu__mission-card-selector:hover
{
	background-color: rgba(0, 0, 0, 0.514);
	transition-property: background-color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu__mission-card-selector__name
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 16px;
	flow-children: right;
	width: 100%;
	color: white;
	padding-left: 16px;
	font-weight: bold;
	width: fill-parent-flow(1);
	text-overflow: ellipsis;
	letter-spacing: 4px;
}

.op-mainmenu__unlock-text Label
{
	font-family: Stratum2, 'Arial Unicode MS';
	color: white;
	font-size: 14px;
	padding: 4px 6px;
	text-align: center;
	font-weight: medium;
	vertical-align: center;
	background-color: rgba(0, 0, 0, 0.45);
	text-overflow: clip;
}

.op-mainmenu__unlock-text Label:hover
{
	color: opTenDark;
	background-color: opCompleteColor;
}

.op_mainmenu__mission_card
{
	width: 100%;
	height: fill-parent-flow( 1 );
}

#id-op-reward-open-operation-hub
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000), color-stop( 0, opAccentColor ), to( opAccentColor) );
}

#id-op-reward-open-operation-hub Label
{
	margin: 6px 8px;
	font-size: 18px;
}

.op-mainmenu__footer-container
{
	width:100%;
	vertical-align: bottom;
	flow-children: right;
	transform: translateY( 0% );
	opacity: 1;
	background-color: opAccentColorDark;
	transition-property: opacity, transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu__footer-container.hidden
{
	transform: translateY( 64px );
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu__footer-container__starcount
{
	height: 100%;
	width: fill-parent-flow ( 1 );
	flow-children: right;
	margin-right: 1px;
}

.op-mainmenu__footer__star
{
	vertical-align: center;
	wash-color: opAccentColorBlack;
	opacity: .8;
}

.op-mainmenu__footer-container__text
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 12px;
	font-weight: medium;
	text-align: left;
	margin-left: 4px;
	color: white;
	horizontal-align: right;
	text-shadow: none;
}

.op-mainmenu__footer-container__text.large
{
	font-size: 14px;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	text-shadow:1px 1px #000000c5;
}

.op-mainmenu__footer-container.update .op-mainmenu__footer-container__text.large
{
	animation-name: footer-update;
	animation-duration: 0.25s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'footer-update'
{
	from
	{
		transform: Scale3d( 1.5, 1.5, 1.0 );
		color: white;
	}
	
	to
	{
		transform: Scale3d( 1.0, 1.0, 1.0 );
		color: opAccentColorLight;
	}
	
}

.op-mainmenu__operation-bg
{
	height: 100%;
	width: 100%;
	opacity: .03;
	background-repeat: repeat;
	background-size: auto auto;
	background-position: 160% 50%;
}

.op-mainmenu__operation-bg--missions
{
	transform: rotateZ( 0deg ) translateX( 0% );
	background-repeat: repeat;
	background-size: cover;
	background-position: 50% 50%;
	opacity: .02;
}

.op-mainmenu__btn
{
	padding: 6px;
	transition-property: wash-color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu__btn Image
{
	vertical-align: center;
	horizontal-align: center;
}

.op-mainmenu__arrow_btn
{
	padding: 6px;
	background-color: opTenDark;
	vertical-align: top;
	margin: 0px 0px 0px 2px;
	transition-property: wash-color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu__arrow_btn:hover
{
	sound: "UIPanorama.sidemenu_rollover";
}

.op-mainmenu__arrow_btn Image
{
	wash-color: opCompleteColor;
}

.op-mainmenu__arrow_btn Image
{
	transform: rotateZ( 90deg );
}

.op-mainmenu__arrow_btn.down Image
{
	transform: rotateZ( -90deg );
}

.op-mainmenu__btn:hover,.op-mainmenu__arrow_btn:hover
{
	wash-color: opCompleteColor;
	transition-property: wash-color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu__arrow_btn:disabled,.op-mainmenu__arrow_btn:disabled:hover
{
	wash-color: disabledColor;
}

.op-mainmenu__status-container
{
	height: 100%;
	width: 100%;
	flow-children: down;
}

.op-mainmenu__rewards
{
	height: fill-parent-flow( 0.3 );
	width: 100%;
	background-color: rgba(40, 12, 59, 0.856);
}

.op-mainmenu__rewards__content
{
	margin-top: 90px;
	height: 100%;
	width: 100%;
	flow-children:down;
}

.op-mainmenu__rewards__bar
{
	width: 200px;
	horizontal-align: center;
	background-color: opAccentColorBlack;
	height: 5px;
	margin: 4px 0px 16px 0px;
	visibility: collapse;
}

.op-mainmenu__rewards__bar__inner
{
	width: 10%;
	background-color: opAccentColorLight;
	height: 100%;
}

.op-mainmenu__content__selector
{
	flow-children:right;
	vertical-align: center;
	horizontal-align: center;
	width: fit-children;
	margin-top: 0px;
}

.op-mainmenu__content__info
{
	perspective: 200;
	perspective-origin: 50% 50%;
	horizontal-align: center;
}

.op-mainmenu__rewards__star-count-container
{
	horizontal-align: center;
	transform: translateY( 5px );
	z-index: 2;
}

.op-mainmenu__rewards__star-count-container.flip
{
	horizontal-align: center;
	transform: translateY( -5px );
	z-index: 2;
}

.op-mainmenu__rewards__star-count-bg
{
	wash-color: opAccentColor;
}

.op-mainmenu__rewards__star-count-bg.flip
{
	transform: rotateZ(180deg);
}

.op-mainmenu__rewards__star-count-text
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 14;
	font-weight: bold;
	color: opAccentColorLight;
	text-align: center;
	horizontal-align: center;
	padding: 4px 6px;
	width: fit-children;
	min-width: 16px;
}

.op-mainmenu_item-image-container
{
	vertical-align: center;
	perspective: 200;
	perspective-origin: 50% 50%;
}

.op-mainmenu_item-image-container .op-mainmenu_item-image__item-image:hover
{
	transform: scale3d( 1.1, 1.1, 1);
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu_item-image
{
	vertical-align: center;
	horizontal-align: center;
	transform-origin: 50% 100%;
	transform: rotateX( 0deg );
}

#id-op-reward-image-item-image-container
{
	height: fill-parent-flow( 1 );
	transition-property: blur, opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

#id-op-reward-image-item-image-container.subdued
{
	opacity: 0.3;
	blur:gaussian( 2, 2, 6 );
	transform: scale3d( 1.1, 1.1, 1 );
	transition-property: blur, opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu_item-image__item-image
{
	width: 190px;
	padding: 10px;
	height: 100%;
	img-shadow: 2px 2px 18px 1.0 black;
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu_item-image__status-icon
{
	wash-color: opAccentColor;
	background-color: opAccentColorDark;
	border: 1px solid opAccentColor;
	border-radius: 50%;
	padding: 6px;
	margin: 4px;
}

.op-mainmenu_item-image__status-icon.bright
{
	wash-color: opAccentColorLight;
	border: 1px solid opAccentColorLight;
}

.op-mainmenu_item-image__label
{
	margin-left: 20px;
	text-transform: uppercase;
	font-size: 10;
	font-weight: bold;
	letter-spacing: 3px;
	padding: 4px 0px 4px 16px;
	background-color: opAccentColorDark;
	color: opAccentColorLight;
	height: fit-children;
	font-family: Stratum2, 'Arial Unicode MS';
	vertical-align: center;
	text-overflow: shrink;
}

.op-mainmenu_item-image__label-name
{
	font-family: Stratum2, 'Arial Unicode MS';
	letter-spacing: 3px;
	text-transform: none;
	horizontal-align:center;
	text-align: center;
	font-weight: medium;
	background-color: none;
	width: 178px;
	font-size: 12;
}

.op-mainmenu_item-image.flip-panel-anim-down-hidden
{
	transform: rotateX( -90deg ) translateZ( -0% ) translateY( 20% ) scaleX( 0.8 );
	transform-origin: 50% 50%;
	brightness: 0.2;
	opacity: 0;
}

.op-mainmenu_item-image.flip-panel-anim-up-hidden
{
	transform: rotateX( 90deg ) translateZ( 0% ) translateY( -20% ) scaleX( 0.8 );
	transform-origin: 50% 50%;
	brightness: 0.2;
	opacity: 0;
}

.op-mainmenu_item-image.flip-panel-anim-down-show
{
	transform: rotateX( 0deg ) translateZ( 0% ) translateY( 0% ) scaleX( 1 );
	transform-origin: 50% 50%;
	brightness: 1;
	opacity: 1;
}

.op-mainmenu_item-image.flip-panel-anim-up-show
{
	transform: rotateX( 0deg ) translateZ( 0% ) translateY( 0% ) scaleX( 1 );
	transform-origin: 50% 50%;
	brightness: 1;
	opacity: 1;
}

.op-mainmenu__content__upsell__btn
{
	flow-children: right;
	margin-bottom: 16px;
	vertical-align: bottom;
	border: 1px solid opAccentColorLight;
	box-shadow: shadowOffset;
	margin-left: op-missions-left-padding;
}

.op-reward-warning
{
	font-size: 16px;
	vertical-align: bottom;
	width: fit-children;
	margin-bottom: 6px;
	font-weight: medium;
}

.op-reward-warning-icon
{
	height: 16px;
	width: 16px;
	vertical-align: center;
	margin-right: 4px;
}

.op-mainmenu__content__upsell
{
	background-color: positiveColor;
	height: 100%;
	brightness: 1.0;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu__content__upsell__btn:hover
{
	brightness: 1.5;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu__content__upsell__image
{
	padding: 2px 6px;
	wash-color: black;
}

.op-mainmenu__content__upsell__btn Label
{
	color: positiveColor;
}

.op-mainmenu__missions
{
	height: fill-parent-flow( 0.7 );
	width: 100%;
	background-color: rgba(4, 52, 82, 0.63);
	background-color: gradient( linear, 0% 75%, 0% 100%, from(rgba(37, 128, 185, 0.486)), to( rgba(4, 52, 82, 0.63)) );
}

.op-mainmenu__stats
{
	height: fill-parent-flow( 0.2 );
	width: 100%;
	background-color: #3d2f00bb;
	transition-property: brightness;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu__stats:hover
{
	brightness: 2;
	transition-property: brightness;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu__stats__container
{
	flow-children: down;
	horizontal-align: center;
}

.op-mainmenu__stats__match-date
{
	font-family: Stratum2, 'Arial Unicode MS';
	color: opCompleteColor;
	font-size: 14px;
	text-align: center;
	horizontal-align: center;
	font-weight: medium;
	padding-top: 8px;
}

.avatar-image__icon:hover
{
	brightness: 1.5;
	transition-property: brightness;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.op-mainmenu__stats__match
{
	width: fit-children;
	padding: 0px 32px;
}

.op-mainmenu__stats__match__win-loss--green,.op-mainmenu__stats__match__win-loss--yellow,.op-mainmenu__stats__match__win-loss--red
{
	height: 16px;
	width: 16px;
	border-radius: 50%;
	box-shadow: shadowOffset;
	vertical-align: center;
}

.op-mainmenu__stats__match__map-icon
{
	height: 48px;
	vertical-align: center;
	margin: 0px 12px;
}

.op-mainmenu__stats__match__map-name
{
	vertical-align: center;
	font-family: Stratum2, 'Arial Unicode MS';
	color: opCompleteColor;
	font-size: 28px;
	font-weight: medium;
}

.op-mainmenu__stats__match__map-score
{
	vertical-align: center;
	horizontal-align: center;
	font-family: Stratum2, 'Arial Unicode MS';
	color: opCompleteColor;
	font-size: 28px;
	font-weight: black;
	text-align: center;
	width: fill-parent-flow ( 1 );
}

#id-op-mainmenu-stats-match-teammates .avatar-image__icon
{
	height: 42px;
	width: 42px;
	margin: 0px 2px;
}

.op-mainmenu__stats__match__win-loss--green
{
	background-color: positiveColor;
}

.op-mainmenu__stats__match__win-loss--yellow
{
	background-color: warningColor;
}

.op-mainmenu__stats__match__win-loss--red
{
	background-color: negativeColor;
}

.op-mainmenu__stats__data
{
	flow-children: down-wrap;
	height:fill-parent-flow(1);
	horizontal-align: center;
}

@define stat-width: 80px;
@define stat-padding: 16px;
.op-mainmenu__stats__data--three-columns
{
	width: 68%;
}

.op-mainmenu__stats__data--two-columns
{
	width: 38%;
}

.op-mainmenu__stats__data--one-columns
{
	width: 19%;
}

.op-mainmenu__stats__data_container
{
	flow-children: right;
}

.op-mainmenu__stats__stat
{
	width: stat-width;
	text-align: left;
	padding: 4px 0px 4px stat-padding;
	horizontal-align: center;
	font-weight: lighter;
	white-space: nowrap;
	text-overflow: shrink;
}

.op-mainmenu__stats__value
{
	width: stat-width;
	text-align: right;
	font-weight: bold;
	padding: 4px stat-padding 4px 0px;
	border-right: 1px solid rgba(219, 219, 219, 0.164);
	horizontal-align: center;
}

.op-mainmenu__stats__value--no-border
{
	border-right: 0px solid rgba(219, 219, 219, 0);
}

.no-match-data.op-mainmenu__stats
{
	height: fill-parent-flow( 0.06 );
}

.no-match-data .op-mainmenu__stats__top-section
{
	height: 100%;
}

.no-match-data .op-header
{
	border: 0px solid black;
	vertical-align: center;
}

.no-match-data #id-op-mainmenu-stats-section
{
	visibility: collapse;
}

.op-mainmenu__stats__upsell-container
{
	width: 100%;
	height: fill-parent-flow( 1 );
}

.op-mainmenu__stats__upsell-image
{
	width: 640px;
	brightness: .4;
	blur:gaussian( 2, 2, 1 );
}

.op-mainmenu__stats__upsell-info
{
	margin-left: 32px;
	margin-right: 32px;
	margin-top: 32px;
	flow-children: right;
	vertical-align: center;
}

#id-op-mainmenu-stats-store-image
{
	width: 128px;
	margin-right: 16px;
}

.store-panel__operation-desc
{
	font-size: 16px;
	font-weight: medium;
	font-family: Stratum2, 'Arial Unicode MS';
	color: opCompleteColor;
	width: fit-children;
	text-align: left;
	horizontal-align: left;
}

