<!-- xml reconstructed by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io -->
<root>
	<styles>
		<include src="s2r://panorama/styles/csgostyles.vcss_c" />
		<include src="s2r://panorama/styles/matchtile.vcss_c" />
	</styles>
	<Panel class="left-right-flow vertical-align-bottom horizontal-align-right">
		<Button id="sharedownloadlink" class="PopupButton White TileButton">
			<Image id="minishare" src="s2r://panorama/images/icons/ui/link.vsvg" />
		</Button>
		<Button id="downloadmatch" class="PopupButton White TileButton">
			<Image id="minidownload" src="s2r://panorama/images/icons/ui/downloaded.vsvg" />
			<Panel id="spinner" class="Spinner Hide TileButton__Spinner" />
		</Button>
		<Button id="moreoptions" class="PopupButton White TileButton">
			<Image id="miniexpand" src="s2r://panorama/images/icons/ui/expand.vsvg" />
		</Button>
	</Panel>
</root>
