/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

PopupManager
{
	width: 100%;
	height: 100%;
}

#DimBackground
{
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.75;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	transition-delay: 0s;
}

#DimBackground.Hidden
{
	opacity: 0;
}

#BlurBackground
{
	width: 100%;
	height: 100%;
	background-color: blurBackgroundColor;
	transition-property: background-color, opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

#BlurBackground.Hidden
{
	opacity: 0;
	transition-property: background-color, opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

#BlurBackground:active
{
	sound: "ui_settings_out_multi";
}

