/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.popup-nameable-item-models
{
	width: 100%;
	height: 100%;
}

.popup-nameable__model
{
	width: 1024px;
	height: 512px;
	vertical-align: center;
	horizontal-align: center;
}

#NameableItemModel
{
	transition-property: brightness;
	transition-timing-function: ease-in-out;
	transition-duration: 2s;
}

.popup-nameable__info-block
{
	flow-children: down;
	vertical-align: bottom;
	width: 100%;
	margin-bottom: 98px;
}

.popup-nameable__textentry
{
	height: 52px;
	width: 512px;
	vertical-align: center;
	font-size: 32px;
	font-weight: medium;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: stratum2Font;
	letter-spacing: 4px;
}

.popup-nameable__textentry #PlaceholderText
{
	color: rgb(116, 116, 116);
	font-size: 28px;
}

.popup-nameable-update-title-anim
{
	animation-name: UpdateTitle;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'UpdateTitle'
{
	0%
	{
		transform: scale3d( 1.5, 1.5, 1.5 );
		text-shadow: none;
		opacity: 0;
	}
	
	50%
	{
		transform: scale3d( 1, 1, 1 );
		brightness: 5;
		text-shadow: 0px 0px 16px #FFFFFF00;
		opacity: 1;
	}
	
	100%
	{
		text-shadow: 0px 0px 0px #FFFFFF;
		brightness: 1;
	}
	
}

.isstorageunit .popup-nameable__model,.isstorageunit #NameableRemoveBtn
{
	visibility: collapse;
}

