/* Prettified by Source 2 Viewer 9.2.0.0 - https://valveresourceformat.github.io */

@define major-hub-width: 1340px;
@define groups-bg-color: #242d3d;
@define pickem-green: rgb(14, 209, 95);
@define pickem-red: #B21E2C;
@define bg-eliminated: #742235;
@define bg-advance: #12735177;
@define arrow-bg-color-green: gradient( linear, 20% 0%, 135% 0%, from( groups-bg-color ), to( pickem-green ) );
@define arrow-bg-color-red: gradient( linear, 30% 0%, 110% 0%, from( groups-bg-color ), to( pickem-red ) );
.popup-major-hub
{
	width: 100%;
	height: 100%;
	max-width: 100%;
	background-color: none;
	border: 0px solid white;
	margin: 0px;
	padding: 0px;
	background-color: rgba(0, 0, 0, 0.75);
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: .01;
}

.popup-major-hub .major-hub-title-container
{
	horizontal-align: center;
	flow-children: right;
	margin: 28px 0px;
}

.popup-major-hub .major-hub-title-container .major-hub-title-text
{
	color:white;
	margin-left: 24px;
	font-size: 48px;
	vertical-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.popup-major-hub .major-hub-store__souvenir__body
{
	font-size: 16px;
	max-height: 64px;
	text-overflow: shrink;
	horizontal-align: center;
	text-align: center;
	letter-spacing: 1.2px;
	color: white;
}

.major-hub-section-title
{
	font-size: 24px;
	height:28px;
	vertical-align: center;
	color: white;
	margin: 8px 16px;
	ignore-parent-flow: true;
	vertical-align: top;
	z-index: 2;
}

.major-hub-bottom-bar
{
	vertical-align: bottom;
	width: major-hub-width;
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: right;
}

.major-hub-bottom-bar .hidden
{
	opacity: 0;
	visibility: collapse;
}

.major-hub-store
{
	width: major-hub-width;
	height: 300px;
	horizontal-align: center;
	flow-children: right;
}

.major-hub-store .major-hub-store__items-section
{
	width:100%;
	height: 100%;
	flow-children: right;
	transition-property: background-size, width;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.major-hub-store .major-hub-store__items-section.major-background-size
{
	background-size: 100% 301%;
	background-position: top;
	background-repeat: no-repeat;
}

.major-hub-store.graffiti-panel-visible .major-hub-store__items-section
{
	width: 83%;
	height: 100%;
	flow-children: right;
	background-size: 110% 301%;
	background-position: top;
}

.major-hub-store.graffiti-panel-visible .major-hub-store__souvenir
{
	width: fill-parent-flow(1);
	margin: 0px 28px;
}

.major-hub-store .major-hub-store__souvenir
{
	flow-children: down;
	vertical-align: center;
	margin: 0px 48px;
	width: fill-parent-flow(1);
	transition-property: margin, width;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.major-hub-store .major-hub-store__souvenir .major-hub-store__souvenir__image
{
	height: 220px;
	width: height-percentage( 180%);
	horizontal-align: center;
	visibility: collapse;
}

.major-hub-store .major-hub-store__souvenir .major-hub-store__souvenir__model
{
	height: 240px;
	vertical-align: top;
	margin-top: 16px;
	width: 100%;
	ignore-parent-flow:true;
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/masks/major_souvenir_model_panel_psd.vtex");
}

.major-hub-store .major-hub-store__souvenir .major-hub-store__fade
{
	ignore-parent-flow:true;
	height: 300px;
	width: 100%;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 40%, from( #4c6eaa ), to( #859ca000 ) );
}

.major-hub-store .major-hub-store__souvenir .major-hub-store__souvenir__header
{
	font-size: 24px;
	horizontal-align: center;
	text-align: center;
	color: white;
	letter-spacing: 2px;
	text-shadow: 1px 1px 6px 2 rgba(0, 0, 0, 0.733);
}

.major-hub-store .major-hub-store__souvenir .major-hub-store__souvenir__price
{
	font-size: 16px;
	font-weight: black;
	horizontal-align: center;
	text-align: center;
	color: rgb(21, 221, 21);
}

.major-hub-store .major-hub-store__souvenir .major-hub-store__souvenir__body
{
	text-shadow: 1px 1px 6px 2 rgba(0, 0, 0, 0.733);
}

.major-hub-store .major-hub-store__items
{
	vertical-align: center;
	flow-children: right;
	horizontal-align: right;
	margin-right: 8px;
}

.no-items-on-sale .major-hub-store .major-hub-store__items
{
	visibility: collapse;
}

.major-hub-store .major-hub-store__items .itemtile-store
{
	background-color: groups-bg-color;
}

.major-hub-store__spray
{
	visibility: collapse;
	margin-left: 8px;
	height: 100%;
	width: 100%;
}

.major-hub-store__spray.major-background-size
{
	background-size: 650% 301%;
	background-position: top;
	background-repeat: no-repeat;
}

.graffiti-panel-visible .major-hub-store__spray
{
	visibility: visible;
}

.major-hub-store__spray .major-hub-store__spray-info
{
	margin: 8px 8px;
	vertical-align: bottom;
	flow-children: down;
}

.major-hub-store__spray .major-hub-store__spray-image
{
	horizontal-align: center;
	margin-top: 32px;
	width:height-percentage( 135%);
	height: 152px;
}

.major-hub-store__spray .major-hub-store__spray-btn
{
	horizontal-align: center;
	background-color: blueColorDark;
	border-radius: 3px;
	width: 150px;
	height: 30px;
	margin: 8px 0px 8px 0px;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.major-hub-store__spray .major-hub-store__spray-btn Label
{
	text-align: center;
	height: 24px;
	letter-spacing: 1px;
	padding: 3px 8px;
	horizontal-align: center;
}

.major-hub-store__spray .major-hub-store__spray-btn:hover
{
	brightness: 1.5;
}

.major-hub-challenges-pickem
{
	width: major-hub-width;
	height: 600px;
	flow-children: right;
	horizontal-align: center;
	margin-top: 8px;
}

.major-hub-challenges-pickem.major-background-size
{
	background-size: 100% 150%;
	background-position: bottom;
	background-repeat: no-repeat;
}

.major-hub-challenges-column
{
	width: 320px;
	height: 100%;
	flow-children: down;
	border-right: 1px solid rgba(255, 255, 255, 0.03);
}

.major-hub-coin
{
	width: 100%;
	opacity: 1;
	transform: translateY( 0px);
	transition-property: opacity, transform;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.no-active-coin .major-hub-coin
{
	visibility: collapse;
	opacity: 0;
	transform: translateY( -40px);
	transition-property: opacity, transform;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.major-hub-coin .major-hub-coin__charges
{
	horizontal-align: right;
	margin-top: 16px;
}

.major-hub-coin .major-hub-coin__charges Label
{
	text-align: center;
	horizontal-align:center;
	vertical-align: center;
	width: 24px;
	font-size: 18px;
	text-shadow: 1px 1px 6px 2 rgba(0, 0, 0, 0.733);
	color: white;
}

.major-hub-coin .major-hub-coin__charges Image
{
	brightness: .5;
	width: 40px;
	height: 40px;
}

.major-hub-coin .major-hub-coin__status
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 8px;
}

.major-hub-coin .major-hub-coin__status .major-hub-coin__status__image
{
	height: 42px;
	width: 46px;
}

.major-hub-coin .major-hub-coin__status .major-hub-coin__status__image.bronze
{
	wash-color: #b67c43;
}

.major-hub-coin .major-hub-coin__status .major-hub-coin__status__image.silver
{
	wash-color: #858585;
}

.major-hub-coin .major-hub-coin__status .major-hub-coin__status__image.gold
{
	wash-color: #b19500;
}

.major-hub-coin .major-hub-coin__status .major-hub-coin__status__num
{
	vertical-align: center;
	text-align: center;
	horizontal-align: center;
	color: white;
	font-size: 24px;
}

.major-hub-coin .major-hub-coin__status .major-hub-coin__status__text
{
	font-size: 18px;
	vertical-align: center;
	color: white;
}

.major-hub-coin .major-hub-coin__model
{
	width: 100%;
	height: 240px;
	transform: translateY( 12px) translateX( 5px );
	opacity-mask: url("s2r://panorama/images/masks/top-bottom-fade-4_png.vtex");
}

.major-hub-pass-upsell
{
	flow-children: down;
	width: 100%;
	margin-top: 24px;
	visibility: collapse;
}

.no-active-coin .major-hub-pass-upsell
{
	visibility: visible;
}

.major-hub-pass-upsell .major-hub-pass-upsell__image
{
	width:height-percentage( 140%);
	height: 140px;
	horizontal-align: center;
}

.major-hub-pass-upsell .major-hub-pass-upsell__btn
{
	horizontal-align: center;
	padding:4px 8px;
	background-color: positiveColor;
}

.major-hub-pass-upsell .major-hub-pass-upsell__btn:hover
{
	brightness: 1.2;
}

.major-hub-pass-upsell .major-hub-pass-upsell__btn Label
{
	font-family: Stratum2, "Arial Unicode MS";
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	font-size: 14px;
	max-height: 26px;
	text-overflow: shrink;
	transform: translateY( 1px);
}

.major-hub-pass-upsell .major-hub-pass-upsell__text
{
	horizontal-align: center;
	margin: 8px;
	font-size: 15px;
	color: white;
	letter-spacing: 1.5px;
	text-align: center;
}

.major-hub-challenges-container
{
	width: 100%;
	flow-children: down;
	vertical-align: bottom;
	margin-bottom: 24px;
}

.major-hub-challenges-container .major-hub-challenge
{
	flow-children: right;
	min-height: 34px;
	width: 100%;
	margin: 1px 6px 1px 6px;
	background-color: rgba(0, 0, 0, 0.5);
	background-color: rgba(255, 255, 255, 0.05);
}

.no-active-coin .major-hub-challenges-container .major-hub-challenge
{
	background-color: rgba(0, 0, 0, 0.4);
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.major-hub-challenges-container .major-hub-challenge.complete
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(15, 141, 15) ), to( rgba(4, 82, 4, 0.829)) );
}

.major-hub-challenges-container .major-hub-challenge.disqualified
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(161, 15, 15) ), to( rgba(82, 4, 4, 0.829)) );
}

.major-hub-challenges-container .major-hub-challenge .major-hub-challenge__icon-container
{
	height: 100%;
	horizontal-align: right;
}

.major-hub-challenges-container .major-hub-challenge .major-hub-challenge__icon
{
	horizontal-align: center;
	vertical-align: center;
	padding: 0px 16px;
	opacity: .8;
}

.no-active-coin .major-hub-challenges-container .major-hub-challenge .major-hub-challenge__icon
{
	opacity: .2;
	transition-property: opacity;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.major-hub-challenges-container .major-hub-challenge .major-hub-challenge__name
{
	font-size: 11px;
	max-height: 28px;
	width: fill-parent-flow( 1 );
	text-overflow: shrink;
	color: white;
	margin-right: 6px;
}

.no-active-coin .major-hub-challenges-container .major-hub-challenge .major-hub-challenge__name
{
	opacity: .2;
	transition-property: opacity;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.complete .major-hub-challenges-container .major-hub-challenge .major-hub-challenge__name
{
	opacity: 1;
}

.loading .content-navbar__tabs--pickem
{
	visibility: collapse;
}

.IconButton
{
	margin: 0px;
}

.IconButton Image
{
	height: 16px;
}

.major-hub-pickem__nav-separator
{
	height: 1px;
	width: 512px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0.03)), to( rgba(255, 255, 255, 0.0) ) );
}

.major-hub-pickem__tab-active
{
	width: 4px;
	height: 4px;
	background-color: pickem-green;
	border-radius: 50%;
	ignore-parent-flow: true;
	visibility: collapse;
	vertical-align: center;
	margin-left: 2px;
}

.active .major-hub-pickem__tab-active
{
	visibility: visible;
}

.major-hub-pickem__page
{
	width: 100%;
	height: 100%;
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.loading .major-hub-pickem__page,.major-hub-pickem__page.hidden
{
	visibility: collapse;
	transform: translateX(-50%);
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.major-hub-pickem__page.blue
{
	background-color: blue;
}

.major-hub-pickem__loading
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.loading .major-hub-pickem__loading
{
	visibility: visible;
}

.major-hub-pickem__loading .major-hub-pickem__loading__block
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
}

.major-hub-pickem__loading Label
{
	text-align: center;
	color: white;
	margin-top: 8px;
}

.major-hub-pickem__loading .Spinner
{
	horizontal-align: center;
}

.timeout .major-hub-pickem__loading .Spinner
{
	visibility: collapse;
}

.major-hub-pickem__loading Image
{
	visibility: collapse;
	horizontal-align: center;
}

.timeout .major-hub-pickem__loading Image
{
	visibility: visible;
}

.group-stage-drag-icon
{
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.group-stage-drag-icon.drag-start
{
	transform: scale3d(1.2, 1.2, 1.2);
}

.group-stage-drag-icon.drag-end
{
	transform: scale3d(0.7, 0.7, 0.7);
	opacity: 0;
}

.leaderboard_open_button
{
	margin-right: 46px;
	margin-top:8px;
}

.leaderboard-has-nodata .leaderboard_open_button
{
	opacity: 0;
	visibility: collapse;
}

.AspectRatio16x10 .popup-major-hub .major-hub-store,.AspectRatio16x10 .popup-major-hub .major-hub-challenges-pickem,.AspectRatio16x10 .popup-major-hub .major-hub-bottom-bar,.AspectRatio16x9 .popup-major-hub .major-hub-store,.AspectRatio16x9 .popup-major-hub .major-hub-challenges-pickem,.AspectRatio16x9 .popup-major-hub .major-hub-bottom-bar,.AspectRatio21x9 .popup-major-hub .major-hub-store,.AspectRatio21x9 .popup-major-hub .major-hub-challenges-pickem,.AspectRatio21x9 .popup-major-hub .major-hub-bottom-bar
{
	width: 1620px;
}

.AspectRatio16x10 .popup-major-hub .major-hub-challenges-column,.AspectRatio16x9 .popup-major-hub .major-hub-challenges-column,.AspectRatio21x9 .popup-major-hub .major-hub-challenges-column
{
	width: 420px;
	padding: 0px 32px;
}

.AspectRatio16x10 .popup-major-hub .major-hub-pickem__page,.AspectRatio16x9 .popup-major-hub .major-hub-pickem__page,.AspectRatio21x9 .popup-major-hub .major-hub-pickem__page
{
	margin-left: 48px;
}

.AspectRatio16x10 .popup-major-hub .group-stage-teams-container,.AspectRatio16x9 .popup-major-hub .group-stage-teams-container,.AspectRatio21x9 .popup-major-hub .group-stage-teams-container
{
	margin-right: 48px;
}

.AspectRatio16x10 .popup-major-hub #id-leaderboard.leaderboard_embedded,.AspectRatio16x9 .popup-major-hub #id-leaderboard.leaderboard_embedded,.AspectRatio21x9 .popup-major-hub #id-leaderboard.leaderboard_embedded
{
	margin-right: 16px;
}

.AspectRatio16x10 .popup-major-hub .leaderboard_open_button,.AspectRatio16x9 .popup-major-hub .leaderboard_open_button,.AspectRatio21x9 .popup-major-hub .leaderboard_open_button
{
	margin-right: 24px;
}

.AspectRatio16x10 .popup-major-hub .major-hub-store__souvenir__model,.AspectRatio16x9 .popup-major-hub .major-hub-store__souvenir__model,.AspectRatio21x9 .popup-major-hub .major-hub-store__souvenir__model
{
	height: 260px;
}

