/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.PopupPanel.popup-tournament-select-spray
{
	max-width: 900px;
	background-image: url("s2r://panorama/images/tournaments/backgrounds/pickem_bg_23_png.vtex");
	background-size: 140% 100%;
	background-position: 70% 50%;
	background-repeat: no-repeat;
}

.popup-tournament-select-spray-team
{
	height:110px;
	width: height-percentage( 130% );
	margin: 8px;
	transition-property: brightness, background-color;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.popup-tournament-select-spray-team:hover
{
	brightness: 1.5;
	background-color: rgba(255, 255, 255, 0.02);
	transition-property: brightness, background-color;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

