/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.overwatch_verdict_desc
{
	font-size: 18px;
	margin: 32px 64px;
}

.overwatch_verdict_type_title
{
	font-size: 28px;
	font-weight: bold;
	margin: 32px 32px 0px 32px;
}

.overwatch_verdict_type_subtitle
{
	font-size:18px;
	font-weight:bold;
	margin: 32px 32px 0px 32px;
}

.overwatch_verdict_type_desc
{
	font-size: 18px;
	margin: 32px 32px;
}

.overwatch-button-container
{
	flow-children:right;
	width:100%;
	margin: 0px;
}

.PopupButton.overwatch-button
{
	horizontal-align:left;
	width: fill-parent-flow(1);
	height: 200px;
	padding-left: 32px;
}

.PopupButton.overwatch-button Label
{
	text-align: left;
	horizontal-align: left;
	color: rgba(255, 255, 255, 0.7);
}

.PopupButton.overwatch-button .RadioBox
{
	opacity: .4;
}

.PopupButton:hover Label,.PopupButton:selected Label
{
	color: white;
	text-shadow: 0px 0px 10px 2.0 #ffffff18;
}

.PopupButton:hover .RadioBox,.PopupButton:selected .RadioBox
{
	opacity: 1;
}

#verdict_btn_not_guilty
{
	background-color: rgba(255, 255, 255, 0.05);
}

#verdict_btn_not_guilty:hover,#verdict_btn_not_guilty:selected
{
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: inset rgba(255, 255, 255, 0.3) 0px 0px 12px 1x;
}

#verdict_btn_guilty
{
	background-color: rgba(255, 0, 0, 0.05);
	horizontal-align: right;
}

#verdict_btn_guilty:hover,#verdict_btn_guilty:selected
{
	background-color: rgba(220, 0, 0, 0.25);
	box-shadow: inset rgba(255, 0, 0, 0.4) 0px 0px 12px 1x;
}

.overwatch-separator
{
	margin: 0px 64px 0px 64px;
}

.overwatch-verdict-container
{
	flow-children:down;
	overflow:squish scroll;
}

.overwatch-verdict-background
{
	margin: 16px 64px;
	width: fill-parent-flow(1);
	background-color: #00000040;
}

.overwatch-verdict-popup
{
	width:900px;
	margin-top:64px;
	margin-bottom:64px;
}

.content-navbar__seperator--partial
{
	margin-left:32px;
	margin-right:32px;
}

.overwatch-verdict-popup Label
{
	font-family:Stratum2;
}

