/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	max-width: 1800px;
	width: 640px;
}

.popup-premier-title-container
{
	height: fit-children;
	margin: 20px;
	padding: 12px 0px;
	background-color:#00000040;
	width: 100%;
	flow-children: down;
	background-image: url("s2r://panorama/images/map_icons/screenshots/360p/lobby_mapveto_png.vtex");
	background-size: auto auto;
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-img-opacity: 0.25;
}

.popup-premier-title
{
	font-size: 28px;
	font-weight: bold;
	font-family: Stratum2, 'Arial Unicode MS';
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
}

.popup-premier-desc
{
	font-size: 18px;
	horizontal-align: center;
	margin: 0px 20px;
	height: fit-children;
	vertical-align: top;
	width: 520px;
}

.popup-premier-pick-ban-container
{
	margin: 20px 20px 0px 20px;
	flow-children: down;
	height: fit-children;
	horizontal-align: center;
}

.popup-premier-pick-ban-image
{
	margin-top: 12px;
}

