/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.tournament_popup
{
	width: 800px;
}

.pickban__initial_pick_text
{
	text-align: center;
	padding: 10px;
}

.pickban_draft_tile
{
	width: 100%;
}

.pickban__option
{
	height: 64px;
	width: 100%;
}

.pickban__veto
{
	border: 2px solid #990000;
	margin-bottom: 4px;
}

.pickban__pick
{
	flow-children: down;
	border: 2px solid #4F7123;
}

.pickban__pick .pickban__map
{
	border-bottom: 2px solid #00000040;
}

.pickban__draft_info
{
	width: fill-parent-flow( 1 );
	flow-children: right;
	vertical-align: center;
}

.pickban__dropdown
{
	width: 100px;
	height: 30px;
}

.pickban__draft_container
{
	width: 100%;
	flow-children: down;
}

.pickban__draft_info_text
{
	width: 100%;
	text-align: center;
	color: grey;
}

.pickban__draft_vetoed .pickban__draft_info_text
{
	color: #990000;
}

.pickban__draft_picked .pickban__draft_info_text
{
	color: #4F7123;
}

.pickban__picking .pickban__draft_info_text
{
	visibility: collapse;
}

.pickban__select
{
	height: 100%;
	width: 100%;
	flow-children: right;
}

.pickban__team_logo
{
	height: 100%;
	width: height-percentage( 100% );
	padding: 8px;
}

.pickban__selected_info
{
	width: 102px;
	height: 100%;
	horizontal-align: right;
	border-left: 2px solid #00000040;
}

.pickban__selected_image
{
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
	padding: 8px;
}

.pickban__team .pickban__selected_image
{
	width: height-percentage( 100% );
}

.pickban__map .pickban_unselected
{
	height: 50px;
	width: 86px;
	vertical-align: center;
	horizontal-align: center;
	background-color: #00000020;
	border: 2px solid #00000040;
}

.pickban__team .pickban_unselected
{
	height: 50px;
	width: height-percentage( 100% );
	vertical-align: center;
	horizontal-align: center;
	background-color: #00000020;
	border: 2px solid #00000040;
	border-radius:50%;
}

.pickban__unselected_text
{
	width: 100%;
	font-weight: bold;
	font-size: 32px;
	text-align: center;
	vertical-align: center;
	color: #00000040;
}

.pickban__wait
{
	width: 100%;
	height: 100%;
	flow-children: right;
	background-color: #00000080;
	visibility: collapse;
}

.pickban__wait_spinner
{
	height: 80%;
	width: height-percentage( 100% );
	vertical-align: center;
	horizontal-align: center;
}

.pickban__wait_text
{
	width: fill-parent-flow( 1 );
	text-align: center;
	color: grey;
	vertical-align: center;
}

.PickBanInitialPickOnly,.PickBanInitialWaitOnly,.PickBanDraftOnly,.PickBanDraftPickingOnly,.PickBanDraftWaitingOnly,.pickban__waiting .pickban__draft_info_text
{
	visibility: collapse;
}

.pickban__initial-pick .PickBanInitialPickOnly,.pickban__initial-wait .PickBanInitialWaitOnly,.pickban__draft .PickBanDraftOnly,.pickban__picking .PickBanDraftPickingOnly,.pickban__waiting .PickBanDraftWaitingOnly
{
	visibility: visible;
}

