/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.premier-pickban
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
	pre-transform-scale2d: 1;
	transform: translateY( 0px );
	min-width: 0px;
	border-radius: 0px;
	flow-children: down;
	opacity: 0;
	transform: scale3d(1.2,1.2, 1);
	visibility: collapse;
	background-image: url("s2r://panorama/images/backgrounds/linemap_png.vtex");
	background-size: auto auto;
	background-img-opacity: 0;
	background-color:#22343f00;
	transition-property: opacity, transform, background-color, background-img-opacity;
	transition-delay: 0s, 0s, 0s, 0s;
	transition-duration: .25s, .25s, 2s, 2s;
	transition-timing-function: ease-in;
}

.premier-pickban .premier-pickban__topbar
{
	horizontal-align: center;
	ignore-parent-flow: true;
	transform:translateY( 128px);
	overflow: noclip;
	padding: 8px 24px;
	border-radius: 5px;
}

.premier-pickban .premier-pickban__middle
{
	height: 100%;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from(#000000d2), to( #00000000) );
	flow-children: down;
	transition-property: background-color;
	transition-duration: 0.25s;
	transition-timing-function: ease-in;
}

.premier-pickban .premier-pickban__middle.premier-pickban__middle--neutral
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from(#272a2cd0), to( #272a2b1c) );
}

.premier-pickban .premier-pickban__middle.premier-pickban__middle--dark
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from(#000000d2), to( #00000000) );
}

.premier-pickban .premier-pickban__middle.premier-pickban__middle--light
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from(#2e4a58d0), to( #2528291c) );
}

.premier-pickban .premier-pickban__bottom
{
	height: 100%;
	width: 100%;
	background-color: blue;
}

.premier-pickban.show
{
	visibility: visible;
	opacity: 1;
	transform: scale3d(1, 1, 1);
	background-color:#22343f;
	background-img-opacity: .020;
	transition-property: opacity, transform, background-color, background-img-opacity;
	transition-delay: 0s, 0s, .5s, .5s;
	transition-duration: 0.25s;
	transition-timing-function: ease-in;
}

.premier-pickban #PartyChat
{
	opacity: 0;
	horizontal-align: center;
	transform: translateX(-578px);
	vertical-align: bottom;
	margin-bottom: 240px;
	margin-left: 32px;
	width: 250px;
	z-index: 10;
	ignore-parent-flow: true;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

.premier-pickban__title
{
	flow-children: right;
	vertical-align: center;
	horizontal-align: center;
	opacity: 1;
	perspective: 1000px;
	perspective-origin: 0% 0%;
}

.premier-pickban__title .premier-pickban__title__text
{
	color: white;
	text-align: left;
	text-shadow:1px 1px 3px 2 rgba(0, 0, 0, 0.30);
}

.premier-pickban__title.premier-pickban__title--change
{
	animation-name: new-phase;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.premier-pickban__title__text-red
{
	color: red;
}

.premier-pickban__title__text-green
{
	color: positiveColor;
}

@keyframes 'new-phase'
{
	0%
	{
		brightness: 3;
		opacity: 0;
		transform: translateY ( 10px ) rotatex( 90deg) scale3d( 1.7, 1.7, 1.7);
	}
	
	100%
	{
		brightness: 1;
		opacity: 1;
		transform: translateY ( 0px ) rotateX( 0deg) scale3d( 1, 1 ,1 );
	}
	
}

.premier-pickban__progress
{
	height: 96px;
	flow-children: right;
	horizontal-align: center;
}

.premier-pickban__progress .premier-pickban__section
{
	flow-children: down;
	vertical-align: bottom;
	margin: 0px 2px;
}

.premier-pickban__progress .premier-pickban__section .premier-pickban__progress__section-name,.premier-pickban__progress .premier-pickban__section .premier-pickban__progress__section-timer
{
	text-align: center;
	horizontal-align: center;
	letter-spacing: 5px;
	color: white;
	transition-property: color-wash;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.premier-pickban__progress .premier-pickban__section .premier-pickban__progress__bar-container
{
	width: 284px;
	height: 16px;
	background-color: black;
	transform-origin: 50% 100%;
	transition-property: transform, color-wash;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.premier-pickban__progress .premier-pickban__section .premier-pickban__progress__bar-container .premier-pickban__progress__bar-inner
{
	width: 0%;
	height: 100%;
	background-color: white;
	transition-property: width;
	transition-duration: 1s;
	transition-timing-function: linear;
}

.premier-pickban__progress .premier-pickban__section.premier-pickban__progress--pre .premier-pickban__progress__section-timer
{
	opacity: 0;
}

.premier-pickban__progress .premier-pickban__section.premier-pickban__progress--pre .premier-pickban__progress__section-name,.premier-pickban__progress .premier-pickban__section.premier-pickban__progress--pre .premier-pickban__progress__bar-container
{
	wash-color: rgb(141, 141, 141);
}

.premier-pickban__progress .premier-pickban__section.premier-pickban__progress--pre .premier-pickban__progress__bar-container
{
	transform: scaleY(.25);
}

.premier-pickban__progress .premier-pickban__section.premier-pickban__progress--ban .premier-pickban__progress__section-timer
{
	opacity: 1;
	text-shadow:0px 0px 8px 2 rgba(255, 255, 255, 0.30);
}

.premier-pickban__progress .premier-pickban__section.premier-pickban__progress--ban .premier-pickban__progress__bar-container
{
	wash-color: negativeColor;
	transform: scaleY(1);
}

.premier-pickban__progress .premier-pickban__section.premier-pickban__progress--pick .premier-pickban__progress__section-timer
{
	opacity: 1;
	text-shadow:0px 0px 8px 2 rgba(255, 255, 255, 0.30);
}

.premier-pickban__progress .premier-pickban__section.premier-pickban__progress--pick .premier-pickban__progress__bar-container
{
	wash-color: positiveColor;
	transform: scaleY(1);
}

.premier-pickban__progress .premier-pickban__section.premier-pickban__progress--post .premier-pickban__progress__section-timer
{
	opacity: 0;
}

.premier-pickban__progress .premier-pickban__section.premier-pickban__progress--post .premier-pickban__progress__section-name,.premier-pickban__progress .premier-pickban__section.premier-pickban__progress--post .premier-pickban__progress__bar-container
{
	wash-color: rgb(66, 66, 66);
}

.premier-pickban__progress .premier-pickban__section.premier-pickban__progress--post .premier-pickban__progress__bar-container
{
	transform: scaleY(.25);
}

.premier-pickban-phase-0 .premier-pickban__maps,.premier-pickban-phase-1 .premier-pickban__maps
{
	opacity: 0;
}

.premier-pickban-phase-0 .premier-pickban__players,.premier-pickban-phase-1 .premier-pickban__players
{
	opacity: 0;
}

.premier-pickban-phase-0 #PartyChat,.premier-pickban-phase-1 #PartyChat
{
	opacity: 0;
}

.premier-pickban-phase-2 .premier-pickban__maps,.premier-pickban-phase-3 .premier-pickban__maps,.premier-pickban-phase-4 .premier-pickban__maps
{
	opacity: 1;
	transform: scale3d(1, 1, 1);
}

.premier-pickban-phase-2 .premier-pickban__players,.premier-pickban-phase-3 .premier-pickban__players,.premier-pickban-phase-4 .premier-pickban__players
{
	opacity: 1;
}

.premier-pickban-phase-2 .premier-pickban__spider-bg,.premier-pickban-phase-3 .premier-pickban__spider-bg,.premier-pickban-phase-4 .premier-pickban__spider-bg
{
	opacity: 1;
}

.premier-pickban-phase-2 #PartyChat,.premier-pickban-phase-3 #PartyChat,.premier-pickban-phase-4 #PartyChat
{
	opacity: 1;
}

.premier-pickban-phase-5 .premier-pickban__maps
{
	opacity: 1;
}

.premier-pickban-phase-5 .premier-pickban__spider-bg
{
	opacity: 0;
}

.premier-pickban-phase-5 #PartyChat
{
	opacity: 1;
}

.premier-pickban-phase-6 .premier-pickban__maps
{
	opacity: 1;
}

.premier-pickban-phase-6 .premier-pickban__team--result
{
	opacity: 1;
}

.premier-pickban-phase-6 .premier-pickban__spider-bg
{
	opacity: 0;
	visibility: collapse;
}

.premier-pickban-phase-6 #PartyChat
{
	opacity: 1;
}

.premier-pickban-phase-row
{
	width: 1440px;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.premier-pickban__maps
{
	height: 100%;
	width: 100%;
	opacity: 0;
	horizontal-align: center;
	vertical-align: center;
	transform: scale3d(.8, .8, 1);
	transition-property: opacity, transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.premier-pickban__spider-bg
{
	horizontal-align: center;
	vertical-align: center;
	width: 610px;
	height: 610px;
	margin-top: 24px;
}

.your-turn .premier-pickban__topbar .premier-pickban__title__text
{
	color: white;
	font-weight: bold;
}

.premier-pickban__team
{
	height: 100%;
	width:100%;
	horizontal-align: center;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.premier-pickban__team.show
{
	opacity: 1;
}

.premier-pickban__team .premier-pickban__team__map-image
{
	width: 100%;
	height: 640px;
	margin-top: 112px;
	opacity: .5;
	background-image: url("s2r://panorama/images/map_icons/screenshots/1080p/de_ancient_png.vtex");
	opacity-mask: url("s2r://panorama/images/masks/fade-both-top-bottom-2_png.vtex");
	background-size: cover;
	contrast: .9;
	saturation: .8;
	brightness: .5;
}

.premier-pickban__team .premier-pickban__team__map-texture
{
	width: 100%;
	height: 640px;
	margin-top: 112px;
	background-size: auto auto;
	background-img-opacity: .02;
}

.premier-pickban__team.premier-pickban__team--result
{
	opacity: 0;
}

.premier-pickban__team #id-team-vote-btn-0,.premier-pickban__team #id-team-vote-btn-ref-0
{
	vertical-align: bottom;
	margin: 280px 230px;
	text-align: right;
	horizontal-align: left;
	flow-children: left;
}

.premier-pickban__team #id-team-vote-btn-0 .premier-pickban__map-avatars__btn,.premier-pickban__team #id-team-vote-btn-ref-0 .premier-pickban__map-avatars__btn
{
	flow-children: left;
}

.premier-pickban__team #id-team-vote-btn-0 .premier-pickban__map-avatars__label,.premier-pickban__team #id-team-vote-btn-ref-0 .premier-pickban__map-avatars__label
{
	horizontal-align: right;
	text-align: right;
}

.premier-pickban__team #id-team-vote-btn-1,.premier-pickban__team #id-team-vote-btn-ref-1
{
	vertical-align: bottom;
	horizontal-align: right;
	margin: 280px 230px;
}

.premier-pickban__team .premier-pickban__agent
{
	height: 680px;
	width: 320px;
	margin: 100px 260px;
	opacity-mask: url("s2r://panorama/images/masks/top-bottom-fade-5_png.vtex");
	brightness: .25;
	transition-property: brightness;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.premier-pickban__team .premier-pickban__agent.premier-pickban__map-btn--picked
{
	brightness: 1.2;
}

.premier-pickban__team__map-icon
{
	horizontal-align:center;
	vertical-align: top;
	margin-top: 256px;
	img-shadow: 0px 0px 19px 7.0 #000000ac;
	opacity: 0;
	transform: translateY( -16px );
	transition-property: opacity, transform;
	transition-duration: .5s, .5s;
	transition-timing-function: ease-out;
}

.premier-pickban__team__map-icon.show
{
	opacity: 1;
	transform: translateY( 0px );
}

.premier-pickban__map-btn
{
	flow-children: right;
	width: 280px;
	overflow: noclip;
	transition-property: position, width, height, opacity, transform;
	transition-duration: 1s, 1s, 1s, 1s, 1s;
	transition-timing-function: ease-out;
}

.premier-pickban__map-btn.not-picked
{
	opacity: 0;
	transform: scale3d( .5, .5, .5);
}

.premier-pickban__map-btn .premier-pickban__map-btn-container
{
	border-radius: 6px;
	overflow: noclip;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container .TickBox
{
	visibility: collapse;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container .premier-pickban__map-btn-bg
{
	width: 140px;
	height: 140px;
	margin-bottom: 12px;
	border-radius: 6px;
	transition-property: position, width, height, opacity, transform;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container .premier-pickban__map-btn-bg-image
{
	width: 100%;
	height: 100%;
	border: 2px solid rgb(202, 202, 202);
	border-radius: 6px;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container .premier-pickban__map-btn__map-fade
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from(#000000e7), to( #0000002c) );
	transition-property: brightness;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container .premier-pickban__map-btn__label
{
	text-transform: uppercase;
	text-align: center;
	horizontal-align: center;
	vertical-align: top;
	margin-top: 10px;
	text-shadow: 0px 0px 6px 1.0 rgba(255, 255, 255, 0.635);
	position: 0px 0px 0px;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container .premier-pickban__map-btn__vote-container
{
	width: 42px;
	height: 42px;
	horizontal-align: center;
	vertical-align: center;
	background-color: rgba(0, 0, 0, 0.9);
	border: 2px dashed white;
	border-radius: 6px;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container .premier-pickban__map-btn__vote
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container .premier-pickban__map-btn__result
{
	width: 64px;
	height: 64px;
	horizontal-align: center;
	vertical-align: center;
	background-image: none;
	z-index:2;
	opacity: 0;
	transform: scale3d( 1.5, 1.5, 1);
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container .premier-pickban__map-btn-status
{
	horizontal-align: center;
	vertical-align: bottom;
	text-align: center;
	padding: 2px 8px;
	background-color: negativeColor;
	position: 0px 0px 0px;
	border-radius: 3px;
	overflow: noclip;
	opacity: 0;
	transform: translateY(-8px);
	transition-property: transform, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container.premier-pickban-pick .premier-pickban__map-btn__result
{
	wash-color: positiveColor;
	background-image: url("s2r://panorama/images/icons/ui/check.vsvg");
	background-repeat: no-repeat;
	background-size: 64px 64px;
	opacity: 1;
	transform: scale3d( 1, 1, 1);
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container.premier-pickban-pick:disabled .premier-pickban__map-btn-bg-image
{
	border: 2px solid positiveColor;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container.premier-pickban-veto .premier-pickban__map-btn__result
{
	wash-color: negativeColor;
	background-image: url("s2r://panorama/images/icons/ui/exit.vsvg");
	background-repeat: no-repeat;
	background-size: 64px 64px;
	opacity: 1;
	transform: scale3d( 1, 1, 1);
	brightness: .5;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container.premier-pickban-veto:disabled .premier-pickban__map-btn-bg-image
{
	border: 2px solid negativeColor;
	background-color: rgba(100, 2, 2, 0.92);
}

.premier-pickban__map-btn .premier-pickban__map-btn-container.premier-pickban-veto:disabled .premier-pickban__map-btn__map-fade
{
	background-color: rgba(22, 2, 2, 0.9);
}

.premier-pickban__map-btn .premier-pickban__map-btn-container.premier-pickban-veto .premier-pickban__map-btn__vote-container
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container.premier-pickban-veto .premier-pickban__map-btn__label
{
	color: black;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container:hover:not(:disabled) .premier-pickban__map-btn__map-image
{
	brightness: 2;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container:disabled
{
	wash-color:none;
	box-shadow: none;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container:disabled .premier-pickban__map-btn-bg-image
{
	border: 2px solid rgb(140, 140, 140);
	blur:gaussian( 3, 3, 1 );
	brightness: .9;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container:disabled .premier-pickban__map-btn__map-fade
{
	background-color: rgba(0, 0, 0, 0.9);
}

.premier-pickban__map-btn .premier-pickban__map-btn-container:disabled .premier-pickban__map-btn__vote-container
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container:disabled .premier-pickban__map-btn__label
{
	color: rgb(130, 130, 130);
	text-shadow: none;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container.premier-pickban__map-btn__show-status .premier-pickban__map-btn-status
{
	opacity: 1;
	transform: translateY(0px);
	transition-property: transform, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container.is-team-pick .premier-pickban__map-btn-status
{
	background-color: green;
}

.premier-pickban__map-btn .premier-pickban__map-btn-container.is-team-pick .premier-pickban__map-btn-bg-image
{
	blur:gaussian( 0, 0, 0 );
}

.premier-pickban__map-btn .premier-pickban__map-btn-container.is-team-pick:disabled .premier-pickban__map-btn-bg-image
{
	blur:gaussian( 0, 0, 0 );
}

.premier-pickban__map-btn .premier-pickban__map-btn-container.premier-pickban__map-btn-winning--green
{
	background-color: positiveColor;
}

.premier-pickban__map-avatars-container,.premier-pickban__teammates
{
	flow-children: down;
}

.premier-pickban__map-avatars-container .premier-pickban__map-avatars__btn,.premier-pickban__teammates .premier-pickban__map-avatars__btn
{
	flow-children: right;
}

.premier-pickban__map-avatars-container .premier-pickban__map-avatars__label,.premier-pickban__teammates .premier-pickban__map-avatars__label
{
	width: 100px;
	height: 14px;
	text-overflow: ellipsis;
	font-size: 12px;
}

.premier-pickban__map-avatars-container CSGOAvatarImage,.premier-pickban__teammates CSGOAvatarImage
{
	width:24px;
	height:24px;
	margin: 2px 4px;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.premier-pickban__map-avatars-container CSGOAvatarImage.hidden,.premier-pickban__teammates CSGOAvatarImage.hidden
{
	opacity: 0;
}

.premier-pickban__map-avatars-container CSGOAvatarImage.team-color,.premier-pickban__teammates CSGOAvatarImage.team-color
{
	border: 2px solid white;
}

.rating-root
{
	vertical-align: center;
	margin-right: 8px;
}

.premier-pickban__map-avatars-container .rating-root
{
	visibility: collapse;
}

.premier-pickban__players
{
	horizontal-align: right;
	width: 100%;
	vertical-align: bottom;
	margin-bottom: 32px;
	margin-right: 32px;
	margin-left: 32px;
}

.premier-pickban__players .premier-pickban__opponents
{
	wash-color: rgba( 255, 68, 55, 1.0);
}

.premier-pickban__players .premier-pickban__teammates-party
{
	flow-children:down;
}

.premier-pickban__players CSGOAvatarImage,.premier-pickban__players .premier-pickban__map-opponent-avatar
{
	width:28px;
	height:28px;
	margin: 2px 6px 2px 0px;
}

.premier-pickban__players .premier-pickban__map-avatars__label
{
	width: 140px;
	height: 18px;
	font-size: 16px;
}

.premier-pickban__players CSGOAvatarImage.team-color
{
	border: 4px solid white;
}

.premier-pickban__players #id-team-vote-team-opponent .premier-pickban__map-avatars__label
{
	visibility: collapse;
}

.premier-pickban__players .premier-pickban__map-opponent-avatar
{
	border: 2px solid rgb(87, 87, 87);
}

.premier-pickban__map-avatars__party-line-empty
{
	width: 8px;
	height: 100%;
}

.premier-pickban__map-avatars__party-line-top
{
	height: 50%;
	width: 8px;
	border-top: 2px solid rgba(255, 255, 255, 0.25);
	border-left: 2px solid rgba(255, 255, 255, 0.25);
	border-radius: 5px 0px 0px 0px;
	vertical-align: bottom;
}

.premier-pickban__map-avatars__party-line-middle
{
	height: 100%;
	width: 8px;
	border-left: 2px solid rgba(255, 255, 255, 0.25);
	background-color: gradient( linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0)), color-stop( 0.49, rgba(255, 255, 255, 0) ), color-stop( 0.48, rgba(255, 255, 255, .25) ), color-stop( 0.51, rgba(255, 255, 255, .25) ), color-stop( 0.51, rgba(255, 255, 255, .0) ), to( rgba(255, 255, 255, .0)));
}

.premier-pickban__map-avatars__party-line-bottom
{
	height: 50%;
	width: 8px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.25);
	border-left: 2px solid rgba(255, 255, 255, 0.25);
	border-radius: 0px 0px 0px 5px;
	vertical-align: top;
}

@keyframes 'active-pulse'
{
	0%
	{
		transform:scale3d( 1.0, 1.0, 1);
	}
	
	50%
	{
		transform:scale3d( 1.05, 1.05, 1);
	}
	
	100%
	{
		transform:scale3d( 1.0, 1.0, 1);
	}
	
}

.is-vote-phase.premier-pickban__map-btn-container:selected .premier-pickban__map-btn__vote
{
	wash-color: positiveColor;
	background-image: url("s2r://panorama/images/icons/ui/check.vsvg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 32px 32px;
}

.is-ban-phase.premier-pickban__map-btn-container:selected .premier-pickban__map-btn__vote
{
	wash-color: negativeColor;
	background-image: url("s2r://panorama/images/icons/ui/exit.vsvg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 32px 32px;
}

.map-draft-phase-button--pulse
{
	animation-name: draft-button-flash;
	animation-duration: .25s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: both;
}

@keyframes 'draft-button-flash'
{
	0%
	{
		brightness: 1;
		transform: scale3d( 1, 1, 1);
	}
	
	50%
	{
		brightness: 6;
		transform: scale3d( 1.02, 1.02, 1);
	}
	
	100%
	{
		brightness: 1;
		transform: scale3d( 1, 1, 1);
	}
	
}

#id-map-vote-btn-0,#id-map-vote-btn-ref-0
{
	x: 70px;
	y: 116px;
	horizontal-align: center;
}

#id-map-vote-btn-1,#id-map-vote-btn-ref-1
{
	x: 332px;
	y: 230px;
	horizontal-align: center;
}

#id-map-vote-btn-2,#id-map-vote-btn-ref-2
{
	x: 386px;
	y: 495px;
	horizontal-align: center;
}

#id-map-vote-btn-3,#id-map-vote-btn-ref-3
{
	x: 210px;
	y: 732px;
	horizontal-align: center;
}

#id-map-vote-btn-4,#id-map-vote-btn-ref-4
{
	flow-children: left;
	x: -210px;
	y: 732px;
	horizontal-align: center;
}

#id-map-vote-btn-4 .premier-pickban__map-avatars__btn,#id-map-vote-btn-ref-4 .premier-pickban__map-avatars__btn
{
	flow-children: left;
}

#id-map-vote-btn-4 .premier-pickban__map-avatars__label,#id-map-vote-btn-ref-4 .premier-pickban__map-avatars__label
{
	horizontal-align: right;
	text-align: right;
}

#id-map-vote-btn-5,#id-map-vote-btn-ref-5
{
	flow-children: left;
	x: -386px;
	y: 495px;
	horizontal-align: center;
}

#id-map-vote-btn-5 .premier-pickban__map-avatars__btn,#id-map-vote-btn-ref-5 .premier-pickban__map-avatars__btn
{
	flow-children: left;
}

#id-map-vote-btn-5 .premier-pickban__map-avatars__label,#id-map-vote-btn-ref-5 .premier-pickban__map-avatars__label
{
	horizontal-align: right;
	text-align: right;
}

#id-map-vote-btn-6,#id-map-vote-btn-ref-6
{
	flow-children: left;
	x: -332px;
	y: 230px;
	horizontal-align: center;
}

#id-map-vote-btn-6 .premier-pickban__map-avatars__btn,#id-map-vote-btn-ref-6 .premier-pickban__map-avatars__btn
{
	flow-children: left;
}

#id-map-vote-btn-6 .premier-pickban__map-avatars__label,#id-map-vote-btn-ref-6 .premier-pickban__map-avatars__label
{
	horizontal-align: right;
	text-align: right;
}

#id-map-vote-btn-0.premier-pickban__map-btn--picked,#id-map-vote-btn-1.premier-pickban__map-btn--picked,#id-map-vote-btn-2.premier-pickban__map-btn--picked,#id-map-vote-btn-3.premier-pickban__map-btn--picked,#id-map-vote-btn-4.premier-pickban__map-btn--picked,#id-map-vote-btn-5.premier-pickban__map-btn--picked,#id-map-vote-btn-6.premier-pickban__map-btn--picked
{
	x: 0px;
	y: 142px;
	width: 320px;
	horizontal-align: center;
	transform-origin: 50% 50%;
}

#id-map-vote-btn-0.premier-pickban__map-btn--picked .premier-pickban__map-avatars-container,#id-map-vote-btn-1.premier-pickban__map-btn--picked .premier-pickban__map-avatars-container,#id-map-vote-btn-2.premier-pickban__map-btn--picked .premier-pickban__map-avatars-container,#id-map-vote-btn-3.premier-pickban__map-btn--picked .premier-pickban__map-avatars-container,#id-map-vote-btn-4.premier-pickban__map-btn--picked .premier-pickban__map-avatars-container,#id-map-vote-btn-5.premier-pickban__map-btn--picked .premier-pickban__map-avatars-container,#id-map-vote-btn-6.premier-pickban__map-btn--picked .premier-pickban__map-avatars-container
{
	visibility: collapse;
}

#id-map-vote-btn-0.premier-pickban__map-btn--picked .premier-pickban__map-btn-container .premier-pickban__map-btn-bg,#id-map-vote-btn-1.premier-pickban__map-btn--picked .premier-pickban__map-btn-container .premier-pickban__map-btn-bg,#id-map-vote-btn-2.premier-pickban__map-btn--picked .premier-pickban__map-btn-container .premier-pickban__map-btn-bg,#id-map-vote-btn-3.premier-pickban__map-btn--picked .premier-pickban__map-btn-container .premier-pickban__map-btn-bg,#id-map-vote-btn-4.premier-pickban__map-btn--picked .premier-pickban__map-btn-container .premier-pickban__map-btn-bg,#id-map-vote-btn-5.premier-pickban__map-btn--picked .premier-pickban__map-btn-container .premier-pickban__map-btn-bg,#id-map-vote-btn-6.premier-pickban__map-btn--picked .premier-pickban__map-btn-container .premier-pickban__map-btn-bg
{
	width: 320px;
	height: 600px;
	transition-property: position, width, height;
	transition-duration: 1.25s;
	transition-timing-function: ease-in-out;
}

#id-map-vote-btn-0.premier-pickban__map-btn--picked:disabled .premier-pickban__map-btn__map-fade,#id-map-vote-btn-1.premier-pickban__map-btn--picked:disabled .premier-pickban__map-btn__map-fade,#id-map-vote-btn-2.premier-pickban__map-btn--picked:disabled .premier-pickban__map-btn__map-fade,#id-map-vote-btn-3.premier-pickban__map-btn--picked:disabled .premier-pickban__map-btn__map-fade,#id-map-vote-btn-4.premier-pickban__map-btn--picked:disabled .premier-pickban__map-btn__map-fade,#id-map-vote-btn-5.premier-pickban__map-btn--picked:disabled .premier-pickban__map-btn__map-fade,#id-map-vote-btn-6.premier-pickban__map-btn--picked:disabled .premier-pickban__map-btn__map-fade
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from(#000000e7), to( #00000000) );
}

#id-map-vote-btn-0.premier-pickban__map-btn--picked .premier-pickban__map-btn__map-fade,#id-map-vote-btn-1.premier-pickban__map-btn--picked .premier-pickban__map-btn__map-fade,#id-map-vote-btn-2.premier-pickban__map-btn--picked .premier-pickban__map-btn__map-fade,#id-map-vote-btn-3.premier-pickban__map-btn--picked .premier-pickban__map-btn__map-fade,#id-map-vote-btn-4.premier-pickban__map-btn--picked .premier-pickban__map-btn__map-fade,#id-map-vote-btn-5.premier-pickban__map-btn--picked .premier-pickban__map-btn__map-fade,#id-map-vote-btn-6.premier-pickban__map-btn--picked .premier-pickban__map-btn__map-fade
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from(#000000e7), to( #00000036) );
}

#id-map-vote-btn-0.premier-pickban__map-btn--picked .premier-pickban__map-btn-bg-image,#id-map-vote-btn-1.premier-pickban__map-btn--picked .premier-pickban__map-btn-bg-image,#id-map-vote-btn-2.premier-pickban__map-btn--picked .premier-pickban__map-btn-bg-image,#id-map-vote-btn-3.premier-pickban__map-btn--picked .premier-pickban__map-btn-bg-image,#id-map-vote-btn-4.premier-pickban__map-btn--picked .premier-pickban__map-btn-bg-image,#id-map-vote-btn-5.premier-pickban__map-btn--picked .premier-pickban__map-btn-bg-image,#id-map-vote-btn-6.premier-pickban__map-btn--picked .premier-pickban__map-btn-bg-image
{
	blur:gaussian( 0, 0, 0);
}

#id-map-vote-btn-0.premier-pickban__map-btn--picked .premier-pickban__map-btn__label,#id-map-vote-btn-1.premier-pickban__map-btn--picked .premier-pickban__map-btn__label,#id-map-vote-btn-2.premier-pickban__map-btn--picked .premier-pickban__map-btn__label,#id-map-vote-btn-3.premier-pickban__map-btn--picked .premier-pickban__map-btn__label,#id-map-vote-btn-4.premier-pickban__map-btn--picked .premier-pickban__map-btn__label,#id-map-vote-btn-5.premier-pickban__map-btn--picked .premier-pickban__map-btn__label,#id-map-vote-btn-6.premier-pickban__map-btn--picked .premier-pickban__map-btn__label
{
	visibility: collapse;
}

#id-map-vote-btn-0.premier-pickban__map-btn--picked .premier-pickban__map-btn__result,#id-map-vote-btn-1.premier-pickban__map-btn--picked .premier-pickban__map-btn__result,#id-map-vote-btn-2.premier-pickban__map-btn--picked .premier-pickban__map-btn__result,#id-map-vote-btn-3.premier-pickban__map-btn--picked .premier-pickban__map-btn__result,#id-map-vote-btn-4.premier-pickban__map-btn--picked .premier-pickban__map-btn__result,#id-map-vote-btn-5.premier-pickban__map-btn--picked .premier-pickban__map-btn__result,#id-map-vote-btn-6.premier-pickban__map-btn--picked .premier-pickban__map-btn__result
{
	opacity: 0;
}

#id-map-vote-btn-0.premier-pickban__map-btn--picked .premier-pickban__map-btn__vote-container,#id-map-vote-btn-1.premier-pickban__map-btn--picked .premier-pickban__map-btn__vote-container,#id-map-vote-btn-2.premier-pickban__map-btn--picked .premier-pickban__map-btn__vote-container,#id-map-vote-btn-3.premier-pickban__map-btn--picked .premier-pickban__map-btn__vote-container,#id-map-vote-btn-4.premier-pickban__map-btn--picked .premier-pickban__map-btn__vote-container,#id-map-vote-btn-5.premier-pickban__map-btn--picked .premier-pickban__map-btn__vote-container,#id-map-vote-btn-6.premier-pickban__map-btn--picked .premier-pickban__map-btn__vote-container
{
	opacity: 0;
}

.Spinner
{
	height: 24px;
	width: 24px;
	vertical-align: center;
}

.premier-pickban__reflection
{
	transform: scale3d(1, -1, 1);
	width: 100%;
	height: 110px;
	horizontal-align:center;
	brightness: .2;
	wash-color: rgba(0, 0, 0, 0.2);
	opacity: .5;
	blur:gaussian( 4, 4, 2);
	opacity-mask: url("s2r://panorama/images/masks/bottom-top-fade-2_png.vtex");
}

.premier-pickban__reflection.premier-pickban__reflection__map-btn
{
	height: 150px;
	width: 285px;
	opacity: .4;
	wash-color: rgba(80, 80, 80, 0.1);
	opacity-mask: url("s2r://panorama/images/masks/bottom-top-fade-3_png.vtex");
	transform: scale3d(1, -1, 1) translateY( 143px );
}

.premier-pickban__reflection.premier-pickban__reflection--team
{
	width: 285px;
	height: 150px;
	opacity: .4;
	transform: scale3d(1, -1, 1) translateY(140px);
	opacity-mask: url("s2r://panorama/images/masks/bottom-top-fade-3_png.vtex");
}

