/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.select-inv-item-popup
{
	width: 100%;
	height: 100%;
	transition-property: transform, pre-transform-scale2d, opacity, height, width;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	flow-children: none;
}

.main-content-container
{
	width: 80%;
	height: 80%;
	vertical-align: middle;
	horizontal-align: center;
	flow-children: down;
}

.background
{
	blur: gaussian(1);
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
}

.top-row
{
	flow-children: none;
	width: 100%;
	height: fit-children;
}

.back-button
{
	horizontal-align: left;
}

.title-container
{
	horizontal-align: center;
	height: fit-children;
	width: fit-children;
	flow-children: right;
}

.sort-controls-container
{
	width: 100%;
	height: fit-children;
	flow-children: right;
}

.search-container
{
	flow-children: right;
	padding-left: 20px;
}

.sort-container
{
	flow-children: right;
	horizontal-align: right;
}

