/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.PopupPanel.Capability
{
	max-width: 100%;
	width: 100%;
	height: 100%;
	brightness: 1;
	vertical-align: Bottom;
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0.01);
	border: 0px solid white;
	flow-children: none;
	padding-bottom: 0px;
}

.PopupPanel.Capability.Hidden,.PopupPanel.Hidden
{
	opacity: 0.0;
	brightness: .4;
	pre-transform-scale2d: 1.2;
	sound: "UIPanorama.ui_custom_lobby_dialog_slide";
	transition-property: transform, pre-transform-scale2d, opacity, height, width, brightness;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.PopupPanel.Capability.hide-for-lootlist
{
	opacity: 0.0;
	brightness: 0;
	transition-property: transform, pre-transform-scale2d, opacity, height, width, brightness;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.PopupPanel.Capability .PopupButton.hidden,.PopupPanel.Capability .IconButton.hidden
{
	opacity: 0;
	visibility: collapse;
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.PopupButton.AsyncItemWorkAcceptNegativeHidden
{
	opacity: 0;
	visibility: collapse;
}

.PopupButton.AsyncItemWorkAcceptConfirmDisabled,.PopupButton.AsyncItemWorkAcceptConfirmDisabled:hover,.PopupButton.AsyncItemWorkAcceptConfirmDisabled:disabled,.PopupButton.AsyncItemWorkAcceptConfirmDisabled:disabled:hover,.PopupButton.AsyncItemWorkAcceptConfirmDisabled:focus,.PopupButton.AsyncItemWorkAcceptConfirmDisabled:focus:hover
{
	wash-color: disabledColor;
}

.popup-capability__top
{
	padding: 48px 0px 0px 0px;
	flow-children: down;
	horizontal-align: center;
}

.popup-in-xray .popup-capability__top.inspect
{
	vertical-align: center;
	ui-scale: 65%;
}

.popup-capability__name
{
	font-size: 50px;
	height: 54px;
	max-width: 640px;
	text-overflow: shrink;
	text-align: center;
	text-shadow:0px 0px 0px #535353;
	font-family: stratum2Font;
	font-weight: medium;
	-s2-mix-blend-mode: additive;
}

.popup-capability__name.custom
{
	font-size: 30px;
	height: 34px;
	font-style: italic;
}

.popup-capability__name.text-align-left
{
	text-align: left;
}

.popup-capability__rental-expiration
{
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 3px;
	padding: 4px 8px;
	font-size: 16px;
	color:white;
}

.item-tile__rental-icon
{
	height: 14px;
	width: 14px;
	transform: translateY(-1.5px);
}

.popup-capability__warning
{
	font-size: 18px;
	max-width: 940px;
}

.popup-capability__info-block
{
	flow-children: down;
	vertical-align: bottom;
	width: 100%;
	height: 100%;
	margin-bottom: 96px;
	visibility: visible;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.popup-capability__info-block.hidden
{
	visibility: collapse;
	opacity: 0;
}

.popup-capability__button-row
{
	width: 968px;
	border-top: 1px solid rgba(145, 145, 145, 0.5);
	vertical-align: bottom;
	horizontal-align: center;
	padding: 8px 0px 8px 0px;
}

.popup-capability__button-row .IconButton
{
	margin: 8px;
	transition-property: position;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.popup-capability__button-row .IconButton:disabled
{
	opacity: .5;
}

.popup-capability__button-row .IconButton Image
{
	height: 28px;
}

.popup-capability__button-row.no-border
{
	border-top: 0px solid rgba(145, 145, 145, 0.5);
}

.popup-capability-faded
{
	opacity: .15;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.popup-capability__purchase
{
	height: fit-children;
	width: fit-children;
	horizontal-align: right;
	vertical-align: center;
	flow-children: left;
	opacity: 1;
	transform: translateY( 0% );
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.popup-capability__seperator
{
	width: 1px;
	height: 64px;
	background-color: rgba(255, 255, 255, 0.178);
	margin: 0px 16px;
	vertical-align: center;
}

.popup-capability__purchase__text
{
	width: fill-parent-flow(1);
	margin-left: 8px;
	margin-right: 8px;
	font-size: 20px;
	font-weight: lighter;
	text-overflow: shrink;
}

.popup-capability__purchase__text.popup-capability__error
{
	color: #FF9900;
	font-size: 18px;
}

.popup-capability__error .popup-capability__warning_label
{
	color: #FF9900;
}

.popup-capability__error .popup-capability__warning_image
{
	wash-color: #FF9900;
}

.popup-capability__sale-price
{
	font-size: 20px;
	font-weight: medium;
	vertical-align: center;
	text-align: right;
	text-decoration: line-through;
	color: rgb(161, 161, 161);
	margin-right: 8px;
}

.popup-capability__purchase__image
{
	height: 64px;
}

.popup-capability__purchase .PopupButton Label
{
	text-transform: none;
}

.popup-capability__button-row .PopupButton
{
	transition-property: opacity, transform, background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.popup-capability__button-row .PopupButton.hidden,.popup-capability__button-row .PopupButton.move-down,.popup-capability__purchase.hidden,.popup-capability__button-row.hidden
{
	opacity: 0;
	transform: translateY( 80% );
	transition-property: opacity, transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.can_apply_previewonly_phantom_display .popup-capability__button-row .PopupButton.Positive,.can_apply_previewonly_phantom_display .popup-capability__button-row .PopupButton.Negative
{
	visibility: collapse;
}

.popup-capability__spinner.Spinner
{
	height: 64px;
	width: 64px;
	vertical-align: center;
	horizontal-align: center;
	z-index: 5;
}

.popup-capability__spinner.hidden
{
	visibility: collapse;
}

.popup-capability-update-anim
{
	animation-name: UpdateElement;
	animation-duration: .25s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'UpdateElement'
{
	0%
	{
		transform: scale3d( 1.0, 1.0, 1.0 );
		brightness: 1;
	}
	
	50%
	{
		transform: scale3d( 1.2, 1.2, 1.2 );
		brightness: 2;
	}
	
	100%
	{
		transform: scale3d( 1.0, 1.0, 1.0 );
		brightness: 1;
	}
	
}

.show-xray-buttons #id-rental-section
{
	visibility: collapse;
}

.show-xray-buttons #id-rental-xray-section
{
	visibility: visible;
}

#id-rental-xray-section
{
	visibility: collapse;
}

.rent-bar-btn
{
	background-color: rgba(255, 255, 255, 0.1);
	margin-left: 16px;
	border-radius: 3px;
	padding: 4px 16px;
	vertical-align: center;
	transition-property: background-color;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.rent-bar-btn .popup-capability__purchase__image
{
	height: 42px;
	vertical-align: center;
}

.rent-bar-btn .rent-bar-btn-text
{
	flow-children: down;
	vertical-align: center;
	horizontal-align: center;
}

.rent-bar-btn .rent-bar-btn-text .rent-bar-btn-title
{
	horizontal-align: center;
	text-align: center;
	color: white;
	font-size: 22px;
	transition-property: color;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

#PurchaseKeyBtn.rent-bar-btn .rent-bar-btn-text .rent-bar-btn-title
{
	text-align: left;
	horizontal-align: left;
	margin-left: 60px;
}

.rent-bar-btn .rent-bar-btn-text .rent-bar-btn-subtitle
{
	horizontal-align: center;
	text-align: center;
	font-size: 14px;
	transition-property: color;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

#PurchaseKeyBtn.rent-bar-btn .rent-bar-btn-text .rent-bar-btn-subtitle
{
	text-align: left;
	horizontal-align: left;
	margin-left: 60px;
}

.rent-bar-btn .Spinner
{
	vertical-align: center;
	horizontal-align: center;
	visibility: collapse;
}

.rent-bar-btn:hover:not(:disabled)
{
	background-color: rgba(255, 255, 255, 0.90);
}

.rent-bar-btn:hover:not(:disabled) .rent-bar-btn-title,.rent-bar-btn:hover:not(:disabled) .rent-bar-btn-subtitle
{
	color:black;
}

.rent-bar-btn:disabled
{
	background-color: rgba(255, 255, 255, 0.02);
}

.rent-bar-btn:disabled .rent-bar-btn-text
{
	opacity: .2;
}

.rent-bar-btn.is-active-action:disabled
{
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.02);
}

.rent-bar-btn.is-active-action:disabled .rent-bar-btn-text
{
	opacity: 0;
}

.rent-bar-btn.is-active-action:disabled .Spinner
{
	visibility: visible;
}

.rent-bar-btn:active
{
	sound: "UIPanorama.submenu_select";
}

