/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

CSGODelayLoadPanel
{
	width: 100%;
}

CSGODelayLoadPanel.Offscreen
{
	opacity: 0.0;
}

.PopupPanel.popup-acknowledge
{
	width: 1080px;
	max-width: 1080px;
	height: fit-children;
	flow-children:none;
	padding-bottom: 0px;
}

.popup__rarity-bar
{
	width: 16px;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( white, to(rgba(175, 175, 175, .75) ));
	box-shadow: 0px 2px 6px 0px fill rgba(0, 0, 0, 0.5);
}

.popup-acknowledge__bg
{
	width: 100%;
	height: 100%;
	background-image: url("file://{resources}/videos/acknowledge.webm");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 13% 50%;
}

.popup-acknowledge__item
{
	width: 100%;
	height: fit-children;
	vertical-align: middle;
	margin: 0px 0px 64px 0px;
	box-shadow: 0px 2px 6px 0px fill rgba(0, 0, 0, 0.493);
	transform: translatex( 0px );
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.popup-acknowledge__item__model
{
	width: 100%;
	height: 512px;
}

.popup-acknowledge__item__image
{
	width: height-percentage( 130% );
	height: 384px;
	vertical-align: middle;
	horizontal-align: center;
	margin: 64px 0px;
}

.player-card-xp
{
	width: 100%;
	height: fit-children;
	flow-children: down;
	margin: 64px;
}

.player-card-xp__icon
{
	width: height-percentage( 100% );
	height: 256px;
	img-shadow: 2px 2px 2px #000000;
	horizontal-align: center;
}

.player-card__text-subtitle
{
	margin-top: 4px;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	max-height: 20px;
	width: 256px;
	font-size: 16px;
	font-weight: normal;
	color: white;
	text-shadow:1px 1px 2px #000000;
	text-overflow: ellipsis;
}

.popup-acknowledge__info-block
{
	vertical-align: bottom;
	flow-children: down;
	margin-left: 96px;
	margin-bottom: 32px;
	transition-property: opacity, transform;
	transition-duration: .5s;
	transition-timing-function: ease-in;
}

.popup-acknowledge__info__title
{
	font-size: 18px;
	color: rgb(141, 141, 141);
	text-align: center;
	vertical-align: top;
	text-shadow:0px 0px 0px #535353;
	text-transform: uppercase;
	margin: 32px 0px 0px 96px;
}

.popup-acknowledge__info__itemname
{
	font-size: 28px;
	width: 900px;
	font-weight: bold;
	height: fit-children;
	vertical-align: bottom;
	white-space: normal;
}

.popup-acknowledge__subtitle_seticon
{
	height: 72px;
	width: height-percentage( 130% );
	img-shadow: 2px 2px 2px #000000;
}

.popup-acknowledge .PopupButtonRow
{
	width: 100%;
	margin: 0px 32px 0px 32px;
}

.popup-acknowledge .PopupButton
{
	margin-top: 8px;
}

