/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel.popup-tournament-select-spray
{
	max-width: 900px;
}

.popup-tournament-select-spray-team
{
	height:110px;
	width: height-percentage( 130% );
	margin: 8px;
	transition-property: brightness, background-color;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.popup-tournament-select-spray-team:hover
{
	brightness: 1.5;
	background-color: rgba(255, 255, 255, 0.02);
	transition-property: brightness, background-color;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

