/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

#CanStickerItemModel
{
	height: 100%;
	width: 100%;
	horizontal-align:center;
}

#CanStickerItemModel.characters
{
	height: 100%;
	width: 1480px;
	horizontal-align:center;
}

.popup-capability__info-block.patch
{
	flow-children: right;
}

.patch .popup-cansticker-pickedslot
{
	max-width: 150px;
	max-height: 150px;
}

.popup-cansticker-pickedslot
{
	horizontal-align: center;
	vertical-align: center;
	z-index: 2;
	padding-bottom: 16px;
	padding-top: 16px;
	max-width: 342px;
	max-height: 298px;
}

.popup-cansticker-pickedslot.hidden
{
	visibility: collapse;
}

.popup-cansticker-pickedslot--anim
{
	animation-name: PickedSlot;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'PickedSlot'
{
	0%
	{
		transform: scale3d( 1, 1, 1 );
	}
	
	50%
	{
		transform: scale3d( 1.25, 1.25, 1.25 );
		brightness: 5;
	}
	
	100%
	{
		transform: scale3d( 1, 1, 1 );
		brightness: 1;
	}
	
}

.popup-cansticker-scrape_btn
{
	transform: scale3d( 1.0, 1.0, 1.0 );
	transition-property: transform, brightness;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.popup-cansticker-scrape_btn:hover
{
	transform: scale3d( 1.15, 1.15, 1.15 );
	transition-property: transform;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.popup-cansticker-scrape_btn:disabled,.popup-cansticker-scrape_btn:disabled:hover
{
	transform: scale3d( 1.0, 1.0, 1.0 );
	transition-property: transform;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.popup-cansticker-scrape_btn:disabled Image
{
	brightness: 0.25;
	transition-property: brightness;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.ScrapeStickerSpinner
{
	vertical-align: center;
	horizontal-align: center;
	z-index: 2;
}

