/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.tournament-journal-content
{
	width: 100%;
	height: 100%;
	opacity: 1;
	transform: translatex( 0% );
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.PopupPanel.tournament-journal
{
	max-width: 100%;
	width: 100%;
	height: 100%;
	vertical-align: Bottom;
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0.274);
	border: 0px solid white;
	flow-children: none;
	padding-bottom: 0px;
}

.PopupPanel.tournament-journal.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "UIPanorama.ui_custom_lobby_dialog_slide";
	transition-property: transform, pre-transform-scale2d, opacity, height, width;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

#id-tournament-journal-container
{
	blur: gaussian( 4, 4, 3 );
	brightness: .1;
	saturation: .8;
	background-image: url("s2r://panorama/images/tournaments/events/bg_18_fullscreen_png.vtex");
	background-repeat: no-repeat;
	background-size: clip_then_cover;
	background-position: 50% 0%;
}

.tournament-journal-container
{
	width: 100%;
	height: 100%;
	flow-children: down;
	vertical-align: center;
	background-repeat: no-repeat;
	background-size: clip_then_cover;
	background-position: 50% 0%;
}

.tournament-journal__titlebar
{
	height: fit-children;
	width: 100%;
	min-height: 72px;
	margin-bottom: 16px;
}

.tournament-journal__titlebar--border
{
	padding-top: 32px;
	margin-top: 16px;
}

.tournament-journal__titlebar__title
{
	font-size: 32px;
	font-weight: medium;
	letter-spacing: 14px;
	color:White;
	text-shadow: 1px 1px 1px 1.5 rgb(44, 60, 78);
}

.tournament-journal__titlebar__title.small
{
	font-size: 24px;
}

.tournament-journal__titlebar__title.count
{
	vertical-align: center;
	horizontal-align: center;
	color: rgb(252, 252, 252);
	text-shadow: 1px 1px 1px 1.5 rgb(44, 60, 78);
	text-align: center;
}

.tournament-journal__titlebar__title.count.souvenir
{
	border: 1px solid rgba(255, 255, 255, 0.233);
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.85);
	vertical-align: center;
	padding-top: 8px;
	width: 54px;
	height: 54px;
}

.tournament-journal__titlebar__subtitle
{
	color:rgb(231, 236, 241);
	font-size: 15px;
	text-shadow: 1px 1px 1px 1.5 rgb(44, 60, 78);
	width: 1080px;
	text-align: center;
}

.tournament-journal__titlebar__logo
{
	horizontal-align: left;
	vertical-align: center;
	padding-left: 32px;
}

.tournament-journal__section
{
	flow-children: right;
	height: 360px;
}

.tournament-journal__section--bottom-block
{
	background-color: none;
	height: 240px;
	margin-top: 8px;
}

.tournament-journal__column
{
	width: fill-parent-flow(1);
	height: fill-parent-flow(1);
	max-width: 740px;
	flow-children: down;
	padding: 8px;
	margin: 0px 2px;
	background-color: rgba(255, 255, 255, .03);
}

.tournament-journal__info-block
{
	horizontal-align: center;
	flow-children: right;
	vertical-align: center;
	margin: 6px 0px;
	horizontal-align: left;
	width: 512px;
}

.tournament-journal__column--redeem .tournament-journal__info-block,#id-graffiti-block .tournament-journal__info-block
{
	transform: translateX(140px);
}

.tournament-journal__info-block__title
{
	font-size: 24px;
	color:white;
	font-weight: medium;
	letter-spacing: 3px;
	text-shadow: 1px 1px 1px 1.5 rgb(44, 60, 78);
}

.tournament-journal__info-block__title--update-anim
{
	animation-name: activate-token-anim;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'activate-token-anim'
{
	0%
	{
		transform: translateY( 0% );
		brightness: 1;
	}
	
	30%
	{
		transform: translateY( 10% );
		opacity: 0;
		brightness: 1;
	}
	
	31%
	{
		transform: translateY( -15% );
		brightness: 10;
	}
	
	100%
	{
		transform: translateY( 0% );
		brightness: 1;
		opacity: 1;
	}
	
}

.tournament-journal__info-block__subtitle
{
	color:white;
	font-size: 15px;
	width: 400px;
	text-overflow: shrink;
}

.tournament-journal__info-block__info
{
	flow-children: down;
}

.tournament-journal__info-block__buttons-row
{
	vertical-align: bottom;
	flow-children: left;
	horizontal-align: right;
	width: 100%;
	border-top: 1px solid rgba(255, 255, 255, 0.116);
	padding-top: 8px;
}

#id-tournament-coin-levelbanner-bg,.bronze #id-tournament-coin-levelbanner-bg
{
	wash-color: #b67c43;
}

.silver #id-tournament-coin-levelbanner-bg
{
	wash-color: #858585;
}

.gold #id-tournament-coin-levelbanner-bg
{
	wash-color: #b19500;
}

#id-tournament-ticket-icon
{
	width: 198px;
}

.tournament-journal__model
{
	width: height-percentage(100%);
	height: 460px;
	horizontal-align: center;
	vertical-align: center;
	z-index: 5;
}

.no-active-pass .tournament-journal__model
{
	height: 640px;
}

.tournament-journal__model.trophy
{
	brightness: .25;
	height: 198px;
}

.tournament-journal__challenges-list
{
	flow-children: down;
	width: 100%;
	vertical-align: center;
}

.tournament-journal__challenge
{
	flow-children: right;
	width: 100%;
	padding: 6px 0px;
	margin: 1px 0px 1px 4px;
	background-color: rgba(0, 0, 0, 0.5);
	transition-property: transform, box-shadow, background-color;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.tournament-journal__challenge.dark
{
	background-color: rgba(0, 0, 0, 0.7);
}

.tournament-journal__challenge.margin-top
{
	margin-top: 16px;
}

.tournament-journal__challenge.complete
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( rgba(19, 148, 19, 0.8) ), to( rgba(3, 109, 3, 0.3)) );
}

.tournament-journal__challenge.dark.complete
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(15, 141, 15) ), to( rgba(4, 82, 4, 0.829)) );
}

.tournament-journal__challenge:hover:not(.tournament-journal__challenge:disabled)
{
	background-color: rgba(67, 77, 92, 0.856);
	transition-property: transform;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.tournament-journal__challenge__name
{
	font-size: 15px;
	width: fill-parent-flow( 1 );
	text-overflow: shrink;
	color: white;
	transition-property: transform;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.tournament-journal__challenge__spacer
{
	width: 180px;
	height: 100%;
}

.tournament-journal__challenge__icon-container
{
	height: 100%;
	horizontal-align: right;
}

.tournament-journal__challenge:hover:not(.tournament-journal__challenge:disabled) .tournament-journal__challenge__icon,.tournament-journal__challenge:hover:not(.tournament-journal__challenge:disabled) .tournament-journal__challenge__name
{
	transform: scale3d( 1.03, 1.03, 1 );
	transition-property: transform;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.tournament-journal__challenge__icon
{
	horizontal-align: center;
	vertical-align: center;
	padding: 0px 16px;
	opacity: .3;
}

.complete .tournament-journal__challenge__icon
{
	opacity: 1;
}

.tournament-journal__spray_emotes
{
	flow-children:right;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(255, 255, 255, 0.03) ), to( rgba(255, 255, 255, 0)) );
	horizontal-align: center;
}

.PopupButton.tournament-journal-popupbutton
{
	horizontal-align: left;
}

.tournament-journal-button
{
	horizontal-align: left;
}

.tournament-journal-button.opacity-none
{
	opacity:0;
}

.tournament-journal-button Label
{
	horizontal-align: left;
	vertical-align: middle;
	color: white;
	padding: 12px;
	text-align: left;
	text-transform: uppercase;
	font-weight: medium;
	font-size: 16px;
	font-family: stratum2Font;
	text-overflow: shrink;
	transition-property: background-color, brightness;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.tournament-journal-button:hover Label
{
	color: White;
	brightness: 1.4;
	background-color: rgba(0, 0, 0, 0.329);
	transition-property: background-color, brightness;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.tournament-journal-button:disabled Label,.tournament-journal-button:disabled:hover Label
{
	color: disabledColor;
	text-shadow: none;
}

#id-tournament-journal-spray
{
	width: 172px;
	height: width-percentage(75%);
}

.tournament-journal__info-steamtv-icon
{
	vertical-align: center;
	wash-color: rgb(145, 97, 233);
	margin-right: 16px;
}

.tournament-journal__bodytext
{
	color:#89ABD2;
	font-size: 16px;
}

.tournament-over #id-winners-block
{
	visibility: visible;
	width: 1296px;
}

.tournament-over #id-bottom-block
{
	flow-children: none;
}

.tournament-over #id-tournament-journal-redeem-btn,.tournament-over #id-tournament-journal-info-block-subtitle
{
	visibility: collapse;
}

.tournament-over .tournament-journal__challenge:disabled:not(.complete) Label
{
	color: disabledColor;
}

.tournament-over .tournament-journal__challenge:disabled:not(.complete) Image
{
	wash-color: disabledColor;
}

.tournament-over #id-graffiti-block,.tournament-over #id-steam-block,.tournament-over #id-tournament-journal-remaining,.no-active-pass #id-graffiti-block,.no-active-pass #id-steam-block,.no-active-pass #id-winners-block,.no-active-pass #id-redeem-block,.no-active-pass #id-tournament-journal-challenges-section
{
	visibility: collapse;
}

.tournament-journal__challenge__items-row
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
}

