/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	max-width: 900px;
}

.popup-addfriend-entry
{
	margin-left: 28px;
	margin-bottom: 16px;
	width: fit-children;
	height: fit-children;
	flow-children: right;
	horizontal-align: left;
}

.popup-addfriend-icon
{
	vertical-align: center;
	wash-color: #3E3E3E;
	margin-right: 16px;
	opacity: 1;
	visibility: visible;
}

.popup-addfriend-icon.hidden
{
	opacity: 0;
	visibility: collapse;
	transition-property: opacity;
	transition-duration: .5s ;
	transition-timing-function: ease-in-out;
}

.PopupMessage
{
	max-width: 520px;
	max-height: 400px;
	text-overflow: ellipsis;
	font-size: 14px;
}

.hidden
{
	opacity: 0;
}

.validiation-icon
{
	opacity: .04;
	vertical-align: center;
	margin-left: 8px;
}

.valid.validiation-icon
{
	opacity: 1;
}

.namelock-profilename
{
	horizontal-align:left;
	margin-left: 20px;
}

.namelock-profilename Label
{
	padding: 1px;
	text-transform: none;
}

.TextSpan
{
	text-decoration: underline;
	color: lightgreen;
}

.Spinner
{
	vertical-align: center;
	horizontal-align: center;
	ignore-parent-flow: true;
	y: 150px;
	visibility: collapse;
}

.submitted .Spinner
{
	visibility: visible;
}

.submitted #submit
{
	visibility: collapse;
}

