/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.clanlister
{
	flow-children: down;
	horizontal-align: center;
	max-height: 400px;
	overflow: scroll;
}

.PopupButton.clan-item
{
	margin-right: 20px;
	width: 400px;
}

.PopupButton.clan-item-radiobutton Label,.PopupButton.clan-item-radiobutton:Selected Label
{
	color: White;
	horizontal-align: left;
	vertical-align: middle;
	text-align: left;
	text-transform: none;
	font-weight: medium;
	font-size: 20px;
	margin: 8px 12px 8px;
	font-family: stratum2Font;
	text-overflow: ellipsis;
	max-height: 22px;
}

.PopupButton.clan-item-radiobutton Image,.PopupButton.clan-item-radiobutton:Selected Image
{
	margin: 0px;
	margin-left: 0px;
	padding: 0px;
}

.PopupButton.clan-item-radiobutton .RadioBox
{
	visibility: collapse;
}

.PopupButton.clan-item-radiobutton:hover
{
	background-color: rgba( 255,255,255,0.1);
}

.PopupButton.clan-item-radiobutton:selected,.PopupButton.clan-item-radiobutton:selected:hover
{
	background-color: rgba( 255,255,255,0.8);
}

.PopupButton.clan-item-radiobutton:selected Label,.PopupButton.clan-item-radiobutton:selected:hover Label
{
	color: black;
}

.PopupButton.clan-item-radiobutton,.PopupButton.clan-item-radiobutton:enabled:focus
{
	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.clan-item__avatar
{
	width: 32px;
	height: width-percentage( 100%);
	border: 1px solid black;
	margin-left: 2px;
}

