/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	width: 580px;
}

.PopupPanel--wide
{
	width: 1600px;
}

.PopupButtonRow
{
	horizontal-align:right;
}

.popup-workshop-mode-block
{
	width: fit-children;
	height: fit-children;
	horizontal-align: middle;
	flow-children: down;
}

.popup-workshop-mode
{
	width: fit-children;
	height: fit-children;
	flow-children: down;
	horizontal-align: left;
}

.popup-workshop-mode.hidden
{
	background-color: #00000000;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.popup-workshop-mode .PopupButton
{
	vertical-align: middle;
	horizontal-align: left;
}

.popup-workshop-mode .PopupButton.Row
{
	width:480px;
}

