/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.popup-news
{
	width: 550px;
	height: 700px;
	vertical-align: center;
	horizontal-align: center;
	pre-transform-scale2d: 1;
	transform: translateY( 0px );
	min-width: 0px;
	opacity: 1.0;
	border-radius: 0px;
	flow-children: down;
	padding: 0px;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height;
	transition-duration: .2s;
	transition-timing-function: ease-in;
	background-color: rgba(22, 22, 22, 1);
}

.popup-news.PopupPanel
{
	padding-bottom: 0px;
}

.popup-news.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "UIPanorama.ui_custom_lobby_dialog_slide";
}

#BlogHTML
{
	height: fill-parent-flow(1);
	width: 100%;
	vertical-align:center;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

#HTMLContainer
{
	height: fill-parent-flow(1);
	width: 100%;
}

#BlogHTML.visible
{
	opacity: 1;
}

#spinner
{
	vertical-align:center;
	horizontal-align: center;
}

#id-footer
{
	horizontal-align:center;
	width: 90%;
}

#id-close-button
{
	vertical-align:center;
}

#id-header
{
	horizontal-align:center;
	width: 100%;
	margin-bottom: 0px;
	flow-children: right;
}

#id-date
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 14px;
}

#id-title
{
	margin-bottom: 0px;
	font-size: 24px;
	font-weight: bold;
	font-family: Stratum2, 'Arial Unicode MS';
	text-overflow: shrink;
	max-height: 50px;
	margin-bottom: 10px;
}

.news-title-and-date
{
	flow-children: down;
	width:95%;
}

#id-news-url-button
{
	wash-color:gray;
}

#id-news-url-button:hover
{
	wash-color: white;
	transition-property: wash-color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

