/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.popup-container-confirm
{
	width: 1200px;
	border: 0px solid rgb(65, 65, 65);
	box-shadow: none;
	background-color: none;
}

.popup-container-confirm .popup-container-confirm-bg
{
	width: 100%;
	height: 100%;
	margin-top: 64px;
	border-radius: 5px;
	box-shadow: 0px 0px 32px 2px rgba(0, 0, 0, 0.664);
	background-image: url("s2r://panorama/images/backgrounds/linemap_png.vtex");
	background-size: auto auto;
	background-position: 20% 20%;
	background-img-opacity: .03;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #1D6170 ), to( #112429) );
}

.popup-container-confirm .confirm-image-container
{
	opacity-mask: url("s2r://panorama/images/masks/top-bottom-fade-5_png.vtex");
	overflow: noclip;
	margin-left: 32px;
}

.popup-container-confirm .confirm-item-image
{
	width: 250px;
	overflow: noclip;
	background-color: rgba(0, 0, 0, .01);
}

.popup-container-confirm .confirm-item-image.confirm-item-image__reflection
{
	padding: 5px;
	transform: scale3d(1, -1, 1) skew(0deg, 20deg);
	y: 20px;
	blur: gaussian( 2, 2, 8);
	height: 256px;
	opacity: .5;
	brightness: 0.08;
}

.open-container .popup-container-confirm-bg
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #1e492c ), to( #112912) );
}

.confirm-body-text-container
{
	margin: 84px 16px 16px 300px;
	min-height: 120px;
	vertical-align: top;
	flow-children: down;
}

.confirm-body-text-container .confirm-body-text__title
{
	font-size: 32px;
	color: white;
	vertical-align: top;
}

.confirm-body-text-container .confirm-body-text__warning
{
	font-size: 16px;
	vertical-align: top;
}

.confirm-body-text-container .confirm-body-text__body
{
	font-size: 16px;
	margin-top: 16px;
	text-overflow: shrink;
	vertical-align: top;
	height: 120px;
}

.open-container .confirm-body-text-container .confirm-body-text__body
{
	height: fit-children;
}

.confirm-already-rented
{
	flow-children: right;
	background-color: rgba(26, 21, 1, 0.466);
	padding: 6px 12px;
	border-radius: 3px;
	visibility: collapse;
}

.confirm-already-rented .confirm-body-text__already-rented
{
	font-size: 14px;
	color: warningColor;
}

.confirm-already-rented Image
{
	wash-color: warningColor;
	vertical-align: center;
	margin-right: 8px;
}

.show-already-rented .confirm-already-rented
{
	visibility: visible;
}

.confirm-button-row
{
	vertical-align: bottom;
	border-top: 1px solid rgba(255, 255, 255, 0.055);
	width: 100%;
}

.confirm-button-row ToggleButton
{
	horizontal-align: left;
	margin-left: 16px;
	ui-scale: 70%;
}

.confirm-button-row ToggleButton Label
{
	text-transform: none;
	font-weight: medium;
}

.confirm-button-row .confirm-button-row__btns
{
	flow-children: right;
	horizontal-align: right;
	margin-right: 16px;
	margin-top: 6px;
	margin-bottom: 6px;
}

