/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	max-width: 900px;
}

.popup-addfriend-entry
{
	margin-left: 28px;
	margin-bottom: 16px;
	width: fit-children;
	height: fit-children;
	flow-children: right;
	horizontal-align: left;
}

.popup-addfriend-entry TextEntry
{
	text-transform: uppercase;
}

.popup-addfriend-entry.any-case TextEntry
{
	text-transform: none;
}

.popup-addfriend-icon
{
	vertical-align: center;
	wash-color: #3E3E3E;
	margin-right: 16px;
	opacity: 1;
	visibility: visible;
}

.popup-addfriend-icon.hidden
{
	opacity: 0;
	visibility: collapse;
	transition-property: opacity;
	transition-duration: .5s ;
	transition-timing-function: ease-in-out;
}

.PopupMessage
{
	max-width: 520px;
	max-height: 68px;
	text-overflow: ellipsis;
	font-size: 14px;
}

.hidden
{
	opacity: 0;
}

.validiation-icon
{
	opacity: .04;
	vertical-align: center;
	margin-left: 8px;
}

.valid.validiation-icon
{
	opacity: 1;
}

