/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.popup-stattrackswap-item-models
{
	width: 100%;
	height: 100%;
}

.popup-stattrackswap-two-models
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

.popup-stattrackswap__model
{
	width: 1024px;
	height: 512px;
	vertical-align: center;
	horizontal-align: center;
}

.StatTrackSwapItemModel
{
	width: fill-parent-flow( 0.5 );
	height: 100%;
	transition-property: brightness;
	transition-timing-function: ease-in-out;
	transition-duration: 2s;
}

.StatTrackSwapNumberVerticalSpacer
{
	width: 2px;
	height: 50%;
	vertical-align: center;
	background-color: #FFFFFF10;
}

.StatTrackSwapNumber
{
	width: 256px;
	height: 256px;
	line-height: 147px;
	margin: 0px 170px 15px;
	vertical-align: bottom;
	text-align: center;
	transition-property: brightness;
	transition-timing-function: ease-in-out;
	transition-duration: 2s;
	font-size: 65px;
	color: #E86E34;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/ui_textures/stattrak_module_lblbg_png.vtex");
}

.StatTrackSwapNumberPadding
{
	width: fill-parent-flow( 0.5 );
}

.hidden
{
	opacity: 0;
	visibility: collapse;
	transition-property: opacity;
	transition-duration: .25s, .5s;
	transition-timing-function: ease-in-out;
}

.popup-stattrackswap-update-title-anim
{
	animation-name: UpdateTitle;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'UpdateTitle'
{
	0%
	{
		transform: scale3d( 1.5, 1.5, 1.5 );
		text-shadow: none;
		opacity: 0;
	}
	
	50%
	{
		transform: scale3d( 1, 1, 1 );
		brightness: 5;
		text-shadow: 0px 0px 16px #FFFFFF00;
		opacity: 1;
	}
	
	100%
	{
		text-shadow: 0px 0px 0px #FFFFFF;
		brightness: 1;
	}
	
}

