/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.PopupPanel.popup-tournament-select-spray
{
	max-width: 900px;
}

.PopupPanel.popup-tournament-select-spray.major-24
{
	background-color: none;
	border: 0px solid black;
	box-shadow: none;
}

.PopupPanel.popup-tournament-select-spray.major-24 Label
{
	color: groups-text-color-major-24;
	background-color: none;
}

.popup-tournament-select-spray-bg
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
}

.popup-tournament-select-spray-team
{
	height:110px;
	width: height-percentage( 130% );
	margin: 8px;
	transition-property: brightness, background-color;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.popup-tournament-select-spray-team:hover
{
	brightness: 1.5;
	background-color: rgba(255, 255, 255, 0.02);
	transition-property: brightness, background-color;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

