/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.radio-options-container
{
	flow-children:down;
	width: 100%;
	margin: 16px 16px;
}

#RadioOptionsContainer .PopupButton
{
	margin: 12px 0px;
	horizontal-align: left;
}

#RadioOptionsContainer .PopupButton Label
{
	margin: 0px 12px 0px 16px;
}

#RadioOptionsContainer .PopupButton Label.small
{
	margin: 0px 12px 0px 16px;
	font-size: 12px;
	font-weight: normal;
}

