/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	background-color: gradient( linear, 0% 0%, 0% 120%, from( #CFDAE0 ), to( #88959A ));
	border-radius: 2px;
	min-width: 0px;
	max-width: 720px;
	width: fit-children;
	vertical-align: middle;
	horizontal-align: left;
	opacity: 1.0;
	box-shadow: shadowOffset;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	flow-children: down;
}

.popup-vanity-block
{
	width: fit-children;
	height: fit-children;
	horizontal-align: middle;
	flow-children: down;
	margin-left: 32px;
}

.popup-vanity-right
{
	width: fit-children;
	height: fit-children;
	flow-children: down;
	horizontal-align: left;
	margin-right: 32px;
}

.popup-vanity-right--bg
{
	background-color: #00000020;
}

.popup_vanity_dropdown
{
	width: fit-children;
	height: fit-children;
	flow-children: down;
	padding-top: 24px;
}

.popup-vanity_dropdown__text
{
	margin: 0px 0px 0px 20px;
	font-size: 16px;
	color: #3E3E3E;
	opacity: 1;
}

