/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.details-container
{
	flow-children: right;
	margin: 0px 30px;
	background-color: rgba(0, 0, 0, 0.26);
	horizontal-align: center;
}

.map-preview-image
{
	width: 360px;
	height:280px;
	padding: 20px;
}

.map-details
{
	width: 300px;
	min-height: 300px;
	padding: 20px;
	flow-children: down;
}

.map-details-warning-text
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 20px;
	padding: 20px;
	max-width: 660px;
}

.map-details__statrow
{
	flow-children: right;
	width: 100%;
}

.mapstats-text
{
	font-size: 18px;
	font-family: Stratum2, 'Arial Unicode MS';
	text-overflow: shrink;
	white-space: nowrap;
	font-weight: lighter;
	margin: 4px;
}

.mapname
{
	font-size: 24px;
}

.name
{
	font-weight: bold;
}

.value
{
	text-align: right;
	horizontal-align: right;
}

