/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	max-width: 900px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( black ), to( rgba(44, 44, 44, 1)) );
	border: 0px solid black;
}

.PopupPanel Label
{
	font-family: Stratum2, 'Arial Unicode MS';
}

.PopupTitle
{
	margin-bottom: 0px;
}

.sub-upsell-top
{
	width: 100%;
	flow-children: down;
}

.sub-upsell-top__logo
{
	horizontal-align: center;
	padding: 32px 0px 16px 0px;
}

.sub-upsell-top__logo--8px-padding-top-bottom
{
	padding: 8px 0px 8px 0px;
}

.sub-upsell-top__title
{
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	color: gradient( linear, 0% 0%, 0% 100%, from( #b1992e ), to( #e4dcb9) );
	text-shadow: 0px 0px 2px 1.0 #6b590b;
	font-weight: bold;
	font-size: 32px;
}

.sub-upsell-top__desc
{
	text-align: center;
	width: 80%;
	horizontal-align: center;
}

.sub-upsell-top__price
{
	horizontal-align: center;
	text-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( #b1992e ), to( #e4dcb9) );
	font-size: 20px;
	padding: 12px;
	border: 1px solid #b1992ea6;
	border-radius: 4px;
	margin-top: 8px;
}

.sub-upsell-body
{
	margin-top: 64px;
	width: 900px;
	height: 500px;
	overflow: clip scroll;
	opacity-mask: url("s2r://panorama/images/masks/bottom-top-fade-2_png.vtex");
	border-bottom: 1px solid rgba(255, 255, 255, 0.11);
	flow-children: down;
}

.sub-upsell-body--prime
{
	height: 720px;
	overflow: clip clip;
}

.sub-upsell-body--no-top-margin
{
	margin-top: 0px;
}

.sub-upsell-body__section
{
	width: 100%;
	height: 360px;
	border-bottom: 2px solid rgba(17, 67, 143, 0.568);
}

.sub-upsell-body__section--fit-children-height
{
	height: fit-children;
}

.sub-upsell-body__section__text-block
{
	flow-children:down;
	vertical-align: center;
}

.sub-upsell-body__section__title
{
	font-size: 18px;
	color: #c5b56b;
	font-weight: medium;
}

.sub-upsell-body__section__desc
{
	color: baseText;
	font-size: 18px;
	width: 320px;
	text-overflow: shrink;
}

.sub-upsell-body__section--right-aligned .sub-upsell-body__section__text-block
{
	horizontal-align: right;
	margin-right: 32px;
}

.sub-upsell-body__section--left-alighted .sub-upsell-body__section__text-block
{
	horizontal-align: left;
	margin-left: 32px;
}

.sub-upsell-body__section--left-alighted .sub-upsell-body__section__title,.sub-upsell-body__section--left-alighted .sub-upsell-body__section__desc
{
	text-align: right;
	horizontal-align: right;
}

.sub-upsell-body__section__bg
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/map_icons/screenshots/1080p/de_ancient_png.vtex");
	background-size: cover;
	blur: gaussian( 6, 6, 3);
	wash-color: rgba(0, 0, 255, 0.329);
	brightness: .5;
	background-img-opacity: .3;
}

.sub-upsell-body__section__bg--2
{
	background-image: url("s2r://panorama/images/map_icons/screenshots/1080p/de_mirage_png.vtex");
}

.sub-upsell-body__section__bg--3
{
	background-image: url("s2r://panorama/images/map_icons/screenshots/1080p/de_vertigo_png.vtex");
}

.sub-upsell-body__section__bg--prime
{
	background-image: url("s2r://panorama/images/map_icons/screenshots/1080p/de_inferno_png.vtex");
}

.sub-upsell-body__section__bg--prime-2
{
	background-image: url("s2r://panorama/images/map_icons/screenshots/1080p/de_ancient_png.vtex");
}

.sub-upsell-body__section__bg--prime-3
{
	background-image: url("s2r://panorama/images/map_icons/screenshots/1080p/de_anubis_png.vtex");
}

.sub-upsell-body__section__image
{
	width: 480px;
	height: 320px;
	vertical-align: center;
}

.sub-upsell-body__section__image--prime
{
	height: 240px;
	width: 445px;
}

.sub-upsell-body__section--right-aligned .sub-upsell-body__section__image
{
	margin-left: 32px;
}

.sub-upsell-body__section--left-alighted .sub-upsell-body__section__image
{
	horizontal-align:right;
	margin-right: 32px;
}

