/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.overwatch_verdict_desc
{
	font-size: 18px;
	margin: 32px 64px;
}

.overwatch_verdict_type_title
{
	font-size: 28px;
	font-weight: bold;
	margin: 32px 32px 0px 32px;
}

.overwatch_verdict_type_subtitle
{
	font-size:18px;
	font-weight:bold;
	margin: 32px 32px 0px 32px;
}

.overwatch_verdict_type_desc
{
	font-size: 18px;
	margin: 32px 32px;
}

.overwatch-button-container
{
	flow-children:down;
	width:100%;
	margin: 0px 64px 28px 64px;
}

.overwatch-button
{
	horizontal-align:left;
}

.overwatch-separator
{
	margin: 0px 64px 0px 64px;
}

.overwatch-verdict-container
{
	flow-children:down;
	overflow:squish scroll;
}

.overwatch-verdict-background
{
	margin: 16px 64px;
	width: fill-parent-flow(1);
	background-color: #00000040;
}

.overwatch-verdict-popup
{
	width:900px;
	margin-top:64px;
	margin-bottom:64px;
}

.content-navbar__seperator--partial
{
	margin-left:32px;
	margin-right:32px;
}

.overwatch-verdict-popup Label
{
	font-family:Stratum2;
}

