/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.popup-can-apply-button
{
	background-color: positiveColor;
	flow-children: right;
	padding: 10px 20px;
	margin: 8px;
	vertical-align: center;
	border-radius: 3px;
	transition-property: brightness, background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.popup-can-apply-button:hover:not(:disabled)
{
	brightness: 1.5;
	transition-property: brightness, background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.popup-can-apply-button:disabled
{
	wash-color: disabledColor;
}

.popup-can-apply-button.popup-can-apply-button--next
{
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.35);
	padding: 8px 19px;
}

.popup-can-apply-button.popup-can-apply-button--next Image
{
	transform: scaleX(-1);
}

.popup-can-apply-button.popup-can-apply-button--next:hover:not(:disabled)
{
	border: 1px solid rgba(255, 255, 255, 0.35);
	background-color: rgba(0, 0, 0, 0.719);
}

.popup-can-apply-button Label
{
	font-size: 18px;
	font-family: Stratum2, 'Arial Unicode MS';
	color: white;
	font-weight: bold;
}

.popup-can-apply-button Image
{
	vertical-align: center;
	margin-left: 12px;
}

.popup-can-apply-item-image
{
	width: height-percentage( 135%);
	height: 100px;
}

.popup-can-apply-item-image--anim
{
	animation-name: PickedSlot;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

.popup-can-apply_remove_btn
{
	flow-children: down;
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	overflow: noclip;
}

.popup-can-apply_remove_btn:hover
{
	transform: scale3d( 1.05, 1.05, 1);
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.popup-can-apply_remove_btn .popup-can-apply_remove__image
{
	width: height-percentage( 135%);
	height: 100px;
}

.popup-can-apply_remove_btn .popup-can-apply_remove__selected
{
	vertical-align: center;
	horizontal-align: center;
	background-color: positiveColor;
	padding: 4px;
	margin-bottom: 8px;
	border-radius: 50%;
	transform: translateY(16px);
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.popup-can-apply_remove_btn:selected .popup-can-apply_remove__selected
{
	opacity: 1;
	transform: translateY(8px);
	transition-property: transform, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.popup-can-apply_remove_btn .RadioBox
{
	visibility: collapse;
}

.popup-can-apply_remove-text
{
	visibility: collapse;
	font-size: 18px;
	font-family: Stratum2, 'Arial Unicode MS';
	color: white;
	font-weight: normal;
	horizontal-align: center;
}

.popup-can-apply_remove-text.show
{
	visibility: visible;
}

@keyframes 'PickedSlot'
{
	0%
	{
		transform: scale3d( 1, 1, 1 );
	}
	
	50%
	{
		transform: scale3d( 1.25, 1.25, 1.25 );
		brightness: 5;
	}
	
	100%
	{
		transform: scale3d( 1, 1, 1 );
		brightness: 1;
	}
	
}

