/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

CSGODelayLoadPanel
{
	width: fit-children;
}

CSGODelayLoadPanel.Offscreen
{
	opacity: 0.0;
}

.PopupPanel.popup-acknowledge
{
	width: fit-children;
	height: fit-children;
	max-width: fit-children;
	max-height: fit-children;
	flow-children:none;
	padding-bottom: 0px;
}

.popup__rarity-bar
{
	width: 16px;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( white, to(rgba(175, 175, 175, .75) )));
	box-shadow: 0px 2px 6px 0px fill rgba(0, 0, 0, 0.5);
}

.popup-acknowledge__bg
{
	width: 100%;
	height: 100%;
	background-image: url("file://{resources}/videos/acknowledge.webm");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 13% 50%;
}

.operation.popup-acknowledge__bg
{
	width: 100%;
	height: 100%;
	background-image: url("file://{resources}/videos/op11_underwater.webm");
	brightness: .14;
	background-repeat: no-repeat;
	background-size: clip_then_cover;
	background-position: 50% 50%;
}

.popup-acknowledge-inspect-border
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( rgba(0, 0, 0, 0.932) ), color-stop(0.4, rgba(0, 0, 0, 0) ), color-stop(0.6, rgba(0, 0, 0, 0) ), to(rgba(0, 0, 0, 0.89) ));
	width: 100%;
	height: 100%;
}

.popup-acknowledge__item
{
	width: fit-children;
	height: fit-children;
	vertical-align: middle;
	transform: translatex( 0px );
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.popup-acknowledge__item__model
{
	width: 1080px;
	height: 576px;
}

.popup-acknowledge__item__image
{
	width: height-percentage( 130% );
	height: 384px;
	vertical-align: middle;
	horizontal-align: center;
	margin: 64px 0px;
}

.popup-acknowledge__info-block
{
	vertical-align: bottom;
	flow-children: down;
	margin-left: 96px;
	margin-bottom: 96px;
	transition-property: opacity, transform;
	transition-duration: .5s;
	transition-timing-function: ease-in;
}

.popup-acknowledge__info__title-container
{
	vertical-align: top;
	margin: 32px 0px 0px 96px;
	flow-children: right;
}

.popup-acknowledge__info__title
{
	font-size: 64px;
	color: rgb(141, 141, 141);
	text-align: center;
	text-transform: uppercase;
	-s2-mix-blend-mode: additive;
}

.popup-acknowledge__info__itemname
{
	font-size: 28px;
	width: fit-children;
	font-weight: bold;
	height: fit-children;
	vertical-align: bottom;
	white-space: normal;
}

.popup-acknowledge__subtitle
{
	visibility: visible;
}

.popup-acknowledge__subtitle.hidden
{
	visibility: collapse;
}

.popup-acknowledge__subtitle-label
{
	font-size: 18px;
	width: fit-children;
	height: fit-children;
	max-height: 24px;
	vertical-align: middle;
	white-space: normal;
}

.popup-acknowledge__subtitle_seticon
{
	height: 72px;
	width: height-percentage( 130% );
	img-shadow: 2px 2px 2px #000000;
}

.popup-acknowledge__item-count
{
	width: fit-children;
	height: fit-children;
	vertical-align: bottom;
	border-radius: 5px;
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.25);
	margin: 0px 96px 96px 0px;
	horizontal-align: right;
}

.popup-acknowledge .PopupButtonRow
{
	width: 100%;
	margin: 0px 32px 0px 32px;
	border-top: 1px solid rgba(255, 255, 255, 0.068);
}

.Focused .popup-acknowledge__item
{
	opacity: 1;
	transform: translatex( 0px );
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.Focused .popup-acknowledge__item__model.popup-acknowledge__item__model--vertical
{
	height: 940px;
	width: 700px;
}

.PreviouslyLeft:not(.Focused) .popup-acknowledge__item
{
	transform: translatex( -100% );
	opacity: 0.01;
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.PreviouslyRight:not(.Focused) .popup-acknowledge__item
{
	transform: translatex( 100% );
	opacity: 0.01;
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.popup-acknowledge CarouselNav
{
	vertical-align: center;
	width: 100%;
	padding: 0px 32px;
	margin-bottom: 32px;
	z-index: 5;
}

.popup-acknowledge__equip
{
	visibility: visible;
	vertical-align: bottom;
	horizontal-align: left;
	margin-left: 48px;
	z-index: 5;
}

.popup-acknowledge__equip.hidden
{
	visibility: collapse;
}

.popup-acknowledge__equip .PopupButton
{
	horizontal-align: center;
	vertical-align: center;
}

.op-tier__reward-tier
{
	visibility: collapse;
}

.tier-reward .op-tier__reward-tier
{
	visibility: visible;
}

