/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	height: fit-children;
}

.prime-status__title
{
	flow-children: none;
	width: 100%;
}

.prime-status__title .title_image
{
	vertical-align: middle;
	margin: 10px;
}

.prime-status__title Label
{
	horizontal-align: center;
	text-align: center;
	font-size: 32px;
}

.prime-status__desc_container
{
	width: fit-children;
	height: fit-children;
	flow-children: down;
	horizontal-align: center;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 5px;
	padding-bottom: 0px;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.prime-status__desc
{
	text-align: left;
	padding: 0px 32px 16px 32px;
}

.prime-status__desc Label
{
	font-size: 16px;
}

.prime-status__faq
{
	horizontal-align: center;
	width: 640px;
	flow-children: down;
	margin-top: 5px;
	background-color: rgba(0, 0, 0, 0.171);
	Padding: 32px;
}

.prime-status__faq .faq_title
{
	horizontal-align: center;
	text-align: center;
	font-size: 24px;
	padding-bottom: 16px;
	font-weight: light;
}

.prime-status__faq .faq_desc
{
	text-align: left;
	font-size: 16px;
}

.prime-status__status_container
{
	width: 100%;
	vertical-align: center;
	flow-children: down;
	padding: 15px;
}

.prime-status__status
{
	width: 100%;
	vertical-align: center;
	flow-children: right;
	padding-top: 20px;
	padding-left: 10px;
}

.prime-status__status Label
{
	padding-left: 10px;
	font-size: 18px;
	color: #CCCCCC;
	width: 640px;
}

.prime-status__warning Label,.prime-status__status.warning_status Label
{
	color: #FF9900;
}

.prime-status__status.ok_status Label
{
	color: #73A332;
}

.prime-status__close_icon
{
	horizontal-align: center;
	margin: 8px 0px;
	height: 16px;
	width: 16px;
	vertical-align: top;
	transform: rotateZ( 180deg );
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.prime-status__close_button:Hover
{
	brightness: .5;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.prime-status__close_button:Hover .prime-status__close_icon
{
	brightness: .1;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.prime-status__buttons
{
	width: fit-children;
	padding-right: 32px;
	horizontal-align: right;
	vertical-align: center;
	flow-children: right;
}

.prime-status__buttons.hidden
{
	visibility: collapse;
}

.prime-status__loading
{
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
}

.prime-status__loading Label,.prime-status__loading .Spinner
{
	margin: 10px;
}

