/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.hud_edge_positions
{
	width: 100%;
	height: 100%;
	position: 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	min-width: 0px;
	opacity: 0.75;
	background-color: black;
	border: 2px solid white;
	border-radius: 0px;
	horizontal-align: center;
	vertical-align: center;
}

.hud_edge_button_container
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
}

.hud_edge_button_container Label
{
	horizontal-align: center;
}

.hud_edge
{
	opacity: 1;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.hud_edge.Hidden
{
	opacity: 0;
}

.hud_edge_button_title
{
	font-size: 24px;
	margin-bottom: 20px;
}

.hud_edge_button_type
{
	font-size: 16px;
	margin-bottom: 20px;
}

.hud_edge_slider_container
{
	width: 300px;
	horizontal-align: center;
}

