/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.details-container
{
	flow-children: down;
	margin: 0px 30px;
	background-color: rgba(0, 0, 0, 0.26);
	horizontal-align: center;
	width: 600px;
	min-height: 300px;
	padding: 20px;
}

.status-text
{
	margin-left: 30px;
	margin-bottom: 10px;
}

.title-details
{
	width: 100%;
}

.preview-image
{
	width: 360px;
	height:280px;
	padding: 20px;
}

.submission-name-text
{
	font-size: 18px;
	font-family: Stratum2, 'Arial Unicode MS';
	text-overflow: shrink;
	white-space: nowrap;
	font-weight: lighter;
	margin: 4px;
	width: 384px;
	horizontal-align: right;
}

