/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define major-hub-width: 1340px;
@define groups-bg-color: #242d3d;
@define groups-bg-color-24: #242d3d;
@define pickem-green: rgb(14, 209, 95);
@define pickem-red: #B21E2C;
@define bg-eliminated: #742235;
@define bg-advance: #12735177;
@define arrow-bg-color-green: gradient( linear, 20% 0%, 135% 0%, from( groups-bg-color ), to( pickem-green ) );
@define arrow-bg-color-red: gradient( linear, 30% 0%, 110% 0%, from( groups-bg-color ), to( pickem-red ) );
@define groups-bg-color-major-23: #361b17;
@define arrow-bg-color-green-major-23: gradient( linear, 20% 0%, 135% 0%, from( groups-bg-color-major-23 ), to( pickem-green ) );
@define arrow-bg-color-red-major-23: gradient( linear, 30% 0%, 110% 0%, from( groups-bg-color-major-23 ), to( pickem-red ) );
@define groups-bg-color-major-24: #3b291985;
@define arrow-bg-color-green-major-24: gradient( linear, 20% 0%, 135% 0%, from( rgba(15, 0, 0, 0.0)), to( pickem-green ) );
@define arrow-bg-color-red-major-24: gradient( linear, 30% 0%, 110% 0%, from( rgba(15, 0, 0, 0.0) ), to( pickem-red ) );
@define groups-bg-color-major-25: #372a4a;
@define arrow-bg-color-green-major-25: gradient( linear, 20% 0%, 135% 0%, from( groups-bg-color-major-25 ), to( pickem-green ) );
@define arrow-bg-color-red-major-25: gradient( linear, 30% 0%, 110% 0%, from( groups-bg-color-major-25 ), to( pickem-red ) );
@define major-hub-btn-selected-color-major-25: #967cbd;
@define major-hub-btn-dark-color-major-25: #160c24;
@define major-hub-txt-selected-color-major-25: black;
@define major-hub-txt-color-major-25: white;
@define major-store-tile-bg-color: rgba(117, 88, 126, 0.267);
@define groups-bg-color-major-26: rgb(19, 46, 29);
@define arrow-bg-color-green-major-26: gradient( linear, 20% 0%, 135% 0%, from( groups-bg-color-major-26 ), to( pickem-green ) );
@define arrow-bg-color-red-major-26: gradient( linear, 30% 0%, 110% 0%, from( groups-bg-color-major-26 ), to( pickem-red ) );
@define major-hub-btn-selected-color-major-26: #1fb848;
@define major-hub-btn-dark-color-major-26: #0c240c;
@define major-hub-txt-selected-color-major-26: black;
@define major-hub-txt-color-major-26: white;
@define major-store-tile-bg-color-major-26: gradient( linear, 0% 0%, 0% 100%, from( #4b694f ), to( rgb(43, 59, 43)) );
@define major-store-filter-bg-color-major-26: #3b4e3d54;
@define major-store-filter-bg-color-solid-major-26: #3b4e3d;
.popup-major-hub
{
	width: 100%;
	height: 100%;
	max-width: 100%;
	color: rgb(64, 85, 67);
	background-color: none;
	border: 0px solid white margin: 0px;
	padding: 0px;
	background-color: rgba(0, 0, 0, 0.75);
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: .01;
}

.popup-major-hub.major-23
{
	background-color: rgba(15, 0, 0, 0.295) background-color: rgba(15, 0, 0, 0.938);
}

.popup-major-hub.major-24
{
	background-color: #1a1f30e7;
}

.popup-major-hub.major-24 .major-hub-store__souvenir__body
{
	font-family: Stratum2 Medium Condensed, "Arial Unicode MS";
	padding: 4px;
	color: rgb(56, 43, 6);
	text-shadow: none;
	background-color: none;
	font-size: 13px;
}

.popup-major-hub.major-25
{
	background-color: #392547e7;
}

.popup-major-hub.major-25 .major-hub-store__souvenir__body
{
	font-family: Stratum2 Medium Condensed, "Arial Unicode MS";
	padding: 4px;
	color:groups-text-color-major-25;
	text-shadow: none;
	background-color: none;
	font-size: 13px;
}

.popup-major-hub.major-26
{
	background-color: #051a01fa;
}

.popup-major-hub.major-26 .major-hub-store__souvenir__body
{
	padding: 4px;
	color: white;
	text-shadow: none;
	background-color: none;
	font-size: 14px;
}

.popup-major-hub .major-hub-title-container
{
	horizontal-align: center;
	flow-children: right;
	margin: 12px 0px;
}

.popup-major-hub .major-hub-title-container .major-hub-title-text
{
	color:white;
	margin-left: 24px;
	font-size: 32px;
	vertical-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.popup-major-hub .major-hub-store__souvenir__body
{
	font-size: 14px;
	width: 200px;
	max-height: 64px;
	text-overflow: shrink;
	horizontal-align: center;
	text-align: center;
	color: white;
}

.major-hub-section-title
{
	font-size: 18px;
	height:28px;
	vertical-align: center;
	color: white;
	padding: 0px 8px;
	margin-top: 8px;
	ignore-parent-flow: true;
	vertical-align: top;
	z-index: 2;
}

.major-23 .major-hub-section-title
{
	background-color: gradient( linear, 20% 0%, 100% 0%, from( rgba(126, 108, 8, 0.5) ), to( rgba(126, 108, 8, 0) ) );
}

.major-24 .major-hub-section-title
{
	color: groups-text-color-major-24;
	text-shadow: text-shadow-major-24;
	margin-top: 12px;
	opacity: .65;
}

.major-25 .major-hub-section-title
{
	color: groups-text-color-major-25;
	margin-top: 6px;
	opacity: .65;
	font-size: 20px;
}

.major-hub-bottom-bar
{
	vertical-align: bottom;
	width: major-hub-width;
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: right;
}

.major-hub-bottom-bar .hidden
{
	opacity: 0;
	visibility: collapse;
}

.major-hub-store
{
	width: major-hub-width;
	height: 300px;
	horizontal-align: center;
	flow-children: right;
	background-size: 100% 250%;
}

.major-25 .major-hub-store
{
	border: 1px solid rgba(0, 0, 0, 0.356);
	border-top: 1px solid rgba(113, 62, 124, 0.466);
	box-shadow: fill #00000065 0px 2px 10px 1;
}

.major-26 .major-hub-store
{
	box-shadow: fill #00000065 0px 2px 10px 1;
}

.major-26 .major-hub-store.major-background-size
{
	background-size: cover;
}

.major-hub-store .major-hub-store__items-section
{
	width:100%;
	height: 100%;
	transition-property: background-size, width;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.major-hub-store .major-hub-store__items-section.major-background-size
{
	background-size: 100% 301%;
	background-position: top;
	background-repeat: no-repeat;
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner
{
	horizontal-align: center;
	height: 100%;
	width: 100%;
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner_stickers
{
	width: 70%;
	height: 100%;
	background-color: gradient( linear, 100% 0%, 0% 0%, from(rgba(0, 0, 0, 0)), to( rgba(7, 71, 51, 0.651)));
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner_images
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/top-bottom-fade-4_png.vtex");
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image
{
	height: 156px;
	transform-origin: 50% 50%;
	margin: 16px;
	img-shadow: 1px 4px 8px 6.0 #000000;
	padding: 8px;
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: 1.5s;
	transition-timing-function: ease-in-out;
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image.0
{
	transform: translateY( 25% ) translateX( 0% ) rotateZ( 0deg);
	z-index: 1;
	brightness: .8;
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image.0.show
{
	opacity: .8;
	transform: translateY( 15% ) translateX( 2% ) rotateZ( 0deg);
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image.1
{
	transform: translateY( 18% ) translateX( 7% ) rotateZ( 10deg);
	z-index: 2;
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image.1.show
{
	opacity: 1;
	transform: translateY( 8% ) translateX( 10% ) rotateZ( 10deg);
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image.2
{
	transform: translateY( 16% ) translateX( 18% ) rotateZ( -8deg);
	z-index: 10;
	height: 170px;
	width: 170px;
	margin: 0px;
	padding: 0px;
	img-shadow: none;
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image.2.show
{
	opacity: 1;
	transform: translateY(12% ) translateX( 20% ) rotateZ(-8deg);
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image.3
{
	transform: translateY( 15% ) translateX( 28% ) rotateZ( -4deg);
	brightness: .8;
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image.3.show
{
	opacity: .8;
	transform: translateY( 5% ) translateX( 30% ) rotateZ( -4deg);
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image.4
{
	transform: translateY( 12% ) translateX( 32% ) rotateZ( 8deg);
	z-index: 2;
	brightness: .8;
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image.4.show
{
	opacity: 1;
	transform: translateY( 2% ) translateX( 35% ) rotateZ( 8deg);
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image.5
{
	transform: translateY( 38% ) translateX( 48% ) rotateZ( -2deg);
	z-index: 5;
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image.5.show
{
	opacity: 1;
	transform: translateY( 25% ) translateX( 45% ) rotateZ( -2deg);
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image.6
{
	transform: translateY( 14% ) translateX( 58% ) rotateZ( -4deg);
	z-index: 3;
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image.6.show
{
	opacity: .8;
	brightness: .7 transform: translateY( 14% ) translateX( 55% ) rotateZ( -4deg);
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image.7
{
	transform: translateY( 15% ) translateX( 63% ) rotateZ( 5deg);
	z-index: 8;
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image.7.show
{
	opacity: 1;
	transform: translateY( 3% ) translateX( 60% ) rotateZ( 5deg);
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image.8
{
	transform: translateY( 14% ) translateX( 73% ) rotateZ( 7deg);
	z-index: 10;
	height: 164px;
	width: 164px;
	margin: 0px;
	padding: 0px;
	img-shadow: none;
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image.8.show
{
	opacity: 1;
	transform: translateY( 5% ) translateX( 69% ) rotateZ( 7deg);
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image.9
{
	transform: translateY( 12% ) translateX( 72% ) rotateZ( 5deg);
	z-index: 4;
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__image.9.show
{
	opacity: .8;
	brightness: .8;
	transform: translateY( 0% ) translateX( 75% ) rotateZ( 5deg);
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__souvenir
{
	horizontal-align: right;
	vertical-align: center;
	height: 100% ;
	padding-right: 16px;
	background-color: gradient( linear, 100% 0%, 0% 0%, from(rgba(58, 155, 29, 0.65)), to( rgba(0, 0, 0, 0)));
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__souvenir .major-hub-store__banner__souvenir__text
{
	flow-children: down;
	vertical-align: bottom;
	horizontal-align: center;
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__souvenir .major-hub-store__banner__souvenir__image
{
	height: 256px;
	width: 440px;
	transform-origin: 50% 50%;
	horizontal-align: center;
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__text
{
	flow-children:down;
	vertical-align: bottom;
	margin-bottom: 12px;
	width: 100%;
	height: 40%;
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__text Label
{
	text-align: center;
	horizontal-align: center;
	color: white;
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__text .major-hub-store__banner__title
{
	font-size: 32px;
	text-shadow: 0px 0px 12px 3 rgba(0, 0, 0, 0.5);
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__text .major-hub-store__banner__desc
{
	font-size: 16px;
	text-shadow: 0px 0px 12px 2 rgba(0, 0, 0, 0.5);
}

.major-hub-store .major-hub-store__items-section .major-hub-store__banner .major-hub-store__banner__text .major-hub-store__banner__desc-new
{
	font-size: 20px;
	text-shadow: 0px 0px 12px 2 rgba(0, 0, 0, 0.5);
	color: rgb(226, 219, 176);
	letter-spacing: 1.5px;
	font-size: 28px;
	vertical-align: top;
	color: white;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px 2.0 #000000bd;
}

.major-hub-store.graffiti-panel-visible .major-hub-store__items-section
{
	width: 83%;
	height: 100%;
	flow-children: right;
	background-size: 110% 301%;
	background-position: top;
}

.major-26 .major-hub-store.graffiti-panel-visible .major-hub-store__items-section
{
	background-size: 120% 330%;
	background-position: 0px 8%;
	border: 1px solid rgba(62, 124, 77, 0.466);
}

.major-hub-store__spray
{
	visibility: collapse;
	margin-left: 8px;
	height: 100%;
	width: 100%;
}

.major-hub-store__spray.major-background-size
{
	background-size: 650% 301%;
	background-position: top;
	background-repeat: no-repeat;
}

.major-25 .major-hub-store__spray
{
	border: 1px solid rgba(0, 0, 0, 0.356);
	border-top: 1px solid rgba(113, 62, 124, 0.466);
}

.major-26 .major-hub-store__spray.major-background-size
{
	background-size: auto 320%;
	background-position: 100% 8%;
	border: 1px solid rgba(62, 124, 77, 0.466);
}

.graffiti-panel-visible .major-hub-store__spray
{
	visibility: visible;
}

.major-hub-store__spray .major-hub-store__spray-info
{
	margin: 8px 8px;
	vertical-align: bottom;
	flow-children: down;
	min-height: 35%;
}

.major-hub-store__spray .major-hub-store__spray-image
{
	horizontal-align: center;
	margin-top: 32px;
	width:height-percentage( 135%);
	height: 152px;
}

.major-hub-store__spray .major-hub-store__spray-btn
{
	horizontal-align: center;
	background-color: blueColorDark;
	border-radius: 3px;
	width: 150px;
	height: 30px;
	margin: 8px 0px 8px 0px;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.major-hub-store__spray .major-hub-store__spray-btn Label
{
	text-align: center;
	height: 24px;
	letter-spacing: 1px;
	padding: 3px 8px;
	horizontal-align: center;
	color: white;
}

.major-hub-store__spray .major-hub-store__spray-btn:hover
{
	brightness: 1.5;
}

.major-24 .major-hub-store__spray .major-hub-store__spray-btn
{
	background-color: rgba(48, 31, 6, 0.95);
	border-radius: 0px;
}

.major-24 .major-hub-store__spray .major-hub-store__spray-btn Label
{
	color: rgb(224, 198, 140);
}

.major-25 .major-hub-store__spray .major-hub-store__spray-btn
{
	background-color: #3b2d50;
	box-shadow: fill #00000025 0px 2px 10px 1;
}

.major-26 .major-hub-store__spray .major-hub-store__spray-btn
{
	background-color: positiveColor;
	box-shadow: fill #00000025 0px 2px 10px 1;
}

.major-hub-challenges-pickem
{
	width: major-hub-width;
	height: 660px;
	flow-children: right;
	horizontal-align: center;
	margin-top: 8px;
}

.major-24 .major-hub-challenges-pickem
{
	margin-top: 0px;
	height: 608px;
}

.major-25 .major-hub-challenges-pickem
{
	border: 1px solid rgba(0, 0, 0, 0.356);
	border-top: 1px solid rgba(113, 62, 124, 0.466);
	box-shadow: fill #00000065 0px 2px 10px 1;
}

.major-26 .major-hub-challenges-pickem
{
	border: 1px solid rgba(62, 124, 77, 0.466);
	box-shadow: fill #00000065 0px 2px 10px 1;
}

.major-hub-challenges-pickem.major-background-size
{
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.major-26 .major-hub-challenges-pickem.major-background-size
{
	background-size: 100% 160%;
	background-position: 0% 100%;
}

.pencil-line-major-24
{
	background-image: url("s2r://panorama/images/tournaments/backgrounds/pickem_pencil-line_psd.vtex");
	width: 98%;
	height: 14px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	ignore-parent-flow: true;
	horizontal-align: center;
	visibility: collapse;
}

.major-24 .pencil-line-major-24
{
	visibility: visible;
}

.pencil-line-major-24.vertical
{
	vertical-align: center;
	horizontal-align: right;
	width: 14px;
	height: 95%;
	background-image: url("s2r://panorama/images/tournaments/backgrounds/pickem_pencil-line-vertical_psd.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.major-hub-challenges-column
{
	width: 320px;
	height: 100%;
	flow-children: down;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.major-23 .major-hub-challenges-column
{
	border-right: 1px solid rgba(223, 191, 10, 0.1);
}

.major-24 .major-hub-challenges-column
{
	border-right: 0px solid rgba(223, 191, 10, 0.1);
}

.major-25 .major-hub-challenges-column
{
	border-right: 1px solid rgba(123, 67, 128, 0.616);
}

.major-26 .major-hub-challenges-column
{
	border-right: 1px solid rgba(67, 128, 72, 0.25);
}

.major-hub-coin
{
	width: 100%;
	opacity: 1;
	transform: translateY( 0px);
	transition-property: opacity, transform;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.no-active-coin .major-hub-coin
{
	visibility: collapse;
	opacity: 0;
	transform: translateY( -40px);
	transition-property: opacity, transform;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.major-hub-coin .major-hub-coin__charges
{
	horizontal-align: right;
	margin-top: 16px;
	margin-right: 16px;
}

.major-hub-coin .major-hub-coin__charges Label
{
	text-align: center;
	horizontal-align:center;
	vertical-align: center;
	width: 24px;
	font-size: 18px;
	text-shadow: 1px 1px 6px 2 rgba(0, 0, 0, 0.733);
	color: white;
}

.major-hub-coin .major-hub-coin__charges Image
{
	brightness: .5;
	width: 40px;
	height: 40px;
}

.major-hub-coin .major-hub-coin__status
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 8px;
}

.major-hub-coin .major-hub-coin__status .major-hub-coin__status__image
{
	height: 42px;
	width: 46px;
}

.major-hub-coin .major-hub-coin__status .major-hub-coin__status__image.bronze
{
	wash-color: #b67c43;
}

.major-hub-coin .major-hub-coin__status .major-hub-coin__status__image.silver
{
	wash-color: #858585;
}

.major-hub-coin .major-hub-coin__status .major-hub-coin__status__image.gold
{
	wash-color: #b19500;
}

.major-hub-coin .major-hub-coin__status .major-hub-coin__status__num
{
	vertical-align: center;
	text-align: center;
	horizontal-align: center;
	color: white;
	font-size: 24px;
}

.major-hub-coin .major-hub-coin__status .major-hub-coin__status__text
{
	font-size: 18px;
	vertical-align: center;
	color: white;
}

.major-24 .major-hub-coin .major-hub-coin__status .major-hub-coin__status__text
{
	font-size: 16px;
	color: groups-text-color-major-24;
	font-family: Stratum2 Medium Condensed, "Arial Unicode MS";
}

.major-hub-coin .major-hub-coin__model
{
	width: 100%;
	height: 240px;
	transform: translateY( 12px) translateX( 5px );
	opacity-mask: url("s2r://panorama/images/masks/top-bottom-fade-4_png.vtex");
	transition-property: brightness;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.major-hub-coin .major-hub-coin__model:hover
{
	brightness: 2;
	transition-property: brightness;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.major-24 .major-hub-coin .major-hub-coin__model
{
	brightness: .8;
}

.major-24 .major-hub-coin .major-hub-coin__model:hover
{
	brightness: 1.5;
}

.major-hub-pass-upsell
{
	flow-children: down;
	width: 100%;
	margin:0px 32px 0px 32px;
	visibility: collapse;
}

.no-active-coin .major-hub-pass-upsell
{
	visibility: visible;
}

.major-hub-pass-upsell .major-hub-pass-upsell__image
{
	width:height-percentage( 140%);
	height: 160px;
	horizontal-align: center;
}

.major-24 .major-hub-pass-upsell .major-hub-pass-upsell__image
{
	img-shadow: 2px 0px 24px 2 rgb(0, 0, 0);
}

.major-25 .major-hub-pass-upsell .major-hub-pass-upsell__image
{
	img-shadow: 2px 0px 24px 2 rgb(0, 0, 0);
}

.major-hub-pass-upsell .major-hub-pass-upsell__image-coin
{
	width:height-percentage( 130%);
	height: 112px;
	horizontal-align: left;
	padding: 16px;
	vertical-align: bottom;
	img-shadow: 0px 2px 4px 3 rgba(0, 0, 0, 0.815);
	saturation: 1.1;
}

.major-hub-pass-upsell .major-hub-pass-upsell__text
{
	horizontal-align: center;
	margin: 8px;
	font-size: 15px;
	color: white;
	letter-spacing: 1.5px;
	text-align: center;
}

.major-24 .major-hub-pass-upsell .major-hub-pass-upsell__text
{
	color: groups-text-color-major-24;
	text-shadow: text-shadow-major-24;
}

.major-hub-rounded-btn
{
	horizontal-align: center;
	background-color: positiveColor;
	border-radius: 24px;
	padding: 5px 16px;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.major-hub-rounded-btn Label
{
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	font-family: Stratum2, "Arial Unicode MS";
	font-weight: bold;
	transform: translateY( 1px);
	color: white;
	font-size: 14px;
	max-height: 20px;
}

.major-hub-rounded-btn:hover
{
	brightness: 1.4;
}

.major-hub-challenges-container
{
	width: 100%;
	flow-children: down;
	vertical-align: bottom;
	margin-bottom: 8px;
}

.major-hub-challenges-container .major-hub-challenge
{
	flow-children: right;
	min-height: 34px;
	width: 100%;
	margin: 1px 6px 1px 6px;
	background-color: rgba(255, 255, 255, 0.05);
}

.no-active-coin .major-hub-challenges-container .major-hub-challenge
{
	background-color: rgba(0, 0, 0, 0.4);
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.major-hub-challenges-container .major-hub-challenge.complete
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(15, 141, 15) ), to( rgba(4, 82, 4, 0.829)) );
}

.major-hub-challenges-container .major-hub-challenge.disqualified
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(161, 15, 15) ), to( rgba(82, 4, 4, 0.829)) );
}

.major-hub-challenges-container .major-hub-challenge .major-hub-challenge__icon-container
{
	height: 100%;
	horizontal-align: right;
}

.major-hub-challenges-container .major-hub-challenge .major-hub-challenge__icon
{
	horizontal-align: center;
	vertical-align: center;
	padding: 0px 16px;
	opacity: .8;
}

.no-active-coin .major-hub-challenges-container .major-hub-challenge .major-hub-challenge__icon
{
	opacity: .2;
	transition-property: opacity;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.major-hub-challenges-container .major-hub-challenge .major-hub-challenge__name
{
	font-size: 11px;
	max-height: 28px;
	width: fill-parent-flow( 1 );
	text-overflow: shrink;
	color: white;
	margin-right: 6px;
}

.no-active-coin .major-hub-challenges-container .major-hub-challenge .major-hub-challenge__name
{
	opacity: .2;
	transition-property: opacity;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.complete .major-hub-challenges-container .major-hub-challenge .major-hub-challenge__name
{
	opacity: 1;
}

.major-24 .major-hub-challenges-container,.major-25 .major-hub-challenges-container
{
	vertical-align: top;
}

.major-24 .major-hub-challenges-container .major-hub-challenge,.major-25 .major-hub-challenges-container .major-hub-challenge
{
	flow-children: right;
	min-height: 28px;
	width: 96%;
	margin: 1px 3px 1px 3px;
	background-color: rgba(0, 0, 0, 0.15);
}

.major-24 .major-hub-challenges-container .major-hub-challenge.complete,.major-25 .major-hub-challenges-container .major-hub-challenge.complete
{
	background-color: rgba(37, 122, 62, 0.6);
}

.major-24 .major-hub-challenges-container .major-hub-challenge.disqualified,.major-25 .major-hub-challenges-container .major-hub-challenge.disqualified
{
	background-color: rgba(126, 4, 4, 0.63);
}

.major-24 .major-hub-challenges-container .major-hub-challenge__name,.major-25 .major-hub-challenges-container .major-hub-challenge__name
{
	color: groups-text-color-major-24;
	font-weight: medium;
}

.major-24 .major-hub-challenges-container .major-hub-challenge__icon,.major-25 .major-hub-challenges-container .major-hub-challenge__icon
{
	wash-color: groups-text-color-major-24;
}

.no-active-coin.major-24 .major-hub-challenges-container .major-hub-challenge,.no-active-coin.major-25 .major-hub-challenges-container .major-hub-challenge
{
	background-color: rgba(0, 0, 0, 0.1);
}

.no-active-coin.major-24 .major-hub-challenges-container .major-hub-challenge__icon,.no-active-coin.major-25 .major-hub-challenges-container .major-hub-challenge__icon
{
	opacity: .7;
}

.no-active-coin.major-24 .major-hub-challenges-container .major-hub-challenge__name,.no-active-coin.major-25 .major-hub-challenges-container .major-hub-challenge__name
{
	opacity: .7;
}

.major-25 .major-hub-challenges-container .major-hub-challenge
{
	flow-children: right;
	min-height: 28px;
	width: 96%;
	background-color:#271e35b2;
	horizontal-align: center;
}

.major-25 .major-hub-challenges-container .major-hub-challenge__name
{
	color: rgba(255, 255, 255, 0.4);
}

.major-25 .major-hub-challenges-container .major-hub-challenge__icon
{
	wash-color: rgba(255, 255, 255, 0.4);
}

.loading .content-navbar__tabs--pickem
{
	visibility: collapse;
}

.IconButton
{
	margin: 0px;
}

.IconButton Image
{
	height: 16px;
}

.major-24 .IconButton Image
{
	wash-color: groups-text-color-major-24;
}

.major-hub-pickem__nav-separator
{
	height: 1px;
	width: 512px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba( 255, 255, 255, 0.03 )), to( rgba(255, 255, 255, 0.0 )));
}

.major-23 .major-hub-pickem__nav-separator
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba( 223, 191, 10, 0.1 )), to( rgba(223, 191, 10, 0.0 )));
}

.major-24 .major-hub-pickem__nav-separator
{
	background-image: url("s2r://panorama/images/tournaments/backgrounds/pickem_pencil-dotted-line_psd.vtex");
	width: 68%;
	height: 16px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.major-25 .major-hub-pickem__nav-separator
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(123, 67, 128, 0.616)), to( rgba(123, 67, 128, 0 )));
}

.major-26 .major-hub-pickem__nav-separator
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(67, 128, 87, 0.445)), to( rgba(67, 128, 100, 0)));
}

.major-hub-pickem__tab-active
{
	width: 4px;
	height: 4px;
	background-color: pickem-green;
	border-radius: 50%;
	ignore-parent-flow: true;
	visibility: collapse;
	vertical-align: center;
	margin-left: 2px;
}

.major-24 .major-hub-pickem__tab-active
{
	background-color: groups-text-color-major-24;
}

.active .major-hub-pickem__tab-active
{
	visibility: visible;
}

.major-hub-pickem__page
{
	width: 100%;
	height: 100%;
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.loading .major-hub-pickem__page,.major-hub-pickem__page.hidden
{
	visibility: collapse;
	transform: translateX(-50%);
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.major-hub-pickem__page.blue
{
	background-color: blue;
}

.major-hub-pickem__loading
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.loading .major-hub-pickem__loading
{
	visibility: visible;
}

.major-hub-pickem__loading .major-hub-pickem__loading__block
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
}

.major-hub-pickem__loading Label
{
	text-align: center;
	color: white;
	margin-top: 8px;
}

.major-hub-pickem__loading .Spinner
{
	horizontal-align: center;
}

.timeout .major-hub-pickem__loading .Spinner
{
	visibility: collapse;
}

.major-hub-pickem__loading Image
{
	visibility: collapse;
	horizontal-align: center;
}

.timeout .major-hub-pickem__loading Image
{
	visibility: visible;
}

.group-stage-drag-icon
{
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.group-stage-drag-icon.drag-start
{
	transform: scale3d(1.2, 1.2, 1.2);
}

.group-stage-drag-icon.drag-end
{
	transform: scale3d(0.7, 0.7, 0.7);
	opacity: 0;
}

.leaderboard_open_button
{
	margin-right: 46px;
	margin-top:8px;
}

.leaderboard-has-nodata .leaderboard_open_button
{
	opacity: 0;
	visibility: collapse;
}

.AspectRatio16x10 .popup-major-hub .major-hub-store,.AspectRatio16x10 .popup-major-hub .major-hub-challenges-pickem,.AspectRatio16x10 .popup-major-hub .major-hub-bottom-bar,.AspectRatio16x9 .popup-major-hub .major-hub-store,.AspectRatio16x9 .popup-major-hub .major-hub-challenges-pickem,.AspectRatio16x9 .popup-major-hub .major-hub-bottom-bar,.AspectRatio21x9 .popup-major-hub .major-hub-store,.AspectRatio21x9 .popup-major-hub .major-hub-challenges-pickem,.AspectRatio21x9 .popup-major-hub .major-hub-bottom-bar
{
	width: 1600px;
}

.AspectRatio16x10 .popup-major-hub .major-hub-challenges-column,.AspectRatio16x9 .popup-major-hub .major-hub-challenges-column,.AspectRatio21x9 .popup-major-hub .major-hub-challenges-column
{
	width: 400px;
}

.AspectRatio16x10 .popup-major-hub .major-hub-pickem__page,.AspectRatio16x9 .popup-major-hub .major-hub-pickem__page,.AspectRatio21x9 .popup-major-hub .major-hub-pickem__page
{
	margin-left: 48px;
}

.AspectRatio16x10 .popup-major-hub .group-stage-teams-container,.AspectRatio16x9 .popup-major-hub .group-stage-teams-container,.AspectRatio21x9 .popup-major-hub .group-stage-teams-container
{
	margin-right: 48px;
}

.AspectRatio16x10 .popup-major-hub #id-leaderboard.leaderboard_embedded,.AspectRatio16x9 .popup-major-hub #id-leaderboard.leaderboard_embedded,.AspectRatio21x9 .popup-major-hub #id-leaderboard.leaderboard_embedded
{
	margin-right: 16px;
}

.AspectRatio16x10 .popup-major-hub .leaderboard_open_button,.AspectRatio16x9 .popup-major-hub .leaderboard_open_button,.AspectRatio21x9 .popup-major-hub .leaderboard_open_button
{
	margin-right: 24px;
}

