/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.popup-inspect-modelpanel
{
	width: 100%;
	height: 100%;
	horizontal-align:center;
	vertical-align:center;
	background-image: url("s2r://panorama/images/backgrounds/inspect.vsvg");
	background-repeat: no-repeat;
	background-size: auto 101%;
	background-position: 50% 50%;
	background-img-opacity: 0.2;
	transition-property: opacity, transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.popup-xray-container .popup-inspect-modelpanel,.popup-in-xray .popup-inspect-modelpanel
{
	background-image: none;
}

.popup-inspect-modelpanel_darken
{
	brightness: .25;
}

.popup-inspect-modelpanel_darken_blur
{
	blur: gaussian( 4, 4, 8 );
	opacity: .7;
	brightness: .5;
}

.popup-inspect-image
{
	width: height-percentage( 130% );
	height: 450px;
	horizontal-align: center;
	vertical-align: middle;
	transform: translateY( 0% );
	transition-property: transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

#id-character-button-container
{
	width: 700px;
	transition-property: opacity, width;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

#id-character-button-container.hidden
{
	opacity: 0;
	width: 1px;
}

.popup-inspect-image.y-offset
{
	transform: translateY( -10% );
	transition-property: transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.popup-inspect-modelpanel--char
{
	width: 1080px;
	height: 93%;
	vertical-align: bottom;
	transition-property: opacity, transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.popup-char-model-controls
{
	flow-children: right;
	opacity: 1;
	width: 450px;
	border-right: 1px solid rgba(255, 255, 255, 0.25);
	transition-property: opacity, width;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.popup-char-model-controls.hidden
{
	opacity: 0;
	width: 1px;
	visibility: visible;
	transition-property: opacity, transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.popup-char-model-controls DropDown
{
	width: 370px;
	height: 60px;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000035), color-stop( 1, #00000035 ), to( #00000035 ) );
}

.popup-inspect-modelpanel.hidden
{
	opacity: 0;
	transform: translateY( 100% );
	transition-property: opacity, transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.popup-inspect__header-block
{
	flow-children: right;
	vertical-align: top;
	horizontal-align: center;
}

.popup-inspect__desc
{
	font-size: 18px;
	max-width: 900px;
	max-height: 205px;
	padding: 16px 28px 0px 28px;
	overflow: clip scroll;
	horizontal-align: center;
	vertical-align: center;
	font-weight: medium;
	-s2-mix-blend-mode: additive;
}

.popup-inspect__certificate
{
	padding-top: 16px;
	wash-color: rgb(42, 42, 42);
	height: 52px;
	width: height-percentage( 70% );
}

.popup-inspect-raritybar
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF ), to( #b9b9b9 ) );
	width: 100%;
	height: 6px;
	box-shadow: shadowOffset;
	margin: 8px 0px;
}

#PopUpInspectFullScreenHostContainer.solidbkgnd
{
	background-color: #000000EE;
}

#InspectActionButton
{
	context-menu-position: top;
}

.inspect-model-image-panel
{
	width: 100%;
	height: 100%;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.inspect-model-image-panel--hidden
{
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
	opacity: 0;
}

.hidden
{
	visibility: collapse;
}

.spacer
{
	margin-left: 25px;
	margin-right: 25px;
}

.inv-lootlist-btns-container
{
	width: 100%;
	margin-top: 48px;
}

.inv-arrow-btn
{
	margin: 0px 48px;
	flow-children: down;
	opacity: .5;
	horizontal-align: center;
	transform-origin: 0% 100%;
	transform: translateX(500px);
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.inv-arrow-btn--left
{
	transform-origin: 100% 100%;
	transform: translateX(-500px);
}

.inv-arrow-btn:hover:not(:disabled)
{
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.inv-arrow-btn__image
{
	transform: rotateZ(-90deg);
	margin-bottom: 16px;
	horizontal-align: right;
}

.inv-arrow-btn__image--left
{
	transform: rotateZ(90deg);
	horizontal-align: left;
}

.inv-arrow-btn:disabled
{
	wash-color: disabledColor;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.inv-arrow-btn__text
{
	color: white;
	width: 200px;
	font-size: 14px;
	height: 18px;
	text-overflow: ellipsis;
	transform: translateY( -1px );
	horizontal-align: center;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.inv-arrow-btn__rarity
{
	border-radius: 50%;
	height: 12px;
	width: 12px;
	background-color: white;
	margin: 6px;
	box-shadow: shadowOffset;
}

.inv-arrow-btn:disabled .inv-arrow-btn__text,.inv-arrow-btn:disabled .inv-arrow-btn__rarity
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.inv-lootlist-title-container
{
	horizontal-align: center;
	flow-children: right;
	margin-top: 16px;
}

