/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	max-width: 900px;
}

.popup-go-team-matchmaking-group
{
	flow-children: down;
	border: 1px solid rgba( 128, 128, 128, 0.3 );
	padding: 10px;
	margin: 10px 40px;
}

.popup-directcode-entry
{
	margin-left: 28px;
	margin-bottom: 16px;
	width: fit-children;
	height: fit-children;
	flow-children: right;
	horizontal-align: right;
}

.popup-directcode-entry TextEntry
{
	width: 250px;
	margin-right: 10px;
	text-transform: uppercase;
}

.play-menu__playbtn.play-menu__playbtn--startsearch
{
	min-width:375px;
	horizontal-align: right;
}

.play-menu__playbtn.play-menu__playbtn--startsearch Label
{
	horizontal-align: center;
	font-size: 28px;
}

.team_popup_image
{
	margin-top: 12px;
	margin-left: 24px;
	opacity:.1;
}

