/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.accept-match
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
	pre-transform-scale2d: 1;
	transform: translateY( 0px );
	min-width: 0px;
	opacity: 1.0;
	border-radius: 0px;
	flow-children: none;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}

.accept-match-hit-blocker
{
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.01);
}

.accept-match-container
{
	flow-children: down;
	vertical-align: center;
	padding-top: 20%;
	box-shadow: none;
	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}

.accept-match-container.hide
{
	opacity: 0;
	transform: scale3d(.8,.8, 1);
}

.accept-match-warning
{
	horizontal-align:center;
	background-color: rgb(16, 112, 19);
	flow-children: right;
	padding: 8px;
	opacity: 1;
	transform: translateY( 1% );
	box-shadow: shadowOffset;
	border: 3px solid #4CAF50;
	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: ease-in;
}

.accept-match-warning.hidden
{
	opacity: 0;
	transform: translateY( 10% );
	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: ease-in;
}

.accept-match-warning--label
{
	text-align: center;
	font-size: 16px;
	max-width: 650px;
	text-overflow: shrink;
	height: 20px;
}

.accept-match__bg
{
	width: fit-children;
	min-width: 720px;
	height: fit-children;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4CAF50 ), to( #255E28 ));
	vertical-align: center;
	horizontal-align: center;
	box-shadow: shadowOffset;
	z-index: 2;
	background-repeat: no-repeat;
	background-position: 0% 50%;
	background-size: 100%;
	background-image: url("file://{resources}/videos/gobutton.webm");
	padding: 6px;
	transition-property: width;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.accept-match__map
{
	vertical-align: center;
	horizontal-align: center;
	width: 100%;
	height: 300px;
	brightness: .05;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/map_icons/screenshots/360p/de_overpass_png.vtex");
	background-img-opacity: 0.8;
	background-size: clip_then_cover;
}

.accept-match__map__image
{
	width: 100%;
	height: 250px;
	opacity: .1;
	vertical-align: center;
	horizontal-align: center;
}

.accept-match__data
{
	margin-top: 20px;
	flow-children: down;
	horizontal-align: center;
	height: 100%;
}

.accept-match__data.auto
{
	margin-top: 0px;
	height: fit-children;
	vertical-align: center;
	ui-scale: 125%;
}

.accept-match__data__details
{
	height: fit-children;
	width: fit-children;
	flow-children: right;
	horizontal-align: center;
}

.accept-match__data__title
{
	text-transform: uppercase;
	font-size: 52px;
	horizontal-align: center;
	vertical-align: top;
	color: rgb(101, 228, 106);
	text-shadow: 0px 0px 4px 2.0 rgba(0, 0, 0, 0.534);
}

.accept-match__data__title--details
{
	text-transform: none;
	font-size: 19px;
	horizontal-align: center;
	color: rgb(101, 228, 106);
	text-shadow: 0px 0px 4px 2.0 rgba(0, 0, 0, 0.534);
}

.accept-match__data__time
{
	border-radius: 2px;
	width: 242px;
	height: 32px;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 16px;
}

.accept-match__data__time__text
{
	text-transform: uppercase;
	horizontal-align: center;
	font-size: 20px;
	font-weight: bold;
	color: rgb(101, 228, 106);
	text-shadow: 0px 0px 4px 2.0 rgba(0, 0, 0, 0.534);
	text-align: center;
}

.accept-match__data__time.hidden
{
	visibility: collapse;
}

.accept-match__data__gameserver
{
	border-radius: 2px;
	width: 242px;
	height: 32px;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 44px;
}

.accept-match__data__gameserver__text
{
	horizontal-align: center;
	font-size: 12px;
	color: warningColor;
	text-shadow: 0px 0px 4px 2.0 rgba(0, 0, 0, 0.534);
	text-align: center;
}

.accept-match__data__gameserver.hidden
{
	visibility: collapse;
}

.accept-match__seperator
{
	horizontal-align: center;
	width: 100%;
	height: 1px;
	opacity: 2;
	background-color: positiveColor;
}

.accept-match .FlatButton
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 76px;
	ui-scale: 100% 100% 100%;
	background-color:rgb(53, 182, 81);
	transition-property: opacity, ui-scale;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.accept-match .FlatButton.hidden
{
	opacity: 0;
	ui-scale: 150% 150% 150%;
	transition-property: opacity, ui-scale;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.accept-match .FlatButton Label
{
	font-weight: bold;
	text-transform: uppercase;
	margin: 12px 32px 10px 32px;
	color: rgb(18, 59, 8);
	font-size: 52px;
	text-align: center;
	transition-property: color, text-shadow;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.FlatButton:hover Label
{
	horizontal-align: center;
	vertical-align: middle;
	text-align: center;
	color:White;
	text-shadow: 0px 0px 4px 4.0 rgba(144, 212, 144, 0.493);
	transition-property: color, text-shadow;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.accept-match__top-icon
{
	margin: 8px 8px 8px 0px;
	height: fit-children;
	width: fit-children;
}

.accept-match__slots-count
{
	flow-children: down;
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 70px;
	transition-property: width;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.accept-match__slots
{
	flow-children: right;
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 0px;
	ui-scale: 100% 100% 100%;
	margin: 0px 16px;
	opacity: 1;
	visibility: visible;
	transition-property: opacity,ui-scale,width;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.accept-match__slots.hidden
{
	opacity: 0;
	visibility: collapse;
	ui-scale: 100% 0% 100%;
	transition-property: opacity, ui-scale,width;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.accept-match__slots__player
{
	width: 48px;
	height: 48px;
	brightness: 1;
	border: 4px solid rgb(33, 78, 34);
	margin: 8px;
	box-shadow: shadowOffset;
	transition-property: brightness, border, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
	background-color: rgb(28, 71, 31);
	background-image: url("s2r://panorama/images/icons/ui/player.vsvg");
	background-img-opacity: 0.05;
	background-size: 70% 70%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	transition-property: background-img-opacity, background-color, box-shadow, border;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.accept-match__slots__player--accepted
{
	border: 4px solid positiveColor;
	box-shadow: rgba(144, 212, 144, 0.493) 0px 0px 8px 0px;
	background-color: rgb(70, 160, 71);
	background-img-opacity: 1;
	transition-property: background-img-opacity, background-color, box-shadow, border;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.accept-match.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "UIPanorama.ui_custom_lobby_dialog_slide";
}

.accept-match__agreement
{
	transform: translateY( 20px );
	horizontal-align: center;
	background-color: rgba(0,0,0,0.98);
	border-radius: 6px;
	max-width: 740px;
	flow-children: right;
	padding: 20px;
}

.accept-match__agreement Button
{
	vertical-align: center;
}

.accept-match__agreement Button:hover
{
	brightness: 1.5;
}

.accept-match__agreement_spacer
{
	height: 16px;
	width: 16px;
}

.accept-match__agreement-label
{
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: medium;
}

.accept-match__agreement-label--small
{
	font-size: 16px;
	font-weight: lighter;
}

.TextSpan
{
	text-decoration: underline;
}

.map-draft-phase-teams
{
	flow-children: right;
	width: 720px;
	height: 260px;
	horizontal-align: center;
	vertical-align: top;
	margin-top: 120px;
	padding: 6px;
	z-index: 2;
	transition-property: width;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	visibility: collapse;
}

.accept-match-with-player-list .map-draft-phase-teams
{
	visibility: visible;
}

.accept-match-with-player-list .accept-match__map
{
	height: 530px;
}

.accept-match-with-player-list .accept-match__slots__player
{
	height: 10px;
	background-image: none;
	margin-bottom: 30px;
}

.accept-match-with-player-list .accept-match .FlatButton
{
	margin-bottom: 50px;
}

.accept-match-with-player-list .accept-match__slots-count
{
	margin-bottom: 30px;
}

.map-draft-phase-teams__team
{
	flow-children: down;
	height: 100%;
	width: 50%;
}

.map-draft-phase-teams__border
{
	height: 100%;
	width: 1px;
	background-color: rgba(101, 228, 106, 0.3);
}

.map-draft-phase-teams__title
{
	font-size: 20px;
	letter-spacing: 1.8px;
	padding: 0px 12px 6px;
	vertical-align: top;
	color: rgb(101, 228, 106);
	text-shadow: 0px 0px 4px 2.0 rgba(0, 0, 0, 0.534);
	text-transform: uppercase;
}

.map-draft-phase-button__avatar
{
	flow-children: right;
}

.map-draft-phase-teams__team--left .map-draft-phase-teams__title,.map-draft-phase-teams__team--left .map-draft-phase-button__avatar-name
{
	horizontal-align: right;
	text-align: right;
}

.map-draft-phase-teams__team--left .map-draft-phase-button__avatar
{
	flow-children: left;
	horizontal-align: right;
}

.map-draft-phase-teams .map-draft-phase-button__avatar-name
{
	font-size: 18px;
	padding: 0px 8px;
	height: 26px;
	color: rgb(101, 228, 106);
	text-shadow: 0px 0px 4px 2.0 rgba(0, 0, 0, 0.534);
}

.map-draft-phase-teams .map-draft-phase-button__avatar
{
	margin: 0px 16px;
}

.map-draft-phase-button__avatar CSGOAvatarImage
{
	visibility: visible;
	margin: 3px;
	background-color: rgb(101, 228, 106);
	border: 1px solid rgb(101, 228, 106);
}

.map-draft-phase-teams .map-draft-phase-button__avatar:hover CSGOAvatarImage,.map-draft-phase-teams .map-draft-phase-button__avatar:hover .map-draft-phase-button__avatar-name
{
	brightness: 2;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.map-draft-phase-teams .map-draft-phase-button__avatar CSGOAvatarImage
{
	width: 36px;
	height: 36px;
}

.map-draft-phase-teams .avatar-teamcolor,.map-draft-phase-teams .avatar-image__default
{
	width: 36px;
	opacity: 0;
}

