/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.popup-videoclip-root
{
	vertical-align: center;
	horizontal-align: center;
	pre-transform-scale2d: 1;
	transform: translateY( 0px );
	min-width: 0px;
	opacity: 1.0;
	border-radius: 0px;
	flow-children: down;
	padding: 0px;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	background-color: rgb(0, 0, 0);
}

.popup-videoclip-root.Hidden
{
	opacity: 0;
}

#VideoClipMovie
{
	width: 600px;
	height: 400px;
	margin: 10px;
}

.clip-header
{
	width: 100%;
}

.clip-header #ClipTitle
{
	font-family: Stratum2 Condensed;
	font-size: 20px;
	horizontal-align: center;
	margin: 10px;
}

.clip-header #id-close-btn
{
	horizontal-align: right;
	wash-color:rgb(59, 59, 59);
	transition-property: wash-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}

.clip-header #id-close-btn:hover
{
	wash-color: white;
	background-color: black;
}

