/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.PopupPanel.Capability
{
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: .01;
	background-color: rgba(0, 0, 0, 0.532);
}

.popup-select-item-list
{
	height: fill-parent-flow(1);
	padding-top: 32px;
	margin: 0px 16px 0px 16px;
	horizontal-align: center;
	max-width: 1800px;
	overflow: clip scroll;
}

.popup-select-item-list-top-bar
{
	height:92px;
	background-color: rgba(0, 0, 0, 0.25);
	width: 100%;
}

.popup-select-item-list-top-bar ItemImage
{
	height: 92px;
	margin: 0px 16px;
}

.popup-select-item-empty-lister
{
	width: 100%;
	height: fill-parent-flow(1);
	vertical-align: center;
	horizontal-align: center;
}

.popup-select-item-empty-lister Image
{
	horizontal-align: center;
	margin-bottom: 16px;
}

.popup-select-item-empty-lister Label
{
	horizontal-align: center;
	text-align: center;
	width: 640px;
}

