/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.entry-row
{
	margin-left: 32px;
}

.entry-row TextEntry
{
	width: 400px;
}

.results-panel
{
	font-size: 14px;
	max-width: 500px;
	horizontal-align: left;
}

.not-vailid
{
	color: warningColor;
	text-overflow: noclip;
	height: 40px;
}

.validation-results-container
{
	margin-left: 28px;
	margin-right: 78px;
	padding: 0px;
}

.results-panel-valid .validation-results-container
{
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.avatar-container
{
	horizontal-align: center;
	width: 100%;
}

.results-panel-valid .validation-results-container:hover .simple-avatar
{
	background-color: #00000000;
}

