/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	width: 1000px;
	min-width: 1000px;
	max-width: 1000px;
	height: 90%;
}

.popup-tournamentcontrolroom-title-bar
{
	width: 100%;
	height: fit-children;
}

#id-popup-tournamentcontrolroom-title
{
	margin-bottom: 0px;
	width: fill-parent-flow( 1 );
}

#id-popup-tournamentcontrolroom-refresh-button.IconButton Image
{
	wash-color: #CCCCCC;
}

#id-popup-tournamentcontrolroom-refresh-button
{
	horizontal-align: right;
	visibility: collapse;
}

.tournamentcontrolroom_embedded #id-popup-tournamentcontrolroom-refresh-button
{
	visibility: visible;
}

.PopupButtonRow
{
	vertical-align: bottom;
	height: fill-parent-flow( .1 );
}

.popup-tournamentcontrolroom__contents
{
	vertical-align: center;
	horizontal-align: center;
	width: 100%;
	height: fill-parent-flow( .9 );
	flow-children: down;
}

.popup-tournamentcontrolroom__status
{
	vertical-align: center;
	horizontal-align: center;
	height: fill-parent-flow( .9 );
}

.popup-tournamentcontrolroom__tabs
{
	flow-children: right;
}

.popup-tournamentcontrolroom__contents .content-navbar
{
	padding: 0px 48px;
}

.popup-tournamentcontrolroom__list
{
	width: 100%;
	margin: 0px 32px;
	flow-children: down;
}

.popup-tournamentcontrolroom__entries-container
{
	width: 100%;
	flow-children: down;
	overflow: clip scroll;
}

.popup-tournamentcontrolroom__list__row
{
	flow-children: right;
	width: 100%;
	margin-bottom: 2px;
	padding: 0px 8px;
	transition-property: transform, brightness;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.popup-tournamentcontrolroom__list__row:Hover
{
	brightness: 3;
	transform: scale3d(1.03, 1.03, 1.03 );
	transition-property: transform, brightness;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.popup-tournamentcontrolroom__list__column
{
	width: fill-parent-flow( 4 );
	height: fit-children;
	margin-right:2px;
	flow-children: down;
}

.popup-tournamentcontrolroom__list__row .newentry
{
	visibility: collapse;
}

.popup-tournamentcontrolroom__list__row.newentry .newentry
{
	visibility: visible;
}

.popup-tournamentcontrolroom__list__row.newentry .nonewentry
{
	visibility: collapse;
}

.popup-tournamentcontrolroom__list__row.newentry
{
	border-bottom: 2px solid white;
	margin-bottom: 8px;
}

.popup-tournamentcontrolroom__list__row.newentry:Hover
{
	transform: scale3d(1.0, 1.0, 1.0 );
}

.popup-tournamentcontrolroom__list__row.newentry TextEntry,.popup-tournamentcontrolroom__list__row.newentry DropDown
{
	width: fill-parent-flow( 1 );
}

.popup-tournamentcontrolroom__list__row.background
{
	background-color: rgba(0, 0, 0, 0.25);
}

.local-player .popup-tournamentcontrolroom__list__column
{
	background-color: rgba(245, 245, 245, 0.05);
}

.popup-tournamentcontrolroom__list__column.team
{
	width: fill-parent-flow( 4 );
}

.popup-tournamentcontrolroom__list__column.score
{
	width: fill-parent-flow( 1 );
}

.popup-tournamentcontrolroom__list__column__title
{
	padding-left: 8px;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: medium;
	width: 360px;
	font-size: 18px;
}

.popup-tournamentcontrolroom__list__column__title.newentry
{
	font-size: 18px;
}

DropDown.PopupButton Label,DropDown.PopupButton:Selected Label,DropDown.PopupButton:focus Label
{
	margin: 8px 0px;
}

.popup-tournamentcontrolroom__list__column__title.faded
{
	opacity: .5;
}

.popup-tournamentcontrolroom__list__column__title.position
{
	width: 42px;
	font-weight: light;
	font-size: 18px;
}

.popup-tournamentcontrolroom__status.hidden,.popup-tournamentcontrolroom__list.hidden,#id-popup-tournamentcontrolroom-navbar.hidden
{
	visibility: collapse;
	opacity: 0;
}

.popup-tournamentcontrolroom__name-entry
{
	flow-children: right;
	padding-left: 8px;
	vertical-align: center;
}

#popup-tournamentcontrolroom-entry-name
{
	width: 300px;
	text-overflow: shrink;
	height: 24px;
}

.popup-tournamentcontrolroom__name-entry__avatar
{
	width: 38px;
	height: 38px;
}

.PopupPanel.tournamentcontrolroom_embedded.play_menu_survival
{
	margin: 24px 0px 16px 0px;
	height: 552px;
	horizontal-align: right;
	background-color: #00000000;
	border: 1px black;
	box-shadow: fill #00000055 0px 0px 8px 4px;
}

.tournamentcontrolroom_embedded .PopupButtonRow
{
	visibility: collapse;
}

.PopupButton.green Label,.popup-tournamentcontrolroom__list__column__title.green,.popup-tournamentcontrolroom__list__row.green Label
{
	color: #AAFFAA;
}

#ButtonFinalize.hidden
{
	visibility: collapse;
}

#ButtonFinalize
{
	margin-left: -50px;
	z-index: 3;
}

