/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.popup-operation-launch
{
	width: 100%;
	height: 100%;
	max-width: 100%;
	padding-bottom: 0px;
	flow-children: none;
}

.popup-operation-launch__movie
{
	width: 1920px;
	height: 1080px;
	overflow: noclip;
	horizontal-align: center;
}

.popup-operation-launch__buttons-row
{
	height: 96px;
	vertical-align: bottom;
	width: 100%;
	horizontal-align: right;
	padding-right: 64px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 10s;
	transition-timing-function: ease-in;
}

.popup-operation-launch__buttons-row__buy-Btn
{
	flow-children: right;
	vertical-align: center;
	margin-left: 32px;
}

.popup-operation-launch__buttons-row.show
{
	opacity: 1;
	transition-property: opacity;
	transition-duration: 10s;
	transition-timing-function: ease-in;
}

.popup-operation-launch__buttons-row__buy-Btn__label
{
	color: black;
	font-weight: bold;
	font-size: 20px;
	background-color: opCompleteColor;
	padding: 8px;
	border-radius: 3px;
	text-transform: uppercase;
	margin-left: 12px;
}

.popup-operation-launch__buttons-row__buy-Btn__label:hover
{
	color: opTenYellow;
	background-color: opTenDark;
}

