/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	background-color: none;
	box-shadow: none;
	border: 1px solid rgba(0,0,0,0);
}

.popup-rrs-root
{
	width: fit-children;
	max-width: 1300px;
}

.store-home-rewards-section-bg
{
	width: 100%;
	height: 100%;
	ignore-parent-flow:true;
	blur: mipmapgaussian(4, 4, 2);
	background-image: url("s2r://panorama/images/backgrounds/weekly_rewards_png.vtex");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-img-opacity: 1;
}

.rrs-popup__bg
{
	horizontal-align: center;
	flow-children: down;
}

.rrs-popup__desc
{
	horizontal-align: center;
	font-family: Stratum2;
	font-size: 20px;
	margin: 10px;
	padding: 20px;
}

.rrs-popup__frame
{
	margin: 20px;
}

.PopupButtonRow
{
	margin: 0px 32px 0px 32px;
}

