/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.PopupPanel
{
	width: 900px;
	height: 820px;
	padding-bottom: 0px;
}

.PopupPanel.major-24
{
	background-color: none;
	border: 0px solid black;
}

.PopupPanel.major-25
{
	border: 1px solid rgb(59, 45, 83);
}

.PopupPanel.major-25 Label
{
	color: groups-text-color-major-25;
}

.popup-leaderboard-title-bar
{
	width: 100%;
	height: fit-children;
}

#id-popup-leaderboard-title
{
	margin-bottom: 0px;
	width: fill-parent-flow( 1 );
}

#id-popup-leaderboard-refresh-button.IconButton Image
{
	wash-color: #CCCCCC;
}

#id-popup-leaderboard-refresh-button
{
	horizontal-align: right;
	visibility: collapse;
}

.leaderboard_embedded #id-popup-leaderboard-refresh-button
{
	visibility: visible;
}

.leaderboard_embedded .popup-leaderboard__bg
{
	visibility: collapse;
}

.popup-leaderboard__bg
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
}

.PopupButtonRow
{
	vertical-align: bottom;
	height: fit-children;
	margin-top: 0px;
	margin-bottom: 0px;
}

.popup-leaderboard__contents
{
	vertical-align: center;
	horizontal-align: center;
	width: 100%;
	height: fill-parent-flow( .9 );
	flow-children: down;
}

.popup-leaderboard__status
{
	vertical-align: center;
	horizontal-align: center;
	height: fill-parent-flow( .9 );
}

.popup-leaderboard__tabs
{
	flow-children: right;
}

.popup-leaderboard__contents .content-navbar
{
	padding: 0px 48px;
}

.popup-leaderboard__list
{
	width: 100%;
	margin: 0px 32px;
	flow-children: down;
}

.popup-leaderboard__entries-container
{
	width: 100%;
	flow-children: down;
	overflow: clip scroll;
}

.popup-leaderboard__list__row
{
	flow-children: right;
	width: 100%;
	margin-bottom: 2px;
	padding: 0px 8px;
	transition-property: transform, brightness;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.popup-leaderboard__list__row:not(.header_row):Hover
{
	brightness: 3;
	transform: scale3d(1.01, 1.01, 1.01 );
	transition-property: transform, brightness;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.popup-leaderboard__list__column
{
	width: fill-parent-flow( 4 );
	height: 40px;
	margin-right:2px;
}

.popup-leaderboard__list__column.background
{
	background-color: rgba(0, 0, 0, 0.25);
}

.major-25 .popup-leaderboard__list__column.background
{
	background-color: rgba(60, 42, 70, 0.5);
}

.local-player .popup-leaderboard__list__column
{
	background-color: rgba(245, 245, 245, 0.05);
}

.major-25 .local-player .popup-leaderboard__list__column
{
	background-color: rgba(99, 75, 112, 0.5);
}

.popup-leaderboard__list__column.rating
{
	width: 60px;
}

.popup-leaderboard__list__column.rating .rating-root
{
	horizontal-align: center;
	vertical-align: center;
}

.popup-leaderboard__list__column.rank
{
	width: fill-parent-flow( 2 );
}

.popup-leaderboard__list__column.itemimage
{
	width: fill-parent-flow( 1.5 );
}

.popup-leaderboard__list__column.name
{
	flow-children: right;
	width: fill-parent-flow( 10 );
}

.hide-global-rank .popup-leaderboard__list__column.rank
{
	visibility: collapse;
}

.popup-leaderboard__list__column__title
{
	padding-left: 8px;
	font-weight: medium;
	height: 24px;
	text-overflow: ellipsis;
}

.popup-leaderboard__list__column__title.faded
{
	opacity: .5;
}

.popup-leaderboard__list__column__title.rank
{
	width: 42px;
	font-weight: light;
	font-size: 16px;
}

.popup-leaderboard__list__column.score
{
	flow-children: left;
	padding-right: 20px;
}

.header_row .popup-leaderboard__list__column.score
{
	padding-right: 8px;
}

.popup-leaderboard__list__column.itemimage
{
	flow-children: none;
	horizontal-align: center;
}

.popup-leaderboard__list__column.itemimage ItemImage
{
	padding: 1px;
	horizontal-align: center;
	vertical-align: center;
	height: 100%;
	width: height-percentage( 132% );
}

.popup-leaderboard__status.hidden,.popup-leaderboard__list.hidden,#id-popup-leaderboard-navbar.hidden
{
	visibility: collapse;
	opacity: 0;
}

.popup-leaderboard__name-entry
{
	flow-children: right;
	padding-left: 8px;
	vertical-align: center;
}

#popup-leaderboard-entry-name
{
	width: 500px;
	text-overflow: shrink;
	height: 24px;
}

.popup-leaderboard__name-entry__avatar
{
	width: 38px;
	height: 38px;
}

.PopupPanel.leaderboard_embedded.play_menu_survival
{
	margin: 24px 0px 16px 0px;
	height: 552px;
	horizontal-align: right;
	background-color: #00000000;
	border: 1px black;
	box-shadow: fill #00000055 4px 0px 8px 4px;
}

.leaderboard_embedded.play_menu_survival .popup-leaderboard__list__column.rank
{
	visibility: collapse;
}

.leaderboard_embedded .PopupButtonRow
{
	visibility: collapse;
}

.PopupPanel.major-hub-popup-leaderboard .PopupTitle
{
	letter-spacing: 4px;
	font-family: Stratum2 Light Condensed, "Arial Unicode MS";
}

.popup-major-hub #id-leaderboard.leaderboard_embedded
{
	width: 300px;
	height: 145px;
	min-width: 300px;
	max-width: 300px;
	vertical-align: top;
	horizontal-align: right;
	margin-right: 42px;
	margin-top: 8px;
	padding: 0px;
	background-color: none;
	border: 0px solid white;
	box-shadow: none;
	ui-scale: 92%;
}

.major-24.popup-major-hub #id-leaderboard.leaderboard_embedded
{
	height: 155px;
}

.major-25.popup-major-hub #id-leaderboard.leaderboard_embedded
{
	height: 155px;
}

.popup-major-hub #id-leaderboard.leaderboard_embedded.leaderboard-has-nodata
{
	opacity: 0;
	visibility: collapse;
}

.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard-title-bar
{
	height: 32px;
}

.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard-title-bar .PopupTitle
{
	padding: 1px;
	font-size: 16px;
	margin-left: 8px;
	font-weight: normal;
	text-transform: uppercase;
	color: white;
	background-color: #00000000;
	font-family: Stratum2 Medium Condensed, "Arial Unicode MS";
}

.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard-title-bar .IconButton
{
	opacity: 0;
	visibility: collapse;
}

.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents
{
	height: 100%;
}

.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__list
{
	margin: 0px;
}

.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__list .header_row
{
	opacity: 0;
	visibility: collapse;
}

.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__list .popup-leaderboard__entries-container
{
	overflow: clip;
}

.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__list .popup-leaderboard__list__row:Hover
{
	transform: scale3d( 1.0, 1.0, 1.0 );
}

.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__list .local-player .popup-leaderboard__list__column
{
	background-color: rgba( 245, 245, 245, 0.01 );
}

.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__list .popup-leaderboard__list__column
{
	height: 26px;
}

.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__list .popup-leaderboard__list__column.rank
{
	opacity: 0;
	visibility: collapse;
}

.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__list .popup-leaderboard__list__column.score
{
	width: fill-parent-flow( 2 );
}

.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__list .popup-leaderboard__name-entry__avatar
{
	opacity: 0;
	visibility: collapse;
}

.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__list .popup-leaderboard__list__column__title
{
	font-size: 12px;
	height: 14px;
	vertical-align: center;
	font-family: Stratum2, "Arial Unicode MS";
	color: baseText;
}

.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__list .popup-leaderboard__list__column.itemimage ItemImage
{
	padding: 2px;
	horizontal-align: center;
	vertical-align: center;
	height: 100%;
	width: height-percentage( 125% );
}

.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__list .popup-leaderboard__list__column.background
{
	background-color: rgba(0, 0, 0, 0.5);
}

.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__status
{
	opacity: 0;
	visibility: collapse;
}

.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__status .PopupMessage
{
	font-size: 10px;
}

.major-24.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard-title-bar .PopupTitle
{
	color: groups-text-color-major-24;
	font-family: Stratum2 Medium, "Arial Unicode MS";
	font-size: 12px;
	opacity: .65;
}

.major-24.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__list .popup-leaderboard__list__column.background
{
	background-color: rgba(0, 0, 0, 0.25);
}

.major-24.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__list .popup-leaderboard__list__column__title
{
	color:groups-text-color-major-24;
}

.major-24.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__list .popup-leaderboard__list__row:not(.header_row):Hover
{
	brightness: 1;
}

.major-24.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__list .popup-leaderboard__list__row:not(.header_row):Hover .popup-leaderboard__list__column.background
{
	background-color:rgba(43, 34, 24, 0.226);
}

.major-24.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents
{
	border: 4px solid rgba(92, 74, 36, 0.212);
	padding: 4px 0px;
}

.major-25.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__list .popup-leaderboard__list__column.background
{
	background-color: #271e35b2;
}

.major-25.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__list .popup-leaderboard__list__column__title
{
	color:groups-text-color-major-25;
}

.major-25.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__list .popup-leaderboard__list__row:not(.header_row):Hover
{
	brightness: 1;
}

.major-25.popup-major-hub #id-leaderboard.leaderboard_embedded .popup-leaderboard__contents .popup-leaderboard__list .popup-leaderboard__list__row:not(.header_row):Hover .popup-leaderboard__list__column.background
{
	background-color: #332846b2;
}

.major-24.PopupPanel.major-hub-popup-leaderboard .PopupTitle
{
	letter-spacing: 4px;
	font-family: Stratum2 medium Condensed, "Arial Unicode MS";
	background-color: none;
}

.major-24 .popup-leaderboard__list__column__title
{
	opacity: 1;
}

.major-24 .local-player .popup-leaderboard__list__column
{
	background-color: rgba(245, 245, 245, 0.125);
}

.major-24 Label
{
	color: groups-text-color-major-24;
}

