/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	width: 1200px;
}

.PopupPanel--wide
{
	width: 1600px;
}

.popup-permissions-settings-block
{
	width: fit-children;
	height: fit-children;
	horizontal-align: middle;
	flow-children: down;
}

.popup-permissions-settings
{
	width: fit-children;
	height: fit-children;
	flow-children: down;
	horizontal-align: left;
}

.popup-permissions-settings--right
{
	width: 100%;
	height: fit-children;
	flow-children: right;
	horizontal-align: left;
}

.popup-permissions-settings--bg
{
	background-color: #00000020;
	padding-bottom: 0px;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.popup-permissions-settings.hidden
{
	background-color: #00000000;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.popup-permissions-setting__inset
{
	margin: 8px 0px 8px 0px;
	width:100%;
	height: fit-children;
	flow-children: down;
	background-color: #00000000;
	horizontal-align: middle;
	opacity: 1;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.popup-permissions-setting__inset.hidden
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.popup-permissions-settings .PopupButton
{
	vertical-align: middle;
	horizontal-align: left;
}

.popup-permissions-settings .PopupButton.Row.FillRemainingWidth
{
	width: fill-parent-flow(1);
}

.popup-permissions-setting__text
{
	margin: 0px 0px 0px 16px;
	font-size: 16px;
	color: disabledColor;
	opacity: .7;
}

