/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define window-background-color: #263238;
@define blueColor:rgb(16, 90, 133);
@define lightCoolGreyColor: #B0BEC5;
@define headerBarColor: #37474F;
.collection-laptop-container
{
	transform: translateY(0px);
	width: 100%;
	max-width: 100%;
	height: 100%;
	background-color: none;
	padding: 0px;
	box-shadow: none;
	flow-children: none;
	perspective-origin: 50% 100%;
	perspective: 2400px;
	visibility: collapse;
	opacity: 1;
}

.collection-laptop-container.show
{
	visibility: visible;
}

.collection-laptop-container.show .collection-laptop
{
	animation-name: open-screen-anim;
	animation-delay: .4s;
	animation-duration: .4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes 'open-screen-anim'
{
	from
	{
		opacity: .5;
		transform: rotateX( -40deg ) translateY(-60px) scale3d( 1.05, 1.05, 1);
	}
	
	40%
	{
		opacity: .5;
		transform: rotateX( 2deg ) translateY(-60px) scale3d( 1.0, 1.0, 1);
	}
	
	70%
	{
		opacity: 1;
		transform: rotateX( 0deg ) translateY(-60px);
	}
	
	100%
	{
		opacity: 1;
		transform: rotateX( 0deg ) translateY(-60px);
	}
	
}

.finger-print
{
	width: 128px;
	height: 128px;
	transform-origin: 50% 50%;
	opacity: 0;
	background-image:url("s2r://panorama/images/backgrounds/single-finger-print_psd.vtex");
	background-position: 50% 50%;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.laptop-broken-white,.laptop-cracked-screen,.laptop-finger-prints,.laptop-screen-gradient,.laptop-screen-gradient-orange,.laptop-broken-screen,.laptop-broken-screen-mask
{
	width: 1405px;
	height: 915px;
	margin: 4px;
	border-radius: 25px;
	z-index: 3;
}

.laptop-screen-gradient
{
	background-color: gradient( radial, 0% 35%, 0% 0%, 80% 70%, from( rgba(235, 228, 200, 0.03) ), to( rgba(255, 255, 255, 0) ));
}

.laptop-screen-gradient-orange
{
	background-color: gradient( radial,100% 50%, 0% 0%, 50% 80%, from( rgba(202, 165, 16, 0.05) ), to( rgba(255, 255, 255, 0) ));
}

.laptop-flash-white
{
	horizontal-align: center;
	vertical-align: center;
	background-color: rgb(255, 255, 255);
	box-shadow: fill rgb(255, 255, 255) 0px 0px 120px 120px;
	opacity: 1;
	visibility: collapse;
}

@keyframes 'broken-flash-anim'
{
	from
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

.laptop-cracked-screen
{
	visibility: collapse;
}

.cracked .laptop-cracked-screen
{
	visibility: visible;
	opacity: 0;
	animation-name: cracked-screen-anim;
	animation-duration: .25s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes 'cracked-screen-anim'
{
	0%
	{
		opacity: 0;
		clip:rect(60%, 0%, 0%, 0% );
	}
	
	100%
	{
		opacity: 1;
		clip:rect(0%, 100%, 100% ,0% );
	}
	
}

.laptop-broken-screen
{
	contrast: 1;
	visibility: collapse;
}

.broken-screen .laptop-broken-screen
{
	opacity: 1;
	visibility: visible;
	animation-name: broken-screen-anim;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'broken-screen-anim'
{
	from
	{
		opacity: 1;
		brightness: 1;
		saturation: 1;
		contrast: 1;
	}
	
	60%
	{
		opacity: 1;
		brightness: 1;
		saturation: 1;
		contrast: 1;
	}
	
	62%
	{
		opacity: 1;
		brightness: 1.1;
		saturation: .7;
		contrast: -1;
	}
	
	64%
	{
		opacity: 1;
		brightness: 1;
		saturation: 1;
		contrast: 1;
	}
	
	100%
	{
		opacity: 1;
		brightness: 1;
		saturation: 1;
		contrast: 1;
	}
	
}

.collection-laptop
{
	width: 1405px;
	height: 915px;
	border-radius: 25px;
	vertical-align: bottom;
	horizontal-align: center;
	background-color: rgb(0, 0, 0);
	opacity: 0;
	transform-origin: 50% 100%;
	transform: rotateX( -40deg ) translateY(-80px);
	transition-property: transform;
	transition-duration: .75s;
	transition-timing-function: ease-in-out;
}

.collection-laptop .collection-laptop__screen
{
	width: 100%;
	height: 100%;
	margin: 4px;
	vertical-align: center;
	horizontal-align: center;
	background-color: black;
	flow-children: down;
	border-radius: 25px;
	background-image: url("s2r://panorama/images/backgrounds/noise_bg_laptop_png.vtex");
	background-size: auto auto;
	background-img-opacity: 0.5;
}

.main-title-bar
{
	width: 100%;
	height: 48px;
	background-color: window-background-color;
	margin: 6px 10px 0px 8px;
	border-top-right-radius: 14px;
	border-top-left-radius: 14px;
}

.main-title-bar .main-title-bar__left
{
	flow-children: right;
	vertical-align: center;
}

.main-title-bar .main-title-bar__left .main-title-bar__deal-icon
{
	vertical-align: center;
	margin: 0px 16px;
	wash-color: lightCoolGreyColor;
}

.main-title-bar .main-title-bar__left .main-title-bar__app-title
{
	margin-left: 8px;
	font-size: 20px;
	letter-spacing: 8px;
	color: headerBarColor;
	font-family: Stratum2 Black Italic, "Arial Unicode MS";
	text-shadow: 4px 1px 4px 2.0 #000000;
}

.main-title-bar .main-title-bar__left .main-title-bar__version
{
	margin-left: 8px;
	font-size: 12px;
	vertical-align: bottom;
	vertical-align: center;
	color: headerBarColor;
}

.main-title-bar .main-title-bar__right
{
	horizontal-align: right;
	flow-children: right;
	height: 100%;
}

.main-title-bar .main-title-bar__right .main-title-bar__vpn
{
	vertical-align: center;
	margin: 0px 16px 0px 12px;
	wash-color: headerBarColor;
	tooltip-position: bottom;
}

.main-title-bar .main-title-bar__right .main-title-bar__vpn.connected
{
	wash-color: none;
}

.main-title-bar .main-title-bar__right .main-title-bar__signal
{
	flow-children: left;
	vertical-align: middle;
	tooltip-position: bottom;
}

.main-title-bar .main-title-bar__right .main-title-bar__signal .bar,.main-title-bar .main-title-bar__right .main-title-bar__signal .bar-middle,.main-title-bar .main-title-bar__right .main-title-bar__signal .bar-short
{
	height: 15px;
	width: 3px;
	background-color: headerBarColor;
	vertical-align: bottom;
	margin: 2px;
}

.main-title-bar .main-title-bar__right .main-title-bar__signal .bar-middle
{
	height: 10px;
}

.main-title-bar .main-title-bar__right .main-title-bar__signal .bar-short
{
	height: 5px;
}

.main-title-bar .main-title-bar__right .main-title-bar__signal.connected-0 .bar,.main-title-bar .main-title-bar__right .main-title-bar__signal.connected-0 .bar-middle,.main-title-bar .main-title-bar__right .main-title-bar__signal.connected-0 .bar-short
{
	background-color: lightCoolGreyColor;
}

.main-title-bar .main-title-bar__right .main-title-bar__signal.connected-1 .bar-middle,.main-title-bar .main-title-bar__right .main-title-bar__signal.connected-1 .bar-short
{
	background-color: lightCoolGreyColor;
}

.main-title-bar .main-title-bar__right .main-title-bar__battery
{
	flow-children: right;
	vertical-align: center;
	margin-right: 12px;
	tooltip-position: bottom;
	tooltip-body-position: 0% 100%;
}

.main-title-bar .main-title-bar__right .main-title-bar__battery .main-title-bar__battery-tip
{
	vertical-align: center;
	height: 6px;
	width: 3px;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	background-color: lightCoolGreyColor;
	margin-left: 1px;
}

.main-title-bar .main-title-bar__right .main-title-bar__battery .main-title-bar__battery-cell
{
	height: 12px;
	width: 24px;
	border-radius: 3px;
	border: 1px solid lightCoolGreyColor;
}

.main-title-bar .main-title-bar__right .main-title-bar__battery .main-title-bar__battery-cell .main-title-bar__battery-bar
{
	vertical-align: center;
	background-color: positiveColor;
	width: 100%;
	height: 100%;
}

.main-title-bar .main-title-bar__right .main-title-bar__battery .main-title-bar__battery-cell .main-title-bar__battery-bar.yellow
{
	background-color: warningColor;
}

.main-title-bar .main-title-bar__right .main-title-bar__battery .main-title-bar__battery-cell .main-title-bar__battery-bar.green
{
	background-color: positiveColor;
}

.main-title-bar .main-title-bar__right .main-title-bar__battery .main-title-bar__battery-cell .main-title-bar__battery-bar.red
{
	background-color: negativeColor;
}

.main-title-bar .main-title-bar__right .main-title-bar__btn-exit
{
	vertical-align: center;
	width: 48px;
	height: 100%;
	background-color: headerBarColor;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.main-title-bar .main-title-bar__right .main-title-bar__btn-exit Image
{
	vertical-align: center;
	horizontal-align: center;
	wash-color: rgb(180, 180, 180);
	transition-property: wash-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.main-title-bar .main-title-bar__right .main-title-bar__btn-exit:hover
{
	background-color: negativeColor;
}

.main-title-bar .main-title-bar__right .main-title-bar__btn-exit:hover Image
{
	vertical-align: center;
	horizontal-align: center;
	wash-color: rgb(255, 255, 255);
}

.main-title-bar .main-title-bar__right .main-title-bar__btn-exit:active
{
	sound: "UI.Laptop.Click";
}

.window__weapon-preview__camera-hints
{
	flow-children: left;
	vertical-align: bottom;
	horizontal-align: right;
	margin: 4px;
	wash-color: lightCoolGreyColor;
	z-index: 3;
}

.window__weapon-preview__camera-hints Image
{
	vertical-align: center;
	margin:8px;
	tooltip-position: left;
	tooltip-body-position: 0% 100%;
}

.window__title-bar
{
	height:28px;
	width: 100%;
	background-color: headerBarColor;
	border-bottom: 1px solid #21262e;
}

.window__title-bar .window__title-bar__title
{
	font-size: 16px;
	letter-spacing: 2px;
	padding-left: 16px;
	vertical-align: center;
	transform: translateY( -1px );
	color: #78909C;
	height: 16px;
	text-overflow: ellipsis;
}

.chat-message__avatar
{
	vertical-align: bottom;
	height:32px;
	width: 32px;
	margin-right: 6px;
	border: 1px solid rgb(122, 122, 122);
	transition-property: position;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.window__dealer-chat
{
	width: 480px;
	height: 100%;
	margin: 10px 10px 8px 8px;
	flow-children: down;
	border-bottom-left-radius: 14px;
	background-color: window-background-color;
}

.window__dealer-chat .chat-messages-container
{
	width: 100%;
	height: fill-parent-flow( 1 );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( window-background-color ), to( #1a1d20 ) );
	background-image: url("s2r://panorama/images/backgrounds/noise_bg_grid_png.vtex");
	background-size: auto auto;
	background-position: 15px 33px;
	background-repeat: no-repeat;
	background-img-opacity: 0.03;
	transition-property: background-color;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.window__dealer-chat .chat-messages-container .chat-messages-bg
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #b3b3b3be ), to( #131313be ) );
	opacity: 0;
	transition-property: wash-color, opacity;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.window__dealer-chat .chat-messages-container .chat-messages-bg.show
{
	opacity: .2;
	transition-property: wash-color, opacity;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.window__dealer-chat .chat-messages-container .chat-messages-bg-icon
{
	vertical-align: center;
	horizontal-align: center;
	opacity: .18;
	wash-color: blueColor;
	brightness: 0;
}

.window__dealer-chat .chat-messages
{
	height: 100%;
	flow-children: down;
	overflow: clip scroll;
	margin-top: 8px;
	padding-bottom: 16px;
	width: 100%;
}

.window__dealer-chat .chat-messages .chat-message
{
	flow-children: right;
	margin: 8px;
	visibility: collapse;
	opacity: 0;
	transform: translateY(-15px);
	brightness: 1;
	transition-property: transform, opacity, brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.window__dealer-chat .chat-messages .chat-message .chat-message__body
{
	background-color: rgba(0, 0, 0, 0.637);
	max-width: 380px;
	padding: 6px 10px;
	border-radius: 4px;
	vertical-align: bottom;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.45);
}

.window__dealer-chat .chat-messages .chat-message .chat-message__body.placeholder
{
	background-color: none;
	color: rgba(255, 0, 0, 0);
	opacity: 0;
}

.window__dealer-chat .chat-messages .chat-message .chat-message__arrow
{
	wash-color:rgb(0, 0, 0);
	transform: translateY(-8px);
	vertical-align: bottom;
	opacity: .6;
}

.window__dealer-chat .chat-messages .chat-message .chat-message__avatar
{
	margin-right: 6px;
}

.window__dealer-chat .chat-messages .chat-message.chat-message-system
{
	margin: 4px;
	horizontal-align:center;
}

.window__dealer-chat .chat-messages .chat-message.chat-message-system .chat-message__body
{
	background-color: none;
	max-width: 380px;
	padding: 0px;
	horizontal-align:center;
	text-align: center;
	font-size: 13px;
	color: grey;
}

.window__dealer-chat .chat-messages .chat-message.chat-message-system.chat-message-system--steam
{
	flow-children: down;
}

.window__dealer-chat .chat-messages .chat-message.chat-message-system.chat-message-system--steam .chat-message__body
{
	font-size: 13px;
	padding: 2px 8px;
	color: rgb(236, 214, 12);
}

.window__dealer-chat .chat-messages .chat-message.chat-message-system.chat-message-system--steam Image
{
	wash-color: rgb(236, 214, 12);
	horizontal-align: center;
}

.window__dealer-chat .chat-messages .chat-message.chat-message-system.chat-message-system--success
{
	flow-children: down;
	horizontal-align: center;
	margin: 16px 8px 8px 8px;
	background-color: rgba(0, 0, 0, 0.301);
	border-radius: 6px;
	padding: 16px;
}

.window__dealer-chat .chat-messages .chat-message.chat-message-system.chat-message-system--success .chat-message__body
{
	font-size: 16px;
	padding: 2px 8px;
	color: #26882b;
	vertical-align: center;
}

.window__dealer-chat .chat-messages .chat-message.chat-message-system.chat-message-system--success Image
{
	wash-color: #26882b;
	height: 32px;
	width: 32px;
	horizontal-align: center;
}

.window__dealer-chat .chat-messages .chat-message.chat-message-wait .chat-message-wait__dots
{
	background-color: rgba(0, 0, 0, 0.637);
	flow-children: right;
	border-radius: 4px;
	padding: 4px 6px;
}

.window__dealer-chat .chat-messages .chat-message.chat-message-wait .chat-message-wait__dots .chat-message-wait__dot
{
	width: 6px;
	height: 6px;
	margin: 8px 3px;
	border-radius: 50%;
	background-color: rgb(223, 223, 223);
	animation-name: wait-bounce;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.window__dealer-chat .chat-messages .chat-message.chat-message-wait .chat-message-wait__dots .chat-message-wait__dot.dot--2
{
	animation-delay: .2s;
}

.window__dealer-chat .chat-messages .chat-message.chat-message-wait .chat-message-wait__dots .chat-message-wait__dot.dot--3
{
	animation-delay: .4s;
}

.window__dealer-chat .chat-messages .chat-message .offer-message
{
	flow-children: right;
	margin: 0px;
	visibility: collapse;
	vertical-align: bottom;
	opacity: 0;
	transform: translateY(-15px);
	border-radius: 4px;
	height: 80px;
	background-color: rgb(230, 230, 230);
	box-shadow: fill rgba(128, 128, 128, 0) 0px 0px 1px 1px;
	transition-property: transform, opacity, height, box-shadow;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.window__dealer-chat .chat-messages .chat-message .offer-message.show
{
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
}

.window__dealer-chat .chat-messages .chat-message .offer-message.glow-color-rarity-0
{
	box-shadow: fill color-rarity-alpha-default 0px 0px 75px 1px;
}

.window__dealer-chat .chat-messages .chat-message .offer-message.glow-color-rarity-1
{
	box-shadow: fill color-rarity-alpha-common 0px 0px 75px 1px;
}

.window__dealer-chat .chat-messages .chat-message .offer-message.glow-color-rarity-2
{
	box-shadow: fill color-rarity-alpha-uncommon 0px 0px 75px 1px;
}

.window__dealer-chat .chat-messages .chat-message .offer-message.glow-color-rarity-3
{
	box-shadow: fill color-rarity-alpha-rare 0px 0px 75px 1px;
}

.window__dealer-chat .chat-messages .chat-message .offer-message.glow-color-rarity-4
{
	box-shadow: fill color-rarity-alpha-mythical 0px 0px 75px 1px;
}

.window__dealer-chat .chat-messages .chat-message .offer-message.glow-color-rarity-5
{
	box-shadow: fill color-rarity-alpha-legendary 0px 0px 75px 1px;
}

.window__dealer-chat .chat-messages .chat-message .offer-message.glow-color-rarity-6
{
	box-shadow: fill color-rarity-alpha-ancient 0px 0px 75px 1px;
}

.window__dealer-chat .chat-messages .chat-message .offer-message.glow-color-rarity-7
{
	box-shadow: fill color-rarity-alpha-immortal 0px 0px 75px 1px;
}

.window__dealer-chat .chat-messages .chat-message .offer-message.glow-color-rarity-99
{
	box-shadow: fill color-rarity-alpha-unusual 0px 0px 75px 1px;
}

.window__dealer-chat .chat-messages .chat-message .offer-message.rejected
{
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0.637);
}

.window__dealer-chat .chat-messages .chat-message .offer-message.rejected #id-offer-desc
{
	font-weight: normal;
}

.window__dealer-chat .chat-messages .chat-message .offer-message.rejected .offer-message__label
{
	color: rgba(255, 255, 255, 0.45);
	font-size: 16px;
	font-weight: normal;
}

.window__dealer-chat .chat-messages .chat-message .offer-message.rejected .offer-message__label-wear
{
	font-size: 14px;
	color: rgba(255, 255, 255, 0.45);
	font-weight: normal;
}

.window__dealer-chat .chat-messages .chat-message .offer-message.rejected .offer-message__small-label
{
	font-size: 14px;
	vertical-align: top;
	color: rgba(255, 255, 255, 0.45);
	font-weight: normal;
}

.window__dealer-chat .chat-messages .chat-message .offer-message.rejected .offer-message__item-image
{
	opacity: .5;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #79797959 ), to( #49494962 ) );
}

.window__dealer-chat .chat-messages .chat-message .offer-message .offer-message__container
{
	flow-children: down;
	vertical-align: center;
	padding: 0px 16px;
}

.window__dealer-chat .chat-messages .chat-message .offer-message .offer-message__attachment
{
	margin-right: 8px;
	vertical-align: center;
}

.window__dealer-chat .chat-messages .chat-message .offer-message .offer-message__item-image
{
	height: 80px;
	width: 110px;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #797979 ), to( #494949 ) );
	img-shadow: 0px 0px 4px 1.0 #050505;
	padding: 4px;
}

.window__dealer-chat .chat-messages .chat-message .offer-message .offer-message__rarity
{
	background-color: white;
	font-size: 14px;
	width: 4px;
	height: 100%;
	font-weight: normal;
}

.window__dealer-chat .chat-messages .chat-message .offer-message .offer-message__small-label
{
	font-size: 14px;
	vertical-align: top;
	color: black;
	font-weight: bold;
}

.window__dealer-chat .chat-messages .chat-message .offer-message .offer-message__label
{
	font-size: 16px;
	color: black;
	font-weight: bold;
}

.window__dealer-chat .chat-messages .chat-message .offer-message .offer-message__label-wear
{
	font-size: 14px;
	color: black;
	font-weight: bold;
}

.window__dealer-chat .chat-messages .chat-message.show
{
	visibility: visible;
	opacity: 1;
	transform: translateY( 0px );
}

.window__dealer-chat .chat-messages .chat-message.current-message
{
	brightness: 1.6;
	transition-property: transform, opacity, brightness;
	transition-duration: .25s, .25s, .25s;
	transition-timing-function: ease-in-out;
}

.window__dealer-chat .chat-user-responses
{
	width: 100%;
	flow-children: down;
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container
{
	flow-children: down;
	width: 100%;
	margin: 8px;
	height: 80px;
	opacity: 0;
	transform: translateY( 32px );
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container.show
{
	transform: translateY(0px);
	opacity: 1;
	visibility: visible;
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .chat-user-responses__title,.window__dealer-chat .chat-user-responses .chat-user-responses__container .chat-user-responses__desc
{
	width: 400px;
	font-size: 16px;
	margin-left: 6px;
	margin-bottom: 8px;
	color: #78909C;
	text-transform: uppercase;
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .chat-user-responses__desc
{
	font-size: 16px;
	font-weight: light;
	margin-bottom: 16px;
	opacity: .75;
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-price-tooltip
{
	vertical-align: center;
	wash-color: lightCoolGreyColor;
	tooltip-position: top;
	tooltip-body-position: 50% 100%;
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-price-tooltip.faded
{
	wash-color: #455A64;
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn
{
	margin: 4px 6px;
	border: 2px solid grey;
	tooltip-position: top;
	tooltip-body-position: 0% 100%;
	border-radius: 24px;
	transition-property: opacity, brightness,background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn Label
{
	font-family: Stratum2, "Arial Unicode MS";
	font-weight: normal;
	padding: 8px 12px;
	font-size: 16px;
	z-index: 2;
	-s2-mix-blend-mode: additive;
	text-align: center;
	horizontal-align: center;
	color: grey;
	letter-spacing: .5px;
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn .user-response-btn__timer
{
	width: 0px;
	height: 100%;
	vertical-align: bottom;
	transition-property: width;
	transition-duration: .1s;
	transition-timing-function: linear;
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn:active
{
	sound: "UI.Laptop.Click";
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn.blue
{
	background-color: rgb(5, 55, 61);
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn.blue Label
{
	color:rgb(5, 155, 175);
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn.blue .user-response-btn__timer
{
	background-color: rgb(5, 55, 61);
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn.positive
{
	border: 1px solid #4caf4f00;
	background-color: #16681d;
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn.positive Label
{
	color:rgb(163, 199, 147);
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn.positive .user-response-btn__timer
{
	background-color: #26882b;
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn.positive:hover:not(:disabled)
{
	box-shadow: fill #00000067 2px 2px 6px 1px;
	border: 1px solid rgb(57, 134, 59);
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn.yellow
{
	border: 1px solid #90A4AE;
	background-color: none;
	horizontal-align: right;
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn.yellow Label
{
	color: #9badb6;
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn.yellow .user-response-btn__timer
{
	background-color: #546E7A;
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn.negative
{
	border: 1px solid negativeColor;
	background-color: rgba(129, 40, 18, 0.15);
	horizontal-align: right;
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn.negative Label
{
	color:negativeColor;
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn.negative .user-response-btn__timer
{
	background-color: rgb(129, 41, 18);
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn:hover:not(:disabled)
{
	brightness: 1.6;
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn:disabled
{
	brightness: 1;
	border: 1px solid #455A64;
	background-color: #263238;
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn:disabled .user-response-btn__timer
{
	width: 0px;
}

.window__dealer-chat .chat-user-responses .chat-user-responses__container .user-response-btn:disabled Label
{
	color: #455A64;
}

.window__weapon-preview
{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.window__weapon-preview .window__weapon-preview__glow
{
	opacity: .4;
	width: 100%;
	height: 100%;
}

.window__weapon-preview .window__weapon-preview__gradient
{
	width: 100%;
	height: 100%;
	opacity: .0;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #7c7c7cc0 ), to( #222222 ) );
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.window__weapon-preview .window__weapon-preview__collection-icon
{
	opacity: .15;
	brightness: .25;
	padding: 20px;
	vertical-align: center;
	horizontal-align: center;
	-s2-mix-blend-mode: screen;
	z-index: 1;
	blur: gaussian( 5, 5, 3 );
}

.window__weapon-preview .window__weapon-preview__grid
{
	background-image: url("s2r://panorama/images/backgrounds/noise_bg_grid_png.vtex");
	background-size: auto auto;
	background-position: center;
	background-repeat: no-repeat;
	background-img-opacity: 0.5;
}

.window__weapon-preview .window__weapon-info
{
	transform: translateY(-200px);
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.window__weapon-preview.show
{
	opacity: 1;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.window__weapon-preview.show .window__weapon-info
{
	transform: translateY(0px);
	opacity: 1;
	transition-property: transform, opacity;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.window__weapon-preview.show .window__weapon-preview__gradient
{
	opacity: .6;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.window__weapon-info
{
	z-index: 2;
	flow-children:right;
	margin-top: 16px;
	horizontal-align: left;
	width: 100%;
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.window__weapon-info .window__weapon-info__letters-container
{
	background-color: black;
	flow-children: right;
	padding: 0px 8px;
}

.window__weapon-info .window__weapon-info__letters-container .window__weapon-info__name-letter
{
	font-size: 14px;
	width: 14px;
	vertical-align: center;
	font-weight: medium;
	text-align: center;
	text-transform: uppercase;
	padding: 6px 0px;
	color: lightCoolGreyColor;
	transform: translateY(-6px);
	transition-property: color, transform;
	transition-duration: .25s;
	transition-timing-function: linear;
}

.window__weapon-info .window__weapon-info__letters-container .window__weapon-info__name-letter.show
{
	opacity: 1;
	color:white;
	transform: translateY(0px);
}

.window__weapon-info .window__weapon-info__letters-container.rarity
{
	flow-children: right;
	background-color: headerBarColor;
	padding: 0px 8px;
}

.window__weapon-info .window__weapon-info__rarity
{
	width: 0px;
	height: 28px;
	vertical-align: center ;
	background-color: white;
}

.window__weapon-info__cert
{
	flow-children: right;
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 16px;
	transition-property: width;
	transition-duration: .1s;
	transition-timing-function: linear;
}

.window__weapon-info__cert .window__weapon-info__row
{
	flow-children: right;
	vertical-align: top;
	padding: 0px 16px;
}

.window__weapon-info__cert .window__weapon-info__row .window__weapon-info__row__title
{
	text-align: right;
	font-size: 14px;
	color:#8d9ba1;
	text-overflow: shrink;
}

.window__weapon-info__cert .window__weapon-info__row .window__weapon-info__row__desc
{
	text-align: left;
	font-size: 14px;
	color: lightCoolGreyColor;
	text-overflow: shrink;
}

.IconButton:active
{
	sound: "UI.Laptop.Click";
}

.window__weapon-info__bracket
{
	ignore-parent-flow: true;
	opacity: .1;
}

.window__weapon-info__bracket.top-right
{
	horizontal-align: right;
}

.window__weapon-info__bracket.top-left
{
	horizontal-align: left;
	transform: rotateZ(-90deg);
}

.window__weapon-info__bracket.bottom-right
{
	horizontal-align: right;
	vertical-align: bottom;
	transform: rotateZ(90deg);
}

.window__weapon-info__bracket.bottom-left
{
	horizontal-align: left;
	vertical-align: bottom;
	transform: rotateZ(180deg);
}

.window__weapon-wear
{
	margin-right: 16px;
	margin-bottom: 48px;
	vertical-align: bottom;
	horizontal-align: left;
	z-index: 3;
}

.window__weapon-wear .window__weapon-wear__rating-container
{
	background-color: black;
	flow-children: right;
	height: 32px;
	padding: 0px 8px;
	tooltip-position: top;
	border-right: 1px solid;
}

.window__weapon-wear .window__weapon-wear__rating-container Label
{
	text-align: center;
	font-size: 13px;
	width: 13px;
	color: lightCoolGreyColor;
	transform: translateY(-6px);
	transition-property: color, transform;
	transition-duration: .25s;
	transition-timing-function: linear;
}

.window__weapon-wear .window__weapon-wear__rating-container Label.show
{
	opacity: 1;
	color:white;
	transform: translateY(0px);
}

.window__weapon-wear .window__weapon-wear__name-container
{
	background-color: headerBarColor;
	height: 32px;
	flow-children: right;
	padding: 0px 8px;
	tooltip-position: top;
}

.window__weapon-wear .window__weapon-wear__name-container Label
{
	text-align: center;
	font-size: 13px;
	width: 13px;
	color: lightCoolGreyColor;
	transform: translateY(-6px);
	transition-property: color, transform;
	transition-duration: .25s;
	transition-timing-function: linear;
}

.window__weapon-wear .window__weapon-wear__name-container Label.show
{
	opacity: 1;
	color:white;
	transform: translateY(0px);
}

.window__weapon-wear .window__weapon-wear__graph__pointer
{
	width: 10px;
	height:8px;
	transform-origin: 50% 50%;
	transform: translateX(100% ) translateY(2px) scaleY(-1);
	z-index: 2;
	transition-property: transform;
	transition-duration: .35s;
	transition-timing-function: ease-in-out;
}

.window__weapon-wear .window__weapon-wear__graph-container
{
	height: 32px;
	flow-children: right;
	background-color: rgba(0, 0, 0, 0.5);
}

.window__weapon-wear .window__weapon-wear__graph-container .window__weapon-wear__graph
{
	width: 400px;
	flow-children: right;
	vertical-align: center;
	margin: 0px 0px;
	background-color: window-background-color;
}

.window__weapon-wear .window__weapon-wear__graph-container .window__weapon-wear__graph .window__weapon-wear__graph__segment
{
	background-color: rgba(255, 255, 255, 0.493);
	height: 10px;
	tooltip-position: top;
}

.window__weapon-wear .window__weapon-wear__graph-container .window__weapon-wear__graph .window__weapon-wear__graph__segment.factory-new
{
	width: 28px;
	background-color: #ECEFF1;
}

.window__weapon-wear .window__weapon-wear__graph-container .window__weapon-wear__graph .window__weapon-wear__graph__segment.minimal-wear
{
	width: 32px;
	vertical-align: bottom;
	background-color: lightCoolGreyColor;
}

.window__weapon-wear .window__weapon-wear__graph-container .window__weapon-wear__graph .window__weapon-wear__graph__segment.field-tested
{
	width: 92px;
	background-color: #78909C;
}

.window__weapon-wear .window__weapon-wear__graph-container .window__weapon-wear__graph .window__weapon-wear__graph__segment.well-worn
{
	width: 28px;
	vertical-align: bottom;
	background-color: #546E7A;
}

.window__weapon-wear .window__weapon-wear__graph-container .window__weapon-wear__graph .window__weapon-wear__graph__segment.battle-scarred
{
	width: 220px;
	background-color: #455A64;
}

.window__offer
{
	width: 100%;
	height: fill-parent-flow(1);
	background-color: window-background-color;
	margin: 10px 10px 8px 8px;
	flow-children: down;
	background-image: url("s2r://panorama/images/backgrounds/noise_bg_grid_png.vtex");
	background-size: auto auto;
	background-position: center;
	background-repeat: no-repeat;
	background-img-opacity: .05;
}

.window__offer .window__offer__preview-panel
{
	width: 100%;
	height: 100%;
	z-index: 1;
}

.window__weapon-original-owner
{
	horizontal-align: center;
	vertical-align: center;
	tooltip-position: top;
	saturation: 1;
	contrast: 1;
	transition-property: contrast;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.window__weapon-original-owner:hover
{
	contrast: -1;
	transition-property: contrast;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.window__bottom-row
{
	width: 100%;
	margin: 8px 10px 8px 8px;
	flow-children: right;
}

.window__bottom-row .window__bottom-row__section
{
	width: fill-parent-flow( 1 );
	height: 96px;
	background-color: window-background-color;
	flow-children: down;
	border-bottom-right-radius: 14px;
	background-image: url("s2r://panorama/images/backgrounds/noise_bg_grid_png.vtex");
	background-size: auto auto;
	background-position: 20px 35px;
	background-repeat: no-repeat;
	background-img-opacity: 0.05;
}

.window__bottom-row .window__bottom-row__section.narrow
{
	width: fill-parent-flow( .25 );
	border-bottom-right-radius: 0px;
}

.window__bottom-row .window__bottom-row__section.middle
{
	width: fill-parent-flow( .15 );
	border-bottom-right-radius: 0px;
}

.window__bottom-row .window__bottom-row__section.narrow .window__title-bar__title,.window__bottom-row .window__bottom-row__section.middle .window__title-bar__title
{
	text-align: center;
	horizontal-align: center;
	margin: 0px 4px;
	padding: 0px;
	text-overflow: ellipsis;
}

.window__bottom-row .window__bottom-row__section .window__bottom-row__section__time
{
	text-align: center;
	vertical-align: center;
	horizontal-align: center;
	font-size: 24px;
	color: lightCoolGreyColor;
	min-width: 100%;
	tooltip-position: top;
}

.offer-progress-container
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: right;
}

.offer-progress-container .offer-progress-box
{
	width: 18px;
	height: 18px;
	margin: 8px;
	background-color: rgba(36, 36, 36, 0.726);
	border: 1px solid lightCoolGreyColor;
	visibility: collapse;
	tooltip-position: top;
	transition-property: border, background-color;
	transition-duration: .5s;
	transition-timing-function: linear;
}

.offer-progress-container .offer-progress-box.declined
{
	background-color: rgb(14, 13, 13);
	border: 0px solid lightCoolGreyColor;
}

.offer-progress-container .offer-progress-box.active
{
	background-color: #ECEFF1;
	border: 0px solid lightCoolGreyColor;
}

.offer-collection__lootlist_progress
{
	flow-children: right;
	vertical-align: center;
	horizontal-align: center;
	width: 100%;
	margin: 0px 16px;
	opacity: 0;
	transform: translateY(5px);
	transition-property: opacity, transform;
	transition-duration: .5s;
	transition-timing-function: linear;
}

.offer-collection__lootlist_progress.show
{
	opacity: 1;
	transform: translateY(0px);
}

.offer-collection__lootlist_name
{
	margin: 0px 8px;
	color: lightCoolGreyColor;
	font-size: 20px;
	width: 200px;
	letter-spacing: 2px;
}

.offer-collection__lootlist_icon
{
	height: 48px;
	vertical-align: center;
}

.offer-collection__lootlist-btns
{
	flow-children: right;
	vertical-align: center;
	horizontal-align: right;
	tooltip-position: top;
	border-radius: 12px;
	border: 1px solid #485358;
	background-color: rgba(0, 0, 0, 0.15);
	box-shadow: hollow #00000000 2px 2px 6px 1px;
}

.offer-collection__lootlist-btns:hover
{
	border: 1px solid rgba(111, 129, 139, 0.78);
	brightness: 2;
	box-shadow: hollow #00000067 0px 0px 6px 1px;
	background-color: rgba(78, 78, 78, 0.15);
	transition-property: border, brightness, box-shadow;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.offer-collection__lootlist-btns:active
{
	sound: "UI.Laptop.Click";
}

.offer-collection__lootlist
{
	flow-children: right;
	padding: 2px;
	margin: 0px 2px;
	horizontal-align: center;
	tooltip-position: top;
	tooltip-body-position: 0% 50%;
	transition-property: border, brightness, box-shadow;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.offer-collection__lootlist .offer-collection__lootlist__item
{
	margin: 2px;
	width: 10px;
	height: 10px;
	border: 2px solid white;
	border-radius: 50%;
	opacity: .4;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.offer-collection__lootlist .offer-collection__lootlist__item.seen
{
	background-color: white;
	opacity: 1;
}

.offer-collection__lootlist .offer-collection__lootlist__item.seen-anim
{
	background-color: white;
	opacity: 1;
	animation-name: item-seen-anim;
	animation-delay: .4s;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes 'item-seen-anim'
{
	0%
	{
		transform: scale3d( 1, 1, 1 );
		box-shadow: none;
		brightness: 1.1;
	}
	
	35%
	{
		transform: scale3d( 1.1, 1.1, 1 );
		box-shadow: fill white 0px 0px 4px 1px;
		brightness: 5;
	}
	
	100%
	{
		transform: scale3d( 1, 1, 1 );
		box-shadow: none;
		brightness: 1;
	}
	
}

.offer-price
{
	color: rgb(68, 180, 15);
	font-weight: black;
}

.offer-declined
{
	color: warningColor;
}

.offer-active
{
	color: rgb(43, 129, 3);
	font-weight: black;
}

.laptop-app-title-prefix
{
	color:Black;
	font-family: Stratum2 Black Condensed, "Arial Unicode MS";
	text-shadow: none;
}

.window__weapon-preview__inspect-btn
{
	vertical-align: top;
	horizontal-align: right;
	margin: 16px 16px 0px 0px;
	z-index: 4;
	flow-children: right;
	border-radius: 24px;
	border: 1px solid lightCoolGreyColor;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.window__weapon-preview__inspect-btn Label
{
	font-family: Stratum2, 'Arial Unicode MS';
	font-size: 12px;
	margin:4px 8px;
	color: lightCoolGreyColor;
}

.window__weapon-preview__inspect-btn:hover
{
	brightness: 2;
}

@keyframes 'wait-bounce'
{
	0%
	{
		transform: translateY(0px);
	}
	
	25%
	{
		transform: translateY(-5px);
	}
	
	50%
	{
		transform: translateY(0px);
	}
	
}

.font-color-rarity-0
{
	font-weight: black;
	color:color-rarity-default;
}

.font-color-rarity-1
{
	font-weight: black;
	color:color-rarity-common;
}

.font-color-rarity-2
{
	font-weight: black;
	color:color-rarity-uncommon;
}

.font-color-rarity-3
{
	font-weight: black;
	color:color-rarity-rare;
}

.font-color-rarity-4
{
	font-weight: black;
	color:color-rarity-mythical;
}

.font-color-rarity-5
{
	font-weight: black;
	color:color-rarity-legendary;
}

.font-color-rarity-6
{
	font-weight: black;
	color:color-rarity-ancient;
}

.font-color-rarity-7
{
	font-weight: black;
	color:color-rarity-immortal;
}

.font-color-rarity-99
{
	font-weight: black;
	color:color-rarity-unusual;
}

.popup-lootlist-container
{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: linear;
}

.popup-lootlist-container.show
{
	visibility: visible;
	opacity: 1;
}

.popup-lootlist-container.show .popup-lootlist
{
	transform: translateY(0px) scaleY(1);
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: linear;
}

.popup-lootlist
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-right: 72px;
	margin-bottom: 80px;
	flow-children: down;
	background-color: window-background-color;
	width: 250px;
	transform-origin: 0% 100%;
	transform: translateY(40px);
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: linear;
	box-shadow: fill #0000005b 2px 2px 28px 1px;
}

.popup-lootlist .popup-lootlist__desc
{
	font-size: 14px;
	margin: 8px 16px;
	vertical-align: top;
	color: lightCoolGreyColor;
}

.popup-lootlist .popup-lootlist__list
{
	flow-children: down;
	width: 100%;
}

.popup-lootlist .popup-lootlist__list .popup-lootlist__list__section
{
	background-color: rgba(0, 0, 0, 0.315);
	margin: 4px 8px;
	width: 100%;
}

.popup-lootlist .popup-lootlist__list:last-child
{
	margin-bottom: 8px;
}

.popup-lootlist .popup-lootlist__list .popup-lootlist__list__section_items
{
	flow-children: down;
	padding: 16px;
	width: 100%;
}

.popup-lootlist .popup-lootlist__list .popup-lootlist__list__section_items .popup-lootlist__list__item
{
	flow-children: right;
	margin: 2px 0px 2px 0px;
	width: 100%;
}

.popup-lootlist .popup-lootlist__list .popup-lootlist__list__section_items .popup-lootlist__list__item .popup-lootlist__list__item__rarity
{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-right: 4px;
	vertical-align: center;
	border: 2px solid White;
	opacity: .5;
}

.popup-lootlist .popup-lootlist__list .popup-lootlist__list__section_items .popup-lootlist__list__item .popup-lootlist__list__item__name
{
	vertical-align: center;
	font-size: 14px;
	color: lightCoolGreyColor;
	border: 1px solid rgba(111, 129, 139, 0);
	border-radius: 12px;
	padding: 2px 8px 2px 8px;
	transition-property: border, brightness, box-shadow;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.popup-lootlist .popup-lootlist__list .popup-lootlist__list__section_items .popup-lootlist__list__item.seen .popup-lootlist__list__item__rarity
{
	background-color: white;
	opacity: 1;
}

.popup-lootlist .popup-lootlist__list .popup-lootlist__list__section_items .popup-lootlist__list__item:hover .popup-lootlist__list__item__name
{
	border: 1px solid rgba(111, 129, 139, 0.25);
	brightness: 2;
	box-shadow: hollow #00000067 0px 0px 6px 1px;
}

.popup-lootlist .popup-lootlist__list .popup-lootlist__list__section_items .popup-lootlist__list__section__progress
{
	font-size: 12px;
	color: #78909C;
}

.popup-lootlist .popup-lootlist__list .popup-lootlist__list__section_items .popup-lootlist__list__section__btn
{
	border: 1px solid rgba(111, 129, 139, 0.25);
	border-radius: 12px;
	horizontal-align: right;
	transition-property: border, brightness, box-shadow;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.popup-lootlist .popup-lootlist__list .popup-lootlist__list__section_items .popup-lootlist__list__section__btn Label
{
	font-size: 12px;
	text-align: center;
	margin: 4px 8px;
	font-family: Stratum2, "Arial Unicode MS";
	font-weight: normal;
}

.popup-lootlist .popup-lootlist__list .popup-lootlist__list__section_items .popup-lootlist__list__section__btn:hover:not(:disabled)
{
	border: 1px solid rgba(111, 129, 139, 0.479);
	brightness: 2;
	box-shadow: hollow #00000067 0px 0px 6px 1px;
}

.popup-lootlist .popup-lootlist__list .popup-lootlist__list__section_items .popup-lootlist__list__section__btn:disabled
{
	opacity: .20;
}

