/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.navdrawer
{
	width: 96px;
	height: 100%;
	vertical-align: bottom;
	horizontal-align: left;
	position: 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	min-width: 0px;
	opacity: 1.0;
	background-color: none;
	border: 0px solid #283a4e;
	border-radius: 0px;
	flow-children: none;
	transition-property: position;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
	opacity: 1.0;
}

.navdrawer__seperator
{
	height: 1px;
	width: 80%;
	opacity: .50;
	background-color: #3E3E3E;
	horizontal-align: center;
}

.navdrawer__btns-container
{
	flow-children: down;
	width: 96px;
	height: 100%;
	background-color: contextMenuBackground;
	box-shadow: #000000bb 4px 0px 8px 0px;
	vertical-align: bottom;
	horizontal-align: left;
}

.navdrawer__btns
{
	width:100%;
	height: 96px;
	wash-color: #3E3E3E;
	transition-property: wash-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.navdrawer__btns--bottom
{
	vertical-align: bottom;
}

.navdrawer__btns Image
{
	vertical-align: middle;
	horizontal-align: center;
	width: height-percentage( 100% );
	height: 32px;
}

.navdrawer__btns Label
{
	horizontal-align: center;
	text-align: center;
	vertical-align: bottom;
	font-size: 14px;
	font-weight: medium;
	padding-bottom: 16px;
	color: white;
}

.navdrawer__btns:hover
{
	wash-color: white;
	transition-property: wash-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.navdrawer.Hidden
{
	position: -96px 0px 0px;
	transition-property: position;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

