/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.popup-weapon-update
{
	width: 1200px;
	height: 640px;
	vertical-align: center;
	horizontal-align: center;
	pre-transform-scale2d: 1;
	transform: translateY( 0px );
	min-width: 0px;
	opacity: 1.0;
	border-radius: 0px;
	flow-children: none;
	padding: 0px;
	box-shadow: shadowOffset;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height;
	transition-duration: .2s;
	transition-timing-function: ease-in;
}

.popup-weapon-update.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "UIPanorama.ui_custom_lobby_dialog_slide";
}

.popup-weapon__model
{
	height: 80%;
	width: 100%;
	vertical-align: center;
	horizontal-align: right;
	brightness: 1;
	transition-property: brightness, transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

.popup-weapon__model.offscreen
{
	brightness: 0;
	transform: translateX( 100% );
	transition-property: brightness, transform;
	transition-delay: .75s, 0.0s;
	transition-duration: 0.2s, 0.5s;
	transition-timing-function: ease-in;
}

.popup-weapon__model-bg
{
	background-color: rgb(175, 175, 175);
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(196, 196, 196)), to( rgb(175, 175, 175)) );
	height: 60%;
	y: 40px;
	width: 100%;
	vertical-align: center;
	transition-property: transform, brightness, height, position;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
	animation-name: WeaponBgFadeLeftRight;
	animation-duration: 12s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes 'WeaponBgFadeLeftRight'
{
	0%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(210, 210, 210)), to( rgb(150, 150, 150)) );
	}
	
	25%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(150, 150, 150)), to( rgb(150, 150, 150)) );
	}
	
	50%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(150, 150, 150)), to( rgb(210, 210, 210)) );
	}
	
	75%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(150, 150, 150)), to( rgb(150, 150, 150)) );
	}
	
	100%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(210, 210, 210)), to( rgb(150, 150, 150)) );
	}
	
}

.popup-weapon__model-bg.offscreen
{
	brightness: 5;
	transform: translateX( -100% );
	transition-property: transform, brightness, height;
	transition-delay: 0.5s;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

.popup-weapon__model-bg.fillheight
{
	height: 100%;
	y: 8px;
}

.popup-weapon__info
{
	width: 100%;
	height: 100%;
	background-color: rgb(46, 46, 46);
	transition-property: width;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

.popup-weapon__info.offscreen
{
	transform: translateX( -100% );
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

.popup-weapon__info__top
{
	flow-children: right;
	width: 100%;
	padding: 16px 48px 0px 48px;
	transition-property: wash-color;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

.popup-weapon__info__top__left
{
	flow-children: down;
	horizontal-align: left;
	margin-right: 32px;
}

.popup-weapon__name
{
	font-size: 52px;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: bold;
	text-align: right;
	horizontal-align: right;
	vertical-align: top;
	color: white;
}

.popup-weapon__name.small
{
	font-size: 24px;
}

.popup-weapon__desc
{
	horizontal-align: left;
	vertical-align: top;
	text-align: left;
	vertical-align: center;
	width: 800px;
	height: fit-children;
	text-overflow: noclip;
}

.popup-weapon-label-dark
{
	wash-color: black;
}

.popup-weapon__info__footer
{
	flow-children: right;
	width: 100%;
	vertical-align: bottom;
	padding: 0px 48px 0px 48px;
	background-color: rgba(0, 0, 0, 0.308);
	border-top: 1px solid rgba(0, 0, 0, 0.75), 0, 0);
	height: 72px;
}

.popup-weapon__info__footer.offscreen
{
	transform: translateY( 100% );
	transition-property: transform;
	transition-delay: 1.5s;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

.popup-weapon__image
{
	transform: scaleX( -1 );
	horizontal-align: right;
}

.popup-weapon-equip_btn
{
	horizontal-align: right;
}

