/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define season-panel-width: 1440px;
@define season-panel-quarter-height: 114px;
@define season-panel-third-height: 358px;
@define season-panel-half-width: 236px;
@define season-panel-single-width: 480px;
@define season-panel-double-width: 960px;
@define season-panel-margin: 4px;
@define stat-title-font-size: 12px;
@define stat-value-font-size: 20px;
@define stat-value-font-large: 32px;
@define stats-title-color: #68B5DF;
@define stats-grid-bg-color: #27536b3f;
.not-loaded
{
	visibility: collapse;
	opacity: 0;
	transform: translateY( 50px );
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
	color:#1b48638a;
}

.stats-loaded .not-loaded
{
	visibility: visible;
	opacity: 1;
	transform: translateY( 0px );
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.stats-medal-model
{
	height: 400px;
	width: 600px;
	horizontal-align: center;
	transform: translateY( 16px) translateX( -460px);
	z-index: 5;
}

.stats-medal-model .stats-medal-model-zoom-btn
{
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 100px;
}

.stats-medal-model .stats-medal-model-zoom-btn Image
{
	wash-color: stats-title-color;
}

.model-panel-bg
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( rgba(31, 42, 71, 0.842) ), to( rgba(4, 27, 61, 0) ) );
	height: season-panel-third-height;
	width: season-panel-single-width;
	overflow: noclip;
	box-shadow: none;
	horizontal-align: center;
	transform: translateY( 68px) translateX( -476px);
}

.popup-season-stats-bg-particles
{
	width: 100%;
	height: 100%;
}

.stats-loading-panel
{
	width: 100%;
	height: 100%;
	margin: 6px;
	flow-children: down;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.stats-loaded .stats-loading-panel
{
	opacity: 0;
	animation-name: none;
}

.stats-loading-panel .stats-loading-panel-bar
{
	width: 60%;
	height: 18px;
	background-color: rgba(74, 100, 133, 0.178);
	border-radius: 5px;
	margin: 8px 0px 8px 0px;
	animation-name: loading-stats-anim;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: 0s;
	animation-timing-function: linear;
}

.stats-loading-panel .stats-loading-panel-bar.short
{
	width: 40%;
	animation-delay: .25s;
}

.stats-loading-panel .stats-loading-panel-bar.shorter
{
	width: 20%;
	animation-delay: .5s;
}

@keyframes 'loading-stats-anim'
{
	0%
	{
		transform: translateX( 0px);
	}
	
	50%
	{
		transform: translateX( 10px);
	}
	
	100%
	{
		transform: translateX( 0px);
	}
	
}

.popup-season-stats
{
	width: 100%;
	height: 100%;
	max-width: 100%;
	background-color: none;
	border: 0px solid white;
	margin: 0px;
	padding: 0px;
	background-color: rgba(0, 0, 0, 0.75);
	flow-children: none;
	background-image: url("s2r://panorama/images/backgrounds/bluedots_large_png.vtex");
	background-size: backgroundDotsSize;
	background-img-opacity: .01;
}

.popup-season-stats.season-1,.popup-season-stats.season-2,.popup-season-stats.season-3,.popup-season-stats.season-4,.popup-season-stats.season-5,.popup-season-stats.season-6 .popup-season-stats.season-7,.popup-season-stats.season-8,.popup-season-stats.season-9,.popup-season-stats.season-10
{
	background-color: gradient( linear, 0% -40%, 100% 0%, from( rgba(79, 114, 204, 0.616) ), to( rgba(4, 27, 61, 0.925) ) );
}

.popup-season-stats .stats-container
{
	width: season-panel-width;
	vertical-align: center;
	horizontal-align: center;
	height: 100%;
	margin: 64px 0px 48px 0px;
	flow-children: down;
}

.popup-season-stats .stats-panel
{
	background-color: rgb(30, 39, 61);
	margin: season-panel-margin;
	padding: 16px;
	height: season-panel-single-width;
	width: season-panel-single-width;
	box-shadow: shadowOffset;
}

.popup-season-stats .stats-panel.model-panel
{
	background-color: rgba(0, 0, 255, 0.0);
	height: season-panel-third-height;
	overflow: noclip;
	box-shadow: none;
}

.popup-season-stats .stats-panel.rank-panel,.popup-season-stats .stats-panel.spidergraph
{
	padding: 0px;
}

.popup-season-stats .stats-panel.rank-panel .stats-panel-title,.popup-season-stats .stats-panel.spidergraph .stats-panel-title
{
	padding: 16px;
}

.popup-season-stats .stats-panel.rank-history,.popup-season-stats .stats-panel.match-history
{
	padding: 16px 16px 6px 16px;
}

.popup-season-stats .stats-panel.maps-panel
{
	width: season-panel-double-width;
	height: 306px;
	padding: 0px;
	background-image: url("s2r://panorama/images/backgrounds/season_stats_background_png.vtex");
	background-position: 100% 68%;
	background-size: season-panel-width 1270px;
}

.popup-season-stats .stats-panel.maps-panel .stats-panel-title
{
	padding: 16px;
}

.popup-season-stats .stats-panel.rank-panel
{
	background-image: url("s2r://panorama/images/backgrounds/season_stats_background_png.vtex");
	background-position: 0% 14%;
	background-size: season-panel-width 1270px;
}

.popup-season-stats .stats-panel.spidergraph
{
	background-image: url("s2r://panorama/images/backgrounds/season_stats_background_png.vtex");
	background-position: 0% 62%;
	background-size: season-panel-width 1270px;
}

.popup-season-stats .stats-panel.global-stats
{
	height: 190px;
	width: season-panel-double-width;
	background-image: url("s2r://panorama/images/backgrounds/season_stats_background_png.vtex");
	background-position: 100% 0%;
	background-size: season-panel-width 1270px;
}

.popup-season-stats .stats-panel.rank-history
{
	background-image: url("s2r://panorama/images/backgrounds/season_stats_background_png.vtex");
	background-position: 100% 19%;
	background-size: season-panel-width 1270px;
}

.popup-season-stats .stats-panel.match-history
{
	background-image: url("s2r://panorama/images/backgrounds/season_stats_background_png.vtex");
	background-position: 100% 41%;
	background-size: season-panel-width 1270px;
}

.popup-season-stats .stats-panel.single-half-size-panel
{
	height: season-panel-half-width;
	width: season-panel-half-width;
}

.popup-season-stats .stats-panel.single-half-size-panel
{
	height: season-panel-half-width;
	width: season-panel-half-width;
}

.popup-season-stats .stats-panel.single-half-size-long-panel
{
	height: 222px;
	width: season-panel-double-width;
}

.popup-season-stats .stats-panel.single-quarter-height-single-long
{
	height: season-panel-quarter-height;
	width: season-panel-single-width;
}

.popup-season-stats .stats-panel-title
{
	font-family: Stratum2 Medium Condensed, "Arial Unicode MS";
	font-size: 18px;
	color: stats-title-color;
	opacity: .5;
	vertical-align: top;
}

.stat-container
{
	flow-children: down;
	vertical-align: center;
	width: fit-children;
	margin: 0px 14px;
}

.stat-container .stat-container-title
{
	font-size: stat-title-font-size;
	color: stats-title-color;
	horizontal-align: center;
	text-align: center;
	max-width: 60px;
	margin-right: 4px;
}

.stat-container .stat-container-icon
{
	horizontal-align: center;
	margin-bottom: 6px;
}

.stat-container .stat-container-value
{
	font-size: stat-value-font-size;
	color: white;
	horizontal-align: center;
	text-align: center;
	max-width: 40px;
	height: 22px;
	text-overflow: shrink;
}

.stat-container.stat-map-wins-losses-ties
{
	flow-children: right;
	margin: 0px;
	height: 18px;
}

.stat-container.stat-map-wins-losses-ties .stat-container-title
{
	font-size: 16px;
}

.stat-container.stat-map-wins-losses-ties.wins .stat-container-value,.stat-container.stat-map-wins-losses-ties.wins .stat-container-title
{
	color: #51E81A;
}

.stat-container.stat-map-wins-losses-ties .stat-container-value
{
	font-size: 16px;
	text-overflow: noclip;
}

.stat-container-mvp
{
	flow-children: right;
	vertical-align: center;
	margin-right: 16px;
}

.stat-container-mvp .stat-container-icon
{
	horizontal-align: center;
	margin-bottom: 6px;
	margin-right: 6px;
}

.stat-container-mvp .stat-container-value
{
	font-size: stat-value-font-large;
	color: white;
	horizontal-align: center;
	vertical-align: center;
}

.stats-global-container
{
	width: 100%;
	margin-top: 48px;
	flow-children: down;
}

.stats-global-container .stats-panel-season-stats
{
	width: fit-children;
	flow-children: right;
	horizontal-align: center;
}

.stat-container-matches
{
	flow-children: down;
	vertical-align: center;
}

.stat-container-matches .stat-container-title
{
	font-size: stat-title-font-size;
	color: stats-title-color;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-weight: normal;
	max-width: 180px;
	height: 14px;
	text-overflow: shrink;
}

.stat-container-matches .stat-container-value
{
	font-size: 64px;
	width: fit-children;
	text-align: center;
	color: white;
	horizontal-align: center;
	vertical-align: center;
	height: 64px;
	text-overflow: shrink;
	max-width: 96px;
}

.stat-bar-stats-container
{
	width: 100%;
	height: fit-children;
	vertical-align: center;
	flow-children: down;
}

.stat-bar-stats-container .stat-wins-losses-container
{
	width: 100%;
}

.stats-panel-single-map .stat-bar-stats-container
{
	margin: 0px 0px 8px 0px;
	vertical-align: bottom;
	horizontal-align: center;
	width: 95%;
}

.stat-bar-stats-container .stat-bar-containers
{
	flow-children: right;
	width: 100%;
	height: 6px;
	margin-bottom: 8px;
}

.stats-panel-single-map .stat-bar-stats-container .stat-bar-containers
{
	height: 2px;
	margin-top: 4px;
}

.stat-bar-stats-container .stat-bar-containers .stat-bar-wins,.stat-bar-stats-container .stat-bar-containers .stat-bar-ties,.stat-bar-stats-container .stat-bar-containers .stat-bar-losses
{
	height: 100%;
	width: 20px;
	margin-right: 2px;
}

.stat-bar-stats-container .stat-bar-containers .stat-bar-wins
{
	background-color: #51E81A;
}

.stat-bar-stats-container .stat-bar-containers .stat-bar-ties
{
	background-color: #EDD433;
}

.stat-bar-stats-container .stat-bar-containers .stat-bar-losses
{
	background-color: #DA1032;
	margin-right: 0px;
}

#id-map-stat-matches-played
{
	margin: 0px;
}

#id-global-stat-wins,#id-global-stat-ties,#id-global-stat-losses,#id-map-stat-wins,#id-map-stat-ties,#id-map-stat-losses,#id-global-stat-rounds,#id-global-stat-map
{
	width: fit-children;
}

#id-global-stat-wins,#id-map-stat-wins
{
	horizontal-align: left;
}

#id-global-stat-losses,#id-map-stat-losses
{
	horizontal-align: right;
}

.stat-spacer-32
{
	width: 32px;
}

#id-premier-rating
{
	vertical-align: center;
	horizontal-align: center;
	ui-scale: 250%;
	box-shadow: #03101d75 0px 0px 32px 0px;
}

#id-global-stat-week
{
	vertical-align: center;
	max-width:256px;
	width:fit-children;
	margin-left: 16px;
}

#id-global-stat-week Label
{
	width: fit-children;
	max-width: 110px;
	margin: 0px;
}

.stats-panel-rating-particle
{
	visibility: collapse;
	wash-color: rgb(116, 164, 228);
	width: 100%;
	height: 100%;
}

.stats-loaded .stats-panel-rating-particle
{
	transform: scalex( -1 ) translateY( 0 );
}

.stats-panel-bottom-row
{
	vertical-align: bottom;
	width: 100%;
	margin: 0px 32px 0px 16px;
}

.stats-panel-bottom-row #id-global-stat-win-percent
{
	horizontal-align: left;
	width: 148px;
}

.stats-panel-bottom-row #id-global-stat-win-percent Label
{
	width: fit-children;
}

.stat-separator
{
	width: 1px;
	height: 85%;
	vertical-align: center;
	background-color: #68b5df4f;
}

.season-stats-bottom-bar
{
	vertical-align: bottom;
	width: season-panel-width;
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: right;
}

.stats-panel-maps-mode-btns
{
	flow-children: down;
	padding: 16px;
	horizontal-align: right;
}

.stats-panel-maps-mode-btns .stats-panel-mode-btn
{
	margin-bottom: 2px;
	height: 32px;
	width: 32px;
}

.stats-panel-maps-mode-btns .stats-panel-mode-btn .RadioBox
{
	visibility: collapse;
}

.stats-panel-maps-mode-btns .stats-panel-mode-btn Image
{
	horizontal-align: center;
	wash-color:stats-title-color;
	vertical-align: center;
}

.stats-panel-maps-mode-btns .stats-panel-mode-btn:selected Image
{
	wash-color: none;
	img-shadow: 0px 0px 4px 1.0 rgba(255, 255, 255, 0.25);
	transition-property: brightness, img-shadow;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.stats-map-type-container
{
	width: 100%;
	height: fill-parent-flow(1);
	vertical-align: bottom;
	visibility: collapse;
	transform: translateY( 50px );
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.stats-map-type-container.show
{
	visibility: visible;
	transform: translateY( 0px );
	opacity: 1;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.stats-panel-per-map-container
{
	width: 100%;
	flow-children: down;
	vertical-align: bottom;
}

.stats-panel-per-map-container .stats-panel-per-map-btns-block
{
	width: 100%;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #32637e48 ), color-stop (.025, #32637e52), color-stop (.025, rgba(4, 27, 61, 0) ), to( rgba(4, 27, 61, 0) ) );
}

.stats-panel-per-map-container .stats-panel-per-map-btns
{
	padding: 0px auto;
	flow-children: right;
	horizontal-align: center;
}

.stats-panel-per-map-container .stats-panel-per-map-btns .stats-panel-map-btn
{
	margin: 16px 16px 0px 16px;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( rgba(4, 27, 61, 0), color-stop (.025, rgba(4, 27, 61, 0), color-stop (.025, rgba(4, 27, 61, 0) ), to( rgba(4, 27, 61, 0) ) );
	flow-children: up;
	tooltip-position: top;
}

.stats-panel-per-map-container .stats-panel-per-map-btns .stats-panel-map-btn .RadioBox
{
	visibility: collapse;
}

.stats-panel-per-map-container .stats-panel-per-map-btns .stats-panel-map-btn Label
{
	margin: 8px 0px 2px 0px;
	font-family: Stratum2 Condensed, "Arial Unicode MS";
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
	padding-bottom: 4px;
	text-align: center;
	horizontal-align: center;
	color:stats-title-color;
}

.stats-panel-per-map-container .stats-panel-per-map-btns .stats-panel-map-btn Image
{
	horizontal-align: center;
	margin-bottom: 2px;
	brightness: .8;
	transition-property: brightness, img-shadow, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.stats-panel-per-map-container .stats-panel-per-map-btns .stats-panel-map-btn:hover:not(:disabled)
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( rgba(45, 75, 121, 0.589)), to( rgba(45, 75, 121, 0)));
}

.stats-panel-per-map-container .stats-panel-per-map-btns .stats-panel-map-btn:hover:not(:disabled) Image
{
	transform: scale3d( 1.05, 1.05, 1);
	transition-property: brightness, img-shadow, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.stats-panel-per-map-container .stats-panel-per-map-btns .stats-panel-map-btn:hover:not(:disabled) Label
{
	color: white;
}

.stats-panel-per-map-container .stats-panel-per-map-btns .stats-panel-map-btn:selected
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( stats-title-color ), color-stop (.025, stats-title-color), color-stop (.025, rgba(4, 27, 61, 0) ), to( rgba(4, 27, 61, 0) ) );
}

.stats-panel-per-map-container .stats-panel-per-map-btns .stats-panel-map-btn:selected Label
{
	color: white;
}

.stats-panel-per-map-container .stats-panel-per-map-btns .stats-panel-map-btn:selected Image
{
	brightness: 1.1;
	img-shadow: 0px 0px 2px 1.0 rgba(204, 177, 177, 0.438);
	transition-property: brightness, img-shadow;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.stats-panel-per-map-container .stats-panel-per-map-btns .stats-panel-map-btn:disabled
{
	brightness: .3;
	saturation: .3;
	opacity: .6;
}

.stats-panel-per-map-container .stats-panel-all-maps-container
{
	width: 100%;
	height: fit-children;
}

.stats-panel-per-map-container .stat-container-icon
{
	ui-scale: 75%;
}

.stats-panel-single-map
{
	width: 100%;
	flow-children: right;
	vertical-align: bottom;
	transform: translateX( 0px );
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.stats-panel-single-map.map-selected
{
	transform: translateX( 0px );
	opacity: 1;
	transition-property: opacity, transform;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.stats-panel-single-map.map-hide
{
	transform: translateX( 100px );
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.stats-panel-single-map.map-reset
{
	transform: translateX( -100px );
	opacity: 0;
}

.stats-panel-single-map .single-map-map-icon-block
{
	flow-children: down;
	width: 112px;
}

.stats-panel-single-map .single-map-map-icon-block #id-map-stat-win-rate
{
	horizontal-align: center;
	vertical-align: bottom;
	width: fit-children;
}

.stats-panel-single-map .single-map-map-icon-block #id-map-stat-win-rate .stat-container-value
{
	font-size: 14px;
}

.stats-panel-single-map #id-map-stat-mvps .stat-container-icon
{
	margin: 0px;
}

.stats-map-grid-container
{
	flow-children:down;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 16px;
}

.stats-map-grid-container .map-grid-row
{
	flow-children: right;
	height: 32px;
	transition-property: position;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.stats-map-grid-container .map-grid-row Image
{
	margin-right: 4px;
	vertical-align: center;
	width: 22px;
}

.stats-map-grid-container .map-grid-row .map-grid-row-mapname
{
	margin-right: 2px;
	width: 48px;
	height: 28px;
	horizontal-align: center;
	vertical-align: center;
	background-color: stats-grid-bg-color;
	opacity-mask: url("s2r://panorama/images/masks/season-row-mapname.vsvg");
	visibility: collapse;
}

.stats-map-grid-container .map-grid-row .map-grid-row-mapname Label
{
	font-size: 14px;
	color: stats-title-color;
	text-align: center;
	vertical-align: center;
	horizontal-align: center;
	text-overflow: shrink;
	text-transform: uppercase;
}

.stats-map-grid-container .map-grid-row .map-grid-row-box
{
	margin-right: 2px;
	height: 28px;
	background-color: stats-grid-bg-color;
	vertical-align: center;
}

.stats-map-grid-container .map-grid-row .map-grid-row-box .map-grid-row-value
{
	padding: 4px;
	width: 48px;
	text-align: center;
	horizontal-align: center;
	font-size: 14px;
	text-overflow: shrink;
	font-family: Stratum2 Mono, "Arial Unicode MS";
	font-weight: normal;
	color: stats-title-color;
}

.stats-map-grid-container .map-grid-row .map-grid-row-box.has-mask
{
	opacity-mask: url("s2r://panorama/images/masks/season-row-mapname.vsvg");
}

.stats-map-grid-container .map-grid-row .map-grid-row-box.has-mask-reverse
{
	opacity-mask: url("s2r://panorama/images/masks/season-row-reverse.vsvg");
}

.stats-map-grid-container .map-grid-row .map-grid-row-box.highlight-entry .map-grid-row-value
{
	font-weight: bold;
	color: white;
}

.stats-map-grid-container .map-grid-row.no-background
{
	background-color: none;
}

.stats-map-grid-container .map-grid-row.no-background .map-grid-row-box,.stats-map-grid-container .map-grid-row.no-background .map-grid-row-mapname
{
	background-color: none;
}

.stats-map-grid-container .map-grid-row.row-header
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #32637e48 ), color-stop (.05, #32637e52), color-stop (.05, rgba(4, 27, 61, 0) ), to( rgba(4, 27, 61, 0) ) );
}

.stats-map-grid-container .map-grid-row.row-header .map-grid-row-box,.stats-map-grid-container .map-grid-row.row-header .map-grid-row-mapname
{
	background-color: none;
	vertical-align: bottom;
}

.stats-map-grid-container .map-grid-row.row-header .map-grid-row-mapname,.stats-map-grid-container .map-grid-row.row-header Image
{
	opacity: 0;
}

.stats-map-grid-container .map-grid-row.row-header RadioButton .RadioBox
{
	visibility: collapse;
}

.stats-map-grid-container .map-grid-row.row-header RadioButton .map-grid-row-value
{
	margin: 0px;
	font-family: Stratum2 Condensed, "Arial Unicode MS";
	font-weight: normal;
	font-size: 14px;
	vertical-align: bottom;
	padding-bottom: 0px;
}

.stats-map-grid-container .map-grid-row.row-header RadioButton:selected .map-grid-row-value
{
	color: white;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( stats-title-color ), color-stop (.05, stats-title-color), color-stop (.05, rgba(4, 27, 61, 0) ), to( rgba(4, 27, 61, 0) ) );
}

.stats-map-grid-container .map-grid-row.row-header RadioButton:hover
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( rgba(45, 75, 121, 0.589)), to( rgba(45, 75, 121, 0)));
}

.stats-map-grid-container .map-grid-row.row-header RadioButton:hover .map-grid-row-value
{
	color: white;
}

.mapwinrecord__graph
{
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
	width: 420px;
	height: width-percentage( 100%);
}

.mapwinrecord__graph .mwr-map
{
	border-radius: 3px;
	transform: translateX(-26px) translateY(-26px);
}

.mapwinrecord__graph .mwr-map #mwr-map__image
{
	width: 52px;
	height: 52px;
}

.mapwinrecord__graph .mwr-map Label
{
	font-size: 20px;
	width: 100%;
	text-align:center;
	font-family: Stratum2 Condensed, Arial;
}

.stats-rank-line-graph,.stats-rank-bar-graph
{
	width: 854px;
	height: 142px;
	horizontal-align: right;
	vertical-align: center;
	overflow: noclip;
}

.y-axis-rating-container
{
	margin-bottom: 25px;
	margin-left: 2px;
	vertical-align: bottom;
}

.y-axis-rating-container .y-axis-premier-rating
{
	ui-scale: 75%;
}

.x-axis-labels
{
	width: 100%;
	margin-top: 6px;
}

.x-axis-labels Label
{
	font-size: 14px;
	height: 15px;
	color: #4e99c7a8;
	width: fit-children;
}

.stats-rank-line-graph-dot
{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	transform: translateX( -5px) translateY( -5px);
	background-color: rgb(36, 41, 68);
	border: 1px solid stats-title-color;
	overflow: noclip;
	tooltip-position: top;
}

.stats-rank-line-graph-dot.highest-rank
{
	border: 1px solid #61e92f;
	background-color: #236d08;
}

.stats-rank-bar-graph
{
	border-bottom: 1px solid stats-title-color;
}

.stats-rank-bar-graph .stats-bar-graph-bar
{
	vertical-align: bottom;
	flow-children: down;
	height: fit-children;
	width: 10px;
	text-overflow: noclip;
	overflow: noclip;
	tooltip-position: bottom;
}

.stats-rank-bar-graph .stats-bar-graph-bar.angle-text Label
{
	transform-origin: 50% 0%;
	transform: rotateZ(-60deg) translateY(-4px) translateX( -1px) ;
	text-align: left;
	color: #a3cde4;
}

.stats-rank-bar-graph .stats-bar-graph-bar Label
{
	font-size: 12px;
	height: 13px;
	text-overflow: noclip;
	text-align: center;
	horizontal-align: center;
	vertical-align: bottom;
	color: stats-title-color;
}

.stats-rank-bar-graph .stats-bar-graph-bar .stats-bar-graph-bar-inner
{
	height: 100%;
	width: 8px;
	horizontal-align: center;
	background-color: stats-title-color;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #32637e7c ), to( #2984b5d4) );
}

@define line-graph-data-padding-x: 0.0;
@define line-graph-data-padding-y: 15.0;
