/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	width: 920px;
	max-width: 920px;
}

.PopupPanel.apply-immediate
{
	width: 720px;
	max-width: 720px;
}

.popup-confirm-picks-icons-container,.popup-confirm-appy-immediate-container
{
	flow-children: down;
	width: 100%;
	margin: 0px 32px;
	padding-top: 16px;
	background-color:#02250f6b;
}

.popup-confirm-appy-immediate-container
{
	visibility: collapse;
	background-color:none;
}

.popup-confirm-picks-icons-container.teams
{
	margin-top: 16px;
	padding-bottom: 16px;
	background-color:#27190059;
}

.popup-confirm-picks-icons
{
	width: 100%;
	height: fit-children;
	horizontal-align: left;
	flow-children: right-wrap;
	padding: 0px 32px;
}

.popup-confirm-picks-icons__stickers
{
	width: 112px;
	height: 112px;
}

.popup-confirm-picks-icons__teams
{
	margin: 16px;
}

.popup-confirm-picks-warning
{
	font-size: 18px;
	color:grey;
}

.Spinner
{
	margin-right: 16px;
}

.Spinner.hidden
{
	visibility: collapse;
}

.PopupPanel.apply-immediate .popup-confirm-picks-icons-container,.PopupPanel.apply-immediate #id-popup-confrim-apply-btn
{
	visibility: collapse;
}

.PopupPanel.apply-immediate .popup-confirm-appy-immediate-container
{
	visibility: visible;
}

