/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.add-to-cart
{
	max-width: 1000px;
}

.item-container
{
	flow-children: right-wrap;
}

#Contents
{
	padding: 32px;
}

Button.PopupButton
{
	margin:0px;
}

.item
{
	flow-children: down;
	background-color: rgba(0, 0, 0, 0.25);
	margin: 4px;
	padding: 8px;
	min-width: 230px;
}

.cart-controls
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
	background-color: rgba(0, 0, 0, 0.109);
	border: 1px solid rgba(255, 255, 255, 0.109);
	border-radius: 3px;
	margin-top: 8px;
}

.item__item-name
{
	horizontal-align: center;
	max-width: 230px;
	height: 60px;
	text-align: center;
	padding-top: 12px;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: medium;
	text-overflow: shrink;
}

.item__image
{
	horizontal-align: center;
	width: 172px;
	transition-property: transform;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.item__image__inspect
{
	opacity: 0;
	transform: scale3d( .5, .5, .5 );
	img-shadow: 2px 2px 6px 2 #000000;
	transition-property: opacity, transform;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.item__image:hover
{
	transform: scale3d( 1.1, 1.1, 1.1 );
	transition-property: transform;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
	sound: "UIPanorama.store_item_rollover";
}

.item__image:hover .item__image__inspect
{
	opacity: 1;
	transform: scale3d( 1, 1, 1 );
	transition-property: opacity, transform;
	transition-duration: .20s;
	transition-timing-function: ease-in-out;
}

.cart-controls-row
{
	flow-children: right;
	horizontal-align: center;
	width: 100%;
	min-height: 52px;
}

.cart-controls .item__add-button
{
	font-size: 20px;
	font-weight: bold;
	margin: 0px;
	padding: 2px 8px;
	text-align: center;
	color: positiveColor;
}

.cart-controls__item_quantity
{
	width: 64px;
	text-overflow: shrink;
	text-align: center;
	height: 20px;
	font-family: Stratum2 Monodigit, Stratum2,'Arial Unicode MS';
	vertical-align: center;
	font-size: 16px;
	padding-top: 1px;
}

.PopupButton .item__remove-button
{
	font-size: 20px;
	font-weight: bold;
	margin: 0px;
	padding: 2px 10px;
	text-align: center;
}

.cart-controls__item_price
{
	margin-left:8px;
	font-family: Stratum2, 'Arial Unicode MS';
	color: positiveColor;
	vertical-align: center;
	padding-top: 6px;
	text-align: right;
	font-weight: medium;
	font-size: 17px;
	margin-right: 8px;
}

.cart-controls__item_price.original-price
{
	color: rgb(177, 177, 177);
	text-decoration: line-through;
	font-weight: light;
}

.cart-controls__item_price.original-price.hidden
{
	visibility:collapse;
}

