/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

#ContextMenuBody.LeftArrowVisible #Contents
{
	overflow: squish;
	box-shadow: fill #0000008b 1px 1px 8px 0px;
	margin: 8px;
}

#Contents.store-linked-items
{
	width: fit-children;
	flow-children: down;
	padding: 12px;
}

.store-linked-items__tiles
{
	flow-children: right;
	height: 280px;
}

.store-linked-items__warning
{
	flow-children: right;
	background-color: rgba(0, 0, 0, 0.60);
	horizontal-align: center;
	border-radius: 3px;
	opacity: .5;
}

.store-linked-items__warning Image
{
	margin-left: 6px;
}

.store-linked-items__warning__text
{
	font-size: 14px;
	padding: 8px 0px 8px 8px;
	width: 318px;
	visibility: visible;
}

.hidewarning .store-linked-items__warning
{
	visibility: collapse;
}

