/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

#ContextMenuBody
{
	width: fit-children;
}

.context-menu-lobbies
{
	flow-children:down;
	max-height: 928px;
	padding: 0px 16px;
	overflow: clip scroll;
}

.context-menu-lobbies__title
{
	margin: 16px 16px;
	font-size: 24px;
}

.context-menu-lobbies__new-lobbies-btn
{
	vertical-align: bottom;
	margin-bottom: 16px;
	horizontal-align: center;
	ignore-parent-flow: true;
	z-index: 200;
	flow-children: right;
	box-shadow: shadowOffset;
	background-color: blueColor;
	border-radius: 5px;
	padding: 4px 8px;
}

.context-menu-lobbies__new-lobbies-btn Label
{
	text-align: center;
	font-family: Stratum2 Medium, "Arial Unicode MS";
	color: white;
	font-size: 14px;
}

.context-menu-lobbies__new-lobbies-btn Image
{
	transform: rotateZ(-90deg) translateY(-1px);
	vertical-align: center;
	margin-right: 4px;
}

.context-menu-lobbies__new-lobbies-btn:hover
{
	brightness: 1.2;
}

.context-menu-lobbies__new-lobbies-btn.hide
{
	visibility: collapse;
}

VerticalScrollBar
{
	margin: 4px;
	opacity: .25;
}

