/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

#Contents
{
	padding: 8px 0px;
	flow-children: down;
	width:fit-children;
	background-color: contextMenuBackground;
	opacity: 1;
	box-shadow: shadowOffset;
	border-radius: btnBorderRadius;
}

#LeftArrow,#RightArrow,#TopArrow,#BottomArrow
{
	background-repeat: no-repeat;
	background-position: 0px 0px;
	z-index: 1;
	visibility: collapse;
}

#LeftArrow,#RightArrow
{
	width: 31px;
	height: 38px;
	margin-top: 4px;
	margin-bottom: 4px;
}

#LeftArrow
{
	background-image: url("s2r://panorama/images/tooltips/tooltip_arrow_left_png.vtex");
	margin-right: -2px;
}

#RightArrow
{
	background-image: url("s2r://panorama/images/tooltips/tooltip_arrow_right_png.vtex");
	margin-left: -2px;
}

#TopArrow,#BottomArrow
{
	width: 38px;
	height: 31px;
	margin-left: 4px;
	margin-right: 4px;
}

#TopArrow
{
	background-image: url("s2r://panorama/images/tooltips/tooltip_arrow_top_png.vtex");
	margin-bottom: -2px;
}

#BottomArrow
{
	background-image: url("s2r://panorama/images/tooltips/tooltip_arrow_bottom_png.vtex");
	margin-top: -2px;
}

#ContextMenuBody.LeftArrowVisible #LeftArrow
{
	visibility: visible;
}

#ContextMenuBody.RightArrowVisible #RightArrow
{
	visibility: visible;
}

#ContextMenuBody.TopArrowVisible #TopArrow
{
	visibility: visible;
}

#ContextMenuBody.BottomArrowVisible #BottomArrow
{
	visibility: visible;
}

.ContextMenu_NoArrow #ContextMenuBody.LeftArrowVisible #LeftArrow
{
	visibility: collapse;
}

.ContextMenu_NoArrow #ContextMenuBody.RightArrowVisible #RightArrow
{
	visibility: collapse;
}

.ContextMenu_NoArrow #ContextMenuBody.TopArrowVisible #TopArrow
{
	visibility: collapse;
}

.ContextMenu_NoArrow #ContextMenuBody.BottomArrowVisible #BottomArrow
{
	visibility: collapse;
}

#ContextMenuBody.LeftArrowVisible #Contents
{
	margin-left: 0px;
	min-height: 0px;
}

#ContextMenuBody.RightArrowVisible #Contents
{
	margin-right: 0px;
	min-height: 60px;
}

#ContextMenuBody.BottomArrowVisible #Contents
{
	margin-bottom: 0px;
	min-width: 60px;
}

#ContextMenuBody.TopArrowVisible #Contents
{
	margin-top: 0px;
	min-width: 60px;
}

#ContextMenuBody
{
	flow-children: down;
}

.ContextMenuBodyRow
{
	flow-children: right;
}

.ContextMenuEquipItem .TickBox
{
	width: 28px;
	height: 28px;
	position: 0px 0px 0px;
	vertical-align: center;
	background-color: None;
	border-radius: 50%;
	z-index: 1;
	margin-left: 8px;
	margin-right: 8px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 0% 0%, from( #ffffff00 ), color-stop( 0.8, #ffffff00 ), to( #ffffff00 ) );
	border: 1px solid white;
	box-shadow: #00000000 0px 0px 2px 2px ;
	background-img-opacity: 0;
	transition-property: background-color, wash-color, background-img-opacity;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.ContextMenuEquipItem.ct .TickBox
{
	wash-color: color-CT;
}

.ContextMenuEquipItem.t .TickBox
{
	wash-color: color-T;
}

.ContextMenuEquipRowButtons
{
	flow-children: left;
	horizontal-align: right;
}

.ContextMenuEquipItem:selected .TickBox
{
	width: 28px;
	height: 28px;
	box-shadow: #00000000 2px 0px 3px 0px;
	position: 0px 0px 0px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 25% 25%, from( white ), color-stop( .95, white ), to( #ffffff00 ) );
	transition-property: wash-color, background-color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.ContextMenuEquipRow.Shuffle .ContextMenuEquipItem:selected .TickBox
{
	width: 28px;
	height: 28px;
	box-shadow: #00000000 2px 0px 3px 0px;
	position: 0px 0px 0px;
	background-image: url("s2r://panorama/images/icons/ui/random.vsvg");
	background-img-opacity: 1;
	background-size: 15px 15px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: None;
	transition-property: wash-color, background-color, background-img-opacity;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

