/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

#ContextMenuBodyWeapons
{
	max-height: 300px;
	width:fit-children;
	overflow: scroll;
}

.ContextMenuItem Button.vanity-item--weapon
{
	height:30px;
	padding: 0px;
	width:fit-children;
}

.ContextMenuItem Button.vanity-item
{
	width:fit-children;
	width: 200px;
}

.ContextMenuItem .vanity-item--weapon .vanity-item__label
{
	padding: 4px 16px;
	width:fit-children;
}

.ContextMenuItem .vanity-item__label
{
	max-height: 100%;
	text-overflow:shrink;
	width:fit-children;
}

.ContextMenuItem .vanity-item__rarity
{
	max-height: 100%;
	height: 100%;
	width:fit-children;
}

