/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

#Contents
{
	background-color: #ffffff50;
	flow-children: none;
}

.estt-root.estt-simple
{
	width: 200px;
	background-color: #00000000;
}

.estt-header
{
	border-bottom: 1px solid #ffffff30;
	width:100%;
	height: 150px;
	horizontal-align: center;
	text-align: center;
}

.estt-simple .estt-header
{
	height: 50px;
}

.estt-header__team-logo
{
	vertical-align: center;
	horizontal-align: left;
	width: 100px;
	position: 60px 0px 0px;
}

.img-shadow
{
	img-shadow: 2px 2px 2px #000000;
}

.estt-header__team-name
{
	font-size: 26px;
	font-weight: medium;
	vertical-align: center;
	text-shadow: 2px 2px 2px #000000;
	horizontal-align: center;
}

.estt-simple .estt-header__team-name
{
	font-size: 18px;
}

.estt-player
{
	transition-property: transform, brightness, box-shadow;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
	padding-top: 5px;
	brightness: 0.8;
}

.has_data:hover
{
	brightness: 1.2;
	background-color: #ffffff30;
}

.estt-simple .estt-player
{
	padding-left: 20px;
}

.estt-player__name
{
	margin: 6px 0px 0px 0px;
	horizontal-align:center;
	font-size: 16px;
	font-weight: bold;
	text-overflow: shrink;
	max-width: 100px;
}

.estt-player__photo
{
	width: 100px;
	height: width-percentage( 100% );
	margin: 4px;
}

.estt-blurbackground
{
	background-color:backgroundGradient;
	blur:gaussian( 2, 2, 6 );
	width: 100%;
	height: 100%;
	opacity: 0.7;
}

