/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.context-menu-search-container
{
	min-height:100px;
	max-height:850px;
	width: fit-children;
	flow-children: down;
	margin: 16px;
}

.context-menu-search__results
{
	width: 204px;
	height: fit-children;
	margin-top: 16px;
	min-height: 220px;
	flow-children: right-wrap;
	overflow: squish scroll;
	horizontal-align: center;
	transform: translateY(0px);
	border-radius: btnBorderRadius;
}

.context-menu-search__results.hidden
{
	height: 0px;
	transform: translateY(-100%);
}

.context-menu-search__no-results
{
	width: 256px;
	padding: 8px;
	flow-children: down;
	margin-top: 16px;
}

.context-menu-search__no-results.hidden
{
	visibility: collapse;
}

.context-menu-search__no-results Image
{
	height: 32px;
	width: 32px;
	wash-color:grey;
	horizontal-align: center;
	margin-bottom: 8px;
}

.context-menu-search__no-results-text
{
	color: grey;
	font-size: 18px;
	text-align: center;
}

.context-menu-search__no-results__searchtext
{
	font-weight: bold;
	color: rgb(209, 209, 209);
}

.context-menu-search__popular-btn
{
	margin: 12px 0px 0px 8px;
	flow-children: left;
}

.context-menu-search__popular-btn Label
{
	color: white;
}

.context-menu-search__popular-btn:Hover
{
	brightness: 1.5;
}

