/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.vote-option
{
	flow-children: right;
}

#ContextMenuBody Button.vote-option
{
	max-width: 400px;
}

#ContextMenuBody Button.vote-option Label
{
	text-overflow: shrink;
}

