/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.ContextMenuBodyRow #Contents
{
	padding: 0px;
	border-radius: 3px;
}

.context-menu-notification
{
	flow-children: right;
	padding: 16px;
	background-image: url("s2r://panorama/images/backgrounds/linemap_png.vtex");
	background-size: auto auto;
	background-img-opacity: .02;
}

.context-menu-notification .context-menu-notification__text-block
{
	flow-children: down;
	margin-left: 8px;
	width: 300px;
	border-left: 1px solid warningColor;
	padding-left: 8px;
}

.context-menu-notification .context-menu-notification__text-block.red-alert
{
	border-left: 1px solid negativeColor;
}

.context-menu-notification .context-menu-notification__text-block.yellow-alert
{
	border-left: 1px solid warningColor;
}

.context-menu-notification .context-menu-notification__text-block .context-menu-notification__label.title
{
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 4px;
	color: white;
	visibility: collapse;
}

.show-title .context-menu-notification .context-menu-notification__text-block .context-menu-notification__label.title
{
	visibility: visible;
}

.context-menu-notification .context-menu-notification__text-block .context-menu-notification__label.tooltip
{
	visibility: collapse;
	font-size: 12px;
	margin-bottom: 4px;
}

.show-title .context-menu-notification .context-menu-notification__text-block .context-menu-notification__label.tooltip
{
	visibility: visible;
}

.context-menu-notification .context-menu-notification__text-block .context-menu-notification__text-btn
{
	visibility: collapse;
}

.context-menu-notification .context-menu-notification__text-block .context-menu-notification__text-btn Label
{
	font-size: 12px;
	font-family: Stratum2, "Arial Unicode MS";
	font-weight: normal;
	text-decoration: underline;
	color: blueColor;
}

.show-link .context-menu-notification .context-menu-notification__text-block .context-menu-notification__text-btn
{
	visibility: visible;
}

.mainmenu-top-navbar__alerts__gc Image
{
	width: 30px;
	height: 30px;
}

