/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.ContextMenu
{
	height: 500px;
}

#ContextMenuMissionsBody
{
	width: 602px;
	flow-children: down;
	overflow: scroll;
}

.contextmenu-mission-card-entry
{
	flow-children: right;
	width: 100%;
	padding: 12px 32px;
	transition-property: background-color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.contextmenu-mission-card-entry:hover
{
	background-color: rgba(0, 0, 0, 0.349);
	transition-property: background-color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.contextmenu-mission-card-entry:hover .contextmenu-mission-card-entry__label
{
	color: white;
}

.contextmenu-mission-card-entry__locked-icon
{
	vertical-align: center;
	height: 16px;
	width: 16px;
	visibility: collapse;
}

.contextmenu-mission-card-entry__active-icon,.contextmenu-mission-card-entry__check-icon
{
	vertical-align: center;
	margin-right: 8px;
	visibility: collapse;
}

.show-check .contextmenu-mission-card-entry__check-icon,.show-locked .contextmenu-mission-card-entry__locked-icon
{
	visibility: visible;
}

.active:not(.show-check) .contextmenu-mission-card-entry__active-icon
{
	visibility: visible;
}

.contextmenu-mission-card-entry__label
{
	font-size: 16px;
	width: 380px;
	text-overflow: ellipsis;
}

.active .contextmenu-mission-card-entry__label
{
	font-weight: bold;
	color: white;
}

.show-locked .contextmenu-mission-card-entry__stars
{
	visibility: collapse;
}

.contextmenu-mission-card-entry__stars
{
	flow-children: right;
	horizontal-align: right;
	background-color: rgba(0, 0, 0, 0.541);
	border-radius: 5px;
	padding: 2px 8px;
}

.contextmenu-mission-card-stars__label
{
	font-size: 16px;
	font-weight: medium;
}

.contextmenu-mission-card-entry__timer
{
	margin-right: 8px;
}

.show-check .contextmenu-mission-card-entry__stars
{
	background-color: rgba(231, 231, 231, 0.137);
}

.show-check .contextmenu-mission-card-stars__label
{
	color: black;
	font-weight: bold;
}

.show-check .contextmenu-mission-card-entry__stars Image
{
	wash-color: black;
}

