/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

#Contents.context-menu-get-souvenir
{
	flow-children: down;
	background-color: contextMenuBackground;
	border-radius: 2px;
	opacity: 1;
	box-shadow:fill #0000005e 0px 0px 6px 2px;
	border: 0px solid black;
	border-radius: 3px;
	margin: 0px;
	padding: 0px;
	width: fit-children;
	height: fit-children;
	margin: 8px;
	transition-property: height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

#ContextMenuBody.LeftArrowVisible #Contents.context-menu-get-souvenir
{
	min-height: 0px;
}

.get-souvenir-no-score
{
	visibility: collapse;
	margin: 16px;
	max-width: 256px;
}

.no-score .get-souvenir-no-score
{
	visibility: visible;
}

.get-souvenir-no-score Label
{
	font-size: 14px;
}

.get-souvenir-container
{
	flow-children: down;
	visibility: visible;
}

.no-score .get-souvenir-container
{
	visibility: collapse;
}

.get-souvenir-header-container
{
	margin: 8px 16px;
	flow-children: down;
}

.get-souvenir-header-container .get-souvenir-header.get-souvenir-header--redeem
{
	border-radius: 3px;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.2);
}

.get-souvenir-header-container .get-souvenir-redeem-count
{
	color: rgb(14, 209, 95);
	font-size: 18px;
	font-weight: medium;
}

.get-souvenir__matches
{
	flow-children: down;
}

.get-souvenir__matches .get-souvenir__match
{
	flow-children: right;
	opacity: 0;
	transform: translateX( -10px );
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.get-souvenir__matches .get-souvenir__match.show
{
	opacity: 1;
	transform: translateX( 0px );
}

.get-souvenir__matches .get-souvenir__match .get-souvenir__map-image
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	brightness:.5;
	opacity-mask: url("s2r://panorama/images/masks/top-bottom-fade_png.vtex");
}

.get-souvenir__matches .get-souvenir__match .get-souvenir__teams-score
{
	flow-children: right;
	vertical-align: center;
	overflow: noclip;
	margin: 4px 0px;
}

.get-souvenir__matches .get-souvenir__match .get-souvenir__teams-score .get-souvenir__match-info
{
	flow-children: down;
	overflow: noclip;
	vertical-align: center;
}

.get-souvenir__matches .get-souvenir__match .get-souvenir__teams-score .get-souvenir__match__team
{
	flow-children: down;
	vertical-align: center;
}

.get-souvenir__matches .get-souvenir__match .get-souvenir__teams-score .get-souvenir__match__team Image
{
	img-shadow: 0px 0px 8px 1.0 #0000006b;
	horizontal-align: center;
}

.get-souvenir__matches .get-souvenir__match .get-souvenir__teams-score .get-souvenir__match__team Label
{
	width: 80px;
	margin:0px 8px;
	font-size: 18px;
	text-overflow: ellipsis;
	horizontal-align: center;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 3px 2 rgba(0, 0, 0, 0.893);
}

.get-souvenir__matches .get-souvenir__match .get-souvenir__teams-score .get-souvenir__match____score-container
{
	flow-children: right;
	vertical-align: center;
}

.get-souvenir__matches .get-souvenir__match .get-souvenir__teams-score .get-souvenir__match____score-container .get-souvenir__match__score
{
	font-size: 20px;
	width: 32px;
	text-shadow: 1px 1px 3px 2 rgba(0, 0, 0, 0.772);
}

.get-souvenir__matches .get-souvenir__match .get-souvenir__teams-score .get-souvenir__match____score-container .get-souvenir__match__score.winner
{
	color: rgb(14, 209, 95);
	text-align: right;
}

.get-souvenir__matches .get-souvenir__match .get-souvenir__teams-score .get-souvenir__match__mapname
{
	horizontal-align: center;
	text-align: center;
	font-size: 16px;
	visibility: collapse;
}

.get-souvenir__matches .get-souvenir__match .get-souvenir__teams-score .get-souvenir__match__map-icon
{
	img-shadow: 0px 0px 8px 1.0 #0000006b;
	horizontal-align:center;
}

.get-souvenir__btn-container
{
	vertical-align: center;
	flow-children: down;
	margin: 8px;
	padding: 8px 0px 8px 8px;
	border-left: 1px solid rgba(255, 255, 255, 0.137);
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.get-souvenir__btn-container .get-souvenir__btn-message
{
	font-size: 14px;
	text-align: center;
	horizontal-align: center;
	font-weight: light;
	visibility: collapse;
}

.get-souvenir__btn-container.only-purchase .get-souvenir__btn-message
{
	visibility: visible;
}

.get-souvenir__btn-container .get-souvenir__btn
{
	padding: 3px 12px;
	height: 28px;
	min-width: 72px;
	vertical-align: center;
	background-color: rgba(9, 87, 41, 0.473);
	border: 1px solid rgb(14, 209, 95);
	border-radius: 3px;
}

.get-souvenir__btn-container .get-souvenir__btn Label
{
	font-family: Stratum2 Condensed, "Arial Unicode MS";
	font-weight: light;
	color: rgb(14, 209, 95);
	text-align: center;
	horizontal-align: center;
}

.get-souvenir__btn-container .get-souvenir__btn:hover
{
	brightness: 1.4;
}

.get-souvenir-preview-btn
{
	horizontal-align: center;
	margin-top: 4px;
	background-color: rgba(255, 255, 255, 0.02);
}

.get-souvenir-preview-btn Label
{
	font-size: 12px;
	padding: 2px 4px;
	text-align: center;
}

.get-souvenir-preview-btn:hover
{
	background-color: rgba(255, 255, 255, 0.062);
}

.get-souvenir-dropdown
{
	background-size: 12px 12px;
	background-position:80% 50%;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 3px;
	height: 28px;
	margin: 0px 6px 0px 0px;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.get-souvenir-dropdown Label
{
	font-size: 12px;
	width: 28px;
	text-align:center;
	padding: 6px;
	color: white;
	margin-right: 14px;
}

.get-souvenir-dropdown:focus Label
{
	color:white;
}

.get-souvenir-dropdown:hover
{
	background-color: rgba(255, 255, 255, 0.1);
}

.get-souvenir__spinner
{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	visibility: collapse;
}

