/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

#Contents
{
	background-color: rgb(50, 31, 66);
	padding-top: 0px;
}

.ContextMenuItem .Rewards
{
	padding: 16px 16px;
	max-width: 340px;
	width: fill-parent-flow( 1 );
	border-bottom: 1px solid rgba(255, 255, 255, 0.10 );
	background-color: rgb(78, 52, 100);
	flow-children: right;
}

.ContextMenuItem .Rewards Label
{
	height: fit-Children;
	max-height: 100px;
	font-size: 18px;
}

