/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

CCSGOSteamInputAction
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
	width: fit-children;
	height: fit-children;
}

CCSGOSteamInputAction.AnalogDeadZoned,CCSGOSteamInputAction.DigitalReleased
{
	margin: 2px;
	brightness: 1;
	transition-timing-function: ease-out;
	transform: translateY(0px);
}

CCSGOSteamInputAction.AnalogThrown,CCSGOSteamInputAction.DigitalPressed
{
	margin: 2px;
	brightness: 0.5;
	transform: translateY(-2px);
}

CCSGOSteamInputAction
{
	visibility: collapse;
}

CCSGOSteamInputAction.ControllerConnected
{
	visibility: visible;
}

.HoldButtonToActivate .steam-button-glyph
{
	border: 2px solid green;
}

