/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.steam-action-name
{
	horizontal-align: center;
	vertical-align: center;
	width: fit-children;
	height: fit-children;
}

.play-menu__playbtn CCSGOSteamInputAction .steam-action-name
{
	visibility: collapse;
}

