/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.SettingsMenuContent
{
	width: 100%;
	height: 85%;
	vertical-align: middle;
	horizontal-align: center;
	padding-top: 2px;
	padding-bottom: 32px;
	padding-right: 16px;
	padding-left: 16px;
}

.fade_out
{
	transform:Scale3d(0, 0, 0);
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.SettingsMenuDropdownContainer
{
	flow-children: right;
	vertical-align: middle;
	width: 100%;
	min-height: 48px;
	tooltip-position: bottom;
	tooltip-body-position: 100% 0%;
}

CSGOSettingsEnumDropDown:hover
{
	background-color: #141c27;
}

.SettingsMenuTab
{
	width: 100%;
	height: 100%;
	flow-children: down;
	min-width: 450px;
	vertical-align: top;
	horizontal-align: center;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: linear;
}

.SettingsMenuTab.Active
{
	opacity: 1.0;
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: linear;
}

.SettingsMenuTabContent
{
	width: 100%;
	height: fill-parent-flow( 1 );
	blur: gaussian( 0, 0, 0 );
	flow-children: down;
	min-width: 450px;
	vertical-align: top;
	horizontal-align: center;
	color: baseText;
	font-weight: light;
}

CSGOSettingsSlider#DatacenterPingThresholdSlider
{
	width: fill-parent-flow( 1.0 );
}

.DatacenterList
{
	margin-bottom: 24px;
	margin-left: 476px;
	flow-children: right;
}

.DatacenterList .DatacenterListContainer
{
	margin-top: 4px;
	flow-children: down;
	horizontal-align: left;
	width: 220px;
	max-height: 80px;
	overflow: squish scroll;
	padding-right: 12px;
}

.mainmenu-content__container .DatacenterList .DatacenterListContainer VerticalScrollBar
{
	margin-right: 0px;
}

.DatacenterList .DatacenterListContainer .snippet_datacenter_entry
{
	flow-children: right;
	width: 100%;
}

.DatacenterList .DatacenterListContainer .snippet_datacenter_entry Label
{
	font-weight: light;
	font-size: 14px;
}

.DatacenterList .DatacenterListContainer .datacenter_entry__name
{
	width: 140px;
	max-height: 16px;
	text-overflow: ellipsis;
}

.DatacenterList .DatacenterListContainer .datacenter_entry__ping
{
	horizontal-align: right;
	text-align: right;
	width: 60px;
	max-height: 16px;
	text-overflow: shrink;
}

.DatacenterList .DatacenterListContainer.no-data-centers .datacenter_entry__name
{
	width: 240px;
	max-height: fit-children;
}

.DatacenterList .DatacenterListContainer.no-data-centers .datacenter_entry__ping
{
	visibility: collapse;
}

.DatacenterList .IconButton
{
	vertical-align: top;
	ui-scale: 70%;
	margin: 0px 8px 0px 0px;
}

.VideoSettingsMenuTabContent
{
	height: fill-parent-flow( 1 );
	blur: gaussian( 0, 0, 0 );
	flow-children: down;
	min-width: 450px;
	margin-right: 72px;
	margin-left: 32px;
	vertical-align: top;
	horizontal-align: right;
	color: baseText;
	font-weight: light;
}

.VideoSettingsMenuPreviewContent
{
	height: fill-parent-flow( 1 );
	background-color: contentPanelBackground;
	min-width: 450px;
	vertical-align: top;
	horizontal-align: left;
	color: baseText;
	font-weight: light;
}

.SettingsBackground
{
	horizontal-align: center;
	width: 946px;
	padding:32px 64px;
	flow-children: down;
	border-radius: 3px;
}

.Highlight
{
	animation-name: settings-highlight;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'settings-highlight'
{
	0%
	{
		background-color: rgba(255, 255, 255, 0.10) ;
	}
	
	100%
	{
		background-color: rgba(255, 255, 255, 0.000);
	}
	
}

.SettingsSectionTitleContianer
{
	flow-children: right;
	margin-bottom: 12px;
	font-size: 20;
}

.SettingsSectionTitleLabel
{
	font-size: 18px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.25);
}

.SettingsSection__seperator
{
	margin: 0px 32px;
	horizontal-align: left;
	vertical-align: middle;
	height: 100%;
	width: 1px;
	background-color: rgb(255, 255, 255);
	opacity: .10;
}

#SettingsLaunchSteamInputButton
{
	horizontal-align: center;
}

.horizontal-separator
{
	opacity: .10;
}

.settings-tooltip
{
	tooltip-position: bottom;
}

.crosshair-editor
{
	height: 128px;
	width: 100%;
	flow-children: none;
	horizontal-align: center;
}

.crosshair-editor__controls
{
	width: 100%;
	height: fit-children;
	flow-children: down;
}

.prmototed-setting
{
	height: 150px;
	flow-children: down;
	padding-bottom: 20px;
}

.promoted-setting__name
{
	padding-bottom: 20px;
	color: white;
}

.promoted-setting__desc
{
	width: 85%;
}

.promoted-setting__button
{
	horizontal-align: right;
	flow-children: right;
	padding-top: 4px;
	padding-bottom: 4px;
}

#ViewSetting .promoted-setting__label
{
	margin: 2px 8px 2px 8px;
	text-align: center;
}

.map-background-carousel
{
	width: 100%;
	height: 100%;
}

.map-background
{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}

.bkg-dust2
{
	background-image: url("s2r://panorama/images/map_icons/screenshots/1080p/de_dust2_png.vtex");
	background-position: left -435px top -470px;
}

.bkg-aztec
{
	background-image: url("s2r://panorama/images/map_icons/screenshots/1080p/de_aztec_png.vtex");
	background-position: left -642px top -421px;
}

.bkg-mirage
{
	background-image: url("s2r://panorama/images/map_icons/screenshots/1080p/de_mirage_png.vtex");
	background-position: left -855px top -690px;
}

.bkg-office
{
	background-image: url("s2r://panorama/images/map_icons/screenshots/1080p/cs_office_png.vtex");
	background-position: left -887px top -585px;
}

.dynamic-crosshair
{
	brightness: 1;
}

.RadialRadioSettingsOptionImage
{
	vertical-align: center;
	margin-left:8px;
}

.setting-search-textentry
{
	height: 54px;
	width: 512px;
	vertical-align: bottom;
	horizontal-align: center;
	padding-top: 10px;
	font-size: 20px;
	color: white;
	border-radius: 0px;
	border: 0px solid rgba(255, 255, 255, 1);
	border-bottom: 2px solid rgba(255, 255, 255, 1);
	transition-property: border;
	transition-duration: 0.2s;
}

.setting-search-textentry:focus
{
	border-bottom: 6px solid rgba(255, 255, 255, 1);
	box-shadow: none;
	transition-property: border;
	transition-duration: 0.2s;
}

.setting-search-textentry #PlaceholderText
{
	color: rgb(221, 221, 221);
	font-size: 20px;
	height: 64px;
}

.setting-search-result
{
	horizontal-align: center;
	width: 940px;
	height: 64px;
	margin: 0px 32px;
	border-radius: 3px;
}

.setting-search-result Label
{
	padding-left: 8px;
}

.setting-search-result:hover
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000), color-stop( 0, #00000070 ), to( #00000070 ) );
	box-shadow: none;
	transition-property: background-color;
	transition-duration: 0s;
	transition-timing-function: ease-in-out;
}

.setting-search-recently-added-header
{
	horizontal-align: center;
	width: 940px;
	height: 32px;
	margin: 16px 32px;
	border-radius: 3px;
}

