/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

CSGOSettingsEnum
{
	flow-children: right;
	padding: 4px 4px;
}

CSGOSettingsEnum Label
{
	font-size: 18px;
	color: #7d8688;
	margin: 0px;
	padding-top: 0px;
	padding-left: 5px;
	letter-spacing: 1px;
	font-weight: thin;
	margin-bottom: 6px;
}

CSGOSettingsEnum #title
{
	margin-right: 8px;
}

CSGOSettingsEnum #values
{
	flow-children: down;
}

CSGOSettingsEnum.HorizontalEnum #values
{
	flow-children: right;
}

CSGOSettingsEnum.HorizontalEnum #values RadioButton
{
	margin-right: 5px;
}

CSGOSettingsEnum:disabled Label
{
	color: #333333;
}

