/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

.audiometer
{
	height: 16px;
	width: 210px;
	background-color: #cccccc20;
	margin-right: 100px;
}

.audiolevel
{
	height: 100%;
	background-color: #cccccc80;
}

.audiolevel.audible
{
	background-color: #fff;
}

