/* Prettified by Source 2 Viewer 7.0.0.0 - https://valveresourceformat.github.io */

CSGOSettingsSlider
{
	height: 48px;
	flow-children: right;
	width: 100%;
	vertical-align: middle;
}

#Title
{
	width: fill-parent-flow(1.0);
}

#Slider
{
	width: 25.5%;
	margin-right: 10px;
	vertical-align: center;
}

#SliderTrackProgress:parentdisabled,#SliderThumb:parentdisabled,.setting-disabled #SliderThumb,.setting-disabled #SliderTrackProgress
{
	visibility: collapse;
}

TextEntry#Value
{
	width: 80px;
	text-align: center;
	color: baseText;
	font-family: Stratum2, notosans, 'Arial Unicode MS';
	font-weight: bold;
	font-size: 20px;
	padding: 5px, 0px, 0px;
	padding-left: 10px;
	border-radius: 2px;
	border: 2px solid #cccccc15;
}

#ControllerSettings TextEntry#Value
{
	width: 64px;
}

TextEntry#Value:hover
{
	box-shadow: none;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #000000ff), color-stop( 0, #00000000 ), to( #00000050 ) );
}

TextEntry#Value:focus
{
	box-shadow: none;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000080), color-stop( 0, #00000060 ), to( #00000080 ) );
}

TextEntry#Value:parentdisabled
{
	visibility: collapse;
}

.setting-toggle
{
	visibility: collapse;
	padding-right: 10px;
	vertical-align: center;
}

.setting-toggle:selected .TickBox
{
	position: 0px 0px 0px;
}

.CSGOSettingsSlider__hidevalue #Slider
{
	width: 100%;
}

.CSGOSettingsSlider__hidevalue #Value
{
	visibility: collapse;
}

